@import 'variables';
@import './_help-popover.component.variables.less';

.zem-help-popover {
    display: inline-block;
    margin: 0 3px;
}

.zem-help-popover__trigger {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    background: url('images/question-white.svg') no-repeat center center;
    background-size: 9px;
    background-color: fade(@color--secondary, 50%);
    border-radius: 50%;
    cursor: help;
}

.zem-help-popover__content {
    display: block;
    max-width: @zem-help-popover__content-max-width;
}
