{% extends "header_base.html" %}

{% block head_extra %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
{{ block.super }}
<style>
    .block-center {
        max-width: 500px;
        padding: 19px 29px 29px;
        margin: 20px auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .block-center .block-center-heading {
        margin-bottom: 10px;
    }
    .block-center input {
        color: #555;
        border: 1px solid #ccc;
    }
    .block-center input:focus {
        border: 1px solid #ccc;
        box-shadow: 0 0 8px #ccc;
    }

</style>
{% endblock %}

{% block content %}{% endblock %}
