@import 'variables';

.zem-campaign-launcher-creatives {
    display: block;
    margin: 0;

    .content-upload__ads-container {
        width: 100%;
        margin-top: 0;
        position: relative;

        .buttons-panel {
            margin: 0;

            .download-icon {
                display: none;
            }
        }
    }

    .content-upload__content-ad-picker-container {
        height: 100%;
        width: auto;
    }

    .content-upload__ad-link {
        max-width: 300px;
    }

    .content-upload__ad-action-buttons {
        width: 200px;
    }

    .content-upload__ad-error-container {
        width: 140px;
    }

    .content-upload__content-ad-picker-container--editing {
        min-height: 720px;

        .content-upload__ads-container {
            width: 354px;
        }

        .content-upload__edit-form {
            width: 640px;
        }

        .content-upload__ad-error-container {
            width: 14px;
            padding-left: 0px;
            padding-right: 10px;
        }

        .content-upload__ad-action-buttons {
            display: none;
        }
    }

    .content-upload__edit-form-container {
        left: 0;
        width: auto;

        .content-upload__edit-form-title-container {
            display: none;
        }
    }

    .content-upload__edit-form-container--ad-preview {
        width: auto;
        left: auto;
        right: -100%;
        background: tint(@secondary-color, 96%);
    }

    .content-upload__edit-form-title-container--tabs {
        display: block;
        padding-left: 0;
    }

    .content-upload__edit-form--preview-open {
        .content-upload__edit-form-container--ad-preview {
            right: 0;
            left: 0;
        }
    }
}

.zem-campaign-launcher-creatives__ad-picker-container {
    position: relative;
    overflow: hidden;
    margin: -@default-spacing;
}
