<div class="custom-panel zem-settings-component__container">
    <h2 class="custom-panel__title">Location targeting</h2>
    <div class="custom-panel__description">
        The countries, states and DMA regions where your content ads will be
        shown.
    </div>
    <zem-geo-targeting
        class="zem-settings-component"
        included-locations="$ctrl.state.fields.targetRegions"
        excluded-locations="$ctrl.state.fields.exclusionTargetRegions"
        errors="$ctrl.state.fieldsErrors"
        on-update="$ctrl.updateGeoTargeting($event)"
    ></zem-geo-targeting>
</div>
<div class="custom-panel zem-settings-component__container">
    <h2 class="custom-panel__title">Default device targeting</h2>
    <div class="custom-panel__description">
        The devices on which your content ads will be shown. Used for all newly
        created ad groups.
    </div>
    <zem-device-targeting-settings
        class="zem-settings-component zem-device-targeting-settings"
        target-devices="$ctrl.state.fields.targetDevices"
        target-placements="$ctrl.state.fields.targetPlacements"
        target-os="$ctrl.state.fields.targetOs"
        errors="$ctrl.state.fieldsErrors.targetDevices"
        on-update="$ctrl.updateDeviceTargeting($event)"
    ></zem-device-targeting-settings>
</div>
