.zem-access-permissions {
    display: block;
}

.zem-access-permissions__container {
    position: relative;
}

.zem-access-permissions__header {
    margin: -@default-spacing -@default-spacing @default-spacing -@default-spacing;
    padding: 10px @default-spacing 8px @default-spacing;
    color: @secondary-color;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid @border-color;
}

.zem-access-permissions__description {
    margin-bottom: @default-spacing;
    color: @gray;
}

.add-new-user {
    padding: @default-spacing;
    background-color: tint(@secondary-color, 96%);
    border: 1px solid tint(@secondary-color, 80%);
    margin-top: -(@default-spacing)-1;

    .form {
        max-width: 700px;
    }
}
