.zem-settings {
    display: block;
}

.zem-settings__header {
    position: absolute;
    padding: 0 @default-spacing;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background: @light-gray;
    border-bottom: 1px solid darken(@light-gray,5%);
}

.zem-settings__header-title {
    color: @secondary-color;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.zem-settings__header-title--location {
    font-size: 12px;
    color: @gray;
}

.zem-settings__body {
    padding: @default-spacing+5 @default-spacing 0 @default-spacing;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

.zem-settings__footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    height: 60px;
    padding: 0 @default-spacing;
    display: table;
}

.zem-settings__footer-cell {
    display: table-cell;
    white-space: nowrap;
    padding-top: @default-spacing;
    width: 310px;
}

.zem-settings__footer-cell--right-side {
    white-space: normal;
    padding: 0;
    vertical-align: middle;
    width: auto;

    .message {
        padding: 0 170px 0 0;
        max-height: 60px;
        overflow: hidden;
        vertical-align: middle;
    }
}

.zem-settings-component {
    display: block;
}

.zem-settings-component__container {
    background-color: @white;
    box-shadow: 0px 0px 5px 0px fade(black,10%);
    padding: @default-spacing;
    margin-top: 0;
    margin-bottom: @default-spacing+5;
    position: relative;

    .form__multiselect {
        height: 180px;
    }
}

.zem-settings-component__header {
    margin: -@default-spacing -@default-spacing @default-spacing -@default-spacing;
    padding: 10px @default-spacing 8px @default-spacing;
    color: @secondary-color;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid @border-color;
}

.zem-settings-component__description {
    margin-bottom: @default-spacing;
    color: @gray;
}

.zem-settings__different-than-default {
    float: right;
    color: @gray;
    font-weight: normal;
    line-height: 26px;
    font-size: @default-font-size;
}

///////////////////////////
// Facebook //
///////////////////////////

.zem-settings-component__container--facebook {
    .form__input-text--facebook {
        input {
            padding-right: 150px;
        }
    }

    .input-text__facebook-status {
        position: absolute;
        right: 45px;
        top: 7px;
        font-style: normal;

        &.connected {
            color: @green;
        }

        &.pending {
            color: @orange;
        }

        &.error {
            color: @red;
        }
    }

    .message--warning {
        margin-top: 10px;
    }
}

///////////////////////////
// Campaign goals //
///////////////////////////

.zem-settings-component__container--campaign-goals {
    :not(.message--info).message {
        display: block;
        margin-bottom: 15px;
    }
}

.zem-settings-campaign-goals__primary-goal {
    color: @gray;
    float: right;

    &:before {
        content: "";
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: @secondary-color;
        right: 5px;
        position: relative;
    }
}

.zem-settings-campaign-goals__optimization {
    margin: 10px 0;
}

.zem-settings-campaign-goals__goal {
    border: 1px solid @light-gray;
    border-radius: @border-radius;
    height: 50px;
    position: relative;
    margin-bottom: 10px;
    padding-right: 100px;

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:not(.zem-settings-campaign-goals__goal--primary):hover {
        cursor: pointer;
        color: @secondary-color;

        .zem-settings-campaign-goals__goal-number {
            background-color: tint(@secondary-color,90%);
        }
    }
}

.zem-settings-campaign-goals__goal-number {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: @secondary-color;
    border: 1px solid @light-gray;
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
}

.zem-settings-campaign-goals__goal-description {
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
}

.zem-settings-campaign-goals__edit-button {
    right: 55px;
}

.zem-settings-campaign-goals__delete-button {
    right: 9px;
}

.zem-settings-campaign-goals__goal--primary {
    .zem-settings-campaign-goals__goal-number {
        background-color: @secondary-color;
        border-color: @secondary-color;
        color: white;
    }

    .zem-settings-campaign-goals__goal-description {
        color: @secondary-color;
    }
}

///////////////////////////
// Device targeting //
///////////////////////////

.zem-settings-component__container--device-targeting {
    .form::after {
        content: "";
        display: block;
        clear: both;
    }

    .form__group {
        clear: none;
        width: 33.3%;
        float: left;
        text-align: center;
        margin-top: 0;
    }

    .form__label {
        float: none;
        width: auto;
        height: 100px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
    }

    input.form__input-checkbox {
        float: none;
    }
}

.zem-settings-device-targeting__desktop {
    .form__label {
        background: url('images/device-desktop-gray.svg') no-repeat center center;
        background-size: 100px;
    }

    &.zem-settings-device-targeting__active {
        .form__label {
            background-image: url('images/device-desktop-blue.svg');
        }
    }
}

.zem-settings-device-targeting__tablet {
    .form__label {
        background: url('images/device-tablet-gray.svg') no-repeat center 40px;
        background-size: 40px;
    }

    &.zem-settings-device-targeting__active {
        .form__label {
            background-image: url('images/device-tablet-blue.svg');
        }
    }
}

.zem-settings-device-targeting__mobile {
    .form__label {
        background: url('images/device-mobile-gray.svg') no-repeat center 60px;
        background-size: 20px;
    }

    &.zem-settings-device-targeting__active {
        .form__label {
            background-image: url('images/device-mobile-blue.svg');
        }
    }
}

///////////////////////////
// Locations //
///////////////////////////

.zem-settings-component__container--locations {
    .button {
        .clearfix();
    }
}

.zem-settings-locations__undo {
    margin-bottom: 10px;
}

///////////////////////////
// Ad group general settings //
///////////////////////////

.zem-settings-component__container--ad-group-general-settings {
    .form__input-checkbox {
        margin: 9px 0 0 20px;
    }

    .form__checkbox-text {
        margin-top: 7px;
        font-weight: 400;
    }
}

///////////////////////////
// Targeting //
///////////////////////////

.zem-settings-component__container--targeting {
    .form {
        padding: 0 @default-spacing @default-spacing+5 @default-spacing;
        margin: 0 -@default-spacing @default-spacing -@default-spacing;
        border-bottom: 1px solid @light-gray;
    }

    .form--last {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .form__title .internal-feature {
        left: -@default-spacing;
        top: -@default-spacing;
    }

    .form__text {
        margin-bottom: 0;
    }

    .form__checkbox-text {

    }

    .button--add-icon {
        margin-top: 10px;
    }

    .message--warning {
        margin-bottom: 10px;
    }

    .select2-drop {
        width: 700px;
    }

    .targeting-select-buttons {
        float: right;
        font-size: 13px;
        line-height: 30px;
        margin: -7px -10px;

        a {
            padding: 0 10px;
            box-sizing: border-box;
            display: block;
            float: left;

            &.targeting-select-buttons__include {
                color: @green;
                border-right: 1px solid @line-color;
            }

            &.targeting-select-buttons__exclude {
                color: @red;
            }
        }
    }

    .select2-highlighted {
        background-color: transparent !important;
        color: inherit !important;

        &:hover {
            background-color: @secondary-color !important;
            color: white !important;
        }
    }

    .ui-select-choices-row:hover {
        .targeting-select-buttons__include {
            background-color: @green !important;
            border-right: 1px solid @green;
            color: white;
        }

        .targeting-select-buttons__exclude {
            background-color: @red !important;
            color: white;
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }

        a:hover {
            text-decoration: underline !important;
            color: white !important;
        }
    }

    .select2-results {
        max-height: 400px;
    }
}

.zem-settings-targeting-list {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.zem-settings-targeting-list__list-container {
    width: 100%;
    display: table-cell;
    border: 1px solid @light-gray;
}

.zem-settings-targeting-list__list-container--half {
    width: 48%;
}

.zem-settings-targeting-list__spacing {
    width: 4%;
    display: table-cell;
}

.zem-settings-targeting-list__title {
    font-size: @default-font-size+2;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid @light-gray;
}

.zem-settings-targeting-list__list {
    margin-left: 10px;
    list-style: none;

    li {
        padding: 5px 40px 5px 0;
        position: relative;

        &::before {
            top: 10px;
        }
    }

    .button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

///////////////////////////
// Tracking //
///////////////////////////

.zem-settings-component__container--tracking {
    .form {
        padding: 0 @default-spacing @default-spacing+5 @default-spacing;
        margin: 0 -@default-spacing @default-spacing -@default-spacing;
        border-bottom: 1px solid @light-gray;
    }

    .form--last {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

///////////////////////////
// Automatic mode //
///////////////////////////

.zem-settings-component__container--automatic-mode {
    .message {
        margin-bottom: 10px;
    }
}
