.zem-settings {
    display: block;
}

.zem-settings__header {
    position: absolute;
    padding: 0 @default-spacing;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background: @light-gray;
    border-bottom: 1px solid darken(@light-gray,5%);
}

.zem-settings__header-title {
    color: @secondary-color;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.zem-settings__header-title--location {
    font-size: 12px;
    color: @gray;
}

.zem-settings__body {
    padding: @default-spacing+5 @default-spacing 0 @default-spacing;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

.zem-settings__footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 10px;
    height: 60px;
    padding: 0 @default-spacing;
    display: table;
    background-color: tint(@secondary-color,90%);
    box-shadow: 0px 0px 3px 0px fade(@secondary-color,40%);
}

.zem-settings__footer-cell {
    display: table-cell;
    white-space: nowrap;
    padding-top: @default-spacing;
    width: 310px;
}

.zem-settings__footer-cell--right-side {
    white-space: normal;
    padding: 0;
    vertical-align: middle;
    width: auto;

    .message {
        padding: 0 170px 0 0;
        max-height: 60px;
        overflow: hidden;
        vertical-align: middle;
    }
}

.zem-side-panel__drawer--visible {
    .zem-settings__footer {
        left: 0;
    }
}

.zem-settings-component {
    display: block;
}

.zem-settings-component__container {
    margin-top: 0;
    margin-bottom: @default-spacing+5;

    .multiselect {
        height: 180px;
        margin-top: 0;
    }
}

.zem-settings__different-than-default {
    float: right;
    color: @gray;
    font-weight: normal;
    line-height: 26px;
    font-size: @default-font-size;
}

///////////////////////////
// Facebook //
///////////////////////////

.zem-facebook-page-settings {
    .input-text--facebook {
        input {
            padding-right: 150px;
        }
    }

    .input-text__facebook-status {
        position: absolute;
        right: 45px;
        top: 7px;
        font-style: normal;

        &.connected {
            color: @green;
        }

        &.pending {
            color: @orange;
        }

        &.error {
            color: @red;
        }
    }

    .message--warning {
        margin-top: 10px;
    }
}

///////////////////////////
// Campaign goals //
///////////////////////////

.zem-campaign-goals-settings {
    :not(.message--info).message {
        display: block;
        margin-bottom: 15px;
    }
}

.zem-campaign-goals__primary-goal {
    color: @gray;
    float: right;

    &:before {
        content: "";
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: @secondary-color;
        right: 5px;
        position: relative;
    }
}

.zem-campaign-goals__optimization {
    margin: 10px 0;
}

.zem-campaign-goals__goal {
    border: 1px solid @light-gray;
    border-radius: @border-radius;
    height: 50px;
    position: relative;
    margin-bottom: 10px;
    padding-right: 100px;

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:not(.zem-campaign-goals__goal--primary):hover {
        cursor: pointer;
        color: @secondary-color;

        .zem-campaign-goals__goal-number {
            background-color: tint(@secondary-color,90%);
        }
    }
}

.zem-campaign-goals__goal-number {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: @secondary-color;
    border: 1px solid @light-gray;
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
}

.zem-campaign-goals__goal-description {
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
}

.zem-campaign-goals__edit-button {
    right: 55px;
}

.zem-campaign-goals__delete-button {
    right: 9px;
}

.zem-campaign-goals__goal--primary {
    .zem-campaign-goals__goal-number {
        background-color: @secondary-color;
        border-color: @secondary-color;
        color: white;
    }

    .zem-campaign-goals__goal-description {
        color: @secondary-color;
    }
}

.modal__body .form__group--meet-or-beat-goal {
    .postfixed-field,
    .input-text {
        width: @form-input-width-modal - 45% - 2%;
        margin-right: 2%;
    }

    .postfixed-field {
        .input-text {
            width: 100%;
        }
    }

    .button {
        width: 45%;
    }
}

///////////////////////////
// Device targeting //
///////////////////////////

.zem-device-targeting-settings {
    .form::after {
        content: "";
        display: block;
        clear: both;
    }

    .form__group {
        clear: none;
        width: 33.3%;
        float: left;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .form__label {
        float: none;
        width: auto;
        height: 100px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        transition: all @default-animation;
    }

    .form__checkbox {
        width: 100%;
        float: none;

        label {
            display: inline-block;
        }
    }
}

.zem-device-targeting__desktop {
    .form__label {
        background: url('images/device-desktop-gray.svg') no-repeat center center;
        background-size: 100px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-desktop-sec.svg');
        }
    }
}

.zem-device-targeting__tablet {
    .form__label {
        background: url('images/device-tablet-gray.svg') no-repeat center 40px;
        background-size: 40px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-tablet-sec.svg');
        }
    }
}

.zem-device-targeting__mobile {
    .form__label {
        background: url('images/device-mobile-gray.svg') no-repeat center 60px;
        background-size: 20px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-mobile-sec.svg');
        }
    }
}

///////////////////////////
// Locations //
///////////////////////////

.zem-region-targeting-settings {
    .button {
        .clearfix();
    }
}

.zem-settings-locations__undo {
    margin-bottom: 10px;
}

///////////////////////////
// Ad group general settings //
///////////////////////////

.zem-adgroup-general-settings {
    .form__checkbox {
        float: left;
        width: auto;
        padding-top: 7px;
    }
}

///////////////////////////
// Targeting //
///////////////////////////

.zem-account-targeting-settings {
    .form {
        padding: 0 @default-spacing @default-spacing+5 @default-spacing;
        margin: 0 -@default-spacing @default-spacing -@default-spacing;
        border-bottom: 1px solid @light-gray;
    }

    .form--last {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .form--border-top {
        border-top: 1px solid @light-gray;
        margin-top: @default-spacing+5;
        padding-top: @default-spacing;
    }

    .form__title .internal-feature {
        left: -@default-spacing;
        top: -@default-spacing;
    }

    .form__text {
        margin-bottom: 0;
    }

    .checkbox-text {

    }

    .button.add-icon {
        margin-top: 10px;
    }

    .message--warning {
        margin-bottom: 10px;
    }

    .select2-drop {
        width: 700px;
    }

    .targeting-select-buttons {
        float: right;
        font-size: 13px;
        line-height: 30px;
        margin: -7px -10px;

        a {
            padding: 0 10px;
            box-sizing: border-box;
            display: block;
            float: left;

            &.targeting-select-buttons__include {
                color: @green;
                border-right: 1px solid @line-color;
            }

            &.targeting-select-buttons__exclude {
                color: @red;
            }
        }
    }

    .select2-highlighted {
        background-color: transparent !important;
        color: inherit !important;

        &:hover {
            background-color: @secondary-color !important;
            color: white !important;
        }
    }

    .ui-select-choices-row:hover {
        .targeting-select-buttons__include {
            background-color: @green !important;
            border-right: 1px solid @green;
            color: white;
        }

        .targeting-select-buttons__exclude {
            background-color: @red !important;
            color: white;
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }

        a:hover {
            text-decoration: underline !important;
            color: white !important;
        }
    }

    .select2-results {
        max-height: 400px;
    }
}

///////////////////////////
// Tracking //
///////////////////////////

.zem-adgroup-tracking-settings {
    .form {
        padding: 0 @default-spacing @default-spacing+5 @default-spacing;
        margin: 0 -@default-spacing @default-spacing -@default-spacing;
        border-bottom: 1px solid @light-gray;
    }

    .form--last {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

///////////////////////////
// Autopilot //
///////////////////////////

.zem-adgroup-autopilot-settings {
    .message {
        margin-bottom: 10px;
    }
}

///////////////////////////
// Bakcend hacks //
///////////////////////////

.zem-backend-hacks {
    .custom-table strong {
        color: @text-color;
    }
}

///////////////////////////
// Budget //
///////////////////////////

.zem-campaign-budgets-settings {

}

.zem-campaign-budgets-settings__budget-overview {
    padding: @default-spacing 0;
    margin-bottom: @default-spacing;
    border-top: 1px solid @light-gray;
    border-bottom: 1px solid @light-gray;
    display: table;
    width: 100%;

    .clearfix();
}

.zem-campaign-budgets-settings__budget-overview-box {
    display: table-cell;
    border-right: 1px solid @light-gray;
    text-align: center;
    position: relative;
    vertical-align: middle;

    &:last-child {
        border-right: none;
    }
}

.zem-campaign-budgets-settings__budget-overview-name {
    font-size: @default-font-size;
}

.zem-campaign-budgets-settings__budget-overview-value {
    display: block;
}

.zem-campaign-budgets-settings__budget-overview-box--exposed {
    color: @secondary-color;

    .zem-campaign-budgets-settings__budget-overview-value {
        font-weight: 500;
        font-size: 18px;
    }
}

.zem-campaign-budgets-settings__modal-body {
    .zem-campaign-budgets-settings__select-credit {
        vertical-align: top;

        label {
            display: block;
            margin-top: 2px;
        }
    }
}

.zem-campaign-budgets-settings__collapsable {
    margin: 20px -@default-spacing -@default-spacing -@default-spacing;

    .table {
        tr td {
            border-bottom: 1px solid tint(@secondary-color, 80%);
        }
    }
}
