zem-settings-general-account {
    display: block;
}

zem-settings-media-sources {
    display: block;
}

zem-settings-facebook-page {
    display: block;
}

zem-settings-pixels {
    display: block;
}

zem-settings-access-permissions {
    display: block;
}

zem-account-settings {
    display: block;
}

zem-settings-container {
    display: block;
}
