@import 'variables';
@import '../../styles/utilities.less';

.zem-settings {
    display: block;
}

.zem-settings__header {
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding: 0 @default-spacing;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background: @light-gray;
    border-bottom: 1px solid darken(@light-gray, 5%);
}

.zem-settings__header-title {
    flex: 1 1 auto;
    color: @secondary-color;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-settings__header-title--location {
    font-size: 12px;
    color: @gray;
}

.zem-settings__admin-link {
    flex: 0 0 85px;
    margin: 10px @default-spacing;
}

.zem-settings__body {
    padding: @default-spacing+5 @default-spacing 0 @default-spacing;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

.zem-settings__footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 10px;
    height: 60px;
    padding: 0 @default-spacing;
    display: table;
    background-color: tint(@secondary-color, 90%);
    box-shadow: 0px 0px 3px 0px fade(@secondary-color, 40%);
}

.zem-settings__footer-cell {
    display: table-cell;
    white-space: nowrap;
    padding-top: @default-spacing;
    width: 310px;

    .zem-settings__archive-button-container {
        display: inline-block;
        vertical-align: top;
    }
}

.zem-settings__footer-cell--right-side {
    white-space: normal;
    padding: 0;
    vertical-align: middle;
    width: auto;

    .message {
        padding: 0 170px 0 0;
        max-height: 60px;
        overflow: hidden;
        vertical-align: middle;
    }
}

.zem-side-panel__drawer--visible {
    .zem-settings__footer {
        left: 0;
    }
}

.zem-settings-component {
    display: block;
}

.zem-settings-component__container {
    margin-top: 0;
    margin-bottom: @default-spacing+5;

    .multiselect {
        height: 180px;
        margin-top: 0;
    }
}

.zem-settings__different-than-default {
    float: right;
    color: @gray;
    font-weight: normal;
    line-height: 18px;
    font-size: @default-font-size;
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @mobile-breakpoint) {
    .zem-settings__different-than-default {
        float: none;
        margin-top: 5px;
    }

    .zem-settings__footer-cell {
        .zem-settings__archive-button-container {
            .button {
                font-size: 0;

                &::after {
                    content: 'Archive';
                    font-size: @default-font-size;
                }
            }
        }
    }
}

///////////////////////////
// Facebook //
///////////////////////////

.zem-facebook-page-settings {
    .input-text--facebook {
        input {
            padding-right: 150px;
        }
    }

    .input-text__facebook-status {
        position: absolute;
        right: 45px;
        top: 7px;
        font-style: normal;

        &.connected {
            color: @green;
        }

        &.pending {
            color: @orange;
        }

        &.error {
            color: @red;
        }
    }

    .message--warning {
        margin-top: 10px;
    }
}

///////////////////////////
// Media sources //
///////////////////////////

.zem-media-sources-settings__sources-list {
    width: 49%;
    float: left;
    margin-right: 2%;
}

.zem-media-sources-settings__sources-list-allowed {
    margin-right: 0;
}

///////////////////////////
// Media sources - Responsive //
///////////////////////////

@media only screen and (max-width: 600px) {
    .zem-media-sources-settings__sources-list {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .zem-media-sources-settings__sources-list-avaliable {
        margin-bottom: 20px;

        .button {
            .button__inline-arrow-icon {
                transform: rotate(90deg);
            }
        }
    }

    .zem-media-sources-settings__sources-list-allowed {
        .button {
            .button__inline-arrow-icon--left {
                transform: rotate(270deg);
            }
        }
    }
}

///////////////////////////
// Campaign goals //
///////////////////////////

.zem-campaign-goals-settings {
    :not(.message--info).message {
        display: block;
        margin-bottom: 15px;
    }
}

.zem-campaign-goals__primary-goal {
    color: @gray;
    float: right;

    &:before {
        content: '';
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: @secondary-color;
        right: 5px;
        position: relative;
    }
}

.zem-campaign-goals__optimization {
    margin: 10px 0;
}

.zem-campaign-goals__goal {
    border: 1px solid @light-gray;
    border-radius: @border-radius;
    position: relative;
    margin-bottom: 10px;
    padding-right: 100px;
    display: table;
    width: 100%;
    height: 46px;

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &:not(.zem-campaign-goals__goal--primary):hover {
        cursor: pointer;
        color: @secondary-color;

        .zem-campaign-goals__goal-number {
            background-color: tint(@secondary-color, 90%);
        }
    }
}

.zem-campaign-goals__goal-number {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    text-align: center;
    font-size: 22px;
    color: @secondary-color;
    border-right: 1px solid @light-gray;
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
}

.zem-campaign-goals__goal-description {
    padding: 6px 10px;
    display: table-cell;
    vertical-align: middle;
}

.zem-campaign-goals__edit-button {
    right: 55px;
}

.zem-campaign-goals__delete-button {
    right: 9px;
}

.zem-campaign-goals__goal--primary {
    .zem-campaign-goals__goal-number {
        background-color: @secondary-color;
        border-color: @secondary-color;
        color: white;
    }

    .zem-campaign-goals__goal-description {
        color: @secondary-color;
    }
}

.modal__body .form__group--meet-or-beat-goal {
    .postfixed-field,
    .input-text {
        width: @form-input-width-modal - 45% - 2%;
        margin-right: 2%;
    }

    .postfixed-field {
        .input-text {
            width: 100%;
        }
    }

    .button {
        width: 45%;
    }
}

///////////////////////////
// RESPONSIVE - Campaign goals //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-campaign-goals__primary-goal {
        float: none;
        display: block;
        text-align: right;
        margin-bottom: 10px;
    }

    .modal__body .form__group--meet-or-beat-goal {
        .zem-campaign-goal-edit-form__goal-value {
            width: 30%;
            float: left;
            margin-right: 2%;
        }

        .postfixed-field,
        .input-text {
            width: 100%;
            margin-right: 0;
        }

        .postfixed-field {
            .input-text {
                width: 100%;
            }
        }

        .button {
            width: 68%;
        }
    }
}

@media only screen and (max-width: @mobile-breakpoint) {
    .zem-campaign-goals__goal-number {
        width: 30px;
        font-size: 18px;
    }

    .zem-campaign-goals__goal {
        padding-right: 54px;
        height: 84px;

        .zem-campaign-goals__edit-button {
            right: 9px;
            top: 9px;
            transform: translateY(0);
        }

        .zem-campaign-goals__delete-button {
            right: 9px;
            top: 43px;
            transform: translateY(0);
        }
    }
}

///////////////////////////
// Device targeting //
///////////////////////////

.zem-device-targeting-settings {
    .form::after {
        content: '';
        display: block;
        clear: both;
    }

    .form__group {
        clear: none;
        width: 33.3%;
        float: left;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .form__label {
        float: none;
        width: auto;
        height: 100px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        transition: background-image @default-animation;
    }

    .form__checkbox {
        width: 100%;
        float: none;

        label {
            display: inline-block;
        }
    }
}

.zem-device-targeting__desktop {
    .form__label {
        background: url('images/device-desktop-gray.svg') no-repeat center
            center;
        background-size: 100px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-desktop-sec.svg');
        }
    }
}

.zem-device-targeting__tablet {
    .form__label {
        background: url('images/device-tablet-gray.svg') no-repeat center 40px;
        background-size: 40px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-tablet-sec.svg');
        }
    }
}

.zem-device-targeting__mobile {
    .form__label {
        background: url('images/device-mobile-gray.svg') no-repeat center 60px;
        background-size: 20px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-mobile-sec.svg');
        }
    }
}

.zem-advanced-device-targeting__collapsable {
    margin: 20px -@default-spacing 0 -@default-spacing;

    .form > .form__label {
        height: auto;
        margin-bottom: 5px;
    }
}

.zem-os-device-targeting-settings {
    display: block;
}

.zem-os-device-targeting__container {
    border-radius: @border-radius;
    border: 1px solid @light-gray;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    height: 72px;
    position: relative;

    .form__vertical-group {
        width: 140px;
        margin: 0 10px 0 0;
        display: inline-block;
        vertical-align: top;

        .form__label {
            margin-bottom: 0;
            height: auto;
        }
    }

    @media only screen and (min-width: 1750px) {
        .form__vertical-group {
            width: 180px;
        }
    }

    @media only screen and (min-width: 1850px) {
        .form__vertical-group {
            width: 210px;
        }
    }
}

.zem-os-device-targeting__platform-icon {
    display: block;
    float: left;
    height: 50px;
    width: 70px;
    margin: 0 20px 0 0;
    background: no-repeat center center;
}

.zem-os-device-targeting--desktop {
    .zem-os-device-targeting__platform-icon {
        background-image: url('images/device-desktop-gray.svg');
    }
}

.zem-os-device-targeting--tablet-mobile {
    .zem-os-device-targeting__platform-icon {
        background-image: url('images/device-tablet-gray.svg');
        background-size: 32px;
        background-position: 5px bottom;
        position: relative;

        &::after {
            content: ' ';
            display: block;
            position: absolute;
            right: 0;
            top: 24px;
            height: 26px;
            width: 26px;
            background-size: contain;
            background: url('images/device-mobile-gray.svg') no-repeat center
                center;
        }
    }
}

.zem-os-device-targeting__platform-name {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 50px;
    width: 250px;
    padding-left: 30px;
    position: relative;
    pointer-events: none;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        background: no-repeat center center;
        background-size: contain;
    }
}
.zem-os-device-targeting__remove {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.zem-os-device-targeting__platform-name--WINDOWS::before,
.zem-os-device-targeting__platform-name--WINPHONE::before {
    background-image: url('images/os-windows.svg');
    width: 16px;
    height: 16px;
}

.zem-os-device-targeting__platform-name--IOS::before,
.zem-os-device-targeting__platform-name--MACOSX::before {
    background-image: url('images/os-apple.svg');
    margin-top: -2px;
}

.zem-os-device-targeting__platform-name--LINUX::before {
    background-image: url('images/os-linux.svg');
}

.zem-os-device-targeting__platform-name--ANDROID::before {
    background-image: url('images/os-android.svg');
}

.zem-placement-device-targeting-settings {
    .form__group {
        width: 50%;
    }
}

.zem-placement-device-targeting__option--SITE {
    .form__label {
        background: url('images/placement-website-gray.svg') no-repeat center
            center;
        background-size: 100px;
    }

    &.zem-placement-device-targeting__option--active {
        .form__label {
            background-image: url('@{images-folder}/placement-website-sec.svg');
        }
    }
}

.zem-placement-device-targeting__option--APP {
    .form__label {
        background: url('images/placement-in-app-gray.svg') no-repeat center
            center;
        background-size: 80px;
    }

    &.zem-placement-device-targeting__option--active {
        .form__label {
            background-image: url('@{images-folder}/placement-in-app-sec.svg');
        }
    }
}

.zem-os-device-targeting__container--disabled {
    opacity: 0.4;
    pointer-events: none;
}

///////////////////////////
// RESPONSIVE - Device targeting //
///////////////////////////

@media only screen and (max-width: @desktop-breakpoint) {
    .zem-os-device-targeting__container {
        height: auto;

        .form__vertical-group {
            width: 115px;
        }
    }
}

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-os-device-targeting__container {
        height: auto;

        .form__vertical-group {
            width: 140px;
            float: left;

            &.zem-os-device-targeting__min-os-version {
                clear: both;
                margin-left: 121px;
            }
        }
    }

    .zem-os-device-targeting__no-versions {
        height: 72px;

        .zem-os-device-targeting__platform-name {
            margin-bottom: 0;
            line-height: 50px;
        }
    }

    .zem-os-device-targeting__platform-icon {
        float: none;
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .zem-os-device-targeting--tablet-mobile {
        .zem-os-device-targeting__platform-icon {
            position: absolute;
        }
    }

    .zem-os-device-targeting__platform-name {
        margin-left: 90px;
        line-height: 22px;
        margin-bottom: 5px;
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    .zem-os-device-targeting__container {
        .form__vertical-group {
            width: 100px;
        }
    }
}

@media only screen and (max-width: @mobile-breakpoint) {
    .zem-device-targeting-settings {
        .form::after {
            content: '';
            display: block;
            clear: both;
        }

        .form__group {
            clear: none;
            width: 100%;
            float: none;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 20px;
            }

            .form__label {
                float: left;
                width: 50px;
                height: 50px;
                margin: 0;
                padding: 0;
                display: block;
                cursor: pointer;
                transition: background-image @default-animation;
            }
        }

        .form__checkbox {
            width: auto;
            float: left;
            margin: 15px 0 0 15px;

            label {
                display: inline-block;
            }
        }

        .zem-device-targeting__desktop {
            .form__label {
                background-size: 50px;
            }
        }

        .zem-device-targeting__tablet {
            .form__label {
                background-position: center center;
                background-size: 30px;
            }
        }

        .zem-device-targeting__mobile {
            .form__label {
                background-position: center center;
                background-size: 20px;
            }
        }

        .zem-placement-device-targeting__option--SITE {
            .form__label {
                background-size: 50px;
            }
        }

        .zem-placement-device-targeting__option--APP {
            .form__label {
                background-size: 50px;
            }
        }
    }

    .zem-os-device-targeting__container {
        .form__vertical-group {
            width: 100%;
            float: none;
            margin-top: 10px;

            .form__label {
                font-weight: 300;
            }

            &.zem-os-device-targeting__min-os-version {
                clear: both;
                margin-left: 0;
            }
        }
    }

    .zem-os-device-targeting__no-versions {
        height: auto;

        .zem-os-device-targeting__platform-name {
            margin-bottom: 0;
            line-height: 22px;
        }
    }

    .zem-os-device-targeting__platform-icon {
        float: none;
        position: relative;
        left: auto;
        top: auto;
        width: 50px;
        height: 36px;
        margin: 0 0 10px 0;
        background-position: center left;
    }

    .zem-os-device-targeting--tablet-mobile {
        .zem-os-device-targeting__platform-icon {
            position: relative;
            background-size: 26px;
            background-position: bottom left;

            &::after {
                top: 12px;
                height: 24px;
                width: 24px;
            }
        }
    }

    .zem-os-device-targeting__platform-name {
        width: 100%;
        margin: 5px 0 0 0;
    }

    .zem-os-device-targeting__remove {
        top: 10px;
        transform: translateY(0);
    }
}

///////////////////////////
// Geo targeting //
///////////////////////////

.targeting-not-supported {
    position: absolute;
    right: 35px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.targeting-not-supported__icon {
    width: 10px;
    height: 10px;
    display: block;
    background-size: 10px;
    float: right;
    margin-left: 6px;
    opacity: 0.2;

    &:last-child {
        margin-left: 0;
    }
}

.targeting-not-supported__icon--yahoo {
    background: url('images/not-supported-yahoo.svg') no-repeat center center;
}

.targeting-not-supported__icon--outbrain {
    background: url('images/not-supported-outbrain.svg') no-repeat center center;
}

.targeting-not-supported__icon--facebook {
    background: url('images/not-supported-facebook.svg') no-repeat center center;
    width: 6px;
    background-size: 10px;
}

.ui-select-choices-row {
    position: relative;

    .targeting-not-supported {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }

    .targeting-not-supported__icon {
        width: 10px;
    }

    &:hover {
        .targeting-not-supported .targeting-not-supported__icon--yahoo {
            background: url('images/not-supported-yahoo.svg') no-repeat center
                center;
        }

        .targeting-not-supported .targeting-not-supported__icon--outbrain {
            background: url('images/not-supported-outbrain.svg') no-repeat
                center center;
        }

        .targeting-not-supported .targeting-not-supported__icon--facebook {
            background: url('images/not-supported-facebook.svg') no-repeat
                center center;
        }
    }

    &.active {
        .targeting-not-supported__icon {
            opacity: 0.8;
        }

        .targeting-not-supported .targeting-not-supported__icon--yahoo {
            background: url('images/not-supported-yahoo-white.svg') no-repeat
                center center;
        }

        .targeting-not-supported .targeting-not-supported__icon--outbrain {
            background: url('images/not-supported-outbrain-white.svg') no-repeat
                center center;
        }

        .targeting-not-supported .targeting-not-supported__icon--facebook {
            background: url('images/not-supported-facebook-white.svg') no-repeat
                center center;
        }
    }
}

.two-columns-list__list {
    li.two-columns-list__list--one-icon {
        padding-right: 55px;
    }

    li.two-columns-list__list--two-icons {
        padding-right: 70px;
    }

    li.two-columns-list__list--three-icons {
        padding-right: 85px;
    }
}

.zem-zip-targeting__country {
    .select2-drop {
        min-width: 250px;
    }
}

///////////////////////////
// Ad group general settings //
///////////////////////////

.zem-ad-group-general-settings {
    .form__checkbox {
        float: left;
        width: auto;
        padding-top: 7px;
    }
}

.zem-ad-group-general-settings__bid-settings-form {
    margin-bottom: 5px;
}

.zem-ad-group-general-settings__max-bid-label {
    width: auto !important;
}

.zem-ad-group-general-settings__bid-settings-error {
    display: block;
    margin: 0 !important;
}

.zem-ad-group-general-settings__bid-settings-warning {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.zem-ad-group-dayparting-settings {
    position: relative;
}

///////////////////////////
// Demographic targeting //
///////////////////////////

.zem-demographic-targeting__overview {
    padding: 15px 0;
    margin-bottom: 15px;
    border-top: 1px solid @light-gray;
    border-bottom: 1px solid @light-gray;
    display: table;
    width: 100%;
    height: 85px;
}

.zem-demographic-targeting-overview__box {
    display: table-cell;
    text-align: center;
    position: relative;
    vertical-align: middle;
    color: @secondary-color;

    &:last-child {
        padding-left: @default-spacing;
    }

    .loader,
    .message {
        display: block;
        margin: 0 auto;
    }

    .zem-progress-bar {
        margin-top: 5px;
    }
}

.zem-demographic-targeting-overview__box--price {
    background-color: fade(@secondary-color, 10%);
    width: 180px;
}

.zem-demographic-targeting-overview__box--reach {
    .zem-demographic-targeting-overview__value {
        display: inline;
    }
}

.zem-demographic-targeting-overview__value {
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.zem-demographic-targeting__group {
    margin-top: @default-spacing;
}

.zem-demographic-targeting__group-header {
    margin-bottom: 5px;
    font-weight: 400;

    .alternative-link {
        font-size: @default-font-size;
        font-weight: 400;
    }
}

.zem-demographic-targeting--inactive {
    padding: 20px;
    background: lightgray;
}

.zem-demographic-targeting__actions {
    margin-top: 10px;
}

.zem-demographic-targeting__notification {
    margin-top: 15px;
}

///////////////////////////
// Targeting //
///////////////////////////

.zem-account-targeting-settings {
    .form {
        padding: 0 @default-spacing @default-spacing+5 @default-spacing;
        margin: 0 -@default-spacing @default-spacing -@default-spacing;
        border-bottom: 1px solid @light-gray;
    }

    .form--last {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .form--border-top {
        border-top: 1px solid @light-gray;
        margin-top: @default-spacing+5;
        padding-top: @default-spacing;
    }

    .form__title .internal-feature {
        left: -@default-spacing;
        top: -@default-spacing;
    }

    .form__text {
        margin-bottom: 0;
    }

    .checkbox-text {
    }

    .button.add-icon {
        margin-top: 10px;
    }

    .message--warning {
        margin-bottom: 10px;
    }

    .select2-drop {
        width: 700px;
    }

    .targeting-select-buttons {
        float: right;
        font-size: 13px;
        line-height: 30px;
        margin: -7px -10px;

        a {
            padding: 0 10px;
            box-sizing: border-box;
            display: block;
            float: left;

            &.targeting-select-buttons__include {
                color: @green;
                border-right: 1px solid @line-color;
            }

            &.targeting-select-buttons__exclude {
                color: @red;
            }
        }
    }

    .select2-highlighted {
        background-color: transparent !important;
        color: inherit !important;

        &:hover {
            background-color: @secondary-color !important;
            color: white !important;
        }
    }

    .ui-select-choices-row:hover {
        .targeting-select-buttons__include {
            background-color: @green !important;
            border-right: 1px solid @green;
            color: white;
        }

        .targeting-select-buttons__exclude {
            background-color: @red !important;
            color: white;
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }

        a:hover {
            text-decoration: underline !important;
            color: white !important;
        }
    }

    .select2-results {
        max-height: 400px;
    }
}

.zem-publisher-group-targeting__error {
    display: block;
}

///////////////////////////
// Tracking //
///////////////////////////

.zem-adgroup-tracking-settings {
    .form {
        padding: 0 @default-spacing @default-spacing+5 @default-spacing;
        margin: 0 -@default-spacing @default-spacing -@default-spacing;
        border-bottom: 1px solid @light-gray;
    }

    .form--last {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

///////////////////////////
// Autopilot //
///////////////////////////

.zem-adgroup-autopilot-settings {
    .message {
        margin-bottom: 10px;
    }
}

///////////////////////////
// Budget //
///////////////////////////

.zem-campaign-budgets-settings {
}

.zem-campaign-budgets-settings__budget-overview {
    padding: @default-spacing 0;
    margin-bottom: @default-spacing;
    border-top: 1px solid @light-gray;
    border-bottom: 1px solid @light-gray;
    display: table;
    width: 100%;

    .clearfix();
}

.zem-campaign-budgets-settings__budget-overview-box {
    display: table-cell;
    border-right: 1px solid @light-gray;
    text-align: center;
    position: relative;
    vertical-align: middle;

    &:last-child {
        border-right: none;
    }
}

.zem-campaign-budgets-settings__budget-overview-name {
    font-size: @default-font-size;
}

.zem-campaign-budgets-settings__budget-overview-value {
    display: block;
}

.zem-campaign-budgets-settings__budget-overview-box--exposed {
    color: @secondary-color;

    .zem-campaign-budgets-settings__budget-overview-value {
        font-weight: 500;
        font-size: 18px;
    }
}

.zem-campaign-budgets-settings__modal-body {
    .zem-campaign-budgets-settings__select-credit {
        vertical-align: top;

        label {
            display: block;
            margin-top: 2px;
        }
    }
}

.zem-campaign-budgets-settings__collapsable {
    margin: 20px -@default-spacing -@default-spacing -@default-spacing;

    .table {
        tr td {
            border-bottom: 1px solid tint(@secondary-color, 80%);
        }
    }
}

///////////////////////////
// RESPONSIVE - Budget //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-campaign-budgets-settings__budget-overview {
        display: block;
    }

    .zem-campaign-budgets-settings__budget-overview-box {
        display: block;
        text-align: left;
        border-right: none;
    }

    .zem-campaign-budgets-settings__budget-overview-name::after {
        content: ':';
    }

    .zem-campaign-budgets-settings__budget-overview-value {
        display: inline;
    }

    .zem-campaign-budgets-settings__budget-overview-box--exposed {
        margin-top: 5px;
    }
}
