<zem-side-panel on-close-request="$ctrl.onCloseRequest()" api="$ctrl.sidePanel">
    <zem-account-settings
        api="$ctrl.api"
        ng-if="$ctrl.entity.type === $ctrl.constants.entityType.ACCOUNT"
    ></zem-account-settings>

    <zem-campaign-settings
        api="$ctrl.api"
        ng-if="$ctrl.entity.type === $ctrl.constants.entityType.CAMPAIGN"
    ></zem-campaign-settings>

    <zem-ad-group-settings
        api="$ctrl.api"
        ng-if="$ctrl.entity.type === $ctrl.constants.entityType.AD_GROUP"
    ></zem-ad-group-settings>
</zem-side-panel>
