<div class="zem-inventory-planning-filter__title">Filters</div>

<div class="zem-inventory-planning-filter__no-filter" *ngIf="!isFilterEnabled">
    Choose breakdowns below to filter results ...
</div>

<span class="zem-inventory-planning-filter__category-container" *ngIf="isCountryFilterEnabled">
    <div class="zem-inventory-planning-filter__category-name">Countries:</div>
    <ul class="tag-list zem-inventory-planning-filter__tag-list">
        <li class="tag-list__item zem-inventory-planning-filter__tag-list-item" *ngFor="let option of selected.countries; let last=last">
            {{option.name}}
            <button class="tag-list__remove-item zem-inventory-planning-filter__tag-list-remove-item"
                (click)="removeFilterOption(selected.countries, option.value)">
            </button>
        </li>
    </ul>
</span>

<span class="zem-inventory-planning-filter__category-container" *ngIf="isPublisherFilterEnabled">
    <div class="zem-inventory-planning-filter__category-name">Publishers:</div>
    <ul class="tag-list zem-inventory-planning-filter__option">
        <li class="tag-list__item zem-inventory-planning-filter__tag-list-item" *ngFor="let option of selected.publishers; let last=last">
            {{option.name}}
            <button class="tag-list__remove-item zem-inventory-planning-filter__tag-list-remove-item"
                    (click)="removeFilterOption(selected.publishers, option.value)">
            </button>
        </li>
    </ul>
</span>

<span class="zem-inventory-planning-filter__category-container" *ngIf="isDeviceFilterEnabled">
    <div class="zem-inventory-planning-filter__category-name">Devices:</div>
    <ul class="tag-list zem-inventory-planning-filter__option">
        <li class="tag-list__item zem-inventory-planning-filter__tag-list-item" *ngFor="let option of selected.devices; let last=last">
            {{option.name}}
            <button class="tag-list__remove-item zem-inventory-planning-filter__tag-list-remove-item"
                    (click)="removeFilterOption(selected.devices, option.value)">
            </button>
        </li>
    </ul>
</span>
