@import 'variables';

.zem-inventory-planning-filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    margin-top: @default-spacing*1.5;
    background-color: darken(@light-gray,4%);
    padding: @default-spacing;
}

.zem-inventory-planning-filter__title {
    font-weight: 300;
    color: @gray;
    align-self: center;
}

.zem-inventory-planning-filter__category-container,
.zem-inventory-planning-filter__no-filter {
    margin-left: @default-spacing;
    border-left: 1px solid darken(@light-gray, 10%);
    padding-left: @default-spacing;
}

.zem-inventory-planning-filter__category-name {
    font-weight: 300;
    color: @gray;
}
