<div zemDropdown class="zem-dropdown" #filterDropdown="zemDropdown">
    <button
        zemDropdownToggle
        class="button button--highlight button--with-icon add-icon zem-inventory-planning-filter__add-filter-button"
    >
        Add filter
    </button>
    <div
        class="zem-dropdown__content zem-inventory-planning-filter__dropdown-content"
    >
        <zem-categorized-select
            class="zem-categorized-select zem-inventory-planning-filter__categorized-select"
            *ngIf="filterDropdown.isOpen()"
            [categorizedItems]="categorizedOptions"
            [config]="{enableKeyBindings: true}"
            (onApply)="applyFilterSelection($event)"
        >
        </zem-categorized-select>
    </div>
</div>

<zem-categorized-tags-list
    class="zem-categorized-tags-list"
    emptyText="Start by adding filters to narrow down results ..."
    [categorizedItems]="categorizedSelectedOptions"
    (onRemove)="removeSelected($event)"
>
</zem-categorized-tags-list>
