@import 'variables';

.zem-inventory-planning-filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: darken(@color--lighter-neutral, 4%);
}

.zem-inventory-planning-filter__add-filter-button {
    white-space: nowrap;
}

.zem-inventory-planning-filter__title {
    margin-right: @spacing--default;
    padding-right: @spacing--default;
    border-right: 1px solid darken(@color--lighter-neutral, 10%);
    color: @text-color--lighter;
    font-weight: 300;
}

.zem-inventory-planning-filter__dropdown-content {
    padding: 0;
}

.zem-inventory-planning-filter__categorized-select {
    width: 400px;
    height: 450px;
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-inventory-planning-filter {
        display: block;
    }

    .zem-inventory-planning-filter__categorized-select {
        width: 100%;
        height: 100%;
    }
}
