@import 'variables';

.zem-button {
    position: relative;
    height: @input__height--default;
    line-height: @input__height--default;
    padding: 0 10px;
    background-color: tint(@color--secondary, 90%);
    border: 0;
    box-shadow: none;
    border-radius: @border-radius--default;
    color: @color--secondary;
    font-size: 14px;
    font-weight: 400;
    transition: all @duration-and-timing-fn--default;
    outline: none;

    &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: tint(@color--secondary, 80%);
            box-shadow: 0px 0px 6px 0px fade(@color--secondary, 10%);
            outline: none;
        }
    }
}

.zem-button[disabled] {
    opacity: 0.4;
    cursor: default;
}

.zem-button--outlined {
    background-color: transparent;
    border: 1px solid tint(@color--secondary, 80%);
    line-height: (@input__height--default)-2;
}

.zem-button--highlighted {
    background-color: @color--primary;
    color: white;

    &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: darken(@color--primary, 8%);
            box-shadow: 0px 0px 6px 0px fade(@color--primary, 60%);
            color: white;
        }
    }
}

.zem-button--with-icon {
    padding-left: 32px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-repeat: no-repeat;
    }
}

.zem-button--check-icon:not(.zem-button--loading)::before {
    background-image: url('@{images-folder}/check-sec.svg');
}

.zem-button--highlighted.zem-button--check-icon:not(.zem-button--loading)::before {
    background-image: url('images/check-white.svg');
}

.zem-button--add-icon:not(.zem-button--loading)::before {
    background-image: url('@{images-folder}/add-sec.svg');
}

.zem-button--highlighted.zem-button--add-icon:not(.zem-button--loading)::before {
    background-image: url('images/add-white.svg');
}

.zem-button--loading {
    padding-left: 32px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 6px;
        width: 20px;
        height: 8px;
        background-image: url('@{images-folder}/loader.gif');
        background-size: 20px 8px;
        background-repeat: no-repeat;
    }
}

.zem-button--highlighted.zem-button--loading::before {
    background-image: url('images/loader-white.gif');
}
