@import 'variables';

.zem-button-legacy {
    position: relative;
    height: @input__height--default;
    line-height: @input__height--default;
    padding: 0 10px;
    background-color: tint(@color--secondary, 90%);
    border: 0;
    box-shadow: none;
    border-radius: @border-radius--default;
    color: @color--secondary;
    font-size: 14px;
    font-weight: 400;
    outline: none;

    &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: tint(@color--secondary, 80%);
            box-shadow: 0px 0px 6px 0px fade(@color--secondary, 10%);
            outline: none;
        }
    }
}

.zem-button-legacy[disabled] {
    opacity: 0.4;
    cursor: default;
}

.zem-button-legacy--outlined {
    background-color: transparent;
    border: 1px solid tint(@color--secondary, 80%);
    line-height: (@input__height--default)-2;
}

.zem-button-legacy--highlighted {
    background-color: @color--primary;
    color: white;

    &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: darken(@color--primary, 8%);
            box-shadow: 0px 0px 6px 0px fade(@color--primary, 60%);
            color: white;
        }
    }
}

.zem-button-legacy--danger {
    &:not([disabled]) {
        &:hover,
        &:focus,
        &:active {
            background-color: @color--danger;
            box-shadow: 0px 0px 6px 0px fade(@color--danger, 40%);
            color: white;
        }
    }
}

.zem-button-legacy--small {
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 12px;
}

.zem-button-legacy--with-icon::before,
.zem-button-legacy--icon-only::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
}

.zem-button-legacy--small.zem-button-legacy--with-icon::before,
.zem-button-legacy--small.zem-button-legacy--icon-only::before {
    left: 8px;
    width: 12px;
    height: 12px;
    background-size: 12px;
}

.zem-button-legacy--full-width {
    width: 100%;
}

.zem-button-legacy--with-icon {
    padding-left: 34px; // 10px icon left (button left padding) + 16px icon width + 8px spacing before text
}

.zem-button-legacy--small.zem-button-legacy--with-icon {
    padding-left: 26px; // 8px icon left (button left padding) + 12px icon width + 6px spacing before text
}

.zem-button-legacy--icon-only {
    padding-left: 26px; // 10px icon left (button left padding) + 16px icon width
}

.zem-button-legacy--small.zem-button-legacy--icon-only {
    padding-left: 20px; // 8px icon left (button left padding) + 12px icon width
}

.zem-button-legacy--download-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/download-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--download-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/download-white.svg');
}

.zem-button-legacy--connections-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/connections-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--connections-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/connections-white.svg');
}

.zem-button-legacy--edit-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/edit-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--edit-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/edit-white.svg');
}

.zem-button-legacy--expand-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/arrow-wide-sec.svg');
    transition: all @duration-and-timing-fn--default;
}

.zem-button-legacy--highlighted.zem-button-legacy--expand-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/arrow-wide-white.svg');
    transition: all @duration-and-timing-fn--default;
}

.zem-button-legacy--expand-icon.zem-button-legacy--with-icon::before,
.zem-button-legacy--expand-icon.zem-button-legacy--icon-only::before {
    height: 9px;
}

.zem-button-legacy--expand-icon.zem-button-legacy--small.zem-button-legacy--with-icon::before,
.zem-button-legacy--expand-icon.zem-button-legacy--small.zem-button-legacy--icon-only::before {
    height: 8px;
}

.zem-button-legacy--collapse-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/arrow-wide-sec.svg');
    transform: translateY(-50%) rotate(-180deg);
    transition: all @duration-and-timing-fn--default;
}

.zem-button-legacy--highlighted.zem-button-legacy--collapse-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/arrow-wide-white.svg');
    transform: translateY(-50%) rotate(-180deg);
    transition: all @duration-and-timing-fn--default;
}

.zem-button-legacy--collapse-icon.zem-button-legacy--with-icon::before,
.zem-button-legacy--collapse-icon.zem-button-legacy--icon-only::before {
    height: 9px;
}

.zem-button-legacy--collapse-icon.zem-button-legacy--small.zem-button-legacy--with-icon::before,
.zem-button-legacy--collapse-icon.zem-button-legacy--small.zem-button-legacy--icon-only::before {
    height: 8px;
}

.zem-button-legacy--copy-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/copy-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--copy-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/copy-white.svg');
}

.zem-button-legacy--magnifier-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/magnifier-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--magnifier-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/magnifier-white.svg');
}

.zem-button-legacy--check-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/check-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--check-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/check-white.svg');
}

.zem-button-legacy--add-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/add-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--add-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/add-white.svg');
}

.zem-button-legacy--send-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/send-sec.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--send-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/send-white.svg');
}

.zem-button-legacy--remove-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('@{images-folder}/remove-sec.svg');
}

.zem-button-legacy--remove-red-icon:not(.zem-button-legacy--loading)::before {
    background-image: url('images/remove-red.svg');
}

.zem-button-legacy--dropdown-toggle-icon {
    padding-right: 30px;
}

.zem-button-legacy--dropdown-toggle-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 10px;
    width: 6px;
    height: 10px;
    background-image: url('@{images-folder}/arrow-sec.svg');
    background-repeat: no-repeat;
}

.zem-button-legacy--dropdown-toggle-icon.zem-button-legacy--highlighted::after {
    background-image: url('images/arrow-white.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--remove-icon:not(.zem-button-legacy--loading)::before,
.zem-button-legacy--danger.zem-button-legacy--remove-icon:not(.zem-button-legacy--loading):hover:not([disabled])::before {
    background-image: url('images/remove-white.svg');
}

.zem-button-legacy--highlighted.zem-button-legacy--remove-red-icon:not(.zem-button-legacy--loading)::before,
.zem-button-legacy--danger.zem-button-legacy--remove-red-icon:not(.zem-button-legacy--loading):hover:not([disabled])::before {
    background-image: url('images/remove-white.svg');
}

.zem-button-legacy--loading {
    padding-left: 32px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 6px;
        width: 20px;
        height: 8px;
        background-image: url('@{images-folder}/loader.gif');
        background-size: 20px 8px;
        background-repeat: no-repeat;
    }
}

.zem-button-legacy--highlighted.zem-button-legacy--loading::before {
    background-image: url('images/loader-white.gif');
}

.zem-button-legacy-as-text {
    color: @color--primary;
    background: transparent;
    text-align: left;
    border: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
        text-decoration: underline;
    }
}
