<div class="zem-rule-runs-on-cell">
    <ng-container *ngFor="let entity of entities; let isLast = last">
        <a
            class="zem-rule-runs-on-cell__link"
            [href]="entity.link"
            title="{{ entity.type }} ({{ entity.name }})"
            target="_blank"
            >{{ entity.type }} ({{ entity.name }})</a
        >
        <ng-container *ngIf="!isLast">, </ng-container>
    </ng-container>
    <span class="zem-rule-runs-on-cell__text" *ngIf="!entities.length"
        >N/A</span
    >
</div>
