<div
    class="zem-select-list__header zem-select-list__item"
    *ngIf="headerTemplate"
>
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
</div>
<div class="zem-select-list__content zem-select-list__item">
    <ng-container *ngIf="selectedItems.length === 0">
        <ng-container
            *ngTemplateOutlet="
                emptyItemsTemplate
                    ? emptyItemsTemplate
                    : defaultEmptyItemsTemplate
            "
        ></ng-container>
    </ng-container>
    <div
        class="zem-select-list__content-item"
        *ngFor="let item of selectedItems; trackBy: trackByIndex"
    >
        <ng-container
            *ngTemplateOutlet="itemTemplate; context: {item: item}"
        ></ng-container>
    </div>
</div>
<zem-select-input
    class="zem-select-input zem-select-list__item"
    [items]="availableItemsFiltered"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [placeholder]="placeholder"
    [isSearchable]="true"
    [closeOnSelect]="true"
    [clearSearchOnSelect]="true"
    [isLoading]="isLoading"
    [searchFn]="searchFn"
    [dropdownPosition]="'top'"
    [debounceTime]="1000"
    (valueChange)="onItemSelect($event)"
    (search)="onSearch($event)"
    (open)="open.emit()"
>
    <ng-template #optionTemplate let-item="item" let-search="search">
        <ng-container
            *ngTemplateOutlet="
                selectItemTemplate
                    ? selectItemTemplate
                    : defaultSelectItemTemplate;
                context: {item: item, search: search}
            "
        ></ng-container>
    </ng-template>
</zem-select-input>

<ng-template #defaultEmptyItemsTemplate>
    <div class="zem-select-list__empty-items">
        List is currently empty. To add items click in the field below.
    </div>
</ng-template>
<ng-template #defaultSelectItemTemplate let-item="item" let-search="search">
    <span [zemTextHighlight]="search">{{ item[bindLabel] }}</span>
</ng-template>
