@import 'variables';

.zem-select-list {
    display: block;
}

.zem-select-list__item {
    display: block;
    margin-top: -1px;
}

.zem-select-list__item:first-child {
    margin-top: 0px;
}

.zem-select-list__header,
.zem-select-list__content {
    display: flex;
    flex-direction: column;
    border: 1px solid @border-color--default;
    padding: 10px;
}

.zem-select-list__content-item {
    margin-bottom: 5px;
}

.zem-select-list__content-item:last-child {
    margin-bottom: 0px;
}

.zem-select-list__empty-items {
    color: @text-color--lighter;
}

.zem-select-list__select-input .ng-select-container {
    border-radius: 0 !important;
}
