<div
    class="zem-select-list__header zem-select-list__item"
    *ngIf="headerTemplate"
>
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
</div>
<div class="zem-select-list__content zem-select-list__item">
    <ng-container *ngIf="selectedItems.length === 0">
        <ng-container
            *ngTemplateOutlet="
                emptyItemsTemplate
                    ? emptyItemsTemplate
                    : defaultEmptyItemsTemplate
            "
        ></ng-container>
    </ng-container>
    <ng-container *ngIf="!groupByValue">
        <div
            class="zem-select-list__content-item"
            *ngFor="let item of selectedItemsLimited; index as itemIndex"
        >
            <ng-container
                *ngTemplateOutlet="
                    itemTemplate;
                    context: {
                        item: item,
                        index: itemIndex
                    }
                "
            ></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </ng-container>
    <ng-container *ngIf="groupByValue">
        <div
            class="zem-select-list__group-item"
            *ngFor="
                let itemGroup of selectedItemsGroupedLimited;
                index as groupIndex;
                trackBy: trackByIndex
            "
        >
            <span class="zem-select-list__group-item-title">
                <ng-container
                    *ngTemplateOutlet="
                        itemGroupTitleTemplate
                            ? itemGroupTitleTemplate
                            : defaultGroupTitleTemplate;
                        context: {group: itemGroup.groupName}
                    "
                ></ng-container>
            </span>
            <div
                class="zem-select-list__group-content-item"
                *ngFor="let item of itemGroup.limitedItems; index as itemIndex"
            >
                <ng-container
                    *ngTemplateOutlet="
                        itemTemplate;
                        context: {
                            item: item,
                            index: itemIndex
                        }
                    "
                ></ng-container>
            </div>
            <ng-container
                *ngTemplateOutlet="
                    itemGroupFooterTemplate;
                    context: {
                        group: itemGroup.groupName,
                        items: itemGroup.items
                    }
                "
            ></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </ng-container>
</div>
<zem-select-input
    class="zem-select-input zem-select-list__select-input zem-select-list__item"
    [items]="availableItemsFiltered"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [placeholder]="placeholder"
    [isSearchable]="true"
    [closeOnSelect]="true"
    [clearSearchOnSelect]="true"
    [isLoading]="isLoading"
    [isDisabled]="isDisabled"
    [searchFn]="searchFn"
    [dropdownPosition]="'top'"
    [debounceTime]="1000"
    [groupByValue]="groupByValue"
    [appendTo]="appendTo"
    (valueChange)="onItemSelect($event)"
    (search)="onSearch($event)"
    (open)="open.emit()"
>
    <ng-template #optionTemplate let-item="item" let-search="search">
        <ng-container
            *ngTemplateOutlet="
                selectItemTemplate
                    ? selectItemTemplate
                    : defaultSelectItemTemplate;
                context: {item: item, search: search}
            "
        ></ng-container>
    </ng-template>
    <ng-template #optionGroupTemplate let-item="item">
        <ng-container
            *ngTemplateOutlet="
                selectGroupTitleTemplate
                    ? selectGroupTitleTemplate
                    : defaultGroupTitleTemplate;
                context: {group: item[groupByValue]}
            "
        ></ng-container>
    </ng-template>
</zem-select-input>

<ng-template #defaultEmptyItemsTemplate>
    <div class="zem-select-list__empty-items">
        List is currently empty. To add items click in the field below.
    </div>
</ng-template>
<ng-template #defaultSelectItemTemplate let-item="item" let-search="search">
    <span [zemTextHighlight]="search">{{ item[bindLabel] }}</span>
</ng-template>
<ng-template #defaultGroupTitleTemplate let-group="group">
    {{ group }}
</ng-template>
