<h1 class="zem-main-container__view-title">Credits</h1>
<ng-container *ngIf="store.state$ | async as state">
    <div class="zem-panel zem-panel--with-padding zem-credits-view__panel">
        <div class="zem-credits-view__panel-title">
            Overview
        </div>
        <div class="zem-credits-view__panel-description">
            Credit is the basis of allocating any budget to any campaign. Valid
            credit items are used by campaign budget items in the order they are
            listed.
        </div>
        <zem-credits-totals
            [creditTotals]="state.totals"
            [isLoading]="state.requests.totals.inProgress"
        ></zem-credits-totals>
    </div>
    <div class="zem-panel zem-panel--with-padding zem-credits-view__panel">
        <div class="zem-credits-view__panel-title">
            Active Credit Items
        </div>
        <div class="zem-credits-view__actions">
            <zem-checkbox-input
                class="zem-checkbox-input zem-credits-view__action"
                [isChecked]="state.excludeCanceled"
                (toggle)="onExcludeCanceledChange($event)"
            >
                Hide canceled credits
            </zem-checkbox-input>
            <div class="zem-credits-view__buttons zem-credits-view__action">
                <button
                    class="zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--highlighted zem-button-legacy--add-icon zem-credits-view__button"
                    (click)="addCreditItem()"
                    [disabled]="isReadOnly"
                >
                    Add Credit Item
                </button>
            </div>
        </div>
        <zem-credits-grid
            [credits]="state.activeCredits"
            [context]="context"
            [isLoading]="state.requests.listActive.inProgress"
            [showLicenseFee]="showLicenseFee"
            [showServiceFee]="showServiceFee"
            [creditGridType]="creditGridType.ACTIVE"
            [paginationOptions]="activePaginationOptions"
            [paginationCount]="state.requests.listActive.count"
            (paginationChange)="onCreditPaginationChange($event)"
        >
        </zem-credits-grid>
    </div>
    <div class="zem-panel zem-panel--with-padding zem-credits-view__panel">
        <div class="zem-credits-view__panel-title">
            Past Credit Items
        </div>
        <zem-credits-grid
            [credits]="state.pastCredits"
            [context]="context"
            [isLoading]="state.requests.listPast.inProgress"
            [showLicenseFee]="showLicenseFee"
            [showServiceFee]="showServiceFee"
            [creditGridType]="creditGridType.PAST"
            [paginationOptions]="pastPaginationOptions"
            [paginationCount]="state.requests.listPast.count"
            (paginationChange)="onCreditPaginationChange($event)"
        >
        </zem-credits-grid>
    </div>

    <zem-modal
        #creditItemModal
        class="zem-modal zem-credits-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="creditItemModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{ creditItemModalTitle }}
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-credit-edit-form
                    class="zem-credit-edit-form"
                    [credit]="state.creditActiveEntity.entity"
                    [isReadOnly]="state.creditActiveEntity.isReadOnly"
                    [isSigned]="state.creditActiveEntity.isSigned"
                    [showLicenseFee]="state.creditActiveEntity.showLicenseFee"
                    [showServiceFee]="state.creditActiveEntity.showServiceFee"
                    [creditErrors]="state.creditActiveEntity.fieldsErrors"
                    (creditChange)="store.changeCreditActiveEntity($event)"
                >
                    <div class="zem-credits-view__splitter"></div>
                    <zem-scope-selector
                        class="zem-credit-edit-form__item zem-scope-selector"
                        [scopeState]="state.creditActiveEntity.scopeState"
                        [agencyErrors]="
                            state.creditActiveEntity.fieldsErrors?.agencyId
                        "
                        [accountErrors]="
                            state.creditActiveEntity.fieldsErrors?.accountId
                        "
                        [isAgencyScopeDisabled]="
                            !state.hasAgencyScope ||
                            state.creditActiveEntity.isReadOnly ||
                            state.creditActiveEntity.isSigned
                        "
                        [isAccountScopeDisabled]="
                            state.creditActiveEntity.isReadOnly ||
                            state.creditActiveEntity.isSigned
                        "
                        (scopeStateChange)="
                            store.setCreditActiveEntityScope($event)
                        "
                    >
                        <ng-template #agencyScopeHeaderTemplate>
                            <strong>Agency</strong><br />
                            <span
                                class="zem-radio-input__deemphasized-label-text"
                                >You will be able to use credit on the entire
                                agency and all accounts, campaigns and ad
                                groups.</span
                            >
                        </ng-template>
                        <ng-template #accountScopeHeaderTemplate>
                            <strong>Account</strong><br />
                            <span
                                class="zem-radio-input__deemphasized-label-text"
                                >You will be able to use credit on the selected
                                account and all campaigns and ad groups
                                belonging to the selected account.</span
                            >
                        </ng-template>
                        <ng-template #accountScopeContentTemplate>
                            <zem-select-input
                                class="zem-select-input"
                                [items]="state.accounts"
                                [placeholder]="'Select account'"
                                [value]="
                                    state.creditActiveEntity.entity.accountId
                                "
                                [bindLabel]="'name'"
                                [bindValue]="'id'"
                                [isClearable]="false"
                                [isSearchable]="true"
                                [isDisabled]="
                                    state.creditActiveEntity.isReadOnly ||
                                    state.creditActiveEntity.isSigned
                                "
                                [appendTo]="'body'"
                                (valueChange)="
                                    store.setCreditActiveEntityAccount($event)
                                "
                            >
                            </zem-select-input>
                        </ng-template>
                    </zem-scope-selector>
                    <div class="zem-credits-view__splitter"></div>
                </zem-credit-edit-form>
                <ng-container *ngIf="state.creditActiveEntity.entity.id">
                    <div class="zem-credits-view__splitter"></div>
                    <div class="zem-credits-view__modal-body-title">
                        Allocated budget items
                    </div>
                    <zem-campaign-budgets-grid
                        class="zem-campaign-budgets-grid"
                        [campaignBudgets]="
                            state.creditActiveEntity.campaignBudgets
                        "
                        [currency]="state.creditActiveEntity.entity.currency"
                        [context]="context"
                        [isLoading]="state.requests.listBudgets.inProgress"
                    >
                    </zem-campaign-budgets-grid>
                </ng-container>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <zem-button
                    class="zem-button"
                    [isHighlighted]="true"
                    [isLoading]="
                        state.requests.create.inProgress ||
                        state.requests.edit.inProgress
                    "
                    [icon]="'check'"
                    [isDisabled]="
                        state.requests.create.inProgress ||
                        state.requests.edit.inProgress ||
                        state.creditActiveEntity.isReadOnly
                    "
                    (click)="saveCreditItem()"
                >
                    Save
                </zem-button>
                <zem-button
                    class="zem-button"
                    [isOutlined]="true"
                    [isDisabled]="
                        state.requests.create.inProgress ||
                        state.requests.edit.inProgress
                    "
                    (click)="creditItemModal.close()"
                >
                    Cancel
                </zem-button>
            </div>
        </ng-container>
    </zem-modal>

    <zem-modal
        #creditRefundCreateModal
        class="zem-modal zem-credits-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="creditRefundCreateModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{ creditRefundCreateModalTitle }}
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-refund-form
                    class="zem-refund-form"
                    [refund]="state.creditRefundActiveEntity.entity"
                    [credit]="state.creditActiveEntity.entity"
                    [creditScopeState]="state.creditActiveEntity.scopeState"
                    [accounts]="state.accounts"
                    [showLicenseFee]="state.creditActiveEntity.showLicenseFee"
                    [refundErrors]="state.creditRefundActiveEntity.fieldsErrors"
                    (refundChange)="
                        store.changeCreditRefundActiveEntity($event)
                    "
                >
                </zem-refund-form>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <zem-button
                    class="zem-button"
                    [isHighlighted]="true"
                    [isLoading]="state.requests.createRefund.inProgress"
                    [icon]="'check'"
                    [isDisabled]="state.requests.createRefund.inProgress"
                    (click)="saveCreditRefund()"
                >
                    Save
                </zem-button>
                <zem-button
                    class="zem-button"
                    [isOutlined]="true"
                    [isDisabled]="state.requests.createRefund.inProgress"
                    (click)="creditRefundCreateModal.close()"
                >
                    Cancel
                </zem-button>
            </div>
        </ng-container>
    </zem-modal>

    <zem-modal
        #creditRefundListModal
        class="zem-modal zem-credits-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="creditRefundListModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{ creditRefundListModalTitle }}
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-refunds-grid
                    class="zem-refunds-grid"
                    [refunds]="state.creditRefunds"
                    [credit]="state.creditActiveEntity.entity"
                    [context]="context"
                    [isLoading]="state.requests.listRefunds.inProgress"
                    [paginationOptions]="refundPaginationOptions"
                    [paginationCount]="state.requests.listRefunds.count"
                    (paginationChange)="onRefundPaginationChange($event)"
                ></zem-refunds-grid>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <button
                    class="zem-button-legacy zem-button-legacy--outlined"
                    (click)="creditRefundListModal.close()"
                >
                    Close
                </button>
            </div>
        </ng-container>
    </zem-modal>
</ng-container>
