@import 'variables';

.zem-credits-view {
    display: block;
}

.zem-credits-view__panel {
    margin-top: 22.5px;
}

.zem-credits-view__panel-title {
    font-size: 18px;
    font-weight: 500;
    color: @color--secondary;
    padding-bottom: @spacing--default;
    border-bottom: 1px solid @color--lighter-neutral;
}

.zem-credits-view__panel-description {
    color: @text-color--lighter;
    margin: @spacing--default 0 @spacing--default 0;
}

.zem-credits-view__panel-actions {
    display: flex;
    flex-direction: row-reverse;
    margin: @spacing--default 0 @spacing--small 0;
}

.zem-credits-view__modal .zem-buttons-panel {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .zem-credits-totals__overview {
        display: flex;
    }

    .zem-credits-totals__overview-item {
        flex: 1 1 auto;
        flex-basis: 25%;
        text-align: center;
        border-right: 1px solid @color--lighter-neutral;
    }

    .zem-credits-totals__overview-item:last-child {
        border-right: 0px;
    }

    .zem-credits-totals__overview-item-value {
        display: block;
    }

    .zem-credits-totals__overview-item--highlighted {
        margin-top: 0px;
    }
}
