<zem-campaign-goal
    class="zem-campaign-goal zem-campaign-goals__item"
    [ngClass]="{'zem-campaign-goal--error': hasError(index)}"
    *ngFor="
        let campaignGoal of campaignGoals;
        index as index;
        trackBy: trackByIndex
    "
    [index]="index"
    [campaignGoal]="campaignGoal"
    [currency]="currency"
    [isDisabled]="isDisabled"
    (campaignGoalPrimaryChange)="onCampaignGoalPrimaryChange(campaignGoal)"
    (campaignGoalDelete)="onCampaignGoalDelete(campaignGoal)"
    (campaignGoalEditFormClose)="campaignGoalEditFormClose.emit()"
>
    <zem-campaign-goal-edit-form
        class="zem-campaign-goal-edit-form"
        [campaignGoal]="campaignGoal"
        [currency]="currency"
        [availableCampaignGoals]="availableCampaignGoals"
        [conversionPixels]="conversionPixels"
        [availableConversionPixels]="availableConversionPixels"
        [campaignGoalErrors]="campaignGoalsErrors[index]"
        [conversionPixelErrors]="conversionPixelsErrors[index]"
        [conversionPixelIsLoading]="
            conversionPixelsRequests[index]?.create?.inProgress
        "
        [isDisabled]="isDisabled"
        (campaignGoalChange)="onCampaignGoalChange($event)"
        (conversionPixelCreate)="onConversionPixelCreate($event, index)"
        (conversionPixelCancel)="onConversionPixelCancel(index)"
    ></zem-campaign-goal-edit-form>
</zem-campaign-goal>
<div
    *ngIf="getKPIOptimizationLabel()"
    class="zem-message zem-message--bubble zem-message--info zem-message--with-icon zem-campaign-goals__item"
>
    {{ getKPIOptimizationLabel() }}
</div>
<div class="zem-campaign-goals__footer zem-campaign-goals__item">
    <button
        type="button"
        class="zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--add-icon zem-campaign-goals__button"
        (click)="createGoal()"
        [disabled]="isDisabled"
    >
        Add new goal
    </button>
    <div
        class="zem-campaign-goals__primary-goal-legend"
        [hidden]="campaignGoals.length === 0 || isDisabled"
    >
        Click on a goal to set it as primary
        <zem-help-popover
            *ngIf="agencyUsesRealtimeAutopilot"
            content="Autopilot evaluates performance across multiple parameters in real-time and optimizes toward your primary goal."
            placement="left"
        ></zem-help-popover>
        <zem-help-popover
            *ngIf="!agencyUsesRealtimeAutopilot"
            content="Primary goal will be used for auto-optimizing your campaign."
            placement="left"
        ></zem-help-popover>
    </div>
</div>
