@import '../default/variables.less';

@images-folder: 'images/whitelabel/adyoulike';
@logo__background: url('@{images-folder}/adyoulike-logo.svg') no-repeat center
    center;
@color--primary: #000000;
@color--secondary: #000000;
@color--danger: #ed4646;
@color--warning: #fecb63;

@text-color--default: rgb(0, 0, 0);

@header__background-color--left: @color--secondary;
@header__background-color--right: @color--secondary;
