<div
    class="form__group"
    ng-if="$ctrl.hasPermission('zemauth.can_modify_facebook_page')"
    ng-class="{'form--error': !!$ctrl.errors.facebookPage}"
>
    <label
        class="form__label"
        for="fb-page-input"
        is-internal="zemauth.can_modify_facebook_page"
        >Facebook page URL:</label
    >
    <div
        class="prefixed-field prefixed-field--with-icon facebook-icon"
        ng-if="$ctrl.entity.settings.facebookStatus && $ctrl.entity.settings.facebookStatus == $ctrl.constants.facebookStatus.EMPTY"
    >
        <input
            class="input-text"
            id="fb-page-input"
            type="text"
            ng-model="$ctrl.entity.settings.facebookPage"
        />
    </div>
    <div
        class="prefixed-field prefixed-field--with-icon facebook-icon postfixed-field"
        ng-if="$ctrl.entity.settings.facebookStatus && $ctrl.entity.settings.facebookStatus != $ctrl.constants.facebookStatus.EMPTY"
    >
        <input
            class="input-text"
            id="fb-page-input"
            type="text"
            value="{{ $ctrl.entity.settings.facebookPage }}"
            disabled
        />
        <span
            class="postfixed-field__postfix"
            ng-class="$ctrl.entity.settings.facebookStatus | lowercase"
        >
            {{ $ctrl.entity.settings.facebookStatus }}
            <button
                class="button button--small button--with-icon button--only-icon remove-icon"
                ng-click="$ctrl.clearFacebookPage()"
            ></button>
        </span>
    </div>
    <div
        class="message message--warning message--with-icon"
        ng-if="$ctrl.entity.settings.facebookStatus == $ctrl.constants.facebookStatus.PENDING"
    >
        Please contact your Facebook page manager to approve access.
    </div>
    <div
        class="message message--error"
        ng-repeat="error in $ctrl.errors.facebookPage"
        for="fb-page-input"
    >
        {{ error }}
    </div>
</div>
