<zem-content-ad-tracker
    class="zem-content-ad-tracker zem-content-ad-trackers__item"
    [class.zem-content-ad-tracker--error]="hasErrors[index]"
    *ngFor="let tracker of trackers; index as index; trackBy: trackByIndex"
    [index]="index"
    [contentAdTracker]="tracker"
    [contentAdTrackerErrors]="
        contentAdTrackersErrors ? contentAdTrackersErrors[index] : undefined
    "
    [isDisabled]="isDisabled"
    (contentAdTrackerRemove)="onContentAdTrackerRemove(index)"
>
    <zem-content-ad-tracker-form
        class="zem-content-ad-tracker-form"
        [contentAdTracker]="tracker"
        [contentAdTrackerErrors]="
            contentAdTrackersErrors ? contentAdTrackersErrors[index] : undefined
        "
        [isDisabled]="isDisabled"
        (contentAdTrackerChange)="onContentAdTrackerChange($event, index)"
    ></zem-content-ad-tracker-form>
</zem-content-ad-tracker>

<button
    *ngIf="trackers.length < maxTrackersLimit"
    class="zem-button-legacy zem-button-legacy--highlighted zem-button-legacy--with-icon zem-button-legacy--add-icon"
    [disabled]="isLoading"
    (click)="addTracker()"
>
    Add new tracker
</button>
<div
    *ngIf="trackers.length >= maxTrackersLimit"
    class="zem-upload-edit-form__tracker-list-limit"
>
    You have reached the maximum number of tracking tags.
</div>
