<form class="form-horizontal">
    <h2>General settings</h2>
    <div ng-if="$ctrl.hasPermission('zemauth.can_modify_account_name')" class="form-group" ng-class="{'has-error': !!errors.name}">
        <label for="name-input" class="col-xs-2 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_modify_account_name')" popover-placement="bottom"></zem-internal-feature>
            Name
            <zem-help-popover content="Name of the account." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-3">
            <input id="name-input" type="text" class="form-control" ng-model="$ctrl.account.settings.name">
        </div>

        <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
    </div>

    <div ng-if="$ctrl.hasPermission('zemauth.can_modify_account_manager')" class="form-group" ng-class="{'has-error': !!errors.defaultAccountManager}">
        <label for="account-manager-select" class="col-xs-2 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_modify_account_manager')" popover-placement="bottom"></zem-internal-feature>
            Account Manager
            <zem-help-popover content="Account manager responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-3">
            <ui-select theme="select2" id="account-manager-select" class="form-control" ng-model="$ctrl.account.settings.defaultAccountManager">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="manager.id as manager in $ctrl.account.accountManagers | orderBy:'name' | filter:$select.search">
                    <div ng-bind-html="manager.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <label ng-repeat="error in errors.defaultAccountManager" class="control-label error" for="account-manager-select">{{ error }}</label>
    </div>

    <div ng-if="$ctrl.hasPermission('zemauth.can_set_account_sales_representative')" class="form-group" ng-class="{'has-error': !!errors.defaultSalesRepresentative}">
        <label for="sales-representative-select" class="col-xs-2 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_set_account_sales_representative')" popover-placement="bottom"></zem-internal-feature>
            Sales Representative
            <zem-help-popover content="Sales representative responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-3">
            <ui-select theme="select2" id="sales-representative-select" class="form-control" ng-model="$ctrl.account.settings.defaultSalesRepresentative">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="rep.id as rep in $ctrl.account.salesReps | orderBy:getName | filter:$select.search">
                    <div ng-bind-html="rep.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <label ng-repeat="error in errors.defaultSalesRepresentative" class="control-label error" for="sales-representative-select">{{ error }}</label>
    </div>

    <div class="form-group" ng-class="{'has-error': !!errors.accountType}" ng-if="$ctrl.hasPermission('zemauth.can_modify_account_type')">
        <label for="sales-representative-select" class="col-xs-2 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_modify_account_type')" popover-placement="right"></zem-internal-feature>
            Account Type
            <zem-help-popover content="Type of account." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-3">
            <ui-select theme="select2" id="account-type-select" class="form-control" ng-model="$ctrl.account.settings.accountType" search-enabled="false">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="type.id as type in $ctrl.options.accountTypes">
                    <div ng-bind-html="type.name"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <label ng-repeat="error in errors.accountType" class="control-label error" for="account-type-select">{{ error }}</label>
    </div>

    <div class="form-group" ng-class="{'has-error': !!errors.agency}" ng-if="$ctrl.hasPermission('zemauth.can_set_agency_for_account')">
        <label for="agency-select" class="col-xs-2 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_set_agency_for_account')" popover-placement="right"></zem-internal-feature>
            Agency
            <zem-help-popover content="Agency that this account is part of." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-3">
            <div ui-select2="$ctrl.agencySelect2Config" id="agency-select" class="form-control" ng-model="$ctrl.account.settings.agency" ng-change="$ctrl.updateAgencyDefaults()"></div>
        </div>
        <label ng-repeat="error in errors.agency" class="control-label error" for="agency-select">{{ error }}</label>
    </div>
</form>
