<div
    class="zem-prefixed-input zem-prefixed-input--with-icon zem-magnifier-bg-icon zem-rules-actions__search"
>
    <zem-text-input
        class="zem-text-input zem-prefixed-input__input"
        [value]="value"
        [placeholder]="'Search by name'"
        (valueChange)="onSearchChange($event)"
    ></zem-text-input>
</div>
<div class="zem-rules-actions__buttons">
    <button
        class="zem-button zem-button--with-icon zem-button--highlighted zem-button--add-icon zem-rules-actions__button"
        [disabled]="isDisabled"
        (click)="ruleCreate.emit()"
    >
        Add new rule
    </button>
</div>
