@import 'variables';

.zem-item-list {
    display: block;
    border: 1px solid black;
    background-color: white;
}

.zem-item-list__footer {
    background-color: @color--lightest-neutral;
    padding: @spacing--small;
    border-top: 1px solid black;
    height: 30px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}
