<div class="zem-item-list__list">
    <div *ngFor="let item of items" (click)="clickItem($event, item)">
        <ng-container
            *ngTemplateOutlet="
                itemTemplate;
                context: {item: item, selected: selectedItems.includes(item)}
            "
        ></ng-container>
    </div>
    <a
        class="zem-item-list__link"
        *ngIf="
            multiple && items.length > 1 && selectedItems.length < items.length
        "
        (click)="selectedItemsChange.emit(items)"
        >Select all</a
    >
</div>
<div class="zem-item-list__footer">
    <ng-container *ngTemplateOutlet="addItemTemplate"></ng-container>
</div>
