<zem-settings-container
    api="$ctrl.api"
    settings-title="'Account settings'"
    entity-type="$ctrl.constants.entityType.ACCOUNT"
>
    <settings>
        <zem-account-general-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
        ></zem-account-general-settings>
        <div
            class="custom-panel zem-settings-component__container zem-account-targeting-settings"
            ng-if="$ctrl.hasPermission('zemauth.can_set_white_blacklist_publisher_groups') && $ctrl.hasPermission('zemauth.can_see_publisher_groups_ui')"
        >
            <h2 class="custom-panel__title">Targeting</h2>
            <zem-publisher-group-targeting
                class="zem-publisher-group-targeting"
                account-id="$container.entity.id"
                whitelisted-publisher-groups="$container.entity.settings.whitelistPublisherGroups"
                blacklisted-publisher-groups="$container.entity.settings.blacklistPublisherGroups"
                whitelisted-publisher-groups-errors="$container.errors.whitelistPublisherGroups"
                blacklisted-publisher-groups-errors="$container.errors.blacklistPublisherGroups"
                on-update="
                    $ctrl.updatePublisherGroupsTargeting(
                        $container.entity,
                        $event
                    )
                "
            ></zem-publisher-group-targeting>
        </div>
        <zem-backend-hacks
            class="zem-settings-component"
            entity="$container.entity"
            api="$container.childApi"
        ></zem-backend-hacks>
        <zem-deals
            class="zem-settings-component"
            entity="$container.entity"
            api="$container.childApi"
        ></zem-deals>
    </settings>

    <custom> </custom>
</zem-settings-container>
