<zem-rule-edit-form-condition
    class="zem-rule-edit-form__section-item zem-rule-edit-form-condition"
    *ngFor="
        let ruleCondition of ruleConditions;
        let i = index;
        trackBy: trackById
    "
    [ruleCondition]="ruleCondition"
    [availableConditions]="availableConditions"
    [conditionErrors]="perConditionErrors[i]"
    [isDisabled]="isDisabled"
    (conditionChange)="onConditionChange($event)"
    (conditionRemove)="onConditionRemove($event)"
>
</zem-rule-edit-form-condition>
<div class="zem-rule-edit-form__section-item">
    <button
        class=" button button--highlight button--with-icon add-icon zem-rule-edit-form__conditions-button"
        [disabled]="availableConditions.length === 0 || isDisabled"
        (click)="addCondition()"
    >
        Add condition
    </button>
    <span class="zem-message zem-message--error" *ngIf="generalConditionsError">
        {{ generalConditionsError }}
    </span>
</div>
