@import 'variables';

.zem-access-permissions {
    display: block;
}

.zem-access-permissions__container {
    position: relative;
}

.zem-access-permissions__header {
    margin: -@spacing--default -@spacing--default @spacing--default -@spacing--default;
    padding: 10px @spacing--default 8px @spacing--default;
    color: @color--secondary;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid @color--lighter-neutral;
}

.zem-access-permissions__description {
    margin-bottom: @spacing--default;
    color: @text-color--lighter;
}

.add-new-user {
    padding: @spacing--default;
    background-color: tint(@color--secondary, 96%);
    border: 1px solid tint(@color--secondary, 80%);
    margin-top: -(@spacing--default)-1;

    .form {
        max-width: 700px;
    }
}
