<div
    class="custom-panel"
    is-internal="zemauth.account_agency_access_permissions"
    ng-if="$ctrl.hasPermission('zemauth.account_agency_access_permissions')"
>
    <h2 class="custom-panel__title">Users</h2>
    <div class="custom-panel__description">
        Users who have access to the account you're currently on.
    </div>
    <div class="custom-table__mobile-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Name and Last name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="user in $ctrl.state.users">
                <tr ng-if="user.removed">
                    <td colspan="4">
                        The user was removed.
                        <a
                            ng-show="!user.requestInProgress"
                            ng-click="$ctrl.undo(user)"
                            >Undo?</a
                        >
                        <div
                            class="loader"
                            ng-show="user.requestInProgress"
                        ></div>
                    </td>
                </tr>
                <tr ng-if="!user.removed">
                    <td>
                        <strong>{{ user.name }}</strong>
                        <span
                            ng-show="user.saved && !user.emailSent && !user.emailResent"
                            class="success"
                            >This user can now access this account. Since this
                            is an existing user, no activation email was
                            sent.</span
                        >
                        <span
                            ng-show="user.saved && user.emailSent && !user.emailResent"
                            class="success"
                            >An introductory email was sent to this user.</span
                        >
                        <span
                            ng-show="user.saved && user.emailResent"
                            class="success"
                            >New activation email sent.</span
                        >
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        <span ng-if="user.is_agency_manager"
                            >Agency Manager</span
                        ><span ng-if="!user.is_agency_manager"
                            >Normal user</span
                        >
                    </td>
                    <td class="custom-table__action-buttons">
                        <div
                            class="loader"
                            ng-show="user.requestInProgress"
                        ></div>
                        <div ng-show="!user.requestInProgress">
                            <span
                                ng-if="$ctrl.account.data.agency && !user.is_agency_manager && $ctrl.hasPermission('zemauth.can_promote_agency_managers')"
                            >
                                <button
                                    tabindex="-1"
                                    ng-click="$ctrl.promote(user)"
                                    href="#"
                                    class="button button--small"
                                    title="Promote to Agency Manager"
                                    is-internal="zemauth.can_promote_agency_managers"
                                >
                                    Promote
                                </button>
                            </span>
                            <span
                                ng-if="$ctrl.account.data.agency && user.is_agency_manager && $ctrl.hasPermission('zemauth.can_promote_agency_managers')"
                            >
                                <button
                                    tabindex="-1"
                                    ng-click="$ctrl.downgrade(user)"
                                    href="#"
                                    class="button button--small"
                                    title="Downgrade to Normal User"
                                    is-internal="zemauth.can_promote_agency_managers"
                                >
                                    Downgrade
                                </button>
                            </span>
                            <span
                                ng-if="$ctrl.hasPermission('zemauth.can_manage_restapi_access') && !user.can_use_restapi"
                            >
                                <button
                                    tabindex="-1"
                                    ng-click="$ctrl.enableApi(user)"
                                    href="#"
                                    class="button button--small"
                                    title="Enable REST API access"
                                    is-internal="zemauth.can_manage_restapi_access"
                                >
                                    Enable REST API access
                                </button>
                            </span>
                            <button
                                ng-show="!user.is_active"
                                tabindex="-1"
                                ng-click="$ctrl.activate(user)"
                                href="#"
                                class="button button--small button--with-icon send-icon"
                                title="Resend Activation Mail"
                            >
                                Resend
                            </button>
                            <button
                                tabindex="-1"
                                ng-if="user.is_agency_manager"
                                ng-click="$ctrl.remove(user)"
                                href="#"
                                class="button button--small button--with-icon remove-icon"
                            >
                                Delete user
                            </button>
                            <button
                                tabindex="-1"
                                ng-if="!user.is_agency_manager"
                                ng-click="$ctrl.remove(user)"
                                href="#"
                                class="button button--small button--with-icon remove-icon"
                            >
                                Disable access to this account
                            </button>
                            <button
                                tabindex="-1"
                                ng-if="!user.is_agency_manager"
                                ng-click="$ctrl.remove(user, true)"
                                href="#"
                                class="button button--small button--with-icon remove-icon"
                            >
                                Delete user
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button
        type="button"
        class="button button--with-icon add-icon"
        ng-click="$ctrl.showCollapsed = !$ctrl.showCollapsed"
        ng-hide="$ctrl.showCollapsed"
    >
        Add new user
    </button>

    <div class="add-new-user" ng-show="$ctrl.showCollapsed">
        <h2>Add new user</h2>
        <div class="form">
            <div
                class="form__group"
                ng-class="{'form--error': !!$ctrl.state.addUserErrors.errors.firstName}"
            >
                <label class="form__label" for="first-name-input">Name:</label>
                <input
                    class="input-text"
                    id="first-name-input"
                    type="text"
                    placeholder="Name"
                    ng-model="$ctrl.createUserData.firstName"
                />
            </div>
            <div
                class="form__group"
                ng-class="{'form--error': !!$ctrl.state.addUserErrors.errors.lastName}"
            >
                <label class="form__label" for="last-name-input"
                    >Last name:</label
                >
                <input
                    class="input-text"
                    id="last-name-input"
                    type="text"
                    placeholder="Last name"
                    ng-model="$ctrl.createUserData.lastName"
                />
            </div>
            <div
                class="form__group"
                ng-class="{'form--error': !!$ctrl.state.addUserErrors.errors.email}"
            >
                <label class="form__label" for="email-input">Email:</label>
                <input
                    class="input-text"
                    id="email-input"
                    type="text"
                    placeholder="Email"
                    ng-model="$ctrl.createUserData.email"
                />
            </div>
            <div class="form__indented-group buttons-panel">
                <button
                    type="button"
                    class="button button--highlight button--with-icon check-icon"
                    ng-click="$ctrl.create($ctrl.createUserData)"
                >
                    Save
                </button>
                <div
                    class="loader"
                    ng-show="$ctrl.state.addUserRequestInProgress"
                ></div>
                <div
                    class="message message--error"
                    ng-show="$ctrl.state.addUserErrors"
                >
                    <span class="error">{{
                        $ctrl.state.addUserErrors.message
                    }}</span>
                    <span ng-show="$ctrl.state.addUserErrors.conflict"></span>
                </div>
            </div>
        </div>
    </div>
</div>
