<div class="form-horizontal white-background">
    <h2>Performance tracking</h2>
    <div class="description">Connect your Google/Adobe Analytics account to better track your campaign performance.</div>

    <div class="form-group">
        <div class="checkbox col-xs-10">
            <label>
                <input type="checkbox" id="enable-ga-tracking" ng-model="$ctrl.entity.settings.enableGaTracking"> Enable Google Analytics performance tracking
                <zem-help-popover content="This adds performance tracking codes (_z1_msid, _z1_adgid, _z1_caid) to all URLs." placement="top"></zem-help-popover>
            </label>
        </div>
    </div>

    <div class="form-group indented" ng-if="$ctrl.hasPermission('zemauth.can_set_ga_api_tracking') && $ctrl.entity.settings.enableGaTracking">
        <label for="ga-tracking-type-select" class="col-xs-2 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_set_ga_api_tracking')" popover-placement="right"></zem-internal-feature>
            Reporting type
            <zem-help-popover content="Google Analytics reporting type." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-2">
            <ui-select
                    id="ga-tracking-type-select"
                    class="ga-tracking-type-select"
                    theme="select2"
                    search-enabled="false"
                    ng-model="$ctrl.entity.settings.gaTrackingType">
                <ui-select-match>
                    <div ng-bind="$ctrl.getGaTrackingTypeByValue($ctrl.entity.settings.gaTrackingType).name"></div>
                </ui-select-match>
                <ui-select-choices repeat="type.value as type in $ctrl.options.gaTrackingType">
                    <div>{{type.name}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="checkbox col-xs-12">
            <a ng-if="$ctrl.entity.settings.gaTrackingType === $ctrl.constants.gaTrackingType.EMAIL"
               href="http://help.zemanta.com/article/show/12522-setting-up-automated-google-analytics-reports"
               target="_blank">
                Download a guide to setting up Automated Google Analytics Report via email
            </a>
            <a ng-if="$ctrl.entity.settings.gaTrackingType === $ctrl.constants.gaTrackingType.API"
               href="http://help.zemanta.com/article/show/10814-realtime-google-analytics-reports_1"
               target="_blank">
                Download a guide to setting up Automated Google Analytics Report via API
            </a>
        </div>
    </div>

    <div class="form-group indented" ng-class="{'has-error': !!$ctrl.errors.gaPropertyId}" ng-if="$ctrl.hasPermission('zemauth.can_set_ga_api_tracking') && $ctrl.entity.settings.gaTrackingType === $ctrl.constants.gaTrackingType.API && $ctrl.entity.settings.enableGaTracking">
        <label for="ga-property-id-input" class="col-xs-2 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_set_ga_api_tracking')" popover-placement="right"></zem-internal-feature>
            Web property ID
            <zem-help-popover content="Google Analytics web property ID." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-2">
            <input id="ga-property-id-input" type="text" class="form-control" ng-model="$ctrl.entity.settings.gaPropertyId" placeholder="UA-xxxxxxx-yy">
            <div ng-if="!$ctrl.errors.gaPropertyId.length && $ctrl.entity.settings.gaPropertyReadable !== undefined" ng-class="$ctrl.entity.settings.gaPropertyReadable ? 'ga-connected' : 'ga-pending'">
                {{ $ctrl.entity.settings.gaPropertyReadable ? 'Connected' : 'Pending' }}
            </div>
        </div>

        <label ng-repeat="error in $ctrl.errors.gaPropertyId" class="control-label error" for="ga-property-id-input">{{ error }}</label>
    </div>

    <div class="form-group">
        <div class="checkbox col-xs-10">
            <label>
                <input type="checkbox" id="enable-adobe-tracking" ng-model="$ctrl.entity.settings.enableAdobeTracking"> Enable Adobe Analytics performance tracking
                <zem-help-popover content="This adds performance tracking codes to all URLs." placement="top"></zem-help-popover>
            </label>
        </div>
    </div>

    <div class="form-group indented" ng-class="{'has-error': !!$ctrl.errors.adobeTrackingParam}" ng-if="$ctrl.entity.settings.enableAdobeTracking">
        <label for="adobe-tracking-param-input" class="col-xs-2 control-label">
            Adobe tracking parameter
            <zem-help-popover content="Name of the tracking parameter used for Adobe Analytics." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-2">
            <input id="adobe-tracking-param-input" type="text" class="form-control" ng-model="$ctrl.entity.settings.adobeTrackingParam">
        </div>
        <div class="checkbox col-xs-12">
            <a href="http://help.zemanta.com/article/show/12524-setting-up-automated-adobe-analytics-reports" target="_blank">Download a guide to setting up Automated Adobe Analytics Report</a>
        </div>
        <label ng-repeat="error in $ctrl.errors.adobeTrackingParam" class="control-label error" for="adobe-tracking-param-input">{{ error }}</label>
    </div>
</div>

