<zem-settings-container api="$ctrl.api" settings-title="'Ad Group settings'" entity-type="$ctrl.constants.entityType.AD_GROUP">
    <settings>
        <zem-ad-group-general-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-ad-group-general-settings>
        <zem-device-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
                ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-device-targeting-settings>
        <zem-geo-targeting
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
                ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-geo-targeting>
        <zem-demographic-targeting
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
                ng-if="$ctrl.hasPermission('zemauth.can_use_bluekai_targeting')"
        ></zem-demographic-targeting>
        <zem-ad-group-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
                ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-ad-group-targeting-settings>
        <zem-ad-group-tracking-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
                ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-ad-group-tracking-settings>
        <zem-ad-group-autopilot-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
                ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-ad-group-autopilot-settings>
        <zem-backend-hacks
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-backend-hacks>
    </settings>

    <custom>
    </custom>
</zem-settings-container>
