<zem-settings-container
    api="$ctrl.api"
    settings-title="'Ad Group settings'"
    entity-type="$ctrl.constants.entityType.AD_GROUP"
>
    <settings>
        <zem-ad-group-general-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
        ></zem-ad-group-general-settings>
        <div
            class="zem-settings-component zem-ad-group-dayparting-settings"
            ng-if="$ctrl.hasPermission('zemauth.can_manage_ad_group_dayparting')"
            is-internal="zemauth.can_manage_ad_group_dayparting"
        >
            <div class="custom-panel zem-settings-component__container">
                <h2 class="custom-panel__title">Dayparting</h2>
                <div class="custom-panel__description">
                    You can schedule your ads to be active for specific hours
                    and days of the week. Ads will be shown in the viewer’s
                    local time.
                </div>
                <zem-dayparting-setting
                    class="zem-dayparting-setting"
                    [dayparting-setting]="$container.entity.settings.dayparting"
                    [errors]="$container.errors.dayparting"
                    (value-change)="
                        $ctrl.updateDaypartingSettings(
                            $container.entity,
                            $event
                        )
                    "
                ></zem-dayparting-setting>
            </div>
        </div>
        <div class="custom-panel zem-settings-component__container">
            <h2 class="custom-panel__title">
                Device targeting
                <div
                    class="zem-settings__different-than-default"
                    ng-if="$ctrl.hasPermission('zemauth.settings_defaults_on_campaign_level') && $ctrl.isDeviceTargetingDifferentFromDefault($container.entity)"
                >
                    Different than campaign default
                </div>
            </h2>
            <div class="custom-panel__description">
                The devices on which your content ads will be shown.
            </div>
            <zem-device-targeting-settings
                class="zem-settings-component zem-device-targeting-settings"
                target-devices="$container.entity.settings.targetDevices"
                target-placements="$container.entity.settings.targetPlacements"
                target-os="$container.entity.settings.targetOs"
                errors="$container.errors.targetDevices"
                on-update="
                    $ctrl.updateDeviceTargeting($container.entity, $event)
                "
            ></zem-device-targeting-settings>
        </div>
        <div class="custom-panel zem-settings-component__container">
            <h2 class="custom-panel__title">
                Location targeting
                <div
                    class="zem-settings__different-than-default"
                    ng-if="$ctrl.hasPermission('zemauth.settings_defaults_on_campaign_level') && $ctrl.isLocationTargetingDifferentFromDefault($container.entity)"
                >
                    Different than campaign default
                </div>
            </h2>
            <div class="custom-panel__description">
                The countries, states and DMA regions where your content ads
                will be shown.
            </div>
            <zem-geo-targeting
                class="zem-settings-component"
                included-locations="$container.entity.settings.targetRegions"
                excluded-locations="$container.entity.settings.exclusionTargetRegions"
                errors="$container.errors"
                on-update="$ctrl.updateGeoTargeting($container.entity, $event)"
            ></zem-geo-targeting>
        </div>
        <div
            class="custom-panel zem-settings-component__container"
            ng-if="$ctrl.hasPermission('zemauth.can_use_bluekai_targeting') && !$ctrl.hasPermission('zemauth.disable_public_rcs')"
        >
            <h2 class="custom-panel__title">BlueKai audience targeting</h2>
            <div class="custom-panel__description">
                Setup audience targeting based on BlueKai audience segments. For
                setting up Bombora, Liveramp or Lotame targeting please contact
                your Customer Success Manager.
            </div>
            <zem-demographic-targeting
                class="zem-settings-component"
                bluekai-targeting="$container.entity.settings.bluekaiTargeting"
                entity-id="$container.entity.id"
                on-update="
                    $ctrl.updateBluekaiTargeting($container.entity, $event)
                "
            ></zem-demographic-targeting>
        </div>
        <div
            class="custom-panel zem-settings-component__container zem-account-targeting-settings"
            is-internal="zemauth.can_target_custom_audiences"
        >
            <h2 class="custom-panel__title">Targeting</h2>
            <div
                class="form"
                ng-if="$ctrl.hasPermission('zemauth.can_target_custom_audiences') && !$ctrl.hasPermission('zemauth.disable_public_rcs')"
                ng-class="{'form--error': !!$ctrl.errors}"
            >
                <div
                    class="form__title"
                    is-internal="zemauth.can_target_custom_audiences"
                >
                    Retargeting
                </div>
                <div class="form__text m-b">
                    Target people you have seen previously. Retargeting can be
                    based on pixels you placed or on clicks to other ad groups.
                </div>
                <zem-retargeting
                    class="zem-retargeting"
                    errors="$container.errors"
                    entity-id="$container.entity.settings.id"
                    retargetable-audiences="$container.entity.audiences"
                    retargetable-ad-groups="$container.entity.retargetableAdGroups"
                    included-audiences="$container.entity.settings.audienceTargeting"
                    excluded-audiences="$container.entity.settings.exclusionAudienceTargeting"
                    included-ad-groups="$container.entity.settings.retargetingAdGroups"
                    excluded-ad-groups="$container.entity.settings.exclusionRetargetingAdGroups"
                    included-audiences-errors="$container.errors.audienceTargeting"
                    excluded-audiences-errors="$container.errors.exclusionAudienceTargeting"
                    included-ad-groups-errors="$container.errors.retargetingAdGroups"
                    excluded-ad-groups-errors="$container.errors.exclusionRetargetingAdGroups"
                    warnings="$container.entity.warnings.retargeting"
                    on-update="
                        $ctrl.updateRetargeting($container.entity, $event)
                    "
                ></zem-retargeting>
            </div>
            <div
                ng-if="$ctrl.hasPermission('zemauth.can_view_additional_targeting')"
            >
                <div
                    class="form"
                    ng-if="$ctrl.hasPermission('zemauth.can_set_interest_targeting') && !$ctrl.hasPermission('zemauth.disable_public_rcs')"
                >
                    <div class="form__title">Interest targeting</div>
                    <div class="form__text">
                        Interest targeting is based on publisher classification
                        and user's reading habits.
                    </div>
                    <zem-interest-targeting
                        class="zem-interest-targeting"
                        legacy-options="$ctrl.availableInterests"
                        included-interests="$container.entity.settings.interestTargeting"
                        excluded-interests="$container.entity.settings.exclusionInterestTargeting"
                        included-interests-errors="$container.errors.interestTargeting"
                        excluded-interests-errors="$container.errors.exclusionInterestTargeting"
                        on-update="
                            $ctrl.updateInterestTargeting(
                                $container.entity,
                                $event
                            )
                        "
                    ></zem-interest-targeting>
                </div>
                <div
                    class="form"
                    ng-if="$ctrl.hasPermission('zemauth.can_set_white_blacklist_publisher_groups') && $ctrl.hasPermission('zemauth.can_see_publisher_groups_ui')"
                >
                    <div
                        class="form__title"
                        is-internal="zemauth.can_see_publisher_groups_ui"
                    >
                        Publishers
                    </div>
                    <div class="form__text">
                        Define your publisher targeting by whitelisting or
                        blacklisting publisher groups.
                    </div>
                    <zem-publisher-group-targeting
                        class="zem-publisher-group-targeting"
                        account-id="$container.entity.parent.parent.id"
                        whitelisted-publisher-groups="$container.entity.settings.whitelistPublisherGroups"
                        blacklisted-publisher-groups="$container.entity.settings.blacklistPublisherGroups"
                        whitelisted-publisher-groups-errors="$container.errors.whitelistPublisherGroups"
                        blacklisted-publisher-groups-errors="$container.errors.blacklistPublisherGroups"
                        on-update="
                            $ctrl.updatePublisherGroupsTargeting(
                                $container.entity,
                                $event
                            )
                        "
                    ></zem-publisher-group-targeting>
                </div>
                <div class="form form--last">
                    <div class="form__title">Special notes</div>
                    <div class="form__text">
                        Any additional targeting set on the backend will be
                        described here. This is a read-only section. Please
                        contact your Zemanta Customer Success Manager if you
                        want to set up or change it.
                    </div>
                    <div
                        class="textarea--dashed break-long-words m-t"
                        ng-if="$container.entity.settings.notes"
                    >
                        {{ $container.entity.settings.notes }}
                    </div>
                    <div
                        class="message m-t-s m-b-none"
                        ng-if="!$container.entity.settings.notes"
                    >
                        No special notes.
                    </div>
                </div>
            </div>
        </div>
        <zem-ad-group-tracking-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
            ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-ad-group-tracking-settings>
        <zem-ad-group-autopilot-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
            ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-ad-group-autopilot-settings>
        <zem-backend-hacks
            class="zem-settings-component"
            entity="$container.entity"
            api="$container.childApi"
        ></zem-backend-hacks>
        <zem-deals
            class="zem-settings-component"
            entity="$container.entity"
            api="$container.childApi"
        ></zem-deals>
    </settings>

    <custom> </custom>
</zem-settings-container>
