@import 'variables';

.zem-deals-grid {
    display: block;
}

.zem-deals-grid__cell--clickable {
    cursor: pointer;
    color: @color--secondary;
    font-weight: 500;
}

.zem-deals-grid__cell--clickable:hover {
    text-decoration: underline;
}
