<div class="zem-form-group">
    <label class="zem-form-group__label">Manage RTB sources</label>
    <div class="zem-form-group__content">
        <zem-radio-input
            class="zem-radio-input zem-form-group__content-item"
            [groupModel]="manageRtbSourcesAsOne"
            [value]="true"
            [isDisabled]="isDisabled"
            (select)="manageRtbSourcesAsOneChange.emit($event)"
        >
            As a group
            <span class="zem-radio-input__deemphasized-label-text"
                >- Set one Bid and Daily Spend Cap for all RTB sources
                together.</span
            >
        </zem-radio-input>
        <zem-radio-input
            class="zem-radio-input zem-form-group__content-item zem-form-group__content-item--no-spacing"
            [groupModel]="manageRtbSourcesAsOne"
            [value]="false"
            [isDisabled]="true"
            (select)="manageRtbSourcesAsOneChange.emit($event)"
        >
            Separately
            <span class="zem-radio-input__deemphasized-label-text"
                >- Set Bid and Daily Spend Cap for each of the RTB
                sources.</span
            >
        </zem-radio-input>
    </div>
</div>
