@import 'variables';

.zem-currency-refund-cell {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.zem-currency-refund-cell__value-container {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: flex-end;
}

.zem-currency-refund-cell__value-container--with-refund {
    align-items: flex-end;
}

.zem-currency-refund-cell__refund-container {
    display: flex;
    flex: 1 1 100%;
    align-items: flex-start;
    justify-content: flex-end;
}

.zem-currency-refund-cell__value--refund {
    color: @text-color--lighter;
}

.zem-currency-refund-cell__popover-content {
    display: block;
    max-width: 300px;
}
