<zem-inclusion-targeting-list
    class="zem-inclusion-targeting-list"
    texts="$ctrl.texts"
    targetings="$ctrl.targetings"
    add-included="$ctrl.addIncluded(targeting)"
    add-excluded="$ctrl.addExcluded(targeting)"
    is-disabled="$ctrl.isDisabled"
    remove-targeting="$ctrl.removeTargeting(targeting)"
    display-sections="true"
></zem-inclusion-targeting-list>
<div class="more-messages__container">
    <div
        class="message message--info message--with-icon m-t"
        ng-if="$ctrl.warningMessage"
    >
        {{ $ctrl.warningMessage }}
    </div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors">
        {{ error }}
    </div>
</div>
