@import 'variables';

.zem-entity-selector {
    display: block;
}

.zem-entity-selector__list {
    margin-top: @spacing--default;
}

.zem-entity-selector__list-title {
    color: @text-color--lighter;
}

.zem-entity-selector__list-item {
    margin: 3px;
    margin-left: @spacing--small;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
