@import 'variables';

.zem-entity-selector {
    display: block;
}

.zem-entity-selector__list {
    margin-top: @spacing--default;
}

.zem-entity-selector__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
