<zem-select-list
    class="zem-select-list zem-entity-selector__list"
    [selectedItems]="selectedEntities"
    [availableItems]="availableEntities"
    [selectBindValue]="'id'"
    [selectBindLabel]="'name'"
    [selectPlaceholder]="selectPlaceholder"
    [selectIsDisabled]="isDisabled"
    [selectGroupByValue]="'type'"
    [groupByValue]="'type'"
    [appendTo]="appendTo"
    (itemSelect)="addEntity.emit($event)"
    (search)="searchEntities.emit($event)"
    (open)="open.emit()"
>
    <ng-template #selectGroupTitleTemplate let-group="group">
        {{ entityTypeNames[group] }}
    </ng-template>
    <ng-template #itemGroupTitleTemplate let-group="group">
        {{ entityTypeNames[group] }}
    </ng-template>
    <ng-template #itemTemplate let-item="item" let-index="index">
        <div class="zem-entity-selector__list-item">
            <span>{{ item.name }}</span>
            <button
                class="zem-button-legacy zem-button-legacy--small zem-button-legacy--danger zem-button-legacy--icon-only zem-button-legacy--remove-icon"
                [disabled]="isDisabled"
                (click)="removeEntity.emit(item)"
            ></button>
        </div>
    </ng-template>
</zem-select-list>
<div
    class="zem-form-group__content-item zem-message zem-message--error"
    *ngFor="let error of errors"
>
    {{ error }}
</div>
