@import 'variables';

.zem-deals-actions {
    display: flex;
    flex-direction: column;
}

.zem-deals-actions__action:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-deals-actions__search {
    flex: 0 1 auto;
}

.zem-deals-actions__buttons {
    display: flex;
    flex-direction: column;
}

.zem-deals-actions__button:not(:last-child) {
    margin-bottom: @spacing--small;
}

@media only screen and (min-width: @tablet-breakpoint) {
    .zem-deals-actions {
        align-items: center;
        flex-direction: row;
    }

    .zem-deals-actions__action:not(:last-child) {
        margin-right: @spacing--small;
        margin-bottom: 0;
    }

    .zem-deals-actions__search {
        flex: 0 1 300px;
    }

    .zem-deals-actions__buttons {
        flex-grow: 1;
        justify-content: flex-end;
        flex-direction: row;
    }

    .zem-deals-actions__button:not(:last-child) {
        margin-right: @spacing--small;
        margin-bottom: 0;
    }
}
