@import 'variables';

.zem-deals-actions {
    display: flex;
    justify-content: space-between;
}

.zem-deals-actions__search {
    flex: 0 1 300px;
    margin-right: @spacing--small;
}

.zem-deals-actions__buttons {
    display: flex;
}

.zem-deals-actions__button:not(:last-child) {
    margin-right: @spacing--small;
}
