<div
    class="zem-prefixed-input zem-prefixed-input--with-icon zem-magnifier-bg-icon zem-deals-actions__search zem-deals-actions__action"
>
    <zem-text-input
        class="zem-text-input zem-prefixed-input__input"
        [value]="value"
        [isDisabled]="isDisabled"
        [placeholder]="'Search by name, media source or deal id'"
        (valueChange)="onSearchChange($event)"
    ></zem-text-input>
</div>
<div class="zem-deals-actions__buttons zem-deals-actions__action">
    <button
        class="zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--highlighted zem-button-legacy--add-icon zem-deals-actions__button"
        [disabled]="isDisabled || isReadOnly"
        (click)="dealCreate.emit()"
    >
        Add new deal
    </button>
</div>
