.zem-grid-debug-container {

  .debug-panel {
    float:left;
    margin: 20px;
    padding: 10px;
    border: 1px solid orange;

    label {
      padding: 10px;
      font-size: 12pt;
    }
  }
}

.zem-grid-container {
  border: solid lightgray 1px;
  width: 100%;

  font-size: 13px;
  color: #454545;

  .zem-grid {
    width: 100%;
    overflow-x: auto;

    .zem-grid-cell {
      vertical-align: middle;
      text-align: left;
      padding: 8px;
      white-space: nowrap;
    }

    .zem-grid-header, .zem-grid-footer {
      float: left;
      white-space: nowrap;

      background-color: #f6f6f6;
      font-weight: 600;

      .zem-grid-cell {
        display: inline-block;
        // width: 200px;
      }
    }

    .zem-grid-body {
      width: 100%;
      height: 500px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .zem-grid-table {
      display: table;
      width: 100%;
    }
    .zem-grid-row {
      display: table-row;

      .zem-grid-cell {
        display: table-cell;
      }

      &.level-0 {
        background-color: #f6f6f6;
        div:first-child {
          font-weight: 600;
        }
      }
      &.level-1 {
        background-color: #F4F4F4;
        div:first-child {
          padding-left: 20px !important;
        }
      }

      &.level-2 {
        background-color: #ececec;
        div:first-child {
          padding-left: 40px !important;
        }
      }

      &.level-3 {
        background-color: #e8e8e8;
        div:first-child {
          padding-left: 60px !important;
        }
      }

      &.level-4 {
        background-color: #e2e2e2;
        div:first-child {
          padding-left: 80px !important;
        }
      }

      &.level-last {
        div:not(:first-child) {
          background-color: #ffffff;
        }
      }
    }

    a {
      cursor: pointer;
    }
  }

}
