@import '../default/variables.less';

@images-folder: 'images/whitelabel/greenpark';
@logo__background: url('@{images-folder}/greenpark-telescope-logo.svg')
    no-repeat center center;

@color--primary: #1db2a3;
@color--secondary: #182145;
@color--danger: #ed4646;
@color--warning: #fecb63;

@text-color--default: #6c6f6f;

@header__background-color--left: @color--primary;
@header__background-color--right: @color--primary;
