<div class="container-fluid" ng-controller="ActionLogCtrl">
    <div class="row header">
        <div class="logo-container">
            <a ng-href='/'><img class="logo" ng-src="{{ config.static_url }}/actionlog/img/logo_one.png"></a>
        </div>

        <div class="profile-container">
            <div class="content">
                <a href="mailto:help@zemanta.com" class="contact">Contact support</a>
                <span class="profile dropdown" uib-dropdown>
                    <a href class="dropdown-toggle" uib-dropdown-toggle>
                        <img ng-src="{{ config.static_url }}/actionlog/img/human.svg">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="dropdown-header">{{ user.email }}</li>
                        <li><a ng-href="/signout">Sign out</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

    <div class="section action-log-list">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        State
                        <zem-action-log-filter field="'state'" filters="filters" />
                    </th>
                    <th>Action</th>
                    <th>
                        Source
                        <zem-action-log-filter field="'source'" filters="filters" />
                    </th>
                    <th>
                        Ad Group
                        <zem-action-log-filter field="'ad_group'" filters="filters" />
                    </th>
                    <th>Created</th>
                    <th>Created By</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="loadRequestInProgress && !actionLogItems.length">
                    <td colspan="7" class="loader-row">
                        <div class="loader"></div>
                    </td>
                </tr>
                <tr ng-show="!actionLogItems.length && !loadRequestInProgress">
                    <td class="no-data" colspan="7">No data available.</td>
                </tr>
                <tr ng-repeat="log in actionLogItems" ng-class="log.orderClass">
                    <td>
                        <div class="action-log-item-states btn-group">
                            <label ng-repeat="state in states" ng-click="updateState(log, state)" class="btn btn-default btn-xs" ng-class="stateClass(log, state)">{{state[0]}}</label>
                        </div>
                    </td>
                    <td><strong>{{log.take_action}}</strong></td>
                    <td>
                        <a ng-href="{{log.supply_dash_url}}" target="_blank">
                            {{log.source[0]}}
                        </a>
                    </td>
                    <td>
                        <a ng-href="{{ '/ad_groups/' + log.ad_group[1] + '/sources' }}" target="_blank">{{log.ad_group[0]}}</a>
                    </td>
                    <td>{{log.created_dt | date:'M/d/yyyy h:mm a'}}</td>
                    <td>{{log.created_by[0]}}</td>
                    <td title="{{log.modified_by[0]}}">{{log.modified_dt | date:'M/d/yyyy h:mm a'}}</td>
                </tr>
            </tbody>
        </table>
        <div uib-alert ng-show="actionLogItems.length >= actionLogItemsMax" class="alert-danger">Only {{actionLogItemsMax}} action can be displayed. There are more actions hidden.</div>
    </div>

    <div class="row footer" ng-include src="config.static_url + '/actionlog/footer.html'"></div>
</div>

