<zem-prefixed-input
    class="zem-prefixed-input zem-bid-modifier-input__item zem-bid-modifier-input__input"
    [prefix]="'%'"
>
    <zem-decimal-input
        class="zem-decimal-input"
        [value]="model"
        [placeholder]="'0.00'"
        [fractionSize]="fractionSize"
        [minValue]="minValue"
        [maxValue]="maxValue"
        [isFocused]="isFocused"
        (valueChange)="onValueChange($event)"
        (inputBlur)="onInputBlur($event)"
        (inputKeydown)="onInputKeydown($event)"
    ></zem-decimal-input>
</zem-prefixed-input>
<div class="zem-bid-modifier-input__item">
    <div class="zem-bid-modifier-input__buttons">
        <button
            class="button button--highlight zem-bid-modifier-input__button"
            (click)="addDeltaPercent(-1)"
        >
            −1
        </button>
        <button
            class="button button--highlight zem-bid-modifier-input__button"
            (click)="addDeltaPercent(1)"
        >
            +1
        </button>
    </div>
</div>
