@import 'variables';

.zem-bid-modifier-input {
    display: flex;
    margin: -3px;
}

.zem-bid-modifier-input__item {
    margin: 3px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.zem-bid-modifier-input__input {
    width: 100px;
}

.zem-bid-modifier-input__buttons {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: -3px;
    align-items: center;
}

.zem-bid-modifier-input__button {
    margin: 3px;
    flex: 1 1 45%;
}
