@import 'variables';

.zem-campaign-launcher {
    display: block;
    width: @desktop-breakpoint - 2*@default-spacing;
    margin: 0 auto;

    .loader {
        margin: @default-spacing;
    }

    .zem-campaign-launcher__title {
        margin: 0 0 @default-spacing 0;
    }

    .zem-campaign-launcher__description {
        font-size: @default-font-size + 1;

        .list-with-bullets {
            li::before {
                background-color: @gray;
                top: 6px;
            }
        }
    }

    .buttons-panel {
        position: relative;
        margin: @default-spacing 0 2*@default-spacing 0;
    }

    .buttons-panel--right {
        text-align: right;
        float: right;

        .button {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    .zem-campaign-launcher__step-indicator-container {
        display: table;
        width: 100%;
        padding: 0;
        margin-bottom: 2*@default-spacing;
        margin-top: 10px;
    }

    .zem-campaign-launcher__step-indicator {
        list-style: none;
        display: table-cell;
        position: relative;
        padding-bottom: 10px;

        .zem-campaign-launcher__step-title {
            color: @gray;
            position: absolute;
            bottom: 10px;
            transform: translateX(-50%);
            margin-left: 5px;
            white-space: nowrap;
        }

        &::before {
            content: " ";
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            height: 2px;
            bottom: 0px;
            background-color: darken(@light-gray, 10%);
        }

        &::after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 10px;
            height: 10px;
            border: 1px solid darken(@light-gray, 10%);
            background-color: #f0f0f0;
            z-index: 3;
        }

        &:first-child {
            .zem-campaign-launcher__step-title {
                transform: none;
                left: 0;
                margin-left: 0;
            }
        }

        &:last-child {
            width: 1px;

            .zem-campaign-launcher__step-title {
                transform: none;
                right: 0;
                margin-left: 0;
            }

            &::after {
                left: auto;
                right: 0;
            }
        }
    }

    .zem-campaign-launcher__step-indicator--done {
        .zem-campaign-launcher__step-title {
            color: @green;
        }

        &::after,
        &::before {
            background-color: @green;
            border-color: @green;
        }
    }

    .zem-campaign-launcher__step-indicator--current {
        .zem-campaign-launcher__step-title {
            font-weight: 500;
            color: @text-color;
        }

        &::after {
            background-color: darken(@light-gray, 10%);
        }
    }
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @desktop-breakpoint) {
    .zem-campaign-launcher {
        width: 100%;
        padding-top: 75px;

        .zem-campaign-launcher__step-indicator-container {
            padding: 25px @default-spacing @default-spacing @default-spacing;
            background-color: fade(white, 50%);
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 75px;
        }
    }
}

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-campaign-launcher {
        .zem-campaign-launcher__step-indicator:not(.zem-campaign-launcher__step-indicator--current) {
            .zem-campaign-launcher__step-title {
                display: none;
            }
        }
    }
}
