<zem-smart-grid
    class="zem-smart-grid"
    [rowData]="users"
    [columnDefs]="columnDefs"
    [context]="context"
    [paginationOptions]="paginationOptions"
    [paginationCount]="paginationCount"
    (paginationChange)="paginationChange.emit($event)"
    (gridReady)="onGridReady($event)"
>
</zem-smart-grid>

<ng-template #accountAccessTemplate let-accountNames>
    User has access to the following accounts:
    <ul>
        <li *ngFor="let accountName of accountNames">{{ accountName }}</li>
    </ul>
</ng-template>
