<zem-smart-grid
    class="zem-smart-grid"
    [rowData]="users"
    [columnDefs]="columnDefs"
    [context]="context"
    [paginationOptions]="paginationOptions"
    [paginationCount]="paginationCount"
    (paginationChange)="paginationChange.emit($event)"
    (gridReady)="onGridReady($event)"
>
</zem-smart-grid>

<ng-template #accountAccessTemplate let-accounts>
    User has access to the following accounts:
    <ul>
        <li
            *ngFor="let account of accounts"
            [zemArchivedTag]="account.archived"
        >
            {{ account.name }}
        </li>
    </ul>
</ng-template>
