<span
    *ngIf="displayOptions.text"
    class="zem-icon-tooltip-cell__text {{ displayOptions.textStyleClass }}"
    [zemPopover]="
        displayOptions.textTooltipTemplate
            ? templatedTextTooltip
            : displayOptions.textTooltip
    "
    [popoverPlacement]="displayOptions.placement"
    triggers="mouseenter:mouseleave"
    popoverContainer="body"
    >{{ displayOptions.text }}</span
>
<span
    *ngIf="displayOptions.iconTooltip"
    class="zem-icon-tooltip-cell__icon {{ displayOptions.icon }}"
    [zemPopover]="
        displayOptions.iconTooltipTemplate
            ? templatedIconTooltip
            : displayOptions.iconTooltip
    "
    [popoverPlacement]="displayOptions.placement"
    triggers="mouseenter:mouseleave"
    popoverContainer="body"
></span>
<ng-container
    *ngIf="
        !displayOptions.iconTooltip &&
        (displayOptions.text == null || displayOptions.text == undefined)
    "
>
    N/A
</ng-container>

<ng-template #templatedTextTooltip>
    <ng-container
        *ngTemplateOutlet="
            displayOptions.textTooltipTemplate;
            context: {$implicit: displayOptions.textTooltip}
        "
    ></ng-container>
</ng-template>

<ng-template #templatedIconTooltip>
    <ng-container
        *ngTemplateOutlet="
            displayOptions.iconTooltipTemplate;
            context: {$implicit: displayOptions.iconTooltip}
        "
    ></ng-container>
</ng-template>
