[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[user]
	name = Nejc Saje
	email = nejc@saje.info
[push]
	default = current
[diff]
	tool = meld
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
	excludesfile = /home/nsaje/.gitignore_global
