localsettings_docker_override.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
# dist/
eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Linux general
*~

# KDE directory preferences
.directory

# MacOS general
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# npm
node_modules

# bower
client/lib/components/angular-mocks

# Server Django project
server/static

# Client dist files
client/dist

# Client coverage
client/coverage
client/package-lock.json

# Server JUnit files
server/.junit_xml/TEST*

# Client JUnit files
client/test-results.xml

# Andraz's editor
DEADJOE

# Tern port file
.tern-port

# IntelliJ editor
.idea
*.iml
*.ipr
*.iws
.ideaDataSources/
dataSources/
.editorconfig

# Visual Studio Code
.vscode


# influx
server/src/

# dumps
*.tar

server/**/.mypy_cache/
scripts/.z1profiles

# pyenv
.python-version
