postgres:
    expose:
      - "5432"

# this is fake statsd that only prints stats on stdout
statsd:
    expose:
      - "8125/udp"

telegraf:
    expose:
      - "8135/udp"

memcached:
    expose:
      - "11211"

einsstatic:
    container_name: einsstatic
    hostname: einsstatic
    image: digitallyseamless/nodejs-bower-grunt
    ports:
      - "9999:9999"
    volumes:
      - "./client/:/data/"
    entrypoint: /bin/bash
    command: -c "npm prune && npm install; grunt dev"
    tty: true

eins:
    container_name: eins
    restart: always
    hostname: eins
    image: zemanta/z1
    ports:
      - "8000:8000"
    links:
      - "postgres"
      - "postgres:db"
      - "statsd:statsd"
      - "memcached:memcached"
      - "einsstatic"
      - "telegraf"
    volumes:
      - "$HOME/docker-vols/eins/logs/:/app/logs/" # this one will create new folder in your home if it doesn't exist
      - "./server/:/app/zemanta-eins/"
      - "./server/server/localsettings.py.docker:/app/zemanta-eins/server/localsettings.py"
      - ".:/src:ro"
    working_dir: /app/zemanta-eins/
    entrypoint: /bin/bash
    command: run-docker-dev.sh
    tty: true
    stdin_open: true


# proxy:
#     image: nginx
#     ports:
#       - "80:80"
#     links:
#       - "eins_static"
#       - "eins"
#     volumes:
#       - "./docker/nginx-dev.conf:/etc/nginx/nginx.conf"
