version: '2'

services:
    postgres:
        image: postgres:9.6
        environment:
          - POSTGRES_PASSWORD=devpwd
          - POSTGRES_DB=one-dev
          - POSTGRES_USER=eins
        command: "-c fsync=off -c full_page_writes=off -c synchronous_commit=off"
    #    volumes:
    #      - "./fixtures/:/docker-entrypoint-initdb.d/"

    statspostgres:
        extends: postgres

    # this is fake telegraf that only prints stats on stdout
    telegraf:
        image: verb/socat
        entrypoint: /usr/bin/socat
        command: udp-recv:8135 -
        tty: true

    memcached:
        image: memcached
