postgres:
    container_name: postgres
    image: postgres:9.3
    environment:
      - POSTGRES_PASSWORD=devpwd
      - POSTGRES_DB=one
      - POSTGRES_USER=eins
    expose:
      - "5432"
    volumes:
      - "./fixtures/:/docker-entrypoint-initdb.d/"
# If you like to have persistent data store you can uncomment following line
#      - "$HOME/docker-vols/postgres-eins:/var/lib/postgresql"


# this is fake statsd that only prints stats on stdout
statsd:
    container_name: statsd
    image: verb/socat
    expose:
      - "8125:8125/udp"
    entrypoint: /usr/bin/socat
    command: udp-recv:8125 -
    tty: true


memcached:
    image: memcached
    expose:
      - "11211"

eins_static:
    container_name: eins-static
    hostname: eins-static
    image: digitallyseamless/nodejs-bower-grunt
    expose:
      - "9999"
    volumes:
      - "./client/:/data/"
    entrypoint: /bin/bash
    command: -c "npm prune && npm install; bower --config.interactive=false install ; grunt ; grunt connect:dev:keepalive"
    tty: true

eins:
    container_name: eins
    restart: always
    hostname: eins
    image: zemanta/z1
    expose:
      - "8000"
    links:
      - postgres
      - "postgres:db"
      - "statsd:statsd"
      - "memcached:memcached"
    volumes:
      - "$HOME/docker-vols/eins/logs/:/app/logs/" # this one will create new folder in your home if it doesn't exist
      - "./server/:/app/zemanta-eins/"
      - "./server/server/localsettings.py.docker:/app/zemanta-eins/server/localsettings.py"
    working_dir: /app/zemanta-eins/
    entrypoint: /bin/bash
    command: run-docker-dev.sh
    tty: true
    stdin_open: true


proxy:
    image: nginx
    ports:
      - "80:80"
    links:
      - "eins_static"
      - "eins"
    volumes:
      - "./docker/nginx-dev.conf:/etc/nginx/nginx.conf"
