@import 'variables';

.zem-no-rows-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.zem-no-rows-overlay__text {
    color: @color--dark-neutral;
}
