.zem-publisher-groups-component__show-collapsed {
    display: block;
    text-align: center;
    padding: 10px @default-spacing;
    background-color: @very-light-gray;
    color: @secondary-color;

    &:hover {
        color: @secondary-color;
    }
}

.zem-publisher-groups-component__hide-collapsed {
    &:extend(.zem-publisher-groups-component__show-collapsed);
    margin-top: 0;
    background-color: darken(@very-light-gray,3%);

    &:hover {
        color: @secondary-color;
    }
}

.zem-publisher-groups-component__collapsed {
    margin-top: 0px;
    padding: @default-spacing @default-spacing 20px @default-spacing;
    background-color: @very-light-gray;

    .table {
        tr td {
            border-bottom: 1px solid tint(@secondary-color, 80%);
        }
    }
}
