@import 'variables';

.zem-inventory-planning-summary {
    display: block;
}

.zem-inventory-planning-summary__info-container {
    float: left;
    width: 30%;
    height: 300px;
}

.zem-inventory-planning-summary__chart-container {
    float: left;
    width: 70%;
    height: 300px;
    padding-left: @default-spacing;
}
