<div class="custom-panel zem-inventory-planning-summary__info-container">
    <div class="icon hammer-icon"></div>
    <div class="zem-inventory-planning-summary__value-name">Number of auctions:</div>
    <div class="zem-inventory-planning-summary__value">{{auctionCount}}</div>
</div>
<div class="zem-inventory-planning-summary__spacing"></div>
<div class="custom-panel zem-inventory-planning-summary__info-container">
    <div class="icon money-icon"></div>
    <div class="zem-inventory-planning-summary__value-name">Average CPM:</div>
    <div class="zem-inventory-planning-summary__value">${{avgCpm}}</div>
</div>
<div class="zem-inventory-planning-summary__spacing"></div>
<div class="custom-panel zem-inventory-planning-summary__chart-container">
    Chart placeholder
</div>
