<div class="dropdown-menu__search">
    <input
        id="search-column"
        class="input-text"
        type="text"
        ng-model="$ctrl.searchQuery"
        ng-keyup="$ctrl.onSearch($ctrl.searchQuery)"
        placeholder="Search"
    />
    <button
        class="button-as-link button-as-link--secondary-color"
        ng-click="$ctrl.onAllColumnsToggled({isChecked: true})"
    >
        Select All
    </button>
    <button
        class="button-as-link button-as-link--secondary-color"
        ng-click="$ctrl.onAllColumnsToggled({isChecked: false})"
    >
        Select None
    </button>
</div>
<div
    class="dropdown-menu__no-match"
    ng-if="$ctrl.filteredCategories.length === 0"
>
    No match
</div>
<div
    class="dropdown-menu__columns-container custom-scroller"
    ng-if="$ctrl.filteredCategories.length !== 0"
>
    <div
        class="dropdown-menu__category"
        ng-repeat="category in $ctrl.filteredCategories track by category.name"
    >
        <div
            class="dropdown-menu__category-name"
            zem-new-feature="{{ category.isNewFeature === true }}"
        >
            {{ category.name }}
            <zem-help-popover
                ng-if="category.helpText"
                content="{{ category.helpText }}"
                placement="top"
            ></zem-help-popover>
        </div>
        <div
            class="dropdown-menu__category-description"
            ng-if="category.description && !category.subcategories.length > 0"
        >
            {{ category.description }}
        </div>
        <ul
            class="dropdown-menu__list dropdown-menu__list--two-columns"
            ng-if="category.columns.length > 0"
        >
            <li
                class="dropdown-menu__list-item"
                ng-repeat="column in category.columns"
                zem-lazy-popover-visible="{{ $ctrl.getTooltip(column) }}"
                zem-lazy-popover-text="{{ $ctrl.getTooltip(column) }}"
                zem-lazy-popover-placement="left"
                zem-lazy-popover-animation-class="fade"
                zem-lazy-popover-append-to-body="true"
                is-internal="{{ column.data.internal }}"
            >
                <label
                    ng-click="!column.disabled && $ctrl.onColumnToggled({field: column.field})"
                >
                    <input
                        class="input-checkbox"
                        ng-disabled="column.disabled"
                        type="checkbox"
                        ng-checked="column.visible"
                    />
                    <span
                        class="checkbox-text"
                        ng-class="{disabled: column.disabled}"
                        >{{ column.data.name }}</span
                    >
                </label>
            </li>
        </ul>
        <zem-attribution-column-picker
            ng-if="category.name === $ctrl.categoryName.PIXELS"
            [pixel-columns]="category.subcategories"
            (toggle-column)="$ctrl.onColumnToggled($event)"
            (toggle-columns)="$ctrl.onColumnsToggled($event)"
        ></zem-attribution-column-picker>
    </div>
</div>
