@import 'variables';

.dropdown-menu__search {
    padding: @default-spacing;
    background-color: @very-light-gray;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: right;
    height: 85px;

    .input-text {
        margin-bottom: 5px;
    }

    .button-as-link {
        margin-left: 10px;
    }
}

.dropdown-menu__columns-container {
    max-height: 315px;
    overflow: auto;
    padding: @default-spacing;
}

.dropdown-menu__no-match {
    text-align: center;
    color: @gray;
    padding: @default-spacing;
}
