<div class="form" ng-if="$ctrl.hasPermission('zemauth.can_view_retargeting_settings') && !$ctrl.hasPermission('zemauth.can_target_custom_audiences')"
     ng-class="{'form--error': !!$ctrl.errors.retargetingIds}">
    <div class="form__title" is-internal="zemauth.can_view_retargeting_settings">Retargeting</div>
    <div class="form__text m-b">Content ads will only be shown to people who have already seen an ad from selected ad groups.</div>
    <div class="form__checkbox">
        <label>
            <input class="input-checkbox" type="checkbox" id="enable-retargeting" ng-model="$ctrl.retargetingEnabled">
            <span class="checkbox-text" for="enable-retargeting">Enable retargeting</span>
        </label>
    </div>
    <div class="message message--warning message--with-icon m-t"
         ng-if="$ctrl.retargetingEnabled && $ctrl.entity.warnings.retargeting !== undefined">
        {{ $ctrl.entity.warnings.retargeting.text }} {{ $ctrl.entity.warnings.retargeting.sourcesText }}.
    </div>

    <div ng-if="$ctrl.retargetingEnabled && $ctrl.entity.warnings.retargeting === undefined">
        <zem-retargeting
            zem-selected-adgroup-ids="$ctrl.entity.settings.retargetingAdGroups"
            zem-retargetable-adgroups="$ctrl.entity.retargetableAdGroups"
            zem-account="account"
            class="ui-select-bigdrop"
        ></zem-retargeting>
    </div>
</div>

<div class="form" ng-if="$ctrl.hasPermission('zemauth.can_target_custom_audiences')"
     ng-class="{'form--error': !!$ctrl.errors.audienceTargeting || !!$ctrl.errors.exclusionAudienceTargeting || !!$ctrl.errors.retargetingAdGroups || !!$ctrl.errors.exclusionRetargetingAdGroups}">

    <div class="form__title" is-internal="zemauth.can_target_custom_audiences">Audience targeting</div>
    <div class="form__text m-b">Target people you have seen previously. Audience targeting can be based on pixels you placed or on clicks to other ad groups.</div>
    <div class="form__checkbox">
        <label>
            <input class="input-checkbox" type="checkbox" id="enable-audience-targeting" ng-model="$ctrl.retargetingEnabled">
            <span class="checkbox-text" for="enable-audience-targeting">Enable audience targeting</span>
        </label>
    </div>
    <div class="message message--warning message--with-icon m-t"
         ng-if="$ctrl.retargetingEnabled && $ctrl.entity.warnings.retargeting !== undefined">
        {{ $ctrl.getTargetingWarningMessage() }}
    </div>

    <div ng-if="$ctrl.retargetingEnabled && $ctrl.entity.warnings.retargeting === undefined">
        <zem-inclusion-targeting-list-legacy
            texts="$ctrl.texts"
            targetings="$ctrl.allTargetings"
            add-targeting="$ctrl.addTargeting(targeting)"
            remove-targeting="$ctrl.removeTargeting(targeting)"
        ></zem-inclusion-targeting-list-legacy>
    </div>

    <div class="message message--error" ng-repeat="error in $ctrl.errors.retargetingAdGroups">{{ error }}</div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.exclusionRetargetingAdGroups">{{ error }}</div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.audienceTargeting">{{ error }}</div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.exclusionAudienceTargeting">{{ error }}</div>
</div>
