@import 'variables';

.zem-info-cell__main-content {
    display: block;
}

.zem-info-cell__main-content--with-info {
    color: @text-color--lighter;
}

.zem-info-cell__info .zem-help-popover__trigger {
    position: relative;
    top: -1px;
}
