<div class="modal-header">
    <h3 class="modal-title">Facebook page changed</h3>
</div>
<div class="modal-body">
    A partner request will be sent to the manager of the Facebook Page you have
    entered. <br />
    <br />
    After the request is approved you will be able to turn on Facebook and
    Instagram media sources and start running your ads there.
</div>
<div class="modal-footer buttons-panel">
    <button
        class="button button--highlight button--with-icon add-icon"
        type="button"
        ng-click="ok()"
    >
        Ok
    </button>
    <button class="button button--outline" type="button" ng-click="cancel()">
        Cancel
    </button>
</div>
