<zem-text-form-group
    class="zem-deal-edit-form__item zem-text-form-group"
    *ngIf="!!deal.id"
    [isDisabled]="true"
    [label]="'Created by'"
    [value]="deal.createdBy"
></zem-text-form-group>
<zem-text-form-group
    class="zem-deal-edit-form__item zem-text-form-group"
    [isDisabled]="isDisabled"
    [label]="'Deal name'"
    [value]="deal.name"
    [placeholder]="'Deal name'"
    [errors]="dealErrors?.name"
    (valueChange)="onNameChange($event)"
></zem-text-form-group>
<zem-text-form-group
    class="zem-deal-edit-form__item zem-text-form-group"
    [isDisabled]="isDisabled"
    [label]="'Deal ID'"
    [value]="deal.dealId"
    [placeholder]="'Deal ID'"
    [errors]="dealErrors?.dealId"
    (valueChange)="onDealIdChange($event)"
></zem-text-form-group>
<zem-select-form-group
    class="zem-deal-edit-form__item zem-select-form-group"
    [isDisabled]="!!deal.id || isDisabled"
    [label]="'Source'"
    [value]="deal.source"
    [bindLabel]="'name'"
    [bindValue]="'slug'"
    [items]="sources"
    [placeholder]="'Choose source'"
    [isSearchable]="true"
    [isClearable]="true"
    [orderByValue]="'name'"
    [errors]="dealErrors?.source"
    (valueChange)="onSourceChange($event)"
></zem-select-form-group>
<zem-decimal-form-group
    class="zem-deal-edit-form__item zem-decimal-form-group"
    [isDisabled]="isDisabled"
    [label]="'Floor price'"
    [helpMessage]="
        'The Price Floor for impressions to be sold programmatically via an online auction is the minimum closing price set by the publisher. Imputed price is for informational use only and it will not affect your set bid.'
    "
    [value]="deal.floorPrice"
    [placeholder]="'0.00'"
    [errors]="dealErrors?.floorPrice"
    [fractionSize]="2"
    (valueChange)="onFloorPriceChange($event)"
></zem-decimal-form-group>
<zem-date-form-group
    class="zem-deal-edit-form__item zem-date-form-group"
    [isDisabled]="isDisabled"
    [label]="'Valid from'"
    [helpMessage]="
        'Publisher can set a start date for each deal and inventory is available only after this date till expiry. Imputed date is for your informational purposes only.'
    "
    [value]="deal.validFromDate"
    [errors]="dealErrors?.validFromDate"
    (valueChange)="onValidFromDateChange($event)"
></zem-date-form-group>
<zem-date-form-group
    class="zem-deal-edit-form__item zem-date-form-group"
    [isDisabled]="isDisabled"
    [label]="'Valid to'"
    [helpMessage]="
        'Publisher can set an expiry date for each deal and inventory is no longer available after this date. Imputed date is for your informational purposes only.'
    "
    [value]="deal.validToDate"
    [errors]="dealErrors?.validToDate"
    (valueChange)="onValidToDateChange($event)"
></zem-date-form-group>
<zem-textarea-form-group
    class="zem-deal-edit-form__item zem-textarea-form-group"
    [isDisabled]="isDisabled"
    [label]="'Notes'"
    [value]="deal.description"
    [rows]="'10'"
    [maxLength]="256"
    [errors]="dealErrors?.description"
    (valueChange)="onDescriptionChange($event)"
></zem-textarea-form-group>
