@import 'variables';

.zem-deal-edit-form {
    display: block;
}

.zem-deal-edit-form__item {
    display: block;
    margin-bottom: @zem-form-group__items-spacing--default;
}

.zem-deal-edit-form__item:last-child {
    margin-bottom: 0px;
}

.zem-deal-edit-form__text-form-group .zem-form-group__label {
    flex: 0 0 150px;
}

.zem-deal-edit-form__select-form-group .zem-form-group__label {
    flex: 0 0 150px;
}

.zem-deal-edit-form__decimal-form-group .zem-form-group__label {
    flex: 0 0 150px;
}

.zem-deal-edit-form__date-form-group .zem-form-group__label {
    flex: 0 0 150px;
}

.zem-deal-edit-form__textarea-form-group .zem-form-group__label {
    flex: 0 0 150px;
}
