<div class="zem-settings-form-group">
    <label
        class="zem-settings-form-group__label zem-settings-form-group__label--match-input-height"
    >
        {{ label }}
        <zem-help-popover
            class="zem-help-popover"
            *ngIf="helpMessage"
            [content]="helpMessage"
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-settings-form-group__content">
        <div class="zem-settings-form-group__content-item">
            <div class="zem-date-setting__inputs-container">
                <zem-date-input
                    class="zem-date-input zem-settings-form-group__input zem-date-setting__input"
                    [value]="model"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    [isDisabled]="isManualOverrideEnabled || isDisabled"
                    [isFocused]="isFocused"
                    [hasError]="errors && errors.length > 0"
                    (valueChange)="onValueChange($event)"
                ></zem-date-input>
                <zem-checkbox-input
                    class="zem-checkbox-input zem-date-setting__input"
                    *ngIf="allowManualOverride"
                    [isChecked]="isManualOverrideEnabled"
                    [isDisabled]="isDisabled"
                    (toggle)="onManualOverrideToggle($event)"
                >
                    {{ manualOverrideLabel }}
                </zem-checkbox-input>
            </div>
        </div>
        <div
            class="zem-settings-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
    </div>
</div>
