@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-date-setting__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -@zem-settings__items-spacing--default;
    margin-left: -@zem-settings__items-spacing--default;
}

.zem-date-setting__input {
    margin-top: @zem-settings__items-spacing--default;
    margin-left: @zem-settings__items-spacing--default;
    line-height: 1;
}
