@import 'variables';

.zem-date-setting__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -@spacing--default / 2;
    margin-left: -@spacing--default / 2;
}

.zem-date-setting__input {
    margin-top: @spacing--default / 2;
    margin-left: @spacing--default / 2;
    line-height: 1;
}
