@import 'variables';

.zem-rule-edit-form-condition-conversion-pixel {
    display: block;
}

.zem-rule-edit-form-condition-conversion-pixel__section-label {
    font-weight: 500;
    margin-bottom: @zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition-conversion-pixel__section-label--error {
    color: @color--danger;
}

.zem-rule-edit-form-condition-conversion-pixel__section {
    margin-top: @zem-form-group__items-spacing--default;

    &:last-child {
        margin-bottom: @spacing--default;
    }
}

.zem-rule-edit-form-condition-conversion-pixel__section-label {
    font-weight: 700;
    margin-bottom: @zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition-conversion-pixel__pixel-selector-container {
    display: flex;
    align-items: center;
}

.zem-rule-edit-form-condition-conversion-pixel__pixel-selector-label {
    padding-right: @spacing--default;
}

.zem-rule-edit-form-condition-conversion-pixel__pixel-selector-item {
    min-width: 200px;
}
