<div class="zem-media-sources__item zem-media-sources__list">
    <div class="zem-media-sources__list-item">
        <label class="zem-media-sources__item">Available</label>
        <select
            class="zem-multiselect zem-media-sources__multiselect custom-scroller zem-media-sources__item"
            [(ngModel)]="selectedAvailableMediaSources"
            multiple=""
        >
            <option
                *ngFor="let mediaSource of formattedAvailableMediaSources"
                value="{{ mediaSource.id }}"
                >{{ getMediaSourceText(mediaSource) }}</option
            >
        </select>
        <button
            class="zem-button-legacy zem-button-legacy--full-width zem-media-sources__item"
            [disabled]="
                selectedAvailableMediaSources.length === 0 || isDisabled
            "
            (click)="addToAllowedMediaSources()"
        >
            Move to allowed
            <span class="zem-media-sources__inline-arrow-icon"></span>
        </button>
    </div>
    <div class="zem-media-sources__list-item">
        <label class="zem-media-sources__item">Allowed</label>
        <select
            class="zem-multiselect zem-media-sources__multiselect custom-scroller zem-media-sources__item"
            [(ngModel)]="selectedAllowedMediaSources"
            multiple=""
        >
            <option
                *ngFor="let mediaSource of formattedAllowedMediaSources"
                value="{{ mediaSource.id }}"
                >{{ getMediaSourceText(mediaSource) }}</option
            >
        </select>
        <button
            class="zem-button-legacy zem-button-legacy--full-width zem-media-sources__item"
            [disabled]="selectedAllowedMediaSources.length === 0 || isDisabled"
            (click)="removeFromAllowedMediaSources()"
        >
            <span
                class="zem-media-sources__inline-arrow-icon zem-media-sources__inline-arrow-icon--left"
            ></span>
            Remove from allowed
        </button>
    </div>
</div>
<div
    class="zem-message zem-message--bubble zem-message--warning zem-message--with-icon"
    *ngFor="let error of allowedMediaSourcesErrors"
>
    {{ error }}
</div>
