<span
    *ngIf="displayOptions.text"
    class="zem-icon-tooltip-cell__text {{ displayOptions.textStyleClass }}"
    [zemPopover]="
        displayOptions.textTooltipTemplate
            ? templatedTextTooltip
            : displayOptions.textTooltip
    "
    [placement]="displayOptions.placement"
    triggers="mouseenter:mouseleave"
    container="body"
    >{{ displayOptions.text }}</span
>
<span
    *ngIf="displayOptions.iconTooltip"
    class="zem-icon-tooltip-cell__icon {{ displayOptions.icon }}"
    [zemPopover]="
        displayOptions.iconTooltipTemplate
            ? templatedIconTooltip
            : displayOptions.iconTooltip
    "
    [placement]="displayOptions.placement"
    triggers="mouseenter:mouseleave"
    container="body"
></span>
<ng-container *ngIf="!displayOptions.iconTooltip && !displayOptions.text">
    N/A
</ng-container>

<ng-template #templatedTextTooltip>
    <ng-container
        *ngTemplateOutlet="
            displayOptions.textTooltipTemplate;
            context: {$implicit: displayOptions.textTooltip}
        "
    ></ng-container>
</ng-template>

<ng-template #templatedIconTooltip>
    <ng-container
        *ngTemplateOutlet="
            displayOptions.iconTooltipTemplate;
            context: {$implicit: displayOptions.iconTooltip}
        "
    ></ng-container>
</ng-template>
