@import 'variables';

.zem-icon-tooltip-cell__icon {
    display: block;
    width: 20px;
    height: 20px;
}

.zem-icon-tooltip-cell__icon--comment {
    background: url('@{images-folder}/comment-sec.svg') no-repeat center;
    background-size: 20px;
}
