<ng-select
    #zemSelect
    class="zem-ng-select zem-select-input__dropdown"
    [class.zem-ng-select--error]="hasError"
    [class.zem-ng-select--warning]="isWarning"
    [class.zem-select-input__dropdown--with-icon]="statusIcon || isLoading"
    placeholder="{{ placeholder }}"
    bindLabel="{{ bindLabel }}"
    bindValue="{{ bindValue }}"
    [appendTo]="appendTo"
    [items]="formattedItems"
    [ngModel]="model"
    [disabled]="isDisabled"
    [searchable]="isSearchable"
    [groupBy]="groupByValue"
    [clearable]="isClearable"
    [closeOnSelect]="closeOnSelect"
    [searchFn]="searchFn"
    [addTag]="addCustomItemFn"
    addTagText="{{ addCustomItemText }}"
    [dropdownPosition]="dropdownPosition"
    [multiple]="isMultiple"
    [loadingText]="loadingText"
    (open)="open.emit()"
    (search)="onSearch($event.term)"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
>
    <ng-template ng-optgroup-tmp let-item="item">
        <ng-container
            *ngTemplateOutlet="
                optionGroupTemplate
                    ? optionGroupTemplate
                    : defaultOptionGroupTemplate;
                context: {item: item}
            "
        ></ng-container>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <ng-container
            *ngTemplateOutlet="
                optionTemplate ? optionTemplate : defaultOptionTemplate;
                context: {item: item, search: search}
            "
        ></ng-container>
    </ng-template>
</ng-select>

<ng-template #defaultOptionGroupTemplate let-item="item">
    {{ item[groupByValue] }}
</ng-template>
<ng-template #defaultOptionTemplate let-item="item" let-search="search">
    <span [zemTextHighlight]="search">{{ item[bindLabel] }}</span>
</ng-template>

<span
    *ngIf="statusIcon === 'valid'"
    class="zem-select-input__icon zem-select-input__icon--valid icon-check"
></span>
<ng-container *ngIf="statusIcon === 'loading' || isLoading">
    <ng-container
        *ngTemplateOutlet="
            loaderTemplate ? loaderTemplate : defaultLoaderTemplate
        "
    ></ng-container>
</ng-container>

<ng-template #defaultLoaderTemplate>
    <zem-loader
        class="zem-loader zem-loader--small zem-select-input__icon"
    ></zem-loader>
</ng-template>
