<ng-select
    #zemSelect
    class="zem-ng-select"
    [ngClass]="{
        'zem-ng-select--error': hasError,
        'zem-ng-select--warning': isWarning
    }"
    placeholder="{{ placeholder }}"
    bindLabel="{{ bindLabel }}"
    bindValue="{{ bindValue }}"
    [appendTo]="appendTo"
    [items]="formattedItems"
    [ngModel]="model"
    [disabled]="isDisabled"
    [searchable]="isSearchable"
    [groupBy]="groupByValue"
    [clearable]="isClearable"
    [closeOnSelect]="closeOnSelect"
    [loading]="isLoading"
    [searchFn]="searchFn"
    [addTag]="addCustomItemFn"
    addTagText="{{ addCustomItemText }}"
    [dropdownPosition]="dropdownPosition"
    [multiple]="isMultiple"
    (open)="open.emit()"
    (search)="onSearch($event.term)"
    (change)="onChange($event)"
>
    <ng-template ng-optgroup-tmp let-item="item">
        <ng-container
            *ngTemplateOutlet="
                optionGroupTemplate
                    ? optionGroupTemplate
                    : defaultOptionGroupTemplate;
                context: {item: item}
            "
        ></ng-container>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <ng-container
            *ngTemplateOutlet="
                optionTemplate ? optionTemplate : defaultOptionTemplate;
                context: {item: item, search: search}
            "
        ></ng-container>
    </ng-template>
</ng-select>

<ng-template #defaultOptionGroupTemplate let-item="item">
    {{ item[groupByValue] }}
</ng-template>
<ng-template #defaultOptionTemplate let-item="item" let-search="search">
    <span [zemTextHighlight]="search">{{ item[bindLabel] }}</span>
</ng-template>
