@import 'variables';

.zem-select-input {
    position: relative;
    display: flex;
    align-items: center;
}

.zem-select-input__dropdown {
    flex-grow: 1;
}

.zem-select-input__dropdown--with-icon .ng-arrow-wrapper {
    margin-left: 30px;
}

.zem-select-input__icon {
    position: absolute;
    width: 24px;
    background-size: 24px;
    right: 26px;
    z-index: 1001;
}

.zem-select-input__icon--valid {
    color: #9c0;
    margin-top: 4px;
    font-size: 24px;
}

.zem-select-input__icon--loading {
    right: 26px;
}

/////////////////////////
// ng-select overrides //
/////////////////////////

.ng-select.zem-ng-select {
    .ng-select-container {
        background: white;
        border: 1px solid @border-color--default;
        border-radius: @border-radius--default;
        min-height: @input__height--default;
        box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
        align-items: center;

        .ng-clear-wrapper {
            width: auto;
        }
    }

    &.ng-select-opened,
    &.ng-select-focused {
        .ng-select-container {
            border: 1px solid darken(@border-color--default, 20%);
            outline: none;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        }
    }

    &.ng-select-disabled {
        > .ng-select-container {
            background-color: @color--lightest-neutral;
            color: @text-color--light;
        }

        > .ng-select-container .ng-value-container .ng-input > input {
            cursor: not-allowed;
        }
    }

    &.ng-select-single {
        > .ng-select-container {
            height: @input__height--default;
        }

        &:not(.ng-select-disabled)
            > .ng-select-container
            .ng-value-container
            .ng-input
            > input {
            cursor: pointer;
        }

        &:not(.ng-select-disabled)&:not(.ng-select-opened)
            > .ng-select-container {
            &:hover {
                border: 1px solid darken(@border-color--default, 20%);
                outline: none;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.ng-select.zem-ng-select--error .ng-select-container {
    border-color: @color--danger;
}

.ng-select.zem-ng-select--warning .ng-select-container {
    border-color: @color--primary;
    box-shadow: inset 3px 3px 3px 0px fadeout(@color--primary, 95%);
}

.ng-select.zem-ng-select--warning.ng-select-single:not(.ng-select-disabled).ng-select.zem-ng-select.ng-select-single:not(.ng-select-opened)
    > .ng-select-container:hover {
    border: 1px solid darken(@color--primary, 5%);
    box-shadow: 0px 0px 5px 0px fadeout(@color--primary, 25%);
}

.ng-dropdown-panel {
    background: white;
    border: 1px solid darken(@border-color--default, 20%) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    line-height: @zem-form-group__line-height--default;
    z-index: @z-index--popover !important;

    .ng-dropdown-panel-items {
        margin-bottom: 0;
        .ng-option {
            &.ng-option-selected,
            &.ng-option-selected.ng-option-marked {
                background-color: @color--secondary;
                color: white;
            }

            &.ng-option-marked {
                background-color: @color--lightest-neutral;
            }
        }
    }
}

.zem-ng-select.ng-select.ng-select-multiple {
    .ng-select-container {
        .ng-value-container {
            .ng-value {
                background: @color--secondary;

                .ng-value-icon {
                    color: white;

                    &:hover {
                        background: @color--secondary;
                    }
                }
                .ng-value-label {
                    background: tint(@color--secondary, 70%);
                    color: @color--secondary;
                }
            }
        }
    }
}
