<ng-select
    #zemSelect
    class="zem-ng-select"
    [ngClass]="{'zem-ng-select--error': hasError}"
    placeholder="{{ placeholder }}"
    bindLabel="{{ bindLabel }}"
    bindValue="{{ bindValue }}"
    [appendTo]="appendTo"
    [items]="formattedItems"
    [ngModel]="model"
    [disabled]="isDisabled"
    [searchable]="isSearchable"
    [groupBy]="groupByValue"
    [clearable]="isClearable"
    (change)="onChange($event)"
>
    <ng-template ng-optgroup-tmp let-item="item">
        {{ item[groupByValue] }}
    </ng-template>
</ng-select>
