<div class="container-fluid" ng-controller="ActionLogCtrl">
    <div class="row header" ng-include src="config.static_url + '/partials/header.html'"></div>

    <div class="row body">
        <div class="col-xs-12 content">
            <div ui-view></div>
        </div>
    </div>

    <div class="section action-log-list">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        State
                        <div class="btn-group" dropdown is-open="dropdownIsOpen">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle">
                                {{filters.selected.state[1]}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu filter-dropdown" role="menu">
                                <li ng-repeat="choice in filters.items.state">
                                    <a href="" ng-click="filters.update('state', choice)">{{choice[1]}}</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th>Action</th>
                    <th>Ad Group Network</th>
                    <th>Created</th>
                    <th>Created By</th>
                    <th>Modified</th>
                    <th>Modified By</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="loadRequestInProgress && !actionLogItems.length">
                    <td colspan="7" class="loader-row">
                        <img class="loader" ng-src="{{ config.static_url }}/img/loader.svg">
                    </td>
                </tr>
                <tr ng-show="!actionLogItems.length && !loadRequestInProgress">
                    <td class="no-data" colspan="7">No data available.</td>
                </tr>
                <tr ng-repeat="log in actionLogItems">
                    <td class="status {{log.state[0] | lowercase}}">{{log.state[0]}}</td>
                    <td>{{log.take_action}}</td>
                    <td>{{log.ad_group_network[0]}}</td>
                    <td>{{log.created_dt}}</td>
                    <td>{{log.created_by[0]}}</td>
                    <td>{{log.modified_dt}}</td>
                    <td>{{log.modified_by[0]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row footer" ng-include src="config.static_url + '/partials/footer.html'"></div>
</div>

