<div class="page page-ad-group-ads">
    <div class="section" ng-show="isChartShown">
        <zem-chart zem-data="chartData" zem-metric1="chartMetric1" zem-metric2="chartMetric2" zem-metric1-values="options.networkChartMetrics" zem-metric2-values="options.networkChartMetrics"></zem-chart>
    </div>

    <div class="section table-ad-group-ads">
        <div class="button-bar">
            <select ui-select2="{minimumResultsForSearch: -1}" ng-model="exportType" ng-change="downloadReport()" data-placeholder="Download Report" class="export">
                <option value=""></option>
                <option value="csv">CSV by day</option>
                <option value="excel">Excel by day</option>
            </select>
            <zem-custom-table-cols class='pull-right' columns='columns'></zem-custom-table-cols>
            <a id="chart-btn" ng-attr-title="{{ chartBtnTitle }}" class="btn btn-default pull-right" ng-click="toggleChart()"><img ng-src="{{ config.static_url }}/img/chart.svg"></a>
            <div class="clearfix"></div>
        </div>

        <alert type="info" class="alert-sync" ng-show="!isSyncRecent">
            We are experiencing a delay synchronizing reporting metrics. The last successful sync took place {{ lastSyncDate.fromNow() }}. If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
        </alert>

        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Title</th>
                    <th class="text-right" ng-repeat="col in columns | filter: {checked: true}">{{ col.name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="loadRequestInProgress && !rows.length">
                    <td colspan="7" class="loader-row">
                        <img class="loader" ng-src="{{ config.static_url }}/img/loader.svg">
                    </td>
                </tr>
                <tr ng-show="!rows.length && !loadRequestInProgress">
                    <td class="no-data" colspan="7">No data</td>
                </tr>
                <tr ng-repeat="row in rows">
                    <td colspan="2"><a href="{{ row.url }}">{{ row.title }}</a></td>
                    <td class="text-right number" ng-repeat="col in columns | filter: {checked: true}">
                        <span ng-switch="col.type">
                            <span ng-switch-when="currency">
                                {{ (row[col.field] | currency:"$") || 'N/A' }}
                            </span>
                            <span ng-switch-when="percent">
                                {{ (row[col.field] | number:2) || '0.0' }}%
                            </span>
                            <span ng-switch-when="number">
                                {{ (row[col.field] | number:0) || 'N/A' }}
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">TOTALS</td>
                    <td class="text-right number" ng-repeat="col in columns | filter: {checked: true}">
                        <span ng-switch="col.type">
                            <span ng-switch-when="currency">
                                {{ (totals[col.field] | currency:"$") || 'N/A' }}
                            </span>
                            <span ng-switch-when="percent">
                                {{ (totals[col.field] | number:2) || '0.0' }}%
                            </span>
                            <span ng-switch-when="number">
                                {{ (totals[col.field] | number:0) || 'N/A' }}
                            </span>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="last-sync">* Reporting metrics synced {{ lastSyncDate.fromNow() }}.</div>
        
        <div class="pagination" ng-show="rows">
            <span>Go to page</span>
            <form ng-submit="loadPage()">
                <input class="page-num form-control" type="number" min="1" max="{{ pagination.numPages }}" ng-model="pagination.currentPage">
            </form>

            <span>Show rows</span>
            <select ui-select2="{minimumResultsForSearch: -1, dropdownCssClass: 'show-rows'}" class="show-rows" ng-model="pagination.size" ng-change="loadPage()">
                <option ng-repeat="number in sizeRange" value="{{ number }}">{{ number }}</option>
            </select>

            <div ng-disabled="pagination.currentPage == 1" class="btn btn-default" ng-click="loadPage(1)"><img ng-src="{{ config.static_url }}/img/arrow-first.svg"></div>
            <div ng-disabled="pagination.currentPage == 1" class="btn btn-default" ng-click="loadPage(pagination.currentPage - 1)"><img ng-src="{{ config.static_url }}/img/arrow-prev.svg"></div>
            <span class="current-rows">{{ pagination.startIndex}} - {{ pagination.endIndex }} of {{ pagination.count }}</span>
            <div ng-disabled="pagination.currentPage == pagination.numPages" class="btn btn-default" ng-click="loadPage(pagination.currentPage + 1)"><img ng-src="{{ config.static_url }}/img/arrow-next.svg"></div>
            <div ng-disabled="pagination.currentPage == pagination.numPages" class="btn btn-default" ng-click="loadPage(pagination.numPages)"><img ng-src="{{ config.static_url }}/img/arrow-last.svg"></div>
            <img ng-if="loadRequestInProgress && rows" class="loader" ng-src="{{ config.static_url }}/img/loader.svg">
        </pagination>
    </div>
</div>
