<div class="page page-campaign-agency">
    <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)" ng-bind-html="alert.message"></alert>

    <form id="form-campaign-agency" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.name}">
            <label for="name-input" class="col-xs-3 control-label">Name</label>
            <div class="col-xs-3">
                <input id="name-input" type="text" class="form-control" ng-model="settings.name">
            </div>

            <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.accountManager}">
            <label for="account-manager-select" class="col-xs-3 control-label">Account Manager</label>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 5}" id="account-manager-select" class="form-control" ng-model="settings.accountManager">
                    <option ng-repeat="manager in accountManagers" value="{{ manager.id }}">{{ manager.name }}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.accountManager" class="control-label error" for="account-manager-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.salesRepresentative}">
            <label for="sales-representative-select" class="col-xs-3 control-label">Sales Representative</label>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 5}" id="sales-representative-select" class="form-control" ng-model="settings.salesRepresentative">
                    <option ng-repeat="rep in salesReps" value="{{ rep.id }}">{{ rep.name }}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.salesRepresentative" class="control-label error" for="sales-representative-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.serviceFee}">
            <label for="service-fee-select" class="col-xs-3 control-label">Service Fee</label>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 10}" id="service-fee-select" class="form-control" ng-model="settings.serviceFee">
                    <option ng-repeat="fee in options.serviceFees" value="{{fee.value}}">{{fee.name}}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.serviceFee" class="control-label error" for="service-fee-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.IABCategory}">
            <label for="iab-category-select" class="col-xs-3 control-label">IAB Category</label>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 2}" id="iab-category-select" class="form-control" ng-model="settings.IABCategory">
                    <option ng-repeat="category in options.iabCategories" value="{{category.value}}">{{category.name}}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.IABCategory" class="control-label error" for="iab-category-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.promotionGoal}">
            <label for="promotion-goal-select" class="col-xs-3 control-label">Promotional goal</label>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 10}" id="promotion-goal-select" class="form-control" ng-model="settings.promotionGoal">
                    <option ng-repeat="goal in options.promotionGoals" value="{{goal.value}}">{{goal.name}}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.promotionGoal" class="control-label error" for="promotion-goal-select">{{ error }}</label>
        </div>

		<button type="button" class="btn btn-primary" ng-click="saveSettings()">Save</button>
		<button type="button" class="btn btn-default" ng-click="discardSettings()">Discard</button>
        <div class="loader" ng-show="saveRequestInProgress"></div>
        <span ng-show="saved" class="success">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success">Your updates have been discarded.</span>
	</form>
</div>
