<div class="col-xs-2">
    <a ng-href="/"><img class="logo" ng-src="{{ config.static_url }}/img/logo_one.png"></a>
</div>

<div class="col-xs-8">
    <ol class="breadcrumb" ng-show="breadcrumb">
        <li ng-repeat="path in breadcrumb track by $index" ng-class="{'active': $last}">{{ path }}</li>
    </ol>
</div>

<div class="col-xs-2">
    <div class="content">
        <a href="mailto:help@zemanta.com" class="header-link">Contact support</a>
        <span class="profile dropdown">
            <a href class="dropdown-toggle">
                <img ng-src="{{ config.static_url }}/img/human.svg">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">{{ user.email }}</li>
                <li><a ng-href="/signout">Sign out</a></li>
            </ul>
        </span>
    </div>
</div>
