<div class="logo-container">
    <a ui-sref="{{ canAccessAllAccounts() ? getDefaultAllAccountsState() : getDefaultAdGroupState() }}"><img class="logo" ng-src="{{ config.static_url }}/img/logo_one.png"></a>
</div>

<div class="breadcrumb-container">
    <ol class="breadcrumb" ng-show="breadcrumb">
        <li ng-repeat="item in breadcrumb track by $index">
            <span ng-if="item.disabled" ng-class="{'active': $last}">{{ item.name }}</span>
            <a ng-if="!item.disabled" ui-sref="{{item.state}}" ng-class="{'active': $last}">{{ item.name }}</a>
        </li>
    </ol>
</div>

<div class="profile-container">
    <div class="content">
        <a href="mailto:help@zemanta.com" class="contact">Contact support</a>
        <span class="profile dropdown">
            <a href class="dropdown-toggle">
                <img ng-src="{{ config.static_url }}/img/human.svg">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">{{ user.email }}</li>
                <li><a ng-href="/signout">Sign out</a></li>
            </ul>
        </span>
    </div>
</div>
