<div class="container-fluid" ng-controller="MainCtrl">
    <div class="row header">
        <div class="col-xs-2">
            <img class="logo" ng-src="{{ config.static_url }}/img/logo_one.png">
        </div>
        
        <div class="col-xs-8">
            <ol class="breadcrumb">
                <li ng-repeat="path in breadcrumb" ng-class="{'active': $last}">{{ path }}</li>
            </ol>
        </div>

        <div class="col-xs-2">
            <div class="content">
                <a href="mailto:help@zemanta.com" class="contact">Contact support</a>
                <span class="profile dropdown">
                    <a href class="dropdown-toggle">
                        <img ng-src="{{ config.static_url }}/img/human.svg">
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a ng-href="/signout">Sign out</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

    <div class="row body">
        <div class="col-xs-2 sidebar" style="height: 100%">
            <div id="nav">
                <div class="account-group" ng-repeat="account in accounts">
                    <div class="account-name">{{ account.name }}</div>
                    <ul class="list-group">
                        <li class="campaign-group list-group-item" ng-repeat="campaign in account.campaigns">
                            <div class="campaign-name">{{ campaign.name }}</div>
                            <ul class="list-group ad-groups">
                                <a class="ad-group-item list-group-item" ui-sref-active="active" ui-sref="adGroups.settings({ id: adGroup.id})" ng-repeat="adGroup in campaign.adGroups">
                                    <img ng-src="{{ config.static_url }}/img/ad_group.svg">
                                    <span class="ad-group-name">{{ adGroup.name }}</span>
                                </a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-10 content">
            <tabset class="zem-tabset">
                <tab ng-repeat="tab in tabs" active="tab.active">
                    <tab-heading>
                        <a ui-sref="{{ tab.route }}">{{ tab.heading }}</a>
                    </tab-heading>
                </tab>
            </tabset>

            <div ui-view></div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-xs-12">
            <span class="terms"><a href="#">Terms Of Service</a></span>
            <span class="copyright">All rights reserved &copy; <a href="http://www.zemanta.com">Zemanta.com</a></span>
        </div>
    </div>
</div>
