<div class="container-fluid" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-xs-2">
            <div>Hello world</div>
        </div>
        <div class="col-xs-10">
            <tabset class="zem-tabset">
                <tab ng-repeat="tab in tabs" active="tab.active">
                    <tab-heading>
                        <a ui-sref="{{ tab.route }}">{{ tab.heading }}</a>
                    </tab-heading>
                </tab>
            </tabset>

            <div ui-view></div>
        </div>
    </div>
</div>
