<div class="chart-container">
    <div class="chart-selector">
        <select ui-select2="select2Metric1Config" ng-model="metric1" class="metric1">
            <option ng-repeat="metric in metricOptions" ng-class="{internal: metric.internal}" value="{{ metric.value }}">{{metric.name}}</option>
        </select>

        <span class="middle-text">VS.</span>

        <select ui-select2="select2Metric2Config" ng-model="metric2" class="metric2">
            <option value="none">None</option>
            <option ng-repeat="metric in metricOptions" ng-class="{internal: metric.internal}" value="{{ metric.value }}">{{metric.name}}</option>
        </select>
    </div>
    <ul class="chart-legend">
        <li ng-repeat="item in legendItems">
            <div class="legend-item" style="background-color: {{ item.color1 }}; border: 1px solid {{ item.color1 }}">
                <div class="btn-remove" ng-class="{disabled: item.id === null && legendItems.length === 1}" ng-click="onRemove({id: item.id})">
                    <img ng-src="{{ appConfig.static_url }}/img/x.svg">
                </div>
                <div class="text" style="background-color: {{ item.color2 }}">{{ item.name }}</div>
            </div>
        </li>
    </ul>
    <div class="no-data" ng-show="!hasData"><span>No data</span></div>
    <div highchart config="config" class="chart"></div>
