<button ng-click="$ctrl.close()" class="zem-side-panel__close"></button>

<div class="zem-settings__header">
    <h1 class="zem-settings__header-title">
        <div class="zem-settings__header-title--location">
            {{ $ctrl.settingsTitle }}
        </div>
        {{ $ctrl.entity.settings.name }}
    </h1>
    <a
        class="alternative-link zem-settings__admin-link"
        href="{{ $ctrl.adminLink }}"
        target="_blank"
        ng-if="$ctrl.hasPermission('zemauth.can_see_open_in_admin')"
        is-internal="zemauth.can_see_open_in_admin"
    >
        Open in Admin
    </a>
</div>

<div class="zem-settings__body custom-scroller" ng-if="!$ctrl.entity.archived">
    <div zem-settings-transclude="settings" class="form-horizontal"></div>
    <div
        zem-settings-transclude="custom"
        ng-if="$ctrl.entity"
        class="form-horizontal"
    ></div>
</div>

<div class="zem-settings__body custom-scroller" ng-if="$ctrl.entity.archived">
    <div class="zem-settings-component__container">
        <p>Entity is archived.</p>
    </div>
</div>

<!-- TODO: refactor - move to separate component -->
<div class="zem-settings__footer buttons-panel">
    <div class="zem-settings__footer-cell">
        <button
            type="button"
            class="button button--highlight button--with-icon check-icon zem-settings__save-button"
            ng-if="!$ctrl.entity.archived"
            ng-click="$ctrl.save()"
        >
            Save
        </button>
        <button
            type="button"
            class="button button--outline zem-settings__close-button"
            ng-click="$ctrl.close()"
        >
            Close
        </button>
        <div
            class="zem-settings__archive-button-container"
            ng-if="$ctrl.hasPermission('zemauth.archive_restore_entity')"
        >
            <zem-internal-feature
                ng-if="$ctrl.isPermissionInternal('zemauth.archive_restore_entity')"
                popover-placement="bottom"
            ></zem-internal-feature>
            <button
                ng-if="!$ctrl.entity.archived"
                type="button"
                class="button button--outline"
                ng-class="{'button--disabled': !$ctrl.entity.canArchive}"
                title="{{ $ctrl.getArchiveTooltip() }}"
                ng-click="$ctrl.archive()"
            >
                Archive {{ $ctrl.getEntityTypeName() }}
            </button>
            <button
                ng-if="$ctrl.entity.archived"
                type="button"
                class="button button--outline"
                ng-class="{'button--disabled': !$ctrl.entity.canRestore}"
                title="{{ $ctrl.getRestoreTooltip() }}"
                ng-click="$ctrl.restore()"
            >
                Restore {{ $ctrl.getEntityTypeName() }}
            </button>
        </div>
    </div>
    <div
        class="zem-settings__footer-cell zem-settings__footer-cell--right-side"
    >
        <div class="loader" ng-show="$ctrl.status.code === 1"></div>
        <div ng-show="$ctrl.status.code === 2" class="message message--error">
            {{ $ctrl.status.text }}
        </div>
    </div>
</div>
