@import 'variables';

.zem-user-edit-form {
    display: block;
}

.zem-user-edit-form__item {
    display: block;
    margin-bottom: @zem-form-group__items-spacing--default;
    padding-left: @spacing--default;
}

.zem-user-edit-form__item:last-child {
    margin-bottom: 0px;
}

.zem-user-edit-form__text-form-group .zem-form-group__label {
    flex: 0 0 var(--label-width);
}

.zem-user-edit-form__text-form-group .zem-form-group__content {
    flex: 1 1 120px;
}

.zem-user-edit-form__text-form-group--narrow {
    max-width: var(--accounts-width);
}

.zem-user-edit-form__text-form-group--medium {
    max-width: 450px;
}

.zem-user-edit-form__description {
    color: @text-color--lighter;
}

.zem-user-edit-form__item--indented {
    display: flex;
}

.zem-user-edit-form__item--indented::before {
    display: none;

    @media only screen and (min-width: @mobile-breakpoint) {
        content: '';
        display: block;
        flex: 0 0 var(--label-width);
    }
}
