@import 'variables';

.zem-user-edit-form {
    display: block;
}

.zem-user-edit-form__item {
    display: block;
    margin-bottom: @zem-form-group__items-spacing--default;
}

.zem-user-edit-form__item:last-child {
    margin-bottom: 0px;
}

.zem-user-edit-form__text-form-group .zem-form-group__label {
    flex: 0 0 150px;
}

.zem-user-edit-form__description {
    color: @text-color--lighter;
}

.zem-user-edit-form__item--indented {
    display: flex;
}

.zem-user-edit-form__item--indented::before {
    content: '';
    display: block;
    flex: 0 0 150px;
}
