<div class="zem-custom-audiences-targeting">
    <div ng-show="ctrl.selectedTargetings.length || ctrl.selectedExclusionTargetings.length" class="targeting-list form-group m-b-none">
        <div class="col-xs-3 m-t-xs" ng-if="ctrl.selectedTargetings.length">
            <div class="text-success">Included Audiences</div>
            <ul class="with-icons ul-checkmarks">
                <li class="targeting-list-tag" ng-repeat="entity in ctrl.selectedTargetings | orderBy:'type'">
                    <span ng-if="entity.type === 'adGroup'">
                        Ad group "{{entity.name}}" ({{ entity.id }})
                    </span>
                    <span ng-if="entity.type === 'audience'">
                        Audience "{{ entity.name }}"
                    </span>
                    <span ng-if="entity.archived">
                        (Archived)
                    </span>
                    <a href="" class="remove" ng-click="ctrl.removeSelectedTargeting(entity)">Remove</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3 m-t-xs" ng-if="ctrl.selectedExclusionTargetings.length">
            <div class="text-danger">Excluded Audiences</div>
            <ul class="with-icons ul-remove">
                <li class="targeting-list-tag" ng-repeat="entity in ctrl.selectedExclusionTargetings | orderBy:'type'">
                    <span ng-if="entity.type === 'adGroup'">
                        Ad group "{{entity.name}}" ({{ entity.id }})
                    </span>
                    <span ng-if="entity.type === 'audience'">
                        Audience "{{ entity.name }}" ({{ entity.id }})
                    </span>
                    <span ng-if="entity.archived">
                        (Archived)
                    </span>
                    <a href="" class="remove" ng-click="ctrl.removeSelectedExclusionTargeting(entity)">Remove</a>
                 </li>
             </ul>
         </div>
    </div>

    <ui-select theme="select2" ng-if="ctrl.availableAudiencesAndAdGroups.length" ng-model="ctrl.selectedTargeting" on-select="ctrl.addSelectedTargeting($select.selected)" class="larger m-t-s">
        <ui-select-match placeholder="Add Custom Audience">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices group-by="ctrl.groupBySection" repeat="entity in ctrl.availableAudiencesAndAdGroups | filter: {name: $select.search} track by entity.id" position="down">
            <div class="audience-select-option">
                <span ng-bind-html="entity.id + ' - ' + entity.name | highlight: $select.search"></span>
                <span class="audience-select-buttons">
                    <a ng-click="ctrl.addSelectedTargeting(entity)" class="text-success">Include</a> 
                    <a ng-click="ctrl.addSelectedExclusionTargeting(entity)" class="text-danger">Exclude</a>
                </span>
            </div>
        </ui-select-choices>
    </ui-select>
</div>
