<div class="zem-custom-audiences-targeting">
    <div ng-show="ctrl.selectedTargetings.length || ctrl.selectedAudienceTargeting.length || ctrl.selectedExclusionAudienceTargeting.length" class="targeting-list">
        <div class="targeting-list-item" ng-if="ctrl.selectedTargetings.length || ctrl.selectedAudienceTargeting.length">
            <div class="targeting-list-title">Targeted Audiences</div>
            <div class="targeting-list-tag" ng-repeat="entity in ctrl.selectedTargetings | orderBy:'type'" ng-click="ctrl.removeSelectedTargeting(entity)">
                <span ng-if="entity.type === 'adGroup'">
                    Users that clicked on ad group "{{entity.name}}" ({{ entity.id }})
                </span>
                <span ng-if="entity.type === 'audience'">
                    Users in audience "{{ entity.name }}" ({{ entity.id }})
                </span>
                <img class="remove" ng-src="{{ ctrl.config.static_url }}/one/img/x_gray.svg" />
            </div>
        </div>
        <div class="targeting-list-item" ng-if="ctrl.selectedExclusionTargetings.length">
            <div class="targeting-list-title">Excluded Audiences</div>
            <div class="targeting-list-tag" ng-repeat="entity in ctrl.selectedExclusionTargetings | orderBy:'type'" ng-click="ctrl.removeSelectedExclusionTargeting(entity)">
                <span ng-if="entity.type === 'adGroup'">
                    Users that clicked on ad group "{{entity.name}}" ({{ entity.id }})
                </span>
                <span ng-if="entity.type === 'audience'">
                    Users in audience "{{ entity.name }}" ({{ entity.id }})
                </span>
                <img class="remove" ng-src="{{ ctrl.config.static_url }}/one/img/x_gray.svg" />
             </div>
         </div>
    </div>

    <ui-select theme="select2" ng-if="ctrl.availableAudiencesAndAdGroups.length" ng-model="ctrl.selectedTargeting" on-select="ctrl.addSelectedTargeting($select.selected)">
        <ui-select-match placeholder="Add Custom Audience">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices group-by="ctrl.groupBySection" repeat="entity in ctrl.availableAudiencesAndAdGroups | filter: {name: $select.search} track by entity.id" position="down">
            <div class="audience-select-option">
                <span ng-bind-html="entity.id + ' - ' + entity.name + entity.suffix | highlight: $select.search"></span>
                <span class="audience-select-buttons">
                    <a ng-click="ctrl.addSelectedTargeting(entity)">Add</a> 
                    <a ng-click="ctrl.addSelectedExclusionTargeting(entity)">Exclude</a>
                </span>
            </div>
        </ui-select-choices>
    </ui-select>
</div>
