<div class="zem-settings-form-group">
    <label
        class="zem-settings-form-group__label zem-settings-form-group__label--match-input-height"
    >
        {{ label }}
        <zem-help-popover
            class="zem-help-popover"
            *ngIf="helpMessage"
            content="{{ helpMessage }}"
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-settings-form-group__content">
        <zem-select-input
            class="zem-settings-form-group__content-item zem-select-input"
            [value]="model"
            [bindLabel]="bindLabel"
            [bindValue]="bindValue"
            [items]="items"
            [placeholder]="placeholder"
            [isDisabled]="isDisabled"
            [isSearchable]="isSearchable"
            [groupByValue]="groupByValue"
            [isClearable]="isClearable"
            [hasError]="errors && errors.length > 0"
            (valueChange)="onValueChange($event)"
        ></zem-select-input>
        <div
            class="zem-settings-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
    </div>
</div>
