@import 'variables';
@import '../../styles/mixins.less';

////////////////////////////
// Header //
////////////////////////////

.zem-header {
    display: block;
    height: @zem-header__height;

    background: @header__background-color--left;
    background: -moz-linear-gradient(
        -45deg,
        @header__background-color--left 0%,
        @header__background-color--right 100%
    );
    background: -webkit-gradient(
        left top,
        right bottom,
        color-stop(0%, @header__background-color--left),
        color-stop(100%, @header__background-color--right)
    );
    background: -webkit-linear-gradient(
        -45deg,
        @header__background-color--left 0%,
        @header__background-color--right 100%
    );
    background: -o-linear-gradient(
        -45deg,
        @header__background-color--left 0%,
        @header__background-color--right 100%
    );
    background: -ms-linear-gradient(
        -45deg,
        @header__background-color--left 0%,
        @header__background-color--right 100%
    );
    background: linear-gradient(
        135deg,
        @header__background-color--left 0%,
        @header__background-color--right 100%
    );

    z-index: 999;
    width: 100%;
    transition: all @duration-and-timing-fn--default;
    transform: translateZ(0);
    will-change: transform;

    .dropdown.open {
        .zem-header__dropdown-menu {
            opacity: 1;
            visibility: visible;
        }
    }

    .button {
        height: 40px;
        background-color: fade(white, 20%);
        border: none;
        border-left: 1px solid fade(white, 0%);
        color: white !important;
        margin: 10px 0;
        transition: all @duration-and-timing-fn--default;

        &::before {
            top: 10px;
            transform: none;
        }

        &:not(.button--disabled):not([disabled]):hover {
            background-color: fade(white, 50%);
            border-left: 1px solid fade(white, 0%);
            color: white;
        }
    }

    .button--zem-header-filter-active {
        background-color: @color--darker-neutral;
        height: 50px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-sizing: border-box;
        padding-bottom: 10px;

        &:not(.button--disabled):not([disabled]):hover {
            background-color: @color--darker-neutral;
        }

        &::before {
            top: 10px;
            transform: none;
        }
    }

    .button--dropdown-toggle-icon:after {
        background-image: url('images/arrow-white.svg');
    }

    .button--with-icon {
        padding-left: 38px;

        &:before {
            left: 10px;
            width: 22px;
            height: 22px;
            background-size: 22px;
            transition: all @duration-and-timing-fn--default;
        }

        .button__input-field {
            padding-left: 45px;
        }
    }

    .button--with-input {
        padding: 0;

        .button__input-field {
            width: 255px;
            height: 40px;
            line-height: 40px;
        }
    }

    .filter-icon {
        &:before {
            background-image: url('images/filter-white.svg');
        }
    }

    .calendar-icon {
        &:before {
            background-image: url('images/calendar-white.svg');
        }
    }
}

.zem-header__logo-container {
    float: left;
    height: 60px;
    width: 200px;
    padding: 12px 20px 8px @spacing--default;
    background: url(images/zemanta-logo-squares-white.svg) no-repeat top left;
    background-size: 20px;
    transition: all @duration-and-timing-fn--default;
}

.zem-header__logo {
    display: block;
    height: 40px;
    background: @logo__background;
    transition: all @duration-and-timing-fn--default;
    margin: 0 auto;
}

.zem-header__dropdown-button {
    display: block;
    margin: 10px 0;
    height: 40px;
    padding: 10px 20px;
    transition: all @duration-and-timing-fn--default;

    &:hover {
        background-color: fade(white, 10%);
    }
}

.zem-header__dropdown-button-icon {
    width: 20px;
    transition: all @duration-and-timing-fn--default;
}

.zem-header__dropdown-button-icon--bigger {
    width: 30px;
    background-size: 30px;
}

.zem-header__dropdown-button--right-border {
    border-right: 1px solid fade(white, 20%);
}

.zem-header__dropdown-button--left-border {
    border-left: 1px solid fade(white, 20%);
}

.zem-header__dropdown-menu {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: white;
    display: block;
    z-index: 999;
    border-radius: 0;
    border-bottom-left-radius: @border-radius--default;
    border-bottom-right-radius: @border-radius--default;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    transition: all @duration-and-timing-fn--default;
    transform: translateZ(0);

    &::after {
        content: ' ';
        display: block;
        background: linear-gradient(
            to bottom,
            fade(black, 20%),
            fade(black, 0%)
        );
        position: absolute;
        top: 0;
        width: 100%;
        height: 6px;
    }
}

.zem-header__dropdown-menu--navigation {
    margin-top: 10px;
    width: 650px;
}

.zem-header__dropdown-menu--header-menu {
    margin-top: 10px;
    padding: 0;
    height: auto;
    min-width: 215px;
    max-width: 300px;
    background-color: @header__background-color--right;
    right: 0;
    left: auto;
}

.zem-header-navigation {
    float: left;
}

.zem-header-breadcrumb {
    float: left;
    display: block;
    height: @zem-header-breadcrumb__height;
    margin: 10px 0 10px 12px;
    color: white;
    line-height: 16px;
    font-size: 12px;
    transition: all @duration-and-timing-fn--default;
}

.zem-header-breadcrumb__item {
    float: left;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    transition: all @duration-and-timing-fn--default;
}

.zem-header-breadcrumb__item--with-slash {
    padding-left: 13px;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 6px;
        background-color: fade(white, 20%);
        height: 30px;
        width: 1px;
        transition: all @duration-and-timing-fn--default;
        transform: rotate(-20deg);
    }
}

.zem-header-breadcrumb__link {
    padding: 4px 8px;
    line-height: 16px;
    color: white;
    font-size: 14px;
    max-width: 115px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: padding @duration-and-timing-fn--default,
        background-color @duration-and-timing-fn--default;

    &:hover {
        color: white;
        background-color: fade(white, 10%);
        text-decoration: none;
        border-radius: @border-radius--default;
    }

    &:active,
    &:focus {
        text-decoration: none;
    }
}

.zem-header-breadcrumb__type-name {
    color: fade(white, 50%);
    display: block;
    font-size: 12px;
    height: 16px;
    transition: all @duration-and-timing-fn--default;
    transition-property: font-size, height, opacity;
}

.zem-header-menu {
    float: right;
}

.zem-header-menu__logged-in-user {
    background-color: fade(black, 10%);
    color: fade(white, 50%);
    margin: 0;
    padding: @spacing--default;
    border-bottom: none;
    line-height: 16px;
}

.zem-header-menu__logged-in-user-title {
    font-size: 10px;
    text-transform: uppercase;
}

.zem-header-menu__group {
    list-style: none;
    margin: 0;
    padding: 0;
}

.zem-header-menu__link {
    color: white;
    padding: 8px @spacing--default;
    transition: background-color @duration-and-timing-fn--default;
    display: block;

    .internal-feature {
        top: 0px;
        left: 0px;
    }
}

.zem-header-menu__link:hover {
    color: white;
    background-color: fade(white, 10%);
    text-decoration: none;

    .internal-feature {
        top: 0px;
        left: 0px;
    }
}

.zem-header-menu .zem-new-feature__text {
    color: @header__background-color--right;
    background-color: white;
    border-color: white;
}

.zem-header-menu__group-title {
    font-size: 10px;
    text-transform: uppercase;
    color: fade(white, 50%);
    padding: 10px @spacing--default 2px @spacing--default;
    border-bottom: 1px solid fade(black, 10%);
}

.zem-header-date-range-picker {
    float: right;
    display: block;
    margin-right: 20px;
    transition: all @duration-and-timing-fn--default;
}

.zem-header-date-range-picker--desktop {
    display: block;
}

.zem-header-date-range-picker--mobile {
    display: none;
    pointer-events: none;
}

.zem-header-filter-selector-toggle {
    float: right;
    display: block;
    margin-right: 20px;
    transition: all @duration-and-timing-fn--default;
}

.zem-header-date-range-picker-dropdown {
    &.dropdown-menu {
        z-index: 9999;
        margin-top: 10px;
        overflow: hidden;
        border: none !important;
        opacity: 0;
        visibility: hidden;
        display: block !important;
        border-radius: 0;
        border-bottom-left-radius: @border-radius--default;
        border-bottom-right-radius: @border-radius--default;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        transition: opacity @duration-and-timing-fn--default;

        &.open {
            opacity: 1;
            visibility: visible;
        }

        .ranges:before {
            background: linear-gradient(
                to bottom,
                fade(black, 20%),
                fade(black, 0%)
            );
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 6px;
            content: '';
            display: block;
        }

        .calendar {
            .daterangepicker_input {
                display: none;
            }
        }
    }
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: 1210px) {
    .zem-header-filter-selector-toggle {
        .button {
            font-size: 0;
        }

        .button--with-icon {
            padding-left: 33px;
        }
    }
}

@media only screen and (min-width: 1250px) {
    .zem-header-breadcrumb__link {
        max-width: 120px;
    }
}

@media only screen and (min-width: 1280px) {
    .zem-header-breadcrumb__link {
        max-width: 130px;
    }
}

@media only screen and (min-width: 1300px) {
    .zem-header-breadcrumb__link {
        max-width: 152px;
    }
}

@media only screen and (min-width: 1350px) {
    .zem-header-breadcrumb__link {
        max-width: 168px;
    }
}

@media only screen and (min-width: 1400px) {
    .zem-header-breadcrumb__link {
        max-width: 186px;
    }
}

@media only screen and (min-width: 1450px) {
    .zem-header-breadcrumb__link {
        max-width: 202px;
    }
}

@media only screen and (min-width: 1500px) {
    .zem-header-breadcrumb__link {
        max-width: 218px;
    }
}

@media only screen and (min-width: 1550px) {
    .zem-header-breadcrumb__link {
        max-width: 234px;
    }
}

@media only screen and (min-width: 1600px) {
    .zem-header-breadcrumb__link {
        max-width: 250px;
    }
}

@media only screen and (min-width: 1650px) {
    .zem-header-breadcrumb__link {
        max-width: 266px;
    }
}

@media only screen and (min-width: 1700px) {
    .zem-header-breadcrumb__link {
        max-width: 282px;
    }
}

@media only screen and (min-width: 1750px) {
    .zem-header-breadcrumb__link {
        max-width: 298px;
    }
}

@media only screen and (min-width: 1800px) {
    .zem-header-breadcrumb__link {
        max-width: 314px;
    }
}

@media only screen and (max-width: 1180px) {
    .zem-header-date-range-picker .button--with-input .button__input-field {
        font-size: 18px;
        color: transparent;
        width: 70px;
        padding-right: 25px;
        cursor: pointer !important;
    }
}

@media only screen and (max-width: @desktop-breakpoint) {
    .zem-header {
        height: @zem-header__height--small-screen;

        .button {
            background-color: transparent;
            margin: 0;
            transition: all @duration-and-timing-fn--default;
            border-radius: 0px;
            border-left: 1px solid fade(white, 20%);

            &:not(.button--disabled):not([disabled]):hover {
                background-color: fade(white, 10%);
                color: white;
                border-left: 1px solid fade(white, 20%);
            }
        }

        .button--dropdown-toggle-icon {
            &::after {
                display: none;
            }
        }

        .button--zem-header-filter-active {
            height: @zem-header__height--small-screen;
        }
    }

    .zem-header__logo-container {
        height: @zem-header__height--small-screen;
        padding: 6px 20px;
        background-size: 16px;
        width: 160px;
    }

    .zem-header__logo {
        height: @zem-header__height--small-screen - 12;
    }

    .zem-header-navigation {
        .dropdown {
            position: static;
        }
    }

    .zem-header__dropdown-menu--navigation {
        width: 100%;
        margin-top: 0;
    }

    .zem-header-date-range-picker {
        margin: 0;

        .button--with-input .button__input-field {
            padding-right: 0;
            width: 45px;
        }
    }

    .zem-header-date-range-picker--desktop {
        display: none;
        pointer-events: none;
    }

    .zem-header-date-range-picker--mobile {
        display: block;
        pointer-events: auto;
    }

    .zem-header-date-range-picker-dropdown.dropdown-menu,
    .zem-header__dropdown-menu--header-menu {
        margin-top: 0;
    }

    .zem-header-filter-selector-toggle {
        margin: 0;
    }

    .zem-header__dropdown-button {
        padding: 10px;
        margin: 0;
    }

    .zem-header-breadcrumb {
        position: absolute;
        left: 0px;
        top: @zem-header__height--small-screen;
        right: 0px;
        margin: 0px;
        padding: 6px @spacing--default 6px @spacing--default;
        height: @zem-header-breadcrumb__height--small-screen;
        float: none;
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        background-color: @color--darker-neutral;
        border-top: 1px solid lighten(@color--darker-neutral, 5%);
    }

    .zem-header-breadcrumb::-webkit-scrollbar {
        display: none;
    }

    .zem-header-breadcrumb__item {
        height: 16px;
        float: none;
        display: inline;
    }

    .zem-header-breadcrumb__item--with-slash {
        &::before {
            top: 2px;
            height: 12px;
            background-color: @color--neutral;
        }
    }

    .zem-header-breadcrumb__link {
        padding: 0;
        color: #ffffff;
        max-width: inherit;
        display: inline;

        &:hover {
            color: @color--primary;
            background-color: transparent;
        }
    }

    .zem-header-breadcrumb__type-name {
        display: none;
    }
}

@media only screen and (max-width: @mobile-breakpoint) {
    .zem-header {
        .button--with-icon {
            padding-left: 36px;
            padding-right: 0;

            &:before {
                left: 10px;
                top: 12px;
                width: 16px;
                height: 16px;
                background-size: 16px;
            }
        }

        .button--dropdown-toggle-icon {
            &::after {
                display: none;
            }
        }
    }

    .zem-header-date-range-picker {
        .button--with-input {
            padding-left: 0;

            .button__input-field {
                padding-left: 36px;
                width: 36px;
            }
        }
    }

    .zem-header__logo-container {
        height: @zem-header__height--small-screen;
        padding: 6px 20px;
        background-size: 16px;
        width: 160px;
    }

    .zem-header__logo {
        height: @zem-header__height--small-screen - 12;
    }

    .zem-header__dropdown-button-icon {
        width: 16px;
    }

    .zem-header__dropdown-button-icon--bigger {
        width: 20px;
    }

    .zem-header-navigation {
        .zem-header__dropdown-button {
            float: none;
            position: absolute;
            right: 114px;
        }

        &.zem-header-navigation--without-filer-and-date {
            .zem-header__dropdown-button {
                right: 41px;
            }
        }

        .zem-header__dropdown-button--right-border {
            border-right: none;
        }
    }
}
