<div class="zem-tracker-form__item">
    <zem-button
        *ngFor="let method of availableTrackerMethods"
        class="zem-button zem-tracker-form__method-button"
        [isHighlighted]="tracker.method === method.value"
        [isOutlined]="tracker.method !== method.value"
        [isDisabled]="isDisabled"
        (click)="onMethodChanged(method.value)"
    >
        {{ method.name }}
    </zem-button>
</div>
<ng-container *ngIf="tracker.method">
    <zem-select-input
        class="zem-select-input zem-tracker-form__item"
        bindLabel="name"
        bindValue="value"
        [placeholder]="'Please select Event type'"
        [isDisabled]="isDisabled"
        [value]="tracker.eventType"
        [items]="availableTrackerEventTypes"
        (valueChange)="onEventTypeChanged($event)"
    ></zem-select-input>
    <div
        class="zem-tracker-form__item zem-message zem-message--error"
        *ngIf="trackerErrors?.eventType"
    >
        {{ trackerErrors?.eventType }}
    </div>
    <zem-text-input
        class="zem-text-input zem-tracker-form__item"
        placeholder="Paste your tracker URL here"
        [isDisabled]="isDisabled"
        [value]="tracker.url"
        (inputBlur)="onUrlChanged($event)"
    ></zem-text-input>
    <div
        class="zem-tracker-form__item zem-message zem-message--error"
        *ngIf="trackerErrors?.url"
    >
        {{ trackerErrors?.url }}
    </div>
    <div
        *ngIf="showMacroFormatWarning"
        class="zem-tracker-form__item zem-message zem-message--bubble zem-message--warning zem-message--with-icon"
    >
        There is a “$” before the macro in the URL. Are you sure this was
        intended? Learn more about how to use macros
        <a
            href="https://help.zemanta.com/article/show/12985-tracking-parameters--macros"
            target="_blank"
            >here</a
        >.
    </div>
    <div
        *ngIf="showGdprWarning"
        class="zem-tracker-form__item zem-message zem-message--bubble zem-message--warning zem-message--with-icon"
    >
        GDPR macros were not detected in the tracker you provided. We will not
        be able to append it to responses coming from GDPR restricted areas. You
        can learn more about GDPR macros
        <a
            href="https://help.zemanta.com/article/show/12985-tracking-parameters--macros"
            target="_blank"
            >here</a
        >.
    </div>
    <div
        *ngIf="tracker.method === trackerMethod.JS"
        class="zem-tracker-form__item zem-tracker-form__input-help"
    >
        <a *ngIf="!showFallbackUrlInput" (click)="showFallbackUrlInput = true"
            >Add fallback image pixel tracker</a
        >
        <zem-text-input
            *ngIf="showFallbackUrlInput"
            class="zem-text-input zem-tracker-form__input-help-input"
            placeholder="Paste your image pixel tracker URL here"
            [isDisabled]="isDisabled"
            [value]="tracker.fallbackUrl"
            (inputBlur)="onFallbackUrlChanged($event)"
        ></zem-text-input>
        <zem-help-popover
            class="zem-tracker-form__input-help-icon"
            [content]="
                'Allows to insert image version of the tracker. Zemanta will pass this tracker where JavaScript tracking is not supported.'
            "
        >
        </zem-help-popover>
    </div>
    <div
        class="zem-text-input zem-tracker-form__item zem-message zem-message--error"
        *ngIf="trackerErrors?.fallbackUrl"
    >
        {{ trackerErrors?.fallbackUrl }}
    </div>
    <div class="zem-tracker-form__item zem-tracker-form__description">
        Please make sure all trackers are GDPR compliant. Zemanta will not pass
        trackers in GDPR restricted areas if they are non-compliant. To limit
        your buying exclusively to traffic where tracking is supported, please
        deselect the checkbox below.
    </div>
    <zem-checkbox-input
        class="zem-checkbox-input zem-tracker-form__item"
        label="Tracker optional"
        [isDisabled]="isDisabled"
        [isChecked]="tracker.trackerOptional"
        (toggle)="onTrackerOptionalChanged($event)"
    >
        Allow Zemanta to purchase traffic where 3rd party tracking is not
        supported.
    </zem-checkbox-input>
</ng-container>
