<zem-select-list
    class="zem-select-list"
    [selectedItems]="deals"
    [availableItems]="availableDeals"
    [selectBindValue]="'id'"
    [selectPlaceholder]="'Search by name, media source or deal id'"
    [selectIsLoading]="isLoading"
    [selectSearchFn]="selectSearchFn"
    (itemSelect)="onDealSelect($event)"
    (search)="onSearch($event)"
    (open)="open.emit()"
>
    <ng-template #headerTemplate>
        <div class="zem-deals-list__title">Connected deals</div>
    </ng-template>
    <ng-template #itemTemplate let-item="item" let-index="index">
        <ng-container
            *ngTemplateOutlet="
                dealItemTemplate;
                context: {deal: item, index: index}
            "
        ></ng-container>
    </ng-template>
    <ng-template #selectItemTemplate let-item="item" let-search="search">
        <span [zemTextHighlight]="search">
            <ng-container *ngIf="item.name">
                {{ item.name }} / {{ item.source }} / {{ item.dealId }}
            </ng-container>
            <ng-container *ngIf="!item.name">
                {{ item.source }} / {{ item.dealId }}
            </ng-container>
        </span>
    </ng-template>
</zem-select-list>
