@import 'variables';

.zem-device-targeting-settings {
    .form::after {
        content: '';
        display: block;
        clear: both;
    }

    .form__group {
        clear: none;
        width: 33.3%;
        float: left;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .form__label {
        float: none;
        width: auto;
        height: 100px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        transition: background-image @duration-and-timing-fn--default;
    }

    .form__checkbox {
        width: 100%;
        float: none;

        label {
            display: inline-block;
        }
    }
}

.zem-device-targeting__desktop {
    .form__label {
        background: url('images/device-desktop-gray.svg') no-repeat center
            center;
        background-size: 100px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-desktop-sec.svg');
        }
    }
}

.zem-device-targeting__tablet {
    .form__label {
        background: url('images/device-tablet-gray.svg') no-repeat center 40px;
        background-size: 40px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-tablet-sec.svg');
        }
    }
}

.zem-device-targeting__mobile {
    .form__label {
        background: url('images/device-mobile-gray.svg') no-repeat center 60px;
        background-size: 20px;
    }

    &.zem-device-targeting__active {
        .form__label {
            background-image: url('@{images-folder}/device-mobile-sec.svg');
        }
    }
}

.zem-advanced-device-targeting__collapsable {
    border-top: 1px solid @color--lighter-neutral;
    margin: 20px -@spacing--default 0 -@spacing--default;

    .form > .form__label {
        height: auto;
        margin-bottom: 5px;
    }
}

.zem-os-device-targeting-settings {
    display: block;
}

.zem-os-device-targeting__container {
    border-radius: @border-radius--default;
    border: 1px solid @color--lighter-neutral;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    height: 72px;
    position: relative;

    .form__vertical-group {
        width: 140px;
        margin: 0 10px 0 0;
        display: inline-block;
        vertical-align: top;

        .form__label {
            margin-bottom: 0;
            height: auto;
        }
    }

    @media only screen and (min-width: 1750px) {
        .form__vertical-group {
            width: 180px;
        }
    }

    @media only screen and (min-width: 1850px) {
        .form__vertical-group {
            width: 210px;
        }
    }
}

.zem-os-device-targeting__platform-icon {
    display: block;
    float: left;
    height: 50px;
    width: 70px;
    margin: 0 20px 0 0;
    background: no-repeat center center;
}

.zem-os-device-targeting--desktop {
    .zem-os-device-targeting__platform-icon {
        background-image: url('images/device-desktop-gray.svg');
    }
}

.zem-os-device-targeting--tablet-mobile {
    .zem-os-device-targeting__platform-icon {
        background-image: url('images/device-tablet-gray.svg');
        background-size: 32px;
        background-position: 5px bottom;
        position: relative;

        &::after {
            content: ' ';
            display: block;
            position: absolute;
            right: 0;
            top: 24px;
            height: 26px;
            width: 26px;
            background-size: contain;
            background: url('images/device-mobile-gray.svg') no-repeat center
                center;
        }
    }
}

.zem-os-device-targeting__platform-name {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 50px;
    width: 250px;
    padding-left: 30px;
    position: relative;
    pointer-events: none;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        background: no-repeat center center;
        background-size: contain;
    }
}
.zem-os-device-targeting__remove {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.zem-os-device-targeting__platform-name--WINDOWS::before,
.zem-os-device-targeting__platform-name--WINPHONE::before {
    background-image: url('images/os-windows.svg');
    width: 16px;
    height: 16px;
}

.zem-os-device-targeting__platform-name--IOS::before,
.zem-os-device-targeting__platform-name--MACOSX::before {
    background-image: url('images/os-apple.svg');
    margin-top: -2px;
}

.zem-os-device-targeting__platform-name--LINUX::before {
    background-image: url('images/os-linux.svg');
}

.zem-os-device-targeting__platform-name--ANDROID::before {
    background-image: url('images/os-android.svg');
}

.zem-environment-device-targeting-settings {
    .form__group {
        width: 50%;
    }
}

.zem-environment-device-targeting__option--SITE {
    .form__label {
        background: url('images/environment-website-gray.svg') no-repeat center
            center;
        background-size: 100px;
    }

    &.zem-environment-device-targeting__option--active {
        .form__label {
            background-image: url('@{images-folder}/environment-website-sec.svg');
        }
    }
}

.zem-environment-device-targeting__option--APP {
    .form__label {
        background: url('images/environment-in-app-gray.svg') no-repeat center
            center;
        background-size: 80px;
    }

    &.zem-environment-device-targeting__option--active {
        .form__label {
            background-image: url('@{images-folder}/environment-in-app-sec.svg');
        }
    }
}

.zem-os-device-targeting__container--disabled {
    opacity: 0.4;
    pointer-events: none;
}

.zem-device-targeting-settings__advance-settings-text {
    position: relative;
    max-width: 200px;
    padding-left: 15px;
    font-weight: bold;
}

.zem-device-targeting-settings__advance-settings-text::before {
    content: '';
    position: absolute;
    transform: translateY(-50%) rotate(90deg);
    width: 6px;
    height: 10px;
    background-image: url('@{images-folder}/arrow-sec.svg');
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
}

.zem-device-targeting-settings__advance-settings-text--expanded::before {
    transform: translateY(-50%) rotate(-90deg);
}

///////////////////////////////////
// RESPONSIVE - Device targeting //
///////////////////////////////////

@media only screen and (max-width: @desktop-breakpoint) {
    .zem-os-device-targeting__container {
        height: auto;

        .form__vertical-group {
            width: 115px;
        }
    }
}

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-os-device-targeting__container {
        height: auto;

        .form__vertical-group {
            width: 140px;
            float: left;

            &.zem-os-device-targeting__min-os-version {
                clear: both;
                margin-left: 121px;
            }
        }
    }

    .zem-os-device-targeting__no-versions {
        height: 72px;

        .zem-os-device-targeting__platform-name {
            margin-bottom: 0;
            line-height: 50px;
        }
    }

    .zem-os-device-targeting__platform-icon {
        float: none;
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .zem-os-device-targeting--tablet-mobile {
        .zem-os-device-targeting__platform-icon {
            position: absolute;
        }
    }

    .zem-os-device-targeting__platform-name {
        margin-left: 90px;
        line-height: 22px;
        margin-bottom: 5px;
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    .zem-os-device-targeting__container {
        .form__vertical-group {
            width: 100px;
        }
    }
}

@media only screen and (max-width: @mobile-breakpoint) {
    .zem-device-targeting-settings {
        .form::after {
            content: '';
            display: block;
            clear: both;
        }

        .form__group {
            clear: none;
            width: 100%;
            float: none;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 20px;
            }

            .form__label {
                float: left;
                width: 50px;
                height: 50px;
                margin: 0;
                padding: 0;
                display: block;
                cursor: pointer;
                transition: background-image @duration-and-timing-fn--default;
            }
        }

        .form__checkbox {
            width: auto;
            float: left;
            margin: 15px 0 0 15px;

            label {
                display: inline-block;
            }
        }

        .zem-device-targeting__desktop {
            .form__label {
                background-size: 50px;
            }
        }

        .zem-device-targeting__tablet {
            .form__label {
                background-position: center center;
                background-size: 30px;
            }
        }

        .zem-device-targeting__mobile {
            .form__label {
                background-position: center center;
                background-size: 20px;
            }
        }

        .zem-environment-device-targeting__option--SITE {
            .form__label {
                background-size: 50px;
            }
        }

        .zem-environment-device-targeting__option--APP {
            .form__label {
                background-size: 50px;
            }
        }
    }

    .zem-os-device-targeting__container {
        .form__vertical-group {
            width: 100%;
            float: none;
            margin-top: 10px;

            .form__label {
                font-weight: 300;
            }

            &.zem-os-device-targeting__min-os-version {
                clear: both;
                margin-left: 0;
            }
        }
    }

    .zem-os-device-targeting__no-versions {
        height: auto;

        .zem-os-device-targeting__platform-name {
            margin-bottom: 0;
            line-height: 22px;
        }
    }

    .zem-os-device-targeting__platform-icon {
        float: none;
        position: relative;
        left: auto;
        top: auto;
        width: 50px;
        height: 36px;
        margin: 0 0 10px 0;
        background-position: center left;
    }

    .zem-os-device-targeting--tablet-mobile {
        .zem-os-device-targeting__platform-icon {
            position: relative;
            background-size: 26px;
            background-position: bottom left;

            &::after {
                top: 12px;
                height: 24px;
                width: 24px;
            }
        }
    }

    .zem-os-device-targeting__platform-name {
        width: 100%;
        margin: 5px 0 0 0;
    }

    .zem-os-device-targeting__remove {
        top: 10px;
        transform: translateY(0);
    }
}
