<h1 class="zem-main-container__view-title">User management</h1>

<ng-container *ngIf="store.state$ | async as state">
    <div class="zem-panel zem-panel--with-padding zem-users-view__panel">
        <div *ngIf="state.canEditUsers !== false">
            <zem-users-actions
                class="zem-users-actions zem-users-view__item"
                [value]="keyword"
                [isShowInternalVisible]="state.hasAllAccountsScope"
                [showInternal]="showInternal"
                [isDisabled]="!state.agencyId"
                (search)="searchUsers($event)"
                (userCreate)="openEditUserModal({})"
                (showInternalChange)="changeShowInternal($event)"
            >
            </zem-users-actions>
            <zem-users-grid
                [users]="state.entities"
                [context]="context"
                [isLoading]="state.requests.list.inProgress"
                [paginationOptions]="paginationOptions"
                [paginationCount]="state.requests.list.count"
                (paginationChange)="onPaginationChange($event)"
            >
            </zem-users-grid>
        </div>
        <div
            class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
            *ngIf="state.canEditUsers === false"
        >
            You do not have permission to manage users on this account
        </div>
    </div>
    <zem-modal
        #editUserModal
        class="zem-modal zem-users-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="editUserModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{
                        !state.activeEntity.entity.id
                            ? 'Add new user'
                            : 'Edit user'
                    }}
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-user-edit-form
                    class="zem-users-view__item zem-user-edit-form"
                    [isDisabled]="state.activeEntity.isReadOnly"
                    [user]="state.activeEntity.entity"
                    [userErrors]="state.activeEntity.fieldsErrors"
                    (userChange)="store.changeActiveEntity($event)"
                >
                    <div class="zem-users-view__scope-selector-container">
                        <label class="zem-users-view__scope-selector-label"
                            >Access<br />Level</label
                        >
                        <zem-scope-selector
                            class="zem-scope-selector zem-users-view__scope-selector"
                            [scopeState]="state.activeEntity.scopeState"
                            [isAllAccountsScopeVisible]="
                                state.hasAllAccountsScope
                            "
                            [isAllAccountsScopeDisabled]="
                                !state.hasAllAccountsScope ||
                                state.activeEntity.isReadOnly ||
                                state.activeEntity.isCurrentUser
                            "
                            [isAgencyScopeDisabled]="
                                !state.hasAgencyScope ||
                                state.activeEntity.isReadOnly ||
                                state.activeEntity.isCurrentUser
                            "
                            [isAccountScopeDisabled]="
                                state.activeEntity.isReadOnly ||
                                state.activeEntity.isCurrentUser
                            "
                            (scopeStateChange)="
                                store.setActiveEntityScope($event)
                            "
                        >
                            <ng-template #allAccountsScopeHeaderTemplate>
                                <strong>All accounts</strong><br />
                                <span
                                    class="zem-radio-input__deemphasized-label-text"
                                    >User will have access to all accounts. Only
                                    for internal users. Email domain must match
                                    zemanta.com or outbrain.com.</span
                                >
                            </ng-template>
                            <ng-template #agencyScopeHeaderTemplate>
                                <strong>Agency</strong><br />
                                <span
                                    class="zem-radio-input__deemphasized-label-text"
                                    >User will have access to all accounts
                                    within your agency.</span
                                >
                            </ng-template>
                            <ng-template #accountScopeHeaderTemplate>
                                <strong>Account</strong><br />
                                <span
                                    class="zem-radio-input__deemphasized-label-text"
                                    >User will have access to one or more
                                    accounts.</span
                                >
                            </ng-template>
                        </zem-scope-selector>
                    </div>
                    <div
                        class="zem-users-view__item zem-users-view__permissions-editor"
                    >
                        <div
                            class="zem-users-view__accounts-section"
                            *ngIf="
                                store.state.activeEntity.scopeState ===
                                ScopeSelectorState.ACCOUNT_SCOPE
                            "
                        >
                            <zem-item-list
                                class="zem-item-list zem-users-view__account-list"
                                [isDisabled]="
                                    state.activeEntity.isReadOnly ||
                                    state.activeEntity.isCurrentUser
                                "
                                [items]="
                                    store.state.activeEntity.entityAccounts
                                "
                                [selectedItems]="
                                    store.state.activeEntity.selectedAccounts
                                "
                                [multiple]="true"
                                (selectedItemsChange)="
                                    store.setSelectedAccounts($event)
                                "
                            >
                                <ng-template
                                    #itemTemplate
                                    let-item="item"
                                    let-selected="selected"
                                >
                                    <zem-account-list-item
                                        class="zem-account-list-item"
                                        [account]="item"
                                        [selected]="selected"
                                        [canRemove]="
                                            !state.activeEntity.isReadOnly &&
                                            !state.activeEntity.isCurrentUser
                                        "
                                        (remove)="
                                            store.removeActiveEntityAccounts([
                                                item
                                            ])
                                        "
                                    >
                                    </zem-account-list-item>
                                </ng-template>
                                <ng-template #addItemTemplate>
                                    <zem-select-input
                                        class="zem-select-input zem-users-view__add-account"
                                        [items]="availableAccounts | async"
                                        [placeholder]="'Add account'"
                                        [clearSearchOnSelect]="true"
                                        [bindLabel]="'name'"
                                        [bindValue]="'id'"
                                        [appendTo]="'body'"
                                        [isClearable]="true"
                                        [isSearchable]="true"
                                        [isDisabled]="
                                            state.activeEntity.isReadOnly ||
                                            state.activeEntity.isCurrentUser
                                        "
                                        [isWarning]="true"
                                        (valueChange)="addAccountById($event)"
                                    >
                                    </zem-select-input>
                                </ng-template>
                            </zem-item-list>
                        </div>
                        <zem-entity-permission-selector
                            class="zem-users-view__entity-permission-selector zem-entity-permission-selector"
                            [isDisabled]="
                                state.activeEntity.isReadOnly ||
                                state.activeEntity.isCurrentUser ||
                                (state.activeEntity.scopeState ===
                                    ScopeSelectorState.ACCOUNT_SCOPE &&
                                    state.activeEntity.selectedAccounts
                                        .length === 0)
                            "
                            [checkboxStates]="
                                store.state.activeEntity.checkboxStates
                            "
                            [selection]="
                                store.state.activeEntity
                                    .selectedEntityPermissions
                            "
                            (selectionChange)="
                                store.updateSelectedEntityPermissions($event)
                            "
                        ></zem-entity-permission-selector>
                    </div>
                </zem-user-edit-form>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <zem-button
                    class="zem-button"
                    [isHighlighted]="true"
                    [isLoading]="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress
                    "
                    [isDisabled]="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress ||
                        !canSaveActiveEntity ||
                        state.activeEntity.isReadOnly
                    "
                    [icon]="'check'"
                    (click)="saveUser()"
                >
                    Save
                </zem-button>
                <zem-button
                    class="zem-button"
                    [isOutlined]="true"
                    [isDisabled]="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress
                    "
                    (click)="editUserModal.close()"
                >
                    Cancel
                </zem-button>
                <zem-button
                    *ngIf="state.activeEntity.entity.id"
                    class="zem-button zem-users-view__remove_button"
                    [isOutlined]="true"
                    [isDanger]="true"
                    [isDisabled]="
                        state.activeEntity.isReadOnly ||
                        state.activeEntity.isCurrentUser ||
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress
                    "
                    [icon]="'remove'"
                    (click)="removeUser(state.activeEntity.entity)"
                >
                    Remove user
                </zem-button>
            </div>
        </ng-container>
    </zem-modal>
</ng-container>
