<ng-container *ngIf="showDesktopView">
    <div
        class="zem-native-ad-preview__item"
        *ngIf="nativeAdPreviewConfig.showSquareAd"
    >
        <div class="zem-native-ad-preview__label">
            Square ad without description
        </div>
        <div class="zem-native-ad-preview__card">
            <div
                class="zem-native-ad-preview__image-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                <img
                    class="zem-native-ad-preview__image"
                    src="{{
                        landscapeHostedImageUrl ||
                            APP_CONFIG.staticUrl + '/one/images/empty-pixel.png'
                    }}"
                />
            </div>
            <div
                class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                {{ title || 'Ad Title' }}
            </div>
            <div
                class="zem-native-ad-preview__brand-name zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                {{ brandName || 'Brand name' }}
            </div>
        </div>
    </div>
    <div
        class="zem-native-ad-preview__item"
        *ngIf="nativeAdPreviewConfig.showSquareAdWithIcon"
    >
        <div class="zem-native-ad-preview__label">Square ad with logo</div>
        <div class="zem-native-ad-preview__card">
            <div
                class="zem-native-ad-preview__header zem-native-ad-preview__card-item"
            >
                <div
                    class="zem-native-ad-preview__icon-placeholder zem-native-ad-preview__header-item zem-native-ad-preview__link"
                    (click)="openUrl()"
                >
                    <img
                        class="zem-native-ad-preview__icon"
                        src="{{ hostedIconUrl }}"
                    />
                </div>
                <div
                    class="zem-native-ad-preview__brand-name zem-native-ad-preview__header-item zem-native-ad-preview__link"
                    (click)="openUrl()"
                >
                    {{ brandName || 'Brand name' }}
                </div>
            </div>
            <div
                class="zem-native-ad-preview__image-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                <img
                    class="zem-native-ad-preview__image"
                    src="{{
                        landscapeHostedImageUrl ||
                            APP_CONFIG.staticUrl + '/one/images/empty-pixel.png'
                    }}"
                />
            </div>
            <div
                class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                {{ title || 'Ad Title' }}
            </div>
            <div
                class="zem-native-ad-preview__description zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                {{ description || 'Description' }}
            </div>
            <div
                class="zem-native-ad-preview__brand-name zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                {{ displayUrl || 'Display URL' }}
            </div>
        </div>
    </div>
    <div
        class="zem-native-ad-preview__item"
        *ngIf="nativeAdPreviewConfig.showHorizontalAd"
    >
        <div class="zem-native-ad-preview__label">Horizontal ad</div>
        <div
            class="zem-native-ad-preview__card zem-native-ad-preview__card--row zem-native-ad-preview__card--horizontal"
        >
            <div
                class="zem-native-ad-preview__image-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                <img
                    class="zem-native-ad-preview__image"
                    src="{{
                        hostedImageUrl ||
                            APP_CONFIG.staticUrl + '/one/images/empty-pixel.png'
                    }}"
                />
            </div>
            <div
                class="zem-native-ad-preview__card-item zem-native-ad-preview__card-item--extended"
            >
                <div
                    class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link"
                    (click)="openUrl()"
                >
                    {{ title || 'Ad Title' }}
                </div>
                <div
                    class="zem-native-ad-preview__description zem-native-ad-preview__card-item zem-native-ad-preview__link"
                    (click)="openUrl()"
                >
                    {{ description || 'Description' }}
                </div>
                <div
                    class="zem-native-ad-preview__brand-name zem-native-ad-preview__card-item zem-native-ad-preview__link"
                    (click)="openUrl()"
                >
                    {{ brandName || 'Brand name' }}
                </div>
            </div>
        </div>
    </div>
    <div
        class="zem-native-ad-preview__item"
        *ngIf="nativeAdPreviewConfig.showHorizontalAdWithIcon"
    >
        <div class="zem-native-ad-preview__label">Horizontal ad with logo</div>
        <div
            class="zem-native-ad-preview__card zem-native-ad-preview__card--row zem-native-ad-preview__card--icon"
        >
            <div
                class="zem-native-ad-preview__icon-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link"
                (click)="openUrl()"
            >
                <img
                    class="zem-native-ad-preview__icon"
                    src="{{ hostedIconUrl }}"
                />
            </div>
            <div
                class="zem-native-ad-preview__card-item zem-native-ad-preview__card-item--extended"
            >
                <div
                    class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link"
                    (click)="openUrl()"
                >
                    {{ title || 'Ad Title' }}
                </div>
                <div
                    class="zem-native-ad-preview__brand-name zem-native-ad-preview__card-item zem-native-ad-preview__link"
                    (click)="openUrl()"
                >
                    {{ brandName || 'Brand name' }}
                </div>
            </div>
            <div
                class="zem-native-ad-preview__call-to-action zem-native-ad-preview__card-item"
            >
                <button
                    class="zem-button-legacy zem-button-legacy--outlined"
                    (click)="openUrl()"
                >
                    {{ callToAction || 'Call to action' }}
                </button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showMobileView">
    <div class="zem-native-ad-preview__item">
        <div class="zem-native-ad-preview__mobile">
            <div class="zem-native-ad-preview__mobile-content">
                <div
                    class="zem-native-ad-preview__empty-content zem-native-ad-preview__empty-content--news zem-native-ad-preview__mobile-content-item"
                ></div>
                <div
                    class="zem-native-ad-preview__card zem-native-ad-preview__mobile-content-item"
                    *ngIf="nativeAdPreviewConfig.showSquareAd"
                >
                    <div
                        class="zem-native-ad-preview__image-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        <img
                            class="zem-native-ad-preview__image"
                            src="{{
                                landscapeHostedImageUrl ||
                                    APP_CONFIG.staticUrl +
                                        '/one/images/empty-pixel.png'
                            }}"
                        />
                    </div>
                    <div
                        class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        {{ title || 'Ad Title' }}
                    </div>
                    <div
                        class="zem-native-ad-preview__brand-name zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        {{ brandName || 'Brand name' }}
                    </div>
                </div>
                <div
                    class="zem-native-ad-preview__empty-content zem-native-ad-preview__empty-content--blog zem-native-ad-preview__mobile-content-item"
                ></div>
                <div
                    class="zem-native-ad-preview__card zem-native-ad-preview__mobile-content-item"
                    *ngIf="nativeAdPreviewConfig.showSquareAdWithIcon"
                >
                    <div
                        class="zem-native-ad-preview__header zem-native-ad-preview__card-item"
                    >
                        <div
                            class="zem-native-ad-preview__icon-placeholder zem-native-ad-preview__header-item zem-native-ad-preview__link"
                            (click)="openUrl()"
                        >
                            <img
                                class="zem-native-ad-preview__icon"
                                src="{{ hostedIconUrl }}"
                            />
                        </div>
                        <div
                            class="zem-native-ad-preview__brand-name zem-native-ad-preview__header-item zem-native-ad-preview__link"
                            (click)="openUrl()"
                        >
                            {{ brandName || 'Brand name' }}
                        </div>
                    </div>
                    <div
                        class="zem-native-ad-preview__image-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        <img
                            class="zem-native-ad-preview__image"
                            src="{{
                                landscapeHostedImageUrl ||
                                    APP_CONFIG.staticUrl +
                                        '/one/images/empty-pixel.png'
                            }}"
                        />
                    </div>
                    <div
                        class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        {{ title || 'Ad Title' }}
                    </div>
                    <div
                        class="zem-native-ad-preview__description zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        {{ description || 'Description' }}
                    </div>
                    <div
                        class="zem-native-ad-preview__brand-name zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        {{ displayUrl || 'Display URL' }}
                    </div>
                </div>
                <div
                    class="zem-native-ad-preview__empty-content zem-native-ad-preview__empty-content--wall zem-native-ad-preview__mobile-content-item"
                ></div>
                <div
                    class="zem-native-ad-preview__card zem-native-ad-preview__card--row zem-native-ad-preview__card--icon zem-native-ad-preview__mobile-content-item"
                    *ngIf="nativeAdPreviewConfig.showHorizontalAdWithIcon"
                >
                    <div
                        class="zem-native-ad-preview__icon-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link"
                        (click)="openUrl()"
                    >
                        <img
                            class="zem-native-ad-preview__icon"
                            src="{{ hostedIconUrl }}"
                        />
                    </div>
                    <div
                        class="zem-native-ad-preview__card-item zem-native-ad-preview__card-item--extended"
                    >
                        <div
                            class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link"
                            (click)="openUrl()"
                        >
                            {{ title || 'Ad Title' }}
                        </div>
                        <div
                            class="zem-native-ad-preview__brand-name zem-native-ad-preview__card-item zem-native-ad-preview__link"
                            (click)="openUrl()"
                        >
                            {{ brandName || 'Brand name' }}
                        </div>
                    </div>
                    <div
                        class="zem-native-ad-preview__call-to-action zem-native-ad-preview__card-item"
                    >
                        <button
                            class="zem-button-legacy zem-button-legacy--outlined"
                            (click)="openUrl()"
                        >
                            {{ callToAction || 'Call to action' }}
                        </button>
                    </div>
                </div>
                <div
                    class="zem-native-ad-preview__empty-content zem-native-ad-preview__empty-content--album zem-native-ad-preview__mobile-content-item"
                ></div>
                <div
                    class="zem-native-ad-preview__card zem-native-ad-preview__mobile-content-item zem-native-ad-preview__portrait-ad-card"
                    *ngIf="nativeAdPreviewConfig.showMobilePortraitAd"
                >
                    <div
                        class="zem-native-ad-preview__header zem-native-ad-preview__card-item zem-native-ad-preview__portrait-ad-header"
                    >
                        <div
                            class="zem-native-ad-preview__icon-placeholder zem-native-ad-preview__header-item zem-native-ad-preview__link"
                            (click)="openUrl()"
                        >
                            <img
                                class="zem-native-ad-preview__icon"
                                src="{{ hostedIconUrl }}"
                            />
                        </div>
                        <div
                            class="zem-native-ad-preview__header-item zem-native-ad-preview__link zem-native-ad-preview__portrait-ad-header-text"
                            (click)="openUrl()"
                        >
                            <div class="zem-native-ad-preview__sponsored-by">
                                Sponsored by
                            </div>
                            <div
                                class="zem-native-ad-preview__small-brand-name"
                            >
                                {{ brandName || 'Brand name' }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="zem-native-ad-preview__image-placeholder zem-native-ad-preview__card-item zem-native-ad-preview__link zem-native-ad-preview__portrait-ad-image-placeholder"
                        (click)="openUrl()"
                    >
                        <img
                            class="zem-native-ad-preview__image"
                            src="{{
                                portraitHostedImageUrl ||
                                    APP_CONFIG.staticUrl +
                                        '/one/images/empty-pixel.png'
                            }}"
                        />
                    </div>
                    <div
                        class="zem-native-ad-preview__title zem-native-ad-preview__card-item zem-native-ad-preview__link zem-native-ad-preview__portrait-ad-title"
                        (click)="openUrl()"
                    >
                        {{ title || 'Ad Title' }}
                    </div>
                    <div
                        class="zem-native-ad-preview__description zem-native-ad-preview__card-item zem-native-ad-preview__link zem-native-ad-preview__portrait-ad-description"
                        (click)="openUrl()"
                    >
                        {{ description || 'Description' }}
                    </div>
                    <div
                        class="zem-native-ad-preview__call-to-action zem-native-ad-preview__card-item"
                    >
                        <button
                            class="zem-button-legacy zem-button-legacy--outlined zem-native-ad-preview__portrait-ad-button"
                            (click)="openUrl()"
                        >
                            {{ callToAction || 'Call to action' }}
                        </button>
                    </div>
                </div>
                <div
                    *ngIf="nativeAdPreviewConfig.showMobilePortraitAd"
                    class="zem-native-ad-preview__empty-content zem-native-ad-preview__empty-content--news zem-native-ad-preview__mobile-content-item"
                ></div>
            </div>
        </div>
    </div>
</ng-container>
