@import 'variables';

.zem-native-ad-preview {
    display: block;
}

.zem-native-ad-preview__item {
    display: block;
    margin-bottom: @spacing--default;
}

.zem-native-ad-preview__item:last-child {
    margin-bottom: 0;
}

.zem-native-ad-preview__label {
    display: inline-block;
    background-color: tint(@color--secondary, 90%);
    padding: 1px 10px 1px 10px;
    border-radius: 12px;
    color: @text-color--lighter;
    margin-bottom: 5px;
}

.zem-native-ad-preview__card {
    display: block;
    width: 345px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid @border-color--default;
    border-radius: @border-radius--default;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.05);
}

.zem-native-ad-preview__link:hover {
    cursor: pointer;
}

.zem-native-ad-preview__card--row {
    display: flex;
    flex-direction: row;
}

.zem-native-ad-preview__card--horizontal {
    width: 430px;
}

.zem-native-ad-preview__card--icon {
    width: 510px;
}

.zem-native-ad-preview__empty-content {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.zem-native-ad-preview__empty-content--album {
    background-image: url('images/empty-content-album.png');
    height: 160px;
}

.zem-native-ad-preview__empty-content--blog {
    background-image: url('images/empty-content-blog.png');
    height: 135px;
}

.zem-native-ad-preview__empty-content--wall {
    background-image: url('images/empty-content-wall.png');
    height: 160px;
}

.zem-native-ad-preview__empty-content--news {
    background-image: url('images/empty-content-news.png');
    height: 125px;
}

.zem-native-ad-preview__card-item {
    margin-bottom: 5px;
}

.zem-native-ad-preview__card-item:last-child {
    margin-bottom: 0;
}

.zem-native-ad-preview__card--row > .zem-native-ad-preview__card-item {
    margin-bottom: 0;
    margin-right: 5px;
}

.zem-native-ad-preview__card--row
    > .zem-native-ad-preview__card-item:last-child {
    margin-right: 0;
}

.zem-native-ad-preview__card-item--extended {
    flex: 1 1 auto;
}

.zem-native-ad-preview__image-placeholder {
    display: block;
    position: relative;
    background-color: tint(@color--secondary, 90%);
    border: 1px solid tint(@color--secondary, 80%);
    width: 100%;
    height: 100%;

    &::before,
    &::after {
        content: ' ';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        left: 50%;
        top: 0;
        transform: rotate(45deg);
        background-color: tint(@color--secondary, 80%);
        z-index: 1;
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.zem-native-ad-preview__card--row > .zem-native-ad-preview__image-placeholder {
    flex: 0 0 120px;
    max-width: 120px;
}

.zem-native-ad-preview__image {
    display: block;
    width: 100%;
    z-index: 2;
    position: relative;
}

.zem-native-ad-preview__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: @color--secondary;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-native-ad-preview__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: @text-color--lighter;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-native-ad-preview__brand-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: @text-color--lighter;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-native-ad-preview__call-to-action {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zem-native-ad-preview__header {
    display: flex;
    flex-direction: row;
}

.zem-native-ad-preview__header-item {
    margin-right: 5px;
}

.zem-native-ad-preview__header-item:last-child {
    margin-right: 0;
}

.zem-native-ad-preview__icon-placeholder {
    display: block;
    position: relative;
    background-color: tint(@color--secondary, 90%);
    border: 1px solid tint(@color--secondary, 80%);
    width: 100%;
    height: 100%;

    &::before,
    &::after {
        content: ' ';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        left: 50%;
        top: 0;
        transform: rotate(45deg);
        background-color: tint(@color--secondary, 80%);
        z-index: 1;
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.zem-native-ad-preview__card--row > .zem-native-ad-preview__icon-placeholder {
    flex: 0 0 60px;
    max-width: 60px;
}

.zem-native-ad-preview__header > .zem-native-ad-preview__icon-placeholder {
    flex: 0 0 25px;
    max-width: 25px;
}

.zem-native-ad-preview__icon {
    display: block;
    width: 100%;
    z-index: 2;
    position: relative;
}

.zem-native-ad-preview__header > .zem-native-ad-preview__brand-name {
    color: @color--secondary;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    padding-top: 2px;
}

.zem-native-ad-preview__mobile {
    position: relative;
    width: 300px;
    height: 600px;
    border: 16px @color--light-neutral solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

.zem-native-ad-preview__mobile:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: @color--lightest-neutral;
    border-radius: 10px;
}

.zem-native-ad-preview__mobile:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: @color--lightest-neutral;
    border-radius: 50%;
}

.zem-native-ad-preview__mobile-content {
    width: 100%;
    height: 100%;
    background: @color--lighter-neutral;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.zem-native-ad-preview__mobile-content::-webkit-scrollbar {
    display: none;
}

.zem-native-ad-preview__mobile-content > .zem-native-ad-preview__card {
    width: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.zem-native-ad-preview__mobile-content-item {
    margin-bottom: 10px;
}

.zem-native-ad-preview__mobile-content-item:last-child {
    margin-bottom: 0;
}

.zem-native-ad-preview__portrait-ad-card {
    height: 480px;
    display: flex;
    flex-direction: column;
}

.zem-native-ad-preview__portrait-ad-header {
    line-height: normal;
    font-weight: normal;
}

.zem-native-ad-preview__portrait-ad-header
    > .zem-native-ad-preview__icon-placeholder {
    flex: 0 0 32px;
    max-width: 32px;
    max-height: 32px;
}

.zem-native-ad-preview__portrait-ad-header-text {
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.zem-native-ad-preview__sponsored-by {
    font-size: 11px;
    color: @text-color--lighter;
}

.zem-native-ad-preview__small-brand-name {
    font-size: 13px;
}

.zem-native-ad-preview__portrait-ad-image-placeholder {
    flex-grow: 1;
    height: auto;
    margin-bottom: 10px;
}

.zem-native-ad-preview__portrait-ad-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.zem-native-ad-preview__portrait-ad-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.zem-native-ad-preview__portrait-ad-button {
    width: 100%;
}
