@import '../default/variables.less';

// GENERAL SETTINGS

@images-folder: 'images/whitelabel/burda';
@logo: url('@{images-folder}/burdaforward-logo.svg') no-repeat center center;

// GREENPARK COLORS

@primary-color: #8AC53F;
@secondary-color: #333333;
@text-color: #333333;

// HEADER COLOR

@header-left-color: #333333;
@header-right-color: #333333;

// BACKGROUND COLORS

@background-light-gray: #eaeaea;

// OTHER COLORS

@red: #ED4646;
@green: #99cc00;
@orange: #FECB63;
@blue: #007acf;
