<!--
    TODO (jurebajt):
    Don't use zem-prefixed-input for zem-date-input.
    Create custom zem-date-input styles which set the icon as prefix.
-->
<div
    class="zem-prefixed-input zem-prefixed-input--with-icon zem-calendar-bg-icon zem-date-input__container zem-date-input__container--{{
        type
    }}"
    [ngClass]="{'zem-prefixed-input--error': hasError}"
>
    <input
        class="zem-input-text zem-prefixed-input__input"
        [ngClass]="{'zem-prefixed-input__input--error': hasError}"
        type="text"
        placeholder="mm/dd/yyyy"
        ngbDatepicker
        #zemDatepicker="ngbDatepicker"
        [ngModel]="model"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [container]="appendTo"
        [disabled]="isDisabled"
        [zemFocus]="isFocused"
        [dayTemplate]="zemDateInputDay"
        [footerTemplate]="type === 'month' ? zemMonthTypeFooter : null"
        (dateSelect)="onDateSelect($event)"
        (navigate)="onNavigate($event)"
        (click)="zemDatepicker.toggle()"
        (keydown.arrowdown)="zemDatepicker.toggle()"
    />
</div>

<ng-template
    #zemDateInputDay
    let-date
    let-currentMonth="currentMonth"
    let-selected="selected"
    let-disabled="disabled"
    let-focused="focused"
>
    <span
        class="zem-date-input__day"
        [class.zem-date-input__day--focused]="focused"
        [class.zem-date-input__day--selected]="selected"
        [class.zem-date-input__day--muted]="
            date.month !== currentMonth && !disabled && !focused && !selected
        "
        [class.zem-date-input__day--disabled]="disabled"
    >
        {{ date.day }}
    </span>
</ng-template>

<ng-template #zemMonthTypeFooter>
    <div class="zem-buttons-panel">
        <button
            class="zem-button-legacy zem-button-legacy--small zem-button-legacy--highlighted zem-button-legacy--with-icon zem-button-legacy--check-icon"
            (click)="onConfirmMonthSelection()"
        >
            Select
        </button>
        <button
            class="zem-button-legacy zem-button-legacy--small"
            (click)="zemDatepicker.close()"
        >
            Close
        </button>
    </div>
</ng-template>
