@import 'variables';

.zem-date-input {
    display: block;
}

.zem-date-input__day {
    display: inline-block;
    text-align: center;
    width: 2.8rem;
    height: 2.3rem;
    line-height: 2.3rem;
    border-radius: 0.25rem;
}

.zem-date-input__day:not(.zem-date-input__day--disabled) {
    &:hover {
        opacity: 1;
        color: #ffffff;
        background-color: @color--secondary;
        border-color: @color--secondary;
    }
}

.zem-date-input__day--focused {
    color: #ffffff;
    background-color: @color--secondary;
    border-color: @color--secondary;
}

.zem-date-input__day--selected {
    color: #ffffff;
    background-color: @color--secondary;
    border-color: @color--secondary;
}

.zem-date-input__day--muted {
    color: @text-color--lighter;
    opacity: 0.5;
}

.zem-date-input__day--disabled {
    color: @text-color--lighter;
    cursor: not-allowed;
}

/////////////////////////////
// NgbDatepicker overrides //
/////////////////////////////

.zem-date-input__container--month {
    .ngb-dp-content {
        display: none;
    }

    .ngb-dp-navigation-select {
        min-width: 150px;
    }
}

.ngb-dp-body {
    z-index: @z-index--popover !important;
}

.ngb-dp-header {
    padding-bottom: 0.2rem;
}

.ngb-dp-navigation-select {
    position: relative;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        width: 6px;
        height: 10px;
        background-image: url('@{images-folder}/arrow-sec.svg');
        background-repeat: no-repeat;
    }
    &::before {
        left: 55px;
    }
    &::after {
        right: 10px;
    }
}

.ngb-dp-navigation-select .custom-select {
    border-radius: @border-radius--default;
    margin: 0 4px;
    background-color: #ffffff;
    appearance: none;
    border-color: @color--secondary;
    color: @color--secondary;
    &:focus {
        outline: 0;
    }
}

.ngb-dp-arrow-btn {
    color: @color--secondary !important;
}

.ngb-dp-day {
    width: 2.8rem !important;
    height: 2.3rem !important;
}

.ngb-dp-weekdays {
    border-bottom: 0 !important;
    border-radius: 0 !important;
}

.ngb-dp-weekday {
    width: 2.8rem !important;
}

.ngb-dp-weekday {
    line-height: 2rem !important;
    text-align: center !important;
    font-style: normal !important;
    font-weight: bold !important;
}
