<div class="zem-inclusion-targeting-list">
    <div ng-show="$ctrl.included.length || $ctrl.excluded.length"
         class="targeting-list form-group m-b-none">
        <div class="col-xs-6 m-t-xs" ng-if="$ctrl.included.length">
            <div class="text-success">{{ $ctrl.texts.selectedIncludedTitle }}</div>
            <ul class="with-icons ul-checkmarks">
                <li class="targeting-list-tag" ng-repeat="targeting in $ctrl.included | orderBy:'type'">
                    {{targeting.title}}
                    <span ng-if="targeting.archived">
                        (Archived)
                    </span>
                    <a href="" class="remove" ng-click="$ctrl.remove(targeting)">Remove</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 m-t-xs" ng-if="$ctrl.excluded.length">
            <div class="text-danger">{{ $ctrl.texts.selectedExcludedTitle }}</div>
            <ul class="with-icons ul-remove">
                <li class="targeting-list-tag" ng-repeat="targeting in $ctrl.excluded | orderBy:'type'">
                    {{targeting.title}}
                    <span ng-if="targeting.archived">
                        (Archived)
                    </span>
                    <a href="" class="remove" ng-click="$ctrl.remove(targeting)">Remove</a>
                 </li>
             </ul>
         </div>
    </div>
    <ui-select theme="select2" ng-model="$ctrl.currentlySelected" on-select="$ctrl.addIncluded($select.selected)" class="button button--with-icon button--add-icon button--dropdown-toggle-icon targeting-select larger m-t-s">
        <ui-select-match placeholder="{{ $ctrl.texts.selectTargetingButton }}">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices group-by="$ctrl.groupBySection" repeat="targeting in $ctrl.notSelected | filter: {name: $select.search} track by targeting.id" position="down">
            <div class="audience-select-option">
                <span ng-bind-html="targeting.name | highlight: $select.search"></span>
                <span class="targeting-select-buttons">
                    <a ng-click="$ctrl.addIncluded(targeting)" class="text-success">Include</a>
                    <a ng-click="$ctrl.addExcluded(targeting)" class="text-danger">Exclude</a>
                </span>
            </div>
        </ui-select-choices>
        <ui-select-no-choice> {{ $ctrl.texts.noChoice }} </ui-select-no-choice>
    </ui-select>
</div>
