<h1 class="zem-main-container__view-title">
    Publishers & placements
</h1>
<ng-container *ngIf="store.state$ | async as state">
    <div
        class="zem-panel zem-panel--with-padding zem-publisher-groups-view__panel"
    >
        <div class="zem-publisher-groups-view__actions">
            <div
                class="zem-publisher-groups-view__description zem-publisher-groups-view__action"
            >
                Publishers & placements allow you to upload lists of publishers
                or placements and blacklist or whitelist them in account,
                campaign or ad group settings.
            </div>
            <div
                class="zem-publisher-groups-view__buttons zem-publisher-groups-view__action"
            >
                <button
                    class="zem-publisher-groups-view__action_button zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--highlighted zem-button-legacy--add-icon zem-publisher-groups-view__button"
                    [disabled]="isReadOnly"
                    (click)="addPublisherGroup()"
                >
                    Add new list
                </button>
            </div>
        </div>
        <zem-smart-grid
            class="zem-smart-grid zem-publisher-groups-view__item"
            [rowData]="store.state.explicitEntities"
            [columnDefs]="columnDefs"
            [context]="context"
            [paginationOptions]="explicitPaginationOptions"
            [paginationCount]="state.requests.listExplicit.count"
            (paginationChange)="onPaginationChange($event, false)"
            (gridReady)="onExplicitGridReady($event)"
        >
        </zem-smart-grid>
        <zem-expandable-section
            #systemPublisherGroupsSection
            [expandedByDefault]="true"
            [expandLabel]="'Show system placements file preview data'"
            [collapseLabel]="'Hide system placements file preview data'"
        >
            <div class="zem-publisher-groups-view__expandable-section">
                <div
                    class="zem-publisher-groups-view__item zem-publisher-groups-view__section-title"
                >
                    System Publisher & placements lists
                </div>
                <div class="zem-publisher-groups-view__description">
                    Publishers and placements that you blacklist in the
                    dashboard are added to one of the system blacklists listed
                    below.
                </div>
                <zem-smart-grid
                    class="zem-smart-grid zem-publisher-groups-view__item"
                    *ngIf="systemPublisherGroupsSection.expanded"
                    [rowData]="store.state.implicitEntities"
                    [columnDefs]="implicitColumnDefs"
                    [context]="context"
                    [paginationOptions]="implicitPaginationOptions"
                    [paginationCount]="state.requests.listImplicit.count"
                    (paginationChange)="onPaginationChange($event, true)"
                    (gridReady)="onImplicitGridReady($event)"
                >
                </zem-smart-grid>
            </div>
        </zem-expandable-section>
    </div>

    <zem-modal
        #editPublisherGroupModal
        class="zem-modal zem-publisher-groups-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="editPublisherGroupModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{
                        state.activeEntity.entity.id
                            ? editPublisherGroupModalTitle
                            : addPublisherGroupModalTitle
                    }}
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-publisher-group-edit-form
                    class="zem-publisher-group-edit-form"
                    [isDisabled]="state.activeEntity.isReadOnly"
                    [publisherGroup]="state.activeEntity.entity"
                    [publisherGroupErrors]="state.activeEntity.fieldsErrors"
                    (publisherGroupChange)="store.changeActiveEntity($event)"
                    (downloadErrors)="downloadErrors()"
                    (downloadExample)="downloadExample()"
                >
                    <div class="zem-publisher-groups-view__splitter"></div>
                    <div class="zem-publisher-groups-view__item">
                        <label>
                            Scope selector
                            <zem-help-popover
                                class="zem-help-popover"
                                content="Use scope to control where your publisher group can be used."
                                placement="bottom"
                            ></zem-help-popover>
                        </label>
                    </div>
                    <zem-scope-selector
                        class="zem-publisher-groups-view__item zem-scope-selector"
                        [scopeState]="state.activeEntity.scopeState"
                        [agencyErrors]="
                            state.activeEntity.fieldsErrors?.agencyId
                        "
                        [accountErrors]="
                            state.activeEntity.fieldsErrors?.accountId
                        "
                        [isAgencyScopeDisabled]="
                            !state.hasAgencyScope ||
                            state.activeEntity.isReadOnly
                        "
                        [isAccountScopeDisabled]="state.activeEntity.isReadOnly"
                        (scopeStateChange)="store.setActiveEntityScope($event)"
                    >
                        <ng-template #agencyScopeHeaderTemplate>
                            <strong>Agency</strong><br />
                            <span
                                class="zem-radio-input__deemphasized-label-text"
                                >You will be able to use the publisher group on
                                the entire agency and all accounts, campaigns
                                and ad groups.</span
                            >
                        </ng-template>
                        <ng-template #accountScopeHeaderTemplate>
                            <strong>Account</strong><br />
                            <span
                                class="zem-radio-input__deemphasized-label-text"
                                >You will be able to use the publisher group on
                                the selected account and all campaigns and ad
                                groups belonging to the selected account.</span
                            >
                        </ng-template>
                        <ng-template #accountScopeContentTemplate>
                            <zem-select-input
                                class="zem-select-input"
                                [items]="state.accounts"
                                [placeholder]="'Select account'"
                                [value]="state.activeEntity.entity.accountId"
                                [bindLabel]="'name'"
                                [bindValue]="'id'"
                                [appendTo]="'body'"
                                [isClearable]="false"
                                [isSearchable]="true"
                                [isDisabled]="state.activeEntity.isReadOnly"
                                (valueChange)="
                                    store.setActiveEntityAccount($event)
                                "
                            >
                            </zem-select-input>
                        </ng-template>
                    </zem-scope-selector>
                </zem-publisher-group-edit-form>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <zem-button
                    class="zem-button"
                    [isHighlighted]="true"
                    [isLoading]="state.requests.upload.inProgress"
                    [isDisabled]="
                        state.requests.upload.inProgress ||
                        state.activeEntity.isReadOnly
                    "
                    [icon]="'check'"
                    (click)="savePublisherGroup()"
                >
                    Save
                </zem-button>
                <zem-button
                    class="zem-button"
                    [isOutlined]="true"
                    [isDisabled]="state.requests.upload.inProgress"
                    (click)="editPublisherGroupModal.close()"
                >
                    Cancel
                </zem-button>
            </div>
        </ng-container>
    </zem-modal>
    <zem-modal
        #connectionsModal
        class="zem-modal zem-publisher-groups-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="connectionsModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    Publisher & placement group use:
                    {{ state.activeEntity.entity.name }}
                </div>
            </div>
            <div class="zem-modal__body zem-publisher-groups-view__modal-body">
                <div class="zem-publisher-groups-view__modal-description">
                    Here you can review all accounts, campaigns, ad groups and
                    automation rules that use publisher group
                    <b>{{ state.activeEntity.entity.name }}</b> as a whitelist,
                    blacklist or add to list.
                </div>
                <zem-publisher-group-connections-list
                    class="zem-publisher-group-connections-list"
                    [connections]="state.activeEntity.connections"
                    [isLoading]="
                        store.state.requests.listConnections.inProgress ||
                        store.state.requests.removeConnection.inProgress
                    "
                    [isReadOnly]="state.activeEntity.isReadOnly"
                    (removeConnection)="removeConnection($event)"
                ></zem-publisher-group-connections-list>
            </div>
            <div
                class="zem-modal__footer zem-buttons-panel zem-publisher-groups-view__buttons-panel"
            >
                <button
                    class="zem-button-legacy zem-button-legacy--outlined"
                    (click)="connectionsModal.close(); store.clearErrors()"
                >
                    Close
                </button>
                <div
                    *ngIf="
                        store.state.requests.listConnections.errorMessage ||
                        store.state.requests.removeConnection.errorMessage
                    "
                    class="zem-message zem-message--error zem-publisher-groups-view__connections-error"
                >
                    {{ store.state.requests.listConnections.errorMessage }}
                    {{ store.state.requests.removeConnection.errorMessage }}
                </div>
            </div>
        </ng-container>
    </zem-modal>
    <zem-modal
        #deleteFailedModal
        class="zem-modal zem-publisher-groups-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="deleteFailedModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    Failed to delete publisher group
                </div>
            </div>
            <div class="zem-modal__body zem-publisher-groups-view__modal-body">
                <div class="zem-publisher-groups-view__modal-description">
                    Your publisher group
                    <b>{{ state.activeEntity.entity.name }}</b>
                    couldn't be deleted because it is still used on one or more
                    ad groups, campaigns, accounts or automation rules.
                    <br />
                    Please make sure that the publisher group is not used
                    anywhere before deleting it.
                </div>
            </div>
            <div
                class="zem-modal__footer zem-buttons-panel zem-publisher-groups-view__buttons-panel"
            >
                <button
                    class="zem-button-legacy zem-button-legacy--highlighted"
                    (click)="
                        deleteFailedModal.close();
                        openConnectionsModal(state.activeEntity.entity)
                    "
                >
                    Review publisher group use
                </button>
                <button
                    class="zem-button-legacy zem-button-legacy--outlined"
                    (click)="deleteFailedModal.close()"
                >
                    Cancel
                </button>
            </div>
        </ng-container>
    </zem-modal>
</ng-container>
