@import 'variables';

.zem-publisher-groups-view {
    display: block;
}

.zem-publisher-groups-view__panel {
    margin-top: 22.5px;
}

.zem-publisher-groups-view__modal .zem-buttons-panel {
    margin: 0;
}

.zem-publisher-groups-view__modal-body {
    position: relative;
}

.zem-publisher-groups-view__top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: @zem-form-group__items-spacing--default;
}

@media only screen and (min-width: 400px) {
    .zem-publisher-groups-view__top-bar {
        flex-direction: row;
    }
}

.zem-publisher-groups-view__description {
    margin-bottom: @spacing--default;
    color: @text-color--lighter;
}

.zem-publisher-groups-view__item:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-publisher-groups-view__modal .zem-buttons-panel {
    margin: 0;
}

.zem-publisher-groups-view__expandable-section {
    padding: @spacing--default;
}

.zem-publisher-groups-view__expandable-section .ag-root {
    background-color: white;
}

.zem-publisher-groups-view__section-title {
    font-size: 17px;
    color: @color--secondary;
}

.zem-publisher-groups-view__action_button {
    flex-shrink: 0;
}

.zem-publisher-groups-view__scope-description {
    color: @text-color--light;
    font-size: 700px;
}

.zem-publisher-groups-view__splitter {
    background-color: @border-color--default;
    height: 1px;
    margin: @spacing--default 0 @spacing--default 0;
    border: none;
}

.zem-publisher-groups-view__buttons-panel {
    flex-wrap: nowrap;
}

.zem-publisher-groups-view__connections-error {
    margin-top: 12px;
    overflow: auto;
    white-space: nowrap;
}
