<div uib-dropdown>
    <a href class="dropdown-toggle" uib-dropdown-toggle>
        <img ng-src="{{$ctrl.config.static_url}}/one/images/menu.svg"/>
    </a>
    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <div class="dropdown-menu__shadow"></div>
        <div class="dropdown-menu__logged-in-user">
            <div class="logged-in-user__title">Logged in as:</div>
            {{$ctrl.userEmail}}
        </div>
        <ul class="dropdown-menu__group" ng-if="$ctrl.getActions('account').length">
            <li class="dropdown-menu-group__title">Account settings:</li>
            <li ng-repeat="action in $ctrl.getActions('account')">
                <a href ng-click="$ctrl.execute(action)" is-internal="{{action.isInternalFeature}}">
                    {{action.text}}
                </a>
            </li>
        </ul>
        <ul class="dropdown-menu__group" ng-if="$ctrl.getActions('user').length">
            <li class="dropdown-menu-group__title">User settings:</li>
            <li ng-repeat="action in $ctrl.getActions('user')">
                <a href ng-click="$ctrl.execute(action)" is-internal="{{action.isInternalFeature}}">
                    {{action.text}}
                </a>
            </li>
        </ul>
    </div>
</div>
