<span uib-dropdown>
    <a href class="dropdown-toggle" uib-dropdown-toggle>
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <li>{{$ctrl.userEmail}}</li>
        <li ng-repeat="action in $ctrl.actions">
            <zem-internal-feature ng-if="action.isInternalFeature" popover-placement="bottom"></zem-internal-feature>
            <a href ng-click="$ctrl.execute(action)">
                {{action.text}}
            </a>
        </li>
    </ul>
</span>
