<div class="zem-thumbnail-cell">
    <div
        class="zem-thumbnail-cell__popover zem-thumbnail-cell__popover--trigger"
        [zemPopover]="adPreviewTemplate"
        [stayOpenOnHover]="true"
        [popoverOpenDelay]="500"
        triggers="mouseenter:mouseleave"
        [popoverPlacement]="['left', 'auto']"
        popoverContainer="body"
    >
        <img
            *ngIf="square"
            class="zem-thumbnail-cell__square"
            src="{{ square }}"
        />
        <div *ngIf="adTag" class="zem-thumbnail-cell__ad-tag"></div>
    </div>
</div>

<ng-template #adPreviewTemplate>
    <div class="zem-ad-preview">
        <!-- NATIVE CREATIVES -->
        <zem-native-ad-preview
            *ngIf="isNative"
            class="zem-native-ad-preview"
            [url]="url"
            [landscapeHostedImageUrl]="landscape"
            [hostedImageUrl]="square"
            [hostedIconUrl]="icon"
            [title]="breakdownName"
            [brandName]="brandName"
            [description]="description"
            [displayUrl]="displayUrl"
            [callToAction]="callToAction"
        ></zem-native-ad-preview>
        <!-- DISPLAY CREATIVES -->
        <zem-display-ad-preview
            *ngIf="isImage || isAdTag"
            class="zem-display-ad-preview"
            [url]="displayUrl"
            [adType]="adType"
            [displayHostedImageUrl]="image"
            [adTag]="adTag"
            [imageWidth]="creativeWidth"
            [imageHeight]="creativeHeight"
        ></zem-display-ad-preview>
    </div>
</ng-template>
