<div class="zem-performance-indicator-cell">
    <img
        class="zem-performance-indicator-cell__icon"
        [class.zem-performance-indicator-cell__popover-trigger]="
            performanceIndicators.length > 0
        "
        src="{{ overallIconUrl }}"
        [zemPopover]="
            performanceIndicators.length > 0
                ? performanceIndicatorsTemplate
                : null
        "
        [stayOpenOnHover]="true"
        [popoverOpenDelay]="500"
        triggers="mouseenter:mouseleave"
        [popoverPlacement]="['top', 'auto']"
        popoverContainer="body"
    />
</div>

<ng-template #performanceIndicatorsTemplate>
    <div
        class="zem-performance-indicator"
        *ngFor="let indicator of performanceIndicators"
    >
        <img
            class="zem-performance-indicator__icon zem-performance-indicator__item"
            src="{{ indicator.iconUrl }}"
        />
        <span
            class="zem-performance-indicator__text zem-performance-indicator__item"
            >{{ indicator.text }}</span
        >
    </div>
</ng-template>
