///////////////
// Variables //
///////////////

@import '../one/shared';

// GENERAL SETTINGS

@images-folder: 'images/whitelabel/adtechnacity';
@logo: url('@{images-folder}/adtechnacity-logo.svg') no-repeat center center;

// GREENPARK COLORS

@primary-color: #FF7F00;
@secondary-color: #555f7b;
