.zem-campaign-launcher-creatives {
    display: block;
    width: 100%;
    height: 700px;

    .content-upload__ads-container {
        width: 964px;
        margin-top: 0;
    }
}

.zem-campaign-launcher-creatives__ad-picker-container {
    position: relative;
    overflow: hidden;
}
