<div
    ng-repeat="tab in $ctrl.tabs"
    class="zem-grid-container-tabs__tab"
    ng-class="{'zem-grid-container-tabs__tab--active': tab.selected}"
>
    <a
        class="zem-grid-container-tabs__tab-content"
        ng-click="$ctrl.navigateToStateWithQueryParams($event, tab)"
        ng-href="{{ $ctrl.getStateHrefWithQueryParams(tab) }}"
    >
        {{ tab.name }}
    </a>
    <div
        class="zem-grid-container-tabs__tab-dropdown dropdown dropdown--no-mobile-style dropdown-toggle--no-mobile-style"
        ng-if="$ctrl.hasOptions(tab)"
        uib-dropdown
        uib-dropdown-toggle
    >
        <div class="zem-grid-container-tabs__tab-dropdown-toggle-icon"></div>
        <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
            <div class="dropdown-menu__container custom-scroller">
                <div class="dropdown-menu__list">
                    <a
                        class="dropdown-menu__list-item"
                        ng-repeat="option in tab.options"
                        ng-click="$ctrl.navigateToStateWithQueryParams($event, tab, option)"
                        ng-href="{{
                            $ctrl.getStateHrefWithQueryParams(tab, option)
                        }}"
                    >
                        {{ option.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
