@import 'variables';

.zem-grid-container-tabs {
    display: flex;
    flex-wrap: wrap;
}

.zem-grid-container-tabs__tab {
    width: 100%;
    display: flex;
    margin-bottom: 4px;
}

.zem-grid-container-tabs__tab:last-child {
    margin-bottom: 0px;
}

.zem-grid-container-tabs__tab--active {
    border-top: 2px solid @color--secondary;
}

.zem-grid-container-tabs__tab-content {
    flex: 1 1 auto;
    color: @text-color--default;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    background-color: darken(@color--lighter-neutral, 4%);
    padding: 6px @spacing--default;
    transition: background-color @duration-and-timing-fn--default;
    border-bottom: 1px solid darken(@color--lighter-neutral, 4%);

    &:hover {
        color: @text-color--default;
        text-decoration: none;
        background-color: white;
    }
}

.zem-grid-container-tabs__tab--active .zem-grid-container-tabs__tab-content {
    color: @color--secondary;
    font-weight: 500;
    background: white;
    padding: 8px @spacing--default;
    border-bottom: 0;

    &:hover {
        color: @color--secondary;
    }
}

.zem-grid-container-tabs__tab-dropdown {
    cursor: pointer;
    background-color: darken(@color--lighter-neutral, 4%);
    padding: 6px @spacing--default;
    transition: background-color @duration-and-timing-fn--default;
    border-bottom: 1px solid darken(@color--lighter-neutral, 4%);

    &:hover {
        background-color: white;
    }
}

.zem-grid-container-tabs__tab--active .zem-grid-container-tabs__tab-dropdown {
    background: white;
    padding: 8px @spacing--default;
    border-bottom: 0;

    &:hover {
        background-color: darken(@color--lighter-neutral, 4%);
    }
}

.zem-grid-container-tabs__tab-dropdown .dropdown-menu {
    padding: 0;
    border-top-right-radius: 0;

    .dropdown-menu__container {
        max-height: 235px !important;
        max-width: 200px;
    }
}

.zem-grid-container-tabs__tab-dropdown-toggle-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 12px;
    width: 6px;
    height: 10px;
    background-image: url('@{images-folder}/arrow-sec.svg');
    background-repeat: no-repeat;
}

.zem-grid-container-tabs__tab-dropdown .dropdown-menu__container {
    padding: 4px;
}

.zem-grid-container-tabs__tab-dropdown .dropdown-menu__list {
    margin: 0;
    padding: 0;
}

.zem-grid-container-tabs__tab-dropdown .dropdown-menu__list-item {
    margin: 0;
    padding: 7px 10px;
    font-size: 13px;

    &:hover {
        background-color: rgba(63, 84, 127, 0.1);
        border-radius: 4px;
    }
}
