
.publisher-group-upload .modal-dialog {
    .form__label {
        width: 22%;
    }

    .form__indented-group {
        margin-left: 24%;
    }

    .message {
        margin-left: 24%;
    }

    .form__group--choose-file {
        .input-text.file-choosen {
            margin-left: 3px;
            width: 48%;
        }
    }
}