.zem-custom-audiences-targeting {
    .targeting-list {
        .targeting-list-tag {
            .remove {
                width: 0.8em;
                height: 0.8em;
            }
        }
    }

    .audience-select-buttons {
        float: right;
        font-size: 0.8em;
        margin-top: auto;
        margin-bottom: 0px;

        a {
            &:first-child {
                border-right: 1px solid #000;
            }
        }
    }
}
