.zem-custom-audiences-modal {
    .create-button {
        display: block;
        float: right;
        width: 130px;
        margin-left: 3px;

        .loader-image {
            height: 12px;
        }
    }
}
