<h1 class="content-container__title">Deals library</h1>

<ng-container *ngIf="agencyId && (store.state$ | async) as state">
    <div class="zem-panel zem-panel--with-padding zem-deals-library__panel">
        <zem-smart-grid
            [rowData]="state.entities"
            [columnDefs]="dealsColumnDefs"
            [paginationOptions]="paginationOptions"
            [paginationCount]="state.requests.list.count"
            (paginationChange)="onPaginationChange($event)"
        >
        </zem-smart-grid>
    </div>
</ng-container>

<ng-container *ngIf="!agencyId">
    <div
        class="zem-message zem-message--bubble zem-message--with-icon zem-message--warning"
    >
        Deals library not available
    </div>
</ng-container>
