@import 'variables';

.zem-deals-library-view {
    display: block;
}

.zem-deals-library-view__panel {
    margin-top: 22.5px;
}

.zem-deals-library-view__item:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-deals-library-view__modal .zem-buttons-panel {
    margin: 0;
}

.zem-deals-library-view__grid-cell--clickable {
    cursor: pointer;
    text-decoration: underline;
    color: @color--secondary;
}
