@import 'variables';

.zem-deals-library__panel {
    margin-top: 22.5px;
}

.zem-deals-library__item:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-deals-library__modal .zem-buttons-panel {
    margin: 0;
}

.zem-deals-library__grid-cell--clickable {
    cursor: pointer;
    text-decoration: underline;
    color: @color--secondary;
}
