<h1 class="content-container__title">Deals library</h1>

<ng-container *ngIf="agencyId && (store.state$ | async) as state">
    <div class="zem-panel zem-panel--with-padding zem-deals-library__panel">
        <div class="zem-deals-library__buttons-container">
            <button
                class="zem-button zem-button--with-icon add-icon zem-deals-library__button"
                (click)="openEditDealModal({})"
            >
                Add new deal
            </button>
        </div>
        <zem-smart-grid
            [rowData]="state.entities"
            [columnDefs]="columnDefs"
            [context]="context"
            [paginationOptions]="paginationOptions"
            [paginationCount]="state.requests.list.count"
            (paginationChange)="onPaginationChange($event)"
        >
        </zem-smart-grid>
    </div>
    <zem-modal
        #editDealModal
        class="zem-modal zem-deals-library__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="editDealModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">Edit deal</div>
            </div>
            <div class="zem-modal__body">
                <zem-deal-edit-form
                    class="zem-deal-edit-form"
                    [deal]="state.activeEntity.entity"
                    [dealErrors]="state.activeEntity.fieldsErrors"
                    [sources]="state.sources"
                    (dealChange)="store.changeActiveEntity($event)"
                >
                </zem-deal-edit-form>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <button
                    *ngIf="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress
                    "
                    class="zem-button zem-button--highlighted zem-button--loading"
                    disabled
                ></button>
                <button
                    *ngIf="
                        !state.requests.edit.inProgress &&
                        !state.requests.create.inProgress
                    "
                    class="zem-button zem-button--highlighted zem-button--with-icon zem-button--check-icon"
                    [disabled]="!canSaveActiveEntity"
                    (click)="saveDeal()"
                >
                    Save
                </button>
                <button
                    class="zem-button zem-button--outlined"
                    [disabled]="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress
                    "
                    (click)="editDealModal.close()"
                >
                    Cancel
                </button>
            </div>
        </ng-container>
    </zem-modal>
    <zem-modal
        #connectionsModal
        class="zem-modal zem-deals-library__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
        (onClose)="closeConnectionsModal()"
    >
        <ng-container *ngIf="connectionsModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{ state.activeEntity.entity.name }} ({{ connectionType }})
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-connections-list
                    [connections]="state.activeEntity.connections"
                    [connectionType]="connectionType"
                    (removeConnection)="removeConnection($event)"
                ></zem-connections-list>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <button
                    class="zem-button zem-button--outlined"
                    (click)="connectionsModal.close()"
                >
                    Close
                </button>
            </div>
        </ng-container>
    </zem-modal>
</ng-container>

<ng-container *ngIf="!agencyId">
    <div
        class="zem-message zem-message--bubble zem-message--with-icon zem-message--warning"
    >
        Deals library not available
    </div>
</ng-container>
