<div
    zemDropdown
    [suppressDropdownMobileStyle]="true"
    #bidModifierActionsDropdown="zemDropdown"
>
    <button class="button button--dropdown-toggle-icon" zemDropdownToggle>
        Bid Modifiers
    </button>
    <div zemDropdownContent>
        <ul class="zem-bid-modifier-actions__list">
            <li class="zem-bid-modifier-actions__list-item" (click)="export()">
                Export
            </li>
            <li
                class="zem-bid-modifier-actions__list-item"
                [class.zem-bid-modifier-actions__list-item--disabled]="
                    isImportDisabled
                "
                (click)="openImportModal()"
            >
                Import
            </li>
        </ul>
    </div>
</div>

<zem-modal
    #bidModifierImportFormModal
    [canCloseOnBackdropClick]="false"
    [canCloseOnEscapeKey]="true"
    class="zem-modal"
>
    <ng-container *ngIf="bidModifierImportFormModal.isOpen">
        <div class="zem-modal__header">
            <div class="zem-modal__title">Import Bid Modifiers</div>
        </div>
        <div class="zem-modal__body">
            <zem-bid-modifier-import-form
                class="zem-bid-modifier-import-form"
                [adGroupId]="adGroupId"
                [breakdown]="breakdown"
                (componentReady)="onComponentReady($event)"
                (fileChange)="onFileChange($event)"
            ></zem-bid-modifier-import-form>
        </div>
        <div class="zem-modal__footer zem-buttons-panel">
            <zem-button
                class="zem-button"
                [isHighlighted]="true"
                [isLoading]="importRequestInProgress"
                [isDisabled]="importRequestInProgress || !importFileIsValid"
                [icon]="'check'"
                (click)="import()"
            >
                Import
            </zem-button>
            <zem-button
                class="zem-button"
                [isOutlined]="true"
                [isDisabled]="importRequestInProgress"
                (click)="bidModifierImportFormModal.close()"
            >
                Cancel
            </zem-button>
        </div>
    </ng-container>
</zem-modal>
