<div class="zem-grid-row-breakdown">
    <div class="zem-grid-cell breakdown-row-primary-cell">
        <div ng-style="ctrl.getBreakdownColumnStyle()">
            <span ng-show="ctrl.row.data.meta.loading"> Loading ... </span>
            <a
                ng-show="!ctrl.row.data.meta.loading && !ctrl.row.data.pagination.complete && !ctrl.row.data.meta.error"
                ng-click="ctrl.loadMore(20)"
            >
                <img
                    class="load-more-icon"
                    ng-src="{{
                        ctrl.config.staticUrl
                    }}/one/images/load_more.svg"
                />
                <span>Load more</span>
            </a>
            <span
                ng-show="!ctrl.row.data.meta.loading && (ctrl.row.data.pagination.complete || ctrl.row.data.meta.error)"
            >
                - {{ ctrl.row.data.pagination.limit }} -
            </span>
        </div>
    </div>

    <div class="zem-grid-cell breakdown-row-info-cell">
        <div class="loading-cell" ng-show="ctrl.row.data.meta.loading"></div>
        <span
            ng-show="!ctrl.row.data.meta.loading && (ctrl.row.data.pagination.complete || ctrl.row.data.meta.error)"
            ng-bind="ctrl.getCompleteText()"
        >
        </span>
    </div>
</div>
