@import 'variables';

.zem-grid-bridge {
    display: block;
}

.zem-grid-bridge__item {
    display: block;
}

.zem-grid-bridge__ag-row--archived {
    background-color: @color--lightest-neutral;
    border-color: @color--lightest-neutral;
    color: @text-color--lighter;
}

.zem-grid-bridge__ag-row--archived a {
    color: @text-color--lighter;
}

.zem-grid-bridge__ag-cell--metric {
    text-align: right;
}

.zem-grid-bridge__ag-cell--bid-modifier,
.zem-grid-bridge__ag-cell--currency {
    padding: 0px !important;
}

.zem-grid-bridge__ag-cell--bid-modifier .ag-cell-value,
.zem-grid-bridge__ag-cell--currency .ag-cell-value {
    height: 100%;
}
