<ng-container *ngIf="store.state$ | async as state">
    <zem-smart-grid
        class="zem-smart-grid zem-grid-bridge__item"
        *ngIf="isMetaDataReady"
        [gridOptions]="gridOptions"
        [context]="context"
        [columnDefs]="state.columns"
        [rowData]="state.data.rows"
        [pinnedBottomRowData]="state.data.totals"
        [paginationOptions]="state.data.paginationOptions"
        [paginationCount]="state.data.pagination.count"
        (paginationChange)="paginationChange.emit($event)"
        (gridReady)="onGridReady($event)"
        (gridColumnsChange)="onGridColumnsChange($event)"
        (rowDataUpdate)="onRowDataUpdate($event)"
        (dragStop)="onDragStop($event)"
    >
    </zem-smart-grid>
</ng-container>
