<div class="custom-panel zem-settings-component__container zem-adgroup-general-settings">
    <h2 class="custom-panel__title">General settings</h2>
    <div class="form">
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.name}">
            <label class="form__label" for="name-input">Name:</label>
            <input class="input-text" id="name-input" type="text" ng-model="$ctrl.entity.settings.name">
            <div class="message message--error" ng-repeat="error in $ctrl.errors.name"
                 for="name-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-class="{
                                     'form--error': !!$ctrl.errors.startDate,
                                     'calendar-is-open': $ctrl.startDatePicker.isOpen}">
            <label class="form__label" for="start-date-input">
                Start date:
                <zem-help-popover content="The start date of the ad group. If the date is set in the future, the ad group will not run until that date." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input class="input-text" id="start-date-input" type="text" uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="$ctrl.entity.settings.startDate" is-open="$ctrl.startDatePicker.isOpen"
                       ng-click="$ctrl.openDatePicker('startDate')" ng-disabled="$ctrl.entity.settings.autopilotOnCampaign">
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.startDate"
                 for="start-date-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-class="{
                                     'form--error': !!$ctrl.errors.endDate,
                                     'calendar-is-open': $ctrl.endDatePicker.isOpen}">
            <label class="form__label" for="end-date-input">
                End date:
                <zem-help-popover content="The end date of the ad group. Ad group will run until the end of stop date." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon m-r">
                <input class="input-text" id="end-date-input" ng-disabled="$ctrl.entity.settings.autopilotOnCampaign || $ctrl.entity.warnings.endDate !== undefined"
                       type="text" uib-datepicker-popup="MM/dd/yyyy" datepicker-options="$ctrl.endDatePickerOptions"
                       ng-model="$ctrl.entity.settings.endDate" is-open="$ctrl.endDatePicker.isOpen"
                       ng-click="$ctrl.openDatePicker('endDate')">
            </div>
            <div class="form__checkbox">
                <label>
                    <input class="input-checkbox" ng-disabled="$ctrl.entity.settings.autopilotOnCampaign || $ctrl.entity.warnings.endDate !== undefined" type="checkbox"
                           id="manual-stop-cb" ng-model="$ctrl.entity.settings.manualStop">
                    <span class="checkbox-text" for="manual-stop-cb">I'll stop it myself</span>
                </label>
            </div>
            <div class="message message--error" ng-if="$ctrl.entity.warnings.endDate === undefined"
                 ng-repeat="error in $ctrl.errors.endDate" for="end-date-input">{{ error }}</div>
            <div class="message message--warning message--with-icon" ng-if="$ctrl.entity.warnings.endDate !== undefined">
                {{ $ctrl.MESSAGES.WARNING_END_DATE }} <a ng-click="$ctrl.goToBudgets()">Add budget</a>
            </div>
            <div class="message message--warning message--with-icon" ng-if="$ctrl.entity.settings.autopilotOnCampaign">
                {{ $ctrl.MESSAGES.WARNING_CAMPAIGN_BUDGET_OPTIMIZATION_FLIGHT_TIME }}
            </div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_set_ad_group_max_cpc')"
             ng-class="{'form--error': !!$ctrl.errors.cpc}">
            <label class="form__label" for="cpc-input" is-internal="zemauth.can_set_ad_group_max_cpc">
                Maximum Bid CPC:
                <zem-help-popover content="Maximum allowed CPC in this ad group." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow">
                <span class="prefixed-field__prefix">{{$ctrl.currencySymbol}}</span>
                <input class="input-text" id="cpc-input" type="text" ng-model="$ctrl.entity.settings.cpc"
                       zem-currency-input fraction-size="3" empty-text="No limit">
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.cpc"
                 for="cpc-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_set_click_capping')">
            <label class="form__label" for="click-capping-input" is-internal="zemauth.can_set_click_capping">
                Daily click cap:
                <zem-help-popover content="Limit number of clicks you want to reach daily within the ad group. Zemanta will stop spending for the rest of the day once it hits the maximum number of clicks you set." placement="top"></zem-help-popover>
            </label>
            <input id="click-capping-input"
                    class="input-text input-text--narrow"
                    ng-model="$ctrl.entity.settings.clickCappingDailyAdGroupMaxClicks"
                    type="text"
                    zem-numeric-validator>
            <div class="message message--info message--with-icon">
                {{ $ctrl.MESSAGES.INFO_CLICK_CAPPING }}
            </div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.fea_can_use_cpm_buying')"
             ng-class="{'form--error': !!$ctrl.errors.maxCpm}">
            <label class="form__label" for="cpm-input" is-internal="zemauth.fea_can_use_cpm_buying">
                Maximum Bid CPM:
                <zem-help-popover content="Maximum allowed CPM in this ad group." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow">
                <span class="prefixed-field__prefix">{{$ctrl.currencySymbol}}</span>
                <input id="cpm-input"
                       class="input-text"
                       ng-model="$ctrl.entity.settings.maxCpm"
                       ng-disabled="$ctrl.entity.warnings.maxCpm !== undefined"
                       type="text"
                       empty-text="No limit"
                       zem-currency-input fraction-size="3">
            </div>
            <div class="message message--warning message--with-icon" ng-if="$ctrl.entity.warnings.maxCpm !== undefined">
                {{ $ctrl.MESSAGES.WARNING_MAX_CPM }}
            </div>
            <div class="message message--error" ng-if="$ctrl.entity.warnings.maxCpm === undefined"
                 ng-repeat="error in $ctrl.errors.maxCpm" for="cpm-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_set_delivery_type')">
            <label class="form__label" is-internal="zemauth.can_set_delivery_type">
                Delivery type:
                <zem-help-popover content="Delivery type determines how your ads will be delivered throughout the day. Standard option is optimal in most cases as it makes sure that people from various timezones and with different browsing habits can be reached. Accelerated campaign will deliver ads within first hours of the day and stop once it reaches daily cap." placement="top"></zem-help-popover>
            </label>
            <div class="form__radio">
                <label>
                    <input class="input-radio" type="radio"
                        ng-model="$ctrl.entity.settings.deliveryType" ng-value="$ctrl.deliveryType.STANDARD">
                    <span class="radio-text">
                        Standard <span class="text-gray">- Deliver ads throughout the day.</span>
                    </span>
                </label>
            </div>
            <div class="form__radio">
                <label>
                    <input class="input-radio" type="radio"
                           ng-model="$ctrl.entity.settings.deliveryType" ng-value="{{ $ctrl.deliveryType.ACCELERATED }}">
                    <span class="radio-text">
                        Accelerated <span class="text-gray">- Deliver ads as soon as possible.</span>
                    </span>
                </label>
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.deliveryType">
                {{ error }}
            </div>
        </div>
    </div>
</div>
