@import 'variables';

.zem-rule-edit-form-condition {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid @color--lighter-neutral;
    border-radius: 4px;
}

.zem-rule-edit-form-condition__operand-container {
    display: flex;
    align-items: center;
    flex: 1 0 360px;
    margin: @zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition__operand-select {
    flex: 1 0 200px;
    margin-right: 2px;
}

.zem-rule-edit-form-condition__modifiers-toggle {
    flex: 0;
    margin: 0 !important;
}

.zem-rule-edit-form-condition__absolute-value-input {
    flex: 0 1 140px;
    margin-right: 2px;
}

.zem-rule-edit-form-condition__operator {
    flex: 1 0 120px;
    margin: @zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition__remove-button {
    flex: 0;
    margin: @zem-form-group__items-spacing--default / 2 !important;
}
