<span
    class="dropdown"
    uib-dropdown
    auto-close="disabled"
    is-open="$ctrl.isDropdownOpen"
>
    <a
        href
        class="button button--dropdown-toggle-icon"
        uib-dropdown-toggle
        title="{{ $ctrl.metric.name }}"
        >{{ $ctrl.metric.name }}</a
    >
    <div class="dropdown-menu" uib-dropdown-menu>
        <div class="dropdown-menu__container custom-scroller">
            <div
                class="dropdown-menu__category"
                ng-repeat="category in $ctrl.categories"
            >
                <div
                    class="dropdown-menu__category-name"
                    zem-new-feature="{{ category.isNewFeature === true }}"
                >
                    {{ category.name }}
                    <zem-help-popover
                        ng-if="category.helpText"
                        content="{{ category.helpText }}"
                        placement="top"
                    ></zem-help-popover>
                </div>
                <zem-conversion-pixel-selector
                    ng-if="category.name === $ctrl.categoryName.PIXELS"
                    [selected-metric]="$ctrl.metric"
                    [pixel-categories]="category.subcategories"
                    (value-change)="
                        $ctrl.onChanged($event); $ctrl.isDropdownOpen = false
                    "
                >
                </zem-conversion-pixel-selector>
                <div ng-if="category.name !== $ctrl.categoryName.PIXELS">
                    <div
                        class="dropdown-menu__category-description"
                        ng-if="category.description"
                    >
                        {{ category.description }}
                    </div>
                    <ul
                        class="dropdown-menu__list dropdown-menu__list--two-columns"
                        ng-if="category.metrics.length > 0"
                    >
                        <li
                            class="dropdown-menu__list-item dropdown-menu__list-item--option"
                            ng-repeat="metric in category.metrics"
                        >
                            <div
                                class="dropdown-menu__option"
                                ng-click="$ctrl.onChanged(metric); $ctrl.isDropdownOpen = false"
                                is-internal="{{ metric.internal }}"
                                ng-class="{'dropdown-menu__option--selected': metric === $ctrl.metric}"
                            >
                                {{ metric.shortName || metric.name }}
                            </div>
                        </li>
                    </ul>
                    <div
                        class="dropdown-menu__subcategory"
                        ng-repeat="subcategory in category.subcategories"
                    >
                        <div class="dropdown-menu__subcategory-name">
                            {{ subcategory.name }}
                        </div>
                        <div
                            class="dropdown-menu__subsubcategory"
                            ng-repeat="subsubcategory in subcategory.subcategories"
                        >
                            <div class="dropdown-menu__subsubcategory-name">
                                {{ subsubcategory.name }}
                            </div>
                            <ul class="dropdown-menu__subsubcategory-items">
                                <li
                                    class="dropdown-menu__subsubcategory-item"
                                    ng-repeat="metric in subsubcategory.metrics"
                                >
                                    <div
                                        class="dropdown-menu__option"
                                        ng-click="$ctrl.onChanged(metric); $ctrl.isDropdownOpen = false"
                                        ng-class="{'dropdown-menu__option--selected': metric === $ctrl.metric}"
                                    >
                                        {{ metric.shortName }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.nullable" class="dropdown-menu__list">
                <span
                    class="dropdown-menu__option"
                    ng-click="$ctrl.onChanged(null); $ctrl.isDropdownOpen = false"
                    ng-class="{'dropdown-menu__option--selected': !$ctrl.metric.value}"
                >
                    None
                </span>
            </div>
        </div>
    </div>
</span>
