<div
    class="zem-rule-form-condition-modifier__value-modifier"
    *ngIf="valueModifier && valueModifier.unit === Unit.Percentage"
>
    <zem-currency-input
        class="zem-currency-input zem-rule-form-condition-modifier__value-modifier-item zem-rule-form-condition-modifier__value-input"
        [value]="value"
        [currencySymbol]="'%'"
        (inputBlur)="updateValue($event)"
    ></zem-currency-input>
    <span class="zem-rule-form-condition-modifier__value-modifier-item">
        of {{ valueLabel }}
    </span>
</div>

<div
    class="zem-rule-form-condition-modifier__value-modifier"
    *ngIf="valueModifier && valueModifier.unit === Unit.Date"
>
    <span class="zem-rule-form-condition-modifier__value-modifier-item">
        {{ valueLabel }}
    </span>
    <zem-select-input
        class="zem-select-input zem-rule-form-condition-modifier__value-modifier-item"
        [value]="valueSign"
        bindLabel="label"
        bindValue="value"
        [items]="availableValueSigns"
        [isSearchable]="false"
        [isClearable]="false"
        (valueChange)="updateValue(value, $event)"
    ></zem-select-input>
    <zem-integer-input
        class="zem-integer-input zem-rule-form-condition-modifier__value-modifier-item"
        [value]="value"
        (inputBlur)="updateValue($event, valueSign)"
    ></zem-integer-input>
    <span class="zem-rule-form-condition-modifier__value-modifier-item">
        day(s)
    </span>
</div>

<div *ngIf="hasTimeRangeModifier">
    <div class="zem-rule-form__section-title">Time range:</div>
    <zem-radio-input
        class="zem-rule-form__section-item zem-radio-input"
        *ngFor="let availableTimeRange of availableTimeRanges"
        [groupModel]="timeRange"
        [value]="availableTimeRange.value"
        (select)="timeRangeChange.emit($event)"
    >
        {{ availableTimeRange.label }}
    </zem-radio-input>
</div>
