.zem-rule-form-condition-modifier__container {
    display: flex;
    margin-top: 5px;
}

.zem-rule-form-condition-modifier__type {
    width: 160px;
    margin-right: 5px;
}

.zem-rule-form-condition-modifier__text {
    width: 150px;
    margin-right: 5px;
}

.zem-rule-form-condition-modifier__value {
    width: 100px;
}

.zem-rule-form-condition-modifier__buttons {
    display: block;
    margin-top: 10px;
}

.zem-rule-form-condition-modifier__button {
    margin-right: 5px;
}

.zem-rule-form-condition-modifier__button:last-child {
    margin-right: 0;
}
