.zem-rule-form-condition-modifier__modifier-container {
    display: flex;
    margin-top: 5px;
}

.zem-rule-form-condition-modifier__modifier-item {
    flex: 1 1 auto;
    min-width: 120px;
    width: min-content;
    margin-right: 5px;
}

.zem-rule-form-condition-modifier__modifier-item:last-child {
    margin-right: 0;
}

.zem-rule-form-condition-modifier__buttons {
    display: block;
    margin-top: 10px;
}

.zem-rule-form-condition-modifier__button {
    margin-right: 5px;
}

.zem-rule-form-condition-modifier__button:last-child {
    margin-right: 0;
}
