<div class="zem-footer__container">
    <div class="zem-footer__logo zem-footer__item">
        <div class="zem-footer__logo-image"></div>
    </div>
    <div class="zem-footer__copyright zem-footer__item">
        <div class="zem-footer__copyright-item">
            <a
                class="zem-footer__link"
                href="{{ termsOfServiceUrl }}"
                target="_blank"
                >Terms Of Service</a
            >
        </div>
        <div class="zem-footer__copyright-item">
            <span>All rights reserved &copy;</span>
            <a class="zem-footer__link" href="{{ copyrightHolderUrl }}">{{
                copyrightHolder
            }}</a>
        </div>
    </div>
    <div class="zem-footer__informations zem-footer__item">
        <ul class="zem-footer__informations-list">
            <li class="zem-footer__informations-list-item">
                The reporting data is an estimate, and the final amount will be
                reflected on your invoice.
            </li>
            <li class="zem-footer__informations-list-item">
                Data for the last 3 days might change substantially as our SSP
                partners submit their reports.
            </li>
            <li class="zem-footer__informations-list-item">
                All times are in Eastern Standard Time (EST).
            </li>
        </ul>
    </div>
</div>
