@import 'variables';

.zem-add-to-publishers-form {
    display: block;
}

.zem-add-to-publishers-form .zem-form-group__label {
    flex: 0 0 150px;
}

.zem-add-to-publishers-form__section-item:not(:first-child) {
    display: block;
    margin-top: @spacing--small;
}
