<zem-select-form-group
    class="zem-add-to-publishers-form__section-item"
    label="Select list"
    bindLabel="name"
    bindValue="id"
    [value]="publisherGroup.id"
    [items]="availablePublisherGroups"
    [isLoading]="searchInProgress"
    [isSearchable]="true"
    [isClearable]="true"
    [appendTo]="'body'"
    [errors]="publisherGroupErrors?.name"
    (valueChange)="selectPublisherGroup($event)"
    (search)="search.emit($event)"
></zem-select-form-group>
<div class="zem-add-to-publishers-form__section-item">
    Do you wish to add the selected publishers or placements to a new list?
    <a (click)="switchToCreate.emit()">Create new list</a>
</div>
