@import 'variables';

.zem-inventory-planning {
    display: block;

    .zem-inventory-planning-filter {
        margin-top: @default-spacing*2;
    }

    .zem-inventory-planning-breakdown {
        float: left;
        width: 33.3333%;
        height: 400px;
        padding-left: @default-spacing;

        &:first-child {
            padding-left: 0;
        }
    }
}

.zem-inventory-planning__breakdowns {
    margin-top: @default-spacing*2;
}
