@import 'variables';

.zem-inventory-planning {
    display: block;

    .zem-inventory-planning-summary {
        height: 350px;
        margin-top: @default-spacing*1.5;
    }

    .zem-inventory-planning-filter {
        margin: @default-spacing*1.5 0;
    }

    .zem-inventory-planning-breakdown {
        float: left;
        width: 23.5%;
        padding-left: 2%;
        border-left: 1px solid @light-gray;
        margin-left: 2%;

        &:first-child {
            padding-left: 0;
            margin-left: 0;
            border-left: none;
        }
    }

    .zem-inventory-planning-breakdown__container {
        height: 400px;
    }
}

.zem-inventory-planning__breakdowns {
    margin-bottom: @default-spacing*1.5;
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-inventory-planning {
        .zem-inventory-planning-breakdown {
            float: none;
            width: 100%;
            border-left: none;
            padding: 0 0 @default-spacing 0;
            margin: 0 0 @default-spacing 0;
            border-bottom: 1px solid @light-gray;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        .zem-inventory-planning-breakdown__container {
            height: 250px;
        }
    }
}
