<h1 class="content-container__title">Inventory planning</h1>

<!-- FIXME(nsaje): remove after release -->
<div *ngIf="zemPermissions.hasPermission('zemauth.fea_can_see_inventory_planning')">

<zem-inventory-planning-filter class="zem-inventory-planning-filter"
                               [availableFilters]="(store.state$ | async).availableFilters"
                               [selectedFilters]="(store.state$ | async).selectedFilters"
                               (onRemove)="store.removeOption($event)"
                               (onSelect)="console.log($event)">
</zem-inventory-planning-filter>

<zem-inventory-planning-summary class="zem-inventory-planning-summary"
                                [auctionCount]="(store.state$ | async).inventory.auctionCount"
                                [avgCpm]="(store.state$ | async).inventory.avgCpm"
                                [winRatio]="(store.state$ | async).inventory.winRatio"
                                [isLoading]="(store.state$ | async).requests.summary.inProgress">
</zem-inventory-planning-summary>

<div class="custom-panel zem-inventory-planning__breakdowns clearfix">
    <zem-inventory-planning-breakdown class="zem-inventory-planning-breakdown"
                                      breakdownName="Country"
                                      [options]="(store.state$ | async).availableFilters.countries"
                                      [selected]="(store.state$ | async).selectedFilters.countries"
                                      [isLoading]="(store.state$ | async).requests.countries.inProgress"
                                      (onToggle)="store.toggleCountry($event)">
    </zem-inventory-planning-breakdown>
    <zem-inventory-planning-breakdown class="zem-inventory-planning-breakdown"
                                      breakdownName="Publisher"
                                      [options]="(store.state$ | async).availableFilters.publishers"
                                      [selected]="(store.state$ | async).selectedFilters.publishers"
                                      [isLoading]="(store.state$ | async).requests.publishers.inProgress"
                                      (onToggle)="store.togglePublisher($event)">
    </zem-inventory-planning-breakdown>
    <zem-inventory-planning-breakdown class="zem-inventory-planning-breakdown"
                                      breakdownName="Device Type"
                                      [options]="(store.state$ | async).availableFilters.devices"
                                      [selected]="(store.state$ | async).selectedFilters.devices"
                                      [isLoading]="(store.state$ | async).requests.devices.inProgress"
                                      (onToggle)="store.toggleDevice($event)">
    </zem-inventory-planning-breakdown>
</div>

<!-- FIXME(nsaje): remove after release -->
</div>
