@import 'variables';

.zem-select--zem-clone-content {
    .zem-select-dropdown-item__name {
        font-size: 13px;
        color: @text-color--default;
        line-height: 30px;
        padding-left: 20px;
    }

    .zem-select-dropdown-item__name--h1 {
        color: @color--primary;
        font-weight: 500;
        line-height: 29px;
        border-bottom: 1px solid @color--primary;
        padding-left: 1px;
    }

    .zem-select-dropdown-item__name--h2 {
        font-weight: 500;
        padding-left: 10px;
    }
}
