<div class="modal__header">
    <div class="modal__title" ng-if="$ctrl.createMode">Add Credit</div>
    <div class="modal__title" ng-if="!$ctrl.createMode">
        Edit Credit Item #{{ $ctrl.state.creditItem.id }}
    </div>
</div>
<div class="modal__body">
    <p>
        Created by <strong>{{ $ctrl.state.creditItem.createdBy }}</strong> on
        <strong>{{ $ctrl.state.creditItem.createdOn }}</strong>
    </p>
    <hr />
    <div
        class="form"
        id="form-credits-item"
        ng-class="{ 'new': $ctrl.createMode, 'edit': !$ctrl.createMode }"
    >
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.startDate}"
        >
            <label class="form__label" for="start-date-input">Valid From</label>
            <div
                class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon"
            >
                <input
                    class="input-text"
                    id="start-date-input"
                    type="text"
                    uib-datepicker-popup="MM/dd/yyyy"
                    ng-model="$ctrl.state.creditItem.startDate"
                    datepicker-options="$ctrl.startDatePickerOptions"
                    is-open="$ctrl.isStartDatePickerOpen"
                    ng-click="$ctrl.openStartDatePicker()"
                    ng-disabled="$ctrl.state.creditItem.isSigned || $ctrl.state.creditItem.isReadOnly"
                />
            </div>
            <div
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.startDate"
                class="message message--error"
                for="start-date-input"
            >
                {{ error }}
            </div>
        </div>
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.endDate}"
        >
            <label class="form__label" for="end-date-input">Valid To</label>
            <div
                class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon"
            >
                <input
                    class="input-text"
                    id="end-date-input"
                    type="text"
                    uib-datepicker-popup="MM/dd/yyyy"
                    ng-model="$ctrl.state.creditItem.endDate"
                    datepicker-options="$ctrl.endDatePickerOptions"
                    is-open="$ctrl.isEndDatePickerOpen"
                    ng-click="$ctrl.openEndDatePicker()"
                    ng-disabled="$ctrl.state.creditItem.isReadOnly"
                />
            </div>
            <div
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.endDate"
                class="message message--error"
                for="end-date-input"
            >
                {{ error }}
            </div>
        </div>
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.licenseFee}"
        >
            <label class="form__label" for="license-fee-select"
                >License Fee (%)</label
            >
            <ui-select
                class="button button--plain button--narrow button--dropdown-toggle-icon"
                theme="select2"
                id="license-fee-select"
                ng-model="$ctrl.state.creditItem.licenseFee"
                ng-disabled="$ctrl.state.creditItem.isSigned || $ctrl.state.creditItem.isReadOnly"
                search-enabled="true"
            >
                <ui-select-match
                    >{{ $select.selected | number: 2 }}%</ui-select-match
                >
                <ui-select-choices
                    repeat="fee in $ctrl.getLicenseFees($select.search, $ctrl.state.creditItem.licenseFee) | filter: $select.search"
                    class="ui-select-choices"
                >
                    <span ng-bind-html="fee"></span>%
                </ui-select-choices>
            </ui-select>
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.licenseFee"
                for="license-fee-select"
            >
                {{ error }}
            </div>
        </div>
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.currency}"
        >
            <label class="form__label" for="currency-select">Currency</label>
            <ui-select
                class="button button--plain button--narrow button--dropdown-toggle-icon"
                theme="select2"
                id="currency-select"
                ng-model="$ctrl.selectedCurrency"
                ng-change="$ctrl.onSelectedCurrencyChange()"
                ng-disabled="$ctrl.state.creditItem.isSigned || $ctrl.state.creditItem.isReadOnly"
                search-enabled="true"
            >
                <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices
                    repeat="currency in $ctrl.CURRENCIES | filter: $select.search"
                    class="ui-select-choices"
                >
                    <span ng-bind-html="currency.name"></span>
                </ui-select-choices>
            </ui-select>
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.currency"
                for="currency-select"
            >
                {{ error }}
            </div>
        </div>
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.amount}"
        >
            <label class="form__label" for="amount-input">Credit</label>
            <div
                class="prefixed-field postfixed-field prefixed-field--narrow postfixed-field--narrow"
            >
                <span class="prefixed-field__prefix">{{
                    $ctrl.currencySymbol
                }}</span>
                <input
                    class="input-text"
                    id="amount-input"
                    type="text"
                    ng-model="$ctrl.state.creditItem.amount"
                    ng-disabled="$ctrl.state.creditItem.isReadOnly"
                    zem-currency-input
                    fraction-size="0"
                />
                <span class="postfixed-field__postfix">.00</span>
            </div>
            <div
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.amount"
                class="message message--error"
                for="amount-input"
            >
                {{ error }}
            </div>
        </div>
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.comment}"
        >
            <label class="form__label" for="comment-input">Custom Notes</label>
            <textarea
                class="textarea"
                id="comment-input"
                type="text"
                ng-model="$ctrl.state.creditItem.comment"
                ng-disabled="$ctrl.state.creditItem.isReadOnly"
                maxlength="10000"
            ></textarea>
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.comment"
                for="comment-input"
            >
                {{ error }}
            </div>
        </div>
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.contractId}"
        >
            <label class="form__label" for="contractID-input"
                >Contract ID</label
            >
            <input
                class="input-text"
                id="contractID-input"
                type="text"
                placeholder="123456ABC789NgQAAU"
                ng-model="$ctrl.state.creditItem.contractId"
                ng-disabled="$ctrl.state.creditItem.isReadOnly"
            />
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.contractId"
                for="contractID-input"
            >
                {{ error }}
            </div>
        </div>
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.contractNumber}"
        >
            <label class="form__label" for="contractNumber-input"
                >Contract Number</label
            >
            <input
                class="input-text"
                id="contractNumber-input"
                type="text"
                placeholder="123456789"
                ng-model="$ctrl.state.creditItem.contractNumber"
                ng-disabled="$ctrl.state.creditItem.isReadOnly"
            />
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.contractNumber"
                for="contractNumber-input"
            >
                {{ error }}
            </div>
        </div>
        <hr />
        <zem-credits-scope-selector
            class="zem-credits-scope-selector"
            [scope-state]="$ctrl.state.creditItemScopeState"
            [agency-errors]="
                $ctrl.state.requests.saveCreditItem.errors.agencyId
            "
            [account-errors]="
                $ctrl.state.requests.saveCreditItem.errors.accountId
            "
            [account-id]="$ctrl.state.creditItem.accountId"
            [accounts]="$ctrl.accounts"
            [has-agency-scope]="$ctrl.state.hasAgencyScope"
            [is-agency-scope-disabled]="
                !$ctrl.state.hasAgencyScope ||
                $ctrl.state.creditItem.isSigned ||
                $ctrl.state.creditItem.isReadOnly
            "
            [is-account-scope-disabled]="
                $ctrl.state.creditItem.isSigned ||
                $ctrl.state.creditItem.isReadOnly
            "
            (scope-state-change)="$ctrl.onScopeStateChange($event)"
            (account-change)="$ctrl.onAccountChange($event)"
        >
        </zem-credits-scope-selector>
        <hr />
        <p>
            By signing the credit line item, no more future changes to the
            amount, fee, start date and scope will be possible.
        </p>
        <div
            class="form__checkbox"
            ng-class="{'form--error': !!$ctrl.state.requests.saveCreditItem.errors.status}"
        >
            <label>
                <input
                    class="input-checkbox"
                    id="is-signed-input"
                    type="checkbox"
                    ng-model="$ctrl.state.creditItem.isSigned"
                    ng-disabled="$ctrl.wasSigned || $ctrl.state.creditItem.isReadOnly"
                />
                <span class="checkbox-text">Signed</span>
            </label>
            <div
                ng-repeat="error in $ctrl.state.requests.saveCreditItem.errors.status"
                class="message message--error"
                for="is-signed-input"
            >
                {{ error }}
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.createMode">
        <hr />
        <h3>Allocated budget items</h3>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Campaign</th>
                    <th>Total budget</th>
                    <th>Total spend</th>
                    <th>Flight dates</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-if="!$ctrl.state.requests.reloadCreditItemBudgets.inProgress"
                    ng-repeat="budget in $ctrl.state.creditItemBudgets"
                >
                    <td class="custom-table__break-word">
                        {{ budget.campaignName }}
                    </td>
                    <td>
                        {{
                            budget.allocatedAmount
                                | decimalCurrency: budget.currencySymbol:2
                        }}
                    </td>
                    <td>
                        {{
                            budget.spend
                                | decimalCurrency: budget.currencySymbol:2
                        }}
                    </td>
                    <td>{{ budget.startDate }} - {{ budget.endDate }}</td>
                    <td>
                        <zem-note-popover
                            content="{{ budget.comment }}"
                            placement="top"
                            class="note-popover"
                        ></zem-note-popover>
                    </td>
                </tr>
                <tr
                    ng-if="$ctrl.state.creditItemBudgets.length === 0 && !$ctrl.state.requests.reloadCreditItemBudgets.inProgress"
                >
                    <td colspan="5" class="custom-table__no-data">
                        No allocated budget items.
                    </td>
                </tr>
                <tr
                    ng-if="$ctrl.state.requests.reloadCreditItemBudgets.inProgress"
                >
                    <td colspan="5">
                        <div class="loader loader--full-width"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal__footer buttons-panel">
    <button
        type="button"
        class="button button--highlight button--with-icon check-icon"
        ng-click="$ctrl.saveCreditItem()"
        ng-disabled="$ctrl.state.requests.saveCreditItem.inProgress || $ctrl.state.creditItem.isReadOnly"
    >
        Save
    </button>
    <button
        type="button"
        class="button button--outline"
        ng-click="$ctrl.discardCreditItem()"
        ng-disabled="$ctrl.state.requests.saveCreditItem.inProgress"
    >
        Cancel
    </button>
    <div
        class="loader"
        ng-show="$ctrl.state.requests.saveCreditItem.inProgress"
    ></div>
    <span
        ng-show="!!$ctrl.state.requests.saveCreditItem.errors"
        class="message message--error"
        >An error occurred while saving.</span
    >
</div>
