<div class="form__group" ng-class="{'form--error': !!$ctrl.state.fieldsErrors.budgetAmount}">
    <label class="form__label">Campaign goal:</label>
    <div class="zem-campaign-launcher-goal__form-group-fields">
        <div  ng-if="$ctrl.isCampaignGoalEditFormVisible()">
            <zem-campaign-goal-edit-form campaign-goal="$ctrl.newCampaignGoal"
                                         available-goals="$ctrl.availableGoals"
                                         pixels="$ctrl.pixels"
                                         errors="$ctrl.state.fieldsErrors.campaignGoal">
            </zem-campaign-goal-edit-form>

            <button class="button" ng-click="$ctrl.submitCampaignGoal()">
                Add campaign goal
            </button>
        </div>

        <div ng-if="!$ctrl.isCampaignGoalEditFormVisible()" class="zem-campaign-launcher-goal__preview">
            <span class="zem-campaign-launcher-goal__preview-text">Meet or beat the goal of <strong>{{ $ctrl.formatGoalValue($ctrl.state.fields.campaignGoal) }}</strong>.</span>
            <button class="button button--small button--with-icon edit-icon zem-campaign-launcher-goal__preview-edit-button" ng-click="$ctrl.showCampaignGoalEditForm()">Edit</button>
        </div>
    </div>
</div>
