.zem-campaign-launcher-goal {
    > .form__group {
        margin-bottom: 0;
    }

    .zem-campaign-launcher-goal__form-group-fields {
        float: left;
        width: @form-input-width;

        .form__group {
            position: relative;
            width: 100%;
            margin: 0 0 10px;
            padding-left: 144px;
        }

        .form__label {
            position: absolute;
            top: 0;
            left: 0;
            width: 138px;
            margin: 0;
            font-weight: normal;
        }

        .zem-campaign-goal-edit-form__conversion-goal-type,
        .zem-campaign-goal-edit-form__pixel,
        .zem-campaign-goal-edit-form__conversion-windows,
        .zem-campaign-goal-edit-form__ga-input,
        .zem-campaign-goal-edit-form__omniture-input {
            width: 100%;
        }

        .zem-campaign-goal-edit-form__goal-value-and-type {
            padding-left: 270px;

            .zem-campaign-goal-edit-form__goal-value {
                position: absolute;
                width: 120px;
                top: 0;
                left: 144px;
            }

            .zem-campaign-goal-edit-form__goal-value:not(.postfixed-field) .input-text {
                width: 100%;
            }

            .zem-campaign-goal-edit-form__goal-type {
                width: 100%;
            }
        }
    }

    .zem-campaign-launcher-goal__preview-text {
        display: inline-block;
        padding-top: 7px;
    }

    .zem-campaign-launcher-goal__preview-edit-button {
        float: none;
    }
}
