.zem-campaign-launcher-goal {
    .zem-campaign-launcher-goal__preview-text {
        display: inline-block;
        padding-top: 7px;
    }

    .zem-campaign-launcher-goal__preview-edit-button {
        float: none;
    }
}
