<ng-container *ngIf="(store.state$ | async) as state">
    <div class="zem-rule-edit-form__section">
        <div class="zem-rule-edit-form__section-header">
            <div class="zem-rule-edit-form__section-title">
                Run rule on:
                <span class="zem-rule-edit-form__section-title--underline">{{
                    title
                }}</span>
            </div>
            <div class="zem-rule-edit-form__section-header-actions">
                <button
                    class="button button--outline button--small button--with-icon button--only-icon edit-icon"
                ></button>
            </div>
        </div>

        <div class="zem-rule-edit-form__section-description">
            Determines the set of accounts, campaigns or ad groups on which the
            rule will run.<br />
            Only active entities are considered.
        </div>
    </div>
    <div class="zem-rule-edit-form__section">
        <zem-text-form-group
            class="zem-rule-edit-form__section-item zem-text-form-group zem-rule-edit-form__text-setting"
            label="Rule name"
            [value]="state.rule.name"
            (valueChange)="store.setRuleName($event)"
        >
        </zem-text-form-group>
        <zem-select-form-group
            class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
            label="Apply rule action on"
            [value]="state.rule.dimension"
            bindLabel="label"
            bindValue="value"
            [items]="availableDimensions"
            [isSearchable]="false"
            [isClearable]="false"
            (valueChange)="store.selectRuleDimension($event)"
        ></zem-select-form-group>
        <div
            class="zem-rule-edit-form__section-item zem-rule-edit-form__section-description"
        >
            Rule can perform an action on ad, ad group or ad group / breakdown
            combination.
        </div>
    </div>
    <div class="zem-rule-edit-form__section">
        <div class="zem-rule-edit-form__section-title">
            Set action for your rule:
        </div>
        <zem-rule-edit-form-action
            class="zem-rule-edit-form__section-item zem-rule-edit-form-action"
            [ruleAction]="state.rule.action"
            [availableActions]="state.availableActions"
            (ruleActionChange)="store.setRuleAction($event)"
        ></zem-rule-edit-form-action>
    </div>
    <div class="zem-rule-edit-form__section">
        <div class="zem-rule-edit-form__section-title">Conditions:</div>
        <div class="zem-rule-edit-form__section-description">
            All of the following conditions must match.
        </div>
        <zem-rule-edit-form-conditions
            class="zem-rule-edit-form__section-item zem-rule-edit-form-conditions"
            [ruleConditions]="state.rule.conditions"
            [availableConditions]="state.availableConditions"
            (ruleConditionsChange)="store.updateConditions($event)"
        >
        </zem-rule-edit-form-conditions>
        <zem-select-form-group
            class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
            label="Time range"
            [value]="state.rule.timeRange"
            helpMessage="The number of days in the past for which to aggregate the data."
            bindLabel="label"
            bindValue="value"
            [items]="availableTimeRanges"
            [isSearchable]="false"
            [isClearable]="false"
            (valueChange)="store.setRuleTimeRange($event)"
        ></zem-select-form-group>
    </div>
    <div
        class="zem-rule-edit-form__section"
        *ngIf="state.rule.action.type !== RuleActionType.SendEmail"
    >
        <div class="zem-rule-edit-form__section-title">Notification:</div>
        <zem-rule-edit-form-notification
            class="zem-rule-edit-form__section-item zem-rule-edit-form-notification"
            [ruleNotification]="state.rule.notification"
            (ruleNotificationChange)="store.setRuleNotification($event)"
        >
        </zem-rule-edit-form-notification>
    </div>
</ng-container>
