<ng-container *ngIf="(store.state$ | async) as state">
    <div class="zem-rule-edit-form__section">
        <div class="zem-rule-edit-form__section-header">
            <div class="zem-rule-edit-form__section-title">
                Run rule on:
                <span class="zem-rule-edit-form__section-title--underline">{{
                    title
                }}</span>
            </div>
            <div class="zem-rule-edit-form__section-header-actions">
                <button
                    class="button button--outline button--small button--with-icon button--only-icon edit-icon"
                ></button>
            </div>
        </div>

        <div class="zem-rule-edit-form__section-description">
            Determines the set of accounts, campaigns or ad groups on which the
            rule will run.<br />
            Only active entities are considered.
        </div>
    </div>
    <div class="zem-rule-edit-form__section">
        <zem-text-form-group
            class="zem-rule-edit-form__section-item zem-text-form-group zem-rule-edit-form__text-setting"
            label="Rule name"
            [value]="state.rule.name"
            [errors]="state.fieldsErrors?.name"
            (valueChange)="store.setRuleName($event)"
        >
        </zem-text-form-group>
        <zem-select-form-group
            class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
            label="Apply rule action on"
            [value]="state.rule.targetType"
            bindLabel="label"
            bindValue="value"
            [items]="availableTargetTypes"
            [isSearchable]="false"
            [isClearable]="false"
            [errors]="state.fieldsErrors?.targetType"
            (valueChange)="store.selectRuleTarget($event)"
        ></zem-select-form-group>
        <div
            class="zem-rule-edit-form__section-item zem-rule-edit-form__section-description"
        >
            Rule can perform an action on ad, ad group or ad group / breakdown
            combination.
        </div>
    </div>
    <div class="zem-rule-edit-form__section">
        <div class="zem-rule-edit-form__section-title">
            Set action for your rule:
        </div>
        <zem-rule-edit-form-action
            class="zem-rule-edit-form__section-item zem-rule-edit-form-action"
            [actionType]="state.rule.actionType"
            [actionFrequency]="state.rule.actionFrequency"
            [changeStep]="state.rule.changeStep"
            [changeLimit]="state.rule.changeLimit"
            [sendEmailRecipients]="state.rule.sendEmailRecipients"
            [sendEmailSubject]="state.rule.sendEmailSubject"
            [sendEmailBody]="state.rule.sendEmailBody"
            [availableActions]="state.availableActions"
            [availablePublisherGroups]="state.availablePublisherGroups"
            [isSearchLoading]="state.publisherGroupsRequests.search.inProgress"
            [actionTypeErrors]="state.fieldsErrors?.actionType"
            [actionFrequencyErrors]="state.fieldsErrors?.actionFrequency"
            [changeStepErrors]="state.fieldsErrors?.changeStep"
            [changeLimitErrors]="state.fieldsErrors?.changeLimit"
            [sendEmailRecipientsErrors]="
                state.fieldsErrors?.sendEmailRecipients
            "
            [sendEmailSubjectErrors]="state.fieldsErrors?.sendEmailSubject"
            [sendEmailBodyErrors]="state.fieldsErrors?.sendEmailBody"
            [publisherGroupIdErrors]="state.fieldsErrors?.publisherGroupId"
            (actionTypeChange)="store.setRuleActionType($event)"
            (actionFrequencyChange)="store.setRuleActionFrequency($event)"
            (changeStepChange)="store.setRuleChangeStep($event)"
            (changeLimitChange)="store.setRuleChangeLimit($event)"
            (sendEmailRecipientsChange)="store.setSendEmailRecipients($event)"
            (sendEmailSubjectChange)="store.setSendEmailSubject($event)"
            (sendEmailBodyChange)="store.setSendEmailBody($event)"
            (publisherGroupChange)="store.setPublisherGroupId($event)"
            (publisherGroupsSearch)="store.loadAvailablePublisherGroups($event)"
            (publisherGroupsOpen)="store.loadAvailablePublisherGroups(null)"
        ></zem-rule-edit-form-action>
    </div>
    <div class="zem-rule-edit-form__section">
        <div
            class="zem-rule-edit-form__section-title"
            [class.zem-rule-edit-form__section-title--error]="
                hasConditionsErrors()
            "
        >
            Conditions:
        </div>
        <div class="zem-rule-edit-form__section-description">
            All of the following conditions must match.
        </div>
        <zem-rule-edit-form-conditions
            class="zem-rule-edit-form__section-item zem-rule-edit-form-conditions"
            [ruleConditions]="state.rule.conditions"
            [availableConditions]="state.availableConditions"
            [ruleConditionsErrors]="state.fieldsErrors?.conditions"
            (ruleConditionAdd)="store.addCondition($event)"
            (ruleConditionChange)="store.updateCondition($event)"
            (ruleConditionRemove)="store.removeCondition($event)"
        >
        </zem-rule-edit-form-conditions>
        <zem-select-form-group
            class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
            label="Time range"
            [value]="state.rule.window"
            helpMessage="The number of days in the past for which to aggregate the data."
            bindLabel="label"
            bindValue="value"
            [items]="availableTimeRanges"
            [isSearchable]="false"
            [isClearable]="false"
            (valueChange)="store.setRuleTimeRange($event)"
        ></zem-select-form-group>
    </div>
    <div
        class="zem-rule-edit-form__section"
        *ngIf="state.rule.actionType !== RuleActionType.SendEmail"
    >
        <div class="zem-rule-edit-form__section-title">Notification:</div>
        <zem-rule-edit-form-notification
            class="zem-rule-edit-form__section-item zem-rule-edit-form-notification"
            [notificationType]="state.rule.notificationType"
            [notificationRecipients]="state.rule.notificationRecipients"
            [notificationTypeErrors]="state.fieldsErrors?.notificationType"
            [notificationRecipientsErrors]="
                state.fieldsErrors?.notificationRecipients
            "
            (notificationTypeChange)="store.setRuleNotificationType($event)"
            (notificationRecipientsChange)="
                store.setRuleNotificationRecipients($event)
            "
        >
        </zem-rule-edit-form-notification>
    </div>
</ng-container>
