@import 'variables';

.zem-campaign-launcher-goal {
    .zem-legacy-campaign-goal-edit-form__goal-value {
        width: 16%;
        margin-right: 1%;
        float: left;

        .input-text {
            width: 100%;
        }
    }

    .zem-campaign-launcher-goal__add-goal {
        margin-left: 27%;
    }

    .zem-legacy-campaign-goal-edit-form__goal-type {
        width: 56%;
    }

    .zem-campaign-launcher-goal__preview-text {
        display: inline-block;
        padding-top: 7px;
    }

    .zem-campaign-launcher-goal__preview-edit-button {
        display: block;
        margin-top: 10px;
    }
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-campaign-launcher-goal {
        .zem-legacy-campaign-goal-edit-form__goal-value {
            width: 24%;
        }

        .zem-legacy-campaign-goal-edit-form__goal-type {
            width: 75%;
        }
    }
}

@media only screen and (max-width: @mobile-breakpoint) {
    .zem-campaign-launcher-goal {
        .zem-legacy-campaign-goal-edit-form__goal-value {
            width: 34%;
        }

        .zem-legacy-campaign-goal-edit-form__goal-type {
            width: 65%;
        }
    }
}
