<div
    class="form__group--meet-or-beat-goal zem-legacy-campaign-goal-edit-form__goal-value-and-type"
    ng-class="{'form--error': !!$ctrl.state.fieldsErrors.campaignGoal}"
>
    <zem-legacy-campaign-goal-edit-form
        campaign-goal="$ctrl.newCampaignGoal"
        available-goals="$ctrl.availableGoals"
        goals-defaults="$ctrl.goalsDefaults"
        pixels="$ctrl.pixels"
        errors="$ctrl.state.fieldsErrors.campaignGoal"
        on-change="$ctrl.updateCampaignGoal(goal)"
    >
    </zem-legacy-campaign-goal-edit-form>
</div>
