@import 'variables';
@import '../../styles/mixins.less';

.export-select { min-width: 90px; }

.zem-grid-integration {
    .footnotes {
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        color: #737373;
    }

    .alert {
        margin-bottom: 10px;
    }
}

.zem-grid-column-selector,
.zem-grid-breakdown-selector {
    zem-internal-feature {
        left: -6px;
        top: -1px;
    }

    .internal {
        border: none;
        line-height: 5px;
        margin-right: 3px;
        vertical-align: bottom;
    }

    .dropdown-menu {
        margin: 8px 0 20px 0;
        padding: 0;
        border: none;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
        width: 460px;
        max-height: 400px;
        overflow: hidden;
        box-sizing: border-box;
    }
}

.zem-grid-breakdown-selector .dropdown-menu {
    width: 200px;

    .dropdown-menu__container {
        max-height: 350px;
        margin-bottom: 50px;
    }

    .buttons-panel {
        background-color: tint(@secondary-color,90%);
        box-shadow: 0px 0px 3px 0px fade(@secondary-color,40%);
        padding: 10px @default-spacing;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.zem-grid-column-selector {
    label.disabled {
        color: #afafaf;
        cursor: default;
    }
    .row {
        margin: 0px;
    }
    .dropdown-menu {
        width: 465px;
    }

    .category-name {
        margin-top: 10px;
        margin-left: 10px;
    }
}

zem-grid-export {
  margin-left: 5px;
}
