<table class="zem-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Total budget</th>
            <th *ngIf="showLicenseFee">License fee</th>
            <th *ngIf="showMargin">Margin</th>
            <th>Total spend</th>
            <th>Available budget</th>
            <th>Notes</th>
            <th *ngIf="isAnyBudgetEditable"><!-- Empty edit column th --></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let budget of formattedBudgets">
            <td>{{ budget.id }}</td>
            <td>{{ budget.startDate }}</td>
            <td>{{ budget.endDate }}</td>
            <td>{{ budget.amount }}</td>
            <td *ngIf="showLicenseFee">{{ budget.licenseFee }}</td>
            <td *ngIf="showMargin">{{ budget.margin }}</td>
            <td>{{ budget.spend }}</td>
            <td>{{ budget.available }}</td>
            <td>
                <zem-comment-popover
                    class="zem-comment-popover"
                    *ngIf="budget.comment"
                    [content]="budget.comment"
                    [placement]="'left'"
                ></zem-comment-popover>
            </td>
            <td
                class="zem-campaign-budgets-list__edit-button-container-cell"
                *ngIf="isBudgetEditable(budget)"
            >
                <button
                    class="zem-campaign-budgets-list__edit-button zem-button zem-button--small zem-button--icon-only zem-button--edit-icon"
                ></button>
            </td>
        </tr>
        <tr *ngIf="formattedBudgets.length === 0">
            <td colspan="10" class="zem-table__no-data">No budget items.</td>
        </tr>
    </tbody>
</table>
