<table class="zem-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Total budget</th>
            <th *ngIf="showLicenseFee">License fee</th>
            <th *ngIf="showServiceFee">Service fee</th>
            <th *ngIf="showMargin">Margin</th>
            <th>Total spend</th>
            <th>Available budget</th>
            <th>Notes</th>
            <th *ngIf="isAnyBudgetEditable"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container
            *ngFor="
                let budget of formattedBudgets;
                let index = index;
                trackBy: trackByIndex
            "
        >
            <ng-container *ngIf="{isExpanded: !budget.id} as budgetRow">
                <tr
                    [class.zem-campaign-budgets-list__row--error]="
                        hasError(index)
                    "
                >
                    <td>{{ budget.id || 'N/A' }}</td>
                    <td>{{ budget.startDate }}</td>
                    <td>{{ budget.endDate }}</td>
                    <td>{{ budget.amount }}</td>
                    <td *ngIf="showLicenseFee">{{ budget.licenseFee }}</td>
                    <td *ngIf="showServiceFee">{{ budget.serviceFee }}</td>
                    <td *ngIf="showMargin">{{ budget.margin }}</td>
                    <td>{{ budget.spend }}</td>
                    <td>{{ budget.available }}</td>
                    <td>
                        <zem-comment-popover
                            class="zem-comment-popover"
                            *ngIf="budget.comment"
                            [content]="budget.comment"
                            [placement]="'left'"
                        ></zem-comment-popover>
                    </td>
                    <td
                        class="zem-campaign-budgets-list__cell-buttons"
                        *ngIf="isAnyBudgetEditable"
                    >
                        <button
                            class="zem-campaign-budgets-list__cell-button zem-button-legacy zem-button-legacy--small zem-button-legacy--icon-only zem-button-legacy--expand-icon"
                            [class.zem-button-legacy--collapse-icon]="
                                budgetRow.isExpanded
                            "
                            [disabled]="!isBudgetEditable(budget)"
                            (click)="toggleBudgetEditForm(budgetRow)"
                        ></button>
                        <button
                            class="zem-campaign-budgets-list__cell-button zem-button-legacy zem-button-legacy--danger zem-button-legacy--small zem-button-legacy--icon-only zem-button-legacy--remove-icon"
                            [disabled]="!isBudgetEditable(budget) || budget.id"
                            (click)="deleteBudget(index)"
                        ></button>
                    </td>
                </tr>
                <tr
                    *ngIf="budgetRow.isExpanded"
                    class="zem-campaign-budgets-list__row--expanded"
                >
                    <td colspan="11">
                        <div class="zem-campaign-budgets-list__edit-form">
                            <ng-container
                                *ngTemplateOutlet="
                                    editFormTemplate;
                                    context: {
                                        budget: budgets[index],
                                        currency: currency,
                                        budgetErrors: budgetsErrors[index],
                                        showLicenseFee: showLicenseFee,
                                        showServiceFee: showServiceFee,
                                        showMargin: showMargin,
                                        credits: credits
                                    }
                                "
                            ></ng-container>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
        <tr *ngIf="formattedBudgets.length === 0">
            <td colspan="11" class="zem-table__no-data">No budget items.</td>
        </tr>
    </tbody>
</table>
