@import 'variables';

.zem-campaign-budgets-list {
    display: block;
}

.zem-campaign-budgets-list__edit-button-container-cell {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: right;
}

.zem-campaign-budgets-list__edit-button {
    vertical-align: middle;
}
