@import 'variables';

.zem-bid-modifiers-overview {
    display: block;
}

.zem-bid-modifiers-overview__review-panel {
    display: flex;
}

.zem-bid-modifiers-overview__grid {
    flex: 2 0 auto;
}

.zem-bid-modifiers-overview__button-panel {
    flex: 1 0 auto;
    margin-left: 10px;
}

.zem-bid-modifiers-overview__file-selector {
    display: block;
    height: 80px;
    margin-bottom: 5px;
}

.zem-bid-modifiers-overview__error_file_link {
    font-weight: bold;
    text-decoration: underline;
}
