<div class="zem-settings-section__description">
    You can review and configure bid modifiers across all dimensions here.
</div>
<div class="zem-settings-section__item">
    <div class="zem-settings-section__title">Bid modifiers in use</div>
    <div
        *ngIf="
            !adGroupId ||
            !bidModifierTypeSummaries ||
            bidModifierTypeSummaries.length == 0
        "
    >
        This ad group has no bid modifiers.
    </div>
    <div
        *ngIf="
            !!adGroupId &&
            !!bidModifierTypeSummaries &&
            bidModifierTypeSummaries.length > 0
        "
        class="zem-bid-modifiers-overview__review-panel"
    >
        <zem-bid-modifier-types-grid
            class="zem-bid-modifiers-overview__grid"
            [typeSummaryGridRows]="store.state.typeSummaryGridRows"
        ></zem-bid-modifier-types-grid>
        <div class="zem-bid-modifiers-overview__button-panel">
            <button
                class="zem-button-legacy zem-button-legacy--outlined"
                (click)="exportBidModifiers()"
            >
                Export
            </button>
        </div>
    </div>
</div>
<div class="zem-settings-section__item" *ngIf="!isDisabled">
    <div class="zem-settings-section__title">Configure bid modifiers</div>
    <div class="zem-settings-section__description">
        Configure bid modifiers across all dimensions by uploading a CSV file.
    </div>
    <div
        class="zem-message zem-message--bubble zem-message--info zem-message--with-icon zem-settings-section__item"
    >
        <strong>Warning:</strong> The upload will remove all preexisting bid
        modifiers on all dimensions.
    </div>
    <div class="zem-settings-section__item">
        <zem-file-selector
            class="zem-file-selector zem-bid-modifiers-overview__file-selector"
            [dropZoneLabel]="'Drop your file here to upload or'"
            [accept]="'text/csv'"
            [isMultiple]="false"
            [showBrowseButton]="true"
            [browseButtonLabel]="'Upload file'"
            (filesChange)="onFilesChange($event)"
        ></zem-file-selector>
    </div>
    <div *ngIf="!!importSummary" class="zem-message--success">
        Import of the selected file will:
        <ul>
            <li *ngIf="importSummary.deleted.count > 0">
                delete {{ importSummary.deleted.count }} bid modifiers across
                {{ importSummary.deleted.dimensions }} dimensions
            </li>
            <li>
                configure {{ importSummary.created.count }} bid modifiers across
                {{ importSummary.created.dimensions }} dimensions
            </li>
        </ul>
    </div>
    <div *ngIf="!!importError" class="zem-message--error">
        File isn't a valid CSV file. Download
        <a
            class="zem-bid-modifiers-overview__error_file_link"
            (click)="downloadErrorsFile()"
            >the errors file</a
        >
        to see details about the error.
    </div>
    <div *ngIf="!importSummary && !importError">
        <a (click)="downloadCsvSampleFile()">Download CSV sample</a>
        <div class="zem-settings-section__description">
            To create the CSV file download the sample above or read about the
            format here.
        </div>
    </div>
</div>
