@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-tracking-code-setting__item {
    width: 100%;
    margin-top: @zem-settings__items-spacing--default;
}

.zem-tracking-code-setting__item:first-child {
    margin-top: 0;
}
