@import 'variables';

.zem-tracking-code-setting__item {
    width: 100%;
    margin-top: @zem-form-group__items-spacing--default;
}

.zem-tracking-code-setting__item:first-child {
    margin-top: 0;
}
