<button
    class="zem-button-legacy"
    (click)="addToPublishersModal.open()"
    [disabled]="buttonDisabled"
>
    Add to Publishers & placements list
</button>

<zem-modal
    #addToPublishersModal
    [canCloseOnBackdropClick]="false"
    [canCloseOnEscapeKey]="true"
    (onClose)="store.reset()"
    class="zem-modal"
>
    <ng-container
        *ngIf="addToPublishersModal.isOpen && store.state$ | async as state"
    >
        <div class="zem-modal__header">
            <div class="zem-modal__title">
                {{
                    state.mode === 'add'
                        ? 'Add to Publishers & placements list'
                        : 'Create new Publishers & placements list'
                }}
            </div>
        </div>
        <div class="zem-modal__body">
            <zem-add-to-publishers-form
                *ngIf="state.mode === 'add'"
                class="zem-add-to-publishers-form"
                [availablePublisherGroups]="state.availablePublisherGroups"
                [publisherGroup]="state.activeEntity.entity"
                [publisherGroupErrors]="state.activeEntity.fieldsErrors"
                [searchInProgress]="state.requests.listExplicit.inProgress"
                (switchToCreate)="store.setMode('create')"
                (search)="search($event)"
                (publisherGroupSelected)="store.setActiveEntity($event)"
            >
            </zem-add-to-publishers-form>
            <zem-publisher-group-edit-form
                *ngIf="state.mode === 'create'"
                class="zem-publisher-group-edit-form"
                [publisherGroup]="state.activeEntity.entity"
                [publisherGroupErrors]="state.activeEntity.fieldsErrors"
                [showFileUpload]="false"
                (publisherGroupChange)="store.changeActiveEntity($event)"
            >
            </zem-publisher-group-edit-form>
        </div>
        <div
            class="zem-modal__footer zem-buttons-panel zem-add-to-publishers-action__buttons-panel"
        >
            <zem-button
                class="zem-button"
                [isHighlighted]="true"
                [isLoading]="state.requests.addEntries.inProgress"
                [isDisabled]="state.requests.addEntries.inProgress"
                [icon]="state.mode === 'add' ? 'add' : 'check'"
                (click)="save()"
            >
                {{ state.mode === 'add' ? 'Add' : 'Save' }}
            </zem-button>
            <zem-button
                class="zem-button"
                [isOutlined]="true"
                [isDisabled]="state.requests.addEntries.inProgress"
                (click)="close()"
            >
                Cancel
            </zem-button>
            <div
                *ngIf="
                    state.activeEntity.fieldsErrors.id ||
                    state.activeEntity.fieldsErrors.accountId ||
                    state.activeEntity.fieldsErrors.agencyId
                "
                class="zem-message zem-message--error zem-add-to-publishers-action__entries-error"
            >
                {{ state.activeEntity.fieldsErrors.id }}
                {{ state.activeEntity.fieldsErrors.accountId }}
                {{ state.activeEntity.fieldsErrors.agencyId }}
            </div>
        </div>
    </ng-container>
</zem-modal>
