.zem-add-to-publishers-action {
    display: inline;
}

.zem-add-to-publishers-action__buttons-panel {
    margin: 0px;
}

.zem-add-to-publishers-action__loading-button {
    padding-left: 60px;
}

.zem-add-to-publishers-action__loading-button::before {
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.zem-add-to-publishers-action__entries-error {
    margin-top: 12px;
}
