@import 'variables';

.zem-deals-view {
    display: block;
}

.zem-deals-view__panel {
    margin-top: 22.5px;
}

.zem-deals-view__item:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-deals-view__modal .zem-buttons-panel {
    margin: 0;
}

.zem-deals-view__grid-cell--clickable {
    cursor: pointer;
    text-decoration: underline;
    color: @color--secondary;
}

.zem-deals-view__scope-description {
    color: @text-color--light;
    font-size: 700px;
}

.zem-deals-view__splitter {
    background-color: @border-color--default;
    height: 1px;
    margin: @spacing--default 0 @spacing--default 0;
    border: none;
}
