<h1 class="zem-main-container__view-title">Deals</h1>

<ng-container *ngIf="store.state$ | async as state">
    <div class="zem-panel zem-panel--with-padding zem-deals-view__panel">
        <zem-deals-actions
            class="zem-deals-actions zem-deals-view__item"
            [value]="keyword"
            [isReadOnly]="isReadOnly"
            [isDisabled]="!state.agencyId"
            (search)="searchDeals($event)"
            (dealCreate)="openEditDealModal({})"
        >
        </zem-deals-actions>
        <zem-deals-grid
            [deals]="formattedDeals"
            [context]="context"
            [isLoading]="state.requests.list.inProgress"
            [paginationOptions]="paginationOptions"
            [paginationCount]="state.requests.list.count"
            (paginationChange)="onPaginationChange($event)"
        >
        </zem-deals-grid>
    </div>
    <zem-modal
        #editDealModal
        class="zem-modal zem-deals-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
    >
        <ng-container *ngIf="editDealModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{
                        !state.activeEntity.entity.id
                            ? 'Add new deal'
                            : 'Edit deal'
                    }}
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-deal-edit-form
                    class="zem-deal-edit-form"
                    [isDisabled]="state.activeEntity.isReadOnly"
                    [deal]="state.activeEntity.entity"
                    [dealErrors]="state.activeEntity.fieldsErrors"
                    [sources]="state.sources"
                    (dealChange)="store.changeActiveEntity($event)"
                >
                    <div class="zem-deals-view__splitter"></div>
                    <div class="zem-deal-edit-form__item">
                        <label>
                            Scope selector
                            <zem-help-popover
                                class="zem-help-popover"
                                content="Use scope to control where your deal can be used."
                                placement="bottom"
                            ></zem-help-popover>
                        </label>
                    </div>
                    <zem-scope-selector
                        class="zem-deal-edit-form__item zem-scope-selector"
                        [scopeState]="state.activeEntity.scopeState"
                        [agencyErrors]="
                            state.activeEntity.fieldsErrors?.agencyId
                        "
                        [accountErrors]="
                            state.activeEntity.fieldsErrors?.accountId
                        "
                        [isAgencyScopeDisabled]="
                            !state.hasAgencyScope ||
                            state.activeEntity.isReadOnly
                        "
                        [isAccountScopeDisabled]="state.activeEntity.isReadOnly"
                        (scopeStateChange)="store.setActiveEntityScope($event)"
                    >
                        <ng-template #agencyScopeHeaderTemplate>
                            <strong>Agency</strong><br />
                            <span
                                class="zem-radio-input__deemphasized-label-text"
                                >You will be able to use the deal on the entire
                                agency and all accounts, campaigns and ad
                                groups.</span
                            >
                        </ng-template>
                        <ng-template #accountScopeHeaderTemplate>
                            <strong>Account</strong><br />
                            <span
                                class="zem-radio-input__deemphasized-label-text"
                                >You will be able to use the deal on the
                                selected account and all campaigns and ad groups
                                belonging to the selected account.</span
                            >
                        </ng-template>
                        <ng-template #accountScopeContentTemplate>
                            <zem-select-input
                                class="zem-select-input"
                                [items]="state.accounts"
                                [placeholder]="'Select account'"
                                [value]="state.activeEntity.entity.accountId"
                                [bindLabel]="'name'"
                                [bindValue]="'id'"
                                [appendTo]="'body'"
                                [isClearable]="false"
                                [isSearchable]="true"
                                [isDisabled]="state.activeEntity.isReadOnly"
                                (valueChange)="
                                    store.setActiveEntityAccount($event)
                                "
                            >
                            </zem-select-input>
                        </ng-template>
                    </zem-scope-selector>
                </zem-deal-edit-form>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <zem-button
                    class="zem-button"
                    [isHighlighted]="true"
                    [isLoading]="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress
                    "
                    [isDisabled]="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress ||
                        !canSaveActiveEntity ||
                        state.activeEntity.isReadOnly
                    "
                    [icon]="'check'"
                    (click)="saveDeal()"
                >
                    Save
                </zem-button>
                <zem-button
                    class="zem-button"
                    [isOutlined]="true"
                    [isDisabled]="
                        state.requests.edit.inProgress ||
                        state.requests.create.inProgress
                    "
                    (click)="editDealModal.close()"
                >
                    Cancel
                </zem-button>
            </div>
        </ng-container>
    </zem-modal>
    <zem-modal
        #connectionsModal
        class="zem-modal zem-deals-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
        (onClose)="closeConnectionsModal()"
    >
        <ng-container *ngIf="connectionsModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{ state.activeEntity.entity.name }} ({{ connectionType }})
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-connections-list
                    [connections]="state.activeEntity.connections"
                    [connectionType]="connectionType"
                    [isReadOnly]="state.activeEntity.isReadOnly"
                    (removeConnection)="removeConnection($event)"
                ></zem-connections-list>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <button
                    class="zem-button-legacy zem-button-legacy--outlined"
                    (click)="connectionsModal.close()"
                >
                    Close
                </button>
            </div>
        </ng-container>
    </zem-modal>
</ng-container>
