<zem-select-input
    class="zem-select-input zem-browser-targeting__item zem-browser-targeting__select-include-exclude zem-browser-targeting__select-include-exclude--{{
        includeExcludeType === includeExcludeEnum.INCLUDE
            ? 'include'
            : 'exclude'
    }}"
    [value]="includeExcludeType"
    [items]="includeExcludeTypes"
    [bindValue]="'value'"
    [bindLabel]="'name'"
    [isClearable]="false"
    [isDisabled]="isDisabled"
    (valueChange)="onIncludeExcludeChange($event)"
>
</zem-select-input>
<zem-select-list
    class="zem-select-list zem-browser-targeting__item zem-browser-targeting__list"
    [selectedItems]="formattedSelectedBrowsers"
    [availableItems]="availableBrowsers"
    [selectBindValue]="'family'"
    [selectBindLabel]="'name'"
    [selectPlaceholder]="'Select browser'"
    [selectIsDisabled]="isDisabled"
    (itemSelect)="onAddBrowserTargeting($event)"
>
    <ng-template #itemTemplate let-item="item" let-index="index">
        <div class="zem-browser-targeting__list-item">
            <div
                class="zem-browser-targeting__list-item-name"
                [class.zem-browser-targeting__list-item-name--error]="
                    targetingErrors[index]?.family?.length
                "
            >
                <div
                    class="zem-browser-targeting__list-item-icon zem-browser-targeting__list-item-icon--{{
                        includeExcludeType === includeExcludeEnum.INCLUDE
                            ? 'include'
                            : 'exclude'
                    }}"
                ></div>
                {{ item.name }}
                <div
                    *ngIf="targetingErrors[index]?.family?.length"
                    class="zem-browser-targeting__list-item-name-error-icon"
                ></div>
            </div>
            <button
                *ngIf="!isDisabled"
                class="zem-button-legacy zem-button-legacy--small zem-button-legacy--danger zem-button-legacy--icon-only zem-button-legacy--remove-icon"
                (click)="onRemoveBrowserTargeting(item)"
            ></button>
        </div>
    </ng-template>
</zem-select-list>
<div
    *ngIf="errorMessage"
    class="zem-browser-targeting__item zem-message zem-message--error"
>
    {{ errorMessage }}
</div>
