<div class="modal__header">
    <div class="modal__title">{{ $ctrl.title }}</div>
</div>
<div class="modal__body">
    <div class="form" id="conversion-pixel-form">
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.getRequest().validationErrors.name}"
        >
            <label class="form__label" for="name-input">Name</label>
            <input
                class="input-text"
                type="text"
                zem-focus-select
                id="name-input"
                ng-model="$ctrl.pixel.name"
                ng-change="$ctrl.clearError()"
                ng-disabled="!$ctrl.isCreationMode"
            />
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.getRequest().validationErrors.name"
                for="name-input"
            >
                {{ error }}
            </div>
        </div>

        <div
            class="form__group"
            ng-if="$ctrl.hasPermission('zemauth.can_redirect_pixels')"
            ng-class="{'form--error': !!$ctrl.getRequest().validationErrors.redirect_url}"
        >
            <label
                for="redirect-url-input"
                class="form__label"
                is-internal="zemauth.can_redirect_pixels"
            >
                Redirect Url
                <zem-help-popover
                    content="Enter the URL you want the pixel to be redirected to."
                    placement="top"
                ></zem-help-popover>
            </label>
            <input
                type="text"
                id="redirect-url-input"
                class="input-text"
                ng-model="$ctrl.pixel.redirectUrl"
                ng-change="$ctrl.clearError()"
            />
            <div
                ng-repeat="error in $ctrl.getRequest().validationErrors.redirect_url"
                class="message message--error"
                for="redirect-url-input"
            >
                {{ error }}
            </div>
        </div>

        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.getRequest().validationErrors.notes}"
        >
            <label class="form__label" for="notes-input"
                >Notes<zem-help-popover
                    content="Add a note describing where the pixel is placed on your website and what it tracks."
                    placement="top"
                ></zem-help-popover
            ></label>
            <textarea
                class="textarea"
                id="notes-input"
                type="text"
                ng-model="$ctrl.pixel.notes"
            ></textarea>
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.getRequest().validationErrors.notes"
                for="notes-input"
            >
                {{ error }}
            </div>
        </div>
    </div>

    <hr />

    <h3>Where do I place my pixel on my site?</h3>
    <p>
        Pixels need to be properly placed in order to measure goals effectively.
        We recommend placing your pixel on the confirmation page which is shown
        to a person after the desired action is performed.
    </p>
</div>
<div class="modal__footer buttons-panel">
    <button
        type="submit"
        class="button button--highlight button--with-icon check-icon"
        ng-click="$ctrl.submit()"
        ng-class="{'disabled': !!$ctrl.getRequest().inProgress}"
    >
        {{ $ctrl.buttonText }}
    </button>
    <button
        type="button"
        class="button button--outline"
        ng-click="$ctrl.cancel()"
    >
        Cancel
    </button>
    <zem-loader
        class="zem-loader zem-loader--small zem-loader--inline"
        ng-show="$ctrl.getRequest().inProgress"
    ></zem-loader>
    <span class="message message--error" ng-if="$ctrl.getRequest().error">
        An error has occurred. Please contact support at
        <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error
        persists.
    </span>
</div>
