@import 'variables';

.zem-attribution-column-picker__item {
    margin-top: @spacing--small;
}

.zem-attribution-column-picker__subtitle {
    margin-bottom: 4px;
    color: @color--secondary;
}

.zem-attribution-column-picker__link {
    cursor: pointer;
    font-weight: 800;
    text-decoration: underline;
    color: @color--secondary;
}

.zem-attribution-column-picker__link--disabled {
    font-weight: 500;
}
