@import 'variables';

.zem-rules-histories-filters {
    display: block;
}

.zem-rules-histories-filters__item {
    display: block;
    margin-bottom: @spacing--default;
}

.zem-rules-histories-filters__item:last-child {
    margin-bottom: 0;
}

.zem-rules-histories-filters__item--flex {
    display: flex;
    align-items: center;
}

.zem-rules-histories-filters__select-input {
    width: 100%;
}

.zem-rules-histories-filters__label {
    color: @text-color--lighter;
    line-height: 11px;
    min-width: 150px;
    font-size: 12px;
}
