@import 'variables';

.zem-rules-histories-filters {
    display: block;
}

.zem-rules-histories-filters__item {
    display: block;
    margin-bottom: @spacing--default;
}

.zem-rules-histories-filters__item:last-child {
    margin-bottom: 0;
}

.zem-rules-histories-filters__select-input {
    width: 100%;
}
