<zem-settings-container title="'Campaign settings'" entity-type="$ctrl.constants.entityType.CAMPAIGN" entity-id="$ctrl.entityId">
    <settings>
        <zem-campaign-general-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-campaign-general-settings>
        <zem-campaign-goals-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-campaign-goals-settings>
        <zem-device-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-device-targeting-settings>
        <zem-region-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-region-targeting-settings>
        <zem-performance-tracking-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-performance-tracking-settings>
    </settings>

    <custom>
    </custom>
</zem-settings-container>
