<div class="zem-rule-actions-cell">
    <button
        [ngClass]="
            isReadOnly ? 'zem-button--magnifier-icon' : 'zem-button--edit-icon'
        "
        class="zem-button zem-button--small zem-button--with-icon zem-button--icon-only zem-rule-actions-cell__item"
        (click)="openEditRuleModal()"
    ></button>
    <button
        [disabled]="isReadOnly"
        class="zem-button zem-button--small zem-button--with-icon zem-button--icon-only zem-button--remove-icon zem-button--danger zem-rule-actions-cell__item"
        (click)="removeRule()"
    ></button>
</div>
