<div class="modal__header" ng-if="$ctrl.resolve.params.title">
    <div class="modal__title">{{ $ctrl.resolve.params.title }}</div>
</div>
<div class="modal__body">
    <div class="m-b">{{ $ctrl.resolve.params.text }}</div>
</div>
<div class="modal__footer buttons-panel">
    <button
        class="button button--highlight"
        ng-click="$ctrl.modalInstance.close()"
    >
        Yes
    </button>
    <button
        type="button"
        class="button button--outline"
        ng-click="$ctrl.modalInstance.dismiss()"
    >
        No
    </button>
</div>
