@import 'variables';

.zem-loading-overlay {
    display: none;
}

.zem-loading-overlay--loading {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2) url('@{images-folder}/loader.gif') no-repeat
        center center;
}
