<div class="custom-panel zem-settings-component__container">
    <h2 class="custom-panel__title">Budget optimization</h2>
    <div class="custom-panel__description">Let Zemanta One automatically optimize towards your campaign goal.</div>
    <div class="form">
        <div class="form__checkbox">
            <label>
                <input class="input-checkbox" type="checkbox" ng-model="$ctrl.entity.settings.autopilot">
                <span class="checkbox-text">
                    Enable Budget optimization
                </span>
            </label>
        </div>
    </div>
</div>
