<div class="custom-panel zem-settings-component__container">
    <h2 class="custom-panel__title">Budget optimization</h2>
    <div class="custom-panel__description">
        Zemanta One will optimize your campaign budget across ad groups in order
        to hit your campaign goal. Budget will be paced evenly throughout the
        flight time of the campaign.
    </div>
    <div class="form">
        <div class="form__checkbox">
            <label>
                <input
                    type="checkbox"
                    class="input-checkbox"
                    ng-model="$ctrl.entity.settings.autopilot"
                />
                <span class="checkbox-text"> Enable budget optimization </span>
            </label>
        </div>
        <div class="message message--info message--with-icon m-t-s m-b-none">
            If you want to run on all available media sources, each ad group
            requires minimum $30 (or equivalent in your currency) daily spend
            cap. Make sure your campaign has enough budget to be paced evenly
            throughout the flight time or use less media sources to prevent your
            campaign to run out of budget before the end date.
        </div>
    </div>
</div>
