@import 'variables';

.zem-select--zem-clone-ad-group {
    .zem-select-dropdown-item__name {
        font-weight: 500;
        padding-left: 10px;
    }

    .zem-select-dropdown-item__name--h1 {
        color: @color--primary;
        font-weight: 500;
        line-height: 29px;
        border-bottom: 1px solid @color--primary;
        padding-left: 1px;
    }
}
