<div ng-show="selectedAdgroupIds.length" class="input-tags custom-scroller">
    <div
        class="input-tags__item input-tags__item--with-remove"
        ng-repeat="adgroup in selectedAdgroups()"
        ng-click="removeSelectedAdgroup(adgroup)"
    >
        <span class="input-tags__name">
            {{ adgroup.id }}&nbsp;-&nbsp;{{ adgroup.name }}
        </span>
    </div>
</div>

<ui-select
    theme="select2"
    ng-if="availableAdgroups().length"
    ng-model="selected.adgroup"
    on-select="addAdgroup($item)"
    class="button button--with-icon add-icon button--dropdown-toggle-icon"
>
    <ui-select-match class="ui-select-match" placeholder="Add New Ad Group">{{
        $item.name
    }}</ui-select-match>
    <ui-select-choices
        class="ui-select-choices"
        group-by="groupByCampaign"
        repeat="adgroup in availableAdgroups() | filter: {name: $select.search} track by adgroup.id"
        position="down"
    >
        <div
            ng-bind-html="adgroup.id + ' - ' + adgroup.name + adgroup.suffix | highlight: $select.search"
        ></div>
    </ui-select-choices>
</ui-select>
