<div class="custom-panel zem-settings-component__container">
    <h2 class="custom-panel__title">General settings</h2>
    <div class="form">
        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_modify_account_name')"
             ng-class="{'form--error': !!$ctrl.errors.name}">
            <label class="form__label" for="name-input">Name:</label>
            <input class="input-text" id="name-input" type="text" ng-model="$ctrl.entity.settings.name">
            <div class="message message--error" ng-repeat="error in $ctrl.errors.name"
                 for="name-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_modify_campaign_manager')"
             ng-class="{'form--error': !!$ctrl.errors.campaignManager}">
            <label class="form__label" for="campaign-manager-select">
                Campaign Manager:
                <zem-help-popover content="Campaign manager responsible for the campaign and the communication with the client."
                                  placement="top"></zem-help-popover>
            </label>
            <ui-select theme="select2" id="campaign-manager-select"
                       class="button button--plain button--full-width button--dropdown-toggle-icon"
                       ng-model="$ctrl.entity.settings.campaignManager">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="manager.id as manager in $ctrl.entity.campaignManagers | orderBy:'name' | filter:$select.search" class="ui-select-choices">
                    <div ng-bind-html="manager.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.campaignManager"
                 for="campaign-manager-select">{{ error }}</div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_modify_campaign_iab_category')"
             ng-class="{'form--error': !!$ctrl.errors.iabCategory}">
            <label class="form__label" for="iab-category-select">
                Campaign Category:
                <zem-help-popover content="Specify campaign's content category. All campaigns must list one top-level category. If you are using mixed content consider splitting your campaign."
                                  placement="top"></zem-help-popover>
            </label>
            <select ui-select2="{minimumResultsForSearch: 2}" id="iab-category-select"
                    class="button button--plain button--full-width button--dropdown-toggle-icon"
                    ng-model="$ctrl.entity.settings.iabCategory">
                <option ng-repeat="category in $ctrl.iabCategoriesSorted" value="{{category.value}}">{{category.name}}</option>
            </select>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.iabCategory"
                 for="iab-category-select">{{ error }}</div>
        </div>
        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_see_campaign_language_choices')"
             ng-class="{'form--error': !!$ctrl.errors.language}">
            <label class="form__label" for="campaign-language-select">
                Campaign Language:
                <zem-help-popover content="Language can be updated only if Campaign has no Ad Groups yet."
                                  placement="top"></zem-help-popover>
            </label>
            <select ui-select2="{minimumResultsForSearch: 2}" id="campaign-language-select"
                    class="button button--plain button--full-width button--dropdown-toggle-icon"
                    ng-model="$ctrl.entity.settings.language"
                    >
                <option ng-repeat="language in $ctrl.languages" value="{{language.value}}">{{language.name}}</option>
            </select>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.language"
                 for="campaign-language-select">{{ error }}</div>
        </div>
    </div>
</div>
