@import 'icons-variables';

.includeFontIcon() {
    font-family: '@{icomoon-font-family}' !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: '@{icomoon-font-family}';
    src: url('@{icomoon-font-path}/@{icomoon-font-family}.eot?hzodas');
    src: url('@{icomoon-font-path}/@{icomoon-font-family}.eot?hzodas#iefix')
            format('embedded-opentype'),
        url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?hzodas')
            format('truetype'),
        url('@{icomoon-font-path}/@{icomoon-font-family}.woff?hzodas')
            format('woff'),
        url('@{icomoon-font-path}/@{icomoon-font-family}.svg?hzodas#@{icomoon-font-family}')
            format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    &:before {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: '@{icomoon-font-family}' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon-add {
    &:before {
        content: @icon-add;
    }
}

.icon-archive {
    &:before {
        content: @icon-archive;
    }
}

.icon-arrow-v1 {
    &:before {
        content: @icon-arrow-v1;
    }
}

.icon-arrow-v2 {
    &:before {
        content: @icon-arrow-v2;
    }
}

.icon-arrow-v3 {
    &:before {
        content: @icon-arrow-v3;
    }
}

.icon-audience {
    &:before {
        content: @icon-audience;
    }
}

.icon-browse {
    &:before {
        content: @icon-browse;
    }
}

.icon-brush {
    &:before {
        content: @icon-brush;
    }
}

.icon-calendar {
    &:before {
        content: @icon-calendar;
    }
}

.icon-check-circle-outline {
    &:before {
        content: @icon-check-circle-outline;
    }
}

.icon-check-circle {
    &:before {
        content: @icon-check-circle;
    }
}

.icon-check {
    &:before {
        content: @icon-check;
    }
}

.icon-checkbox {
    &:before {
        content: @icon-checkbox;
    }
}

.icon-comment {
    &:before {
        content: @icon-comment;
    }
}

.icon-connection-cellular {
    &:before {
        content: @icon-connection-cellular;
    }
}

.icon-connection-wifi {
    &:before {
        content: @icon-connection-wifi;
    }
}

.icon-content-insights {
    &:before {
        content: @icon-content-insights;
    }
}

.icon-content {
    &:before {
        content: @icon-content;
    }
}

.icon-credit-card {
    &:before {
        content: @icon-credit-card;
    }
}

.icon-desktop {
    &:before {
        content: @icon-desktop;
    }
}

.icon-dots {
    &:before {
        content: @icon-dots;
    }
}

.icon-download {
    &:before {
        content: @icon-download;
    }
}

.icon-duplicate {
    &:before {
        content: @icon-duplicate;
    }
}

.icon-edit {
    &:before {
        content: @icon-edit;
    }
}

.icon-emoticon-neutral {
    &:before {
        content: @icon-emoticon-neutral;
    }
}

.icon-emoticon-sad {
    &:before {
        content: @icon-emoticon-sad;
    }
}

.icon-emoticon-smile {
    &:before {
        content: @icon-emoticon-smile;
    }
}

.icon-envelope {
    &:before {
        content: @icon-envelope;
    }
}

.icon-error {
    &:before {
        content: @icon-error;
    }
}

.icon-facebook {
    &:before {
        content: @icon-facebook;
    }
}

.icon-filter {
    &:before {
        content: @icon-filter;
    }
}

.icon-globe {
    &:before {
        content: @icon-globe;
    }
}

.icon-groups {
    &:before {
        content: @icon-groups;
    }
}

.icon-hammer {
    &:before {
        content: @icon-hammer;
    }
}

.icon-help {
    &:before {
        content: @icon-help;
    }
}

.icon-history {
    &:before {
        content: @icon-history;
    }
}

.icon-home {
    &:before {
        content: @icon-home;
    }
}

.icon-image {
    &:before {
        content: @icon-image;
    }
}

.icon-info {
    &:before {
        content: @icon-info;
    }
}

.icon-link {
    &:before {
        content: @icon-link;
    }
}

.icon-list-add {
    &:before {
        content: @icon-list-add;
    }
}

.icon-list-remove {
    &:before {
        content: @icon-list-remove;
    }
}

.icon-load-more {
    &:before {
        content: @icon-load-more;
    }
}

.icon-magnifier {
    &:before {
        content: @icon-magnifier;
    }
}

.icon-menu {
    &:before {
        content: @icon-menu;
    }
}

.icon-mobile {
    &:before {
        content: @icon-mobile;
    }
}

.icon-money {
    &:before {
        content: @icon-money;
    }
}

.icon-outbrain {
    &:before {
        content: @icon-outbrain;
    }
}

.icon-performance {
    &:before {
        content: @icon-performance;
    }
}

.icon-placement-in-app {
    &:before {
        content: @icon-placement-in-app;
    }
}

.icon-placement-website {
    &:before {
        content: @icon-placement-website;
    }
}

.icon-plane-autopilot {
    &:before {
        content: @icon-plane-autopilot;
    }
}

.icon-plane-landing {
    &:before {
        content: @icon-plane-landing;
    }
}

.icon-question {
    &:before {
        content: @icon-question;
    }
}

.icon-remove {
    &:before {
        content: @icon-remove;
    }
}

.icon-restore {
    &:before {
        content: @icon-restore;
    }
}

.icon-send {
    &:before {
        content: @icon-send;
    }
}

.icon-settings {
    &:before {
        content: @icon-settings;
    }
}

.icon-sort-ascending {
    &:before {
        content: @icon-sort-ascending;
    }
}

.icon-sort-descending {
    &:before {
        content: @icon-sort-descending;
    }
}

.icon-tablet {
    &:before {
        content: @icon-tablet;
    }
}

.icon-upload {
    &:before {
        content: @icon-upload;
    }
}

.icon-user {
    &:before {
        content: @icon-user;
    }
}

.icon-warning {
    &:before {
        content: @icon-warning;
    }
}

.icon-x-circle-outline {
    &:before {
        content: @icon-x-circle-outline;
    }
}

.icon-x-circle {
    &:before {
        content: @icon-x-circle;
    }
}

.icon-x {
    &:before {
        content: @icon-x;
    }
}

.icon-yahoo {
    &:before {
        content: @icon-yahoo;
    }
}
