@icomoon-font-family: 'zemanta';
@icomoon-font-path: 'fonts';

@icon-funnel: '\e944';
@icon-add: '\e900';
@icon-archive: '\e901';
@icon-arrow-v1: '\e902';
@icon-arrow-v2: '\e903';
@icon-arrow-v3: '\e904';
@icon-audience: '\e905';
@icon-browse: '\e906';
@icon-brush: '\e907';
@icon-calendar: '\e908';
@icon-check-circle-outline: '\e909';
@icon-check-circle: '\e90a';
@icon-check: '\e90b';
@icon-checkbox: '\e90c';
@icon-comment: '\e90d';
@icon-connection-cellular: '\e90e';
@icon-connection-wifi: '\e90f';
@icon-content-insights: '\e910';
@icon-content: '\e911';
@icon-credit-card: '\e912';
@icon-desktop: '\e913';
@icon-dots: '\e914';
@icon-download: '\e915';
@icon-duplicate: '\e916';
@icon-edit: '\e917';
@icon-emoticon-neutral: '\e918';
@icon-emoticon-sad: '\e919';
@icon-emoticon-smile: '\e91a';
@icon-envelope: '\e91b';
@icon-error: '\e91c';
@icon-facebook: '\e91d';
@icon-filter: '\e91e';
@icon-globe: '\e91f';
@icon-groups: '\e920';
@icon-hammer: '\e921';
@icon-help: '\e922';
@icon-history: '\e923';
@icon-home: '\e924';
@icon-image: '\e925';
@icon-info: '\e926';
@icon-link: '\e927';
@icon-list-add: '\e928';
@icon-list-remove: '\e929';
@icon-load-more: '\e92a';
@icon-magnifier: '\e92b';
@icon-menu: '\e92c';
@icon-mobile: '\e92d';
@icon-money: '\e92e';
@icon-outbrain: '\e92f';
@icon-performance: '\e930';
@icon-placement-in-app: '\e931';
@icon-placement-website: '\e932';
@icon-plane-autopilot: '\e933';
@icon-plane-landing: '\e934';
@icon-question: '\e935';
@icon-remove: '\e936';
@icon-restore: '\e937';
@icon-send: '\e938';
@icon-settings: '\e939';
@icon-sort-ascending: '\e93a';
@icon-sort-descending: '\e93b';
@icon-tablet: '\e93c';
@icon-upload: '\e93d';
@icon-user: '\e93e';
@icon-warning: '\e93f';
@icon-x-circle-outline: '\e940';
@icon-x-circle: '\e941';
@icon-x: '\e942';
@icon-yahoo: '\e943';
