<zem-drawer
    class="zem-drawer zem-ad-group-settings-drawer"
    [isOpen]="isOpen"
    [isClosable]="!isNewEntity"
    [isLoading]="
        store.state.requests.defaults.inProgress ||
        store.state.requests.get.inProgress
    "
    (closeRequest)="cancel()"
>
    <ng-container *ngIf="store.state$ | async as state">
        <zem-settings-drawer-header
            class="zem-settings-drawer-header zem-drawer__header"
            [entityId]="entityId"
            [entityType]="EntityType.AD_GROUP"
            [entityName]="state.entity.name"
            [isDisabled]="isReadOnly"
            [entityNamePlaceholder]="'Ad group name'"
            [showAdminLink]="
                authStore.hasPermission('zemauth.can_see_open_in_admin')
            "
            [isAdminLinkAnInternalFeature]="
                authStore.isPermissionInternal('zemauth.can_see_open_in_admin')
            "
            [entityNameErrors]="state.fieldsErrors.name"
            (entityNameChange)="store.setName($event)"
        ></zem-settings-drawer-header>
        <div
            class="zem-drawer__subheader zem-drawer__subheader--info zem-drawer__subheader--with-icon"
            *ngIf="isReadOnly"
        >
            <span>You don't have permission to edit this ad group.</span>
        </div>
        <div
            class="zem-drawer__content custom-scroller zem-settings__settings-container"
        >
            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Scheduling</h2>
                </div>
                <div class="zem-settings-section">
                    <zem-date-form-group
                        class="zem-date-form-group zem-settings-section__item"
                        label="Start date"
                        helpMessage="The start date of the ad group. If the date is set in the future, the ad group will not run until that date."
                        [value]="state.entity.startDate"
                        [isDisabled]="
                            state.extras.isCampaignAutopilotEnabled ||
                            isReadOnly
                        "
                        [errors]="state.fieldsErrors.startDate"
                        (valueChange)="store.setStartDate($event)"
                    ></zem-date-form-group>
                    <zem-date-form-group
                        class="zem-date-form-group zem-settings-section__item"
                        label="End date"
                        helpMessage="The end date of the ad group. Ad group will run until the end of stop date."
                        [value]="state.entity.endDate"
                        [isDisabled]="
                            state.extras.isCampaignAutopilotEnabled ||
                            isReadOnly
                        "
                        [minDate]="minEndDate"
                        [allowManualOverride]="true"
                        [manualOverrideLabel]="'Use campaign budget end date'"
                        [errors]="state.fieldsErrors.endDate"
                        (valueChange)="store.setEndDate($event)"
                    ></zem-date-form-group>
                    <div
                        class="zem-settings-section__item zem-settings-section__item--indented"
                        *ngIf="state.extras.isCampaignAutopilotEnabled"
                    >
                        <div
                            class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
                        >
                            Flight time settings aren't available because
                            campaign budget optimization is enabled. Budget
                            flight time is used for running the ad group.
                        </div>
                    </div>
                    <zem-delivery-type-setting
                        class="zem-delivery-type-setting zem-settings-section__item"
                        [deliveryType]="state.entity.deliveryType"
                        [isDisabled]="isReadOnly"
                        [errors]="state.fieldsErrors.deliveryType"
                        (valueChange)="store.setDeliveryType($event)"
                    ></zem-delivery-type-setting>
                </div>
                <zem-expandable-section
                    class="zem-expandable-section"
                    [expandedByDefault]="
                        expandedSectionsByDefault[expandableSection.SCHEDULING]
                    "
                    [expandLabel]="'Show advanced settings (Dayparting)'"
                    [collapseLabel]="'Hide advanced settings (Dayparting)'"
                >
                    <div class="zem-settings-section">
                        <div class="zem-settings-section__header">
                            <div class="zem-settings-section__title">
                                Dayparting
                            </div>
                            <div class="zem-settings-section__description">
                                You can schedule your ads to be active for
                                specific hours and days of the week. Ads will be
                                shown in the viewer’s local time.
                            </div>
                        </div>
                        <zem-dayparting-setting
                            class="zem-dayparting-setting zem-settings-section__item"
                            [daypartingSetting]="state.entity.dayparting"
                            [errors]="state.fieldsErrors.dayparting"
                            [isDisabled]="isReadOnly"
                            (valueChange)="store.setDayparting($event)"
                        ></zem-dayparting-setting>
                    </div>
                </zem-expandable-section>
            </div>

            <div
                *ngIf="state.extras.agencyUsesRealtimeAutopilot"
                class="zem-panel zem-settings__panel"
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Bidding and budgets
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-bidding-type-setting
                        class="zem-bidding-type-setting zem-settings-section__item"
                        [biddingType]="state.entity.biddingType"
                        [bid]="state.entity.bid"
                        [maxBid]="state.entity.autopilot.maxBid"
                        [currencySymbol]="currencySymbol"
                        [autopilotState]="state.entity.autopilot.state"
                        [biddingTypeErrors]="state.fieldsErrors.biddingType"
                        [bidErrors]="state.fieldsErrors.bid"
                        [maxBidErrors]="state.fieldsErrors.autopilot.maxBid"
                        [isDisabled]="isReadOnly"
                        [agencyUsesRealtimeAutopilot]="
                            state.extras.agencyUsesRealtimeAutopilot
                        "
                        (biddingTypeChange)="store.setBiddingType($event)"
                        (bidChange)="store.setBid($event)"
                        (maxBidChange)="store.setMaxBid($event)"
                    ></zem-bidding-type-setting>
                    <zem-bidding-strategy-setting
                        class="zem-bidding-strategy-setting zem-settings-section__item"
                        [biddingType]="state.entity.biddingType"
                        [autopilotState]="state.entity.autopilot.state"
                        [isDisabled]="isReadOnly"
                        (autopilotStateChange)="store.setAutopilotState($event)"
                    >
                    </zem-bidding-strategy-setting>
                    <zem-currency-form-group
                        class="zem-currency-form-group zem-settings-section__item"
                        label="Ad group's daily budget"
                        helpMessage="Daily budget limit for this ad group. If the ad group is having difficulties spending the daily budget in full, consider increasing the Bid {{
                            state.entity.biddingType
                        }} or remove the maximum."
                        [value]="state.entity.dailyBudget"
                        [currencySymbol]="currencySymbol"
                        fractionSize="0"
                        [isDisabled]="
                            state.extras.isCampaignAutopilotEnabled ||
                            !state.entity.manageRtbSourcesAsOne ||
                            isReadOnly
                        "
                        [errors]="state.fieldsErrors.dailyBudget"
                        (valueChange)="store.setDailyBudget($event)"
                    ></zem-currency-form-group>
                    <div
                        class="zem-settings-section__item zem-settings-section__item--indented"
                        *ngIf="state.extras.isCampaignAutopilotEnabled"
                    >
                        <div
                            class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
                        >
                            Ad group's daily budget setting isn't available
                            because campaign budget optimization is enabled.
                        </div>
                    </div>
                    <div
                        class="zem-settings-section__item zem-settings-section__item--indented"
                        *ngIf="
                            !state.extras.isCampaignAutopilotEnabled &&
                            !state.entity.manageRtbSourcesAsOne
                        "
                    >
                        <div
                            class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
                        >
                            Ad group's daily budget setting isn't available
                            because RTB sources are being managed separately.
                        </div>
                    </div>
                </div>
                <zem-expandable-section
                    class="zem-expandable-section"
                    [expandedByDefault]="
                        expandedSectionsByDefault[expandableSection.BUDGET]
                    "
                    [expandLabel]="'Show advanced settings'"
                    [collapseLabel]="'Hide advanced settings'"
                >
                    <div class="zem-settings-section">
                        <zem-integer-form-group
                            class="zem-integer-form-group zem-settings-section__item"
                            label="Daily click cap"
                            helpMessage="Limit number of clicks you want to reach daily within the ad group. Zemanta will stop spending for the rest of the day once it hits the maximum number of clicks you set."
                            [value]="
                                store.state.entity
                                    .clickCappingDailyAdGroupMaxClicks
                            "
                            [errors]="
                                state.fieldsErrors
                                    .clickCappingDailyAdGroupMaxClicks
                            "
                            [isDisabled]="isReadOnly"
                            placeholder="No limit"
                            (valueChange)="store.setDailyClickCapping($event)"
                        ></zem-integer-form-group>
                        <zem-integer-form-group
                            class="zem-integer-form-group zem-settings-section__item"
                            label="Daily impression frequency cap"
                            helpMessage="This setting defines the maximum number of times your ads from this ad group will be shown to a unique user in one day."
                            [value]="store.state.entity.frequencyCapping"
                            [errors]="state.fieldsErrors.frequencyCapping"
                            [isDisabled]="isReadOnly"
                            [placeholder]="'No limit'"
                            (valueChange)="store.setFrequencyCapping($event)"
                        ></zem-integer-form-group>
                    </div>

                    <div class="zem-settings-section">
                        <zem-ad-group-rtb-sources-management-setting
                            class="zem-ad-group-rtb-sources-management-setting zem-settings-section__item"
                            [manageRtbSourcesAsOne]="
                                state.entity.manageRtbSourcesAsOne
                            "
                            [agencyUsesRealtimeAutopilot]="
                                state.extras.agencyUsesRealtimeAutopilot
                            "
                            [isDisabled]="isReadOnly"
                            (manageRtbSourcesAsOneChange)="
                                store.setManageRtbSourcesAsOne($event)
                            "
                        ></zem-ad-group-rtb-sources-management-setting>
                        <div
                            *ngIf="state.entity.manageRtbSourcesAsOne"
                            class="zem-settings-section__item zem-settings-section__item--indented"
                        >
                            <div
                                class="zem-message zem-message--bubble zem-message--warning zem-message--with-icon"
                            >
                                Managing RTB sources separately is unavailable
                                and will soon be deprecated. For any questions,
                                reach out to your Customer Success
                                representative.
                            </div>
                        </div>
                    </div>
                </zem-expandable-section>
            </div>

            <!-- TODO: RTAP: remove this after Phase 1 -->
            <div
                *ngIf="!state.extras.agencyUsesRealtimeAutopilot"
                class="zem-panel zem-settings__panel"
            >
                <div>
                    <div class="zem-panel__header">
                        <h2 class="zem-settings__panel-header-title">
                            Budgets and daily limits
                        </h2>
                    </div>
                    <div class="zem-settings-section">
                        <zem-bidding-type-setting
                            class="zem-bidding-type-setting zem-settings-section__item"
                            [biddingType]="state.entity.biddingType"
                            [bid]="state.entity.bid"
                            [maxBid]="state.entity.autopilot.maxBid"
                            [currencySymbol]="currencySymbol"
                            [autopilotState]="state.entity.autopilot.state"
                            [biddingTypeErrors]="state.fieldsErrors.biddingType"
                            [bidErrors]="state.fieldsErrors.bid"
                            [maxBidErrors]="state.fieldsErrors.autopilot.maxBid"
                            [isDisabled]="isReadOnly"
                            [agencyUsesRealtimeAutopilot]="
                                state.extras.agencyUsesRealtimeAutopilot
                            "
                            (biddingTypeChange)="store.setBiddingType($event)"
                            (bidChange)="store.setBid($event)"
                            (maxBidChange)="store.setMaxBid($event)"
                        ></zem-bidding-type-setting>
                        <zem-currency-form-group
                            class="zem-currency-form-group zem-settings-section__item"
                            label="Ad group's daily spend cap"
                            helpMessage="Amount of budget autopilot can operate with on this ad group every day."
                            [value]="
                                store.isAdGroupAutopilotEnabled()
                                    ? state.entity.dailyBudget
                                    : ''
                            "
                            [currencySymbol]="currencySymbol"
                            fractionSize="0"
                            [isDisabled]="
                                !store.isAdGroupAutopilotEnabled() || isReadOnly
                            "
                            [errors]="state.fieldsErrors.dailyBudget"
                            (valueChange)="store.setDailyBudget($event)"
                        ></zem-currency-form-group>
                        <div
                            class="zem-settings-section__item zem-settings-section__item--indented"
                            *ngIf="!store.isAdGroupAutopilotEnabled()"
                        >
                            <div
                                class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
                            >
                                <ng-container
                                    *ngIf="
                                        state.extras.isCampaignAutopilotEnabled
                                    "
                                >
                                    Ad group's daily spend cap setting isn't
                                    available because campaign budget
                                    optimization is enabled.
                                </ng-container>
                                <ng-container
                                    *ngIf="
                                        !state.extras.isCampaignAutopilotEnabled
                                    "
                                >
                                    Ad group's daily spend cap setting is
                                    disabled because autopilot is off. You must
                                    configure the daily spend on the media
                                    source tab.
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <zem-expandable-section
                        class="zem-expandable-section"
                        [expandedByDefault]="
                            expandedSectionsByDefault[expandableSection.BUDGET]
                        "
                        [expandLabel]="
                            'Show advanced settings (Daily click cap, Daily impression frequency cap)'
                        "
                        [collapseLabel]="
                            'Hide advanced settings (Daily click cap, Daily impression frequency cap)'
                        "
                    >
                        <div class="zem-settings-section">
                            <zem-integer-form-group
                                class="zem-integer-form-group zem-settings-section__item"
                                label="Daily click cap"
                                helpMessage="Limit number of clicks you want to reach daily within the ad group. Zemanta will stop spending for the rest of the day once it hits the maximum number of clicks you set."
                                [value]="
                                    store.state.entity
                                        .clickCappingDailyAdGroupMaxClicks
                                "
                                [errors]="
                                    state.fieldsErrors
                                        .clickCappingDailyAdGroupMaxClicks
                                "
                                [isDisabled]="isReadOnly"
                                placeholder="No limit"
                                (valueChange)="
                                    store.setDailyClickCapping($event)
                                "
                            ></zem-integer-form-group>
                            <zem-integer-form-group
                                class="zem-integer-form-group zem-settings-section__item"
                                label="Daily impression frequency cap"
                                helpMessage="This setting defines the maximum number of times your ads from this ad group will be shown to a unique user in one day."
                                [value]="store.state.entity.frequencyCapping"
                                [errors]="state.fieldsErrors.frequencyCapping"
                                [isDisabled]="isReadOnly"
                                [placeholder]="'No limit'"
                                (valueChange)="
                                    store.setFrequencyCapping($event)
                                "
                            ></zem-integer-form-group>
                        </div>
                    </zem-expandable-section>
                </div>
            </div>

            <!-- TODO: RTAP: remove this after Phase 1 -->
            <div
                class="zem-panel zem-settings__panel"
                *ngIf="!state.extras.agencyUsesRealtimeAutopilot"
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Optimization
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-ad-group-autopilot-state-setting
                        class="zem-ad-group-autopilot-state-setting zem-settings-section__item"
                        [autopilotState]="state.entity.autopilot.state"
                        [optimizationObjective]="
                            state.extras.optimizationObjective
                        "
                        [isDisabled]="
                            state.extras.isCampaignAutopilotEnabled ||
                            isReadOnly
                        "
                        (autopilotStateChange)="
                            store.setAdGroupAutopilotState($event)
                        "
                    ></zem-ad-group-autopilot-state-setting>
                    <div
                        class="zem-settings-section__item"
                        *ngIf="state.extras.isCampaignAutopilotEnabled"
                    >
                        <div
                            class="zem-message zem-message--bubble zem-message--info zem-message--with-icon zem-settings__inline-message"
                        >
                            Optimizations are managed on campaign level.
                        </div>
                    </div>
                </div>
                <zem-expandable-section
                    class="zem-expandable-section"
                    [expandLabel]="
                        'Show advanced settings (Manage RTB sources)'
                    "
                    [collapseLabel]="
                        'Hide advanced settings (Manage RTB sources)'
                    "
                >
                    <div class="zem-settings-section">
                        <zem-ad-group-rtb-sources-management-setting
                            class="zem-ad-group-rtb-sources-management-setting zem-settings-section__item"
                            [manageRtbSourcesAsOne]="
                                state.entity.manageRtbSourcesAsOne
                            "
                            [agencyUsesRealtimeAutopilot]="
                                state.extras.agencyUsesRealtimeAutopilot
                            "
                            [isDisabled]="
                                state.extras.isCampaignAutopilotEnabled ||
                                store.isAdGroupAutopilotEnabled() ||
                                isReadOnly
                            "
                            (manageRtbSourcesAsOneChange)="
                                store.setManageRtbSourcesAsOne($event)
                            "
                        ></zem-ad-group-rtb-sources-management-setting>
                        <div
                            class="zem-settings-section__item zem-settings-section__item--indented"
                            *ngIf="store.isAdGroupAutopilotEnabled()"
                        >
                            <div
                                class="zem-message zem-message--bubble zem-message--warning zem-message--with-icon"
                            >
                                You can't manage RTB sources while autopilot
                                goal optimization is enabled.
                            </div>
                        </div>
                    </div>
                </zem-expandable-section>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header zem-settings__panel-header">
                    <h2 class="zem-settings__panel-header-title">
                        Device targeting
                    </h2>
                    <div
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.settings_defaults_on_campaign_level'
                            ) && store.isDeviceTargetingDifferentFromDefault()
                        "
                        class="zem-settings__panel-header-message"
                    >
                        Different than campaign default
                    </div>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__description">
                            The devices on which your content ads will be shown.
                        </div>
                    </div>
                    <zem-image-checkbox-input-group
                        class="zem-image-checkbox-input-group zem-settings-section__item"
                        [options]="targetingDeviceOptions"
                        [values]="state.entity.targeting.devices"
                    >
                        <ng-template
                            #imageCheckboxTemplate
                            let-formattedOption="formattedOption"
                        >
                            <zem-image-checkbox-input
                                class="zem-image-checkbox-input"
                                [value]="formattedOption"
                                [isDisabled]="isReadOnly"
                                (itemToggled)="
                                    store.toggleTargetingDevice($event)
                                "
                            >
                            </zem-image-checkbox-input>
                        </ng-template>
                    </zem-image-checkbox-input-group>
                </div>

                <zem-expandable-section
                    [expandedByDefault]="
                        expandedSectionsByDefault[
                            expandableSection.DEVICE_TARGETING
                        ]
                    "
                    [expandLabel]="
                        'Show advanced settings (Advanced device targeting options)'
                    "
                    [collapseLabel]="
                        'Hide advanced settings (Advanced device targeting options)'
                    "
                >
                    <div class="zem-settings-section">
                        <div class="zem-settings-section__header">
                            <div class="zem-settings-section__title">
                                Advanced device targeting options
                            </div>
                        </div>
                        <div
                            class="zem-settings-section__description zem-settings-section__description--highlight"
                        >
                            Choose operating system:
                        </div>
                        <div
                            *ngIf="state.entity.targeting.os.length === 0"
                            class="zem-message"
                        >
                            You are currently targeting all operating systems.
                            To target only specific operating system add it by
                            clicking button below.
                        </div>
                        <zem-operating-system-list
                            class="zem-operating-system-list zem-settings-section__item"
                            [oses]="state.entity.targeting.os"
                            [devices]="state.entity.targeting.devices"
                            [isDisabled]="isReadOnly"
                            (osAdded)="store.addDeviceTargetingOs($event)"
                        >
                            <ng-template #osItemTemplate let-os="os">
                                <zem-operating-system
                                    class="zem-operating-system"
                                    [os]="os"
                                    [isDisabled]="isReadOnly"
                                    (osChange)="
                                        store.changeDeviceTargetingOs($event)
                                    "
                                    (osDelete)="
                                        store.deleteDeviceTargetingOs(os)
                                    "
                                >
                                </zem-operating-system>
                            </ng-template>
                        </zem-operating-system-list>
                        <hr />
                        <div
                            class="zem-settings-section__description zem-settings-section__description--highlight"
                        >
                            Choose browser:
                        </div>
                        <div
                            *ngIf="
                                state.entity.targeting.browsers.included
                                    .length === 0 &&
                                state.entity.targeting.browsers.excluded
                                    .length === 0
                            "
                            class="zem-message"
                        >
                            You are currently targeting all browsers.
                        </div>
                        <zem-browser-targeting
                            class="zem-browser-targeting zem-settings-section__item"
                            [includedBrowsers]="
                                state.entity.targeting.browsers.included
                            "
                            [excludedBrowsers]="
                                state.entity.targeting.browsers.excluded
                            "
                            [selectedDeviceTypes]="
                                state.entity.targeting.devices
                            "
                            [isDisabled]="isReadOnly"
                            [browserTargetingErrors]="
                                state.fieldsErrors.targeting.browsers
                            "
                            (includeExcludeChange)="
                                store.browserTargetingIncludeExcludeChange(
                                    $event
                                )
                            "
                            (addBrowserTargeting)="
                                store.addBrowserTargeting($event)
                            "
                            (removeBrowserTargeting)="
                                store.removeBrowserTargeting($event)
                            "
                        ></zem-browser-targeting>
                        <hr />
                        <div class="zem-settings-section__inline-items">
                            <div class="zem-settings-section__inline-item">
                                <div
                                    class="zem-settings-section__description zem-settings-section__description--highlight"
                                >
                                    Choose environment:
                                </div>
                                <zem-image-checkbox-input-group
                                    class="zem-image-checkbox-input-group zem-settings-section__item"
                                    [options]="targetingEnvironmentOptions"
                                    [values]="
                                        state.entity.targeting.environments
                                    "
                                >
                                    >
                                    <ng-template
                                        #imageCheckboxTemplate
                                        let-formattedOption="formattedOption"
                                    >
                                        <zem-image-checkbox-input
                                            class="zem-image-checkbox-input"
                                            [value]="formattedOption"
                                            [isDisabled]="isReadOnly"
                                            (itemToggled)="
                                                store.toggleTargetingEnvironment(
                                                    $event
                                                )
                                            "
                                        >
                                        </zem-image-checkbox-input>
                                    </ng-template>
                                </zem-image-checkbox-input-group>
                                <hr />
                            </div>
                            <div class="zem-settings-section__inline-item">
                                <div
                                    class="zem-settings-section__description zem-settings-section__description--highlight"
                                >
                                    Choose connection type:
                                </div>
                                <zem-connection-type-targeting
                                    class="zem-connection-type-targeting zem-settings-section__item"
                                    [selectedConnectionTypes]="
                                        state.entity.targeting.connectionTypes
                                    "
                                    [isDisabled]="isReadOnly"
                                    (connectionTypeToggle)="
                                        store.toggleConnectionTypeTargeting(
                                            $event
                                        )
                                    "
                                ></zem-connection-type-targeting>
                            </div>
                        </div>
                    </div>
                </zem-expandable-section>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header zem-settings__panel-header">
                    <h2 class="zem-settings__panel-header-title">
                        Location and language targeting
                    </h2>
                    <div
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.settings_defaults_on_campaign_level'
                            ) && store.isLocationTargetingDifferentFromDefault()
                        "
                        class="zem-settings__panel-header-message"
                    >
                        Different than campaign default
                    </div>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__title">
                            Countries, states and DMA regions targeting
                        </div>
                        <div class="zem-settings-section__description">
                            The countries, states and DMA regions where your
                            content ads will be shown.
                        </div>
                    </div>
                    <zem-geo-targeting
                        class="zem-geo-targeting zem-settings-section__item"
                        [includedLocationsByType]="
                            state.selectedIncludedLocationsByType
                        "
                        [excludedLocationsByType]="
                            state.selectedExcludedLocationsByType
                        "
                        [searchedLocations]="state.searchedLocations"
                        [isDisabled]="isReadOnly"
                        (locationSearch)="store.searchLocations($event)"
                        (locationOpen)="store.clearSearchedLocations()"
                        (addGeotargeting)="store.addGeotargeting($event)"
                        (removeGeotargeting)="store.removeGeotargeting($event)"
                    ></zem-geo-targeting>
                </div>
                <zem-expandable-section
                    class="zem-expandable-section"
                    [expandedByDefault]="
                        expandedSectionsByDefault[
                            expandableSection.GEOTARGETING
                        ]
                    "
                    [expandLabel]="
                        'Show advanced settings (ZIP / Postal code targeting, Language matching)'
                    "
                    [collapseLabel]="
                        'Hide advanced settings (ZIP / Postal code targeting, Language matching)'
                    "
                >
                    <div class="zem-settings-section">
                        <div class="zem-settings-section__header">
                            <div class="zem-settings-section__title">
                                ZIP / Postal code targeting
                            </div>
                            <div class="zem-settings-section__description">
                                You can target ZIP / postal codes in one
                                specific country.
                            </div>
                        </div>
                        <zem-zip-targeting
                            class="zem-zip-targeting zem-settings-section__item"
                            [includedLocations]="
                                state.entity.targeting.geo.included
                            "
                            [excludedLocations]="
                                state.entity.targeting.geo.excluded
                            "
                            [searchedLocations]="state.searchedLocations"
                            [selectedLocation]="
                                state.selectedZipTargeting.location
                            "
                            [includeExcludeType]="
                                state.selectedZipTargeting.includeExcludeType
                            "
                            [isDisabled]="isReadOnly"
                            (locationSearch)="store.searchLocations($event)"
                            (locationOpen)="store.clearSearchedLocations()"
                            (targetingUpdate)="store.setZipTargeting($event)"
                        ></zem-zip-targeting>
                    </div>
                    <div class="zem-settings-section">
                        <zem-checkbox-form-group
                            class="zem-checkbox-form-group zem-settings-section__item"
                            label="Language matching"
                            helpMessage="Zemanta will show ads only when language of the page matches the language of your ads."
                            [value]="
                                state.entity.targeting.language.matchingEnabled
                            "
                            [isDisabled]="isReadOnly"
                            (valueChange)="store.setLanguageMatching($event)"
                        >
                            Enable language matching
                        </zem-checkbox-form-group>
                    </div>
                </zem-expandable-section>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Tracking</h2>
                </div>
                <div class="zem-settings-section">
                    <zem-tracking-code-setting
                        class="zem-tracking-code-setting zem-settings-section__item"
                        [value]="state.entity.trackingCode"
                        [isDisabled]="isReadOnly"
                        [errors]="state.fieldsErrors.trackingCode"
                        (valueChange)="store.setTrackingCode($event)"
                    ></zem-tracking-code-setting>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Audience targeting
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__title">
                            Publishers & placements
                        </div>
                        <div class="zem-settings-section__description">
                            Define your publisher and placement targeting by
                            whitelisting or blacklisting publisher and placement
                            lists.
                        </div>
                    </div>
                    <zem-publisher-group-targeting
                        class="zem-publisher-group-targeting zem-settings-section__item"
                        [accountId]="state.extras.accountId"
                        [whitelistedPublisherGroups]="
                            state.entity.targeting.publisherGroups.included
                        "
                        [blacklistedPublisherGroups]="
                            state.entity.targeting.publisherGroups.excluded
                        "
                        [isDisabled]="isReadOnly"
                        (onUpdate)="
                            store.setPublisherGroupsTargeting($event.$event)
                        "
                    ></zem-publisher-group-targeting>
                    <div class="zem-settings-section__description">
                        If you are using different level whitelists, it means
                        you are targeting only whitelisted placements from
                        whitelisted publishers and additionally all placements
                        on whitelisted publishers that are not included in
                        placement list.
                    </div>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__title">
                            Interest targeting
                        </div>
                        <div class="zem-settings-section__description">
                            Interest targeting is based on publisher
                            classification and user's reading habits.
                        </div>
                    </div>
                    <zem-interest-targeting
                        class="zem-interest-targeting zem-settings-section__item"
                        [includedInterests]="
                            state.entity.targeting.interest.included
                        "
                        [excludedInterests]="
                            state.entity.targeting.interest.excluded
                        "
                        [isDisabled]="isReadOnly"
                        (onUpdate)="store.setInterestTargeting($event.$event)"
                    ></zem-interest-targeting>
                </div>

                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__title">
                            Special notes
                        </div>
                        <div class="zem-settings-section__description">
                            Any additional targeting set on the backend will be
                            described here. This is a read-only section. Please
                            contact your Zemanta customer success manager if you
                            want to set up or change it.
                        </div>
                    </div>
                    <div class="zem-dashed-box" *ngIf="state.entity.notes">
                        {{ state.entity.notes }}
                    </div>
                    <div class="zem-message" *ngIf="!state.entity.notes">
                        No special notes.
                    </div>
                </div>
                <zem-expandable-section
                    class="zem-expandable-section"
                    [expandedByDefault]="
                        expandedSectionsByDefault[expandableSection.AUDIENCE]
                    "
                    [expandLabel]="
                        'Show advanced settings (Retargeting, BlueKai targeting)'
                    "
                    [collapseLabel]="
                        'Hide advanced settings (Retargeting, BlueKai targeting)'
                    "
                >
                    <div class="zem-settings-section">
                        <div class="zem-settings-section__header">
                            <div class="zem-settings-section__title">
                                Retargeting
                            </div>
                            <div class="zem-settings-section__description">
                                Target people you have seen previously.
                                Retargeting can be based on pixels you placed or
                                on clicks to other ad groups.
                            </div>
                        </div>
                        <zem-retargeting
                            class="zem-retargeting"
                            [entityId]="state.entity.id"
                            [retargetableAudiences]="state.extras.audiences"
                            [retargetableAdGroups]="
                                state.extras.retargetableAdGroups
                            "
                            [includedAudiences]="
                                state.entity.targeting.customAudiences.included
                            "
                            [excludedAudiences]="
                                state.entity.targeting.customAudiences.excluded
                            "
                            [includedAdGroups]="
                                state.entity.targeting.retargetingAdGroups
                                    .included
                            "
                            [excludedAdGroups]="
                                state.entity.targeting.retargetingAdGroups
                                    .excluded
                            "
                            [warnings]="state.extras.warnings.retargeting"
                            [isDisabled]="isReadOnly"
                            (onUpdate)="store.setRetargeting($event.$event)"
                        ></zem-retargeting>
                    </div>
                    <div class="zem-settings-section">
                        <div class="zem-settings-section__header">
                            <div class="zem-settings-section__title">
                                BlueKai targeting
                            </div>
                            <div class="zem-settings-section__description">
                                Setup audience targeting based on BlueKai
                                audience segments. For setting up Bombora,
                                Liveramp or Lotame targeting please contact your
                                customer success manager.
                            </div>
                        </div>
                        <zem-demographic-targeting
                            class="zem-demographic-targeting"
                            [bluekaiTargeting]="state.entity.targeting.audience"
                            [entityId]="state.entity.id"
                            [isDisabled]="isReadOnly"
                            (onUpdate)="
                                store.setBluekaiTargeting($event.$event)
                            "
                        ></zem-demographic-targeting>
                    </div>
                </zem-expandable-section>
            </div>

            <div class="zem-panel zem-settings__panel" *ngIf="!canSeeDeals">
                <div class="zem-settings-section">
                    <div class="zem-settings-section__description">
                        Deals might apply, please reach out to your agency for
                        details.
                    </div>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel" *ngIf="canSeeDeals">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Deals</h2>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__description">
                        Connect deals from the deal library to this ad group or
                        create a new deal.
                    </div>
                    <zem-deals-list
                        class="zem-deals-list zem-settings-section__item"
                        [deals]="store.state.entity.deals"
                        [availableDeals]="store.state.availableDeals"
                        [isLoading]="store.state.dealsRequests.list.inProgress"
                        [isDisabled]="isReadOnly"
                        (dealSelect)="store.addDeal($event)"
                        (search)="store.loadAvailableDeals($event)"
                        (open)="store.loadAvailableDeals()"
                    >
                        <ng-template
                            #dealItemTemplate
                            let-deal="deal"
                            let-index="index"
                        >
                            <zem-deal
                                class="zem-deal"
                                [ngClass]="{
                                    'zem-deal--error': store.hasDealError(index)
                                }"
                                [deal]="deal"
                                [isDisabled]="isReadOnly"
                                (dealRemove)="store.removeDeal($event)"
                                (dealEditFormClose)="store.validateEntity()"
                            >
                                <zem-deal-edit-form
                                    class="zem-deal-edit-form"
                                    [deal]="deal"
                                    [sources]="store.state.sources"
                                    [dealErrors]="
                                        store.state.fieldsErrors.deals[index]
                                    "
                                    [isDisabled]="!!deal.id || isReadOnly"
                                    (dealChange)="store.changeDeal($event)"
                                ></zem-deal-edit-form>
                            </zem-deal>
                        </ng-template>
                    </zem-deals-list>
                    <div class="zem-settings-section__item">
                        <button
                            type="button"
                            class="zem-button zem-button--with-icon zem-button--add-icon"
                            (click)="store.addDeal()"
                            [disabled]="isReadOnly"
                        >
                            Add new deal
                        </button>
                    </div>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Bid modifiers
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-bid-modifiers-overview
                        class="zem-bid-modifiers-overview"
                        [adGroupId]="entityId"
                        [bidModifierTypeSummaries]="
                            state.extras.bidModifierTypeSummaries
                        "
                        [importError]="state.bidModifiersImportError"
                        [importSummary]="state.bidModifiersImportSummary"
                        [isDisabled]="isReadOnly"
                        (importFileChange)="
                            store.handleBidModifierImportFileChange($event)
                        "
                    ></zem-bid-modifiers-overview>
                </div>
            </div>

            <div
                class="zem-panel zem-settings__panel"
                *ngIf="authStore.hasPermission('zemauth.can_see_backend_hacks')"
                [zemInternalFeature]="
                    authStore.isPermissionInternal(
                        'zemauth.can_see_backend_hacks'
                    )
                "
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Backend hacks
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-hacks
                        class="zem-hacks zem-settings-section__item"
                        [hacks]="state.extras.hacks"
                    ></zem-hacks>
                </div>
            </div>

            <div
                class="zem-panel zem-settings__panel"
                *ngIf="authStore.hasPermission('zemauth.can_see_deals_in_ui')"
                [zemInternalFeature]="
                    authStore.isPermissionInternal(
                        'zemauth.can_see_deals_in_ui'
                    )
                "
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Deals</h2>
                </div>
                <div class="zem-settings-section">
                    <zem-deals
                        class="zem-deals zem-settings-section__item"
                        [deals]="state.extras.deals"
                    ></zem-deals>
                </div>
            </div>
        </div>
        <zem-settings-drawer-footer
            class="zem-settings-drawer-footer zem-drawer__footer zem-settings__settings-footer"
            [isNewEntity]="isNewEntity"
            [entityType]="EntityType.AD_GROUP"
            [isSaveDisabled]="isReadOnly"
            [isArchiveDisabled]="isReadOnly"
            [isLoading]="
                state.requests.create.inProgress ||
                state.requests.edit.inProgress ||
                state.bidModifiersRequests.import.inProgress ||
                state.bidModifiersRequests.validateFile.inProgress
            "
            [hasError]="
                state.requests.create.error ||
                state.requests.edit.error ||
                state.bidModifiersRequests.import.error
            "
            (save)="saveSettings()"
            (cancel)="cancel()"
            (archive)="archive()"
        ></zem-settings-drawer-footer>
    </ng-container>
</zem-drawer>
