<div>
    <div class="modal-header">
        <h4 class="modal-title">How do you want to upload your ads?</h4>
    </div>
    <div class="modal-body">
        <div class="description">Start adding your ads by choosing one of options below.</div>
        <div class="row">
            <div class="col-xs-6"><a href ng-click="ctrl.switchToSingleContentAdUpload()" class="button button--big">Single Content Ad<span class="small-text">Choose this if you want to add ads one by one.<br />You can add multiple ads.</span></a></div>
            <div class="col-xs-6"><a href ng-click="ctrl.switchToCsvUpload()" class="button button--big">File upload<span class="small-text">Choose this if you have CSV or Excel file with a lot of ads.<br />You can download example file structure in the next step.</a></div>
        </div>
    </div>
</div>
