@import 'variables';

.zem-item-scope-cell {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-item-scope-cell__link,
.zem-item-scope-cell__text {
    color: @color--secondary;
    font-weight: 500;
}

.zem-item-scope-cell__link:hover,
.zem-item-scope-cell__link:active {
    color: @color--secondary;
}

.zem-item-scope-cel__ag-cel--agency {
    background-color: fade(@color--primary, 10%);
}

.zem-item-scope-cel__ag-cel--account {
    background-color: fade(@color--secondary, 10%);
}
