<div>
    <h3 class="custom-panel__sub-title zem-tree-select-list__header">
        {{ $ctrl.getHeaderText() }}
        <a class="alternative-link zem-tree-select-list__item-remove-action" ng-click="$ctrl.removeGroup()" href>Remove</a>
    </h3>
    <zem-tree-select class="zem-select"
                     ng-if="$ctrl.bluekaiTaxonomy"
                     root-node="$ctrl.bluekaiTaxonomy"
                     initial-selection="$ctrl.initialCategories"
                     on-update="$ctrl.onSelectionUpdate(nodes)"
    ></zem-tree-select>
</div>
