{% extends "header_base.html" %}

{% block support_mail_extra %}?Subject=Help%20Needed{% endblock %}

{% block content %}
{{ block.super }}
<div id="error-box" class="center-container">
    <div class="title">Oops.</div>
    <div class="message">
        <div>This page could not be found.</div>
        <div>You might have followed an incorrect link.</div>
    </div>
    <div>
        <div><strong>Need help? Contact us.</strong></div>
        <div><a class="contact" href="mailto:help@zemanta.com?Subject=Help%20Needed">help@zemanta.com</a></div>
    </div>
</div>
{% endblock %}
