{% extends "header_base.html" %}

{% load staticfiles %}
{% load whitelabel %}

{% block content %}
{% get_whitelabel_info as wl %}
<div class="page {{ wl.base }}">
    <div class="container" id="error-box">
        <div class="container__left container__left--smaller">
            {% if wl.base == "newscorp" %}
                <img class="logo" src="{% static "img/newscorp-logo.svg" %}" alt="Newscorp Logo"/>
            {% elif wl.base == "das" %}
                <img class="logo" src="{% static "img/das-logo-white.svg" %}" alt="Native Ocean Logo"/>
            {% else %}
                <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
            {% endif %}
        </div>
        <div class="container__right container__right--maintenance">
            <h2>Oops! Something went wrong.</h2>
            <p><strong>Need help?</strong> <a class="link" href="mailto:help@zemanta.com?Subject=Help%20Needed" target="_blank">Contact us</a></p>
        </div>
    </div>
</div>
{% endblock %}
