{% extends "header_base.html" %}

{% block content %}
<div class="page">
    <div class="container" id="error-box">
        <div class="container__left container__left--smaller">
            <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
        </div>
        <div class="container__right container__right--maintenance">
            <h2>We'll be back shortly.</h2>
            <p><strong>Need help?</strong> <a class="link" href="mailto:help@zemanta.com?Subject=Help%20Needed" target="_blank">Contact us</a></p>
        </div>
    </div>
</div>
{% endblock %}
