{% extends "base.html" %}

{% block head_extra %}
<link type="text/css" rel="stylesheet" href="{{ staticUrl }}/actionlog/zemanta-one.actionlog.lib.min.css" />
<link type="text/css" rel="stylesheet" href="{{ staticUrl }}/actionlog/zemanta-one.actionlog.min.css" />
<script type="text/javascript" src="{{ staticUrl }}/actionlog/zemanta-one.actionlog.lib.min.js"></script>
<script type="text/javascript" src="{{ staticUrl }}/actionlog/zemanta-one.actionlog.min.js"></script>
{% endblock %}

{% block content %}
<div ng-app="actionlog" ng-include src="'{{ staticUrl }}/actionlog/main.html'"></div>
{% endblock %} 

