<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
        <!-- TypeKit async code -->
        <script type="text/javascript">
            (function(d) {
                var config = {
                    kitId: 'lfx0xpc',
                    scriptTimeout: 2000
                },
                    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        </script>
    </head>
    <body>
        <header>
            <a href="http://www.zemanta.com"><img class="item logo" src="{% static "img/logo_one.png" %}" alt="Zemanta Logo"/></a>
            <a class="item contact" href="mailto:help@zemanta.com?Subject={% block mailsubject %}Sign%20In%20Page%20Issue{% endblock %}">Contact Support</a>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>
