<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ subject }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body bgcolor="#ebebeb">
        <table width="100%" bgcolor="#ebebeb">
            <tr>
                <td align="center">
                    <table cellpadding="0" cellspacing="0" width="700">
                        <tr>
                            <td width="10"></td>
                            <td width="680">
                                <table cellpadding="0" cellspacing="0" width="680">
                                    <tr>
                                        <td height="100" colspan="3" valign="middle" align="center"><img height="50" style="display: block;" src="http://www.zemanta.com/images/zemanta-logo-white-for-email.png" alt=""/></td>
                                    </tr>
                                    <tr bgcolor="#EF8421">
                                        <td width="20" rowspan="3" align="left" valign="top"><img width="20" style="display: block;" src="http://www.zemanta.com/images/zemanta-logo-squares-white-for-email.png" alt=""/></td>
                                        <td align="center" height="20" valign="middle"></td>
                                        <td width="20" rowspan="3"></td>
                                    </tr>
                                    <tr bgcolor="#EF8421">
                                        <td align="center" valign="middle"><h1 style="color: white; font-size: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; padding: 0;">Daily Management Report</h1></td>
                                    </tr>
                                    <tr bgcolor="#EF8421">
                                        <td align="center" height="20" valign="middle"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td width="20"></td>
                                        <td>
                                            <table cellspacing="0" cellpadding="0" width="640" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th style="padding: 5px; background-color: #ECEEF2; border-bottom: 1px solid #C9D0DB; text-align: left;"></th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Active accounts</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Active campaigns</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Media spend MTD</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Monthly budgets</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Spend projection</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Fee projection</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">42 agencies</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">88</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">211</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$118,970</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$577,674</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$359,331</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$57,099</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Managed</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, <span style="color: #cc0000;">-1</span>, <span style="color: #cc0000;">-1</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, <span style="color: #cc0000;">-3</span>, <span style="color: #cc0000;">-4</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$47,979</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$140,119</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$126,208</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$28,465</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Pilot</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">24 (0, <span style="color: #cc0000;">-3</span>, <span style="color: #cc0000;">-4</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, <span style="color: #99cc00;">+12</span>, <span style="color: #cc0000;">-90</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$46,393</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$259,275</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$155,711 *</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$18,703 *</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Activated</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">55 (0, <span style="color: #cc0000;">-6</span>, 0)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">73 (0, <span style="color: #cc0000;">-44</span>, <span style="color: #cc0000;">-35</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$24,380</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$178,010</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$126,784 *</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$24,640 *</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Test</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">3 (0, <span style="color: #99cc00;">+1</span>, <span style="color: #cc0000;">-1</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, 0, <span style="color: #cc0000;">-4</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$218</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$270</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$248 *</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$0 *</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Unknown</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">0 (0, 0, 0)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, 0, 0)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$0</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$0</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$0 *</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$0 *</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Client-direct</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">88</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">211</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$118,970</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$577,674</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$359,331</td>
                                                        <td style="padding: 10px 5px; background-color: #F5F6F9; font-weight: bold; border-bottom: 1px solid #ECEEF2;">$57,099</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Managed</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, <span style="color: #cc0000;">-1</span>, <span style="color: #cc0000;">-1</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, <span style="color: #cc0000;">-3</span>, <span style="color: #cc0000;">-4</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$47,979</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$140,119</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$126,208</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$28,465</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Pilot</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">24 (0, <span style="color: #cc0000;">-3</span>, <span style="color: #cc0000;">-4</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, <span style="color: #99cc00;">+12</span>, <span style="color: #cc0000;">-90</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$46,393</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$259,275</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$155,711 *</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$18,703 *</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Activated</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">55 (0, <span style="color: #cc0000;">-6</span>, 0)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">73 (0, <span style="color: #cc0000;">-44</span>, <span style="color: #cc0000;">-35</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$24,380</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$178,010</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$126,784 *</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$24,640 *</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2; white-space: nowrap;">Test</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">3 (0, <span style="color: #99cc00;">+1</span>, <span style="color: #cc0000;">-1</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">6 (0, 0, <span style="color: #cc0000;">-4</span>)</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$218</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$270</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$248 *</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$0 *</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; white-space: nowrap;">Unknown</td>
                                                        <td style="padding: 10px 5px;">0 (0, 0, 0)</td>
                                                        <td style="padding: 10px 5px;">6 (0, 0, 0)</td>
                                                        <td style="padding: 10px 5px;">$0</td>
                                                        <td style="padding: 10px 5px;">$0</td>
                                                        <td style="padding: 10px 5px;">$0 *</td>
                                                        <td style="padding: 10px 5px;">$0 *</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-top: 1px solid #C9D0DB;">Grand Total</td>
                                                        <td style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-top: 1px solid #C9D0DB;">100</td>
                                                        <td style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-top: 1px solid #C9D0DB;">234</td>
                                                        <td style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-top: 1px solid #C9D0DB;">$155,191</td>
                                                        <td style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-top: 1px solid #C9D0DB;">$717,621</td>
                                                        <td style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-top: 1px solid #C9D0DB;">$480,689</td>
                                                        <td style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-top: 1px solid #C9D0DB;">$69,744</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <div style="color: #999999; font-size: 12px; font-style: italic; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0 0 20px 0; padding: 10px 0 0 0;">* self-managed and pilot accounts are counted into projection only after they start spending</div>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td width="20"></td>
                                        <td>
                                            <h2 style="color: #3F547F; font-size: 18px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Accounts created yesterday</h2>
                                            <ul style="list-style: square; margin-bottom: 20px">
                                                <li style="margin-bottom: 10px;">
                                                    <a href="#" style="color: #EF8421; font-size: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">New account 94</a>
                                                    <p style="font-size: 12px; color: #999999; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 5px 0 0 0;">Agency: <span style="color: #222222;">Varick Media</span></p>
                                                </li>
                                            </ul>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td width="20"></td>
                                        <td>
                                            <h2 style="color: #3F547F; font-size: 18px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Campaigns created yesterday</h2>
                                            <ul style="list-style: square; margin-bottom: 20px">
                                                <li style="margin-bottom: 10px;">
                                                    <a href="#" style="color: #EF8421; font-size: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM Test</a>
                                                    <p style="font-size: 12px; color: #999999; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 5px 0 0 0;">Agency: <span style="color: #222222;">Varick Media</span><br>Account: <span style="color: #222222;">Walmart STEM</span></p>
                                                </li>
                                                <li style="margin-bottom: 10px;">
                                                    <a href="#" style="color: #EF8421; font-size: 14px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Campaign Emory Aesthetics 2017</a>
                                                    <p style="font-size: 12px; color: #999999; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 5px 0 0 0;">Agency: <span style="color: #222222;">Varick Media</span><br>Account: <span style="color: #222222;">Emory Aesthetics</span></p>
                                                </li>
                                            </ul>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td width="20"></td>
                                        <td>
                                            <h2 style="color: #3F547F; font-size: 18px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Yesterday's credit items</h2>
                                            <table cellspacing="0" cellpadding="0" width="640" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">ID</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Acoount</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Credit Amount</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid From</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid To</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">62</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Sentient</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$10,000</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-02-08</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td width="20"></td>
                                        <td>
                                            <h2 style="color: #3F547F; font-size: 18px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Credit line items updated yesterday</h2>
                                            <table cellspacing="0" cellpadding="0" width="640" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">ID</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Acoount</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Credit Amount</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid From</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid To</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">62</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Sentient</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$10,000</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-02-08</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td width="20"></td>
                                        <td>
                                            <h2 style="color: #3F547F; font-size: 18px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Yesterday's budget items</h2>
                                            <table cellspacing="0" cellpadding="0" width="640" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Budget Amount</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid From</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid To</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">ID</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Campaign</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Account</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Agency</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$1225</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7056</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Xtra-PC</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$22</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-12-09</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-03-07</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7421</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">1908608973</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">OEN Production account</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Outbrain</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$6342</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-06-02</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-06-03</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7687</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM Test</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Varick Media</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$1225</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7056</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Xtra-PC</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$22</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-12-09</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-03-07</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7421</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">1908608973</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">OEN Production account</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Outbrain</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$6342</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-06-02</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-06-03</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7687</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM Test</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Varick Media</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td width="20"></td>
                                        <td>
                                            <h2 style="color: #3F547F; font-size: 18px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Budget line items updated yesterday</h2>
                                            <table cellspacing="0" cellpadding="0" width="640" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Budget Amount</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid From</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Valid To</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">ID</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Campaign</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Account</th>
                                                        <th style="padding: 5px; background-color: #ECEEF2; color: #3f547f; font-weight: bold; border-bottom: 1px solid #C9D0DB; text-align: left;">Agency</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$1225</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7056</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Xtra-PC</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$22</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-12-09</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-03-07</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7421</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">1908608973</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">OEN Production account</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Outbrain</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$6342</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-06-02</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-06-03</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7687</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM Test</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Varick Media</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$1225</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-02-08</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7056</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Xtra-PC</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Siren Group</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$22</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-12-09</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-03-07</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7421</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">1908608973</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">OEN Production account</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Outbrain</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">$6342</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2017-06-02</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">2018-06-03</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;">7687</td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM Test</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Walmart STEM</a></td>
                                                        <td style="padding: 10px 5px; border-bottom: 1px solid #ECEEF2;"><a href="#" style="color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Varick Media</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                    <tr bgcolor="white">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" align="center">
                                            <div style="color: #999999; font-size: 12px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">This email was sent by <a href="http://www.zemanta.com" style="color: #999999">zemanta.com</a></div>
                                        </td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" align="center">
                                            <div style="color: #999999; font-size: 12px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 18px;">
                                                <a href="%tag_unsubscribe_url%" style="color: #999999">Unsubscribe</a> from this type of notifications.<br>
                                                <a href="%unsubscribe_url%" style="color: #999999">Unsubscribe</a> from all Zemanta notifications.
                                            </div>
                                        </td>
                                    </tr>
                                    <tr bgcolor="#ebebeb">
                                        <td colspan="3" height="20"></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
