{% extends "base.html" %}

{% block head_extra %}
<base href="/">
<link type="text/css" rel="stylesheet" href="{{ staticUrl }}/one/zemanta-one.lib.min.css" />

{% if debug %}
<link type="text/css" rel="stylesheet" href="{{ staticUrl }}/one/zemanta-one.css" />
<script type="text/javascript" src="{{ staticUrl }}/one/zemanta-one.lib.js"></script>
<script type="text/javascript" src="{{ staticUrl }}/one/zemanta-one.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
{% else %}
<link type="text/css" rel="stylesheet" href="{{ staticUrl }}/one/zemanta-one.min.css" />
<script type="text/javascript" src="{{ staticUrl }}/one/zemanta-one.lib.min.js"></script>
<script type="text/javascript" src="{{ staticUrl }}/one/zemanta-one.min.js"></script>
{% endif %}

{% endblock %}

{% block content %}
<div ng-app="one" ng-strict-di>
    <div ui-view></div>
</div>
{% endblock %}
