{% extends "base.html" %}

{% block head_extra %}
<base href="/">
<link type="text/css" rel="stylesheet" href="{{ staticUrl }}/one/zemanta-one.lib.min.css" />
<link type="text/css" rel="stylesheet" href="{{ staticUrl }}/one/zemanta-one.min.css" />
<script type="text/javascript" src="{{ staticUrl }}/one/zemanta-one.lib.min.js"></script>
<script type="text/javascript" src="{{ staticUrl }}/one/zemanta-one.min.js"></script>
{% endblock %}

{% block content %}
<div ng-app="one">
    <div ui-view></div>
</div>
{% endblock %} 
