<div class="zem-refund-actions-cell">
    <button
        *ngIf="canManageRefunds"
        class="zem-button-legacy zem-button-legacy--small zem-button-legacy--with-icon zem-button-legacy--icon-only zem-button-legacy--magnifier-icon zem-refund-actions-cell__item"
        (click)="openCreditRefundListModal()"
    ></button>
    <button
        *ngIf="canManageRefunds && !isCanceled && !isPast"
        [disabled]="isReadOnly"
        class="zem-button-legacy zem-button-legacy--small zem-button-legacy--with-icon zem-button-legacy--icon-only zem-button-legacy--add-icon zem-refund-actions-cell__item"
        (click)="openCreditRefundCreateModal()"
    ></button>
</div>
