<div class="message" ng-show="!campaignGoals.length">
    Currently there are no defined campaign goals.
</div>
<div
    class="zem-legacy-campaign-goals__goal"
    ng-repeat="goal in campaignGoals"
    ng-class="{'zem-legacy-campaign-goals__goal--primary': goal.primary}"
    ng-click="setPrimary(goal)"
>
    <div class="zem-legacy-campaign-goals__goal-number">{{ $index + 1 }}</div>
    <div class="zem-legacy-campaign-goals__goal-description">
        Meet or beat the goal of <strong>{{ formatGoalValue(goal) }}</strong
        >.
        <div
            ng-if="goal.type === 4"
            class="zem-legacy-campaign-goals__goal-conversion"
        >
            Connected with conversion {{ goal.conversionGoal.name }}.
            <a
                ng-if="goal.conversionGoal.pixelUrl"
                ng-click="copyConversionPixelTag(goal.conversionGoal, $event)"
                >Copy tag</a
            >
        </div>
    </div>
    <button
        class="button button--with-icon button--only-icon edit-icon zem-legacy-campaign-goals__edit-button"
        ng-click="editGoal(goal)"
    ></button>
    <button
        class="button button--with-icon button--only-icon remove-icon zem-legacy-campaign-goals__delete-button"
        ng-click="deleteGoal(goal)"
    ></button>
</div>
<div
    class="zem-legacy-campaign-goals__primary-goal"
    ng-show="(campaignGoals.length || 0) > 1"
>
    Click on a goal to set it as primary
    <zem-help-popover
        content="Primary goal will be used for auto-optimizing your campaign."
        placement="top"
    ></zem-help-popover>
</div>
<div
    ng-if="getKPIOptimizationLabel()"
    class="message message--info message--with-icon zem-legacy-campaign-goals__optimization"
>
    {{ getKPIOptimizationLabel() }}
</div>
<button
    type="button"
    class="button button--with-icon add-icon"
    ng-click="addGoal()"
>
    Add new goal
</button>
