<div class="modal__header"><div class="modal__title">Copy Tag</div></div>
<div class="modal__body">
    <div class="form m-b">
        <textarea
            rows="3"
            id="copy-tag-input"
            class="textarea--dashed"
            readonly
            ng-model="conversionPixelTag"
            zem-focus-select
            onClick="this.select();"
        ></textarea>
    </div>
    <h3>Where do I place my pixel on my site?</h3>
    <p>
        Pixels need to be properly placed in order to measure goals effectively.
        We recommend placing your pixel on the confirmation page which is shown
        to a person after the desired action is performed.
    </p>
</div>
<div class="modal__footer buttons-panel">
    <button type="button" class="button button--outline" ng-click="$dismiss()">
        Close
    </button>
</div>
