<div class="modal__header">
    <div class="modal__title" ng-if="!!newCampaignGoal">
        Add a New Campaign Goal
    </div>
    <div class="modal__title" ng-if="!newCampaignGoal">
        Edit a Campaign Goal
    </div>
</div>
<div class="modal__body">
    <div class="form" id="zem-campaign-goal-edit-form">
        <zem-campaign-goal-edit-form
            campaign-goal="campaignGoal"
            available-goals="campaignGoalKPIs"
            goals-defaults="goalsDefaults"
            pixels="pixels"
            new-pixel="newPixel"
            errors="errors"
            is-edit="!newCampaignGoal"
        >
        </zem-campaign-goal-edit-form>
    </div>
</div>
<div class="modal__footer buttons-panel">
    <span ng-if="!showAddConversionGoalForm()">
        <button
            type="submit"
            class="button button--highlight button--with-icon add-icon"
            ng-if="newCampaignGoal"
            ng-click="save()"
            ng-disabled="!!addConversionGoalInProgress || !campaignGoal.type"
        >
            Add goal
        </button>
        <button
            type="submit"
            class="button button--highlight button--with-icon check-icon"
            ng-if="!newCampaignGoal"
            ng-click="save()"
            ng-disabled="!!addConversionGoalInProgress || !campaignGoal.type"
        >
            Update goal
        </button>
    </span>
    <span ng-if="showAddConversionGoalForm()">
        <button
            type="submit"
            class="button button--highlight button--with-icon add-icon"
            ng-if="newCampaignGoal"
            ng-click="save()"
            ng-class="{'disabled': !!addConversionGoalInProgress}"
            ng-disabled="!campaignGoal.conversionGoal.goalId || savingInProgress"
        >
            Add goal
        </button>
        <button
            type="submit"
            class="button button--highlight button--with-icon check-icon"
            ng-if="!newCampaignGoal"
            ng-click="save()"
            ng-class="{'disabled': !!addConversionGoalInProgress}"
            ng-disabled="!campaignGoal.conversionGoal.goalId || savingInProgress"
        >
            Update goal
        </button>
    </span>
    <button type="button" class="button button--outline" ng-click="cancel()">
        Cancel
    </button>
    <div class="loader" ng-show="addConversionGoalInProgress"></div>
    <span class="message message--error" ng-if="error"
        >An error has occured. Please contact support at
        <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error
        persists.</span
    >
</div>
