.zem-bid-range-info {
    display: block;
    width: 300px;
    align-items: left;
    text-align: left;
}

.zem-bid-range-info__info-message {
    margin-bottom: 10px;
}

.zem-bid-range-info__bid-message {
    margin-bottom: 10px;
}

.zem-bid-range-info__bid-text {
    font-weight: bold;
}

.zem-bid-range-info__bid-autopilot-icon {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 2px;
    background-image: url('images/autopilot.svg');
    background-size: auto;
    background-position: 0;
    margin-left: 5px;
}

.zem-bid-range-info__bid-value {
    margin-left: 5px;
}

.zem-bid-range-info__final-range-message {
    margin-bottom: 10px;
}

.zem-bid-range-info__final-range-text {
    font-weight: bold;
}

.zem-bid-range-info__final-range-value {
    margin-left: 5px;
}
