<div class="zem-settings-form-group">
    <label
        class="zem-settings-form-group__label zem-settings-form-group__label--match-input-height"
    >
        {{ label }}
        <zem-help-popover
            class="zem-help-popover"
            *ngIf="helpMessage"
            content="{{ helpMessage }}"
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-settings-form-group__content">
        <input
            class="zem-settings-form-group__content-item zem-input-text"
            [ngClass]="{'zem-input-text--error': errors.length > 0}"
            type="text"
            placeholder="{{ placeholder }}"
            maxlength="{{ maxLength }}"
            [(ngModel)]="model"
            (blur)="onBlur($event)"
            [disabled]="isDisabled"
            [zemFocus]="isFocused"
        />
        <div
            class="zem-settings-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
    </div>
</div>
