@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-campaign-budget-optimization {
    display: block;
}

.zem-campaign-budget-optimization__item {
    display: block;
    margin-bottom: @zem-settings__items-spacing--default;
}

.zem-campaign-budget-optimization__item:last-child {
    margin-bottom: 0px;
}
