@import 'variables';

.zem-select {
    position: relative;

    .input-text {
        border: 1px solid @color--lighter-neutral;
        height: @input__height--default+10;
        line-height: 20px;
        padding: 10px 10px;
        box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
        color: @text-color--default;
        border-radius: 0;

        &:focus {
            border: 1px solid darken(@border-color--default, 20%);
            outline: none;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.zem-select-dropdown {
    display: none;
    position: absolute;
    z-index: 1000;
    background: white;
    width: 100%;
    max-height: 300px;
    border-bottom-right-radius: @border-radius--default;
    border-bottom-left-radius: @border-radius--default;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    top: 29px;
    left: 0;
    outline: none;
}

.zem-select-dropdown--active {
    display: block;
}

.zem-select-dropdown__list {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: 300px;
    outline: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.zem-select-dropdown-item {
    position: relative;
    padding: 0px 10px;
    height: 30px;
    cursor: pointer;

    > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .collapse-indicator {
        margin-right: 10px;
    }
}

.zem-select-dropdown-item--highlighted {
    background: tint(@color--secondary, 96%);
}

.zem-select-dropdown-item--selected {
    color: @color--secondary;
    font-weight: 500;
}

.zem-select-dropdown-item--search-result {
    padding-left: 10px;
}

.zem-select-dropdown-item__name {
    font-size: 13px;
    color: @text-color--default;
    line-height: 30px;
    padding-left: 0px;
}

.zem-select-dropdown-item__name--h1 {
    font-weight: 500;
}

.zem-select-dropdown-item__name--h2 {
    font-weight: 500;
}
