<div class="zem-campaign-budgets-overview__container">
    <div class="zem-campaign-budgets-overview__section" *ngIf="showLicenseFee">
        <div class="zem-campaign-budgets-overview__section-name">
            {{ showServiceFee ? 'Base Media Spend' : 'Media Spend' }}
        </div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{
                showServiceFee
                    ? formattedOverview.baseMediaSpend
                    : formattedOverview.mediaSpend
            }}
        </div>
    </div>
    <div class="zem-campaign-budgets-overview__section" *ngIf="showLicenseFee">
        <div class="zem-campaign-budgets-overview__section-name">
            {{ showServiceFee ? 'Base Data Spend' : 'Data Spend' }}
        </div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{
                showServiceFee
                    ? formattedOverview.baseDataSpend
                    : formattedOverview.dataSpend
            }}
        </div>
    </div>
    <div class="zem-campaign-budgets-overview__section" *ngIf="showServiceFee">
        <div class="zem-campaign-budgets-overview__section-name">
            Service Fee
        </div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{ formattedOverview.serviceFee }}
        </div>
    </div>
    <div class="zem-campaign-budgets-overview__section" *ngIf="showLicenseFee">
        <div class="zem-campaign-budgets-overview__section-name">
            License Fee
        </div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{ formattedOverview.licenseFee }}
        </div>
    </div>
    <div class="zem-campaign-budgets-overview__section" *ngIf="showMargin">
        <div class="zem-campaign-budgets-overview__section-name">Margin</div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{ formattedOverview.margin }}
        </div>
    </div>
    <div class="zem-campaign-budgets-overview__section">
        <div class="zem-campaign-budgets-overview__section-name">
            Total Spend
        </div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{ formattedOverview.campaignSpend }}
        </div>
    </div>
    <div
        class="zem-campaign-budgets-overview__section zem-campaign-budgets-overview__section--highlighted"
    >
        <div class="zem-campaign-budgets-overview__section-name">
            Available Budget
        </div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{ formattedOverview.availableBudgetsSum }}
        </div>
    </div>
    <div
        class="zem-campaign-budgets-overview__section zem-campaign-budgets-overview__section--highlighted"
    >
        <div class="zem-campaign-budgets-overview__section-name">
            Unallocated Credit
        </div>
        <div class="zem-campaign-budgets-overview__section-value">
            {{ formattedOverview.unallocatedCredit }}
        </div>
    </div>
</div>
