<div class="button-bar" ng-if="$ctrl.gridApi">
    <zem-create-entity-action
        ng-if="$ctrl.isCreateEntityActionVisible()"
        parent-entity="$ctrl.entity"
        is-disabled="$ctrl.isCreateEntityActionDisabled()"
        class="button-bar-item"
    ></zem-create-entity-action>

    <zem-create-ad-group-source-action
        ng-if="$ctrl.isCreateAdGroupSourceActionVisible()"
        parent-entity="$ctrl.entity"
        is-disabled="$ctrl.hasReadOnlyAccess()"
        class="button-bar-item"
    ></zem-create-ad-group-source-action>

    <zem-grid-bulk-actions
        ng-if="$ctrl.isGridBulkActionsVisible()"
        api="$ctrl.gridApi"
        class="button-bar-item"
    ></zem-grid-bulk-actions>

    <zem-bulk-blacklist-actions
        ng-if="$ctrl.areGridPublisherAndPlacementActionsVisible()"
        class="zem-bulk-blacklist-actions button-bar-item zem-bulk-blacklist-actions"
        [selected-rows]="$ctrl.publisherInfoRows"
        [level]="$ctrl.level"
        [account-id]="$ctrl.accountId"
        [campaign-id]="$ctrl.campaignId"
        [ad-group-id]="$ctrl.adGroupId"
        [is-disabled]="$ctrl.hasReadOnlyAccess()"
        (action-success)="
            $ctrl.gridApi.clearSelection(); $ctrl.gridApi.reload()
        "
    ></zem-bulk-blacklist-actions>

    <zem-rule-actions
        ng-if="$ctrl.areRuleActionsVisible()"
        class="zem-rule-actions button-bar-item"
        [agency-id]="$ctrl.agencyId"
        [account-id]="$ctrl.accountId"
        [entity-id]="$ctrl.entity.id"
        [entity-name]="$ctrl.entity.name"
        [entity-type]="$ctrl.entity.type"
        [is-create-rule-disabled]="$ctrl.hasReadOnlyAccess()"
    ></zem-rule-actions>

    <zem-add-to-publishers-action
        ng-if="$ctrl.isAddToPublishersAndPlacementsButtonVisible()"
        class="zem-add-to-publishers-action button-bar-item"
        [selected-rows]="$ctrl.selectedRows"
        [account-id]="$ctrl.accountId"
        [is-disabled]="$ctrl.hasReadOnlyAccess()"
        (action-success)="$ctrl.gridApi.clearSelection()"
    ></zem-add-to-publishers-action>

    <zem-bid-modifier-actions
        ng-if="$ctrl.areBidModifierActionsVisible()"
        class="zem-bid-modifier-actions button-bar-item"
        [ad-group-id]="$ctrl.entity.id"
        [breakdown]="$ctrl.breakdown"
        [is-import-disabled]="$ctrl.hasReadOnlyAccess()"
        (import-success)="$ctrl.gridApi.reload()"
    ></zem-bid-modifier-actions>

    <zem-grid-export
        ng-if="$ctrl.isGridExportVisible()"
        api="$ctrl.gridApi"
        class="pull-right report-dropdown"
    ></zem-grid-export>
    <zem-report-dropdown
        ng-if="$ctrl.isReportDropdownVisible()"
        api="$ctrl.gridApi"
        class="pull-right report-dropdown"
    >
    </zem-report-dropdown>

    <!-- All levels & breakdowns -->
    <zem-grid-column-selector
        api="$ctrl.gridApi"
        class="pull-right"
    ></zem-grid-column-selector>
    <zem-grid-breakdown-selector
        api="$ctrl.gridApi"
        class="pull-right"
        ng-if="$ctrl.isBreakdownSelectorVisible()"
    ></zem-grid-breakdown-selector>
</div>
