<div class="zem-form-group">
    <label class="zem-form-group__label">
        {{ label }}
        <zem-help-popover
            *ngIf="helpMessage"
            content="{{ helpMessage }}"
            placement="top"
        ></zem-help-popover>
    </label>
    <div class="zem-form-group__content">
        <zem-integer-input
            class="zem-form-group__content-item zem-integer-input"
            [value]="model"
            [placeholder]="placeholder"
            [isDisabled]="isDisabled"
            [isFocused]="isFocused"
            [hasError]="errors && errors.length > 0"
            (inputBlur)="onInputBlur($event)"
        ></zem-integer-input>
        <div
            class="zem-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
        <div
            class="zem-form-group__content-item zem-message zem-message--info zem-message--with-icon zem-info-bg-icon"
            *ngIf="infoMessage"
        >
            {{ infoMessage }}
        </div>
    </div>
</div>
