<input
    class="zem-input-text zem-text-input__text"
    [class.zem-input-text--error]="hasError"
    [class.zem-text-input__text--with-icon]="statusIcon"
    type="text"
    placeholder="{{ placeholder }}"
    maxlength="{{ maxLength }}"
    [(ngModel)]="model"
    (ngModelChange)="onModelChange($event)"
    (blur)="onBlur()"
    [disabled]="isDisabled"
    [zemFocus]="isFocused"
/>
<div
    *ngIf="statusIcon"
    class="zem-text-input__icon"
    [class.zem-text-input__icon--valid]="statusIcon === 'valid'"
    [class.zem-text-input__icon--validating]="statusIcon === 'validating'"
></div>
