<input
    class="zem-input-text zem-text-input__text"
    [class.zem-input-text--error]="hasError"
    [class.zem-text-input__text--with-icon]="statusIcon"
    type="text"
    placeholder="{{ placeholder }}"
    maxlength="{{ maxLength }}"
    [(ngModel)]="model"
    (ngModelChange)="onModelChange($event)"
    (blur)="onBlur()"
    [disabled]="isDisabled"
    [zemFocus]="isFocused"
/>
<div
    *ngIf="statusIcon === 'valid'"
    class="zem-text-input__icon zem-text-input__icon--valid"
></div>
<ng-container *ngIf="statusIcon === 'validating'">
    <ng-container
        *ngTemplateOutlet="
            loaderTemplate ? loaderTemplate : defaultLoaderTemplate
        "
    ></ng-container>
</ng-container>

<ng-template #defaultLoaderTemplate>
    <zem-loader
        class="zem-loader zem-loader--small zem-text-input__icon zem-text-input__icon--validating"
    ></zem-loader>
</ng-template>
