<div
    class="zem-grid-header-cell-data zem-grid-cell {{
        ctrl.column.type
    }}-field {{ ctrl.column.field }}"
    is-internal="{{ ctrl.column.data.internal }}"
>
    <div class="zem-grid-header-cell__title">
        <div>
            <a
                ng-if="ctrl.column.data.order"
                href
                ng-class="ctrl.column.data.nameCssClass"
                ng-click="ctrl.setOrder(column)"
                title="{{ ctrl.column.data.name }}"
            >
                {{ ctrl.column.data.name | limitTo: ctrl.maxNameLength
                }}{{
                    ctrl.column.data.name.length > ctrl.maxNameLength
                        ? '...'
                        : ''
                }}
                <span ng-if="ctrl.column.data.breakdownByStructureText">
                    {{ ctrl.column.data.breakdownByStructureText }}
                </span>
            </a>
            <span
                ng-if="!ctrl.column.data.order"
                ng-class="ctrl.column.data.nameCssClass"
                title="{{ ctrl.column.data.name }}"
            >
                {{ ctrl.column.data.name | limitTo: ctrl.maxNameLength
                }}{{
                    ctrl.column.data.name.length > ctrl.maxNameLength
                        ? '...'
                        : ''
                }}
                <span ng-if="ctrl.column.data.breakdownByStructureText">
                    {{ ctrl.column.data.breakdownByStructureText }}
                </span>
            </span>
        </div>
    </div>

    <span
        class="zem-grid-header-cell__order"
        ng-class="ctrl.model.orderClass"
    ></span>

    <zem-help-popover
        ng-if="ctrl.column.data.help"
        content="{{ ctrl.column.data.help }}"
        class="zem-grid-header-cell__help"
        placement="{{ $last ? 'left' : 'top' }}"
    >
    </zem-help-popover>
</div>
