@import 'variables';

.zem-inventory-planning-filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: @default-spacing;
    background-color: darken(@light-gray,4%);
}

.zem-inventory-planning-filter__add-filter-button {
    white-space: nowrap;
}

.zem-inventory-planning-filter__title {
    margin-right: @default-spacing;
    padding-right: @default-spacing;
    border-right: 1px solid darken(@light-gray, 10%);
    color: @gray;
    font-weight: 300;
}

.zem-inventory-planning-filter__dropdown-content {
    padding: 0;
}

.zem-inventory-planning-filter__categorized-select {
    width: 400px;
    height: 450px;
}
