@import 'variables';

.zem-inventory-planning-filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: @default-spacing*1.5;
    padding: @default-spacing;
    background-color: darken(@light-gray,4%);
}

.zem-inventory-planning-filter__title {
    margin-right: @default-spacing;
    padding-right: @default-spacing;
    border-right: 1px solid darken(@light-gray, 10%);
    color: @gray;
    font-weight: 300;
}
