<div *ngIf="isLoading" class="loader zem-inventory-planning-summary__loader"></div>

<div class="custom-panel zem-inventory-planning-summary__section zem-inventory-planning-summary__info-container"
     [ngClass]="{'zem-inventory-planning-summary__section--loading': isLoading}">
    <div class="icon hammer-icon"></div>
    <div class="zem-inventory-planning-summary__value-name">Number of auctions:</div>
    <div *ngIf="!isLoading" class="zem-inventory-planning-summary__value">{{auctionCount | bigNumber}}</div>
</div>
<div class="zem-inventory-planning-summary__spacing"></div>
<div class="custom-panel zem-inventory-planning-summary__section zem-inventory-planning-summary__info-container"
     [ngClass]="{'zem-inventory-planning-summary__section--loading': isLoading}">
    <div class="icon money-icon"></div>
    <div class="zem-inventory-planning-summary__value-name">Average CPM:</div>
    <div *ngIf="avgCpm" class="zem-inventory-planning-summary__value">
        ${{avgCpm | number}}
    </div>
    <div *ngIf="!avgCpm && !isLoading" class="zem-inventory-planning-summary__value-missing">
        Not enough data
    </div>
</div>
<div class="zem-inventory-planning-summary__spacing"></div>
<div class="custom-panel zem-inventory-planning-summary__section zem-inventory-planning-summary__chart-container"
     [ngClass]="{'zem-inventory-planning-summary__section--loading': isLoading}">
    <chart [options]="chartOptions"></chart>
</div>
