@import 'variables';
@import '../../../styles/mixins.less';

.zem-inventory-planning-summary {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.zem-inventory-planning-summary__loader {
    position: absolute;
    .position-properties(0);
    z-index: 2;
    width: 100%;
    height: auto;
}

.zem-inventory-planning-summary__section {
    position: relative;
    display: table-cell;
    padding: @default-spacing;
}

.zem-inventory-planning-summary__section--loading:before {
    content: '';
    position: absolute;
    .position-properties(0);
    z-index: 1;
    background-color: fade(white, 75%);
}

.zem-inventory-planning-summary__info-container {
    width: 300px;
    text-align: center;
    vertical-align: middle;
    background-color: @secondary-color;
    color: white;

    .icon,
    .icon::before {
        width: 100px;
        height: 100px;
    }

    .icon {
        margin-bottom: 20px;
        opacity: 0.2;
    }
}

@media only screen and (max-width: 1500px) {
    .zem-inventory-planning-summary__info-container {
        width: 250px;
    }
}

@media only screen and (max-width: 1280px) {
    .zem-inventory-planning-summary__info-container {
        width: 200px;
    }
}

.zem-inventory-planning-summary__value-name {
    font-size: 18px;
}

.zem-inventory-planning-summary__value {
    font-size: 36px;
    font-weight: 500;
    color: white;
    line-height: 50px;
}

.zem-inventory-planning-summary__value-missing {
    font-size: 16px;
    line-height: 50px;
}

.zem-inventory-planning-summary__hr {
    margin: 40px 0;
}

.zem-inventory-planning-summary__chart-container {
    width: 100%;
}

.zem-inventory-planning-summary__spacing {
    display: table-cell;
    width: @default-spacing*1.5;
}
