<h2 class="zem-inventory-planning-breakdown__title">{{breakdownName}}</h2>
<div class="zem-inventory-planning-breakdown__container"
     [ngClass]="{'zem-inventory-planning-breakdown__container--loading': isLoading}">
    <div *ngIf="isLoading" class="loader zem-inventory-planning-breakdown__loader"></div>

    <div class="zem-inventory-planning-breakdown__search-container">
        <input type="text"
               placeholder="Search for {{breakdownName}} ..."
               class="input-text"
               #searchQueryInput
               (keyup)="search$.next(searchQueryInput.value)">
    </div>

    <div class="zem-inventory-planning-breakdown__options-container custom-scroller">
        <div class="zem-inventory-planning-breakdown__option-item"
             *ngFor="let option of searchResults; trackBy: trackByOption">
            <span class="zem-inventory-planning-breakdown__name">
                {{option.name || option.value}}
            </span>
            <span class="zem-inventory-planning-breakdown__auction-count">
                <span class="zem-inventory-planning-breakdown__auction-count-number">{{option.auctionCount | bigNumber}}</span>
            </span>
        </div>
    </div>
</div>
