<div class="form" ng-if="$ctrl.hasPermission('zemauth.can_target_custom_audiences')"
     ng-class="{'form--error': !!$ctrl.errors.audienceTargeting || !!$ctrl.errors.exclusionAudienceTargeting || !!$ctrl.errors.retargetingAdGroups || !!$ctrl.errors.exclusionRetargetingAdGroups}">

    <div class="form__title" is-internal="zemauth.can_target_custom_audiences">Audience targeting</div>
    <div class="form__text m-b">Target people you have seen previously. Audience targeting can be based on pixels you placed or on clicks to other ad groups.</div>
    <div class="message message--warning message--with-icon m-t"
         ng-if="$ctrl.entity.warnings.retargeting">
        {{ $ctrl.getTargetingWarningMessage() }}
    </div>

    <div ng-if="!$ctrl.entity.warnings.retargeting">
        <zem-inclusion-targeting-list
            texts="$ctrl.texts"
            targetings="$ctrl.targetings"
            add-included="$ctrl.addIncluded(targeting)"
            add-excluded="$ctrl.addExcluded(targeting)"
            remove-targeting="$ctrl.removeTargeting(targeting)"
            display-sections="true"
        ></zem-inclusion-targeting-list>
    </div>

    <div class="message message--error" ng-repeat="error in $ctrl.errors.retargetingAdGroups">{{ error }}</div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.exclusionRetargetingAdGroups">{{ error }}</div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.audienceTargeting">{{ error }}</div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.exclusionAudienceTargeting">{{ error }}</div>
</div>
