<div>
    <div class="modal-body contentad-picker" ng-class="{editing: !!ctrl.editFormApi.selectedId}">
        <div class="clearfix"></div>
        <div class="candidate-table custom-scroller">
            <div class="batch-name form-group" ng-class="{'has-error': ctrl.saveErrors.batchName}" ng-if="!ctrl.isEdit">
                <span>Batch name:</span>
                <span class="title" ng-show="!ctrl.batchNameEdit">{{ ctrl.formData.batchName }}</span>
                <input type="text" class="form-control" ng-show="ctrl.batchNameEdit" ng-model="ctrl.formData.batchName" id="batch-name-input" ng-focus="ctrl.clearBatchNameErrors()" />
                <a href class="button button--small button--with-icon edit-icon" ng-click="ctrl.toggleBatchNameEdit($event)" ng-if="!ctrl.batchNameEdit">Edit batch name</a>
                <a href class="button button--small button--with-icon check-icon" ng-click="ctrl.toggleBatchNameEdit($event)" ng-if="ctrl.batchNameEdit">Save</a>
            </div>
            <div class="batch-name form-group" ng-if="ctrl.isEdit">
                <span class="title">You're editing:</span>
            </div>
            <table class="table">
                <tr ng-repeat="candidate in ctrl.candidates" ng-class="{selected: candidate.id === ctrl.editFormApi.selectedId}" ng-click="ctrl.editFormApi.open(candidate)">
                    <td class="status">
                        <ng-switch on="ctrl.getStatus(candidate)">
                            <img ng-switch-when="loading" class="small-icon" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
                            <img ng-switch-when="ok" class="small-icon" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg"/>
                            <img ng-switch-when="errors" class="small-icon" ng-src="{{ ctrl.config.static_url }}/one/img/warning.svg"/>
                        </ng-switch>
                    </td>
                    <td class="image">
                        <img ng-if="candidate.hostedImageUrl" ng-src="{{candidate.hostedImageUrl}}" ng-if="candidate.imageUrl" />
                    </td>
                    <td class="title">
                        {{ candidate.title }}
                        <span ng-if="!candidate.title">Content ad title</span>
                    </td>
                    <td class="link">
                        {{ candidate.url }}
                    </td>
                    <td class="errors">
                        <div ng-if="ctrl.getContentErrorsMsg(candidate)">
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/error-content.svg"/>
                            <span class="error-text">{{ ctrl.getContentErrorsMsg(candidate) }}</span>
                        </div>
                        <div ng-if="ctrl.getImageErrorsMsg(candidate)">
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/error-image.svg"/>
                            <span class="error-text">{{ ctrl.getImageErrorsMsg(candidate) }}</span>
                        </div>
                    </td>
                    <td class="action">
                        <img class="loader-icon small-icon" ng-if="candidate.removeRequestInProgress" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
                        <a href ng-click="ctrl.editFormApi.open(candidate)" class="button button--with-icon edit-icon" ng-disabled="candidate.removeRequestInProgress">Edit</a>
                        <a href ng-click="ctrl.removeCandidate(candidate, $event)" class="button button--with-icon remove-icon" ng-disabled="candidate.removeRequestInProgress" ng-if="!ctrl.isEdit">Remove</a>
                        <div class="error" ng-if="candidate.removeRequestFailed">
                            Something went wrong. Please try again.
                        </div>
                    </td>
                </tr>
            </table>

            <div class="buttons-panel">
                <button type="button" class="button button--highlight button--with-icon add-icon" ng-click="ctrl.addCandidate()" ng-disabled="ctrl.addCandidateRequestInProgress" ng-if="!ctrl.isEdit">
                    Add new
                </button>

                <button type="button" class="button button--with-icon download-icon" ng-click="ctrl.download()">
                    Download Ads Snapshot
                </button>

                <span class="error" ng-if="ctrl.addCandidateRequestFailed">Something went wrong. Please try again.</span>
                <img class="loader-icon small-icon" ng-if="ctrl.addCandidateRequestInProgress" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
            </div>
        </div>

        <zem-upload-edit-form endpoint="ctrl.endpoint" api="ctrl.editFormApi" update-callback="ctrl.updateCandidateCallback" refresh-callback="ctrl.refreshCandidatesCallback" batch-id="ctrl.batchId" is-edit="ctrl.isEdit"></zem-upload-edit-form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer buttons-panel">
        <button type="button" class="button button--outline" ng-click="ctrl.cancel()">Cancel</button>
        <button type="button" class="button button--highlight button--with-icon check-icon pull-right" ng-click="ctrl.save()" ng-disabled="ctrl.isSaveDisabled()">
            <span class="text" ng-if="!ctrl.isEdit">Upload</span>
            <span class="text" ng-if="ctrl.isEdit">Save</span>
        </button>
        <span class="error pull-right m-r" ng-if="ctrl.getSaveErrorMsg()">{{ ctrl.getSaveErrorMsg() }}</span>
        <img class="loader-icon small-icon pull-right" ng-if="ctrl.isLoading()" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
    </div>
</div>
