<div>
    <div class="modal-body contentad-picker" ng-class="{editing: !!ctrl.editFormApi.selectedId}">
        <div class="clearfix"></div>
        <div class="candidate-table custom_scroller">
            <div class="batch-name form-group" ng-class="{'has-error': ctrl.saveErrors.batchName}">
                <span>Batch name:</span>
                <span class="title" ng-show="!ctrl.batchNameEdit">{{ ctrl.formData.batchName }}</span>
                <input type="text" class="form-control" ng-show="ctrl.batchNameEdit" ng-model="ctrl.formData.batchName" id="batch-name-input" ng-focus="ctrl.clearBatchNameErrors()" />
                <a href class="btn btn-secondary only-icon" ng-click="ctrl.toggleBatchNameEdit($event)">
                    <img ng-src="{{ ctrl.config.static_url }}/one/img/button-edit.svg" ng-if="!ctrl.batchNameEdit"/>
                    <img ng-src="{{ ctrl.config.static_url }}/one/img/button-check_mark.svg" ng-if="ctrl.batchNameEdit"/>
                </a>
            </div>
            <table class="table">
                <tr ng-repeat="candidate in ctrl.candidates" ng-class="{selected: candidate.id === ctrl.editFormApi.selectedId}" ng-click="ctrl.editFormApi.open(candidate)">
                    <td class="status">
                        <ng-switch on="ctrl.getStatus(candidate)">
                            <img ng-switch-when="loading" class="small-icon" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
                            <img ng-switch-when="ok" class="small-icon" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg"/>
                            <img ng-switch-when="errors" class="small-icon" ng-src="{{ ctrl.config.static_url }}/one/img/warning.svg"/>
                        </ng-switch>
                    </td>
                    <td class="image">
                        <img ng-if="candidate.hostedImageUrl" ng-src="{{candidate.hostedImageUrl}}" ng-if="candidate.imageUrl" />
                    </td>
                    <td class="title">
                        {{ candidate.title }}
                        <span ng-if="!candidate.title">Content ad title</span>
                    </td>
                    <td class="link">
                        {{ candidate.url }}
                    </td>
                    <td class="errors">
                        <div ng-if="ctrl.getContentErrorsMsg(candidate)">
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/error-content.svg"/>
                            <span class="error-text">{{ ctrl.getContentErrorsMsg(candidate) }}</span>
                        </div>
                        <div ng-if="ctrl.getImageErrorsMsg(candidate)">
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/error-image.svg"/>
                            <span class="error-text">{{ ctrl.getImageErrorsMsg(candidate) }}</span>
                        </div>
                    </td>
                    <td class="action">
                        <img class="loader-icon small-icon" ng-if="candidate.removeRequestInProgress" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
                        <a href ng-click="ctrl.editFormApi.open(candidate)" class="btn btn-secondary" ng-disabled="candidate.removeRequestInProgress">
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/button-edit.svg"/>
                            <span class="action-text">Edit</span>
                        </a>
                        <a href ng-click="ctrl.removeCandidate(candidate, $event)" class="btn btn-secondary" ng-disabled="candidate.removeRequestInProgress">
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/button-remove.svg"/>
                            <span class="action-text">Remove</span>
                        </a>
                        <div class="error" ng-if="candidate.removeRequestFailed">
                            Something went wrong. Please try again.
                        </div>
                    </td>
                </tr>
            </table>

            <div class="content-actions">
                <button type="button" class="btn btn-add btn-action" ng-click="ctrl.addCandidate()" ng-if="ctrl.hasPermission('zemauth.can_use_single_ad_upload')" ng-disabled="ctrl.addCandidateRequestInProgress">
                    <zem-internal-feature ng-if="ctrl.isPermissionInternal('zemauth.can_use_single_ad_upload')"></zem-internal-feature>
                    <span class="action-text">+ Add new</span>
                </button>

                <button type="button" class="btn btn-secondary btn-action" ng-click="ctrl.download()">
                    <img ng-src="{{ ctrl.config.static_url }}/one/img/button-download.svg"/>
                    <span class="action-text">Download Ads Snapshot</span>
                </button>

                <span class="error" ng-if="ctrl.addCandidateRequestFailed">Something went wrong. Please try again.</span>
                <img class="loader-icon small-icon" ng-if="ctrl.addCandidateRequestInProgress" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
            </div>
        </div>

        <zem-upload-edit-form endpoint="ctrl.endpoint" api="ctrl.editFormApi" update-callback="ctrl.updateCandidateCallback" refresh-callback="ctrl.refreshCandidatesCallback" batch-id="ctrl.batchId" has-permission="ctrl.hasPermission" is-permission-internal="ctrl.isPermissionInternal"></zem-upload-edit-form>
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-gray" ng-click="ctrl.cancel()">Cancel</button>
        <button type="button" class="btn btn-add pull-right" ng-click="ctrl.save()" ng-disabled="ctrl.isSaveDisabled()">Upload</button>
        <span class="error pull-right" ng-if="ctrl.getSaveErrorMsg()">{{ ctrl.getSaveErrorMsg() }}</span>
        <img class="loader-icon small-icon pull-right" ng-if="ctrl.isLoading()" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
    </div>
</div>
