<div class="zem-bid-range-info__info-message">
    {{ store.state.infoMessage }}
</div>
<div class="zem-bid-range-info__bid-message">
    <span class="zem-bid-range-info__bid-text">{{
        store.state.bidMessage
    }}</span>
    <span
        *ngIf="store.state.autopilot"
        class="zem-bid-range-info__bid-autopilot-icon"
    ></span>
    <span class="zem-bid-range-info__bid-value">{{
        store.state.formattedBidValueRange
    }}</span>
</div>
<ng-container *ngIf="store.state.bidModifierTypeSummaries.length == 0">
    <span
        class="message message--info message--with-icon zem-bid-range-info__info-message"
        >There are no bid modifiers on other dimensions.</span
    >
</ng-container>
<ng-container *ngIf="store.state.bidModifierTypeSummaries.length > 0">
    <zem-bid-modifier-types-grid
        class="zem-bid-modifiers-overview__grid"
        [showCountColumn]="false"
        [selectableRows]="true"
        [selectionTooltip]="store.state.selectionTooltipMessage"
        [autoSelectAllRows]="true"
        [typeSummaryGridRows]="store.state.bidModifierTypeGridRows"
        (selectedTypeSummaryGridRows)="store.updateSelectedGridRows($event)"
    ></zem-bid-modifier-types-grid>
</ng-container>
<div class="zem-bid-range-info__final-range-message">
    <span class="zem-bid-range-info__final-range-text">{{
        store.state.finalBidRangeMessage
    }}</span>
    <span class="zem-bid-range-info__final-range-value"
        >{{ store.state.finalBidRangeValue }}
    </span>
</div>
