<div class="zem-dayparting-setting__timezone" *ngIf="timezone">
    Timezone: <strong>{{ timezone }}</strong>
</div>

<zem-dayparting-input
    class="zem-dayparting-input"
    [dayparting]="dayparting"
    (onSelection)="handleDaypartingSelectionUpdate($event)"
></zem-dayparting-input>

<div
    class="zem-message zem-message--error zem-dayparting-setting__error"
    *ngFor="let error of errors"
>
    {{ error }}
</div>

<div
    class="zem-message zem-message--bubble zem-message--info zem-message--with-icon zem-dayparting-setting__no-support-message"
>
    Outbrain and Yahoo don't support dayparting. Ads will be running on these
    sources all the time.
</div>
