@import 'variables';

.zem-dayparting-setting__disabled-message,
.zem-dayparting-setting__timezone {
    margin-bottom: @default-spacing;
}

.zem-dayparting-setting__errors {
    display: block;
    margin-top: @default-spacing;
}

.zem-dayparting-setting__no-support-message {
    margin-top: @default-spacing;
}
