@import 'variables';

.zem-dayparting-setting__disabled-message,
.zem-dayparting-setting__timezone {
    margin-bottom: @spacing--default;
}

.zem-dayparting-setting__errors {
    display: block;
    margin-top: @spacing--default;
}

.zem-dayparting-setting__no-support-message {
    margin-top: @spacing--default;
}
