@import 'variables';

.zem-dayparting-setting__timezone {
    margin-bottom: @default-spacing;
}

.zem-dayparting-setting__errors {
    display: block;
    margin-top: @default-spacing;
}

.zem-dayparting-setting__note {
    margin-top: @default-spacing;
}
