@import 'variables';

.zem-tracking-pixel-setting__item {
    width: 100%;
    margin-bottom: (@spacing--default)-10px;
}

.zem-tracking-pixel-setting__item:last-child {
    margin-bottom: 0;
}

.zem-tracking-pixel-setting__title {
    display: inline-block;
    font-weight: 700;
}
