<div class="zem-tracking-pixel-setting__item zem-settings-section__title">
    3rd party pixel tracking
</div>
<div class="zem-tracking-pixel-setting__item zem-settings-section__description">
    3rd party pixels help you retarget people who clicked on Zemanta ads. This
    is a read-only section. Please contact your Zemanta Customer Success Manager
    if you want to set up or change 3rd party pixel tracking.
</div>
<ng-container *ngIf="redirectPixelUrls.length > 0">
    <span
        class="zem-tracking-pixel-setting__item zem-tracking-pixel-setting__title"
        >Tags</span
    >
    <ul class="zem-tracking-pixel-setting__item">
        <li *ngFor="let redirectPixelUrl of redirectPixelUrls">
            {{ redirectPixelUrl }}
        </li>
    </ul>
</ng-container>
<ng-container *ngIf="redirectJavascript">
    <span
        class="zem-tracking-pixel-setting__item zem-tracking-pixel-setting__title"
        >Javascript</span
    >
    <textarea
        class="zem-tracking-pixel-setting__item zem-input-textarea zem-input-textarea--dashed"
        type="text"
        rows="4"
        [ngModel]="redirectJavascript"
        [disabled]="true"
    ></textarea>
</ng-container>
<div
    class="zem-tracking-pixel-setting__item zem-message"
    *ngIf="redirectPixelUrls.length === 0 && !redirectJavascript"
>
    No 3rd party pixel tracking.
</div>
