@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-tracking-pixel-setting__item {
    width: 100%;
    margin-top: @zem-settings__items-spacing--default;
}

.zem-tracking-pixel-setting__item:first-child {
    margin-bottom: 0;
}

.zem-tracking-pixel-setting__title {
    display: inline-block;
    font-weight: 700;
}
