@import 'variables';

.zem-credit-edit-form {
    display: block;
}

.zem-credit-edit-form__item {
    display: block;
    margin-bottom: @zem-form-group__items-spacing--default;
}

.zem-credit-edit-form__owner-details {
    border-bottom: 1px solid @color--lighter-neutral;
    padding-bottom: 10px;
    margin-bottom: @spacing--default;
}
