@import 'variables';

.zem-creative-candidate-edit-form {
    display: block;
}

.zem-creative-candidate-edit-form__section_title {
    font-size: 18px;
    font-weight: @font-weight--strong;
    color: @color--secondary;
    padding: @spacing--default;
}

.zem-creative-candidate-edit-form__item {
    display: block;
    margin-bottom: @zem-form-group__items-spacing--default;
}

.zem-creative-candidate-edit-form__item:last-child {
    margin-bottom: 0px;
}
