<div class="zem-creative-candidate-edit-form__section_title">Edit creative</div>
<ng-container *ngFor="let field of FIELDS_CONFIG">
    <zem-form-field-with-sidebar
        class="zem-form-field-with-sidebar"
        *ngIf="field.shownForAdTypes.includes(candidate.type)"
        [length]="candidate[field.field]?.length"
        [maxLength]="field.maxLength"
        [canUseAsDefault]="field.canUseAsDefault"
        (useAsDefaultClick)="useCurrentFieldValueAsDefault(field.field)"
    >
        <ng-container *ngIf="field.template === 'text'">
            <ng-container
                *ngTemplateOutlet="
                    textTemplate;
                    context: {
                        field: field
                    }
                "
            ></ng-container>
        </ng-container>
        <ng-container *ngIf="field.template === 'text-title'">
            <ng-container
                *ngTemplateOutlet="
                    textTemplate;
                    context: {
                        field: field,
                        label: adTitleFieldLabel
                    }
                "
            ></ng-container>
        </ng-container>

        <ng-container *ngIf="field.template === 'textarea'">
            <ng-container
                *ngTemplateOutlet="
                    textareaTemplate;
                    context: {
                        field: field
                    }
                "
            ></ng-container>
        </ng-container>
        <ng-container *ngIf="field.template === 'textarea-adTag'">
            <ng-container
                *ngTemplateOutlet="
                    textareaTemplate;
                    context: {
                        field: field
                    }
                "
            >
            </ng-container>
            <div class="zem-creative-candidate-form-group__helptext">
                Please check and test that you placed Zemanta macro for tracking
                clicks in the ad tag. Instructions on placing the macro are
                available
                <a
                    href="http://help.zemanta.com/article/show/89554-display-advertising"
                    target="_blank"
                    >here</a
                >.
            </div>
        </ng-container>

        <ng-container *ngIf="field.template === 'select-type'">
            <ng-container
                *ngTemplateOutlet="
                    selectTemplate;
                    context: {
                        field: field,
                        items: adTypes
                    }
                "
            ></ng-container>
        </ng-container>
        <ng-container *ngIf="field.template === 'select-imageCrop'">
            <ng-container
                *ngTemplateOutlet="
                    selectTemplate;
                    context: {
                        field: field,
                        items: IMAGE_CROPS
                    }
                "
            ></ng-container>
        </ng-container>
        <ng-container *ngIf="field.template === 'select-callToAction'">
            <ng-container
                *ngTemplateOutlet="
                    selectTemplate;
                    context: {
                        field: field,
                        items: callsToAction,
                        isSearchable: true,
                        isClearable: true,
                        addCustomItemFn: createCallToActionItem
                    }
                "
            ></ng-container>
        </ng-container>

        <ng-container *ngIf="field.template === 'tags'">
            <ng-container
                *ngTemplateOutlet="
                    tagsTemplate;
                    context: {
                        field: field,
                        items: availableTags,
                        isLoading: isLoadingTags,
                        searchHandler: tagSearch.emit
                    }
                "
            ></ng-container>
        </ng-container>

        <ng-container *ngIf="field.template === 'trackers'">
            <ng-container
                *ngTemplateOutlet="
                    trackersTemplate;
                    context: {
                        field: field,
                        canUseExtraTrackers: canUseExtraTrackers
                    }
                "
            ></ng-container>
        </ng-container>
    </zem-form-field-with-sidebar>
</ng-container>

<ng-template #textTemplate let-field="field" let-label="label">
    <zem-text-form-group
        class="zem-text-form-group"
        [value]="candidate[field.field]"
        [label]="label || field.label"
        [placeholder]="label || field.placeholder || field.label"
        [errors]="candidateErrors && candidateErrors[field.field]"
        (valueChange)="onFieldChange(field.field, $event)"
    ></zem-text-form-group>
</ng-template>

<ng-template #textareaTemplate let-field="field">
    <zem-textarea-form-group
        class="zem-text-form-group"
        [value]="candidate[field.field]"
        [label]="field.label"
        [placeholder]="field.placeholder || field.label"
        [errors]="candidateErrors && candidateErrors[field.field]"
        (valueChange)="onFieldChange(field.field, $event)"
    ></zem-textarea-form-group>
</ng-template>

<ng-template
    #selectTemplate
    let-field="field"
    let-items="items"
    let-isSearchable="isSearchable"
    let-isClearable="isClearable"
    let-addCustomItemFn="addCustomItemFn"
>
    <zem-select-form-group
        class="zem-select-form-group"
        [value]="candidate[field.field]"
        [label]="field.label"
        [placeholder]="field.placeholder || field.label"
        [errors]="candidateErrors && candidateErrors[field.field]"
        [bindLabel]="field.bindLabel"
        [bindValue]="field.bindValue"
        [items]="items"
        [isSearchable]="false || isSearchable"
        [isClearable]="false || isClearable"
        [addCustomItemFn]="addCustomItemFn"
        (valueChange)="onFieldChange(field.field, $event)"
    ></zem-select-form-group>
</ng-template>

<ng-template
    #tagsTemplate
    let-field="field"
    let-items="items"
    let-isLoading="isLoading"
    let-searchHandler="searchHandler"
>
    <zem-tag-form-group
        class="zem-tag-form-group"
        [value]="candidate[field.field]"
        [label]="field.label"
        [placeholder]="field.placeholder || field.label"
        [items]="items"
        [canCreateTags]="true"
        [isLoading]="isLoading"
        (valueChange)="onFieldChange(field.field, $event)"
        (search)="searchHandler($event)"
    ></zem-tag-form-group>
</ng-template>

<ng-template
    #trackersTemplate
    let-field="field"
    let-canUseExtraTrackers="canUseExtraTrackers"
>
    <zem-trackers-form-group
        class="zem-content-ad-trackers-form-group"
        [value]="candidate[field.field]"
        [label]="field.label"
        [errors]="candidateErrors && candidateErrors[field.field]"
        [canUseExtraTrackers]="canUseExtraTrackers"
        (valueChange)="onFieldChange(field.field, $event)"
    ></zem-trackers-form-group>
</ng-template>
