--extra-index-url=https://artifactory-proxy.outbrain.com/artifactory/api/pypi/ob-pypi/simple

Django==2.2.17
pylibmc==1.5.2
jsonfield==2.0.2
psycopg2-binary==2.8.6
psycogreen==1.0.2
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1
gunicorn==19.9.0
gevent==20.12.1
httplib2==0.11.3
oauth2client==4.1.3
rfc3987==1.3.8
pycryptodome==3.7.3
unicodecsv==0.14.1
XlsxWriter==1.1.1
xlrd==2.0.1
openpyxl==3.0.5
python-slugify==1.2.6
newrelic==4.4.1.104
boto==2.49.0
celery==4.4.0
requests==2.21.0
django-timezone-field==3.0
uWSGI==2.0.17.1
django-pglocks==1.0.2
sentry-sdk==0.13.0
python-json-logger==0.1.11
daiquiri==1.6.0
retrying==1.3.3
drf-yasg==1.17.0

# Tests
mock==4.0.3
selenium==3.14.1
unittest-xml-reporting==3.0.2
freezegun==1.0.0
mixer==6.1.3
parameterized==0.7.4

# for filetype detection(input validation)
python-magic==0.4.15

# for admin lists exports
django-import-export==1.1.0

# for accessing Google Analytics
google-api-python-client==1.7.4
pyOpenSSL==18.0.0

# for secrets encryption
secretcrypt==1.0.4

django-ipware==2.1.0

# Demo anonymization
Faker==0.9.1

# for backtosql
sqlparse==0.2.4

# handling image uploads in forms
Pillow==8.0.1

# REST framework
djangorestframework==3.8.2
django-oauth-toolkit==1.2.0
oauthlib==2.1.0
djangorestframework-camel-case==0.2.0
djangorestframework-recursive==0.1.2
dredd-hooks==0.2.0
drf-base64==2.0

# rate limiting
django-ratelimit==1.1.0

# Django tagging
django-tagulous==1.1.0

# Traceback support for running tests in parallel
tblib==1.7.0

# terminal colors
termcolor==1.1.0

# required for celery
pycurl==7.43.0.2
redis==2.10.6
django-redis==4.10.0
django-celery-results==1.2.1

# user agent parser
ua-parser==0.8.0

# rss parser for product sync
feedparser==5.2.1
beautifulsoup4==4.9.3
lxml==4.6.2

# defusedxml for safer xml parsing
defusedxml==0.6.0

# distributed cron jobs
croniter==0.3.25
python-crontab==2.3.5

# for BigQuery integration
google-cloud-bigquery==1.7.0

# druid
pydruid==0.6.1

# Prometheus
prometheus_client

# development
django-extensions==2.1.3
django-queryinspect==1.0.0
django-debug-panel==0.9.0
django-debug-toolbar==1.10.1
django-debug-toolbar-template-profiler==1.0.2
django-silk==3.0.1
typing-extensions==3.7.4

PyJWT==1.6.4

# demo
Fabric==2.4.0
haikunator==2.1.0

# devx
ipython==7.19.0
jedi==0.17.2  # newer version was breaking ipython autocomplete
ipdb==0.13.4
yappi==1.0

confluent-kafka==1.5.0
fastavro==1.0.0.post1

# url compression and encryption
zstandard==0.14.0
