# Commented as it is not usually needed
# pygraphviz==1.2    # make sure to install $ sudo apt-get install libgraphviz-dev graphviz
Fabric==1.9.0

# tests in circle ci
coverage==4.4.1

# for visualizing project models, shell_plus, ipython with app context etc.
django-extensions==1.6.1

# for detecting slow queries
django-queryinspect==1.0.0

django-debug-panel==0.8.3
django-debug-toolbar==1.8
django-debug-toolbar-template-profiler==1.0.1

# local development
autoflake==0.7
flake8==3.3.0
pep8==1.7.0

pip-tools
