pygraphviz==1.2    # make sure to install $ sudo apt-get install libgraphviz-dev graphviz
Fabric==1.9.0

# tests in circle ci
coverage==3.7.1

# for visualizing project models, shell_plus, ipython with app context etc.
django-extensions==1.6.1

# for detecting slow queries
django-queryinspect==0.1.0

git+git://github.com/Zemanta/ci-metric-push.git#cipush
