body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: url("../img/background.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table;
}

a {
    text-decoration: none;
    color: #ef8421;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    background-color: #FFFFFF;
    height: 1px;
    margin: 30px 0 36px 0;
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 0 10px 0;
    padding: 0px 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    box-sizing: border-box;
    transition: all 250ms ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid rgba(255, 255, 255, 1.0);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2);
}

::-webkit-input-placeholder {
   color: #FFFFFF;
}

:-moz-placeholder {
   color: #FFFFFF;
}

::-moz-placeholder {
   color: #FFFFFF;
}

:-ms-input-placeholder {
   color: #FFFFFF;
}

.button {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 10px;
    border: none;
    color: #ef8421;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    display: block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.page {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.container {
    position: relative;
    z-index: 2;
    width: 1000px;
    margin: 0 auto;
    background-color: #3f547f;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(63, 84, 127, 0.8);
    z-index: 1;
}

.container__left {
    background: #ef8421 url("../img/zemanta-logo-squares-white.svg") no-repeat left top;
    background-size: 40px;
    width: 280px;
    margin: 0 auto;
    padding: 40px;
    display: table-cell;
    vertical-align: top;
}

.container__left .logo {
    width: 200px;
    display: block;
    margin-bottom: 30px;
}

.container__left--smaller {
    width: 200px;
}

.container__left--smaller .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;
}

.container__left--logo-on-top .logo {
    top: auto;
    transform: none;
}

.container__left h1 {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 28px;
}

.container__left p {
    color: #FFFFFF;
    font-weight: 300;
    margin-top: -10px;
}

.container__left .button {
    background: #FFFFFF;
}

.container__left .button:hover {
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6);
}

.container__left .link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.message--error {
    background-color: #cc0000;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
}

.container__right {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 36px 40px;
    display: table-cell;
    width: 560px;
    vertical-align: top;
}

.container__right h2 {
    font-size: 42px;
    font-weight: 400;
    line-height: 46px;
    margin: 0 0 20px 0;
}

.container__right ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

.container__right ul li {
    background: url("../img/check-white.svg") no-repeat left 1px;
    background-size: 16px;
    padding-left: 30px;
    margin-bottom: 5px;
}

.container__right .button {
    color: #FFFFFF;
    background-color: #ef8421;
    display: inline-block;
}

.container__right .button:hover {
    background-color: #c64319;
    text-decoration: none;
    box-shadow: 0px 0px 15px 0px rgba(227, 83, 37, 0.6);
}

.container__right .link {
    display: inline-block;
    color: #FFFFFF;
}

.zemanta-pixel {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container__right--error {
    width: 460px;
    background: url("../img/sad-face-white.svg") no-repeat 40px center;
    background-size: 140px;
    padding-left: 220px;
}

.container__right--error p.bigger {
    font-size: 18px;
    line-height: 24px;
}

.container__right--maintenance {
    width: 480px;
    background: url("../img/maintenance-white.svg") no-repeat 40px center;
    background-size: 120px;
    padding-left: 200px;
}

.container__right--content {
    width: 640px;
    background-color: white;
    color: #222222;
}

.container__right--content h1, .container__right--content h2, .container__right--content h3 {
    color: #3f547f;
    font-size: 42px;
    font-weight: 400;
    line-height: 46px;
    margin: 0 0 20px 0;
}

.container__right--content h2 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 10px 0;
}

.container__right--content h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px 0;
}

.container__right--content ol li {
    margin-bottom: 5px;
}

.container__right--content ol.alphabet {
    list-style-type: lower-alpha;
}

/* WHITELABEL - NEWSCORP */

.newscorp .button {
    color: #2cb9ca;
}

.newscorp .container__right .button {
    color: white;
    background-color: #2cb9ca;
}

.newscorp .container__right .button:hover {
    background-color: #1E9CAB;
    text-decoration: none;
    box-shadow: 0px 0px 15px 0px rgba(44, 185, 202, 0.6);
}

.newscorp .container__left {
    background-color: #040707;
}

.newscorp .container {
    background-color: rgba(4, 7, 7, 0.4);
}

.newscorp .color-overlay {
    background-color: rgba(4, 7, 7, 0.8);
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 500px;
        margin: 40px auto;
    }

    .container__left {
        width: auto;
        margin: 0 auto;
        padding: 40px;
        display: block;
    }
    
    .container__left--logo-on-top {
        height: 60px;
        padding: 40px;
    }

    .container__right {
        display: block;
        width: auto;
    }
}

@media only screen and (max-width: 640px) {
    .page {
        padding: 20px;
    }

    .container {
        margin: 0 auto;
        width: auto;
    }

    .container__left {
        padding: 40px 20px 20px 20px;
    }

    .container__left--logo-on-top {
        padding: 30px 20px 20px 20px;
    }
    
    .container__right {
        padding: 20px;
    }

    .container__right h2 {
        font-size: 26px;
        line-height: 30px;
    }
}