body {
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #2fa8c7;
}

a img {
    border: 0;
}

header {
    border-bottom: 1px solid #dadada;
}

p {
    font-size: 15px;
}

.item.logo {
    width: 90px;
    padding-left: 30px;
    padding: 21px;
}

.wf-loading .item.contact {
    visibility: hidden;    
}

.item.contact {
    color: #313131;
    float: right;
    padding-right: 30px;
    padding: 19px;
}

.wf-loading .center-container {
    visibility: hidden;
}

.center-container {
    width: 230px;
    margin: 100px auto;
    color: #313131;
}

.center-container h1 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 8px;
}

.center-container h2 {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: -8px;
}

.center-container input,
.center-container .btn {
    width: 100%;
    margin-bottom: 7px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;

    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.center-container .placeholder,
.center-container input[name="username"],
.center-container input[name="password"],
.center-container input[name="new_password"] {
    font-family: proxima-nova, sans-serif;
    border: 1px solid #2fa8c7;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 300;
}

/* placeholder text */

.center-container input[name="username"]::-webkit-input-placeholder,
.center-container input[name="password"]::-webkit-input-placeholder {
    color: #777;    
    font-family: proxima-nova, sans-serif;
    font-weight: 300;

}
.center-container input[name="username"]::-moz-placeholder,
.center-container input[name="password"]::-moz-placeholder {
    color: #313131;    
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
}

/* older versions of FF */
.center-container input[name="username"]:-moz-placeholder,
.center-container input[name="password"]:-moz-placeholder {
    color: #313131;    
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
}

.center-container input[name="username"]:-ms-input-placeholder, 
.center-container input[name="password"]:-ms-input-placeholder {
    color: #313131;    
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
}

.center-container input[type=submit],
.center-container .btn {
    background-color: #F59017;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    padding: 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}


.support-text {
    font-weight: 100;
    font-style: italic;
    font-size: 13px;
    margin: 5px 0;
}

.failure-text {
    color: #EC0A0A;
    font-weight: 400;
    margin-top: 0;
}


/* 404 */
#error-box {
    color: #777;
    text-align: center;
    font-size: 13px;
    width: 300px;
}

#error-box .message {
    margin-bottom: 13px;
}

#error-box .title {
    color: #313131;
    font-size: 30px;
    margin-bottom: 20px;
}

#error-box .contact {
    color: #777;
}

#error-box strong {
    font-weight: 400;
}
