body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: url("../img/background.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table;
}

a {
    text-decoration: none;
    color: #ef8421;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    background-color: #FFFFFF;
    height: 1px;
    margin: 30px 0 36px 0;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 0 10px 0;
    padding: 0px 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    box-sizing: border-box;
    transition: all 250ms ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border: 1px solid rgba(255, 255, 255, 1.0);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2);
}

select option {
    color: #000000;
}

::-webkit-input-placeholder {
   color: #FFFFFF;
}

:-moz-placeholder {
   color: #FFFFFF;
}

::-moz-placeholder {
   color: #FFFFFF;
}

:-ms-input-placeholder {
   color: #FFFFFF;
}

.button {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 10px;
    border: none;
    color: #ef8421;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    display: block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}


.page {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.container {
    position: relative;
    z-index: 2;
    width: 1000px;
    margin: 0 auto;
    background-color: #3f547f;
}

.container--small {
    width: 630px;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(63, 84, 127, 0.8);
    z-index: 1;
}

.container__left {
    background: #ef8421 url("../img/zemanta-logo-squares-white.svg") no-repeat left top;
    background-size: 40px;
    width: 280px;
    margin: 0 auto;
    padding: 40px;
    display: table-cell;
    vertical-align: top;
}

.container__left--full-width {
    width: 100%;
}

.container__left .logo {
    width: 200px;
    display: block;
    margin-bottom: 30px;
}

.container__left--smaller {
    width: 200px;
}

.container__left--smaller .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;
}

.container__left--logo-on-top .logo {
    top: auto;
    transform: none;
}

.container__left h1 {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 28px;
}

.container__left h2 {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 24px;
}

.container__left p {
    color: #FFFFFF;
    font-weight: 300;
    margin-top: -10px;
}

.container__left span {
    color: #FFFFFF;
}

.container__left .button {
    background: #FFFFFF;
}

.container__left .button:hover {
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6);
}

.container__left .link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.message--error {
    background-color: #cc0000;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
}

.container__right {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 36px 40px;
    display: table-cell;
    width: 560px;
    vertical-align: top;
}

.container__right h2 {
    font-size: 42px;
    font-weight: 400;
    line-height: 46px;
    margin: 0 0 20px 0;
}

.container__right ul {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

.container__right ul li {
    background: url("../img/check-white.svg") no-repeat left 1px;
    background-size: 16px;
    padding-left: 30px;
    margin-bottom: 5px;
}

.container__right .button {
    color: #FFFFFF;
    background-color: #ef8421;
    display: inline-block;
}

.container__right .button:hover {
    background-color: #c64319;
    text-decoration: none;
    box-shadow: 0px 0px 15px 0px rgba(227, 83, 37, 0.6);
}

.container__right .link {
    display: inline-block;
    color: #FFFFFF;
}

.container__right--error {
    width: 460px;
    background: url("../img/sad-face-white.svg") no-repeat 40px center;
    background-size: 140px;
    padding-left: 220px;
}

.container__right--error p.bigger {
    font-size: 18px;
    line-height: 24px;
}

.container__right--maintenance {
    width: 480px;
    background: url("../img/maintenance-white.svg") no-repeat 40px center;
    background-size: 120px;
    padding-left: 200px;
}

.container__right--content {
    width: 640px;
    background-color: white;
    color: #222222;
}

.container__right--content h1, .container__right--content h2, .container__right--content h3 {
    color: #3f547f;
    font-size: 42px;
    font-weight: 400;
    line-height: 46px;
    margin: 0 0 20px 0;
}

.container__right--content h2 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 10px 0;
}

.container__right--content h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px 0;
}

.container__right--content ol li {
    margin-bottom: 5px;
}

.container__right--content ol.alphabet {
    list-style-type: lower-alpha;
}

.two-columns {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.two-columns__item {
    flex: 1 0;
    margin: 5px;
}

.two-columns__item--set-new-user {
    flex: 1 0 230px;
}

.set-new-user__background{
    background: url("../img/zemanta-logo-squares-white.svg") no-repeat left top, linear-gradient(180deg, #ef8421 0%, #e35325 100%);
    background-size: 40px;
}

.set-new-user__white_background{
    background: white;
    color: #3f547f;
    padding: 40px;
}

.set-new-user__white_background span{
    color: #3f547f;
}

h2.set-new-user__page_title{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
}

.set-new-user__item {
    margin-top: 15px;
}

.set-new-user__description {
    margin-top: 25px !important;
}

.set-new-user__programmatic-platforms h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.set-new-user__programmatic-platforms ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.set-new-user__programmatic-platforms li {
    min-width: 180px;
}

.set-new-user__actions {
    margin-top: 40px;
}

.set-new-user__start_button{
    margin: auto;
    color: white;
    background-color: #ef8421;
    font-weight: bold;
    background-image: url(../img/arrow-white.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 56px 16px;
    padding-right: 40px;
}

.set-new_user__horizontal_input_group{
    display: flex;
}

.set-new_user__horizontal_input_group input:not(:last-child){
    margin-right: 10px;
}

/* WHITELABEL - NEWSCORP */

.newscorp .button {
    color: #2cb9ca;
}

.newscorp .container__right .button {
    color: white;
    background-color: #2cb9ca;
}

.newscorp .container__right .button:hover {
    background-color: #1E9CAB;
    text-decoration: none;
    box-shadow: 0px 0px 15px 0px rgba(44, 185, 202, 0.6);
}

.newscorp .container__left {
    background-color: #040707;
}

.newscorp .container {
    background-color: rgba(4, 7, 7, 0.4);
}

.newscorp .color-overlay {
    background-color: rgba(4, 7, 7, 0.8);
}

.newscorp .set-new-user__background{
    background: url("../img/zemanta-logo-squares-white.svg") no-repeat left top, #040707;
    background-size: 40px;
}

.newscorp .set-new-user__start_button{
    color: white;
    background-color: #040707;
}

/* WHITELABEL - DAS */

.das .button {
    color: #e35519;
}

.das .container__right .button {
    color: white;
    background-color: #e35519;
}

.das .container__right .button:hover {
    background-color: #e35519;
}

.das .container__left {
    background-color: #e35519;
}

.das .set-new-user__background{
    background: url("../img/zemanta-logo-squares-white.svg") no-repeat left top, #e35519;
    background-size: 40px;
}

.das .set-new-user__start_button{
    color: white;
    background-color: #e35519;
}

/* WHITELABEL - AMPLIFY */

.amplify .button {
    color: #333F48;
}

.amplify .container__right .button {
    color: white;
    background-color: #333F48;
}

.amplify .container__right .button:hover {
    background-color: #474f7c;
    text-decoration: none;
    box-shadow: 0px 0px 15px 0px rgba(71, 79, 124, 0.6);
}

.amplify .container__left {
    background-color: #474f7c;
}

.amplify .container {
    background-color: rgba(71, 79, 124, 0.4);
}

.amplify .color-overlay {
    background-color: rgba(71, 79, 124, 0.8);
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 500px;
        margin: 40px auto;
    }

    .container__left {
        width: auto;
        margin: 0 auto;
        padding: 40px;
        display: block;
    }

    .container__left--logo-on-top {
        height: 60px;
        padding: 40px;
    }

    .container__right {
        display: block;
        width: auto;
    }

    .two-columns__item--hide-on-small-screen {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .page {
        padding: 20px;
    }

    .container {
        margin: 0 auto;
        width: auto;
    }

    .container__left {
        padding: 40px 20px 20px 20px;
    }

    .container__left--logo-on-top {
        padding: 30px 20px 20px 20px;
    }

    .container__right {
        padding: 20px;
    }

    .container__right h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .two-columns__item--hide-on-small-screen {
        display: none;
    }

    .set-new_user__horizontal_input_group{
        flex-direction: column;
    }
}
