#tos-container {
    margin: 50px auto 20px auto;
    width: 600px;
}

@media (max-width: 600px) {
    #tos-container {
        margin: 50px auto 20px auto;
        width: 100%;
    }
}

#tos-container h1 {
    font-size: 33px;
    margin: 1em 0;
}

#tos-container p {
    font-size: 17px;
    margin: 1em 0;
}

#tos-container p strong {
    font-weight: 600;
}

#tos-container p a {
    color: #2FA8C7;
    text-decoration: underline;
}

#tos-container p.level-two {
    margin: 1em 0 1em 20px;
}