.form__group {
    .zem-report-query-config__add-breakdown {
        height: 22px;
        float: none;
        display: inline-block;
        vertical-align: top;

        &.select2-container .select2-choice {
            padding-top: 1px;
            line-height: 22px;
        }
    }
}

.zem-report-query-config__csv-delimiter--other-text {
    width: 40px;
    height: 20px;
    float: none;
}
