<zem-checkbox-input
    class="zem-checkbox-input"
    [isChecked]="campaignTracking.ga.enabled"
    [isDisabled]="isDisabled"
    (toggle)="onGaToggle($event)"
>
    Enable Google Analytics performance tracking
    <zem-help-popover
        class="zem-help-popover"
        content="This adds performance tracking codes (_z1_msid, _z1_adgid, _z1_caid) to all URLs."
        placement="right"
    ></zem-help-popover>
</zem-checkbox-input>
<div class="zem-form-group__subgroup" *ngIf="campaignTracking.ga.enabled">
    <div class="zem-form-group__subgroup-item">
        <zem-select-form-group
            class="zem-select-form-group"
            [label]="'Reporting type'"
            [helpMessage]="'Google Analytics reporting type.'"
            [value]="campaignTracking.ga.type"
            [bindLabel]="'label'"
            [bindValue]="'value'"
            [isDisabled]="isDisabled"
            [items]="availableGaTypes"
            (valueChange)="onGaTypeChange($event)"
        >
        </zem-select-form-group>
        <div
            class="zem-settings-section__item zem-settings-section__item--indented"
        >
            <div
                *ngIf="campaignTracking.ga.type === GaTrackingType.EMAIL"
                class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
            >
                Email reporting relies on automated daily reports sent from
                Google Analytics to us. It does not require additional
                permissions on your Google Analytics account or property, but it
                is less reliable than API reporting. Please see instructions
                below. <br />
                <a
                    href="http://help.zemanta.com/article/show/12522-setting-up-automated-google-analytics-reports"
                    target="_blank"
                    class="zem-alternative-link"
                >
                    Download a guide to setting up Automated Google Analytics
                    Report via email
                </a>
            </div>
            <div
                *ngIf="campaignTracking.ga.type === GaTrackingType.API"
                class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
            >
                API reporting allows the system to automatically download
                reports from your Google Analytics account or property. It
                requires that you add a user to your Google Analytics account or
                property with the read & analyze permission. Please see
                instructions below. <br />
                <a
                    href="http://help.zemanta.com/article/show/10814-realtime-google-analytics-reports_1"
                    target="_blank"
                    class="zem-alternative-link"
                >
                    Download a guide to setting up Automated Google Analytics
                    Report via API
                </a>
            </div>
        </div>
    </div>
    <div class="zem-form-group__subgroup-item">
        <zem-text-form-group
            class="zem-text-form-group"
            [label]="'Web property ID'"
            [helpMessage]="'Google Analytics web property ID.'"
            [value]="campaignTracking.ga.webPropertyId"
            [placeholder]="'UA-xxxxxxx-yy'"
            [errors]="campaignTrackingErrors.ga.webPropertyId"
            [isDisabled]="
                campaignTracking.ga.type !== GaTrackingType.API || isDisabled
            "
            (valueChange)="onGaPropertyIdChange($event)"
        >
        </zem-text-form-group>
    </div>
</div>

<zem-checkbox-input
    [isChecked]="campaignTracking.adobe.enabled"
    [isDisabled]="isDisabled"
    (toggle)="onAdobeToggle($event)"
>
    Enable Adobe Analytics performance tracking
    <zem-help-popover
        content="This adds performance tracking codes to all URLs."
        placement="right"
    ></zem-help-popover>
</zem-checkbox-input>
<div class="zem-form-group__subgroup" *ngIf="campaignTracking.adobe.enabled">
    <div class="zem-form-group__subgroup-item">
        <zem-text-form-group
            class="zem-text-form-group"
            [label]="'Adobe tracking parameter'"
            [helpMessage]="
                '(Optional) Name of the tracking parameter used for Adobe Analytics.'
            "
            [value]="campaignTracking.adobe.trackingParameter"
            [maxLength]="10"
            [isDisabled]="isDisabled"
            [errors]="campaignTrackingErrors.adobe.trackingParameter"
            (valueChange)="onAdobeTrackingParameterChange($event)"
        >
        </zem-text-form-group>
        <div
            class="zem-settings-section__item zem-settings-section__item--indented"
        >
            <div
                class="zem-message zem-message--bubble zem-message--info zem-message--with-icon"
            >
                API reporting allows the system to automatically download
                reports from your Adobe Analytics reporting suite. It requires
                that you add Zemanta service integration permissions. Please see
                the instructions below. <br />
                <a
                    href="https://help.zemanta.com/article/show/99103-adobe-analytics-api-peformance-tracking"
                    target="_blank"
                    class="zem-alternative-link"
                    >Download a guide to setting up Automated Adobe Analytics
                    Report</a
                >
            </div>
        </div>
    </div>
</div>
