.zem-grid-integration {
  .footnotes {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #737373;
  }
  .alert {
    margin-bottom: 10px;
  }
}

.zem-grid-column-selector,.zem-grid-breakdown-selector{
  margin-right:6px;

  .dropdown-toggle {
    font-size: 36px;
    height: 34px;
    line-height: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .dropdown-menu {
    margin-top: 11px;
    border: 1px solid @default-color;
    color: @default-color;

    width: 18em;

    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    .checkbox {
      margin: 3px 20px
    }

    .category-name {
      color: grey;
      margin-left: 8px;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.zem-grid-column-selector {
  label.disabled {
    color: #afafaf;
    cursor: default;
  }
  .row {
    margin: 0px;
  }
  .dropdown-menu {
    width: 465px;
  }

  .category-name {
    margin-top: 10px;
    margin-left: 10px;
  }
}
