.export-select { min-width: 90px; }

.zem-grid-integration {
  .footnotes {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #737373;
  }
  .alert {
    margin-bottom: 10px;
  }
}

.zem-grid-column-selector,
.zem-grid-breakdown-selector {
  .internal {
    border-top: 7px solid @internal-color;
    border-right: 7px solid transparent;
    line-height: 5px;
    margin-right: 3px;
    vertical-align: bottom;
  }

  .dropdown-menu {
    margin-top: 11px;
    border: 1px solid @primary-color;
    color: @primary-color;

    width: 18em;

    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    .checkbox {
        margin: 3px 20px;
    }

    .category-name {
      color: grey;
      margin-left: 8px;
      font-weight: 500;
      font-size: 16px;
  	  position: relative;
    }

    .sub-category-name {
      margin-left: 8px;
      font-weight: 400;
      font-size: 14px;
    }

    .description {
        margin-left: 8px;
        font-size: 13px;
        font-weight: 300;
        color: @dark-gray;
    }

    .condensed {
        li {
            position: relative;
            display: inline-block;
            font-size: 12px;

            input[type=checkbox] {
                margin-top: 1px;
            }

            .checkbox {
                margin-right: 0px;
            }

            &:not(:first-child) .checkbox {
                margin-left: 15px;
            }
        }
    }
  }
}

.zem-grid-breakdown-selector .dropdown-menu {
    height: auto;
    max-height: none;

    overflow: hidden;
    padding-bottom: 0px;

    .list-wrapper {
        overflow-x: hidden;
        overflow-y: scroll;

        height: auto;
        max-height: 344px;

        margin-bottom: 0px;
    }

    button {
        margin: 0px;
    }
}

.zem-grid-column-selector {
  label.disabled {
    color: #afafaf;
    cursor: default;
  }
  .row {
    margin: 0px;
  }
  .dropdown-menu {
    width: 465px;
  }

  .category-name {
    margin-top: 10px;
    margin-left: 10px;
  }
}

zem-grid-export {
  margin-left: 5px;
}
