<div class="zem-grid-integration">
    <alert type="info" class="alert-info">
        We have just released new and improved views of data insights in our dashboard.
        You can now break down the data by structure, delivery or time. Some of the cells
        might show up as empty or not available at the moment but we are working hard to
        have those in the dashboard for you to see as soon as possible. Enjoy the new
        functionalities! <a href="https://zemanta.supporthero.io/article/show/15188">Read more ...</a>
    </alert>

    <div ng-repeat="notification in ctrl.notifications">
        <alert ng-if="notification.closable" type="{{ notification.type }}" class="alert-{{ notification.type }}" close="ctrl.closeNotification(notification)">
            {{ notification.message }}
        </alert>
        <alert ng-if="!notification.closable" type="{{ notification.type }}" class="alert-{{ notification.type }}">
            {{ notification.message }}
        </alert>
    </div>

    <zem-grid data-data-source="ctrl.grid.dataSource"
              api="ctrl.grid.api"
              options="ctrl.grid.options"
              zem-has-permission="hasPermission"
              zem-is-permission-internal="isPermissionInternal">
    </zem-grid>

    <div class="footnotes">
        <div>* The reporting data is an estimate, and the final amount will be reflected on your invoice.</div>
        <div>* All times are in Eastern Standard Time (EST).</div>
    </div>
</div>
