.zem-custom-audiences-list {
    .archive-button,
    .restore-button {
        display: block;
        float: right;
        width: 70px;
        margin-left: 3px;

        .loader-image {
            height: 12px;
        }
    }
}
