@import 'variables';

.zem-date-form-group__inputs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -@zem-form-group__items-spacing--default;
    margin-left: -@zem-form-group__items-spacing--default;
}

.zem-date-form-group__input {
    margin-top: @zem-form-group__items-spacing--default;
    margin-left: @zem-form-group__items-spacing--default;
    line-height: 1;
}
