@import '../default/variables.less';

@images-folder: 'images/whitelabel/amplify';
@logo__background: url('@{images-folder}/amplify-rtb-logo.svg') no-repeat center
    center;
@color--primary: #474f7c;
@color--secondary: #333f48;
@color--danger: #ed4646;
@color--warning: #fecb63;

@text-color--default: #333f48;

@header__background-color--left: @color--secondary;
@header__background-color--right: @color--secondary;
