<div class="zem-campaign-goal-edit-form__item">
    <div class="zem-form-group">
        <label
            class="zem-form-group__label zem-form-group__label--match-input-height zem-campaign-goal-edit-form__label"
        >
            Meet or beat the goal of
        </label>
        <div
            class="zem-form-group__content zem-campaign-goal-edit-form__goal-container"
        >
            <div
                class="zem-campaign-goal-edit-form__goal-container-item zem-campaign-goal-edit-form__goal-value"
                *ngIf="editedGoalConfig.dataType"
            >
                <ng-container *ngIf="editedGoalConfig.unit">
                    <zem-currency-input
                        *ngIf="editedGoalConfig.dataType === DataType.Currency"
                        class="zem-campaign-goal-edit-form__goal-value-item zem-currency-input"
                        [value]="campaignGoal.value"
                        [placeholder]="'0.00'"
                        [currencySymbol]="getGoalUnitText()"
                        [fractionSize]="2"
                        [isFocused]="true"
                        [isDisabled]="isDisabled"
                        [hasError]="!!campaignGoalErrors?.value"
                        (inputBlur)="onGoalValueChange($event)"
                    ></zem-currency-input>
                    <zem-prefixed-input
                        *ngIf="editedGoalConfig.dataType === DataType.Decimal"
                        class="zem-prefixed-input"
                        [prefix]="getGoalUnitText()"
                        [hasError]="!!campaignGoalErrors?.value"
                    >
                        <zem-decimal-input
                            class="zem-campaign-goal-edit-form__goal-value-item zem-decimal-input"
                            [value]="campaignGoal.value"
                            [placeholder]="'0.00'"
                            [fractionSize]="2"
                            [isFocused]="true"
                            [isDisabled]="isDisabled"
                            [hasError]="!!campaignGoalErrors?.value"
                            (inputBlur)="onGoalValueChange($event)"
                        ></zem-decimal-input>
                    </zem-prefixed-input>
                </ng-container>
                <ng-container *ngIf="!editedGoalConfig.unit">
                    <zem-decimal-input
                        class="zem-campaign-goal-edit-form__goal-value-item zem-decimal-input"
                        *ngIf="editedGoalConfig.dataType === DataType.Decimal"
                        [value]="campaignGoal.value"
                        [placeholder]="'0.00'"
                        [fractionSize]="2"
                        [isFocused]="true"
                        [isDisabled]="isDisabled"
                        [hasError]="!!campaignGoalErrors?.value"
                        (inputBlur)="onGoalValueChange($event)"
                    ></zem-decimal-input>
                </ng-container>
                <div
                    class="zem-campaign-goal-edit-form__goal-value-item zem-message zem-message--error"
                    *ngFor="let error of campaignGoalErrors?.value"
                >
                    {{ error }}
                </div>
            </div>
            <div
                class="zem-campaign-goal-edit-form__goal-container-item zem-campaign-goal-edit-form__goal-type"
            >
                <zem-select-input
                    class="zem-campaign-goal-edit-form__goal-type-item zem-select-input"
                    [value]="campaignGoal.type"
                    [bindLabel]="'name'"
                    [bindValue]="'value'"
                    [items]="availableGoals"
                    [placeholder]="'Choose type'"
                    [isDisabled]="!!campaignGoal.id"
                    [isSearchable]="false"
                    [isClearable]="false"
                    [isDisabled]="isDisabled"
                    [hasError]="!!campaignGoalErrors?.type"
                    (valueChange)="onGoalTypeChange($event)"
                ></zem-select-input>
                <div
                    class="zem-campaign-goal-edit-form__goal-type-item zem-message zem-message--error"
                    *ngFor="let error of campaignGoalErrors?.type"
                >
                    {{ error }}
                </div>
            </div>
        </div>
    </div>
</div>
<zem-select-form-group
    class="zem-campaign-goal-edit-form__item zem-select-form-group zem-campaign-goal-edit-form__select-setting"
    *ngIf="campaignGoal.conversionGoal"
    [label]="'Type'"
    [helpMessage]="'The technology used for tracking conversions or goals.'"
    [value]="campaignGoal.conversionGoal.type"
    [bindLabel]="'name'"
    [bindValue]="'value'"
    [items]="CAMPAIGN_CONVERSION_GOAL_TYPES"
    [placeholder]="'Choose type'"
    [isDisabled]="!!campaignGoal.id || isDisabled"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="campaignGoalErrors?.conversionGoal?.type"
    (valueChange)="onConversionGoalTypeChange($event)"
></zem-select-form-group>
<div
    class="zem-campaign-goal-edit-form__item"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.PIXEL
    "
>
    <div class="zem-form-group">
        <label
            class="zem-form-group__label zem-form-group__label--match-input-height zem-campaign-goal-edit-form__label"
        >
            Pixel
            <zem-help-popover
                class="zem-help-popover"
                content="'One of pre-set conversions pixels. You can add additional ones on Account tab of the account.'"
                placement="bottom"
            ></zem-help-popover>
        </label>
        <div
            class="zem-form-group__content zem-campaign-goal-edit-form__pixel-container"
        >
            <div
                class="zem-campaign-goal-edit-form__pixel-container-item zem-campaign-goal-edit-form__pixel"
            >
                <ng-container *ngIf="!isConversionPixelNameVisible">
                    <zem-select-input
                        class="zem-campaign-goal-edit-form__pixel-item zem-select-input"
                        [value]="campaignGoal.conversionGoal.goalId"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="availablePixels"
                        [placeholder]="'Choose pixel'"
                        [isDisabled]="!!campaignGoal.id || isDisabled"
                        [isSearchable]="false"
                        [isClearable]="false"
                        [hasError]="
                            !!campaignGoalErrors?.conversionGoal?.goalId
                        "
                        (valueChange)="onConversionGoalIdChange($event)"
                    ></zem-select-input>
                    <div
                        class="zem-campaign-goal-edit-form__pixel-item zem-message zem-message--error"
                        *ngFor="
                            let error of campaignGoalErrors?.conversionGoal
                                ?.goalId
                        "
                    >
                        {{ error }}
                    </div>
                </ng-container>
                <ng-container *ngIf="isConversionPixelNameVisible">
                    <zem-text-input
                        class="zem-campaign-goal-edit-form__pixel-item zem-text-input"
                        [value]="conversionPixelName"
                        [placeholder]="'Pixel name'"
                        [isDisabled]="isDisabled"
                        [hasError]="!!conversionPixelErrors?.name"
                        (valueChange)="onConversionPixelNameChange($event)"
                    ></zem-text-input>
                    <div
                        class="zem-campaign-goal-edit-form__pixel-item zem-message zem-message--error"
                        *ngFor="let error of conversionPixelErrors?.name"
                    >
                        {{ error }}
                    </div>
                </ng-container>
            </div>
            <div
                class="zem-campaign-goal-edit-form__pixel-container-item zem-campaign-goal-edit-form__pixel-actions"
            >
                <div
                    class="zem-campaign-goal-edit-form__pixel-action"
                    *ngIf="!isConversionPixelNameVisible"
                >
                    <zem-button
                        class="zem-button"
                        [isDisabled]="!!campaignGoal.id || isDisabled"
                        [icon]="'add'"
                        (click)="addConversionPixel()"
                    >
                        Add pixel
                    </zem-button>
                </div>
                <ng-container *ngIf="isConversionPixelNameVisible">
                    <div class="zem-campaign-goal-edit-form__pixel-action">
                        <zem-button
                            class="zem-button"
                            [isHighlighted]="true"
                            [isLoading]="conversionPixelIsLoading"
                            [isDisabled]="
                                !conversionPixelName ||
                                conversionPixelIsLoading ||
                                isDisabled
                            "
                            [icon]="'check'"
                            (click)="createConversionPixel()"
                        >
                            Save
                        </zem-button>
                    </div>
                    <div class="zem-campaign-goal-edit-form__pixel-action">
                        <zem-button
                            class="zem-button"
                            [isOutlined]="true"
                            [isDisabled]="conversionPixelIsLoading"
                            (click)="cancelConversionPixel()"
                        >
                            Cancel
                        </zem-button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<zem-select-form-group
    class="zem-campaign-goal-edit-form__item zem-select-form-group zem-campaign-goal-edit-form__select-setting"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.PIXEL &&
        campaignGoal.conversionGoal.goalId
    "
    [label]="'Conversion window'"
    [helpMessage]="
        'Conversion will be counted if less than the specified amount of time has passed before the first visit and the actual conversion.'
    "
    [value]="campaignGoal.conversionGoal.conversionWindow"
    [bindLabel]="'name'"
    [bindValue]="'value'"
    [items]="availableWindows"
    [placeholder]="'Choose conversion window'"
    [isDisabled]="!!campaignGoal.id || isDisabled"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="campaignGoalErrors?.conversionGoal?.conversionWindow"
    (valueChange)="onConversionGoalWindowChange($event)"
></zem-select-form-group>
<zem-text-form-group
    class="zem-campaign-goal-edit-form__item zem-text-form-group zem-campaign-goal-edit-form__text-setting"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.GA
    "
    [label]="'Choose Goal'"
    [helpMessage]="
        'The name or id of Google Analytics goal that is tracking the conversions. Can be left empty in case of unnumbered or unnamed goal.'
    "
    [value]="campaignGoal.conversionGoal.goalId"
    [placeholder]="'Goal name'"
    [isDisabled]="!!campaignGoal.id || isDisabled"
    [errors]="campaignGoalErrors?.conversionGoal?.goalId"
    (valueChange)="onConversionGoalIdChange($event)"
></zem-text-form-group>
<zem-text-form-group
    class="zem-campaign-goal-edit-form__item zem-text-form-group zem-campaign-goal-edit-form__text-setting"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.OMNITURE
    "
    [label]="'Choose Event'"
    [helpMessage]="
        'The Adobe Analytics event that is tracking the conversions.'
    "
    [value]="campaignGoal.conversionGoal.goalId"
    [placeholder]="'Event name'"
    [isDisabled]="!!campaignGoal.id || isDisabled"
    [errors]="campaignGoalErrors?.conversionGoal?.goalId"
    (valueChange)="onConversionGoalIdChange($event)"
></zem-text-form-group>
