<div
    class="button button--with-icon button--with-input button--dropdown-toggle-icon calendar-icon"
    ng-if="$ctrl.isInitialized"
>
    <input
        class="button__input-field zem-header-date-range-picker--desktop"
        date-range-picker
        type="text"
        ng-model="$ctrl.dateRange"
        options="$ctrl.dateRangePickerOptions"
    />
    <input
        class="button__input-field zem-header-date-range-picker--mobile"
        date-range-picker
        type="text"
        ng-model="$ctrl.dateRange"
        options="$ctrl.dateRangePickerOptions"
        readonly
    />
</div>
