<ng-container
    *ngIf="blacklistActions?.length > 0 && blacklistLevels?.length > 0"
>
    <div
        *ngFor="let blacklistAction of blacklistActions"
        class="zem-bulk-blacklist-actions__dropdown"
        zemDropdown
        [isDropdownDisabled]="
            dropdownsDisabled ||
            store.state.requests.updateBlacklistStatuses.inProgress
        "
        [suppressDropdownMobileStyle]="true"
        [zemPopover]="
            'At least one Publisher has to be selected before using ' +
            blacklistAction.name +
            ' blacklist.'
        "
        [isPopoverDisabled]="!dropdownsDisabled"
        triggers="mouseenter:mouseleave"
        popoverContainer="body"
        popoverPlacement="top"
    >
        <button
            class="zem-button-legacy zem-button-legacy--dropdown-toggle-icon"
            zemDropdownToggle
        >
            {{ blacklistAction.name }} blacklist
        </button>
        <div
            class="zem-bulk-blacklist-actions__dropdown-content"
            zemDropdownContent
        >
            <ul class="zem-bulk-blacklist-actions__list">
                <li
                    *ngFor="let blacklistLevel of blacklistLevels"
                    class="zem-bulk-blacklist-actions__list-item"
                    (click)="
                        updateBlacklistStatuses(
                            blacklistAction.status,
                            blacklistLevel.level
                        )
                    "
                >
                    {{ blacklistAction.name }}
                    {{ blacklistLevel.name }} blacklist
                </li>
            </ul>
        </div>
    </div>
    <zem-loader
        class="zem-loader zem-loader--small zem-bulk-blacklist-actions__loader"
        [ngStyle]="{
            display: store.state.requests.updateBlacklistStatuses.inProgress
                ? 'inline-block'
                : 'none'
        }"
    ></zem-loader>
</ng-container>
