<div class="zem-form-group">
    <label
        class="zem-form-group__label zem-form-group__label--match-input-height"
    >
        {{ label }}
        <zem-help-popover
            class="zem-help-popover"
            *ngIf="helpMessage"
            content="{{ helpMessage }}"
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-form-group__content">
        <zem-trackers
            class="zem-form-group__content-item zem-trackers"
            [trackers]="value"
            [trackersErrors]="errors"
            [isDisabled]="isDisabled"
            [isLoading]="isLoading"
            [canUseExtraTrackers]="canUseExtraTrackers"
            (trackersChange)="valueChange.emit($event)"
        ></zem-trackers>
    </div>
</div>
