@default-font-family: 'Roboto', sans-serif;

@default-color: #2fa8c7;
@text-color: #333333;

@add-color: #f68620;
@add-color-hover: #dd771b;
@add-filter-color: @default-color;
@internal-color: #0ab00a;
@border-color: #ebebeb;
@border-input-color: #d2d2d2;
@line-color: #EEEEEE;

@updated-color: #dff0d8;
@canceled-color: #414141;

@infobox-black: #414141;
@infobox-gray: #aaaaaa;
@infobox-dark-gray: #888888;

@insights-table-gray: #fafafa;
@insights-table-header: #d7d7d7;
@insights-text-green: #70c700;
@insights-text-red: #cb0101;

@sidebar-background-inactive: #f6f6f6;
@sidebar-background-active: #ecf6f8;
@sidebar-border-gray: #dddddd;
@sidebar-border-highlight: #43a8c6;

@background-light-gray: #ebebeb;

@white: #fff;
@light-gray: #999999;
@dark-gray: #666666;
@red: #cc0000;
@green: #99cc00;

@status-green: #00cc00;
@status-orange: #ff9900;
@status-red: #ff0000;

@default-spacing: 20px;