<zem-select-setting
    class="zem-rule-form__section-item zem-select-setting zem-rule-form__select-setting"
    [label]="'Type:'"
    [value]="model.type"
    [helpMessage]="'Type ...'"
    [bindLabel]="'name'"
    [bindValue]="'value'"
    [items]="availableActionTypes"
    [isSearchable]="false"
    [isClearable]="false"
    (valueChange)="setType($event)"
></zem-select-setting>
<zem-select-setting
    class="zem-rule-form__section-item zem-select-setting zem-rule-form__select-setting"
    [label]="'Action frequency:'"
    [value]="model.frequency"
    [helpMessage]="'Action frequency ...'"
    [bindLabel]="'name'"
    [bindValue]="'value'"
    [isDisabled]="!ruleActionConfig"
    [items]="ruleActionConfig ? ruleActionConfig.frequencies : []"
    [isSearchable]="false"
    [isClearable]="false"
    (valueChange)="setFrequency($event)"
></zem-select-setting>
<div class="zem-rule-form__section-description">
    The minimum amount of time that needs to pass since the last action.
</div>
<ng-container *ngIf="model.type">
    <ng-container
        *ngIf="
            model.type === RuleActionType.IncreaseBudget ||
            model.type === RuleActionType.DecreaseBudget
        "
    >
        <zem-currency-setting
            class="zem-rule-form__section-item zem-currency-setting zem-rule-form__currency-setting"
            [label]="'Value:'"
            [value]="model.value"
            [helpMessage]="'Value ...'"
            [currencySymbol]="'%'"
            (valueChange)="setValue($event)"
        ></zem-currency-setting>
        <zem-currency-setting
            class="zem-rule-form__section-item zem-currency-setting zem-rule-form__currency-setting"
            [label]="ruleActionConfig.limitLabel"
            [value]="model.limit"
            [helpMessage]="'Limit ...'"
            [currencySymbol]="ruleActionConfig.limitUnit"
            (valueChange)="setLimit($event)"
        ></zem-currency-setting>
        <div class="zem-rule-form__section-description">
            {{ ruleActionConfig.limitDescription }}
        </div>
    </ng-container>
    <ng-container *ngIf="model.type === RuleActionType.SendEmail">
        <div
            class="zem-rule-form__section-item zem-rule-form-action__email-container"
        >
            <div class="zem-rule-form-action__email">
                <zem-textarea-setting
                    class="zem-rule-form__section-item zem-textarea-setting"
                    [label]="'Email subject:'"
                    [value]="model.emailSubject"
                    [rows]="'1'"
                    (valueChange)="setEmailSubject($event)"
                ></zem-textarea-setting>
                <zem-textarea-setting
                    class="zem-rule-form__section-item zem-textarea-setting"
                    [label]="'Email body:'"
                    [value]="model.emailBody"
                    [rows]="'5'"
                    (valueChange)="setEmailBody($event)"
                ></zem-textarea-setting>
                <zem-text-setting
                    class="zem-rule-form__section-item zem-textarea-setting"
                    [label]="'Email recipients:'"
                    [value]="model.emailRecipients"
                    (valueChange)="setEmailRecipients($event)"
                ></zem-text-setting>
                <div class="zem-rule-form__section-description">
                    Comma separated list of recipient's emails.
                </div>
            </div>
            <div class="zem-rule-form-action__macro">
                <zem-select-setting
                    class="zem-rule-form__section-item zem-select-setting"
                    [label]="'Macro:'"
                    [value]="macro"
                    [bindLabel]="'name'"
                    [bindValue]="'value'"
                    [items]="availableMacros"
                    [isSearchable]="false"
                    [isClearable]="false"
                    (valueChange)="setMacro($event)"
                ></zem-select-setting>
                <button
                    class="zem-rule-form__section-item button button--highlight button--with-icon add-icon"
                    [disabled]="!macro"
                    (click)="addMacro()"
                >
                    Add
                </button>
            </div>
        </div>
    </ng-container>
</ng-container>
