.modal-zem-upload .modal-dialog {
    @modal-content-width: 1180px;
    margin-top: 10vh !important;
    width: @modal-content-width;
    box-sizing: border-box;
    max-height: 70vh;

    zem-internal-feature .internal {
        position: absolute;

        &:before {
            content: " ";
            width: 0;
            height: 0;
            display: block;
            border-top: 7px solid @internal-color;
            border-right: 7px solid transparent;
            float: left;
        }
    }

    button .internal {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .modal-body {
        overflow: hidden;
        position: relative;
		margin-bottom: 0 !important;

        .description {
            margin-bottom: 20px;
            color: @gray;
        }
    }

    .contentad-picker {
        padding: 0 !important;
        width: 100%;
        overflow: hidden;
        height: 70vh;
    }

    .candidate-table {
        width: @modal-content-width;
        transition: none;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;

        .batch-name {
            border-bottom: 4px solid @primary-color;
            padding: 8px 60px 8px 15px;
            margin: 0;
            color: @primary-color;
            position: relative;
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;

            span {
                color: @text-color;
                font-size: 18px;
                font-weight: 300;
            }

            .button {
                position: absolute;
                top: 11px;
                right: 10px;
            }

            input {
                display: inline-block;
                width: 88.2%;
                color: @primary-color;
                font-size: 18px;
                font-weight: 500;
                padding: 0 5px;
                line-height: 28px;
                height: auto;
            }

            .title {
                color: @secondary-color;
                font-weight: 500;
                line-height: 30px;
            }

            &.has-error {
                span {
                    color: @red;
                }

                input {
                    color: @red;
                }
            }
        }

        table {
            margin-bottom: 0;

            tr {
                cursor: pointer;

                td {
                    padding: 6px 10px;
                    vertical-align: middle;
                    height: 55px;
                }
            }

            tr:first-child td {
                border-top: none;
            }

            tr:last-child td {
                border-bottom: 1px solid tint(@secondary-color,80%);
            }

            tr:hover td {
                background: tint(@secondary-color,96%);
            }

            td.status {
                width: 40px;
            }

            td.image {
                width: 60px;
                background-image: url('img/dummy_ad_image.png') !important;
                background-size: 40px 40px !important;
                background-position: 10px 6px !important;
                background-repeat: no-repeat !important;

                img {
                    width: 40px;
                    height: auto;
                }
            }

            td.link {
                max-width: 560px;
                word-wrap: break-word;
            }

            td.errors div {
                color: @red;
                position: relative;

                img {
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 0;
                    top: 2px;
                }
                span {
                    padding-left: 20px;
                    line-height: 20px;
                    display: block;
                }
            }

            td.action {
                text-align: right;
                white-space: nowrap;

                .error {
                    padding-top: 6px;
                    white-space: normal;
                }
            }
        }

        .buttons-panel {
            background-color: transparent;
            box-shadow: none;

            img.loader-icon {
                vertical-align: initial;
            }
        }
    }

    .edit-form {
        width: @modal-content-width - @modal-content-width*0.4;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0;
        bottom: 0;
        right: -(@modal-content-width - @modal-content-width*0.4 + 20);
        transition: all 200ms ease-in-out;
        padding: 0 15px 15px 15px;
        background: tint(@secondary-color,96%);
        box-shadow: 0 0 10px 0 fade(@secondary-color,25%);

        .button-close {
            position: absolute;
            top: 5px;
            right: 15px;
            background: none;
            border: none;
            line-height: 35px;
        }
        h4 {
            border-bottom: 1px solid #d2d2d2;
            padding: 15px 100px 11px 0;
            margin: 0 0 20px 0;
            color: @text-color;
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
        }
        .form-group {
            margin-bottom: 10px;

            .button {
                &:focus {
                    border: 1px solid @primary-color;
                }
            }

            .control-label {
                font-size: 13px;
            }

            input.form__input-text {
                padding-right: 30px;

                &[disabled] {
                    background-color: transparent;
                    pointer-events: none;
                }
            }

            textarea.form__textarea {
                padding-right: 30px;
            }

            .action-link {
                font-size: 12px;
                color: @text-color;
                font-weight: 400;
                display: inline-block;
            }
        }
    }

    .editing {
        .candidate-table {
            width: @modal-content-width - @modal-content-width*0.6;
            transition: all 200ms ease-in-out;

            .batch-name {
                input {
                    width: 75%;
                }

                .button {
                    font-size: 0;
                    padding-left: 22px;
                }
            }

            tr.selected td {
                background: tint(@secondary-color,96%);
            }
            td.link {
                display: none;
            }
            td.errors div {
                width: 14px;
                height: 14px;

                &:first-child {
                    margin-bottom: 4px;
                }
                img {
                    position: relative;
                    display: block;
                    top: 0;
                }
                span {
                    display: none;
                }
            }
            td.action {
                white-space: nowrap;

                .button {
                    font-size: 0;
                    padding-left: 27px;
                }
            }
        }
        .edit-form {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            .input-indicator {
                position: absolute;
                left: -43px;
                top: 4px;
                // FIXME: quick fix by luka
                // width: auto;
                // height: (@default-button-input-height)-8;
                width: 22px;
                height: auto;

                &.input-success {
                    animation: fadeOut 0.5s 1;
                    animation-fill-mode: forwards;
                    animation-delay:2s;
                    width: (@default-button-input-height)-8;
                    height: (@default-button-input-height)-8;
                }
            }
        }
    }

    .control-label.small {
        font-size: 12px;
        font-weight: 400;
        padding-top: 9px;
        color: @gray;

        &.error {
            color: @red;
        }
    }

    .form-group {
        .info {
            color: @gray;

            .file-choosen {
                display: inline-block;
                width: 50%;
            }

            .help-block {
                padding: 10px 0 0 30px;
                position: relative;
                font-style: normal;

                .small-icon {
                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                }
                a {
                    display: block;
                    font-weight: 700;
                    color: @gray;
                }
            }
        }
    }

    .uploading_completed {
        padding: 30px 50px 30px 160px;
        position: relative;

        img {
            width: 120px;
            height: 120px;
            position: absolute;
            left: 0;
            top: 20px;
        }

        h1 {
            color: @green;
        }
    }
}
