<div class="zem-form-group">
    <label class="zem-form-group__label">
        {{ label }}
        <zem-help-popover
            class="zem-help-popover"
            *ngIf="helpMessage"
            content="{{ helpMessage }}"
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-form-group__content">
        <zem-textarea
            class="zem-textarea zem-form-group__content-item"
            [value]="model"
            [statusIcon]="statusIcon"
            [maxLength]="maxLength"
            [rows]="rows"
            [placeholder]="placeholder"
            [isDisabled]="isDisabled"
            [isFocused]="isFocused"
            [hasError]="errors && errors.length > 0"
            (inputBlur)="onBlur($event)"
            (inputFocus)="onFocus()"
        ></zem-textarea>
        <div
            class="zem-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
    </div>
</div>
