<div class="zem-form-group">
    <label class="zem-form-group__label">
        {{ label }}
        <zem-help-popover
            class="zem-help-popover"
            *ngIf="helpMessage"
            content="{{ helpMessage }}"
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-form-group__content">
        <textarea
            class="zem-form-group__content-item zem-input-textarea"
            [ngClass]="{
                'zem-input-textarea--error': errors && errors.length > 0
            }"
            type="text"
            placeholder="{{ placeholder }}"
            maxlength="{{ maxLength }}"
            rows="{{ rows }}"
            [(ngModel)]="model"
            (blur)="onBlur($event)"
            [disabled]="isDisabled"
            [zemFocus]="isFocused"
        ></textarea>
        <div
            class="zem-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
    </div>
</div>
