<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Action"
    [value]="actionType"
    bindLabel="label"
    bindValue="type"
    [items]="availableActions"
    [isDisabled]="availableActions.length === 0"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="actionTypeErrors"
    (valueChange)="selectActionType($event)"
></zem-select-form-group>

<zem-currency-form-group
    class="zem-rule-edit-form__section-item zem-currency-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasValue"
    label="Increase/decrease by"
    [value]="formatChangeStep(changeStep, actionType)"
    [currencySymbol]="getUnitText(selectedActionConfig.unit)"
    [fractionSize]="0"
    [errors]="changeStepErrors"
    (valueChange)="updateChangeStep($event, actionType)"
></zem-currency-form-group>

<!-- TODO (automation-rules): Check why help message is not updated when selectedActionConfig.limitDescription changes -->
<zem-currency-form-group
    class="zem-rule-edit-form__section-item zem-currency-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasLimit"
    [label]="selectedActionConfig.limitLabel"
    [value]="formatChangeLimit(changeLimit, actionType)"
    [helpMessage]="selectedActionConfig.limitDescription"
    [currencySymbol]="getUnitText(selectedActionConfig.unit)"
    [fractionSize]="0"
    [errors]="changeLimitErrors"
    (valueChange)="updateChangeLimit($event, actionType)"
></zem-currency-form-group>

<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Action frequency"
    [value]="actionFrequency"
    helpMessage="The minimum amount of time that needs to pass since the last action."
    bindLabel="label"
    bindValue="value"
    [isDisabled]="!actionType"
    [items]="availableActionFrequencies"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="actionFrequencyErrors"
    (valueChange)="selectActionFrequency($event)"
></zem-select-form-group>

<ng-container *ngIf="actionType === RuleActionType.SendEmail">
    <div
        class="zem-rule-edit-form__section-item zem-rule-edit-form-action__email-container"
    >
        <div class="zem-rule-edit-form-action__email">
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email subject"
                [value]="sendEmailSubject"
                rows="1"
                (valueChange)="updateSendEmailSubject($event)"
                [errors]="sendEmailSubjectErrors"
            ></zem-textarea-form-group>
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email body"
                [value]="sendEmailBody"
                rows="5"
                (valueChange)="updateSendEmailBody($event)"
                [errors]="sendEmailBodyErrors"
            ></zem-textarea-form-group>
            <zem-text-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email recipients"
                [value]="sendEmailRecipients"
                (valueChange)="updateSendEmailRecipients($event)"
                [errors]="sendEmailRecipientsErrors"
            ></zem-text-form-group>
            <div class="zem-rule-edit-form__section-description">
                Comma separated list of recipient's emails.
            </div>
        </div>
    </div>
</ng-container>
