<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Action"
    [value]="selectedTargetAndActionType"
    bindLabel="label"
    bindValue="value"
    [items]="availableTargetAndActionTypes"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="actionTypeErrors"
    (valueChange)="selectTargetAndActionType($event)"
    [appendTo]="'body'"
></zem-select-form-group>

<zem-currency-form-group
    class="zem-rule-edit-form__section-item zem-currency-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasValue"
    label="Increase/decrease by"
    [value]="formatChangeStep(changeStep, actionType)"
    [currencySymbol]="getUnitText(selectedActionConfig.unit)"
    [fractionSize]="2"
    [errors]="changeStepErrors"
    (valueChange)="updateChangeStep($event, actionType)"
></zem-currency-form-group>

<!-- TODO (automation-rules): Check why help message is not updated when selectedActionConfig.limitDescription changes -->
<zem-currency-form-group
    class="zem-rule-edit-form__section-item zem-currency-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasLimit"
    [label]="selectedActionConfig.limitLabel"
    [value]="formatChangeLimit(changeLimit, actionType)"
    [helpMessage]="selectedActionConfig.limitDescription"
    [currencySymbol]="getUnitText(selectedActionConfig.unit)"
    [fractionSize]="2"
    [errors]="changeLimitErrors"
    (valueChange)="updateChangeLimit($event, actionType)"
></zem-currency-form-group>

<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Publisher Group"
    [value]="publisherGroupId"
    helpMessage="The publisher group to be used."
    bindLabel="label"
    bindValue="value"
    *ngIf="selectedActionConfig.hasPublisherGroupSelector"
    [items]="availablePublisherGroupsItems"
    [isLoading]="isSearchLoading"
    [isSearchable]="true"
    [isClearable]="false"
    [errors]="publisherGroupIdErrors"
    (valueChange)="updatePublisherGroup($event)"
    (search)="publisherGroupsSearch.emit($event)"
    (open)="publisherGroupsOpen.emit()"
></zem-select-form-group>

<zem-select-form-group
    label="Action frequency"
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    [value]="actionFrequency"
    helpMessage="The minimum amount of time that needs to pass since the last action."
    bindLabel="label"
    bindValue="value"
    [isDisabled]="
        !actionType ||
        !availableActionFrequencies ||
        !availableActionFrequencies.length
    "
    [items]="availableActionFrequencies"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="actionFrequencyErrors"
    (valueChange)="selectActionFrequency($event)"
    [appendTo]="'body'"
></zem-select-form-group>

<ng-container *ngIf="actionType === RuleActionType.SendEmail">
    <div
        class="zem-rule-edit-form__section-item zem-rule-edit-form-action__email-container"
    >
        <div class="zem-rule-edit-form-action__email">
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email subject"
                [value]="sendEmailSubject"
                rows="1"
                (valueChange)="updateSendEmailSubject($event)"
                [errors]="sendEmailSubjectErrors"
            ></zem-textarea-form-group>
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email body"
                [value]="sendEmailBody"
                rows="5"
                (valueChange)="updateSendEmailBody($event)"
                [errors]="sendEmailBodyErrors"
            ></zem-textarea-form-group>
            <zem-text-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email recipients"
                [value]="sendEmailRecipients"
                (valueChange)="updateSendEmailRecipients($event)"
                [errors]="sendEmailRecipientsErrors"
            ></zem-text-form-group>
            <div
                class="zem-rule-edit-form__section-description zem-rule-edit-form__section-item"
            >
                Comma separated list of recipient's emails.
            </div>
        </div>
        <div class="zem-rule-edit-form-action__macro">
            <zem-select-form-group
                class="zem-rule-edit-form__section-item zem-select-form-group"
                placeholder="Add a macro"
                [value]="selectedMacro"
                bindLabel="label"
                bindValue="value"
                [items]="EMAIL_MACROS"
                [isSearchable]="false"
                [isClearable]="true"
                (valueChange)="selectMacro($event)"
                [appendTo]="'body'"
            ></zem-select-form-group>
            <button
                class="zem-rule-edit-form__section-item button button--highlight button--with-icon add-icon"
                [disabled]="!selectedMacro"
                (click)="appendSelectedMacro()"
            >
                Add
            </button>
        </div>
    </div>
</ng-container>
