<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Action"
    [value]="ruleAction.type"
    bindLabel="label"
    bindValue="type"
    [items]="availableActions"
    [isDisabled]="availableActions.length === 0"
    [isSearchable]="false"
    [isClearable]="false"
    (valueChange)="selectType($event)"
></zem-select-form-group>

<zem-currency-form-group
    class="zem-rule-edit-form__section-item zem-currency-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasValue"
    label="Increase/decrease by"
    [value]="ruleAction.value"
    [currencySymbol]="getUnitText(selectedActionConfig.unit)"
    (valueChange)="updateValue($event)"
></zem-currency-form-group>

<!-- TODO (automation-rules): Check why help message is not updated when selectedActionConfig.limitDescription changes -->
<zem-currency-form-group
    class="zem-rule-edit-form__section-item zem-currency-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasLimit"
    [label]="selectedActionConfig.limitLabel"
    [value]="ruleAction.limit"
    [helpMessage]="selectedActionConfig.limitDescription"
    [currencySymbol]="getUnitText(selectedActionConfig.unit)"
    (valueChange)="updateLimit($event)"
></zem-currency-form-group>

<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Action frequency"
    [value]="ruleAction.frequency"
    helpMessage="The minimum amount of time that needs to pass since the last action."
    bindLabel="label"
    bindValue="value"
    [isDisabled]="!ruleAction.type"
    [items]="availableActionFrequencies"
    [isSearchable]="false"
    [isClearable]="false"
    (valueChange)="selectFrequency($event)"
></zem-select-form-group>

<ng-container *ngIf="ruleAction.type === RuleActionType.SendEmail">
    <div
        class="zem-rule-edit-form__section-item zem-rule-edit-form-action__email-container"
    >
        <div class="zem-rule-edit-form-action__email">
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email subject"
                [value]="ruleAction.emailSubject"
                rows="1"
                (valueChange)="updateEmailSubject($event)"
            ></zem-textarea-form-group>
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email body"
                [value]="ruleAction.emailBody"
                rows="5"
                (valueChange)="updateEmailBody($event)"
            ></zem-textarea-form-group>
            <zem-text-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email recipients"
                [value]="ruleAction.emailRecipients"
                (valueChange)="updateEmailRecipients($event)"
            ></zem-text-form-group>
            <div class="zem-rule-edit-form__section-description">
                Comma separated list of recipient's emails.
            </div>
        </div>
        <div class="zem-rule-edit-form-action__macro">
            <zem-select-form-group
                class="zem-rule-edit-form__section-item zem-select-form-group"
                label="Macro"
                [value]="selectedMacro"
                bindLabel="label"
                bindValue="value"
                [items]="EMAIL_MACROS"
                [isSearchable]="false"
                [isClearable]="false"
                (valueChange)="selectMacro($event)"
            ></zem-select-form-group>
            <button
                class="zem-rule-edit-form__section-item button button--highlight button--with-icon add-icon"
                [disabled]="!selectedMacro"
                (click)="appendSelectedMacro()"
            >
                Add
            </button>
        </div>
    </div>
</ng-container>
