@import 'variables';

.zem-alerts-container {
    .message {
        margin: 0 0 @default-spacing 0;
        display: block;
    }

    zem-internal-feature .internal {
        position: absolute;
        top: 0px;
        left: 0px;

        &:before {
            content: ' ';
            width: 0;
            height: 0;
            display: block;
            border-top: 7px solid @internal-color;
            border-right: 7px solid transparent;
            float: left;
        }
    }
}
