@import 'variables';

.zem-campaign-cloning-form {
    display: block;
}

.zem-campaign-cloning-form__item {
    display: block;
    margin-bottom: @spacing--default;
}

.zem-campaign-cloning-form__item:last-child {
    margin-bottom: 0;
}
