<div class="zem-breakdown-cell">
    <span
        *ngIf="valueType === BreakdownValueType.TEXT"
        class="zem-breakdown-cell__value zem-breakdown-cell__item"
        >{{ valueFormatted }}</span
    >
    <a
        *ngIf="
            valueType === BreakdownValueType.INTERNAL_LINK ||
            valueType === BreakdownValueType.EXTERNAL_LINK
        "
        class="zem-breakdown-cell__value zem-breakdown-cell__value--link zem-breakdown-cell__item"
        href="{{ url }}"
        (click)="openUrl($event)"
        title="{{ valueFormatted }}"
        >{{ valueFormatted }}</a
    >
    <zem-help-popover
        *ngIf="popoverTooltip"
        class="zem-help-popover zem-breakdown-cell__item"
        content="{{ popoverTooltip }}"
        placement="{{ params.popoverPlacement || 'top' }}"
    ></zem-help-popover>
</div>
