.zem-breakdown-cell {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.zem-breakdown-cell__item:not(:last-child) {
    margin-right: 5px;
}

.zem-breakdown-cell__value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
