<div class="zem-content-ad-tracker-form__item">
    <button
        *ngFor="let method of availableTrackerMethods"
        class="zem-button zem-content-ad-tracker-form__method-button"
        [class.zem-button--highlighted]="
            contentAdTracker.method === method.value
        "
        [class.zem-button--outlined]="contentAdTracker.method !== method.value"
        [disabled]="isDisabled"
        (click)="onMethodChanged(method.value)"
    >
        {{ method.name }}
    </button>
</div>
<ng-container *ngIf="contentAdTracker.method">
    <zem-select-input
        class="zem-select-input zem-content-ad-tracker-form__item"
        bindLabel="name"
        bindValue="value"
        [placeholder]="'Please select Event type'"
        [isDisabled]="isDisabled"
        [value]="contentAdTracker.eventType"
        [items]="availableTrackerEventTypes"
        (valueChange)="onEventTypeChanged($event)"
    ></zem-select-input>
    <div
        class="zem-content-ad-tracker-form__item zem-message zem-message--error"
        *ngIf="contentAdTrackerErrors?.eventType"
    >
        {{ contentAdTrackerErrors?.eventType }}
    </div>
    <zem-text-input
        class="zem-text-input zem-content-ad-tracker-form__item"
        placeholder="Paste your tracker URL here"
        [isDisabled]="isDisabled"
        [value]="contentAdTracker.url"
        (inputBlur)="onUrlChanged($event)"
    ></zem-text-input>
    <div
        class="zem-content-ad-tracker-form__item zem-message zem-message--error"
        *ngIf="contentAdTrackerErrors?.url"
    >
        {{ contentAdTrackerErrors?.url }}
    </div>
    <div
        *ngIf="showMacroFormatWarning"
        class="zem-content-ad-tracker-form__item zem-message zem-message--bubble zem-message--warning zem-message--with-icon"
    >
        There is a “$” before the macro in the URL. Are you sure this was
        intended? Learn more about how to use macros
        <a
            href="https://help.zemanta.com/article/show/12985-tracking-parameters--macros"
            target="_blank"
            >here</a
        >.
    </div>
    <div
        *ngIf="contentAdTracker.method === trackerMethod.JS"
        class="zem-content-ad-tracker-form__item zem-content-ad-tracker-form__input-help"
    >
        <a *ngIf="!showFallbackUrlInput" (click)="showFallbackUrlInput = true"
            >Add fallback image pixel tracker</a
        >
        <zem-text-input
            *ngIf="showFallbackUrlInput"
            class="zem-text-input zem-content-ad-tracker-form__input-help-input"
            placeholder="Paste your image pixel tracker URL here"
            [isDisabled]="isDisabled"
            [value]="contentAdTracker.fallbackUrl"
            (inputBlur)="onFallbackUrlChanged($event)"
        ></zem-text-input>
        <zem-help-popover
            class="zem-content-ad-tracker-form__input-help-icon"
            [content]="
                'Allows to insert image version of the tracker. Zemanta will pass this tracker where JavaScript tracking is not supported.'
            "
        >
        </zem-help-popover>
    </div>
    <div
        class="zem-text-input zem-content-ad-tracker-form__item zem-message zem-message--error"
        *ngIf="contentAdTrackerErrors?.fallbackUrl"
    >
        {{ contentAdTrackerErrors?.fallbackUrl }}
    </div>
    <div
        class="zem-content-ad-tracker-form__item zem-content-ad-tracker-form__description"
    >
        Please make sure all trackers are GDPR compliant. Zemanta will not pass
        trackers in GDPR restricted areas if they are non-compliant. To limit
        your buying exclusively to traffic where tracking is supported, please
        deselect the checkbox below.
    </div>
    <zem-checkbox-input
        class="zem-checkbox-input zem-content-ad-tracker-form__item"
        label="Tracker optional"
        [isDisabled]="isDisabled"
        [isChecked]="contentAdTracker.trackerOptional"
        (toggle)="onTrackerOptionalChanged($event)"
    >
        Allow Zemanta to purchase traffic where 3rd party tracking is not
        supported.
    </zem-checkbox-input>
</ng-container>
