<div class="zem-form-group">
    <label
        class="zem-form-group__label zem-form-group__label--match-input-height"
    >
        {{ label }}
        <zem-help-popover
            class="zem-help-popover"
            *ngIf="helpMessage"
            content="{{ helpMessage }}"
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-form-group__content">
        <zem-select-input
            class="zem-form-group__content-item zem-select-input"
            [value]="model"
            [statusIcon]="statusIcon"
            [bindLabel]="bindLabel"
            [bindValue]="bindValue"
            [appendTo]="appendTo"
            [items]="items"
            [placeholder]="placeholder"
            [isDisabled]="isDisabled"
            [isSearchable]="isSearchable"
            [isClearable]="isClearable"
            [groupByValue]="groupByValue"
            [orderByValue]="orderByValue"
            [closeOnSelect]="closeOnSelect"
            [clearSearchOnSelect]="clearSearchOnSelect"
            [isLoading]="isLoading"
            [searchFn]="searchFn"
            [addCustomItemFn]="addCustomItemFn"
            [addCustomItemText]="addCustomItemText"
            [debounceTime]="debounceTime"
            [hasError]="errors && errors.length > 0"
            [searchOnFocus]="searchOnFocus"
            [loadingText]="loadingText"
            (valueChange)="onValueChange($event)"
            (search)="onSearch($event)"
            (open)="open.emit()"
        ></zem-select-input>
        <div
            class="zem-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
    </div>
</div>
