<div class="custom-panel">
    <div class="form zem-campaign-launcher-general-settings__basic-info-form">
        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.campaignName}"
        >
            <label class="form__label" for="campaign-name-input"
                >Campaign name:</label
            >
            <input
                class="input-text"
                id="campaign-name-input"
                type="text"
                ng-model="$ctrl.state.fields.campaignName"
                ng-change="$ctrl.onFieldChange()"
                ng-model-options="{debounce: 1000}"
            />
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.fieldsErrors.campaignName"
                for="campaign-name-input"
            >
                {{ error }}
            </div>
        </div>

        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.iabCategory}"
        >
            <label class="form__label" for="iab-category-select">
                Campaign category:
                <zem-help-popover
                    content="Specify campaign's content category. All campaigns must list one top-level category. If you are using mixed content consider splitting your campaign."
                    placement="top"
                >
                </zem-help-popover>
            </label>
            <ui-select
                class="button button--plain button--full-width button--dropdown-toggle-icon"
                theme="select2"
                id="iab-category-select"
                ng-model="$ctrl.state.fields.iabCategory"
                on-select="$ctrl.onFieldChange()"
                search-enabled="true"
            >
                <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices
                    repeat="category.value as category in $ctrl.availableIabCategories | filter: $select.search"
                    class="ui-select-choices"
                >
                    {{ category.name }}
                </ui-select-choices>
            </ui-select>
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.fieldsErrors.iabCategory"
                for="iab-category-select"
            >
                {{ error }}
            </div>
        </div>

        <div
            ng-if="$ctrl.hasPermission('zemauth.can_see_campaign_language_choices')"
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.language}"
        >
            <label class="form__label" for="language-select">
                Language in which ads are created:
                <zem-help-popover
                    content="Language can be updated only if Campaign has no Ad Groups yet."
                    placement="top"
                >
                </zem-help-popover>
            </label>
            <ui-select
                class="button button--plain button--full-width button--dropdown-toggle-icon"
                theme="select2"
                id="language-select"
                ng-model="$ctrl.state.fields.language"
                on-select="$ctrl.onFieldChange()"
                search-enabled="true"
            >
                <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices
                    repeat="language.value as language in $ctrl.availableLanguages | filter: $select.search"
                    class="ui-select-choices"
                >
                    {{ language.name }}
                </ui-select-choices>
            </ui-select>
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.state.fieldsErrors.language"
                for="language-select"
            >
                {{ error }}
            </div>
        </div>

        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.budgetAmount}"
        >
            <label class="form__label" for="budget-amount-input"
                >Total budget:</label
            >
            <div
                class="prefixed-field postfixed-field prefixed-field--narrow postfixed-field--narrow"
            >
                <span class="prefixed-field__prefix">{{
                    $ctrl.currencySymbol
                }}</span>
                <input
                    class="input-text"
                    id="budget-amount-input"
                    type="text"
                    zem-currency-input
                    fraction-size="0"
                    ng-model="$ctrl.state.fields.budgetAmount"
                    ng-change="$ctrl.onFieldChange()"
                    ng-model-options="{debounce: 1000}"
                />
                <span class="postfixed-field__postfix">.00</span>
            </div>
            <div
                ng-repeat="error in $ctrl.state.fieldsErrors.budgetAmount"
                class="message message--error"
                for="budget-amount-input"
            >
                {{ error }}
            </div>
        </div>

        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.maxCpc}"
        >
            <label class="form__label" for="cpc-input">
                Maximum bid CPC:
                <zem-help-popover
                    content="Maximum allowed CPC in this ad group."
                    placement="top"
                ></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow">
                <span class="prefixed-field__prefix">{{
                    $ctrl.currencySymbol
                }}</span>
                <input
                    class="input-text"
                    id="cpc-input"
                    type="text"
                    zem-currency-input
                    fraction-size="3"
                    empty-text="No limit"
                    ng-model="$ctrl.state.fields.maxCpc"
                    ng-change="$ctrl.onFieldChange()"
                    ng-model-options="{debounce: 1000}"
                />
            </div>
            <div
                ng-repeat="error in $ctrl.state.fieldsErrors.maxCpc"
                class="message message--error"
                for="cpc-input"
            >
                {{ error }}
            </div>
        </div>

        <div
            class="form__group"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.dailyBudget}"
        >
            <label class="form__label" for="autopilot-budget">
                Daily spend cap:
                <zem-help-popover
                    content="Amount of budget Autopilot can operate with on this Ad Group every day."
                    placement="top"
                ></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow">
                <span class="prefixed-field__prefix">{{
                    $ctrl.currencySymbol
                }}</span>
                <input
                    class="input-text"
                    id="autopilot-budget"
                    type="text"
                    zem-currency-input
                    fraction-size="0"
                    ng-model="$ctrl.state.fields.dailyBudget"
                    ng-change="$ctrl.onFieldChange()"
                    ng-model-options="{debounce: 1000}"
                />
            </div>

            <div
                ng-repeat="error in $ctrl.state.fieldsErrors.dailyBudget"
                class="message message--error"
                for="autopilot-budget"
            >
                {{ error }}
            </div>
        </div>
    </div>

    <div class="form">
        <div class="form__title">Campaign goal</div>
        <zem-campaign-launcher-goal
            class="zem-campaign-launcher-goal"
            state-service="$ctrl.stateService"
            account="$ctrl.account"
        >
        </zem-campaign-launcher-goal>
    </div>
</div>
