<div class="custom-panel zem-settings-component__container zem-adgroup-autopilot-settings">
    <h2 class="custom-panel__title">Autopilot</h2>

    <div class="message message--info message--with-icon m-b-s" ng-if="$ctrl.isCampaignAutopilot()">
        Autopilot is managed on campaign level.
    </div>

    <div class="form">
        <div class="form__radio">
            <label>
                <input class="input-radio" id="autopilot-on" type="radio" ng-model="$ctrl.autopilotEnabled" ng-value="{{ true }}" ng-disabled="$ctrl.isCampaignAutopilot()" ng-change="$ctrl.updateAutopilotSettings()">
                <span class="radio-text">
                    ON <span class="text-gray">- Let Zemanta One automatically optimize towards your campaign goal.</span>
                </span>
            </label>
        </div>

        <div class="form__indented" ng-show="!!$ctrl.autopilotEnabled && !$ctrl.isCampaignAutopilot()">
            <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.autopilotBudget}">
                <label class="form__label" for="autopilot-budget">
                    Ad Group's Daily Spend Cap
                    <zem-help-popover content="Amount of budget Autopilot can operate with on this Ad Group every day." placement="top"></zem-help-popover>
                </label>

                <div class="prefixed-field prefixed-field--narrow">
                    <span class="prefixed-field__prefix">{{$ctrl.currencySymbol}}</span>
                    <input class="input-text" id="autopilot-budget" type="text" ng-model="$ctrl.entity.settings.autopilotBudget" fraction-size="0"
                           zem-currency-input>
                </div>

                <div class="message message--error" for="autopilot-budget">{{ $ctrl.errors.autopilotBudget }}</div>
            </div>

            <div class="message message--info message--with-icon">
                Zemanta One will optimize for <b>{{$ctrl.getBudgetAutopilotOptimizationGoalText()}}</b>
                and try to hit the ad group's daily spend cap. To change optimization objective please change
                Primary Campaign Goal in Campaign Settings.<br/>
                <i>{{$ctrl.getBudgetAutopilotOptimizationCPAGoalText()}}</i>
            </div>
        </div>

        <div class="form__radio">
            <label>
                <input class="input-radio" id="autopilot-off" type="radio" ng-model="$ctrl.autopilotEnabled" ng-value="{{ false }}" ng-disabled="$ctrl.isCampaignAutopilot()" ng-change="$ctrl.updateAutopilotSettings()">
                <span class="radio-text">
                    OFF <span class="text-gray">- Manually manage Media Sources.</span>
                </span>
            </label>
        </div>

        <div class="form__indented" ng-show="!$ctrl.autopilotEnabled">
            <div class="form__title">Manage RTB sources:</div>

            <div zem-lazy-popover-html-unsafe="{{ $ctrl.getRTBSourcesPopoverText() }}"
                zem-lazy-popover-placement="top"
                zem-lazy-popover-append-to-body="true"
                zem-lazy-popover-animation-class="fade">
                <div class="form__radio">
                    <label>
                        <input class="input-radio" type="radio" id="rtb-sources-as-group"
                               ng-model="$ctrl.b1SourcesGroupEnabled" ng-value="true" ng-change="$ctrl.updateAutopilotSettings()">
                        <span class="radio-text">
                            As a group <span class="text-gray">- Set one Bid and Daily Spend Cap for all RTB sources together.</span>
                        </span>
                    </label>
                </div>

                <div class="form__radio">
                    <label>
                        <input class="input-radio" type="radio" id="rtb-sources-separately"
                               ng-model="$ctrl.b1SourcesGroupEnabled" ng-value="false" ng-change="$ctrl.updateAutopilotSettings()">
                        <span class="radio-text">
                            Separately <span class="text-gray">- Set Bid and Daily Spend Cap for each of the RTB sources.</span>
                        </span>
                    </label>
                </div>
            </div>

            <hr>

            <div class="form__title">Price Discovery:</div>

            <div zem-lazy-popover-html-unsafe="{{ $ctrl.getPriceDiscoveryPopoverText() }}"
                zem-lazy-popover-placement="top"
                zem-lazy-popover-append-to-body="true"
                zem-lazy-popover-animation-class="fade">

                <div class="form__radio">
                    <label>
                        <input class="input-radio" type="radio" id="price-discovery-automatic"
                            ng-model="$ctrl.priceDiscovery" ng-value="{{ true }}" ng-change="$ctrl.updateAutopilotSettings()">
                        <span class="radio-text">
                            Automatic <span class="text-gray">- Let Zemanta One discover the Bids in order to hit Daily Spend Caps of Media Sources.</span>
                        </span>
                    </label>
                </div>

                <div class="form__radio">
                    <label>
                        <input class="input-radio" type="radio" id="price-discovery-manual"
                            ng-model="$ctrl.priceDiscovery" ng-value="{{  false }}" ng-change="$ctrl.updateAutopilotSettings()">
                        <span class="radio-text">
                            Manual <span class="text-gray">- Take full control of bidding.</span>
                        </span>
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
