.zem-footer {
    padding-bottom: 20px;

    .logo {
        float: left;
        height: 20px;
        margin-top: 4px;
    }

    .small-text {
        text-align: left;
        color: @gray;
        font-size: @default-font-size;
        line-height: 16px;
        float: left;
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid @line-dark-color;

        a {
            color: @gray;
        }
    }
}
