<div class="col-xs-12">
    <img src="{{ $ctrl.config.static_url }}/one/images/zemanta-logo-gray.svg" class="logo"/>
    <div class="small-text">
        <a ng-href="/tos/" target="_blank">Terms Of Service</a><br>
        All rights reserved &copy; <a href="http://www.zemanta.com">Zemanta.com</a>
    </div>
    <div class="small-text">
        * The reporting data is an estimate, and the final amount will be reflected on your invoice.<br>
        * All times are in Eastern Standard Time (EST).
    </div>
</div>
