@import 'variables';

.zem-credits-grid {
    display: block;
}

.zem-credits-grid__status-cell--pending {
    color: @color--danger;
}

.zem-credits-grid__status-cell--signed {
    color: @color--success;
}

.zem-credits-grid__status-cell--canceled {
    color: @text-color--lighter;
}
