@import 'variables';

.zem-dayparting-input {
    display: block;
}

.zem-dayparting-input__dayparting-container {
    overflow-x: auto;
}

.zem-dayparting-input__dayparting-header,
.zem-dayparting-input__day {
    display: flex;
}

.zem-dayparting-input__hour-label {
    flex: 1 0 26px;
    line-height: 35px;
    border-right: 1px solid @color--lighter-neutral;
    color: @text-color--lighter;
    text-align: center;
}

.zem-dayparting-input__hour-label:first-child {
    margin-left: 73px;
}

.zem-dayparting-input__hour-label:last-child {
    flex-basis: 25px;
    border-right: 0;
}

.zem-dayparting-input__hour-label-postfix {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    line-height: 1;
    font-size: 8px;
}

.zem-dayparting-input__day-label {
    flex: 0 0 73px;
    padding-right: 6px;
    line-height: 44px;
    border-bottom: 1px solid @color--lighter-neutral;
    text-align: right;
    color: @text-color--lighter;
}

.zem-dayparting-input__day:last-of-type .zem-dayparting-input__day-label {
    border-bottom: 0;
}

.zem-dayparting-input__hour {
    flex: 1 0 26px;
    background-color: @color--lighter-neutral;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.zem-dayparting-input__hour:last-child {
    flex-basis: 25px;
    border-right: 0;
}

.zem-dayparting-input__day:last-of-type .zem-dayparting-input__hour {
    border-bottom: 0;
}

.zem-dayparting-input__hour--active {
    background-color: @color--secondary;
}

.zem-dayparting-input__legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zem-dayparting-input__legend-item {
    position: relative;
    flex: 0 0 auto;
    height: 16px;
    margin-top: @spacing--default;
    margin-right: @spacing--default;
    padding-left: 14px;

    &:last-child {
        margin-right: 0;
    }
}

.zem-dayparting-input__legend-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: @color--lighter-neutral;
}

.zem-dayparting-input__legend-item--active::before {
    background-color: @color--secondary;
}
