<div class="zem-dayparting-input__dayparting-container">
    <div class="zem-dayparting-input__dayparting-header">
        <span
            class="zem-dayparting-input__hour-label"
            *ngFor="let _ of dayparting[0].hours; index as hour; first as isFirst; last as isLast"
        >
            {{hour}}<!--
            --><span *ngIf="isFirst || isLast" class="zem-dayparting-input__hour-label-postfix">00</span>
        </span>
    </div>
    <div
        class="zem-dayparting-input__day"
        *ngFor="let day of dayparting; trackBy: trackByIndex"
    >
        <span class="zem-dayparting-input__day-label">
            {{day.name}}
        </span>
        <span
            class="zem-dayparting-input__hour"
            [ngClass]="{'zem-dayparting-input__hour--active': isActive}"
            *ngFor="let isActive of day.hours; index as hour; trackBy: trackByIndex"
            (mousedown)="startSelection(day, hour)"
            (mouseover)="toggleMultipleHourStates(day, hour)"
            (touchstart)="toggleHourState(day, hour)"
        ></span>
    </div>
</div>
