@import 'variables';

.zem-refund-form {
    display: block;
}

.zem-refund-form__item {
    display: block;
    margin-bottom: @zem-form-group__items-spacing--default;
}

.zem-refund-form__text-only-form-group {
    padding: 5px 0 5px 0;
}

.zem-refund-form__owner-details {
    border-bottom: 1px solid @color--lighter-neutral;
    padding-bottom: 10px;
    margin-bottom: @spacing--default;
}
