<div class="modal__header">
    <div class="modal__title" ng-if="$ctrl.isNew">Add Budget</div>
    <div class="modal__title" ng-if="!$ctrl.isNew">Edit Budget Item #{{ $ctrl.budgetItem.id }}</div>
</div>
<div class="modal__body zem-campaign-budgets-settings__modal-body">
    <p ng-if="!$ctrl.isNew">Created by <strong>{{ $ctrl.budgetItem.createdBy }}</strong> on <strong>{{ $ctrl.budgetItem.createdOn }}</strong></p>
    <p ng-if="$ctrl.isNew">Created by <strong>{{ $ctrl.user.name }}</strong> on <strong>{{ $ctrl.today }}</strong></p>
    <hr>
    <div class="form" id="form-campaign-budget-budgetItem" ng-class="{ 'new': $ctrl.isNew, 'edit': !$ctrl.isNew }">
        <label class="form__label" ng-if="$ctrl.isNew">Select credit line from table below</label>
        <label class="form__label" ng-if="!$ctrl.isNew">Selected credit line</label>
        <table class="custom-table">
            <thead>
                <tr>
                    <th ng-if="$ctrl.isNew"></th>
                    <th>Available credit</th>
                    <th>Total Credit</th>
                    <th ng-if="$ctrl.canAccessPlatformCosts()">License Fee</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: If possible add class row-error to row that was selected and has insufficient credit amount for selected budget -->
                <tr ng-repeat="credit in $ctrl.availableCredit" ng-class="{'row--error': !!$ctrl.errors.credit}">
                    <td class="zem-campaign-budgets-settings__select-credit" ng-if="$ctrl.isNew" title="{{ $ctrl.credit.comment }}">
                        <label>
                            <input class="input-radio" type="radio" ng-model="$ctrl.budgetItem.credit"
                               ng-click="$ctrl.checkCreditValues()" ng-value="credit"/>
                            <span class="radio-text"></span>
                        </label>
                    </td>
                    <td>{{ credit.available | decimalCurrency:credit.currencySymbol:2  }}</td>
                    <td>{{ credit.total | decimalCurrency:credit.currencySymbol:2  }}</td>
                    <td ng-if="$ctrl.canAccessPlatformCosts()">{{ credit.licenseFee }}%</td>
                    <td>{{ credit.startDate }}</td>
                    <td>{{ credit.endDate }}</td>
                    <td>
                        <zem-note-popover content="{{ credit.isAgency ? 'Agency credit; ' : '' }}{{ credit.comment }}"
                                          ng-if="credit.comment.length > 0" placement="top" class="note-popover"></zem-note-popover>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="message message--error" ng-repeat="error in $ctrl.errors.credit">{{ error }}</div>
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.startDate}">
            <label class="form__label" for="start-date-input">Start Date</label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input id="start-date-input" type="text" class="input-text" uib-datepicker-popup="MM/dd/yyyy"
                       ng-disabled="!$ctrl.budgetItem.credit || !$ctrl.budgetItem.isEditable"
                       datepicker-options="{initDate: $ctrl.initStartDate, minDate: $ctrl.minDate, maxDate: $ctrl.maxDate}"
                       ng-model="$ctrl.budgetItem.startDate" is-open="$ctrl.startDatePicker.isOpen" ng-click="$ctrl.openStartDatePicker()" />
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.startDate" for="start-date-input">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.endDate}">
            <label class="form__label" for="end-date-input">End Date</label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input class="input-text" id="end-date-input" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-disabled="!$ctrl.budgetItem.credit || !($ctrl.budgetItem.isUpdatable || $ctrl.budgetItem.isEditable)" datepicker-options="{initDate: $ctrl.initEndDate, minDate: $ctrl.today, maxDate: $ctrl.maxDate}" ng-model="$ctrl.budgetItem.endDate" is-open="$ctrl.endDatePicker.isOpen" ng-click="$ctrl.openEndDatePicker()">
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.endDate" for="end-date-input">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.amount}">
            <label class="form__label" for="amount-input">Total Budget</label>
            <div class="prefixed-field postfixed-field prefixed-field--narrow postfixed-field--narrow">
                <span class="prefixed-field__prefix" ng-if="$ctrl.isNew">{{ $ctrl.budgetItem.credit.currencySymbol }}</span>
                <span class="prefixed-field__prefix" ng-if="!$ctrl.isNew">{{ $ctrl.budgetItem.currencySymbol }}</span>
                <input id="amount-input" ng-disabled="!$ctrl.budgetItem.credit || !($ctrl.budgetItem.isEditable || $ctrl.budgetItem.isUpdatable)" type="text" class="input-text" ng-model="$ctrl.budgetItem.amount" zem-currency-input fraction-size="0" />
                <span class="postfixed-field__postfix">.00</span>
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.amount" for="amount">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.margin}" ng-if="$ctrl.activeAccount.data.usesBCMv2 && $ctrl.hasPermission('zemauth.can_manage_agency_margin')">
            <label class="form__label" for="margin-input">Margin</label>
            <div class="postfixed-field postfixed-field--narrow">
                <input id="margin-select" class="input-text" ng-model="$ctrl.budgetItem.margin" ng-disabled="!$ctrl.isNew"/>
                <span class="postfixed-field__postfix">%</span>
            </div>
            <zem-help-popover ng-if="!$ctrl.isNew" content="To change the margin, first update this budget’s end date to today and then create a new budget with a start date from tomorrow on. You’ll be able to change the margin in this newly setup budget." placement="top"></zem-help-popover>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.margin" for="margin-input">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.comment}">
            <label class="form__label" for="comment-input">Notes</label>
            <textarea class="textarea" id="comment-input" type="text" ng-model="$ctrl.budgetItem.comment" maxlength="256"></textarea>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.comment" for="comment">{{ error }}</div>
        </div>
    </div>
</div>
<div class="modal__footer buttons-panel">
    <button type="button" class="button button--highlight button--with-icon check-icon" ng-click="$ctrl.upsertBudgetItem()" ng-disabled="$ctrl.saveRequestInProgress">Save</button>
    <button type="button" class="button button--outline" ng-click="$ctrl.discardBudgetItem()" ng-disabled="$ctrl.saveRequestInProgress"><span class="text">Discard</span></button>

    <div class="loader" ng-show="$ctrl.saveRequestInProgress"></div>
    <span ng-show="$ctrl.saved" class="message message--success">Your updates have been saved.</span>
    <span ng-show="$ctrl.saved === false" class="message message--error">An error occurred while saving. Please correct the marked fields and save again.</span>
    <span ng-show="$ctrl.discarded" class="message">Your updates have been discarded.</span>
</div>
