<div class="zem-settings-drawer-footer__content">
    <div class="zem-settings-drawer-footer__actions-container">
        <div class="zem-buttons-panel">
            <button
                class="zem-button-legacy zem-button-legacy--highlighted zem-button-legacy--with-icon zem-button-legacy--check-icon"
                [disabled]="isSaveDisabled || isLoading"
                (click)="save.emit()"
            >
                <ng-container *ngIf="isNewEntity">Create</ng-container>
                <ng-container *ngIf="!isNewEntity">Save</ng-container>
            </button>
            <button
                class="zem-button-legacy zem-button-legacy--outlined"
                (click)="cancel.emit()"
            >
                Cancel
            </button>
            <button
                class="zem-button-legacy zem-button-legacy--outlined"
                *ngIf="!isNewEntity"
                [disabled]="isArchiveDisabled"
                (click)="archive.emit()"
            >
                <ng-container *ngIf="entityType === EntityType.ACCOUNT">
                    Archive account
                </ng-container>
                <ng-container *ngIf="entityType === EntityType.CAMPAIGN">
                    Archive campaign
                </ng-container>
                <ng-container *ngIf="entityType === EntityType.AD_GROUP">
                    Archive ad group
                </ng-container>
            </button>
        </div>
    </div>
    <div class="zem-settings-drawer-footer__status-display">
        <zem-loader
            class="zem-loader zem-loader--small zem-loader--inline"
            *ngIf="isLoading"
        ></zem-loader>
        <span class="zem-message zem-message--error" *ngIf="hasError">
            An error occurred while saving. Please correct the marked fields and
            save again.
        </span>
    </div>
</div>
