@import 'variables';

.zem-settings-drawer-footer {
    padding: @spacing--default;
    background-color: tint(@color--secondary, 90%);
    box-shadow: 0px 0px 3px 0px fade(@color--secondary, 40%);
}

.zem-settings-drawer-footer__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -@zem-form-group__items-spacing--default / 2;
}

.zem-settings-drawer-footer__actions-container,
.zem-settings-drawer-footer__status-display {
    margin: @zem-form-group__items-spacing--default / 2;
}

.zem-settings-drawer-footer__status-display {
    flex-grow: 1;
}
