<div class="custom-panel">
    <h2 class="custom-panel__title">Overview</h2>
    <div class="custom-panel__description">
        Credit is the basis of allocating any budget to any campaign. Valid
        credit items are used by campaign budget items in the order they are
        listed.
    </div>
    <div
        class="loader loader--full-width"
        ng-show="$ctrl.state.requests.reloadTotals.inProgress"
    ></div>
    <div
        class="zem-credits__credit-overview"
        ng-if="!$ctrl.state.requests.reloadTotals.inProgress"
        ng-repeat="item in $ctrl.state.totals"
    >
        <div class="zem-credits__credit-overview-box">
            <span class="zem-credits__credit-overview-name">Total Value</span>
            <span class="zem-credits__credit-overview-value">{{
                item.total | decimalCurrency: item.currencySymbol:2
            }}</span>
        </div>
        <div class="zem-credits__credit-overview-box">
            <span class="zem-credits__credit-overview-name"
                >Allocated To Budget Items</span
            >
            <span class="zem-credits__credit-overview-value">{{
                item.allocated | decimalCurrency: item.currencySymbol:2
            }}</span>
        </div>
        <div class="zem-credits__credit-overview-box">
            <span class="zem-credits__credit-overview-name">Past Credit</span>
            <span class="zem-credits__credit-overview-value">{{
                item.past | decimalCurrency: item.currencySymbol:2
            }}</span>
        </div>
        <div
            class="zem-credits__credit-overview-box zem-credits__credit-overview-box--exposed"
        >
            <span class="zem-credits__credit-overview-name"
                >Available Credit</span
            >
            <span class="zem-credits__credit-overview-value">{{
                item.available | decimalCurrency: item.currencySymbol:2
            }}</span>
        </div>
    </div>
</div>
<div class="custom-panel">
    <h2 class="custom-panel__title">Active Credit Items</h2>
    <div class="zem-credit__actions">
        <button
            type="button"
            class="button button--highlight button--with-icon add-icon"
            ng-click="$ctrl.openCreditItemModal({})"
        >
            Add Credit Item
        </button>
    </div>
    <div class="custom-table__mobile-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>ID</th>
                    <th>Created by</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Signed</th>
                    <th>Currency</th>
                    <th>License Fee</th>
                    <th>Flat Fee</th>
                    <th>Credit Amount</th>
                    <th>Allocated Budgets</th>
                    <th>Available Credit</th>
                    <th>Scope</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody
                ng-if="!$ctrl.state.requests.reloadCredits.inProgress"
                ng-repeat="item in $ctrl.state.credits track by item.id"
            >
                <tr>
                    <td>Credit</td>
                    <td ng-if="item.salesforceUrl">
                        <a href="{{ item.salesforceUrl }}">{{ item.id }}</a>
                    </td>
                    <td ng-if="!item.salesforceUrl">{{ item.id }}</td>
                    <td>
                        {{ item.createdBy }}<br /><span class="text-gray">{{
                            item.createdOn
                        }}</span>
                    </td>
                    <td>{{ item.startDate }}</td>
                    <td>{{ item.endDate }}</td>
                    <td>
                        <span ng-show="item.isSigned" class="text-green"
                            >Yes</span
                        >
                        <span
                            ng-show="!item.isSigned && !item.isCanceled"
                            class="text-red"
                            >No</span
                        >
                        <span ng-show="item.isCanceled" class="text-gray"
                            >Canceled</span
                        >
                    </td>
                    <td>{{ item.currency }}</td>
                    <td>{{ item.licenseFee }}%</td>
                    <td>
                        {{
                            item.flatFee
                                | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td>
                        {{
                            item.total | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td>
                        {{
                            item.allocated
                                | decimalCurrency: item.currencySymbol:2
                        }}<br />
                        <span class="text-gray"
                            >({{ item.numOfBudgets }} budget
                            <ng-pluralize
                                count="item.numOfBudgets"
                                when="{'0': 'items', '1': 'item', 'other': 'items'}"
                            ></ng-pluralize
                            >)</span
                        >
                    </td>
                    <td>
                        {{
                            item.available
                                | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td class="custom-table__no-wrap">
                        <zem-item-scope-cell
                            class="zem-item-scope-cell"
                            item="item"
                            agency-link="'/v2/analytics/accounts?filtered_agencies=' + item.agencyId"
                            account-link="'/v2/analytics/account/' + item.accountId"
                        ></zem-item-scope-cell>
                    </td>
                    <td>
                        <zem-note-popover
                            content="{{ item.comment }}"
                            placement="top"
                            class="note-popover"
                        ></zem-note-popover>
                    </td>
                    <td class="custom-table__action-buttons">
                        <button
                            class="button button--small button--with-icon {{
                                item.isReadOnly ? 'magnifier-icon' : 'edit-icon'
                            }}"
                            ng-click="$ctrl.openCreditItemModal(item)"
                            ng-if="!item.isCanceled"
                        >
                            {{ item.isReadOnly ? 'View' : 'Edit' }}
                        </button>
                        <button
                            class="button button--small button--with-icon remove-icon"
                            ng-click="$ctrl.cancelCreditItem(item)"
                            ng-if="item.isSigned && !item.isReadOnly"
                        >
                            Cancel
                        </button>
                        <button
                            class="button button--small button--with-icon restore-icon"
                            ng-click="$ctrl.openCreditRefundItemModal(item)"
                            ng-if="!item.isCanceled && $ctrl.hasPermission('zemauth.can_manage_credit_refunds')"
                        >
                            Refund
                        </button>
                    </td>
                </tr>
                <tr
                    ng-repeat="refund in $ctrl.state.creditRefunds[item.id] track by refund.id"
                    ng-if="$ctrl.hasPermission('zemauth.can_manage_credit_refunds')"
                >
                    <td>Refund</td>
                    <td>{{ refund.id }}</td>
                    <td>
                        {{ refund.createdBy }}<br /><span class="text-gray">{{
                            refund.createdOn
                        }}</span>
                    </td>
                    <td>{{ refund.startDate }}</td>
                    <td>{{ refund.endDate }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{
                            refund.amount
                                | decimalCurrency: item.currencySymbol:2
                        }}<br /><span class="text-gray">Refunded</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <zem-note-popover
                            content="{{ refund.comment }}"
                            placement="top"
                            class="note-popover"
                        ></zem-note-popover>
                    </td>
                    <td></td>
                </tr>
                <tr
                    ng-if="$ctrl.hasPermission('zemauth.can_manage_credit_refunds') && $ctrl.state.creditRefunds.hasOwnProperty(item.id)"
                >
                    <td>Credit total:</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{
                            $ctrl.state.creditRefundTotals[item.id]
                                | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody
                ng-if="$ctrl.state.credits.length === 0 && !$ctrl.state.requests.reloadCredits.inProgress"
            >
                <tr>
                    <td colspan="15" class="custom-table__no-data">
                        No active credit items.
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="$ctrl.state.requests.reloadCredits.inProgress">
                <tr>
                    <td colspan="15">
                        <div class="loader loader--full-width"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="custom-panel">
    <h2 class="custom-panel__title">Past Credit Items</h2>
    <div class="custom-table__mobile-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created by</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Signed</th>
                    <th>Currency</th>
                    <th>License Fee</th>
                    <th>Flat Fee</th>
                    <th>Total Credit Amount</th>
                    <th>Allocated Budgets</th>
                    <th>Available Credit</th>
                    <th>Scope</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody
                ng-if="!$ctrl.state.requests.reloadPastCredits.inProgress"
                ng-repeat="item in $ctrl.state.pastCredits track by item.id"
            >
                <tr>
                    <td ng-if="item.salesforceUrl">
                        <a href="{{ item.salesforceUrl }}">{{ item.id }}</a>
                    </td>
                    <td ng-if="!item.salesforceUrl">{{ item.id }}</td>
                    <td>
                        {{ item.createdBy }}<br /><span class="text-gray">{{
                            item.createdOn
                        }}</span>
                    </td>
                    <td>{{ item.startDate }}</td>
                    <td>{{ item.endDate }}</td>
                    <td>
                        <span ng-show="item.isSigned" class="text-green"
                            >Yes</span
                        >
                        <span
                            ng-show="!item.isSigned && !item.isCanceled"
                            class="text-red"
                            >No</span
                        >
                        <span ng-show="item.isCanceled" class="text-gray"
                            >Canceled</span
                        >
                    </td>
                    <td>{{ item.currency }}</td>
                    <td>{{ item.licenseFee }}%</td>
                    <td>
                        {{
                            item.flatFee
                                | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td>
                        {{
                            item.total | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td>
                        {{
                            item.allocated
                                | decimalCurrency: item.currencySymbol:2
                        }}<br />
                        <span class="text-gray"
                            >({{ item.numOfBudgets }} budget
                            <ng-pluralize
                                count="item.numOfBudgets"
                                when="{'0': 'items', '1': 'item', 'other': 'items'}"
                            ></ng-pluralize
                            >)</span
                        >
                    </td>
                    <td>
                        {{
                            item.available
                                | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td class="custom-table__no-wrap">
                        <zem-item-scope-cell
                            class="zem-item-scope-cell"
                            item="item"
                            agency-link="'/v2/analytics/accounts?filtered_agencies=' + item.agencyId"
                            account-link="'/v2/analytics/account/' + item.accountId"
                        ></zem-item-scope-cell>
                    </td>
                    <td>
                        <zem-note-popover
                            content="{{ item.comment }}"
                            placement="top"
                            class="note-popover"
                        ></zem-note-popover>
                    </td>
                    <td class="custom-table__action-buttons"></td>
                </tr>
                <tr
                    ng-repeat="refund in $ctrl.state.creditRefunds[item.id] track by refund.id"
                    ng-if="$ctrl.hasPermission('zemauth.can_manage_credit_refunds')"
                >
                    <td>{{ refund.id }}</td>
                    <td>
                        {{ refund.createdBy }}<br /><span class="text-gray">{{
                            refund.createdOn
                        }}</span>
                    </td>
                    <td>{{ refund.startDate }}</td>
                    <td>{{ refund.endDate }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{
                            refund.amount
                                | decimalCurrency: item.currencySymbol:2
                        }}<br /><span class="text-gray">Refunded</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <zem-note-popover
                            content="{{ refund.comment }}"
                            placement="top"
                            class="note-popover"
                        ></zem-note-popover>
                    </td>
                    <td></td>
                </tr>
                <tr
                    ng-if="$ctrl.hasPermission('zemauth.can_manage_credit_refunds') && $ctrl.state.creditRefunds.hasOwnProperty(item.id)"
                >
                    <td>Credit total:</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{
                            $ctrl.state.creditRefundTotals[item.id]
                                | decimalCurrency: item.currencySymbol:2
                        }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody
                ng-if="$ctrl.state.pastCredits.length === 0 && !$ctrl.state.requests.reloadPastCredits.inProgress"
            >
                <tr>
                    <td colspan="14" class="custom-table__no-data">
                        No past credit items.
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="$ctrl.state.requests.reloadPastCredits.inProgress">
                <tr>
                    <td colspan="14">
                        <div class="loader loader--full-width"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
