{table}_schema = {schema}

{table}_data = (
    sc.read.schema({table}_schema)
    .option("delimiter", "\t")
    .option("nullValue", "$NA$")
    .option("ignoreLeadingWhiteSpace", "false")
    .option("ignoreTrailingWhiteSpace", "false")
    .option("mode", "FAILFAST")
    .csv("s3a://{s3_bucket}/{s3_path}")
)

# replace backslash escaped tab with just tab in input csv
# (redshift escapes delimiters in csv even when quotes are on)
for col_name, col_type in {table}_data.dtypes:
    if col_type == 'string':
        {table}_data = {table}_data.withColumn(col_name, regexp_replace(col_name, "\\\\\\t", "\t"))

{table}_data.createOrReplaceTempView("{table}")
