///////////////
// Variables //
///////////////

// GENERAL SETTINGS

@logo: url('images/whitelabel/adtechnacity/adtechnacity-logo.svg') no-repeat center center;
@images-folder: 'images/whitelabel/adtechnacity';

// GREENPARK COLORS

@primary-color: #FF7F00;
@secondary-color: #555f7b;
