@import 'variables';

.zem-categorized-tags-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.zem-categorized-tags-list__empty-text-container {
    padding-top: 6px;
    margin-left: @spacing--default;
    border-left: 1px solid darken(@color--lighter-neutral, 10%);
    padding-left: @spacing--default;
}

.zem-categorized-tags-list__category-container {
    margin-left: @spacing--default;
    border-left: 1px solid darken(@color--lighter-neutral, 10%);
    padding-left: @spacing--default;
}

.zem-categorized-tags-list__category-name {
    font-weight: 300;
    color: @text-color--lighter;
}

.zem-categorized-tags-list__items-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.zem-categorized-tags-list__item {
    display: inline-block;
    position: relative;
    line-height: 16px;
    padding: 5px 25px 5px 10px;
    color: @text-color--default;
    background-color: @color--lighter-neutral;
    border-radius: @border-radius--default;
    margin: 2px 4px 2px 0;
}

.zem-categorized-tags-list__remove-item {
    display: block;
    width: 12px;
    height: 12px;
    border: none;
    background: url('images/remove-gray.svg') no-repeat center center;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;

    &:hover {
        background-image: url('images/remove-red.svg');
    }
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-categorized-tags-list {
        display: block;
        margin-top: @spacing--default;
        border-top: 1px solid darken(@color--lighter-neutral, 10%);
    }

    .zem-categorized-tags-list__category-container {
        padding-top: @spacing--default;
        width: auto;
    }

    .zem-categorized-tags-list__category-container,
    .zem-categorized-tags-list__empty-text-container {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    .zem-categorized-tags-list__empty-text-container {
        padding-top: @spacing--default;
    }
}
