.zem-campaign-settings-drawer {
    @media only screen and (min-width: 900px) {
        .zem-campaign-budgets-overview__section {
            flex-basis: auto;
        }
    }
}

.zem-campaign-settings-drawer__budgets-overview-section {
    padding-bottom: 0;
    border-bottom: 0 !important;
}

.zem-campaign-settings-drawer__budgets-list-container {
    overflow-x: auto;
}
