<zem-drawer
    class="zem-drawer zem-campaign-settings-drawer"
    [isOpen]="isOpen"
    [isClosable]="!isNewEntity"
    [isLoading]="
        store.state.requests.defaults.inProgress ||
        store.state.requests.get.inProgress
    "
    (closeRequest)="cancel()"
>
    <ng-container *ngIf="store.state$ | async as state">
        <zem-settings-drawer-header
            class="zem-settings-drawer-header zem-drawer__header"
            [entityId]="entityId"
            [entityType]="EntityType.CAMPAIGN"
            [entityName]="state.entity.name"
            [isDisabled]="isReadOnly"
            [showAdminLink]="
                authStore.hasPermission('zemauth.can_see_open_in_admin')
            "
            [isAdminLinkAnInternalFeature]="
                authStore.isPermissionInternal('zemauth.can_see_open_in_admin')
            "
            [entityNameErrors]="state.fieldsErrors.name"
            (entityNameChange)="store.setName($event)"
        ></zem-settings-drawer-header>
        <div
            class="zem-drawer__subheader zem-drawer__subheader--info zem-drawer__subheader--with-icon"
            *ngIf="isReadOnly"
        >
            <span>You don't have permission to edit this campaign.</span>
        </div>
        <div
            class="zem-drawer__content custom-scroller zem-settings__settings-container"
        >
            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        General settings
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        [label]="'Campaign Type'"
                        [helpMessage]="
                            'Campaign type determines the creative requirements and enables certain features. Campaign type can be changed until you create the first ad group.'
                        "
                        [value]="state.entity.type"
                        [bindLabel]="'name'"
                        [bindValue]="'value'"
                        [items]="CAMPAIGN_TYPES"
                        [placeholder]="'Choose type'"
                        [isSearchable]="false"
                        [isClearable]="false"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.type"
                        (valueChange)="store.setType($event)"
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        [label]="'Campaign Manager'"
                        [helpMessage]="
                            'Campaign manager responsible for the campaign and the communication with the client.'
                        "
                        [value]="state.entity.campaignManager"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="state.extras.campaignManagers"
                        [placeholder]="'Choose manager'"
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.campaignManager"
                        (valueChange)="store.setCampaignManager($event)"
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        [label]="'Campaign Category'"
                        helpMessage="Specify campaign's content category. All campaigns must list one top-level category. If you are using mixed content consider splitting your campaign."
                        [value]="state.entity.iabCategory"
                        [bindLabel]="'name'"
                        [bindValue]="'value'"
                        [items]="IAB_CATEGORIES"
                        [placeholder]="'Choose category'"
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [errors]="state.fieldsErrors.iabCategory"
                        (valueChange)="store.setIabCategory($event)"
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        [label]="'Campaign Language'"
                        helpMessage="Language can be updated only if Campaign has no Ad Groups yet."
                        [value]="state.entity.language"
                        [bindLabel]="'name'"
                        [bindValue]="'value'"
                        [items]="LANGUAGES"
                        [placeholder]="'Choose language'"
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [errors]="state.fieldsErrors.language"
                        (valueChange)="store.setLanguage($event)"
                    ></zem-select-form-group>
                    <zem-integer-form-group
                        class="zem-integer-form-group zem-settings-section__item"
                        [label]="'Daily impression frequency cap'"
                        helpMessage="This setting defines the maximum number of times your ads from this campaign will be shown to a unique user in one day."
                        [value]="state.entity.frequencyCapping"
                        [errors]="state.fieldsErrors.frequencyCapping"
                        [isDisabled]="isReadOnly"
                        [placeholder]="'No limit'"
                        (valueChange)="store.setFrequencyCapping($event)"
                    ></zem-integer-form-group>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2
                        class="zem-settings__panel-header-title"
                        [class.zem-settings__panel-header-title--autopilot]="
                            state.extras.agencyUsesRealtimeAutopilot
                        "
                    >
                        Campaign goals
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div
                            *ngIf="state.extras.agencyUsesRealtimeAutopilot"
                            class="zem-settings-section__description"
                        >
                            Campaign goals should reflect your primary marketing
                            objective. Our Autopilot will automatically optimize
                            towards the selected goal.
                        </div>
                        <div
                            *ngIf="!state.extras.agencyUsesRealtimeAutopilot"
                            class="zem-settings-section__description"
                        >
                            Define your marketing objectives by adding campaign
                            goals.
                        </div>
                    </div>
                    <div
                        class="zem-message zem-message--bubble zem-message--error zem-message--with-icon zem-settings-section__item"
                        *ngIf="
                            state.entity.goals.length === 0 &&
                            state.fieldsErrors.goalsMissing.length > 0
                        "
                    >
                        <span
                            *ngFor="
                                let error of state.fieldsErrors.goalsMissing
                            "
                        >
                            {{ error }}
                        </span>
                    </div>
                    <div
                        class="zem-message zem-message--bubble zem-message--warning zem-message--with-icon zem-settings-section__item"
                        *ngIf="
                            state.entity.goals.length === 0 &&
                            state.fieldsErrors.goalsMissing.length === 0
                        "
                    >
                        Currently there are no defined campaign goals.
                    </div>
                    <zem-campaign-goals
                        class="zem-campaign-goals zem-settings-section__item"
                        [campaignType]="state.entity.type"
                        [currency]="state.extras.currency"
                        [campaignGoals]="state.entity.goals"
                        [campaignGoalsErrors]="state.fieldsErrors.goals"
                        [conversionPixels]="state.conversionPixels"
                        [conversionPixelsErrors]="state.conversionPixelsErrors"
                        [conversionPixelsRequests]="
                            state.conversionPixelsRequests
                        "
                        [isDisabled]="isReadOnly"
                        [agencyUsesRealtimeAutopilot]="
                            state.extras.agencyUsesRealtimeAutopilot
                        "
                        (campaignGoalCreate)="store.createGoal()"
                        (campaignGoalPrimaryChange)="
                            store.setPrimaryGoal($event)
                        "
                        (campaignGoalChange)="store.changeGoal($event)"
                        (campaignGoalDelete)="store.deleteGoal($event)"
                        (campaignGoalEditFormClose)="store.validateEntity()"
                        (conversionPixelCreate)="
                            store.createConversionPixel($event)
                        "
                        (conversionPixelCancel)="
                            store.cancelConversionPixelCreation($event)
                        "
                    ></zem-campaign-goals>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Audience targeting
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__title">
                            Publishers & placements
                        </div>
                        <div class="zem-settings-section__description">
                            Define your publisher and placement targeting by
                            whitelisting or blacklisting publisher and placement
                            lists.
                        </div>
                    </div>
                    <zem-publisher-group-targeting
                        class="zem-publisher-group-targeting zem-settings-section__item"
                        [accountId]="state.entity.accountId"
                        [whitelistedPublisherGroups]="
                            state.entity.targeting.publisherGroups.included
                        "
                        [blacklistedPublisherGroups]="
                            state.entity.targeting.publisherGroups.excluded
                        "
                        [isDisabled]="isReadOnly"
                        (onUpdate)="
                            store.setPublisherGroupsTargeting($event.$event)
                        "
                    ></zem-publisher-group-targeting>
                    <div class="zem-settings-section__description">
                        If you are using different level whitelists, it means
                        you are targeting only whitelisted placements from
                        whitelisted publishers and additionally all placements
                        on whitelisted publishers that are not included in
                        placement list.
                    </div>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Performance tracking
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__description">
                            Connect your Google/Adobe Analytics account to
                            better track your campaign performance.
                        </div>
                    </div>
                    <zem-campaign-performance-tracking
                        class="zem-campaign-performance-tracking zem-settings-section__item"
                        [campaignTracking]="state.entity.tracking"
                        [campaignTrackingErrors]="state.fieldsErrors.tracking"
                        [isDisabled]="isReadOnly"
                        (campaignTrackingChange)="
                            store.changeCampaignTracking($event)
                        "
                    >
                    </zem-campaign-performance-tracking>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Budget</h2>
                </div>
                <div
                    class="zem-settings-section zem-campaign-settings-drawer__budgets-overview-section"
                >
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__description">
                            Once Zemanta's Customer Success team assigns a
                            credit line to your account you have the ability to
                            create budget items and associate them with
                            campaigns you're planning. Budget represents the
                            amount of money you're willing to pay to have ads
                            from your campaign shown over the period you set it
                            to run. You set a budget for each campaign you
                            create.
                        </div>
                    </div>
                    <zem-campaign-budgets-overview
                        class="zem-campaign-budgets-overview zem-settings-section__item"
                        [overview]="state.extras.budgetsOverview"
                        [currency]="state.extras.currency"
                        [showLicenseFee]="canAccessPlatformCosts()"
                        [showServiceFee]="canSeeServiceFee()"
                        [showMargin]="canAccessAgencyCosts()"
                    ></zem-campaign-budgets-overview>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__title">
                            Active budget items
                        </div>
                    </div>
                    <div
                        class="zem-campaign-settings-drawer__budgets-list-container custom-scroller zem-settings-section__item"
                    >
                        <zem-campaign-budgets-list
                            class="zem-campaign-budgets-list"
                            [budgets]="state.entity.budgets"
                            [currency]="state.extras.currency"
                            [budgetsErrors]="state.fieldsErrors.budgets"
                            [showLicenseFee]="canAccessPlatformCosts()"
                            [showServiceFee]="canSeeServiceFee()"
                            [showMargin]="canAccessAgencyCosts()"
                            [isEditingEnabled]="!isReadOnly && canEditBudget()"
                            [credits]="state.extras.credits"
                            [editFormTemplate]="campaignBudgetEditFormTemplate"
                            (budgetDelete)="store.deleteBudget($event)"
                            (budgetEditFormClose)="store.validateEntity()"
                        >
                        </zem-campaign-budgets-list>
                    </div>
                    <ng-template
                        #campaignBudgetEditFormTemplate
                        let-budget="budget"
                        let-currency="currency"
                        let-budgetErrors="budgetErrors"
                        let-showLicenseFee="showLicenseFee"
                        let-showServiceFee="showServiceFee"
                        let-showMargin="showMargin"
                        let-credits="credits"
                    >
                        <zem-campaign-budget-edit-form
                            class="zem-campaign-budget-edit-form"
                            [budget]="budget"
                            [currency]="currency"
                            [budgetErrors]="budgetErrors"
                            [showLicenseFee]="showLicenseFee"
                            [showServiceFee]="showServiceFee"
                            [showMargin]="showMargin"
                            [credits]="credits"
                            (budgetChange)="store.updateBudget($event)"
                        ></zem-campaign-budget-edit-form>
                    </ng-template>
                    <div
                        class="zem-settings-section__item"
                        *ngIf="canEditBudget()"
                    >
                        <button
                            type="button"
                            class="zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--add-icon zem-campaign-goals__button"
                            (click)="store.createBudget()"
                            [disabled]="
                                !store.isAnyCreditAvailable() || isReadOnly
                            "
                        >
                            Add new budget item
                        </button>
                    </div>
                </div>
                <zem-expandable-section
                    class="zem-expandable-section"
                    [expandLabel]="'Show depleted budget items'"
                    [collapseLabel]="'Hide depleted budget items'"
                >
                    <div class="zem-settings-section">
                        <div class="zem-settings-section__header">
                            <div class="zem-settings-section__title">
                                Depleted budget items
                            </div>
                        </div>
                        <div
                            class="zem-campaign-settings-drawer__budgets-list-container custom-scroller zem-settings-section__item"
                        >
                            <zem-campaign-budgets-list
                                class="zem-campaign-budgets-list"
                                [budgets]="state.extras.budgetsDepleted"
                                [currency]="state.extras.currency"
                                [showLicenseFee]="canAccessPlatformCosts()"
                                [showServiceFee]="canSeeServiceFee()"
                                [showMargin]="canAccessAgencyCosts()"
                            ></zem-campaign-budgets-list>
                        </div>
                    </div>
                </zem-expandable-section>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2
                        class="zem-settings__panel-header-title"
                        [class.zem-settings__panel-header-title--autopilot]="
                            state.extras.agencyUsesRealtimeAutopilot
                        "
                    >
                        Budget optimization
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <div
                        class="zem-settings-section__header"
                        *ngIf="!state.extras.agencyUsesRealtimeAutopilot"
                    >
                        <div class="zem-settings-section__description">
                            Zemanta One will optimize your campaign budget
                            across ad groups in order to hit your campaign goal.
                            Budget will be paced evenly throughout the flight
                            time of the campaign.
                        </div>
                    </div>
                    <zem-campaign-budget-optimization
                        class="zem-campaign-budget-optimization"
                        [autopilot]="state.entity.autopilot"
                        [isDisabled]="isReadOnly"
                        [agencyUsesRealtimeAutopilot]="
                            state.extras.agencyUsesRealtimeAutopilot
                        "
                        (autopilotChange)="store.setAutopilot($event)"
                    ></zem-campaign-budget-optimization>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Deals</h2>
                </div>
                <div class="zem-settings-section" *ngIf="!canSeeDeals">
                    <div class="zem-settings-section__description">
                        Deals might apply, please reach out to your agency for
                        details.
                    </div>
                </div>
                <div class="zem-settings-section" *ngIf="canSeeDeals">
                    <div class="zem-settings-section__description">
                        Connect deals from the deal library to this campaign or
                        create a new deal.
                    </div>
                    <zem-deals-list
                        class="zem-deals-list zem-settings-section__item"
                        [deals]="store.state.entity.deals"
                        [availableDeals]="store.state.availableDeals"
                        [isLoading]="store.state.dealsRequests.list.inProgress"
                        [isDisabled]="isReadOnly"
                        (dealSelect)="store.addDeal($event)"
                        (search)="store.loadAvailableDeals($event)"
                        (open)="store.loadAvailableDeals()"
                    >
                        <ng-template
                            #dealItemTemplate
                            let-deal="deal"
                            let-index="index"
                        >
                            <zem-deal
                                class="zem-deal"
                                [ngClass]="{
                                    'zem-deal--error': store.hasDealError(index)
                                }"
                                [deal]="deal"
                                [isDisabled]="isReadOnly"
                                (dealRemove)="store.removeDeal($event)"
                                (dealEditFormClose)="store.validateEntity()"
                            >
                                <zem-deal-edit-form
                                    class="zem-deal-edit-form"
                                    [deal]="deal"
                                    [sources]="store.state.sources"
                                    [dealErrors]="
                                        store.state.fieldsErrors.deals[index]
                                    "
                                    [isDisabled]="!!deal.id || isReadOnly"
                                    (dealChange)="store.changeDeal($event)"
                                ></zem-deal-edit-form>
                            </zem-deal>
                        </ng-template>
                    </zem-deals-list>
                    <div class="zem-settings-section__item">
                        <button
                            type="button"
                            class="zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--add-icon"
                            (click)="store.addDeal()"
                            [disabled]="isReadOnly"
                        >
                            Add new deal
                        </button>
                    </div>
                </div>
            </div>

            <div
                class="zem-panel zem-settings__panel"
                *ngIf="authStore.hasPermission('zemauth.can_see_backend_hacks')"
                [zemInternalFeature]="
                    authStore.isPermissionInternal(
                        'zemauth.can_see_backend_hacks'
                    )
                "
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Backend hacks
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-hacks
                        class="zem-hacks zem-settings-section__item"
                        [hacks]="state.extras.hacks"
                    ></zem-hacks>
                </div>
            </div>

            <div
                class="zem-panel zem-settings__panel"
                *ngIf="authStore.hasPermission('zemauth.can_see_deals_in_ui')"
                [zemInternalFeature]="
                    authStore.isPermissionInternal(
                        'zemauth.can_see_deals_in_ui'
                    )
                "
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Deals</h2>
                </div>
                <div class="zem-settings-section">
                    <zem-deals
                        class="zem-deals zem-settings-section__item"
                        [deals]="state.extras.deals"
                    ></zem-deals>
                </div>
            </div>
        </div>
        <zem-settings-drawer-footer
            class="zem-settings-drawer-footer zem-drawer__footer zem-settings__settings-footer"
            [isNewEntity]="isNewEntity"
            [entityType]="EntityType.CAMPAIGN"
            [isSaveDisabled]="isReadOnly"
            [isArchiveDisabled]="isReadOnly"
            [isLoading]="
                state.requests.create.inProgress ||
                state.requests.edit.inProgress
            "
            [hasError]="
                state.requests.create.error || state.requests.edit.error
            "
            (save)="saveSettings()"
            (cancel)="cancel()"
            (archive)="archive()"
        ></zem-settings-drawer-footer>
    </ng-container>
</zem-drawer>
