<span class="zem-grid-column-selector dropdown" uib-dropdown>
  <a href class="button button--dropdown-toggle-icon" uib-dropdown-toggle title="Show/hide columns">Columns</a>
  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu ng-click="$event.stopPropagation()">
        <div class="list-wrapper custom-scroller">
            <div ng-repeat="category in $ctrl.categories" class="row">
                <div class="category-name col-xs-12"> <span>{{ category.name }}</span></div>
                <div class="description col-xs-12" ng-if="category.description"><span>{{ category.description }}</span></div>
                <li ng-repeat="column in category.columns" class="col-xs-6">
                    <div class="checkbox"
                         zem-lazy-popover-visible="{{ $ctrl.getTooltip(column) }}"
                         zem-lazy-popover-text="{{ $ctrl.getTooltip(column) }}"
                         zem-lazy-popover-placement="left"
                         zem-lazy-popover-animation-class="fade"
                         zem-lazy-popover-append-to-body="true">
                        <label ng-class="{disabled: column.disabled}">
                            <input ng-disabled="column.disabled" type="checkbox" ng-model="column.visible" ng-change="$ctrl.columnChecked(column)">
                            <zem-internal-feature ng-if="column.data.internal"></zem-internal-feature>
                            {{ column.data.name }}
                        </label>
                    </div>
                </li>
                <div ng-repeat="subcategory in category.subcategories" class="subcategory">
                    <div ng-if="subcategory.type === 'condensed'" class="col-xs-6 condensed">
                        <div class="sub-category-name row"><span>{{ subcategory.name }}</span></div>
                        <div class="row">
                            <li ng-repeat="column in subcategory.columns">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="column.visible" ng-change="$ctrl.columnChecked(column)" />
                                        {{ column.data.shortName }}
                                    </label>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </ul>
</span>

