<div class="zem-advanced-settings-section__content" *ngIf="expanded">
    <ng-content></ng-content>
</div>
<button
    class="zem-advanced-settings-section__toggle"
    [class.zem-advanced-settings-section__toggle--section-expanded]="expanded"
    (click)="toggle()"
>
    <span
        class="zem-advanced-settings-section__toggle-text"
        [class.zem-advanced-settings-section__toggle-text--section-expanded]="
            expanded
        "
    >
        <ng-container *ngIf="!expanded"
            >Show advanced settings ({{ overviewText }})</ng-container
        >
        <ng-container *ngIf="expanded"
            >Hide advanced settings ({{ overviewText }})</ng-container
        >
    </span>
</button>
