<div class="zem-advanced-settings-section__content" *ngIf="expanded">
    <ng-content></ng-content>
</div>
<button
    class="zem-advanced-settings-section__toggle"
    [class.zem-advanced-settings-section__toggle--section-expanded]="expanded"
    (click)="toggle()"
>
    <span
        class="zem-advanced-settings-section__toggle-text"
        [class.zem-advanced-settings-section__toggle-text--section-expanded]="
            expanded
        "
    >
        <ng-container *ngIf="!expanded"
            ><ng-container *ngIf="!customLabelCollapsed"
                >Show advanced settings<ng-container *ngIf="overviewText">
                    ({{ overviewText }})</ng-container
                ></ng-container
            ><ng-container *ngIf="customLabelCollapsed">{{
                customLabelCollapsed
            }}</ng-container>
        </ng-container>

        <ng-container *ngIf="expanded"
            ><ng-container *ngIf="!customLabelExpanded"
                >Hide advanced settings<ng-container *ngIf="overviewText">
                    ({{ overviewText }})</ng-container
                ></ng-container
            ><ng-container *ngIf="customLabelExpanded">{{
                customLabelExpanded
            }}</ng-container>
        </ng-container>
    </span>
</button>
