@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-advanced-settings-section__content {
    background: @color--lightest-neutral;
}

.zem-advanced-settings-section__toggle {
    width: 100%;
    padding: 10px @spacing--default;
    background: @color--lightest-neutral;
    color: @color--secondary;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    font-weight: bold;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        text-decoration: underline;
    }
}

.zem-advanced-settings-section__toggle-text {
    position: relative;
    max-width: 200px;
    padding-left: 15px;
}

.zem-advanced-settings-section__toggle-text::before {
    content: '';
    position: absolute;
    transform: translateY(-50%) rotate(90deg);
    width: 6px;
    height: 10px;
    background-image: url('@{images-folder}/arrow-sec.svg');
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
}

.zem-advanced-settings-section__toggle-text--section-expanded::before {
    transform: translateY(-50%) rotate(-90deg);
}

.zem-advanced-settings-section__toggle--section-expanded {
    background: @color--lighter-neutral;
}
