zem-header {
    display: block;
    height: 60px;
    background-color: red;

    .logo-container {
        height: 20px;
        margin: 20px 0;

        a {
            display: inline-block;
            height: 100%;
        }

        img {
            width: auto;
            height: 100%;
        }
    }

    zem-header-navigation {
        display: block;
        height: 20px;
        margin: 20px 0;

        .dropdown-toggle{
            img {
                width: 20px;
            }
        }

        .dropdown-menu {
            margin-top: 15px;
            width: 300px;
            height: 500px;

            zem-navigation {
                height: 100%;
            }
        }
    }

    zem-header-breadcrumb {
        display: block;
        height: 40px;
        margin: 10px 0;

        color: @white;
        line-height: 16px;
        font-size: 12px;

        div {
            float: left;
            height: 40px;

            &.home {
                a {
                    display: block;
                    margin-top: 12px;
                }

                img {
                    width: 16px;
                    opacity: 0.5;
                    .transition(opacity 100ms ease-in-out);
                }

                &:hover img {
                    opacity: 1.0;
                }
            }

            &.slash {
                padding: 0 10px;
                color: fade(@white, 20%);
                font-size: 34px;
                line-height: 40px;
                font-weight: 100;
            }

            span {
                color: fade(@white, 50%);
                padding-top: 4px;
                display: inline-block;
            }

            a {
                color: @white !important;
                font-size: 14px;

                &:hover {
                    color: @white;
                }
            }

        }
    }

    // TODO: Refactor
    zem-header-filter {
        display: block;

        zem-filter {
            display: block;

            .internal {
                .header-button-internal();
            }

            div.btn {
                min-width: 34px;
                height: 34px;
                padding: 0;

                &:hover {
                    border-color: @add-filter-color;
                }

                &.filter-enabled {
                    background-color: @add-filter-color;

                    span {
                        color: #fff;
                        top: 2px;
                        position: relative;
                        margin-right: 5px;
                    }

                    .btn-remove {
                        display: inline-block;
                        width: 25px;
                        height: 34px;
                        cursor: pointer;
                        padding-left: 11px;
                        padding-right: 5px;
                        padding-top: 11px;
                        padding-bottom: 14px;
                        vertical-align: top;

                        img {
                            width: 9px;
                            vertical-align: top;
                        }
                    }

                    .dropdown-toggle {
                        display: inline-block;

                        .filter-icon {
                            border-left: 1px solid white;
                        }
                    }
                }

                img.filter-icon {
                    margin: 3.5px 3.5px 3.5px 0;
                    padding-left: 3.5px;
                    width: 28.5px;
                    height: 25px;
                }
            }

            ul.filter-menu {
                width: 400px;
                left: auto;
                right: 0;
                top: 100%;
                margin-left: -125px;
                border: 1px solid @default-color;
                padding: 15px 15px 5px 15px;

                li {

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    margin-bottom: 0;

                    .agency-filter select2-input{
                        margin-top: 7px;
                    }

                    .select2-container {
                        vertical-align: top;
                        margin-top: 5px;
                        margin-right: 5px;

                        &.add-filter .select2-choice {
                            background-color: @add-filter-color;
                            border-color: @add-filter-color;
                            height: 28px;
                            font-size: 13px;
                            line-height: 28px;
                            border-radius: 2px;

                            .select2-chosen {
                                margin-right: 15px;
                            }

                            span {
                                color: #fff;
                            }

                            span.select2-arrow b {
                                background-image: none !important;
                            }

                            @media(-webkit-min-device-pixel-ratio: 2) {
                                span.select2-arrow b {
                                    background-image: none !important;
                                }
                            }
                        }
                    }

                    .filtered {
                        &:first-child {
                            margin-left: 5px;
                        }

                        cursor: pointer;
                        margin-right: 5px;
                        margin-top: 5px;
                        padding-right: 27px;
                        padding-left: 8px;
                        height: 28px;
                        line-height: 28px;
                        display: inline-block;
                        position: relative;
                        border-radius: 2px;
                        border: 1px solid @add-filter-color;
                        font-size: 13px;

                        img.remove {
                            width: 7px;
                            position: absolute;
                            right: 8px;
                            top: 10px;
                            display: inline-block;
                        }
                    }

                    .title {
                        color: #454545;
                        font-size: 15px;
                        line-height: 15px;
                        font-weight: 500;
                    }

                    .checkbox {
                        margin-top: 0;
                        padding-left: 15px;
                        margin-left: 5px;

                        label {
                            margin-left: -2px;
                        }
                    }

                    .radio {
                        display: block;
                        margin-top: 0;
                        padding-left: 15px;
                        margin-left: 5px;

                        label {
                            display: block;
                            margin-left: -2px;
                        }
                    }
                }
            }
        }
    }

    zem-header-date-range-picker {
        display: block;

        .date-range-picker-container {
            position: relative;
            float: right;
            width: 205px;
            height: 40px;
            margin: 10px 0;

            .date-range-picker-icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 100%;
                padding: 4px 3px 4px 4px;
                text-align: center;

                img {
                    width: 100%;
                    height: 100%;
                    fill: @white;
                }
            }

            .date-range-picker-input {
                width: 100%;
                height: 100%;
                padding-left: 40px;
                background: transparent;
                border: 1px solid @white;
                color: @white;
                border-radius: 3px;
            }
        }
    }

    zem-header-menu {
        display: block;
        height: 20px;
        margin: 20px 0;
        text-align: right;

        .dropdown-toggle {
            display: inline-block;
            vertical-align: top;
            margin-top: -2px;
            color: @white;
            font-size: 20px;
        }

        .internal {
            position: absolute;
            border-top: 7px solid @internal-color;
            border-right: 7px solid transparent;
            z-index: 1;
            top: 5px;
            left: 5px;
        }
    }
}

.legacy-theme zem-header {
    background-color: @default-color;
}
