zem-header {
    display: block;
    height: 60px;
    background-color: red;

    .logo-container {
        height: 20px;
        margin: 20px 0;

        a {
            display: inline-block;
            height: 100%;
        }

        img {
            width: auto;
            height: 100%;
        }
    }

    zem-header-menu {
        display: block;
        height: 20px;
        margin: 20px 0;
        text-align: right;

        .dropdown-toggle {
            color: @white;
            font-size: 20px;
        }

        .internal {
            position: absolute;
            border-top: 7px solid @internal-color;
            border-right: 7px solid transparent;
            z-index: 1;
            top: 5px;
            left: 5px;
        }
    }
}

.legacy-theme zem-header {
    background-color: @default-color;
}
