<div class="zem-new-entity-analytics-mock-view__chart-infobox-container">
    <div
        class="custom-panel zem-new-entity-analytics-mock-view__chart-container"
    >
        <div class="zem-new-entity-analytics-mock-view__chart">
            <span
                class="zem-new-entity-analytics-mock-view__chart-horizontal-line"
            ></span>
            <span
                class="zem-new-entity-analytics-mock-view__chart-horizontal-line"
            ></span>
            <span
                class="zem-new-entity-analytics-mock-view__chart-horizontal-line"
            ></span>
            <span
                class="zem-new-entity-analytics-mock-view__chart-horizontal-line"
            ></span>
            <span
                class="zem-new-entity-analytics-mock-view__chart-horizontal-line"
            ></span>
            <span
                class="zem-new-entity-analytics-mock-view__chart-horizontal-line"
            ></span>
        </div>
        <div
            class="zem-chart__no-data zem-new-entity-analytics-mock-view__chart-no-data"
        >
            <span>No data</span>
        </div>
    </div>
    <div
        class="custom-panel zem-new-entity-analytics-mock-view__infobox-container"
    >
        <div
            class="zem-infobox-header__entity-name zem-new-entity-analytics-mock-view__infobox-header"
        >
            New entity
        </div>
        <div class="zem-new-entity-analytics-mock-view__infobox-content">
            No data
        </div>
    </div>
</div>
<div class="custom-panel zem-new-entity-analytics-mock-view__grid-container">
    <div class="zem-new-entity-analytics-mock-view__grid-header">
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Actions
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Name
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Status
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Yesterday Spend
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Media Spend
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Total Spend
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Impressions
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            Clicks
        </span>
        <span class="zem-new-entity-analytics-mock-view__grid-header-column">
            CTR
        </span>
    </div>
    <div class="zem-new-entity-analytics-mock-view__grid-content">No data</div>
</div>
