@import 'variables';
@import '../../../_smart-grid.component.variables.less';

.zem-no-rows-overlay {
    display: flex;
    width: 100%;
    height: @smart-grid__row-height;
    justify-content: center;
    align-items: center;
}

.zem-no-rows-overlay__text {
    color: @color--dark-neutral;
}
