@import 'variables';

.zem-new-entity-analytics-mock-view__chart-infobox-container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: -8px;
}

.zem-new-entity-analytics-mock-view__chart-container {
    flex: 9999 1 auto;
    width: 400px;
    height: 330px;
    margin: 8px;
}

.zem-new-entity-analytics-mock-view__infobox-container {
    flex: 1 1 350px;
    margin: 8px;
    padding: 0;
}

.zem-new-entity-analytics-mock-view__chart-horizontal-line {
    display: block;
    height: 1px;
    background: @color--lighter-neutral;
    margin-top: 59px;
}

.zem-new-entity-analytics-mock-view__chart-horizontal-line:first-child {
    margin-top: 0;
}

.zem-new-entity-analytics-mock-view__chart-no-data {
    margin-top: 0;
    transform: translateY(-50%);
}

.zem-new-entity-analytics-mock-view__infobox-header {
    height: initial;
    padding: 10px;
    border-bottom: 1px solid @color--lighter-neutral;
}

.zem-new-entity-analytics-mock-view__infobox-content {
    padding: 10px;
}

.zem-new-entity-analytics-mock-view__grid-container {
    overflow-x: auto;
}

.zem-new-entity-analytics-mock-view__grid-header {
    display: flex;
}

.zem-new-entity-analytics-mock-view__grid-header-column {
    flex: 1 1 auto;
    line-height: 45px;
    padding-left: @spacing--default;
    white-space: nowrap;
    background-color: tint(@color--secondary, 90%);
    border-bottom: 1px solid fade(@color--secondary, 20%);
    color: @color--secondary;
    font-weight: 500;
}

.zem-new-entity-analytics-mock-view__grid-header-column:last-child {
    padding-right: @spacing--default;
}

.zem-new-entity-analytics-mock-view__grid-content {
    padding: 0 @spacing--default;
    line-height: 45px;
    text-align: center;
}
