<div class="zem-container no-tabset" ng-if="$ctrl.mainStateAllowed">
    <zem-header class="zem-header"></zem-header>
    <zem-filter-selector class="zem-filter-selector"></zem-filter-selector>

    <ui-view class="content-container"></ui-view>

    <zem-footer class="zem-footer"></zem-footer>

    <!-- Widgets used in drawer -->
    <zem-entity-settings-router-outlet></zem-entity-settings-router-outlet>
    <zem-history class="zem-history"></zem-history>
    <zem-toasts class="zem-toasts"></zem-toasts>
</div>
