@import 'variables';

.zem-categorized-tags-list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.zem-categorized-tags-list__empty-text-container {
    padding-top: 6px;
    margin-left: @default-spacing;
    border-left: 1px solid darken(@light-gray, 10%);
    padding-left: @default-spacing;
}

.zem-categorized-tags-list__category-container {
    margin-left: @default-spacing;
    border-left: 1px solid darken(@light-gray, 10%);
    padding-left: @default-spacing;
}

.zem-categorized-tags-list__category-name {
    font-weight: 300;
    color: @gray;
}

.zem-categorized-tags-list__items-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.zem-categorized-tags-list__item {
    display: inline-block;
    position: relative;
    line-height: 16px;
    padding: 5px 25px 5px 10px;
    color: @text-color;
    background-color: @light-gray;
    border-radius: @border-radius;
    margin: 2px 4px 2px 0;
}

.zem-categorized-tags-list__remove-item {
    display: block;
    width: 12px;
    height: 12px;
    border: none;
    background: url('images/remove-gray.svg') no-repeat center center;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;

    &:hover {
        background-image: url('images/remove-red.svg');
    }
}
