<zem-dropdown-select
        zem-placeholder="Add to blacklist"
        zem-dropdown-select-options="$ctrl.blacklistActions"
        zem-on-select="$ctrl.execute(selected)"
        zem-check-disabled="!$ctrl.isEnabled()"
        zem-disabled-title="At least one Publisher has to be selected before using Add to blacklist and all selected publishers need to be enabled."
        zem-dropdown-select-css-class="publishers-blacklist-bigdrop"
        zem-css-class="show-rows button button--dropdown-toggle-icon">
</zem-dropdown-select>
<zem-dropdown-select
        zem-placeholder="Remove from blacklist"
        zem-dropdown-select-options="$ctrl.unlistActions"
        zem-on-select="$ctrl.execute(selected)"
        zem-check-disabled="!$ctrl.isEnabled()"
        zem-disabled-title="At least one Publisher has to be selected before using Remove from blacklist and all selected publishers need to be blacklisted."
        zem-dropdown-select-css-class="publishers-blacklist-bigdrop"
        zem-css-class="show-rows button button--dropdown-toggle-icon">
</zem-dropdown-select>

<div class="loader" ng-show="$ctrl.showLoader"></div>
