@keyframes show-updated {
    0% { background-color: @updated-color; }
    50% { background-color: @updated-color; }
    100% { background-color: white; }
}

@keyframes show-canceled {
    0% { background-color: @canceled-color; }
    50% { background-color: @canceled-color; }
    100% { background-color: white; }
}

@keyframes fadeOut {
    from { opacity :1; }
    to { opacity :0; display: none; }
}

@-webkit-keyframes fadeOut {
    from { opacity :1; }
    to { opacity :0; display: none; }
}