////////////////////////////
// Global HTML elements //
////////////////////////////

body, html {
    font-family: @default-font-family;
    font-size: @default-font-size;
    color: @text-color;
    background-color: @light-gray;
    min-width: @min-app-width;
}

a,
a:hover,
a:active {
    color: @primary-color;
    cursor: pointer;
}

a.alternative-link,
a.alternative-link:hover,
a.alternative-link:active {
    color: @secondary-color;
}

////////////////////////////
// Internal feature //
////////////////////////////

.internal-feature {
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 6px 0 0;
    border-color: @internal-color transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

////////////////////////////
// Buttons //
////////////////////////////

.button {
    height: @default-button-input-height;
    line-height: @default-button-input-height;
    padding: 0 10px;
    background: tint(@secondary-color, 90%);
    border: none;
    color: @secondary-color;
    font-size: 14px;
    font-weight: 400;
    border-radius: @border-radius;
    box-shadow: none;
    transition: all 250ms ease-in-out;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    outline: none; // TODO: style for outline

    &:not(.button--disabled):not([disabled]):hover {
        background: tint(@secondary-color, 80%);
        border-color: tint(@secondary-color, 80%);
        color: @secondary-color;
        text-decoration: none;
    }

    &:focus, &:visited, &:active {
        text-decoration: none;
    }

    .button__inline-arrow-icon {
        background-image: url('images/arrow-real-blue.svg');
    }

    .internal-feature {

    }
}

.button--highlight {
    background: @primary-color;
    color: @white;

    &:not(.button--disabled):not([disabled]):hover {
        background: darken(@primary-color, 8%);
        color: @white;
        box-shadow: 0px 0px 6px 0px fade(@primary-color,60%);
    }

    .button__inline-arrow-icon {
        background-image: url('images/arrow-real-white.svg');
    }
}

.button--outline {
    background: transparent;
    border: 1px solid tint(@secondary-color, 80%);
    line-height: (@default-button-input-height)-2;
    color: @secondary-color;

    &:not(.button--disabled):not([disabled]):hover {
        background: tint(@secondary-color, 80%);
        box-shadow: 0px 0px 6px 0px fade(@secondary-color,10%);
    }

    .button__inline-arrow-icon {
        background-image: url('images/arrow-real-blue.svg');
    }
}

.button--dark-backgrounds {
    background-color: fade(@white,10%);
    color: @white;

    &:not(.button--disabled):not([disabled]):hover {
        background-color: fade(@white,20%);
        color: @white;
    }
}

.button--plain {
    border: 1px solid @border-gray-color;
    line-height: (@default-button-input-height)-2;
    color: @text-color;
    background: white;
    box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.05);

    &:not(.button--disabled):not([disabled]):hover {
        background: white;
        border: 1px solid darken(@border-gray-color, 20%);
        outline: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        color: @text-color;
    }
}

.button--disabled,
.button[disabled] {
    opacity: 0.4;
    cursor: default;
}

.button--dropdown-toggle-icon {
    position: relative;
    padding-right: 30px;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        right: 10px;
        width: 6px;
        height: 10px;
        background-image: url('images/arrow-blue.svg');
        background-repeat: no-repeat;
    }

    &.button--highlight:after {
        background-image: url('images/arrow-white.svg');
    }

    &.button--outline:after {
        background-image: url('images/arrow-blue.svg');
    }

    &.button--dark-backgrounds:after {
        background-image: url('images/arrow-white.svg');
    }

    &.button--plain:after {
        background-image: url('images/arrow-gray.svg');
    }
}

.button--with-icon {
    position: relative;
    padding-left: 33px;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-repeat: no-repeat;
    }

    &.button--only-icon {
        padding-left: 27px;
    }
}

.button--big {
    width: 100%;
    line-height: 60px;
    height: auto;
    font-size: 24px;
    text-align: center;

    .small-text {
        display: block;
        color: @gray;
        font-size: @default-font-size;
        line-height: 16px;
        white-space: normal;
        margin-bottom: 20px;
    }
}

.button--small {
    height: 24px;
    line-height: 24px;
    font-size: 12px;

    &.button--with-icon {
        padding-left: 28px;

        &:before {
            width: 12px;
            height: 12px;
            background-size: 12px;
        }
    }

    &.button--only-icon {
        padding-left: 22px;
    }

    &.button--dropdown-toggle-icon {
        padding-right: 26px;
    }
}

.button--full-width {
    width: 100%;
    padding: 0 10px;
    vertical-align: middle;
}

.button__inline-arrow-icon {
    display: inline-block;
    height: @default-button-input-height;
    width: @default-button-input-height;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: top;
}

.button__inline-arrow-icon--left {
    transform: rotate(180deg);
}

.button--check-icon {
    &:before {
        background-image: url('images/check-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/check-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/check-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/check-white.svg');
    }
}

.button--remove-icon {
    &:before {
        background-image: url('images/remove-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/remove-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/remove-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/remove-white.svg');
    }

    &:not(.button--disabled):not([disabled]):hover {
        background-color: @red;
        color: @white;

        &:before {
            background-image: url('images/remove-white.svg');
        }
    }
}

.button--add-icon {
    &:before {
        background-image: url('images/add-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/add-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/add-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/add-white.svg');
    }
}

.button--edit-icon {
    &:before {
        background-image: url('images/edit-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/edit-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/edit-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/edit-white.svg');
    }
}

.button--copy-icon {
    &:before {
        background-image: url('images/copy-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/copy-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/copy-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/copy-white.svg');
    }
}

.button--send-icon {
    &:before {
        background-image: url('images/send-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/send-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/send-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/send-white.svg');
    }
}

.button--filter-icon {
    &:before {
        background-image: url('images/filter-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/filter-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/filter-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/filter-white.svg');
    }
}

.button--archive-icon {
    &:before {
        background-image: url('images/archive-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/archive-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/archive-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/archive-white.svg');
    }
}

.button--folder-icon {
    &:before {
        background-image: url('images/folder-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/folder-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/folder-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/folder-white.svg');
    }
}

.button--download-icon {
    &:before {
        background-image: url('images/download-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/download-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/download-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/download-white.svg');
    }
}

.button--upload-icon {
    &:before {
        background-image: url('images/upload-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/upload-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/upload-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/upload-white.svg');
    }
}

.button--calendar-icon {
    &:before {
        background-image: url('images/calendar-blue.svg');
    }

    &.button--highlight:before {
        background-image: url('images/calendar-white.svg');
    }

    &.button--outline:before {
        background-image: url('images/calendar-blue.svg');
    }

    &.button--dark-backgrounds:before {
        background-image: url('images/calendar-white.svg');
    }
}

////////////////////////////
// Buttons holder //
////////////////////////////

.buttons-panel {
    padding: @default-spacing;
    background-color: tint(@secondary-color,90%);
    box-shadow: 0px 0px 3px 0px fade(@secondary-color,40%);
    text-align: left;

    .button {
        margin-right: 10px;
    }

    .message {
        padding: 7px 0;
        line-height: 16px;
    }
}

////////////////////////////
// List elements //
////////////////////////////

ul.with-icons {
    padding-left: 20px;
    list-style: none;

    &.ul-checkmarks li {
        background: url('images/check-green.svg') no-repeat left 2px;
        background-size: 14px;
        padding-left: 20px;
    }
    &.ul-remove li {
        background: url('images/remove-red.svg') no-repeat left 4px;
        background-size: 10px;
        padding-left: 20px;
    }
}

////////////////////////////
// Form elements //
////////////////////////////

@form-input-width: 73%;

.input-box() {
    background: white;
    border: 1px solid @border-gray-color;
    height: @default-button-input-height;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius;
    box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.05);
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

    &:focus {
        border: 1px solid darken(@border-gray-color, 20%);
        outline: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }
}

.form {

}

.form__text {
    color: @gray;
    margin-bottom: @default-spacing;
}

.form__title {
    font-size: @default-font-size+4;
    color: @secondary-color;
    margin-bottom: 2px;
}

.form__label {
    width: 100%;
    position: relative;
    margin-bottom: 5px;

    .internal-feature {
        left: -5px;
        top: 5px;
    }
}

.form__information {
    float: left;
    width: 100%;
}

.form__input-text {
    .input-box();
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

    &[readonly], &[disabled] {
        background-color: @very-light-gray;
    }
}

.form__prefixed-field,
.form__postfixed-field {
    display: table;
    width: 100%;

    .form__input-text {
        .input-box();
        float: none;
        width: 100%;
        display: table-cell;
    }
}

.form__prefixed-field .form__input-text {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset -1px 3px 3px 0px rgba(0,0,0,0.05);

    &:focus {
        padding-left: 9px;
    }
}

.form__postfixed-field .form__input-text {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form__field-prefix,
.form__field-postfix {
    .input-box();
    display: table-cell;
    color: @gray;
    font-style: normal;
    width: 1%;
    cursor: default;
    padding: 6px 10px 4px 10px;
    vertical-align: top;
    background-color: @very-light-gray;

    .button {
        float: none;
    }
}

.form__field-prefix {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form__field-postfix {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.05);
}

.form__prefixed-field--with-icon {
    &::before {
        .input-box();
        content: "";
        display: table-cell;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: @default-button-input-height - 6;
    }
}

.form__postfixed-field--with-icon {
    &::after {
        .input-box();
        content: "";
        display: table-cell;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: @default-button-input-height - 6;
    }
}

.form__prefixed-field--facebook-icon::before {
    background-image: url('images/facebook.svg');
    background-size: @default-button-input-height - 4;
    background-position: 1px center;
    width: 29px;
}

.form__postfixed-field--facebook-icon::after {
    background-image: url('images/facebook.svg');
    background-size: @default-button-input-height - 6;
    background-position: 4px center;
    width: 29px;
}

.form__prefixed-field--calendar-icon::before {
    background-image: url('images/calendar-gray.svg');
    background-size: @default-button-input-height - 12;
    background-position: 8px 6px;
    width: 34px;
}

.form__postfixed-field--calendar-icon::after {
    background-image: url('images/calendar-gray.svg');
    background-size: @default-button-input-height - 12;
    background-position: 8px 6px;
    width: 34px;
}

textarea.form__textarea {
    .input-box();
    width: 100%;
    height: 100px;
    line-height: 18px;
    padding: 5px 10px;
    overflow: auto;
}

input.form__input-checkbox {
    width: auto;
    height: auto;
    margin-top: 9px;
    vertical-align: top;
    cursor: pointer;
}

.form__checkbox-text {
    margin-left: 5px;
    cursor: pointer;

    .clearfix();
}

input.form__input-radio {

}

select.form__multiselect {
    .input-box();
    width: 100%;
    height: 100px;
    overflow: auto;

    option {
        margin-bottom: 1px;
        border-radius: @border-radius;
    }

    &:focus option:checked {
        background: @secondary-color linear-gradient(0deg, @secondary-color 0%, @secondary-color 100%);
    }

    option:checked {
        background: @very-light-gray linear-gradient(0deg, @very-light-gray 0%, @very-light-gray 100%);
    }
}

.form__input-tags {
    .input-box();
    min-height: 38px;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;
    padding: 5px 5px 0 0;
    overflow: auto;
    white-space: normal;
}

.input-tag__item {
    background-color: @very-light-gray;
    border-radius: @border-radius;
    display: inline-block;
    padding: 4px 10px;
    margin: 0 0 5px 5px;
}

.input-tag__prefix {

}

.input-tag__name {

}

.input-tag__item--with-remove {
    cursor: pointer;
    position: relative;
    padding-right: 25px;

    &::after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background: url('images/remove-gray.svg') no-repeat center center;
        position: absolute;
        right: 5px;
        top: 7px;
    }

    &:hover {
        &::after {
            background-image: url('images/remove-red.svg');
        }
    }
}

.form__group {
    clear: both;
    margin: 10px 0;
    position: relative;

    .clearfix();

    .message {
        width: @form-input-width;
        margin-left: 100-@form-input-width;
        margin-top: 10px;
    }

    .button {
        float: left;
    }

    .button--full-width {
        width: @form-input-width;
    }

    .form__label {
        float: left;
        width: 100-2-@form-input-width;
        margin: 0 2% 0 0;
        padding-top: 7px;
    }

    textarea.form__textarea,
    .form__input-text,
    select.form__multiselect,
    .form__prefixed-field,
    .form__postfixed-field,
    .form__information {
        float: left;
        width: @form-input-width;
    }

    .form__prefixed-field,
    .form__postfixed-field {
        .form__input-text {
            float: none;
            width: 100%;
        }

        .button {
            float: none;
            margin-top: -4px;
            margin-bottom: -3px;
            vertical-align: middle;
        }
    }

    .form__postfixed-field .button {
        margin-right: -9px;
        margin-left: 10px;
    }

    input.form__input-checkbox {
        float: left;
    }
}

.form__group--informative {
    margin: 3px 0;
}

.form__indented {
    margin-left: 19px;
    margin-bottom: 30px;
    border-left: 3px solid @light-gray;
    padding-left: 20px;
}

.form--error {
    .form__input-text,
    .form__textarea,
    .form__multiselect,
    .button--plain,
    .button--outline,
    .form__prefixed-field .form__input-text,
    .form__postfixed-field .form__input-text {
        border-color: @red;
    }
}

////////////////////////////
// Form elements - OLD //
////////////////////////////

input {
    background: none;
    border: 1px solid @border-gray-color;
    height: @default-button-input-height;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius;
    box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.05);

    &:focus {
        border: 1px solid darken(@border-gray-color, 20%);
    }
}

input[type="checkbox"], input[type="radio"] {
    height: auto;
    margin-top: 2px;
    box-shadow: none;
}

label, label.control-label, .form-horizontal .control-label {
    font-weight: 500;
    text-align: left;
}

////////////////////////////
// Modal window //
////////////////////////////

.modal {
    .modal-dialog {
        width: 640px;
    }

    .modal-content {
        border-radius: @border-radius;
    }
}

.modal--wide {

}

.modal__header {
    border-bottom: 4px solid @primary-color;
    padding: 15px 15px 10px 15px;
}

.modal__title {
    color: @primary-color;
    font-size: 20px;
}

.modal__body {
    padding: @default-spacing;
}

.modal__footer {
    border-bottom-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
}

////////////////////////////
// Tags //
////////////////////////////

.tag {
    padding: 2px 5px;
    background-color: @very-light-gray;
    font-size: @default-font-size;
    display: inline-block;
    color: @text-color;
    border-radius: @border-radius;
    margin: 0 3px 3px 0;
}

.tag--show-more {
    color: @primary-color;

    &:hover {
        background: @primary-color;
        color: white;
        text-decoration: none;
    }
}

.tag__explain {
    color: @gray;
    margin-right: 3px;
}

////////////////////////////
// Alerts & Notes //
////////////////////////////

.sidenote {
    font-weight: 400;
    font-size: @default-font-size;
    color: @gray;
    font-style: italic;

    &.width-limit {
        width: 500px;
        display: inline-block;
    }
}

////////////////////////////
// Messages //
////////////////////////////

.message {
    display: inline-block;
}

.message--success {
    color: @green;
}

.message--error {
    color: @red;
}

.message--warning {
    background-color: fade(@orange, 5%);
    border: 1px solid fade(@orange, 10%);
    padding: 8px 10px;
    position: relative;
    border-radius: @border-radius;
}

.message--info {
    background-color: fade(@blue, 5%);
    border: 1px solid fade(@blue, 10%);
    padding: 8px 10px;
    position: relative;
    border-radius: @border-radius;
}

.message--with-icon {
    padding-left: 34px;

    &::before {
        content: "";
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center center;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 7px;
        top: 7px;
        opacity: 0.5;
    }

    &.message--warning {
        &::before {
            background-image: url('images/exclamation-orange.svg');
        }
    }

    &.message--info {
        &::before {
            background-image: url('images/info-blue.svg');
        }
    }
}

////////////////////////////
// Special icons //
////////////////////////////

.help-popover,
.help-popover:hover,
.help-popover:active,
.help-popover:visited {
    display: inline-block;
    background-color: fade(@secondary-color, 50%);
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 5px;
    width: 13px;
    height: 13px;
    &:after {
        content: "";
        width: 13px;
        height: 13px;
        display: block;
        background: url('images/question-white.svg') no-repeat center center;
        background-size: 9px;
    }
}

////////////////////////////
// Structure elements //
////////////////////////////

.spacing {
    display: table-cell;
    width: @default-spacing*1.5;
}

.white-background {
    background-color: @white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    padding: @default-spacing;
    margin-top: @default-spacing*1.5;
    position: relative;
}
