//////////////////////////
// HTML elements styles //
//////////////////////////

body {
    font-family: @default-font-family;
    color: @text-color;
}

a,
a:hover,
a:active,
a:visited {
    color: @default-color;
}
