@import 'variables';

////////////////////////////
// Splash screen //
////////////////////////////

.splash {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

[ng-cloak].splash {
    display: block !important;
}

///////////////////////////
// Layout //
///////////////////////////

.zem-container {
    min-height: 100vh;
    padding: @default-spacing*1.5+@header-height @default-spacing 72px @default-spacing;
    position: relative;
    transition: padding-top @default-animation;
}

.no-tabset.zem-container {
    padding-top: @default-spacing*1.5+@header-height;
}

@media only screen and (min-width: @min-app-width) {
    .fixed-header .zem-container {
        padding-top: @default-spacing*1.5+@header-height;
    }
}

@media only screen and (max-width: ((@min-app-width)-1)) {
    .zem-container {
        padding: 0 0 72px 0 !important;
    }

    .content-container {
        padding: @default-spacing*1.5 @default-spacing 0 @default-spacing;
    }
}

.content-container {
    display: block;
}

.content-container__title {
    margin: -10px 0 -10px 0;
}

.zem-footer {
    position: absolute;
    bottom: 0;
    left: @default-spacing;
    right: @default-spacing;
}

///////////////////////////
// Chart & Infobox //
///////////////////////////

.chart-infobox__container {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}

.chart-infobox__chart {
    display: table-cell;
    position: relative;
    width: 100%;
    height: 375px;
    padding: @default-spacing @default-spacing 0 @default-spacing;
    vertical-align: top;
    margin-top: 0;
}

.chart-infobox__infobox {
    display: table-cell;
    width: 350px;
    position: relative;
    padding: 0;
    margin-top: 0;
}

.chart-infobox__spacing {
    display: table-cell;
    width: @default-spacing*1.5;
}
