.page {
    h1 {
        margin: -10px 0 -10px 0;
    }

    h2 {
        margin: -@default-spacing -@default-spacing 20px -@default-spacing;
        padding: (@default-spacing/2)+6 @default-spacing (@default-spacing/2)+4 @default-spacing;
        border-bottom: 1px solid @border-color;
    }
}

.container-fluid, .container {
    min-height: 100vh;
    padding-bottom: 52px;
    position: relative;

    .footer {
        position: absolute;
        bottom: 0;
    }
}

.body .content-full {

}

///////////////////////////
// Edit-campaign-goal modal //
///////////////////////////

.form__group--meet-or-beat-goal {
    .form__postfixed-field,
    .form__input-text {
        width: @form-input-width-modal - 45% - 2%;
        margin-right: 2%;
    }

    .form__postfixed-field {
        .form__input-text {
            width: 100%;
        }
    }

    .button {
        width: 45%;
    }
}

///////////////////////////
// Internal feature //
///////////////////////////

.zem-internal-feature-container {
    position: relative;

    > zem-internal-feature {
        border: none;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
    }
}

zem-internal-feature {
    position: absolute;
    z-index: 100;

    .internal {
        margin-right: 0.5em;

        &:before {
            content: " ";
            width: 0;
            height: 0;
            display: block;
            border-top: 7px solid @internal-color;
            border-right: 7px solid transparent;
            float: left;
        }
    }
}

.zem-grid-container .zem-grid .zem-grid-header .zem-grid-header-cell-data zem-internal-feature,
.zem-header .zem-header-menu .dropdown .dropdown-menu li a.internal {
    position: relative;
    border: none;
    margin: 0;
    z-index: 1;
}

///////////////////////////
// Layout //
///////////////////////////

.body .content-full {
    padding: 0;
    margin: 0 @default-spacing;
}

.page {
    padding: 0;
    margin: @default-spacing*1.5+100 0 @default-spacing*1.5 0;
    border: none;
    transition: margin-top @default-animation;

    .section {
        .alert {
            margin: -@default-spacing -@default-spacing @default-spacing -@default-spacing;
            border: none;
            border-radius: 0;
        }
    }
}

///////////////////////////
// Graph & Infobox
///////////////////////////

.graph-infobox-parent {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;

    .graph-infobox-row {
        display: table-row;

        .graph-container, .insights-container {
            padding: @default-spacing;
            height: 375px;
            display: table-cell;
            width: 100%;
            vertical-align: top;
        }

        .graph-container {
            position: relative;

            .chart-container {
                vertical-align: top;

                .chart {
                    height: 290px;
                    margin-left: -10px;
                    margin-right: -10px;

                    .highcharts-background {
                        fill: none;
                    }
                }

                .chart-selector {
                    display: inline-block;
                    margin: 0 @default-spacing @default-spacing 0;

                    .select2-container {
                        width: 280px;
                    }

                    .middle-text {
                        font-size: @default-font-size;
                        color: @gray;
                        padding: 7px 5px 0 5px;
                        display: inline-block;
                        vertical-align: top;
                    }
                }

                .chart-legend {
                    display: inline-block;
                    padding: 4px 0 0 0;
                    margin: 0 0 @default-spacing 0;
                    vertical-align: top;

                    li {
                        display: inline-block;
                        margin-right: @default-spacing;
                        cursor: default;
                        margin-bottom: 5px;

                        div {
                            display: inline-block;
                        }

                        .legend-item {
                            .button-remove {
                                position: relative;
                                cursor: pointer;
                                width: 22px;
                                height: 22px;
                                text-align: center;
                                float: left;

                                img {
                                    width: 10px;
                                    position: absolute;
                                    left: 6px;
                                    top: 6px;
                                }

                                &.disabled {
                                    cursor: default;

                                    img {
                                        display: none;
                                    }
                                }
                            }

                            .text {
                                background-color: orange;
                                padding: 0 5px;
                                line-height:  22px;
                                font-size: @default-font-size;
                                text-transform: uppercase;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .no-data {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -16px;
                    margin-left: -50px;
                    z-index: 2;
                    text-align: center;
                    color: @primary-color;
                    font-size: 24px;
                    font-weight: 300;
                    padding: 5px 20px;
                    border: 1px solid #d8d8d8;
                    background-color: @white;
                }

                .loader {
                    width: 100%;
                    height: 290px;
                    background-color: fade(white, 75%);
                    left: 25px;
                    top: 55px;
                    z-index: 3;
                }
            }
        }

        .insights-container {
            display: table-cell;
            width: 100%;
            vertical-align: top;
            padding-right: 20px;

            .table-insights>tbody>tr:nth-child(even) {
                background-color: @very-light-gray;
            }

            .content-insights {
                display: table;
                width: 100%;

                &>div {
                    display: table-row;
                }

                .best-performers {
                    display:table-cell;
                    padding-right: 20px;
                    width: 50%;

                    td:last-child {
                        color: @green;
                    }
                }
                .worst-performers {
                   display: table-cell;
                   width: 50%;

                    td:last-child {
                        color: @red;
                    }
                }
                .worst-selected-performers {
                    td:last-child {
                        color: @red;
                    }
                }

                .table {
                    margin-bottom: 0;

                    td:first-child {
                        width: 30px;
                    }

                    td:last-child {
                        width: 35px;
                    }

                    td {
                        padding: 4px;
                        line-height: 18px;
                    }
                }

                .performer-switch-table {
                    display: table;
                    &>div {
                        display: table-row;
                    }

                    .link-cell {
                        display: table-cell;
                    }

                    a {
                        white-space: nowrap;
                        margin-left: 10px;
                        margin-right:10px;
                    }

                    a:link,
                    a:focus,
                    a:hover,
                    a:visited {
                        border-width: 0;
                        text-decoration: none;
                    }

                    .top-selection-cell {
                        display: table-cell;
                        width: 6px;
                        height: 9px;
                        vertical-align: bottom;
                        text-align: center;
                        position:relative;

                        &:first-of-type {
                            border-right: 1px solid @insights-table-header;
                        }

                        .top-arrow {
                            display: block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 6px 6px 6px;
                            border-color: transparent transparent @insights-table-header transparent;
                            margin: 0 auto; // centers the arrow
                        }
                    }


                    .link-cell:first-of-type,
                    .top-selection-cell:first-of-type {
                        border-right: 1px solid @insights-table-header;
                    }
                }

                .insights-title {
                    font-size: 16px;
                }
                .insights-best-title {
                    .insights-title;
                    color: @insights-text-green;
                }
                .insights-worst-title {
                    .insights-title;
                    color: @insights-text-red;
                }
            }
        }

        .infobox-container {
            display: table-cell;
            width: 350px;
            position: relative;
            padding: 0;

            .infobox-wrapper {
                height: auto;
                max-height: none;

                .infobox-background {
                    background-color: transparent;
                }

                .infobox {
                    height: 100%;
                    padding: 0;

                    .infobox-header {
                        .infobox-header-row {
                            padding: 5px 5px 5px 0;
                            margin-right: 0;
                            border-bottom: 1px solid @border-color;

                            .infobox-status {
                                float: left;
                                width: 15px;
                                height: 15px;
                                margin: 11px 10px 0 10px;

                                &.infobox-active-icon {
                                    background-color: @green;
                                    border-radius: 50%;
                                }
                                &.infobox-inactive-icon {
                                    background-color: @red;
                                    border-radius: 50%;
                                }
                                &.infobox-stopped-icon {
                                    background-color: @light-gray;
                                    border-radius: 50%;
                                }
                                &.infobox-autopilot-icon {
                                    background: url("images/autopilot.svg") no-repeat;
                                }
                                &.infobox-landing-mode-icon {
                                    background: url("images/landing.svg") no-repeat;
                                    margin: 13px 8px 0 7px;
                                    width: 20px;
                                    height: 20px;
                                }
                            }

                            .infobox-header-title-cell {
                                float: left;
                                width: 225px;

                                .infobox-title {
                                    color: @text-color;
                                    line-height: 18px;
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: @secondary-color;
                                    white-space: nowrap;
                                    overflow:hidden;
                                    text-overflow: ellipsis;

                                    .infobox-title-level {
                                        color: @gray;
                                        display: block;
                                        font-size: 12px;
                                        font-weight: 400;
                                    }
                                }
                            }

                            .infobox-header-button-cell {
                                float: right;
                                margin-top: 3px;
                                margin-right: 2px;
                            }

                            .infobox-header-cell {
                                width: 15px;
                            }

                            &:after {
                                clear:both;
                                content: "";
                                display: block;
                            }
                        }
                    }

                    .infobox-body {
                        height: 224px;
                        padding: 10px;
                        margin-right: 0;
                        overflow-x: hidden;
                        overflow-y: scroll;
                    }

                    .infobox-footer {
                        background-color: fade(@secondary-color,10%);
                        padding: 10px;
                        margin-right: 0;
                        height: 100px;
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        overflow-y: auto;
                    }

                    hr {
                        display: none;
                    }

                    .infobox-setting {
                        overflow: hidden;
                        margin-bottom: 6px;

                        .infobox-setting-value-container {
                            float: left;
                            line-height: 16px;
                            width: 189px;

                            &.primary .infobox-setting-value {
                                font-weight: 500;
                            }

                            &:after {
                                clear:both;
                                content: "";
                                display: block;
                            }
                        }

                        .infobox-setting-label {
                            float: left;
                            color: @gray;
                            line-height: 16px;
                            width: 125px;
                        }

                        .infobox-setting-value {
                            display: inline;
                            color: #454545;
                            font-weight: 400;
                        }

                        .infobox-setting-value-comment {
                            display: inline;
                            color: @gray;
                        }

                        .infobox-details-label {
                            display: inline;
                            color: @gray;
                        }

                        .infobox-setting-icon {
                            display: inline-block;
                            position: relative;
                            width: 14px;
                            height: 14px;
                            margin-right: 5px;

                            .infobox-icon {
                                position: absolute;
                                width: 14px;
                                height: 14px;
                                top: 1px;
                            }
                        }
                    }

                    &.infobox-all-accounts {
                        .infobox-header .infobox-header-row {
                            padding: 10px 0;

                            .infobox-header-title-cell {
                                margin-left: 10px;

                                .infobox-title-level {
                                    line-height: 18px;
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: @secondary-color;
                                }
                            }
                        }

                        .infobox-body {
                            height: 332px;
                        }
                    }
                }

                .infobox-setting-value {
                    color: @text-color;
                }
            }
        }

        .sidebar-container {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            display: block;
            width: 80px;
            display: block;
            z-index: 1;

            .zem-side-tabset {
                width: 100%;
                height: 100%;

                ul {
                    padding-bottom: 0;
                    height: 100%;
                    border: 0;

                    li {
                        margin: 0;

                        > a {
                            height: 100%;
                            border: 0;
                            margin: 0;
                            padding: 0;

                            &:hover {
                                background-color: @white;
                            }
                        }

                        .tab-table {
                            display: table;
                            width: 100%;
                            height: 100%;

                            .tab-row {
                                display: table-row;
                            }

                            .tab-body-cell {
                                display: table-cell;
                                width: 70px;
                                height: 100%;
                                background-color: @white;

                                > a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    background-size: 30px 30px;
                                    transition: background-color 200ms ease-in-out;

                                    &:hover {
                                        background-color: @very-light-gray;
                                    }
                                }

                                &.performance {
                                    border-bottom: 1px solid @light-gray;

                                    a {
                                        background-image: url('images/performance-blue.svg');
                                    }
                                }

                                &.content-insights a {
                                    background-image: url('images/content-insights-blue.svg');
                                }
                            }

                            .tab-selection-cell {
                                display: table-cell;
                                vertical-align: middle;
                                width: 11px;
                                border-left: 2px solid @light-gray;

                                .right-arrow {
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 9.5px 0 9.5px 9px;
                                    border-color: transparent transparent transparent @secondary-color;
                                }
                            }
                        }

                        .active {
                            .tab-selection-cell {
                                border-left-color: @secondary-color;
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.graph-container,
.insights-container,
.infobox-container {
    background-color: @white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    padding: 15px;
}

.page-campaign-ad-groups, .page-media-sources {
    .graph-infobox-parent .graph-infobox-row {
        .graph-container, .insights-container {
            &:not(.all-accounts-sources) {
                &:not(.account-sources) {
                    padding-left: 100px;
                }
            }
        }
    }
}

.section .button-bar {
    margin-bottom: @default-spacing;

    .button-bar-item.pull-right {
        margin-right: 0;
        margin-left: 10px;
    }
}

.highcharts-tooltip > span {
    font-family: @default-font-family !important;

    .tooltip-header {
        padding-bottom: 10px;
        font-weight: 500;
        text-align: center;
    }

    .color-box {
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 2px;
        border-radius: 2px;
    }
}

// POPOVER //

.popover:before {
    background-color: @primary-color;
}

///////////////////////////
// Tab navigation //
///////////////////////////

.zem-tabset {
    position: fixed;
    width: 100%;
    z-index: 998;
    top: @header-height;
    height: @tabset-height;
    transition: all @default-animation;
    left: 0px;

    .nav-tabs {
        width: 100%;
        background-color: @white;
        border: none;
        padding: 0 @default-spacing;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);

        > li {
            margin-bottom: 0;
            border-right: 1px solid @light-gray;

            > a,
            > a:hover,
            > a:active,
            > a:visited {
                padding: 0;
                margin: 0;
                border: none;
                border-radius: 0;

                > uib-tab-heading {
                    > a,
                    > a:active,
                    > a:visited {
                        display: block;
                        padding: 9px 20px;
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 16px;
                        color: @text-color;
                        text-transform: none;
                        transition: all @default-animation;
                        background-color: white;
                    }

                    > a:hover {
                        color: @primary-color !important;
                    }
                }
            }

            &.active > a {
                > uib-tab-heading {
                    > a,
                    > a:hover,
                    > a:active,
                    > a:visited {
                        color: @primary-color;
                        box-sizing: border-box;
                        padding-bottom: 6px;
                        border-bottom: 3px solid @primary-color;
                        margin-bottom: 0;
                    }
                }
            }
        }

        > li:first-child {
            border-left: 1px solid @light-gray;
        }

        > span {
            float: right;
            display: block;
            position: relative;
            line-height: 40px;
            padding-left: 25px;
            transition: all @default-animation;

            .tabset-little-red-square {
                position: absolute;
                display: block;
                width: 15px;
                height: 15px;
                background-color: @light-gray;
                border-radius: 50%;
                left: 0;
                top: 11px;
                transition: all @default-animation;
            }
        }
    }
}

@media only screen and (min-width: @min-app-width) {
    .fixed-header {
        .zem-tabset {
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
            height: @tabset-height-minimized;
            top: 30px;

            .nav-tabs {
                & > li {
                    & > a > uib-tab-heading > a {
                        padding: 4px 20px;
                        font-size: 14px;

                        &:hover {
                            padding: 4px 20px;
                            font-size: 14px;
                        }
                    }

                    &.active > a > uib-tab-heading > a {
                        padding-bottom: 1px;
                    }
                }

                > span {
                    line-height: 28px;

                    .tabset-little-red-square {
                        top: 6px;
                    }
                }
            }
        }
    }
}

.custom-cols.dropdown {
    .dropdown-menu {
        margin-top: 7px;
        border: 1px solid @border-gray-color;
        box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
        color: @text-color;

        width: 18em;

        max-height: 400px;
        overflow-y: scroll;

        .checkbox {
            margin: 3px 20px
        }

        .category-name {
            color: @secondary-color;
            margin: 8px 0 0 8px;
            font-weight: 600;
            font-size: 16px;
        }

        li:hover .checkbox label {
            text-decoration: underline;
        }
    }
}

///////////////////////////
// Tables //
///////////////////////////

.table {
    thead, tfoot {
        background-color: transparent;
        border: none;

        tr {
            border: none;

            > th {
                border: none;
                background-color: tint(@secondary-color, 90%);
                border-bottom: 1px solid tint(@secondary-color, 80%);
                color: @secondary-color;
                font-weight: 500;
                font-size: (@default-font-size)-1;

                a {
                    color: @secondary-color;
                    font-weight: 500;
                    font-size: (@default-font-size)-1;
                }
            }
        }
    }

    > tbody {
        border-bottom: 1px solid tint(@secondary-color, 90%);

        > tr > td {
            border-top: none;
            border-bottom: 1px solid tint(@secondary-color, 90%);
            vertical-align: middle;

            a {
                font-weight: 500;
                color: @secondary-color;
            }

            strong {
                color: @secondary-color;
                font-weight: 500;
            }

            &.action-buttons {
                position: relative;
                padding: 8px 0;
                background-color: transparent;
                box-shadow: none;
                bottom: auto;
                left: auto;
                right: auto;
                z-index: auto;
                text-align: right;
            }
        }

        +tbody {
            border-top: none;
        }

        > tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }

    tfoot {
        border: none;

        > tr {
            border: none;

            > td {
                border: none;
                background-color: tint(@secondary-color, 96%);
                border-top: 1px solid tint(@secondary-color, 80%);
            }
        }
    }

    &.table-hover {
        tbody tr:hover {
            background-color: tint(@secondary-color, 96%);

            td {
                background-color: tint(@secondary-color, 96%);
            }
        }
    }

    .notes {
        max-width: 200px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
    }
}

///////////////////////////
// Settings general //
///////////////////////////

.form-group {
    &.indented  {
        margin-left: 30px;
    }

    .row.media-source-control-row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.page {
    h1 {
        margin: -10px 0 -10px 0;
        color: @secondary-color;
        font-weight: 400;
        font-size: 24px;
    }

    h2 {
        margin: -@default-spacing -@default-spacing 20px -@default-spacing;
        padding: (@default-spacing/2)+6 @default-spacing (@default-spacing/2)+4 @default-spacing;
        color: @secondary-color;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid @border-color;
    }

    h3 {
        color: @secondary-color;
        font-size: 16px;
        font-weight: 500;
    }
}

///////////////////////////
// Credits & Budgets //
///////////////////////////

.named-data {
    width: 500px;

    .name, .value {
        float: left;
        padding: 2px 0;
    }

    .name {
        width: 75%;
    }

    .value {
        width: 25%;
        text-align: right;
    }

    .exposed {
        font-size: 18px;
        color: @primary-color;

        &.value {
            font-weight: 500;
        }
    }

    .topborder {
        border-top: 1px solid @line-color;
        padding-top: 10px !important;
        margin-top: 5px;
    }

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

///////////////////////////
// Alerts //
///////////////////////////


.alert {
    position: relative;
    padding: 10px 15px;
    line-height: 16px;
    border-radius: 0;
    margin: 0;
    width: auto;

    &.alert-icon {
        padding-left: 40px;

        .icon {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            display: block;
            background-size: 20px;
        }

        &.alert-warning {
            .icon {
                background-image: url('images/alert-warning.svg');
            }
        }
    }

    .form-alert-exclamation {
        width: 20px;
        height: 20px;
        float: left;
        display: inline-block;
        margin-right: 10px;
    }

    .form-alert-body {
        display: inline-block;
        line-height: 20px;
    }
}

.page-ad-group-settings #form-ad-group-settings {
    padding-top: 0px;
}

.page-campaign-agency .table-campaign-goals .primary-goal-label:before {
    background-color: @secondary-color;
}

.zem-conversion-pixels table>tbody>tr>td {
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 8px;
}

///////////////////////////
// Footer //
///////////////////////////

.footer {
    padding-bottom: 20px;

    .logo {
        float: left;
        height: 20px;
        margin-top: 4px;
    }

    .small-text {
        text-align: left;
        color: @gray;
        font-size: @default-font-size;
        line-height: 16px;
        float: left;
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid @line-dark-color;

        a {
            color: @gray;
        }
    }
}

///////////////////////////
// Move to utilities.less //
///////////////////////////

.loader {
    display: inline-block;
    width: 50px;
    height: 20px;
    background: transparent url('images/loader.gif') no-repeat center center;
    vertical-align: middle;
}

.loader-container {
    position: relative;
    width: 100%;

    > .loader {
        display: block;
        position: absolute;
        .position-properties(0);
        z-index: 1;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -25px;
    }
}

.table tr td .loader {
    display: block;
    margin: 0 auto;
}

.error {
    color: @red;

    a {
        color: @red !important;
    }
}

///////////////////////////
// Move to zemHeader.component.less //
///////////////////////////

.daterangepicker {
    &.opensleft:before {
        content: none;
    }
    &.opensleft:after {
        content: none;
    }

    .ranges {
        li {
            margin-bottom: 2px;
            padding: 2px 12px;
            background-color: transparent;
            border: 1px solid transparent;
            color: @secondary-color;

            &:last-child {
                margin-bottom: 12px;
            }

            &:hover {
                border: 1px solid transparent;
                background-color: @secondary-color;
                color: @white;
            }

            &.active {
                border: 1px solid transparent;
                background-color: @secondary-color;
                color: @white;
            }
        }

        .btn-primary, .btn-default {
            padding: 0 10px;
            font-size: 14px;
        }
    }

    .calendar-table {
        padding: 0;
    }

    .calendar {
        margin-bottom: 0;

        .daterangepicker_input {
            display: none;
        }

        td, th {
            line-height: 20px;
        }

        td {
            &.available {
                &.off.in-range {
                    background-color: @very-light-gray;

                    &:hover {
                        color: @secondary-color;
                    }
                }

                &:hover {
                    background-color: @secondary-color;
                    color: @white;
                }
            }

            &.active {
                border: 1px solid transparent;
                background-color: @secondary-color;

                &.off.end-date, &.off.start-date {
                    background-color: #ddd;
                }
            }

            &.in-range {
                background-color: tint(@secondary-color, 80%);

                &.active {
                    background-color: @secondary-color;
                }
            }
        }

        &.left {
            td.active.end-date:not(.start-date):not(.off) {
                background-color: fade(@secondary-color, 50%);
            }
        }
        &.right {
            td.active.start-date:not(.end-date):not(.off){
                background-color: fade(@secondary-color, 50%);
            }
        }
    }
}

///////////////////////////
// Popover //
///////////////////////////

.popover {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: @border-radius;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);

    .popover-content {
        padding: 10px;
        max-height: 250px;
        overflow-y: auto;

        ul.icon-list {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                padding: 8px 0 8px 25px;
                position: relative;
                border-bottom: 1px solid @line-color;

                .zem-icon {
                    width: 16px;
                    position: absolute;
                    left: 0;
                    top: 8px;
                }

                &:first-child {
                    padding-top: 0;

                    .zem-icon {
                        top: 0;
                    }
                }

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }

    &.top .arrow {
        border-top-color: @white;
    }

    &.right .arrow {
        border-right-color: @white;
    }

    &.bottom .arrow {
        border-bottom-color: @white;
    }

    &.left .arrow {
        border-left-color: @white;
    }

    // Hack to expand popover's box to make it easier to move cursor inside the popover without popover closing
    &:after {
        content: '';
        position: absolute;
        display: block;
    }
    &.top:after {
        right: 0;
        bottom: 0;
        left: 0;
        height: 12px;
        margin-bottom: -12px;
    }
    &.right:after {
        top: 0;
        left: 0;
        bottom: 0;
        width: 12px;
        margin-left: -12px;
    }
    &.bottom:after {
        top: 0;
        right: 0;
        left: 0;
        height: 12px;
        margin-top: -12px;
    }
    &.left:after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 12px;
        margin-right: -12px;
    }
}

///////////////////////////
// Media sources - 2 column select //
///////////////////////////

select.media-source-select {
    height: 180px;
    width: 100%;
}

.publishers-blacklist-bigdrop {
    width: 240px !important;
}


.media-source-control-row {
    margin-top: 5px;

    select {
        outline: none;
    }
}

///////////////////////////
// Move to datepicker component //
///////////////////////////

.uib-datepicker-popup.dropdown-menu {
    border: 1px solid @border-color;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);

    .uib-datepicker {
        padding: 0 5px;

        div:focus {
            outline: none;
        }

        .btn {
            border: none;
            background: none;

            &:hover {
                background: none;
                background-color: @secondary-color;
                color: @white !important;

                span {
                    color: @white !important;
                }
            }

            &.active {
                background-color: @secondary-color;

                .text-info {
                    color: @white;
                }
            }

            &:hover {
                background-color: @secondary-color;
            }

            &[disabled] {
                opacity: 1;

                span {
                    color: @light-gray;
                }

                &:hover {
                    background-color: transparent;

                    span {
                        color: @light-gray !important;
                    }
                }
            }
        }
    }
}

///////////////////////////
// Temporary solutions that should be fixed someday //
///////////////////////////

.zem-tabset zem-internal-feature {
    left: 0px !important;
    top: 0px !important;
}

.select2-results zem-internal-feature {
    position: relative;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: @red !important;
}

.zem-grid-column-selector,
.zem-grid-breakdown-selector {
    ul.dropdown-menu {
        .list-wrapper {
            padding-bottom: @default-spacing;

            > div {
                margin: 0 0 10px 16px;
                border-bottom: 1px solid @line-color;
                padding-bottom: 10px;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }

        .buttons-panel {
            padding: 10px @default-spacing;
        }

        li {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .category-name {
            color: @secondary-color;
            font-size: @default-font-size+2;
            font-weight: bold;
            margin: 0;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .description {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: 0;
        }

        .subcategory {
            .col-xs-6 {
                padding-left: 0 !important;
                padding-right: 0 !important;

                .sub-category-name {
                    color: @text-color;
                    font-weight: normal;
                    margin-left: 0;
                }
            }
        }

        .checkbox {
            margin: 3px 0 3px 5px;
            label {
                font-weight: normal;
                font-size: @default-font-size;

                &.disabled {
                    opacity: 0.4;
                }
            }
        }
    }
}

.checkbox-no-text input[type="checkbox"] {
    margin-top: 11px;
}

.form-horizontal .form-group .radio {
    margin-left: 15px;
}

.daily-spend-caps { // on adgroup settings
    margin-left: 5px !important;
}

.settings-option-group {
    padding-left: 16px;
    margin: 0 5px;
    &__header {
        margin-bottom: 5px;
    }
    &__control { }
}

.splash {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    &__loader {
        &:extend(.loader);
    }
}

[ng-cloak].splash {
    display: block !important;
}
////////////////////////////
// Responsive //
////////////////////////////

@media only screen and (max-width: ((@min-app-width)-1)) {
    .zem-tabset {
        position: relative;
        width: auto;
        margin: 0 -@default-spacing;
        top: auto;
    }

    .page {
        margin-top: @default-spacing*1.5;
    }
}
