@import 'variables';

.zem-calendar-bg-icon::before {
    background-image: url('images/calendar-gray.svg');
}

.zem-calendar-bg-icon::after {
    background-image: url('images/calendar-gray.svg');
}

.zem-error-bg-icon::before {
    background-image: url('images/error-red.svg');
}

.zem-error-bg-icon::after {
    background-image: url('images/error-red.svg');
}

.zem-warning-bg-icon::before {
    background-image: url('images/exclamation-orange.svg');
}

.zem-warning-bg-icon::after {
    background-image: url('images/exclamation-orange.svg');
}

.zem-info-bg-icon::before {
    background-image: url('images/info-blue.svg');
}

.zem-info-bg-icon::after {
    background-image: url('images/info-blue.svg');
}

.zem-success-bg-icon::before {
    background-image: url('images/success-green.svg');
}

.zem-success-bg-icon::after {
    background-image: url('images/success-green.svg');
}

.zem-help-bg-icon::before {
    background-image: url('images/help-dark-gray.svg');
}

.zem-help-bg-icon::after {
    background-image: url('images/help-dark-gray.svg');
}
