@import 'variables';

///////////////////////////
// Select Dropdowns //
///////////////////////////

.button {
    &.select2-container {
        padding: 0px;

        .select2-choice {
            height: inherit;
            line-height: 16px;
            border: none;
            background: none !important;
            background-color: transparent !important;
            padding: 7px 0 0 10px;
            box-shadow: none;
            color: inherit !important;

            .select2-chosen {
                margin-right: 30px;
            }

            .select2-arrow {
                display: none;
            }
        }

        &.button--plain,
        &.button--outline {
            .select2-choice {
                margin: -1px;
            }
        }

        &.button--with-icon {
            .select2-choice {
                padding-left: 33px;
            }
        }

        &::after {
            pointer-events: none;
        }

        &.select2-container-active {
            &.button--plain {
                border-color: darken(@border-color--default, 20%);
            }

            &.button--outline {
                border-color: tint(@color--secondary, 80%);
            }
        }

        &.select2-container-disabled {
            opacity: 0.5;
        }

        .ui-select-no-choice {
            padding: 0px 10px;
            line-height: 24px;
        }
    }
}

.select2-drop,
.select2-drop.select2-drop-above {
    border: 1px solid @color--lighter-neutral;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    outline: none;

    .select2-results {
        // bug fix for mac os scroll bars
        transform: translateZ(0);
        outline: none;
        max-height: 220px;

        .select2-result-label {
            padding: 7px 10px;
            font-size: @font-size--default;
            line-height: 16px;

            div {
                display: block;
                margin: -7px -10px;
                padding: 7px 10px;
            }
        }

        li {
            &.ui-select-choices-row:hover {
                background-color: @color--secondary;
                border-radius: @border-radius--default;
                color: white;
            }

            &.select2-highlighted {
                background-color: fade(@color--secondary, 10%);
                border-radius: @border-radius--default;
                color: @text-color--default;

                &.ui-select-choices-row:hover {
                    background-color: @color--secondary;
                    color: white;
                }
            }
        }

        .ui-select-choices-group-label {
            color: @text-color--lighter;
            font-weight: 400 !important;
        }
    }
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: none;
}

.select2-with-searchbox {
    .select2-search {
        margin: 5px 0;

        input {
            width: 100% !important;
            background: white url('images/magnifier-gray.svg') no-repeat 7px
                center !important;
            background-size: 16px !important;
            box-sizing: border-box;
            border: 1px solid @border-color--default;
            height: @input__height--default;
            line-height: 18px;
            padding: 5px 10px 5px 30px;
            border-radius: @border-radius--default;
            box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);

            &:focus {
                border: 1px solid darken(@border-color--default, 20%);
                outline: none;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.ui-select-bootstrap {
    height: @input__height--default+10;
    min-height: initial;
    border: none !important;
    background: none !important;
    box-shadow: none;

    .btn-default-focus {
        background-color: white;
        border: 1px solid darken(@border-color--default, 20%);
        outline: none;
        box-shadow: none;

        .ui-select-toggle,
        .ui-select-search {
            border: none;
            height: @input__height--default+8;
        }
    }

    .ui-select-toggle,
    .ui-select-search {
        background-color: white !important;
        margin: 0;
        border: 1px solid @color--lighter-neutral;
        height: @input__height--default+10;
        line-height: 20px;
        padding: 10px 10px;
        width: 100% !important;
        box-sizing: border-box;
        box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
        color: @text-color--default;
        border-radius: 0;

        &:focus {
            border: 1px solid darken(@border-color--default, 20%);
            outline: none;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }

        .caret {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            right: 10px;
            width: 6px;
            height: 10px;
            background-image: url('@{images-folder}/arrow-gray.svg');
            background-repeat: no-repeat;
        }

        &::-webkit-input-placeholder {
            color: @text-color--lighter;
        }
        &::-moz-placeholder {
            color: @text-color--lighter;
        }
        &:-ms-input-placeholder {
            color: @text-color--lighter;
        }
        &:-moz-placeholder {
            color: @text-color--lighter;
        }
    }

    .ui-select-choices {
        margin-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        .ui-select-choices-row {
            > span {
                padding-right: 55px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.active > span {
                background-color: @color--secondary;
            }
        }
    }

    .ui-select-no-choice {
        margin-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        padding: 5px 10px;
    }
}

.select2-container-multi {
    .select2-choices {
        height: @input__height--default+10;
        min-height: initial;
        border: none !important;
        background: none !important;
        box-shadow: none;

        .select2-search-field {
            width: 100%;

            input {
                background-color: transparent;
                margin: 0;
                border: 1px solid @color--lighter-neutral;
                height: @input__height--default+10;
                line-height: 20px;
                padding: 10px 10px;
                width: 100% !important;
                box-sizing: border-box;
                box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
                color: @text-color--default;

                &:focus {
                    border: 1px solid darken(@border-color--default, 20%);
                    outline: none;
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
                }

                &::-webkit-input-placeholder {
                    color: @text-color--lighter;
                }
                &::-moz-placeholder {
                    color: @text-color--lighter;
                }
                &:-ms-input-placeholder {
                    color: @text-color--lighter;
                }
                &:-moz-placeholder {
                    color: @text-color--lighter;
                }
            }
        }
    }
}

.multiselect {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    box-shadow: none;
    padding: 6px 12px 11px 12px;
    margin-top: 7px;
    margin-bottom: 7px;

    .multiselect-tag {
        cursor: pointer;
        margin-right: 5px;
        margin-top: 5px;
        height: 28px;
        line-height: 28px;
        display: inline-block;
        position: relative;
        border-radius: 2px;
        font-size: @font-size--default;
        border: 1px solid #d2d2d2;

        .multiselect-tag-label {
            padding: 6px 6px 5px 6px;
            border-right: 1px solid #d2d2d2;
            margin: 0;
        }

        .multiselect-tag-name {
            padding: 6px 27px 6px 6px;
            margin: 0;
            img.remove {
                width: 7px;
                position: absolute;
                right: 8px;
                top: 10px;
                display: inline-block;
            }
        }
    }
}

///////////////////////////
// RESPONSIVE - Select Dropdowns //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .select2-mobile-fullscreen-dropdown.select2-dropdown-open {
        .select2-drop,
        .select2-drop.select2-drop-above {
            border: 1px solid @color--lighter-neutral;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1) !important;
            border-radius: @border-radius--default !important;
            outline: none;
            width: 80%;
            height: 80%;
            left: 10%;
            top: 10% !important;
            transform: translateX(-3%);
            position: fixed !important;
            padding: 10px;

            .select2-results {
                max-height: none;
                position: absolute;
                .position-properties(52px, 10px, 10px, 10px);
            }
        }

        &::before {
            content: ' ';
            display: block;
            position: fixed;
            background-color: fade(black, 80%);
            width: 120%;
            height: 100%;
            .position-properties(0, 0, 0, -20%);
            z-index: 9998;
        }

        &::after {
            content: ' ';
            display: block;
            clear: both;
            position: fixed;
            background-image: url('images/remove-white.svg');
            width: 24px;
            height: 24px;
            background-size: 24px;
            top: 20px;
            right: 10px;
            z-index: 9999;
            cursor: pointer;
        }
    }
}

///////////////////////////
// Form elements //
///////////////////////////

label {
    margin-bottom: 0;
}

///////////////////////////
// Tags //
///////////////////////////

tags-input .tags .tag-list {
    margin: 0;
    padding: 0 5px 0 0;
    list-style-type: none;
}

tags-input .host .tags {
    .input-tags();
    margin-bottom: 0;

    input {
        border: 0;
        outline: 0;
        margin: 0 0 0 10px;
        padding: 0;
        height: 26px;
        line-height: 26px;
        box-shadow: none !important;
    }

    .tag-item {
        background: none;
        .input-tags__item();
        border: none;
        color: @text-color--default;
        height: 26px;
        line-height: inherit;
        font: inherit;
        position: relative;
        padding-right: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;

        .remove-button {
            font-size: 0;
            display: block;
            width: 12px;
            height: 12px;
            background: url('images/remove-gray.svg') no-repeat center center;
            position: absolute;
            right: 5px;
            top: 7px;

            &:hover {
                background-image: url('images/remove-red.svg');
            }
        }

        &.selected {
            background-color: @color--danger;
            color: #ffffff;

            .remove-button {
                background-image: url('images/remove-white.svg');
            }
        }
    }
}

////////////////////////////
// SupportHero override //
////////////////////////////

#supporthero-button {
    width: 60px !important;
    height: 60px !important;
    background-color: #333333 !important;
    padding: 0 !important;
    font-size: 0 !important;
    top: auto !important;
    bottom: 20px !important;
    right: 100px !important;
    border-radius: 50% !important;
    transform: rotate(0deg) !important;
    box-shadow: 0 0px 32px 2px fade(black, 16%);
    animation: SupportHeroShow 0.25s 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;
    visibility: hidden;

    &::after {
        content: ' ';
        display: block;
        background: url('images/question-white.svg') no-repeat center center;
        background-size: 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        left: 15px;
        animation: SupportHeroQuestionMarkShow 0.25s 1;
        animation-fill-mode: forwards;
        animation-delay: 3s;
    }
}

#supporthero-container {
    box-shadow: -5px 0px 30px 0px fade(black, 20%) !important;
    border: none !important;
}

#supporthero-hide {
    top: 22px !important;
    width: 16px !important;
    height: 16px !important;

    path {
        fill: white;
    }
}

///////////////////////////
// RESPONSIVE - SupportHero override //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    #supporthero-button,
    #supporthero-container,
    #supporthero-hide {
        display: none !important;
    }
}

////////////////////////////
// RESPONSIVE - Intercom-container //
////////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    #intercom-container {
        display: none !important;
    }
}

////////////////////////////
// Note Popover //
////////////////////////////

.note-popover {
    .glyphicon {
        font-size: 0;
        width: 16px;
        height: 16px;
        display: block;
        background: url('@{images-folder}/comment-sec.svg') no-repeat center
            center;
    }
}

///////////////////////////
// Popover //
///////////////////////////

.popover {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: @border-radius--default;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);

    .popover-content {
        padding: 10px;
        max-height: 300px;
        overflow-y: auto;

        ul.icon-list {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                padding: 8px 0 8px 25px;
                position: relative;
                border-bottom: 1px solid #eeeeee;

                .zem-icon {
                    width: 16px;
                    position: absolute;
                    left: 0;
                    top: 8px;
                }

                &:first-child {
                    padding-top: 0;

                    .zem-icon {
                        top: 0;
                    }
                }

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }

    &.top .arrow {
        border-top-color: #ffffff;
    }

    &.right .arrow {
        border-right-color: #ffffff;
    }

    &.bottom .arrow {
        border-bottom-color: #ffffff;
    }

    &.left .arrow {
        border-left-color: #ffffff;
    }

    // Hack to expand popover's box to make it easier to move cursor inside the popover without popover closing
    &:after {
        content: '';
        position: absolute;
        display: block;
    }
    &.top:after {
        right: 0;
        bottom: 0;
        left: 0;
        height: 12px;
        margin-bottom: -12px;
    }
    &.right:after {
        top: 0;
        left: 0;
        bottom: 0;
        width: 12px;
        margin-left: -12px;
    }
    &.bottom:after {
        top: 0;
        right: 0;
        left: 0;
        height: 12px;
        margin-top: -12px;
    }
    &.left:after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 12px;
        margin-right: -12px;
    }
}

///////////////////////////
// Dropdown //
///////////////////////////

.dropdown-menu {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: @border-radius--default;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

///////////////////////////
// Header - daterange picker //
///////////////////////////

.daterangepicker {
    &.opensleft:before {
        content: none;
    }

    &.opensleft:after {
        content: none;
    }

    .ranges {
        li {
            margin-bottom: 2px;
            padding: 2px 12px;
            background-color: transparent;
            border: 1px solid transparent;
            color: @color--secondary;

            &:last-child {
                margin-bottom: 12px;
            }

            &:hover {
                border: 1px solid transparent;
                background-color: @color--secondary;
                color: #ffffff;
            }

            &.active {
                border: 1px solid transparent;
                background-color: @color--secondary;
                color: #ffffff;
            }
        }

        .btn-primary,
        .btn-default {
            padding: 0 10px;
            font-size: 14px;
        }
    }

    .calendar-table {
        padding: 0;
    }

    .calendar {
        margin-bottom: 0;

        .daterangepicker_input {
            display: none;
        }

        td,
        th {
            line-height: 20px;
        }

        td {
            &.available {
                &.off.in-range {
                    background-color: @color--lightest-neutral;

                    &:hover {
                        color: @color--secondary;
                    }
                }

                &:hover {
                    background-color: @color--secondary;
                    color: #ffffff;
                }
            }

            &.active {
                border: 1px solid transparent;
                background-color: @color--secondary;

                &.off.end-date,
                &.off.start-date {
                    background-color: #ddd;
                }
            }

            &.in-range {
                background-color: tint(@color--secondary, 80%);

                &.active {
                    background-color: @color--secondary;
                }
            }
        }

        &.left {
            td.active.end-date:not(.start-date):not(.off) {
                background-color: fade(@color--secondary, 50%);
            }
        }
        &.right {
            td.active.start-date:not(.end-date):not(.off) {
                background-color: fade(@color--secondary, 50%);
            }
        }
    }

    &.zem-header-date-range-picker-dropdown.dropdown-menu:not([style*='top']) {
        display: none !important;
    }
}

///////////////////////////
// Input - datepicker //
///////////////////////////

.uib-datepicker-popup.dropdown-menu {
    border: 1px solid @color--lighter-neutral;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

    .uib-datepicker {
        padding: 0 5px;

        div:focus {
            outline: none;
        }

        .btn {
            border: none;
            background: none;

            &:hover {
                background: none;
                background-color: @color--secondary;
                color: #ffffff !important;

                span {
                    color: #ffffff !important;
                }
            }

            &.active {
                background-color: @color--secondary;
                color: white;

                .text-info {
                    color: #ffffff;
                }
            }

            &:hover {
                background-color: @color--secondary;
            }

            &[disabled] {
                opacity: 1;

                span {
                    color: @color--lighter-neutral;
                }

                &:hover {
                    background-color: transparent;

                    span {
                        color: @color--lighter-neutral !important;
                    }
                }
            }
        }
    }
}

///////////////////////////
// RESPONSIVE - Datepicker //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .calendar-is-open {
        .uib-datepicker-popup {
            z-index: 9999;
            margin: 0;
            position: fixed;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-53%, -50%);
        }

        &::before {
            content: ' ';
            display: block;
            position: fixed;
            background-color: fade(black, 80%);
            width: 120%;
            height: 100%;
            .position-properties(0, 0, 0, -20%);
            z-index: 9998;
        }

        &::after {
            content: ' ';
            display: block;
            clear: both;
            position: fixed;
            background-image: url('images/remove-white.svg');
            width: 24px;
            height: 24px;
            background-size: 24px;
            top: 10px;
            right: 10px;
            z-index: 9999;
            cursor: pointer;
        }
    }
}

////////////////////////////
// CHARTS //
////////////////////////////
chart,
highchart {
    display: block;
}

.highcharts-tooltip {
    line-height: 18px;

    span {
        font-family: @font-family--default !important;
        border: none;
        border-radius: @border-radius--default;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
        background-color: fade(white, 90%);
        padding: 10px;
    }

    .tooltip-header {
        color: @color--secondary;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .color-box {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}

g.highcharts-tooltip {
    display: none;
}

.message {
    .close {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 20px;
        height: 20px;
        display: block;
        float: none;
        opacity: 1;
        border-bottom-left-radius: @border-radius--default;
        border-top-right-radius: @border-radius--default;
        transition: background-color @duration-and-timing-fn--default;
        outline: none;

        &:hover {
            background-color: @color--danger !important;
        }

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            left: 5px;
            top: 5px;
            background-image: url('images/remove-white.svg');
        }

        span {
            display: none;
        }
    }

    &.message--success-box {
        .close {
            background-color: tint(@color--success, 85%);
        }
    }

    &.message--error-box {
        .close {
            background-color: tint(@color--danger, 85%);
        }
    }

    &.message--warning {
        .close {
            background-color: tint(@color--warning, 85%);
        }
    }

    &.message--info {
        .close {
            background-color: tint(@color--info, 85%);
        }
    }
}

////////////////////////////
// EE //
////////////////////////////

.ee-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999999999;
    cursor: none;
}

.ee-box {
    position: absolute;
    background: #ef8421;
    display: none;
}

.ee-zemanta-square {
    position: absolute;
    background: white;
    z-index: 9999;
    display: none;
    pointer-events: none;
}

.ee-zemanta-square-1 {
    left: 50px;
    top: 0;
}

.ee-zemanta-square-2 {
    left: 0;
    top: 50px;
}

.ee-zemanta-square-3 {
    left: 150px;
    top: 0;
}

.ee-zemanta-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/zemanta-logo-white.svg') no-repeat center center;
    background-size: 50%;
    z-index: 9999;
    display: none;
    pointer-events: none;
}

.ee-zemanta-close {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 12px;
    color: fade(#ffffff, 50%);
    text-align: center;
    z-index: 9999;
    display: none;
    pointer-events: none;
}

.ee-zemanta-dots {
    width: 20px;
    height: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9997;
}
