@import 'variables';

.zem-message {
    position: relative;
}

.zem-message--bubble {
    padding: 8px 10px;
    border: 1px solid transparent;
    border-radius: @border-radius--default;
}

.zem-message--with-icon {
    padding-left: 34px;
}

.zem-message--with-icon::before {
    content: '';
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 7px;
    top: 7px;
    opacity: 0.25;
}

.zem-message--error {
    color: @color--danger;
}

.zem-message--bubble.zem-message--error {
    background-color: tint(@color--danger, 95%);
    border-color: tint(@color--danger, 85%);
}

.zem-message--error a {
    color: @color--danger;
}

.zem-message--warning {
    color: @color--warning;
}

.zem-message--bubble.zem-message--warning {
    color: @text-color--default;
    background-color: tint(@color--warning, 95%);
    border-color: tint(@color--warning, 85%);
}

.zem-message--warning a {
    color: @color--warning;
}

.zem-message--bubble.zem-message--info {
    background-color: tint(@color--info, 95%);
    border-color: tint(@color--info, 85%);
}

.zem-message--info a {
    color: @color--info;
}

.zem-message--success {
    color: @color--success;
}

.zem-message--bubble.zem-message--success {
    background-color: tint(@color--success, 95%);
    border-color: tint(@color--success, 85%);
}

.zem-message--success a {
    color: @color--success;
}
