@import 'variables';

.zem-message {
    position: relative;
}

.zem-message > p:last-child {
    margin-bottom: 0;
}

.zem-message > ul:last-child {
    margin-bottom: 0;
}

.zem-message--error {
    color: @color--danger;
}

.zem-message--error > a {
    color: @color--danger !important;
}

.zem-message--error .list-with-bullets > li::before {
    background-color: tint(@color--danger, 50%);
}

.zem-message--info {
    background-color: tint(@color--info, 95%);
    border: 1px solid tint(@color--info, 85%);
    padding: 8px 10px;
    border-radius: @border-radius--default;
}

.zem-message--info .list-with-bullets > li::before {
    background-color: tint(@color--info, 50%);
}

.zem-message--with-icon {
    padding-left: 34px;
}

.zem-message--with-icon::before {
    content: '';
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 7px;
    top: 7px;
    opacity: 0.25;
}
