////////////
// Mixins //
////////////

.box-shadow (@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.border-right-radius (@radius) {
    border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
}

.border-left-radius (@radius) {
    border-top-left-radius: @radius;
    -moz-border-top-left-radius: @radius;
    -webkit-border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
}

.border-bottom-radius (@radius) {
    border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
}

.gradient-vertical (@startColor, @endColor) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    background: linear-gradient(to bottom, @startColor, @endColor);
}

.position-properties (@x) {
    top: @x;
    bottom: @x;
    right: @x;
    left: @x;
}

.arrow-placeholder () {
    content: "";
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.arrow-up () {
    .arrow-placeholder();
    background: url('img/arrow-up.svg');
    background-size: 10px 10px;
}

.arrow-down () {
    .arrow-up();
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.state-icon-placeholder () {
    width: 9px;
    height: 9px;
    background-size: 36px;
    background-position: 23px;
    display: inline-block;
}

.auto-pilot-icon-placeholder () {
    .state-icon-placeholder();
    background-size: auto;
    background-position: 0;
}

.data-status-icon-placeholder () {
    width: 16px;
    height: 12px;
    display: inline-block;
    margin-top: 3px;
}

.adgroup-status-icon-placeholder () {
    background-size: 10px;
    background-position: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
}

.rotate (@deg) {
    -ms-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
    transform: rotate(@deg); 
}
