@import 'variables';

////////////////////////////
// Global utility classes //
////////////////////////////

.clear { // TODO: clean code with this divs
    clear: both;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

hr {
    background-color: @light-gray;
    height: 1px;
    margin: @default-spacing 0;
    padding: 0;
    border: none;
}

.no-wrap {
    white-space: nowrap;
}

.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.capitalized:first-letter {
    text-transform: capitalize;
}

.scroll {
    overflow: auto;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

@media only screen and (max-width: @tablet-breakpoint) {
    .no-scroll--mobile {
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: fixed;
    }
}

.disable-pointer-events {
    pointer-events: none;
}

.text-primary { color: @primary-color !important; }
.text-secondary { color: @secondary-color !important; }
.text-gray { color: @gray !important; }
.text-green { color: @green !important; }
.text-red { color: @red !important; }

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: block !important;
}

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.p-none { padding: 0 !important; }
.p-t-none { padding-top: 0 !important; }
.p-r-none { padding-right: 0 !important; }
.p-b-none { padding-bottom: 0 !important; }
.p-l-none { padding-left: 0 !important; }
.m-none { margin: 0 !important; }
.m-t-none { margin-top: 0 !important; }
.m-r-none { margin-right: 0 !important; }
.m-b-none { margin-bottom: 0 !important; }
.m-l-none { margin-left: 0 !important; }

.m-t { margin-top: @default-spacing !important; }
.m-r { margin-right: @default-spacing !important; }
.m-b { margin-bottom: @default-spacing !important; }
.m-l { margin-left: @default-spacing !important; }
.m-t-l { margin-top: (@default-spacing)+5px !important; }
.m-r-l { margin-right: (@default-spacing)+5px !important; }
.m-b-l { margin-bottom: (@default-spacing)+5px !important; }
.m-l-l { margin-left: (@default-spacing)+5px !important; }
.m-t-xl { margin-top: (@default-spacing)+10px !important; }
.m-r-xl { margin-right: (@default-spacing)+10px !important; }
.m-b-xl { margin-bottom: (@default-spacing)+10px !important; }
.m-l-xl { margin-left: (@default-spacing)+10px !important; }
.m-t-xxl { margin-top: (@default-spacing)+15px !important; }
.m-r-xxl { margin-right: (@default-spacing)+15px !important; }
.m-b-xxl { margin-bottom: (@default-spacing)+15px !important; }
.m-l-xxl { margin-left: (@default-spacing)+15px !important; }
.m-t-s { margin-top: (@default-spacing)-5px !important; }
.m-r-s { margin-right: (@default-spacing)-5px !important; }
.m-b-s { margin-bottom: (@default-spacing)-5px !important; }
.m-l-s { margin-left: (@default-spacing)-5px !important; }
.m-t-xs { margin-top: (@default-spacing)-10px !important; }
.m-r-xs { margin-right: (@default-spacing)-10px !important; }
.m-b-xs { margin-bottom: (@default-spacing)-10px !important; }
.m-l-xs { margin-left: (@default-spacing)-10px !important; }

.p-t { padding-top: @default-spacing !important; }
.p-r { padding-right: @default-spacing !important; }
.p-b { padding-bottom: @default-spacing !important; }
.p-l { padding-left: @default-spacing !important; }
.p-t-l { padding-top: (@default-spacing)+5px !important; }
.p-r-l { padding-right: (@default-spacing)+5px !important; }
.p-b-l { padding-bottom: (@default-spacing)+5px !important; }
.p-l-l { padding-left: (@default-spacing)+5px !important; }
.p-t-xl { padding-top: (@default-spacing)+10px !important; }
.p-r-xl { padding-right: (@default-spacing)+10px !important; }
.p-b-xl { padding-bottom: (@default-spacing)+10px !important; }
.p-l-xl { padding-left: (@default-spacing)+10px !important; }
.p-t-xxl { padding-top: (@default-spacing)+15px !important; }
.p-r-xxl { padding-right: (@default-spacing)+15px !important; }
.p-b-xxl { padding-bottom: (@default-spacing)+15px !important; }
.p-l-xxl { padding-left: (@default-spacing)+15px !important; }
.p-t-s { padding-top: (@default-spacing)-5px !important; }
.p-r-s { padding-right: (@default-spacing)-5px !important; }
.p-b-s { padding-bottom: (@default-spacing)-5px !important; }
.p-l-s { padding-left: (@default-spacing)-5px !important; }
.p-t-xs { padding-top: (@default-spacing)-10px !important; }
.p-r-xs { padding-right: (@default-spacing)-10px !important; }
.p-b-xs { padding-bottom: (@default-spacing)-10px !important; }
.p-l-xs { padding-left: (@default-spacing)-10px !important; }

.custom-scroller,
.select2-results,
.ui-select-choices,
.media-source-control-row select,
.textarea,
.modal .modal__body {
    &::-webkit-scrollbar {
        width: 16px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        min-height: 30px;
        -webkit-border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.custom-scroller--horizontal,
.custom-table__mobile-container {
    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        min-width: 30px;
        -webkit-border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.custom-table__mobile-container {
    &::-webkit-scrollbar {
        height: 16px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        -webkit-border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
    }
}
