@import 'variables';

////////////////////////////
// Global utility classes //
////////////////////////////

.clear {
    // TODO: clean code with this divs
    clear: both;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

hr {
    background-color: @color--lighter-neutral;
    height: 1px;
    margin: @spacing--default 0;
    padding: 0;
    border: none;
}

.no-wrap {
    white-space: nowrap;
}

.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.capitalized:first-letter {
    text-transform: capitalize;
}

.scroll {
    overflow: auto;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

@media only screen and (max-width: @tablet-breakpoint) {
    .no-scroll--mobile {
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: fixed;

        .dropdown.open {
            .dropdown-menu {
                overflow: visible; // Dropdown iPhone Fix
            }
        }
    }
}

.disable-pointer-events {
    pointer-events: none;
}

.text-primary {
    color: @color--primary !important;
}
.text-secondary {
    color: @color--secondary !important;
}
.text-gray {
    color: @text-color--lighter !important;
}
.text-green {
    color: @color--success !important;
}
.text-red {
    color: @color--danger !important;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: block !important;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}

.p-none {
    padding: 0 !important;
}
.p-t-none {
    padding-top: 0 !important;
}
.p-r-none {
    padding-right: 0 !important;
}
.p-b-none {
    padding-bottom: 0 !important;
}
.p-l-none {
    padding-left: 0 !important;
}
.m-none {
    margin: 0 !important;
}
.m-t-none {
    margin-top: 0 !important;
}
.m-r-none {
    margin-right: 0 !important;
}
.m-b-none {
    margin-bottom: 0 !important;
}
.m-l-none {
    margin-left: 0 !important;
}

.m-t {
    margin-top: @spacing--default !important;
}
.m-r {
    margin-right: @spacing--default !important;
}
.m-b {
    margin-bottom: @spacing--default !important;
}
.m-l {
    margin-left: @spacing--default !important;
}
.m-t-l {
    margin-top: (@spacing--default)+5px !important;
}
.m-r-l {
    margin-right: (@spacing--default)+5px !important;
}
.m-b-l {
    margin-bottom: (@spacing--default)+5px !important;
}
.m-l-l {
    margin-left: (@spacing--default)+5px !important;
}
.m-t-xl {
    margin-top: (@spacing--default)+10px !important;
}
.m-r-xl {
    margin-right: (@spacing--default)+10px !important;
}
.m-b-xl {
    margin-bottom: (@spacing--default)+10px !important;
}
.m-l-xl {
    margin-left: (@spacing--default)+10px !important;
}
.m-t-xxl {
    margin-top: (@spacing--default)+15px !important;
}
.m-r-xxl {
    margin-right: (@spacing--default)+15px !important;
}
.m-b-xxl {
    margin-bottom: (@spacing--default)+15px !important;
}
.m-l-xxl {
    margin-left: (@spacing--default)+15px !important;
}
.m-t-s {
    margin-top: (@spacing--default)-5px !important;
}
.m-r-s {
    margin-right: (@spacing--default)-5px !important;
}
.m-b-s {
    margin-bottom: (@spacing--default)-5px !important;
}
.m-l-s {
    margin-left: (@spacing--default)-5px !important;
}
.m-t-xs {
    margin-top: (@spacing--default)-10px !important;
}
.m-r-xs {
    margin-right: (@spacing--default)-10px !important;
}
.m-b-xs {
    margin-bottom: (@spacing--default)-10px !important;
}
.m-l-xs {
    margin-left: (@spacing--default)-10px !important;
}

.p-t {
    padding-top: @spacing--default !important;
}
.p-r {
    padding-right: @spacing--default !important;
}
.p-b {
    padding-bottom: @spacing--default !important;
}
.p-l {
    padding-left: @spacing--default !important;
}
.p-t-l {
    padding-top: (@spacing--default)+5px !important;
}
.p-r-l {
    padding-right: (@spacing--default)+5px !important;
}
.p-b-l {
    padding-bottom: (@spacing--default)+5px !important;
}
.p-l-l {
    padding-left: (@spacing--default)+5px !important;
}
.p-t-xl {
    padding-top: (@spacing--default)+10px !important;
}
.p-r-xl {
    padding-right: (@spacing--default)+10px !important;
}
.p-b-xl {
    padding-bottom: (@spacing--default)+10px !important;
}
.p-l-xl {
    padding-left: (@spacing--default)+10px !important;
}
.p-t-xxl {
    padding-top: (@spacing--default)+15px !important;
}
.p-r-xxl {
    padding-right: (@spacing--default)+15px !important;
}
.p-b-xxl {
    padding-bottom: (@spacing--default)+15px !important;
}
.p-l-xxl {
    padding-left: (@spacing--default)+15px !important;
}
.p-t-s {
    padding-top: (@spacing--default)-5px !important;
}
.p-r-s {
    padding-right: (@spacing--default)-5px !important;
}
.p-b-s {
    padding-bottom: (@spacing--default)-5px !important;
}
.p-l-s {
    padding-left: (@spacing--default)-5px !important;
}
.p-t-xs {
    padding-top: (@spacing--default)-10px !important;
}
.p-r-xs {
    padding-right: (@spacing--default)-10px !important;
}
.p-b-xs {
    padding-bottom: (@spacing--default)-10px !important;
}
.p-l-xs {
    padding-left: (@spacing--default)-10px !important;
}

.custom-scroller,
.select2-results,
.ui-select-choices,
.media-source-control-row select,
.textarea,
.modal .modal__body {
    &::-webkit-scrollbar {
        width: 16px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        min-height: 30px;
        -webkit-border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
            inset 1px 1px 0 rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.custom-scroller--horizontal,
.custom-table__mobile-container {
    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        min-width: 30px;
        -webkit-border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
            inset 1px 1px 0 rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.custom-table__mobile-container {
    &::-webkit-scrollbar {
        height: 16px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        -webkit-border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
    }
}
