///////////////
// Variables //
///////////////

// GENERAL SETTINGS

@default-spacing: 15px;
@border-radius: 4px;
@default-font-family: 'Roboto', sans-serif;
@default-font-size: 13px;
@default-button-input-height: 30px;

// ZEMANTA COLORS

@primary-color: #e35325;
@secondary-color: #3f547f;
@text-color: #222222;

// OTHER COLORS

@black: #000;
@white: #fff;
@gray: #999999;
@light-gray: #ebebeb;
@very-light-gray: #F5F5F5;
@dark-gray: #666666;
@very-dark-gray: #333333;
@red: #cc0000;
@green: #99cc00;
@orange: #ff9900;

// BACKGROUND COLORS

@background-light-gray: #ebebeb;

// ELEMENTS COLORS

@border-gray-color: #d2d2d2;
@line-color: #EEEEEE;

// OLD COLORS SPECIFIC COLORS

@add-color: #f68620;
@add-color-hover: #dd771b;
@add-filter-color: @primary-color;
@internal-color: #0ab00a;
@border-color: #ebebeb;
@border-input-color: #d2d2d2;
@line-dark-color: #DADADA;

@updated-color: #dff0d8;
@canceled-color: #414141;

@infobox-black: #414141;
@infobox-gray: #aaaaaa;
@infobox-dark-gray: #888888;

@insights-table-gray: #fafafa;
@insights-table-header: #d7d7d7;
@insights-text-green: #70c700;
@insights-text-red: #cb0101;

@sidebar-background-inactive: #f6f6f6;
@sidebar-background-active: #ecf6f8;
@sidebar-border-gray: #dddddd;
@sidebar-border-highlight: #43a8c6;

@status-green: #00cc00;
@status-orange: #ff9900;
@status-red: #ff0000;
