<span class="zem-grid-breakdown-selector dropdown" dropdown>
  <a href class="btn btn-default" dropdown-toggle title="Show/hide breakdowns">
      Breakdowns
  </a>
  <ul class="dropdown-menu dropdown-menu-right" dropdown-menu>
      <div ng-repeat="group in ctrl.breakdownGroups" ng-click="$event.stopPropagation()">
          <div class="category-name">{{ group.name }}</div>
          <li ng-repeat="breakdown in group.breakdowns">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" ng-model="breakdown.checked" ng-change="ctrl.onChecked(breakdown, group)">
                      {{ breakdown.name }}
                  </label>
              </div>
          </li>
      </div>
  </ul>
</span>
