<h2 class="zem-inventory-planning-breakdown__title">{{breakdownName}}</h2>
<div class="zem-inventory-planning-breakdown__container">
    <div class="zem-inventory-planning-breakdown__search-container">
        <input type="text" placeholder="Search for {{breakdownName}} ..." class="input-text" #searchQueryInput (keyup)="search$.next(searchQueryInput.value)" />
    </div>

    <div class="zem-inventory-planning-breakdown__options-container custom-scroller">
        <div class="zem-inventory-planning-breakdown__option-item"
            (click)="toggle(option.value)"
            *ngFor="let option of searchResults; let index = index; trackBy: trackByOption">
            <input class="input-checkbox zem-inventory-planning-breakdown__checkbox"
                type="checkbox"
                [checked]="selectedIndices.indexOf(index) !== -1" />
            <span class="checkbox-text zem-inventory-planning-breakdown__name">
                {{option.name || option.value}}
                <span class="zem-inventory-planning-breakdown__auction-count">
                    {{option.auctionCount}}
                </span>
            </span>
        </div>
    </div>
</div>
