<zem-infobox-header
    class="zem-infobox-header"
    entity="$ctrl.entity"
></zem-infobox-header>

<div class="zem-infobox__content custom-scroller">
    <zem-loader
        class="zem-loader zem-loader--small zem-loader__overlay"
        ng-show="$ctrl.loadRequestInProgress"
    >
    </zem-loader>
    <div
        ng-if="$ctrl.delivery"
        class="zem-infobox__delivery-container zem-infobox-data-row"
        ng-class="{
            'zem-infobox__delivery--active':
                $ctrl.delivery.status === 'active' ||
                $ctrl.delivery.status === 'active-price-discovery' ||
                $ctrl.delivery.status === 'campaignstop-low-budget' ||
                $ctrl.delivery.status === 'campaignstop-pending-budget-active-price-discovery' ||
                $ctrl.delivery.status === 'campaignstop-pending-budget-active',
            'zem-infobox__delivery--autopilot':
                $ctrl.delivery.status === 'autopilot' ||
                $ctrl.delivery.status === 'campaignstop-pending-budget-autopilot' ||
                $ctrl.delivery.status === 'budget-optimization' ||
                $ctrl.delivery.status === 'optimal-bid' ||
                $ctrl.delivery.status === 'budget-optimization-optimal-bid' ||
                $ctrl.delivery.status === 'campaignstop-pending-budget-budget-optimization' ||
                $ctrl.delivery.status === 'campaignstop-pending-budget-optimal-bid' ||
                $ctrl.delivery.status === 'campaignstop-pending-budget-budget-optimization-optimal-bid',
            'zem-infobox__delivery--inactive':
                $ctrl.delivery.status === 'disabled' ||
                $ctrl.delivery.status === 'inactive',
            'zem-infobox__delivery--paused':
                $ctrl.delivery.status === 'stopped' ||
                $ctrl.delivery.status === 'campaignstop-stopped' ||
                $ctrl.delivery.status === 'campaignstop-pending-budget-updates',
            'zem-infobox__delivery--landing-mode':
                $ctrl.delivery.status === 'landing-mode',
        }"
    >
        <div class="zem-infobox-data-row__value-label">Delivery:</div>
        <div class="zem-infobox-data-row__value-container">
            <span class="zem-infobox__delivery-icon"></span>
            <span
                class="zem-infobox__delivery-text zem-infobox-data-row__value"
            >
                {{ $ctrl.delivery.text }}
            </span>
        </div>
    </div>
    <zem-infobox-data-row
        ng-repeat="row in $ctrl.basicSettings"
        class="zem-infobox-data-row"
        row="row"
        is-internal="{{ row.internal }}"
    >
    </zem-infobox-data-row>
    <hr
        ng-if="$ctrl.performanceSettings"
        class="zem-infobox__content-separator"
    />
    <zem-infobox-realtimestats
        entity="$ctrl.entity"
    ></zem-infobox-realtimestats>
    <zem-infobox-data-row
        ng-repeat="row in $ctrl.performanceSettings"
        class="zem-infobox-data-row zem-infobox-data-row--exposed"
        row="row"
        is-internal="{{ row.internal }}"
    >
    </zem-infobox-data-row>
    <hr
        ng-if="$ctrl.isEntityAvailable"
        class="zem-infobox__content-separator"
    />
    <a
        ng-if="$ctrl.isEntityAvailable"
        class="alternative-link link-with-icon history-icon"
        ng-click="$ctrl.openHistory($event)"
    >
        View history
    </a>
</div>
