<div
    class="custom-panel zem-settings-component__container"
    ng-if="$ctrl.hasPermission('zemauth.can_see_deals_in_ui')"
>
    <h2 class="custom-panel__title" is-internal="zemauth.can_see_deals_in_ui">
        Deals
    </h2>
    <div class="message" ng-if="!$ctrl.deals.length">No deals set.</div>
    <button
        class="button button-bar"
        ng-if="$ctrl.deals.length"
        ng-click="$ctrl.filterApplied()"
    >
        {{
            $ctrl.showOnlyApplied ? 'Show all deals' : 'Show only applied deals'
        }}
    </button>
    <div class="custom-table__mobile-container">
        <table
            class="custom-table custom-table--base-color-strong"
            ng-if="$ctrl.deals"
        >
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Source</th>
                    <th>Direct deal Connection ID</th>
                    <th>Deal ID</th>
                    <th>Description</th>
                    <th class="text-right">Exclusive</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-repeat="deal in $ctrl.deals"
                    ng-hide="$ctrl.showOnlyApplied && !deal.isApplied"
                >
                    <td>{{ deal.level }}</td>
                    <td>{{ deal.source }}</td>

                    <td>
                        <a
                            ng-href="http://one.zemanta.com/admin/dash/directdealconnection/{{
                                deal.directDealConnectionId
                            }}/change/"
                            >{{ deal.directDealConnectionId }}</a
                        >
                    </td>
                    <td>{{ deal.dealId }}</td>

                    <td>
                        <strong>{{ deal.description }}</strong>
                    </td>

                    <td class="text-right">
                        <span
                            class="icon check-icon"
                            ng-if="deal.exclusive"
                        ></span>
                        <span
                            class="icon remove-icon"
                            ng-if="!deal.exclusive"
                        ></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
