<div class="zem-header-cell" [zemInternalFeature]="params.internalFeature">
    <zem-checkbox-input
        *ngIf="params.enableSelection"
        class="zem-checkbox-input zem-header-cell__checkbox"
        [isChecked]="isChecked"
        [isDisabled]="isCheckboxDisabled"
        (toggle)="setChecked($event)"
    ></zem-checkbox-input>
    <div class="zem-header-cell__data">
        <span
            *ngIf="params.icon"
            class="zem-header-cell__icon {{
                params.icon
            }} zem-header-cell__data-item"
            (click)="setSort()"
        ></span>
        <span
            *ngIf="params.displayName"
            class="zem-header-cell__name zem-header-cell__data-item"
            [class.zem-header-cell__name--link]="params.enableSorting"
            title="{{ params.displayName }}"
            (click)="setSort()"
            >{{ params.displayName }}</span
        >
        <zem-help-popover
            *ngIf="params.popoverTooltip"
            class="zem-help-popover zem-header-cell__data-item"
            content="{{ params.popoverTooltip }}"
            placement="{{ params.popoverPlacement || 'top' }}"
        ></zem-help-popover>
    </div>
    <div *ngIf="params.enableSorting" class="zem-header-cell__sort">
        <span
            class=" zem-header-cell__sort-arrow"
            [class.zem-header-cell__sort-arrow--up]="
                sort === HeaderCellSort.ASC
            "
            [class.zem-header-cell__sort-arrow--down]="
                sort === HeaderCellSort.DESC
            "
        ></span>
    </div>
</div>
