<div class="zem-header-cell" [zemInternalFeature]="params.internalFeature">
    <div class="zem-header-cell__data zem-header-cell__item">
        <span
            *ngIf="params.icon"
            class="zem-header-cell__icon {{
                params.icon
            }} zem-header-cell__data-item"
            (click)="setSort()"
        ></span>
        <span
            *ngIf="params.displayName"
            class="zem-header-cell__name zem-header-cell__data-item"
            [class.zem-header-cell__name--link]="params.enableSorting"
            title="{{ params.displayName }}"
            (click)="setSort()"
            >{{ params.displayName }}</span
        >
        <zem-help-popover
            *ngIf="params.popoverTooltip"
            class="zem-help-popover zem-header-cell__data-item"
            content="{{ params.popoverTooltip }}"
            placement="{{ params.popoverPlacement || 'top' }}"
        ></zem-help-popover>
    </div>
    <div
        *ngIf="params.enableSorting"
        class="zem-header-cell__sort zem-header-cell__item"
    >
        <span
            class=" zem-header-cell__sort-arrow"
            [class.zem-header-cell__sort-arrow--up]="
                sort === HeaderCellSort.ASC
            "
            [class.zem-header-cell__sort-arrow--down]="
                sort === HeaderCellSort.DESC
            "
        ></span>
    </div>
</div>
