@import 'variables';

.zem-pinned-row-cell {
    display: block;
}

.zem-pinned-row-cell__value {
    color: @color--secondary;
}

.zem-pinned-row-cell__value--strong {
    font-weight: 500;
}

.zem-pinned-row-cell__help-popover {
    margin-left: 5px;
}
