@import 'variables';

.zem-pinned-row-cell {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.zem-pinned-row-cell__item:not(:last-child) {
    margin-right: 5px;
}

.zem-pinned-row-cell__value {
    color: @color--secondary;
}

.zem-pinned-row-cell__value--strong {
    font-weight: 500;
}
