@import 'variables';

.zem-rule-form-condition {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid @color--lighter-neutral;
    border-radius: 4px;
}

.zem-rule-form-condition__group {
    display: flex;
    width: 200px;
    margin-right: 5px;
}

.zem-rule-form-condition__group-value {
    flex: 1 1 auto;
    min-width: 80px;
    margin-right: 2px;
}

.zem-rule-form-condition__group-property {
    flex: 1 1 auto;
    min-width: 60px;
    margin-right: 2px;
}

.zem-rule-form-condition__property {
    flex: 1 1 auto;
    min-width: 60px;
    margin-right: 5px;
}

.zem-rule-form-condition__button {
    flex: 0;
}
