<div class="zem-rule-form-condition__group">
    <zem-select-input
        class="zem-rule-form-condition__group-property zem-select-input"
        [value]="ruleCondition.firstOperand"
        bindLabel="label"
        bindValue="type"
        [items]="availableFirstOperands"
        [isSearchable]="false"
        groupByValue="group"
        [isClearable]="false"
        (valueChange)="selectFirstOperand($event)"
    ></zem-select-input>
    <ng-template #firstOperandModifierPopoverTemplate>
        <zem-rule-form-condition-modifier
            class="zem-rule-form-condition-modifier"
            [value]="ruleCondition.firstOperandValue"
            [valueLabel]="selectedFirstOperandConfig.label"
            [timeRange]="ruleCondition.firstOperandTimeRange"
            [hasTimeRangeModifier]="
                selectedFirstOperandConfig.hasTimeRangeModifier
            "
            [valueModifier]="selectedFirstOperandConfig.valueModifier"
            (valueChange)="updateFirstOperandValue($event)"
            (timeRangeChange)="updateFirstOperandTimeRange($event)"
        >
        </zem-rule-form-condition-modifier>
    </ng-template>
    <button
        class="zem-rule-form-condition__button button button--plain button--with-icon button--only-icon dots-icon"
        [zemPopover]="firstOperandModifierPopoverTemplate"
        [disabled]="!areModifiersAvailable(selectedFirstOperandConfig)"
        autoClose="outside"
        placement="bottom"
    ></button>
</div>
<zem-select-input
    class="zem-rule-form-condition__property zem-select-input"
    [value]="ruleCondition.operator"
    bindLabel="label"
    bindValue="operator"
    [items]="availableOperators"
    [isDisabled]="availableOperators.length === 0"
    [isSearchable]="false"
    [isClearable]="false"
    (valueChange)="selectOperator($event)"
></zem-select-input>
<div class="zem-rule-form-condition__group">
    <zem-decimal-input
        class="zem-decimal-input zem-rule-form-condition__group-value"
        *ngIf="
            selectedSecondOperandConfig &&
            selectedSecondOperandConfig.hasValue &&
            selectedSecondOperandConfig.unit === Unit.None
        "
        [value]="ruleCondition.secondOperandValue"
        [fractionSize]="selectedSecondOperandConfig.fractionSize"
        (inputBlur)="updateSecondOperandValue($event)"
    ></zem-decimal-input>
    <!-- PRTODO (jurebajt): Create percentage prefixed input component -->
    <zem-currency-input
        class="zem-currency-input zem-rule-form-condition__group-value"
        *ngIf="
            selectedSecondOperandConfig &&
            selectedSecondOperandConfig.hasValue &&
            (selectedSecondOperandConfig.unit === Unit.Currency ||
                selectedSecondOperandConfig.unit === Unit.Percentage)
        "
        [value]="ruleCondition.secondOperandValue"
        [fractionSize]="selectedSecondOperandConfig.fractionSize"
        [currencySymbol]="getUnitText(selectedSecondOperandConfig.unit)"
        (inputBlur)="updateSecondOperandValue($event)"
    ></zem-currency-input>
    <zem-date-input
        class="zem-date-input zem-rule-form-condition__group-value"
        *ngIf="
            selectedSecondOperandConfig &&
            selectedSecondOperandConfig.hasValue &&
            selectedSecondOperandConfig.unit === Unit.Date
        "
        [value]="ruleCondition.secondOperandValue"
        (valueChange)="updateSecondOperandValue($event)"
    ></zem-date-input>
    <zem-select-input
        class="zem-rule-form-condition__group-property zem-select-input"
        [value]="ruleCondition.secondOperand"
        bindLabel="label"
        bindValue="type"
        [items]="availableSecondOperands"
        [isDisabled]="availableSecondOperands.length === 0"
        [isSearchable]="false"
        groupByValue="group"
        [isClearable]="false"
        (valueChange)="selectSecondOperand($event)"
    ></zem-select-input>
    <ng-template #secondOperandModifierTemplate>
        <zem-rule-form-condition-modifier
            class="zem-rule-form-condition-modifier"
            [value]="ruleCondition.secondOperandValue"
            [valueLabel]="selectedSecondOperandConfig.label"
            [timeRange]="ruleCondition.secondOperandTimeRange"
            [hasTimeRangeModifier]="
                selectedSecondOperandConfig.hasTimeRangeModifier
            "
            [valueModifier]="selectedSecondOperandConfig.valueModifier"
            (valueChange)="updateSecondOperandValue($event)"
            (timeRangeChange)="updateSecondOperandTimeRange($event)"
        >
        </zem-rule-form-condition-modifier>
    </ng-template>
    <button
        class="zem-rule-form-condition__button button button--plain button--with-icon button--only-icon dots-icon"
        [zemPopover]="secondOperandModifierTemplate"
        [disabled]="!areModifiersAvailable(selectedSecondOperandConfig)"
        autoClose="outside"
        placement="bottom"
    ></button>
</div>
<button
    class="zem-rule-form-condition__button button button--with-icon button--only-icon remove-icon"
    (click)="removeCondition()"
></button>
