@import 'variables';

.zem-rule-form-condition__container {
    display: flex;
    padding: 5px;
    border: 1px solid @color--lighter-neutral;
    border-radius: 4px;
}

.zem-rule-form-condition__group {
    display: flex;
    flex: 1 1 250px;
    width: min-content;
    margin-right: 5px;
}

.zem-rule-form-condition__group-item {
    flex: 1 1 auto;
    width: min-content;
    min-width: 60px;
    margin-right: 2px;
}

.zem-rule-form-condition__group-item:last-child {
    margin-right: 0;
}

.zem-rule-form-condition__group-button {
    flex: 0;
}

.zem-rule-form-condition__item {
    flex: 1 1 250px;
    min-width: 60px;
    width: min-content;
    margin-right: 5px;
}

.zem-rule-form-condition__button {
    flex: 0;
    margin-right: 2px;
}

.zem-rule-form-condition__button:last-child {
    margin-right: 0;
}

.zem-rule-form-condition__popover {
    min-width: 600px;
}
