<div class="zem-settings-component__container zem-settings-component__container--campaign-goals">
    <div class="zem-settings-component__header">Campaign goals</div>
    <div class="zem-settings-component__description">Define your marketing objectives by adding campaign goals.</div>
    <div ng-if="$ctrl.hasPermission('zemauth.can_see_campaign_goals')" is-internal="zemauth.can_see_campaign_goals">
        <div class="zem-settings-campaign-goals" ng-class="{'has-error': !!$ctrl.errors.goals || $ctrl.errors.noGoals}">
            <div class="message message--error" ng-show="!!$ctrl.errors.noGoals">{{ $ctrl.errors.noGoals }}</div>
            <zem-campaign-goals account="$ctrl.account" campaign="$ctrl.entity.settings"
                                goals="$ctrl.entity.goals" model="$ctrl.entityGoalsDiff"></zem-campaign-goals>
            <div class="message message--error" ng-show="!!$ctrl.errors.goals"
                 ng-repeat="error in $ctrl.errors.goals" >{{ error }}</div>
        </div>
    </div>
</div>
