<div class="zem-content-ad-tracker__item">
    <div class="zem-content-ad-tracker__item-index">{{ (index || 0) + 1 }}</div>
    <div class="zem-content-ad-tracker__item-event-type">
        {{ trackerEventTypeNames[contentAdTracker.eventType] }}
    </div>
    <span class="zem-content-ad-tracker__item-url">
        {{ contentAdTracker.url }}
    </span>

    <div class="zem-content-ad-tracker__item-buttons">
        <button
            class="zem-button-legacy zem-button-legacy--icon-only zem-button-legacy--expand-icon"
            [class.zem-button-legacy--collapse-icon]="isEditFormVisible"
            (click)="isEditFormVisible = !isEditFormVisible"
        ></button>
        <button
            class="zem-button-legacy zem-button-legacy--icon-only zem-button-legacy--remove-icon"
            [disabled]="isDisabled"
            (click)="contentAdTrackerRemove.emit()"
        ></button>
    </div>
</div>
<div
    class="zem-content-ad-tracker__item zem-content-ad-tracker__edit-form"
    *ngIf="isEditFormVisible"
>
    <ng-content></ng-content>
</div>
