@import 'variables';

.zem-link-cell {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-link-cell__link,
.zem-link-cell__text {
    color: @color--secondary;
    font-weight: 500;
}

.zem-link-cell__link:hover,
.zem-link-cell__link:active {
    color: @color--secondary;
}
