<div class="zem-link-cell">
    <a
        *ngIf="link"
        class="zem-link-cell__link"
        href="{{ link }}"
        target="_blank"
    >
        <span
            *ngIf="text"
            class="zem-link-cell__text zem-link-cell__link-item"
            >{{ text }}</span
        >
        <div
            *ngIf="linkIcon"
            class="zem-link-cell__icon {{ linkIcon }} zem-link-cell__link-item"
        ></div>
    </a>
    <span *ngIf="!link" class="zem-link-cell__text">N/A</span>
</div>
