@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-rule-form__section {
    margin-top: 10px;
}

.zem-rule-form__section:first-child {
    margin-top: 0;
}

.zem-rule-form__section-header {
    display: flex;
}

.zem-rule-form__section-title {
    font-size: 17px;
    color: @color--secondary;
}

.zem-rule-form__section-title--underline {
    text-decoration: underline;
}

.zem-rule-form__section-header-actions {
    margin-left: 5px;
}

.zem-rule-form__section-description {
    color: @text-color--lighter;
}

.zem-rule-form__section-item {
    display: block;
    margin-top: 5px;
}

.zem-rule-form__section-item:first-child {
    margin-top: 0;
}

.zem-rule-form__section-item--indented {
    display: flex;
    flex-wrap: wrap;
}

.zem-rule-form__section-item--indented::before {
    content: '';
    display: block;
    flex: 0 0 @zem-settings__label-width;
}

.zem-rule-form__section-item--indented > * {
    flex: 1 1 @zem-settings__min-content-width;
}

.zem-rule-form__text-setting
    .zem-settings-form-group
    .zem-settings-form-group__label {
    flex: 0 0 180px;
}

.zem-rule-form__select-setting
    .zem-settings-form-group
    .zem-settings-form-group__label {
    flex: 0 0 180px;
}

.zem-rule-form__select-setting
    .zem-settings-form-group
    .zem-settings-form-group__content {
    flex: 0 0 225px;
}

.zem-rule-form__currency-setting
    .zem-settings-form-group
    .zem-settings-form-group__label {
    flex: 0 0 180px;
}

.zem-rule-form__currency-setting
    .zem-settings-form-group
    .zem-settings-form-group__content {
    flex: 0 0 225px;
}
