@import '../default/variables.less';

@images-folder: 'images/whitelabel/newscorp';
@logo__background: url('@{images-folder}/newscorp-logo.svg') no-repeat center
    center;

@color--primary: #2cb9ca;
@color--secondary: #040707;
@color--danger: #ed4646;
@color--warning: #fecb63;

@text-color--default: #040707;

@header__background-color--left: @color--secondary;
@header__background-color--right: @color--secondary;
