<div
    class="custom-panel zem-settings-component__container zem-account-targeting-settings"
    is-internal="zemauth.can_see_publisher_groups_ui"
>
    <h2 class="custom-panel__title">Targeting</h2>
    <zem-publisher-group-targeting
        entity="$ctrl.entity"
        errors="$ctrl.errors"
        api="$ctrl.api"
        ng-if="$ctrl.hasPermission('zemauth.can_set_white_blacklist_publisher_groups') && $ctrl.hasPermission('zemauth.can_see_publisher_groups_ui')"
        class="zem-publisher-group-targeting"
    ></zem-publisher-group-targeting>
</div>
