<div class="zem-user-actions-cell">
    <button
        [ngClass]="
            isReadOnlyUser
                ? 'zem-button-legacy--magnifier-icon'
                : 'zem-button-legacy--edit-icon'
        "
        class="zem-button-legacy zem-button-legacy--small zem-button-legacy--with-icon zem-button-legacy--icon-only zem-user-actions-cell__item"
        (click)="openEditUserModal()"
    ></button>
    <button
        class="zem-button-legacy zem-button-legacy--small zem-button-legacy--with-icon zem-button-legacy--icon-only zem-button-legacy--send-icon zem-user-actions-cell__item"
        (click)="resendEmail()"
    ></button>
    <button
        [disabled]="isReadOnlyUser || isCurrentUser"
        class="zem-button-legacy zem-button-legacy--small zem-button-legacy--with-icon zem-button-legacy--icon-only zem-button-legacy--remove-icon zem-button-legacy--danger zem-user-actions-cell__item"
        (click)="removeUser()"
    ></button>
</div>
