.zem-alerts-container {
    .message {
        margin: -@default-spacing -@default-spacing @default-spacing -@default-spacing;
        display: block;
        border-radius: 0px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    zem-internal-feature .internal {
        position: absolute;
        top: 0px;
        left: 0px;

        &:before {
            content: " ";
            width: 0;
            height: 0;
            display: block;
            border-top: 7px solid @internal-color;
            border-right: 7px solid transparent;
            float: left;
        }
    }
}
