@import 'variables';

.zem-rule-edit-form-condition-modifier__value-modifier {
    display: flex;
    align-items: center;
    margin: -@zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition-modifier__value-modifier-item {
    margin: @zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition-modifier__value-input {
    width: 100px;
}
