<div ng-if="$ctrl.requestInProgress">
    Requesting demo instance <div class="loader"></div>
</div>

<div ng-if="!$ctrl.requestInProgress && !$ctrl.error">
    <h4 class="demo-running-message">Demo is running</h4>
    <div class="demo-details">
        <span class="demo-url detail">Log in to <a href="{{$ctrl.demoUrl}}">{{$ctrl.demoUrl}}</a></span>
        <span class="demo-account detail">u/p: regular.user+demo@zemanta.com / {{$ctrl.demoPassword}}</span>
        <span class="demo-note detail">NOTE: This instance will selfdestroy in 3 days.</span>
        <span class="demo-email-note detail">These details have also been sent to your email.</span>
    </div>
</div>

<div class="error" ng-if="$ctrl.error">
    <span ng-if="$ctrl.errorMessage">
        {{$ctrl.errorMessage}}
    </span>
    <span ng-if="!$ctrl.errorMessage">
        An error has occured.
    </span>
</div>

<div ng-if="$ctrl.closeModal" class="m-t">
    <button type="button" class="close-modal-button btn btn-default" ng-click="$ctrl.closeModal()">Close</button>
</div>
