<div ng-if="$ctrl.requestInProgress">
    Requesting demo instance <div class="loader"></div>
</div>

<div ng-if="!$ctrl.requestInProgress && !$ctrl.error">
    <h4 class="demo-running-message">Demo is running</h4>
    <div class="demo-details">
        <span class="demo-email-note detail">Login information will be sent to your email shortly.</span>
        <span class="demo-note detail">NOTE: This instance will selfdestroy in 7 days.</span>
    </div>
</div>

<div class="error" ng-if="$ctrl.error">
    <span ng-if="$ctrl.errorMessage">
        {{$ctrl.errorMessage}}
    </span>
    <span ng-if="!$ctrl.errorMessage">
        An error has occured.
    </span>
</div>

<div ng-if="$ctrl.closeModal" class="m-t">
    <button type="button" class="close-modal-button button" ng-click="$ctrl.closeModal()">Close</button>
</div>
