<zem-loader
    class="zem-loader zem-loader--small"
    ng-if="$ctrl.state.requests.list.inProgress && $ctrl.state.audiencesList.length"
></zem-loader>
<div class="custom-table__mobile-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>
                    Audience
                    <zem-help-popover
                        content="Audience's name"
                        placement="top"
                    ></zem-help-popover>
                </th>
                <th>
                    Audience ID
                    <zem-help-popover
                        content="Audience's ID"
                        placement="top"
                    ></zem-help-popover>
                </th>
                <th>
                    Size
                    <zem-help-popover
                        content="Approximate count of all unique users in the audience"
                        placement="top"
                    ></zem-help-popover>
                </th>
                <th>
                    Added Yesterday
                    <zem-help-popover
                        content="Approximate count of unique users added to the audience yesterday"
                        placement="top"
                    ></zem-help-popover>
                </th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-class="{'archived': audience.archived}"
                ng-repeat="audience in $ctrl.state.audiencesList"
            >
                <td>
                    <strong>{{ audience.name }}</strong>
                </td>
                <td>{{ audience.id }}</td>
                <td>{{ audience.count }}</td>
                <td>{{ audience.countYesterday }}</td>
                <td>{{ audience.createdDt | date: 'MMM d, y h:mm:ss a' }}</td>
                <td class="custom-table__action-buttons">
                    <a
                        tabindex="-1"
                        ng-click="$ctrl.openAudienceModal(audience)"
                        ng-if="!audience.archived"
                        href="#"
                        class="button button--small button--with-icon edit-icon"
                        >Edit</a
                    >
                    <a
                        tabindex="-1"
                        ng-click="$ctrl.archiveAudience(audience)"
                        ng-if="!audience.archived"
                        href="#"
                        class="button button--small button--with-icon archive-icon"
                        ng-class="{'disabled': $ctrl.state.requests.archive[audience.id].inProgress}"
                        >Archive</a
                    >
                    <a
                        tabindex="-1"
                        ng-click="$ctrl.restoreAudience(audience)"
                        ng-if="audience.archived"
                        href="#"
                        class="button button--small button--with-icon archive-icon"
                        ng-class="{'disabled': $ctrl.state.requests.restore[audience.id].inProgress}"
                        >Restore</a
                    >
                </td>
            </tr>
            <tr ng-if="$ctrl.state.requests.list.inProgress">
                <td colspan="6">
                    <zem-loader
                        class="zem-loader zem-loader--small"
                    ></zem-loader>
                </td>
            </tr>
            <tr
                ng-hide="$ctrl.state.requests.list.inProgress || $ctrl.state.audiencesList.length"
            >
                <td colspan="6" class="custom-table__no-data">No Audiences</td>
            </tr>
        </tbody>
    </table>
    <div
        ng-if="$ctrl.state.requests.archive.validationErrors"
        class="message message--error"
    >
        <p>{{ $ctrl.state.requests.archive.validationErrors.data.errors }}</p>
    </div>
</div>
