<div class="zem-creative-actions-cell">
    <zem-button
        class="zem-button zem-creative-actions-cell__item"
        [icon]="isReadOnly ? 'magnifier' : 'edit'"
        [isIconOnly]="true"
        [isSmall]="true"
        [title]="isReadOnly ? 'View' : 'Edit'"
        (click)="edit()"
    >
    </zem-button>
    <zem-button
        class="zem-button zem-creative-actions-cell__item"
        [icon]="'copy'"
        [isIconOnly]="true"
        [isSmall]="true"
        [title]="'Clone'"
        (click)="clone()"
    >
    </zem-button>
    <zem-button
        class="zem-button zem-creative-actions-cell__item"
        [icon]="'download'"
        [isIconOnly]="true"
        [isSmall]="true"
        [title]="'Download'"
        (click)="exportToCsv()"
    >
    </zem-button>
</div>
