@import 'variables';

.zem-creative-actions-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.zem-creative-actions-cell__item {
    flex: 0 0 16px;
}
