<div class="test-container">
    <div class="warning-error-page">
        <div class="warning-error-page__container" id="error-box">
            <div class="warning-error-container__left">
                <div class="logo"></div>
            </div>
            <div class="warning-error-container__right">
                <h2>No access.</h2>
                <p class="bigger">
                    You don't have rights to access any information.
                </p>
                <p>
                    <strong>Need help?</strong>
                    <a
                        class="link"
                        href="mailto:help@zemanta.com?Subject=Help%20Needed"
                        target="_blank"
                        >Contact us</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>
