@import 'variables';

.zem-checkbox-filter-header-cell {
    display: flex;
    align-items: center;
    padding: @spacing--small;
    width: 100%;
    height: 100%;
}

.zem-checkbox-filter-header-cell:hover {
    cursor: pointer;
}

.zem-checkbox-filter-header-cell__item:not(:last-child) {
    margin-right: 5px;
}

.zem-checkbox-filter-header-cell__checkbox {
    flex: 0 0 auto;
}

.zem-checkbox-filter-header-cell__toggle-icon {
    flex: 1 1 auto;
}

.zem-checkbox-filter-header-cell__toggle-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 10px;
    width: 6px;
    height: 10px;
    background-image: url('@{images-folder}/arrow-sec.svg');
    background-repeat: no-repeat;
}

.zem-checkbox-filter-header-cell__filters-content {
    max-height: 200px;
}

.zem-checkbox-filter-header-cell__empty-filters {
    color: @color--neutral;
    font-size: @font-size--default;
}

.zem-checkbox-filter-header-cell__filters-title {
    color: @color--secondary;
    font-size: (@font-size--default)+3;
    font-weight: 500;
    margin-bottom: 5px;
}

.zem-checkbox-filter-header-cell__filters {
    margin: 0;
    padding-left: 15px;
    list-style: none;
}

.zem-checkbox-filter-header-cell__filters-item {
    position: relative;
}

.zem-checkbox-filter-header-cell__filters-item::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: @color--lighter-neutral;
    position: absolute;
    left: -15px;
    top: 4px;
}

.zem-checkbox-filter-header-cell__filter {
    color: @color--primary;
    font-weight: 500;
    font-size: (@font-size--default)-1;
}

.zem-checkbox-filter-header-cell__filter:hover {
    text-decoration: underline;
    cursor: pointer;
}
