<zem-side-panel on-close-request="$ctrl.close()" api="$ctrl.sidePanel">
    <button ng-click="$ctrl.close()" class="zem-side-panel__close"></button>

    <div class="zem-history__header">
        <h1 class="zem-history__header-title">
            History
        </h1>
    </div>

    <div class="zem-history__body custom-scroller">
        <div class="zem-history__section">
            <table class="table table-hover custom-scroller">
                <thead>
                    <tr>
                        <!-- TODO: Add order indicator -->
                        <th ng-class="{
                            'order-indicator': $ctrl.orderField === 'datetime',
                            'order-indicator--reversed': $ctrl.orderReversed,
                        }">
                            <a href ng-click="$ctrl.changeOrder('datetime')">Date</a>
                        </th>
                        <th ng-class="{
                            'order-indicator': $ctrl.orderField === 'changedBy',
                            'order-indicator--reversed': $ctrl.orderReversed,
                        }">
                            <a href ng-click="$ctrl.changeOrder('changedBy')">User</a>
                        </th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="$ctrl.requestInProgress">
                        <td colspan="3" class="loader-row">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    <tr ng-show="!$ctrl.requestInProgress && (!$ctrl.history || $ctrl.history.length === 0)">
                        <td class="no-data" colspan="3">No data</td>
                    </tr>

                    <tr ng-repeat="item in $ctrl.history">
                        <td class="no-wrap">{{ item.datetime }}</td>
                        <td>{{ item.changedBy }}</td>
                        <td class="notes">{{ item.changesText }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="zem-history__footer buttons-panel">
        <button type="button" class="button button--outline" ng-click="$ctrl.close()">Close</button>
    </div>
</zem-side-panel>
