<div ng-if="$ctrl.appliedConditions.length || $ctrl.isExpanded()" class="applied-conditions">
    <span class="applied-conditions__title">Filter</span>
    <div class="applied-conditions__list-container">
        <span ng-repeat="condition in $ctrl.appliedConditions" class="applied-conditions__condition">
            <span class="applied-conditions__condition-name">{{condition.name}}</span>
            <span class="applied-conditions__condition-text" title="{{condition.text}}">{{condition.text}}</span>
            <a ng-click="$ctrl.removeCondition(condition.condition, condition.value)" class="applied-conditions__remove-condition" href></a>
        </span>
    </div>
    <button ng-click="$ctrl.clearFilter()" class="applied-conditions__clear-filter button button--dark-backgrounds button--with-icon button--remove-icon">Clear filter</button>
</div>
<div ng-if="$ctrl.isExpanded()" class="filter-sections clearfix" ng-class="$ctrl.getVisibleSectionsClasses()">
    <div ng-repeat="section in $ctrl.visibleSections" class="filter-sections__section filter-sections__section--{{section.cssClass}}">
        <div class="filter-sections__section-title">{{section.title}}</div>
        <div class="filter-sections__options-container custom-scroller">
            <ul class="filter-sections__options-list">
                <li ng-repeat="option in section.options" class="filter-sections__option">
                    <label ng-switch="section.condition.type" class="filter-sections__option-label">
                        <input ng-switch-when="list" type="checkbox" name="section.condition.name" ng-model="option.enabled" class="filter-sections__option-input filter-sections__option-input--checkbox">
                        <input ng-switch-when="value" type="radio" name="section.condition.name" ng-model="section.value" ng-value="option.value" class="filter-sections__option-input filter-sections__option-input--radio">
                        <span class="filter-sections__option-text">{{option.text}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <button ng-click="$ctrl.applyFilter()" class="filter-sections__apply-filter button button--highlight button--with-icon button--check-icon">Apply filter</button>
</div>
