.zem-filter-selector {
    display: block;

    .applied-conditions-banner {
        position: relative;
        height: 42px;
        margin-bottom: 10px;

        .filter-title {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 35px;
        }

        .applied-conditions {
            margin-left: 55px;
            margin-right: 100px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            .condition {
                position: relative;
                display: inline-block;
                margin-right: 5px;
                max-width: 200px;
                padding: 2px 20px 2px 5px;
                border: 1px solid #ddd;
                border-radius: @border-radius;

                &:last-child {
                    margin-right: 0;
                }

                .condition-name,
                .condition-text {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .condition-name {
                    font-size: 11px;
                    color: #aaa;
                }

                .remove-condition {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                }
            }
        }

        .clear-filter {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
        }
    }

    .filter-sections {
        position: relative;
        height: 308px; // 10px padding-top + 2*10px .section (padding) + 28px .section-title + 250px .section-options-container
        padding-top: 10px;
        border-top: 1px solid #ddd;

        .section {
            float: left;
            width: 25%;
            height: 100%;
            padding-top: @default-spacing/2;
            padding-right: 2*@default-spacing;
            padding-bottom: @default-spacing/2;
            padding-left: 2*@default-spacing;
            border-right: 1px solid #ddd;

            .section-title {
                margin-bottom: @default-spacing/2;
                line-height: 18px;
                font-size: 18px;
            }

            .section-options-container {
                max-height: 250px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .section-options {
                list-style: none;
                margin: 0;
                padding: 0;

                label {
                    position: relative;
                    margin-bottom: 2px;
                    font-weight: normal;

                    .label-text {
                        padding-left: 25px;
                    }

                    input {
                        position: absolute;
                        left: 0;
                        width: 25px;
                        margin: 0;

                        &[type='checkbox'] {
                            top: 4px;
                        }

                        &[type='radio'] {
                            top: 2px;
                        }
                    }
                }

            }

            &.sources {
                padding-left: 0;
            }

            &.statuses {
                max-height: 68px;
                padding-right: 0;
                border-right: 0;

                .section-options-container {
                    max-height: 20px;
                }
            }

            &.publisher-statuses {
                max-height: 108px;
                padding-right: 0;
                border-right: 0;

                .section-options-container {
                    max-height: 60px;
                }
            }
        }

        .apply-filter {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        // Transform visible sources list into multiple columns when other sections are hidden
        &.visible-sources:not(.visible-agencies),
        &.visible-sources:not(.visible-account-types) {
            .sources {
                width: 50%;

                .section-options {
                    -moz-column-count: 2;
                    -moz-column-gap: @default-spacing;
                    -webkit-column-count: 2;
                    -webkit-column-gap: @default-spacing;
                    column-count: 2;
                    column-gap: @default-spacing;
                }
            }
        }
        &.visible-sources:not(.visible-agencies):not(.visible-account-types) {
            .sources {
                width: 75%;

                .section-options {
                    -moz-column-count: 3;
                    -moz-column-gap: 2*@default-spacing;
                    -webkit-column-count: 3;
                    -webkit-column-gap: 2*@default-spacing;
                    column-count: 3;
                    column-gap: 2*@default-spacing;
                }
            }
        }
    }
}
