@applied-conditions__title_width: 35px;
@applied-conditions__clear-filter_width: 110px;
@filter-sections_border-top-width: 1px;
@filter-sections_padding-top: 10px;
@filter-sections__section-title_margin-bottom: 10px;
@filter-sections__section-title_font-size: 18px;
@filter-sections__section_vertical-padding: 10px;
@filter-sections__section-options-container_max-height: 250px;

.zem-filter-selector {
    display: block;

    .applied-conditions {
        position: relative;
        height: 42px;
        margin-bottom: 10px;
    }

    .applied-conditions__title {
        position: absolute;
        left: @default-spacing;
        top: 50%;
        transform: translateY(-50%);
        width: @applied-conditions__title_width;
    }

    .applied-conditions__list-container {
        margin-left: @default-spacing*2 + @applied-conditions__title_width;
        margin-right: @default-spacing*2 + @applied-conditions__clear-filter_width;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .applied-conditions__condition {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        max-width: 200px;
        padding: 2px 20px 2px 5px;
        border: 1px solid #ddd;
        border-radius: @border-radius;

        &:last-child {
            margin-right: 0;
        }
    }

    .applied-conditions__condition-name,
    .applied-conditions__condition-text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .applied-conditions__condition-name {
        font-size: 11px;
        color: #aaa;
    }

    .applied-conditions__remove-condition {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
    }

    .applied-conditions__clear-filter {
        position: absolute;
        right: @default-spacing;
        top: 50%;
        transform: translateY(-50%);
        width: @applied-conditions__clear-filter_width;
    }

    .filter-sections {
        position: relative;
        height: @filter-sections_border-top-width +
                @filter-sections_padding-top +
                @filter-sections__section_vertical-padding*2 +
                @filter-sections__section-title_margin-bottom +
                @filter-sections__section-title_font-size +
                @filter-sections__section-options-container_max-height;
        margin-bottom: @default-spacing;
        padding-top: @filter-sections_padding-top;
        padding-left: @default-spacing;
        padding-right: @default-spacing;
        border-top: @filter-sections_border-top-width solid #ddd;
    }

    .filter-sections__section {
        float: left;
        width: 25%;
        height: 100%;
        padding: @filter-sections__section_vertical-padding @default-spacing*2;
        border-right: 1px solid #ddd;
    }

    .filter-sections__section--sources {
        padding-left: 0;
    }

    .filter-sections__section--statuses {
        max-height: 68px;
        padding-right: 0;
        border-right: 0;

        .filter-sections__options-container {
            max-height: 20px;
        }
    }

    .filter-sections__section--publisher-statuses {
        max-height: 108px;
        padding-right: 0;
        border-right: 0;

        .filter-sections__options-container {
            max-height: 60px;
        }
    }

    .filter-sections__section-title {
        margin-bottom: @filter-sections__section-title_margin-bottom;
        line-height: @filter-sections__section-title_font-size;
        font-size: @filter-sections__section-title_font-size;
    }

    .filter-sections__options-container {
        max-height: @filter-sections__section-options-container_max-height;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .filter-sections__options-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .filter-sections__option-label {
        position: relative;
        margin-bottom: 2px;
        font-weight: normal
    }

    .filter-sections__option-input {
        position: absolute;
        left: 0;
        width: 25px;
        margin: 0;
    }

    .filter-sections__option-input--checkbox {
        top: 4px;
    }

    .filter-sections__option-input--radio {
        top: 2px;
    }

    .filter-sections__option-text {
        padding-left: 25px;
    }

    .filter-sections__apply-filter {
        position: absolute;
        right: @default-spacing;
        bottom: 0;
    }

    // Transform visible sources list into multiple columns when other sections are hidden
    .filter-sections--visible-sources:not(.filter-sections--visible-agencies),
    .filter-sections--visible-sources:not(.filter-sections--visible-account-types) {
        .filter-sections__section--sources {
            width: 50%;

            .filter-sections__options-list {
                column-count: 2;
                column-gap: @default-spacing;
            }
        }
    }

    .filter-sections--visible-sources:not(.filter-sections--visible-agencies):not(.filter-sections--visible-account-types) {
        .filter-sections__section--sources {
            width: 75%;

            .filter-sections__options-list {
                column-count: 3;
                column-gap: 2*@default-spacing;
            }
        }
    }
}
