@import 'variables';

.zem-entity-permission-selector {
    border: 1px solid @border-color--default;
    border-radius: @border-radius--default;
    background-color: @color--lightest-neutral;
    margin-left: @spacing--small;
}

.zem-entity-permission-selector__section {
    margin: @spacing--small;
}

.zem-entity-permission-selector__section:not(:last-child) {
    margin-bottom: 30px;
}

.zem-entity-permission-selector__option {
    padding: @spacing--small 0;
}

.zem-entity-permission-selector__description {
    display: block;
    color: @text-color--lighter;
}
