@import 'variables';

.zem-entity-permission-selector {
    justify-content: space-between;
    background-color: @color--lightest-neutral;
}

.zem-entity-permission-selector__section {
    margin: @spacing--small;
}

.zem-entity-permission-selector__option {
    padding: @spacing--small 0;
}

.zem-entity-permission-selector__description {
    display: block;
    color: @text-color--lighter;
}
