<div class="breadcrumb">
    <div class="item">
        <a ng-href="{{$ctrl.getHomeHref()}}">
        	<span class="type-name">Home:</span>       
            {{ $ctrl.userCanSeeAllAccounts ? "All accounts" : "My account" }}
        </a>
    </div>
</div>

<div class="breadcrumb" ng-repeat="item in $ctrl.breadcrumb">
    <div class="slash">\</div>
    <div class="item">
        <a ng-href="{{$ctrl.getItemHref(item)}}" title="{{ item.name }}">
        	<span class="type-name">{{ item.typeName }}:</span>
        	{{ item.name }}
        </a>
    </div>
</div>

