<div class="breadcrumb">
    <div class="item">
        <span class="type-name">Home:</span><br>
        <a ng-href="{{$ctrl.getHomeHref()}}">
            {{ $ctrl.userCanSeeAllAccounts ? "All accounts" : "My account" }}
        </a>
    </div>
</div>

<div class="breadcrumb" ng-repeat="item in $ctrl.breadcrumb">
    <div class="slash">\</div>
    <div class="item">
        <span class="type-name">{{ item.typeName }}:</span><br>
        <a ng-href="{{$ctrl.getItemHref(item)}}" title="{{ item.name }}">{{ item.name }}</a>
    </div>
</div>

