@import 'variables';

.zem-categorized-select {
    display: block;
}

.zem-categorized-select__container {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
}

.zem-categorized-select__container--search-enabled {
    padding-top: 42px;

    .zem-categorized-select__list-item {
        padding-right: 7px;
        padding-left: 7px;
    }
}

.zem-categorized-select__search-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 7px;
    background-color: tint(@secondary-color, 90%);
    box-shadow: 0px 0px 3px 0px fade(@secondary-color, 40%);
}

.zem-categorized-select__search-input {
    width: 100%;
    height: 100%;
    line-height: 20px;
}

.zem-categorized-select__lists-container {
    overflow: auto;
    height: 100%;
}

.zem-categorized-select__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.zem-categorized-select__list-item {
    padding: 5px @default-spacing;
    border-bottom: 1px solid @very-light-gray;
    position: relative;

    &:last-child {
        border-bottom: 1px solid transparent;
    }

    &:hover {
        cursor: pointer;
        background-color: @very-light-gray;
    }
}

.zem-categorized-select__list-item-name {
    display: block;
    padding-right: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-categorized-select__list-item-description {
    display: block;
    position: absolute;
    right: 7px;
    top: 4px;
    white-space: nowrap;
    background-color: @secondary-color;
    color: white;
    font-size: 12px;
    padding: 1px 4px;
    border-radius: @border-radius;
}

.zem-categorized-select__list-item--highlighted {
    background-color: @very-light-gray;
}

.zem-categorized-select__actions-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    padding: 10px @default-spacing;
    background-color: tint(@secondary-color, 90%);
    box-shadow: 0px 0px 3px 0px fade(@secondary-color, 40%);
}

.zem-categorized-select__action-button {
    display: block;
    float: left;
    height: 30px;
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.zem-categorized-select__apply-button {
    float: right;
}
