<div
    zemDropdown
    [suppressDropdownMobileStyle]="true"
    #ruleActionsDropdown="zemDropdown"
>
    <button
        class="button button--dropdown-toggle-icon"
        [zemNewFeature]="true"
        zemDropdownToggle
    >
        Automation rules
    </button>
    <div zemDropdownContent>
        <ul class="zem-rule-actions__list">
            <li
                class="zem-rule-actions__list-item"
                [class.zem-rule-actions__list-item--disabled]="
                    isCreateRuleDisabled
                "
                (click)="openModal()"
            >
                Create rule
            </li>
            <li
                class="zem-rule-actions__list-item"
                (click)="navigateToRulesView()"
            >
                Manage rules
            </li>
        </ul>
    </div>
</div>

<zem-modal
    #ruleModal
    [canCloseOnBackdropClick]="false"
    [canCloseOnEscapeKey]="true"
    class="zem-modal zem-rule-actions__modal"
>
    <ng-container *ngIf="ruleModal.isOpen">
        <div class="zem-modal__header">
            <div class="zem-modal__title">Create Rule</div>
        </div>
        <div class="zem-modal__body">
            <zem-rule-edit-form
                class="zem-rule-edit-form"
                [agencyId]="agencyId"
                [accountId]="accountId"
                [rule]="{}"
                [entityId]="entityId"
                [entityName]="entityName"
                [entityType]="entityType"
                (componentReady)="onRuleEditFormReady($event)"
            ></zem-rule-edit-form>
        </div>
        <div class="zem-modal__footer zem-buttons-panel">
            <zem-button
                class="zem-button"
                [isHighlighted]="true"
                [isLoading]="isSaveInProgress"
                [isDisabled]="isSaveInProgress"
                [icon]="'check'"
                (click)="save()"
            >
                Save
            </zem-button>
            <zem-button
                class="zem-button"
                [isOutlined]="true"
                [isDisabled]="isSaveInProgress"
                (click)="ruleModal.close()"
            >
                Cancel
            </zem-button>
        </div>
    </ng-container>
</zem-modal>
