<div class="zem-creative-asset-cell">
    <ng-container *ngIf="item">
        <div class="zem-creative-asset-cell__image">
            <img *ngIf="item.imageUrl" [src]="item.imageUrl" loading="lazy" />
        </div>
        <div class="zem-creative-asset-cell__title_description">
            <div class="zem-creative-asset-cell__text">
                {{ item.title }}
            </div>
            <div>
                {{ item.description }}
            </div>
        </div>
    </ng-container>
    <span class="zem-creative-asset-cell__text" *ngIf="!item">N/A</span>
</div>
