<div class="zem-navigation__search">
    <input
        type="text"
        ng-model="$ctrl.query"
        ng-change="$ctrl.filter($ctrl.query)"
        ng-model-options="{ debounce: 500 }"
        ng-click="$event.stopPropagation()"
        placeholder="Search"
        class="input-text"
    />
</div>

<div class="zem-navigation__results custom-scroller">
    <zem-loader
        class="zem-loader zem-loader--small"
        ng-if="!$ctrl.list || $ctrl.filterInProgress"
    ></zem-loader>
    <div
        class="zem-navigation__no-results"
        ng-if="$ctrl.list && !$ctrl.filterInProgress && $ctrl.filteredList.length === 0"
    >
        no matches found
    </div>
    <ul
        class="zem-navigation__results-list"
        ng-if="$ctrl.list && !$ctrl.filterInProgress && $ctrl.filteredList.length > 0"
        vs-repeat
        vs-scroll-parent=".zem-navigation__results"
        vs-size="$ctrl.getItemHeight(item)"
    >
        <li ng-repeat="item in $ctrl.filteredList track by item.id">
            <a
                class="zem-navigation__item"
                ng-href="{{ $ctrl.getItemHref(item) }}"
                ng-click="$ctrl.navigateTo(item)"
                ng-class="$ctrl.getItemClasses(item)"
            >
                <span
                    class="zem-navigation__item-icon"
                    ng-class="$ctrl.getItemIconClass(item)"
                ></span>
                <span
                    class="zem-navigation__item-name"
                    title="{{ item.data.name }}"
                    >{{ item.data.name }}</span
                >
                <span
                    class="zem-navigation__item-agency"
                    ng-show="item.data.agency"
                    >({{ item.data.agency }})</span
                >
            </a>
        </li>
    </ul>
</div>
