<div class="page page-account-agency" ng-if="!account.archived">
    <div class="section table-account-agency">
        <div class="title">History
            <zem-help-popover content="History of settings changes." placement="top"></zem-help-popover>
        </div>
        <div class="loader-container">
            <div class="loader" ng-show="history.length && requestInProgress"></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="arrow" ng-class="{ordered: orderField === 'datetime' && !orderReverse, 'ordered-reverse': orderField === 'datetime' && orderReverse}"><a href class="order" ng-click="orderField = 'datetime'; orderReverse = !orderReverse">Date</a></th>
                        <th class="arrow" ng-class="{ordered: orderField === 'manager' && !orderReverse, 'ordered-reverse': orderField === 'manager' && orderReverse}"><a href class="order" ng-click="orderField = 'manager'; orderReverse = !orderReverse">User</a></th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="requestInProgress && !history.length">
                        <td colspan="3" class="loader-row">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    <tr ng-show="(!history || !history.length) && !requestInProgress">
                        <td class="no-data" colspan="3">No data</td>
                    </tr>

                    <tr ng-repeat="item in history | orderBy:orderField:orderReverse">
                        <td class="no-wrap">{{ (item.datetime | date:'M/d/yyyy h:mm a') || 'N/A' }}</td>
                        <td>{{ item.changedBy }}</td>
                        <td zem-lazy-popover-template="'popoverContent.html'" zem-lazy-popover-append-to-body="true" zem-lazy-popover-placement="bottom" zem-lazy-popover-stay-open-on-hover="true" zem-lazy-popover-animation-class="fade" zem-lazy-popover-custom-classes="agency-history-popover-large">{{ item.changesText }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="page page-account-agency" ng-if="!!account.archived">
    <p>
        <strong>This account is archived.</strong>
    </p>
    <button type="button" class="btn btn-default" ng-click="restoreAccount()">Restore account</button>
</div>

<script id="popoverContent.html" type="text/ng-template">
    <div class="history-popover-table">
        <div class="history-popover-row">
            <div ng-if="item.showOldSettings" class="history-popover-cell header-cell left-cell"><strong>Old Settings</strong></div>
            <div class="history-popover-cell header-cell"><strong>New Settings</strong></div>
        </div>
        <div class="history-popover-row" ng-repeat="setting in item.settings">
            <div ng-if="item.showOldSettings" class="history-popover-cell left-cell">
                <div><strong>{{setting.name}}</strong></div>
                <div class="setting-value" ng-bind-html="setting.oldValue"></div>
            </div>
            <div class="history-popover-cell">
                <div><strong>{{setting.name}}</strong></div>
                <div class="setting-value" ng-bind-html="setting.value"></div>
            </div>
        </div>
    </div>
</script>
