<div class="page page-account-custom-audiences">
    <h1>Pixels & Audiences</h1>
    <div>
        <zem-conversion-pixels
            zem-account="account"
            zem-has-permission="hasPermission"
            zem-is-permission-internal="isPermissionInternal" />
    </div>
    <div class="white-background">
        <h2>Audiences</h2>
        <div class="description">Custom audiences allow you to target your ads to a specific set of people with whom you have already established a relationship. Audiences can be defined by a combination of rules used to identify users who took specific actions on your website.</div>
        <div><zem-custom-audiences-list account-id="accountId" api="api"></zem-custo-audiences-list></div>
        <button type="button" class="btn btn-blue btn-icon add" ng-disabled="!audiencePixel" ng-click="openAudienceModal()"><span class="icon"></span><span class="text">Add Custom Audience</span></button>
    
        <div ng-if="!audiencePixel" class="alert alert-info m-t">
            Please first define the pixel to build custom audiences from. If you already have the pixel created there, click Edit and set it as audience building pixel.
        </div>
    </div>
</div>
