<div class="modal__header">
    <div class="modal__title" ng-if="isNew">Add Credit</div>
    <div class="modal__title" ng-if="!isNew">Edit Credit Item #{{ creditItem.id }}</div>
</div>
<div class="modal__body">
    <div class="loader" ng-show="isLoadingInProgress"></div>
    <p ng-if="!isNew">Created by <strong>{{ creditItem.createdBy }}</strong> on <strong>{{ creditItem.createdOn }}</strong></p>
    <p ng-if="isNew">Created by <strong>{{ user.name }}</strong> on <strong>{{ today }}</strong></p>
    <hr>
    <div class="form" id="form-account-credit-item" ng-class="{ 'new': isNew, 'edit': !isNew }" ng-show="!isLoadingInProgress">
        <div class="form__group" ng-class="{'form--error': !!errors.startDate}">
            <label class="form__label" for="start-date-input">Valid From</label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input class="input-text" id="start-date-input" type="text" uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="creditItem.startDate" datepicker-options="startDatePickerOptions"
                       is-open="startDatePicker.isOpen" ng-click="openStartDatePicker()" ng-disabled="creditItem.isSigned" />
            </div>
            <div ng-repeat="error in errors.startDate" class="message message--error" for="start-date-input">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.endDate}">
            <label class="form__label" for="end-date-input">Valid To</label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input class="input-text" id="end-date-input" type="text" uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="creditItem.endDate" datepicker-options="endDatePickerOptions"
                       is-open="endDatePicker.isOpen" ng-click="openEndDatePicker()" />
            </div>
            <div ng-repeat="error in errors.endDate" class="message message--error" for="end-date-input">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.licenseFee}">
            <label class="form__label" for="license-fee-input">License Fee (%)</label>
            <ui-select class="button button--plain button--narrow button--dropdown-toggle-icon" theme="select2"
                       id="license-fee-select" ng-model="creditItem.licenseFee" ng-disabled="creditItem.isSigned"
                       search-enabled="false">
                <ui-select-match>{{$select.selected | number:2}}%</ui-select-match>
                <ui-select-choices repeat="fee in getLicenseFees($select.search, creditItem.licenseFee) | filter: $select.search">
                    <span ng-bind-html="fee"></span>%
                </ui-select-choices>
            </ui-select>
            <div class="message message--error" ng-repeat="error in errors.licenseFee" for="license-fee">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.amount}">
            <label class="form__label" for="amount-input">Credit</label>
            <div class="prefixed-field postfixed-field prefixed-field--narrow postfixed-field--narrow">
                <span class="prefixed-field__prefix">$</span>
                <input class="input-text" id="amount-input" type="text" ng-model="creditItem.amount" zem-currency-input fraction-size="0">
                <span class="postfixed-field__postfix">.00</span>
            </div>
            <div ng-repeat="error in errors.amount" class="message message--error" for="amount">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.comment}">
            <label class="form__label" for="comment-input">Custom Notes</label>
            <textarea class="textarea" id="comment-input" type="text" ng-model="creditItem.comment" maxlength="256"></textarea>
            <div class="message message--error" ng-repeat="error in errors.comment" for="comment">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.agency}" ng-if="account.agency">
            <label class="form__label">Agency credit</label>
            <div class="form__checkbox">
                <label>
                    <input class="input-checkbox" id="is-agency-input" type="checkbox" ng-model="creditItem.isAgency">
                    <span class="checkbox-text"></span>
                </label>
            </div>
            <div class="message message--error" ng-repeat="error in errors.agency" for="is-agency-input">{{ error }}</div>
        </div>
        <hr>
        <p>By signing the credit line item, no more future changes to the amount, fee and start date will be possible.</p>
        <div class="form__checkbox" ng-class="{'form--error': !!errors.status}">
            <label>
                <input class="input-checkbox" id="is-signed-input" type="checkbox" ng-model="creditItem.isSigned" ng-disabled="wasSigned">
                <span class="checkbox-text">Signed</span>
            </label>
            <div ng-repeat="error in errors.status" class="message message--error" for="is-signed-input">{{ error }}</div>
        </div>
    </div>
    <div ng-show="!isNew">
        <hr>
        <h3>Allocated budget items</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Campaign</th>
                    <th>Budget</th>
                    <th>Total spend</th>
                    <th>Flight dates</th>
					<th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in creditItem.budgets">
                    <td>{{ item.campaign }}</td>
                    <td>{{ item.total | decimalCurrency:"$":2  }}</td>
                    <td>{{ item.spend | decimalCurrency:"$":2  }}</td>
                    <td>{{ item.startDate }} - {{ item.endDate }}</td>
					<td><zem-note-popover content="{{ item.comment }}" placement="top"></zem-note-popover></td>
                </tr>
                <tr ng-show="!creditItem.numOfBudgets" class="message">
                    <td colspan="5">No allocated budget items.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal__footer buttons-panel">
    <button type="button" class="button button--highlight button--with-icon check-icon" ng-click="upsertCreditItem()" ng-disabled="saveRequestInProgress">Save</button>
    <button type="button" class="button button--outline" ng-click="discardCreditItem()" ng-disabled="saveRequestInProgress">Discard</button>
    <div class="loader" ng-show="saveRequestInProgress"></div>
    <span ng-show="saved" class="message message--success">Your updates have been saved.</span>
    <span ng-show="saved === false" class="message message--error">An error occurred while saving. Please correct the marked fields and save again.</span>
    <span ng-show="discarded" class="message">Your updates have been discarded.</span>
</div>
