<div class="page page-account-account" ng-if="!account.archived">

    <form ng-if="hasPermission('zemauth.can_manage_agency')" id="form-account-agency" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.name}">
            <label for="name-input" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_manage_agency')" popover-placement="bottom"></zem-internal-feature>
                Name
                <zem-help-popover content="Name of the account." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <input id="name-input" type="text" class="form-control" ng-model="settings.name">
            </div>

            <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.defaultAccountManager}">
            <label for="account-manager-select" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_manage_agency')" popover-placement="bottom"></zem-internal-feature>
                Account Manager
                <zem-help-popover content="Account manager responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="account-manager-select" class="form-control" ng-model="settings.defaultAccountManager">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="manager.id as manager in accountManagers | orderBy:getName | filter:$select.search">
                        <div ng-bind-html="manager.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.defaultAccountManager" class="control-label error" for="account-manager-select">{{ error }}</label>
        </div>

        <div ng-if="hasPermission('zemauth.can_set_account_sales_representative')" class="form-group" ng-class="{'has-error': !!errors.defaultSalesRepresentative}">
            <label for="sales-representative-select" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_account_sales_representative')" popover-placement="bottom"></zem-internal-feature>
                Sales Representative
                <zem-help-popover content="Sales representative responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="sales-representative-select" class="form-control" ng-model="settings.defaultSalesRepresentative">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="rep.id as rep in salesReps | orderBy:getName | filter:$select.search">
                        <div ng-bind-html="rep.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.defaultSalesRepresentative" class="control-label error" for="sales-representative-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.accountType}" ng-if="hasPermission('zemauth.can_modify_account_type')">
            <label for="sales-representative-select" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_account_type')" popover-placement="right"></zem-internal-feature>
                Account Type
                <zem-help-popover content="Type of account." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="account-type-select" class="form-control" ng-model="settings.accountType" search-enabled="false">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="type.id as type in accountTypes">
                        <div ng-bind-html="type.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.accountType" class="control-label error" for="account-type-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.allowedSources}" ng-if="hasPermission('zemauth.can_modify_allowed_sources')">
            <label for="media-sources-options-choices" class="col-xs-2 control-label"><zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_allowed_sources')" popover-placement="right"></zem-internal-feature> Media Sources <zem-help-popover content="Media sources made available on this account." placement="top"></zem-help-popover></label>
            <div class="col-xs-10">
                <div class="row media-source-control-row">
                    <div class="col-xs-2"><span class="control-label">Available</span></div>
                    <div class="col-xs-2"><span class="control-label">Allowed</span></div>
                </div>
                <div class="row media-source-control-row">
                    <div class="col-xs-2">
                        <select ng-model="selectedMediaSources.available" multiple="" class="media-source-select">
                            <option ng-repeat="mediaSource in getAvailableMediaSources() | orderBy:mediaSourcesOrderByProp" value="{{mediaSource.value}}">{{mediaSource.name}} {{mediaSource.released ? '' : '(unreleased)'}}</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <select ng-model="selectedMediaSources.allowed" multiple="" class="media-source-select">
                            <option ng-repeat="mediaSource in getAllowedMediaSources() | orderBy:mediaSourcesOrderByProp" value="{{mediaSource.value}}">{{mediaSource.name}} {{mediaSource.released ? '' : '(unreleased)'}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label ng-repeat="error in errors.allowedSources" class="control-label error feedback-text" for="service-fee-select">{{ error }}</label>
                    </div>
                </div>
                <div class="row media-source-control-row">
                    <div class="col-xs-2">
                        <div class="btn-group btn-group-justified" role="group">
                            <a ng-click="addToAllowedMediaSources()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="btn-group btn-group-justified" role="group">
                            <a ng-click="removeFromAllowedMediaSources()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <button type="button" class="btn btn-primary" ng-click="saveSettings()">Save</button>
        <button type="button" class="btn btn-default" ng-click="getSettings(true)">Discard</button>
        <button type="button" class="btn btn-default pull-right" ng-class="{'disabled': !canArchive}" title="{{ (!canArchive && 'All of the account\'s campaigns have to be paused in order to archive the account.') || '' }}" ng-click="archiveAccount()">Archive account</button>
        <div class="loader" ng-show="requestInProgress"></div>
        <span ng-show="saved" class="success feedback-text">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error feedback-text">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success feedback-text">Your updates have been discarded.</span>
    </form>

    <div class="form-horizontal table-access-permissions" ng-if="hasPermission('zemauth.can_manage_agency') && hasPermission('zemauth.account_agency_access_permissions')">
        <div class="form-group">
            <label for="first-name-input" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_manage_agency') || isPermissionInternal('zemauth.account_agency_access_permissions')" popover-placement="bottom"></zem-internal-feature>
                Access Permissions
                <zem-help-popover content="Users who have access to the account you're currently on." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-8">
                <div ng-repeat="user in users" class="form-group existing-user-row">
                    <div ng-if="user.removed">
                        <label class="col-xs-6 control-label undo">The user was removed. <a ng-show="!user.requestInProgress" ng-click="undoRemove(user.id)">Undo?</a></label>
                        <div class="loader" ng-show="user.requestInProgress"></div>
                    </div>
                    <div ng-if="!user.removed">
                        <div class="col-xs-6 user-name-col">
                            <p class="control-label"><b>{{user.name}} </b>({{user.email}})</p>
                            <span ng-show="user.saved && !user.emailSent && !user.emailResent" class="success">This user can now access this account. Since this is an existing user, no activation email was sent.</span>
                            <span ng-show="user.saved && user.emailSent && !user.emailResent" class="success">An introductory email was sent to this user.</span>
                            <span ng-show="user.saved && user.emailResent" class="success">New activation email sent.</span>
                        </div>
                        <div class="col-xs-2">
                            <div class="loader" ng-show="user.requestInProgress"></div>

                            <div class="dropdown" dropdown ng-show="!user.requestInProgress" aria-haspopup="true">
                                <a href class="btn btn-default dropdown-toggle" dropdown-toggle>Edit&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-activation" role="menu">
                                    <li><a ng-show="!user.is_active" tabindex="-1" ng-click="userActionChange('resend', user.id)" href="#">Resend Activation Mail</a></li>
                                    <li><a tabindex="-1" ng-click="userActionChange('remove', user.id)" href="#">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="add-user-row" class="form-group">
                    <div class="col-xs-2">
                        <input id="first-name-input" type="text" ng-class="{'has-error': !!addUserErrors.errors.firstName}" class="form-control" placeholder="Name" ng-model="addUserData.firstName">
                    </div>
                    <div class="col-xs-2">
                        <input id="last-name-input" type="text" ng-class="{'has-error': !!addUserErrors.errors.lastName}" class="form-control" placeholder="Last name" ng-model="addUserData.lastName">
                    </div>
                    <div class="col-xs-4">
                        <input id="email-input" type="text" ng-class="{'has-error': !!addUserErrors.errors.email}" class="form-control" placeholder="Email" ng-model="addUserData.email">
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-default" ng-click="addUser()">Add new user</button>
                        <div class="loader" ng-show="addUserRequestInProgress"></div>
                    </div>
                    <br />
                    <div class="col-xs-12" ng-show="addUserErrors">
                        <label class="error">{{addUserErrors.message}}</label>
                        <label ng-show="addUserErrors.conflict" class="error"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <zem-conversion-pixels
        zem-account="account"
        zem-has-permission="hasPermission"
        zem-is-permission-internal="isPermissionInternal" />
</div>
