<div class="page page-account-campaigns">
    <div class="section" ng-class="{'chart-hidden': chartHidden}">
        <zem-chart zem-data="chartData" zem-metric1="chartMetric1" zem-metric2="chartMetric2" zem-metric-options="chartMetricOptions" zem-min-date="dateRange.startDate" zem-max-date="dateRange.endDate" zem-on-remove="selectedCampaignRemoved(id)" local-storage-prefix="localStoragePrefix"></zem-chart>
    </div>
    <div class="section table-ad-group-ads">
        <div class="button-bar">
            <div ng-if="hasPermission('zemauth.account_campaigns_add_campaign')" class="button-bar-item add-source-container">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.account_campaigns_add_campaign')" popover-placement="bottom"></zem-internal-feature>
                <button type="button"
                        class="btn btn-add"
                        ng-click="addCampaign()"
                        zem-tutorial-popover-condition-promise="showAddCampaignTutorial()"
                        zem-tutorial-popover="Click here to create a campaign"
                        zem-tutorial-popover-placement="top">
                    + Campaign
                </button>
                <div class="loader" ng-show="addCampaignRequestInProgress"></div>
            </div>
            <div class="button-bar-item export-container">
                <zem-export
                    start-date="dateRange.startDate"
                    end-date="dateRange.endDate"
                    base-url="'api/accounts/' + $state.params.id + '/campaigns/'"
                    options="exportOptions">
                </zem-export>
            </div>

            <zem-custom-table-cols class="pull-right" columns="columns" categories="columnCategories" localStoragePrefix="localStoragePrefix"></zem-custom-table-cols>

            <a id="chart-btn" ng-attr-title="{{ chartBtnTitle }}" class="btn btn-default pull-right" ng-click="toggleChart()"><img ng-src="{{ config.static_url }}/one/img/chart.svg"></a>

            <span ng-switch="isSyncInProgress">
                <span ng-switch-when="false">
                    <a ng-click="triggerSync()" id="resync-btn" class="btn btn-default pull-right" title="Sync reporting metrics"><img ng-src="{{ config.static_url }}/one/img/refresh.svg"></a>
                </span>
                <span ng-switch-when="true">
                    <a id="resync-loader" class="btn btn-default pull-right" popover="Synchronization of reporting data is currently in progress, and may take a few minutes. You can continue using the dashboard in the meantime." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left"><div class="loader"></div></a>
                </span>
            </span>

            <div ng-if="hasPermission('zemauth.exports_plus')" class="export-container button-bar-item pull-right">
              <zem-internal-feature ng-if="isPermissionInternal('zemauth.exports_plus')" popover-placement="bottom"></zem-internal-feature>
                <zem-export-plus
                    start-date="dateRange.startDate"
                    end-date="dateRange.endDate"
                    base-url="'api/accounts/' + $state.params.id + '/'"
                    options="exportPlusOptions"
                    columns="columns"
                    order="order">
                </zem-export-plus>
            </div>

            <div class="clearfix"></div>
        </div>

        <alert type="info" class="alert-sync" ng-show="!isSyncRecent">
        We are experiencing a delay synchronizing reporting metrics. <span ng-if="!!lastSyncDate">The last successful sync took place {{ lastSyncDate.fromNow() }}.</span> If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
        </alert>

        <zem-table zem-table-columns="columns" zem-table-rows="rows" zem-table-total-row="totalRow" zem-table-show-loader="getTableDataRequestInProgress" zem-table-order="order" zem-table-order-callback="orderTableData(order)" zem-table-data-status="dataStatus"></zem-table>

        <div class="table-footnotes">
            <div ng-switch="lastSyncDate">
                <span ng-switch-when="null">
                    * Reporting metrics haven't been synced yet.
                </span>
                <span ng-switch-default>
                    * Reporting metrics synced {{ lastSyncDate.fromNow() }}. The reporting data is an estimate, and the final amount will be reflected on your invoice.
                </span>
            </div>
            <div ng-show="isIncompletePostclickMetrics">
                * Postclick metrics are incomplete for the selected date range.
            </div>
            <div>* All times are in Eastern Standard Time (EST).</div>
        </div>
    </div>
</div>
