<div class="page page-account-credit page-section" ng-if="!account.archived">
	<h1>Credit</h1>
    <div class="section white-background" ng-show="!loadingInProgress">
        <h2>Overview</h2>
        <div class="description">Account credit is the basis of allocating any budget to any campaign. Valid credit items are used by campaign budget items in the order they are listed.</div>
        <div class="loader" ng-show="loadingInProgress"></div>
        <div class="named-data">
            <div class="name">Total Account Value</div>
            <div class="value">{{ creditTotals.total | decimalCurrency:"$":2 }}</div>
            <div class="clear"></div>
            <div class="name">Allocated To Budget Items</div>
            <div class="value">{{ creditTotals.allocated | decimalCurrency:"$":2  }}</div>
            <div class="clear"></div>
            <div class="name">Past Credit</div>
            <div class="value">{{ creditTotals.past | decimalCurrency:"$":2  }}</div>
            <div class="clear"></div>
            <div class="name exposed topborder">Available Account Credit</div>
            <div class="value exposed topborder">{{ creditTotals.available | decimalCurrency:"$":2  }}</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="section active-credits white-background" ng-show="!loadingInProgress">
        <h2>Active Credit Items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Created by</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Signed</th>
                    <th>License Fee</th>
                    <th>Flat Fee</th>
                    <th>Credit Amount</th>
                    <th>Allocated Budgets</th>
                    <th>Available Credit</th>
                    <th ng-if="account.agency">Agency Credit</th>
                    <th class="notes">Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in activeCredit" ng-class="{ 'row-updated': item.id == updatedId, 'row-canceled': item.isCanceled, 'row-updated-canceled': canceledIds[item.id], 'row-not-selected': !isSelected(item.startDate, item.endDate) }">
                    <td>{{ item.createdBy }}<br />{{ item.createdOn }}</td>
                    <td>{{ item.startDate }}</td>
                    <td>{{ item.endDate }}</td>
                    <td>{{ item.isSigned ? 'yes' : 'no' }}</td>
                    <td>{{ item.licenseFee  }}</td>
                    <td>{{ item.flatFee | decimalCurrency:"$":2 }}</td>
                    <td>{{ item.total | decimalCurrency:"$":2  }}</td>
                    <td>
                        {{ item.allocated | decimalCurrency:"$":2  }}<br>({{ item.numOfBudgets }} budget
                        <ng-pluralize count="item.numOfBudgets" when="{'0': 'items', '1': 'item', 'other': 'items'}"></ng-pluralize>)
                    </td>
                    <td>{{ item.available | decimalCurrency:"$":2  }}</td>
                    <td ng-if="account.agency">{{ item.isAgency ? 'yes' : 'no' }}</td>
                    <td class="notes"><zem-note-popover content="{{ item.comment }}" placement="top"></zem-note-popover></td>
                    <td class="action-buttons">
                        <a class="btn btn-blue btn-icon btn-small remove" ng-click="cancelCreditItem(item.id)" ng-if="item.isSigned"><span class="icon"></span><span class="text">Cancel</span></a>
                        <a class="btn btn-blue btn-icon btn-small edit" ng-click="editCreditItem(item.id)" ng-if="!item.isCanceled"><span class="icon"></span><span class="text">Edit</span></a>
                    </td>
                </tr>
                <tr ng-show="!activeCredit.length" class="message">
                    <td colspan="12">No active credit items.</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-blue btn-icon add" ng-click="addCreditItem()"><span class="icon"></span><span class="text">Add Credit Item</span></button>
    </div>
    <div class="section active-credits white-background" ng-show="!loadingInProgress">
        <h2>Past Credit Items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Created by</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Signed</th>
                    <th>License Fee</th>
                    <th>Flat Fee</th>
                    <th>Total Credit Amount</th>
                    <th>Allocated Budgets</th>
                    <th>Available Credit</th>
                    <th ng-if="account.agency">Agency Credit</th>
                    <th class="notes">Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pastCredit" ng-class="{ 'row-canceled': item.isCanceled, 'row-updated-canceled': canceledIds[item.id] }">
                    <td>{{ item.createdBy }}<br />{{ item.createdOn }}</td>
                    <td>{{ item.startDate }}</td>
                    <td>{{ item.endDate }}</td>
                    <td>{{ item.isSigned ? 'yes' : 'no' }}</td>
                    <td>{{ item.licenseFee }}</td>
                    <td>{{ item.flatFee | decimalCurrency:"$":2 }}</td>
                    <td>{{ item.total | decimalCurrency:"$":2  }}</td>
                    <td>
                        {{ item.allocated | decimalCurrency:"$":2  }}<br>({{ item.numOfBudgets }} budget
                        <ng-pluralize count="item.numOfBudgets" when="{'0': 'items', '1': 'item', 'other': 'items'}"></ng-pluralize>)
                    </td>
                    <td>{{ item.available | decimalCurrency:"$":2  }}</td>
                    <td ng-if="account.agency">{{ item.isAgency ? 'yes' : 'no' }}</td>
                    <td class="notes"><zem-note-popover content="{{ item.comment }}" placement="top"></zem-note-popover></td>
                    <td class="action-buttons">
                        <a class="btn btn-blue btn-icon btn-small edit" ng-click="editCreditItem(item.id)" ng-if="!item.isCanceled"><span class="icon"></span><span class="text">Edit</span></a>
                    </td>
                </tr>
                <tr ng-show="!pastCredit.length" class="message">
                    <td colspan="12">No past credit items.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
