<div class="page page-account-credit page-section" ng-if="!account.archived">
	<div class="section description">
		<p>Account credit is the basis of allocating any budget to any campaign.</p>
		<p>Valid credit items are used by campaign budget items in the order they are listed.</p>
	</div>
	
	<div class="section named-data">
		<div class="name">Total Account Value</div>
		<div class="value">$40,000</div>
		<div class="name bottomborder">Allocated To Budget Items</div>
		<div class="value bottomborder">$30,100</div>
		<div class="name">Available Account Credit</div>
		<div class="value">$9,900</div>
	</div>
	
	<div class="section active-credits">
		<div class="title">Active Credit Items</div>

		<table>
			<thead>
				<tr>
					<th>Created by</th>
					<th>Valid From</th>
					<th>Valid To</th>
					<th>Signed</th>
					<th>License Fee</th>
					<th>Total Credit Amount</th>
					<th>Allocated Budgets</th>
					<th>Available Credit</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Boštjan<br />9/9/2015</td>
					<td>10/1/2015</td>
					<td>12/31/2015</td>
					<td>yes</td>
					<td>0%</td>
					<td>$10,000</td>
					<td>$10,000 (3 budget items)</td>
					<td>$0</td>
					<td>
						<ul class="row-actions">
							<li>edit</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Boštjan<br />9/9/2015</td>
					<td>11/1/2015</td>
					<td>12/31/2015</td>
					<td>yes</td>
					<td>0%</td>
					<td>$15,000</td>
					<td>$0 (0 budget items)</td>
					<td>$15,000</td>
					<td>
						<ul class="row-actions">
							<li>edit</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Boštjan<br />9/9/2015</td>
					<td>1/1/2016</td>
					<td>31/1/2016</td>
					<td>no</td>
					<td>0%</td>
					<td>$15,000</td>
					<td>$0 (0 budget items)</td>
					<td>$15,000</td>
					<td>
						<ul class="row-actions">
							<li>edit</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-default" ng-click="addCreditItem()">Add Credit Item</button>
	</div>
	<div class="section active-credits">
		<div class="title">Depleted Credit Items</div>

		<table>
			<thead>
				<tr>
					<th>Created by</th>
					<th>Valid From</th>
					<th>Valid To</th>
					<th>Signed</th>
					<th>License Fee</th>
					<th>Total Credit Amount</th>
					<th>Allocated Budgets</th>
					<th>Available Credit</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Boštjan<br />9/9/2015</td>
					<td>11/1/2015</td>
					<td>12/31/2015</td>
					<td>yes</td>
					<td>0%</td>
					<td>$10,000</td>
					<td>$10,000 (3 budget items)</td>
					<td>$0</td>
					<td>
						<ul class="row-actions">
							<li>edit</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Boštjan<br />9/9/2015</td>
					<td>1/1/2016</td>
					<td>31/1/2016</td>
					<td>no</td>
					<td>0%</td>
					<td>$15,000</td>
					<td>$5,000 (1 budget item)</td>
					<td>$0</td>
					<td>
						<ul class="row-actions">
							<li>edit</li>
						</ul>
					</td>
				</tr>				
			</tbody>
		</table>
	</div>
</div>
