
<zem-account-settings entity-id="account.id" ng-if="hasPermission('zemauth.can_see_new_settings')" class="page page-account-account" />

<div class="page page-account-account" ng-if="!account.archived && !hasPermission('zemauth.can_see_new_settings')">
    <h1>Account settings</h1>
    <form ng-if="isAnySettingSettable()" id="form-account-agency" class="form-horizontal white-background">
        <h2>General settings</h2>
        <div ng-if="hasPermission('zemauth.can_modify_account_name')" class="form-group" ng-class="{'has-error': !!errors.name}">
            <label for="name-input" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_account_name')" popover-placement="bottom"></zem-internal-feature>
                Name
                <zem-help-popover content="Name of the account." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <input id="name-input" type="text" class="form-control" ng-model="settings.name">
            </div>

            <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div ng-if="hasPermission('zemauth.can_modify_account_manager')" class="form-group" ng-class="{'has-error': !!errors.defaultAccountManager}">
            <label for="account-manager-select" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_account_manager')" popover-placement="bottom"></zem-internal-feature>
                Account Manager
                <zem-help-popover content="Account manager responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="account-manager-select" class="form-control" ng-model="settings.defaultAccountManager">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="manager.id as manager in accountManagers | orderBy:getName | filter:$select.search">
                        <div ng-bind-html="manager.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.defaultAccountManager" class="control-label error" for="account-manager-select">{{ error }}</label>
        </div>

        <div ng-if="hasPermission('zemauth.can_set_account_sales_representative')" class="form-group" ng-class="{'has-error': !!errors.defaultSalesRepresentative}">
            <label for="sales-representative-select" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_account_sales_representative')" popover-placement="bottom"></zem-internal-feature>
                Sales Representative
                <zem-help-popover content="Sales representative responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="sales-representative-select" class="form-control" ng-model="settings.defaultSalesRepresentative">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="rep.id as rep in salesReps | orderBy:getName | filter:$select.search">
                        <div ng-bind-html="rep.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.defaultSalesRepresentative" class="control-label error" for="sales-representative-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.accountType}" ng-if="hasPermission('zemauth.can_modify_account_type')">
            <label for="sales-representative-select" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_account_type')" popover-placement="right"></zem-internal-feature>
                Account Type
                <zem-help-popover content="Type of account." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="account-type-select" class="form-control" ng-model="settings.accountType" search-enabled="false">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="type.id as type in accountTypes">
                        <div ng-bind-html="type.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.accountType" class="control-label error" for="account-type-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.agency}" ng-if="hasPermission('zemauth.can_set_agency_for_account')">
            <label for="agency-select" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_agency_for_account')" popover-placement="right"></zem-internal-feature>
                Agency
                <zem-help-popover content="Agency that this account is part of." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <div ui-select2="agencySelect2Config" id="agency-select" class="form-control" ng-model="settings.agency" ng-change="updateAgencyDefaults()"></div>
            </div>
            <label ng-repeat="error in errors.agency" class="control-label error" for="agency-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.allowedSources}" ng-if="hasPermission('zemauth.can_modify_allowed_sources')">
            <label for="media-sources-options-choices" class="col-xs-2 control-label"><zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_allowed_sources')" popover-placement="right"></zem-internal-feature> Media Sources <zem-help-popover content="Media sources made available on this account." placement="top"></zem-help-popover></label>
            <div class="col-xs-10">
                <div class="row media-source-control-row">
                    <div class="col-xs-2"><span class="control-label">Available</span></div>
                    <div class="col-xs-2"><span class="control-label">Allowed</span></div>
                </div>
                <div class="row media-source-control-row">
                    <div class="col-xs-2">
                        <select ng-model="selectedMediaSources.available" multiple="" class="media-source-select">
                            <option ng-repeat="mediaSource in getAvailableMediaSources() | orderBy:mediaSourcesOrderByProp" value="{{mediaSource.value}}">{{mediaSource.name}} {{mediaSource.released ? '' : '(unreleased)'}}</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <select ng-model="selectedMediaSources.allowed" multiple="" class="media-source-select">
                            <option ng-repeat="mediaSource in getAllowedMediaSources() | orderBy:mediaSourcesOrderByProp" value="{{mediaSource.value}}">{{mediaSource.name}} {{mediaSource.released ? '' : '(unreleased)'}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label ng-repeat="error in errors.allowedSources" class="control-label error feedback-text" for="service-fee-select">{{ error }}</label>
                    </div>
                </div>
                <div class="row media-source-control-row">
                    <div class="col-xs-2">
                        <div class="btn-group btn-group-justified" role="group">
                            <a ng-click="addToAllowedMediaSources()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="btn-group btn-group-justified" role="group">
                            <a ng-click="removeFromAllowedMediaSources()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <zem-facebook-page zem-has-permission="hasPermission"
                           zem-is-permission-internal="isPermissionInternal"
                           zem-config="config"
                           zem-account-id="settings.id"
                           zem-facebook-page-errors="errors.facebookPage"
                           zem-facebook-page-changed="facebookPageChangedInfo.changed"
                           zem-settings="settings">
        </zem-facebook-page>

        <button type="button" class="btn btn-add btn-icon check" ng-click="saveSettings()"><span class="icon"></span><span class="text">Save</span></button>
        <button type="button" class="btn btn-blue btn-outline" ng-click="getSettings(true)"><span class="text">Discard</span></button>
        <div class="settings-archive-container inline-block" ng-if="hasPermission('zemauth.archive_restore_entity')">
            <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
            <button type="button" class="btn btn-blue btn-outline" ng-class="{'disabled': !canArchive}" title="{{ (!canArchive && 'All of the account\'s campaigns have to be paused in order to archive the account.') || '' }}" ng-click="archiveAccount()"><span class="text">Archive account</span></button>
        </div>
        <div class="loader" ng-show="requestInProgress"></div>
        <span ng-show="saved" class="success feedback-text">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error feedback-text">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success feedback-text">Your updates have been discarded.</span>
    </form>

    <div class="form-horizontal table-access-permissions white-background" ng-if="hasPermission('zemauth.account_agency_access_permissions') && agencyManagers !== null && agencyManagers !== undefined && !hasPermission('zemauth.can_see_agency_managers_under_access_permissions')">
        <h2>Agency managers</h2>
        <div class="form-group">
            <label for="first-name-input" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.account_agency_access_permissions')" popover-placement="bottom"></zem-internal-feature>
                Agency Managers
                <zem-help-popover content="Users who are members of account's agency and have access to the account you're currently on." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-8">
                <div ng-if="agencyManagers.length === 0" class="form-group existing-user-row">
                    <div class="col-xs-8 user-name-col">
                        <p class="control-label">Not defined</p>
                    </div>
                </div>

                <div ng-repeat="user in agencyManagers" class="form-group existing-user-row">
                    <div class="col-xs-8 user-name-col">
                        <p class="control-label"><b>{{user.name}} </b>({{user.email}})</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal table-access-permissions white-background" ng-if="hasPermission('zemauth.account_agency_access_permissions')">
    	<zem-internal-feature ng-if="isPermissionInternal('zemauth.account_agency_access_permissions')" popover-placement="bottom"></zem-internal-feature>
        <h2>Users</h2>
        <div class="description">Users who have access to the account you're currently on.</div>
        <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name and Lastname</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in users">
                    <tr ng-if="user.removed">
                        <td colspan="4">
                            The user was removed. <a ng-show="!user.requestInProgress" ng-click="undoRemove(user.id)">Undo?</a>
                            <div class="loader" ng-show="user.requestInProgress"></div>
                        </td>
                    </tr>
                    <tr ng-if="!user.removed">
                        <td>
                            <strong>{{user.name}}</strong>
                            <span ng-show="user.saved && !user.emailSent && !user.emailResent" class="success">This user can now access this account. Since this is an existing user, no activation email was sent.</span>
                            <span ng-show="user.saved && user.emailSent && !user.emailResent" class="success">An introductory email was sent to this user.</span>
                            <span ng-show="user.saved && user.emailResent" class="success">New activation email sent.</span>
                        </td>
                        <td>{{user.email}}</td>
                        <td><span ng-if="user.is_agency_manager">Agency Manager</span><span ng-if="!user.is_agency_manager">Normal user</span></td>
                        <td class="action-buttons">
                            <div class="loader" ng-show="user.requestInProgress"></div>
                            <div ng-show="!user.requestInProgress">
                                <span ng-if="account.agency && !user.is_agency_manager && hasPermission('zemauth.can_promote_agency_managers')">
                                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_promote_agency_managers')" popover-placement="bottom"></zem-internal-feature>
                                    <a tabindex="-1" ng-click="promoteUser(user)" href="#" class="btn btn-blue btn-icon btn-small check"><span class="text">Promote to Agency Manager</span></a>
                                </span>
                                <span ng-if="account.agency && user.is_agency_manager && hasPermission('zemauth.can_promote_agency_managers')">
                                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_promote_agency_managers')" popover-placement="bottom"></zem-internal-feature>
                                    <a tabindex="-1" ng-click="downgradeUser(user)" href="#" class="btn btn-blue btn-icon btn-small check"><span class="text">Downgrade to Normal User</span></a>
                                </span>
                                <a ng-show="!user.is_active" tabindex="-1" ng-click="userActionChange('resend', user.id)" href="#" class="btn btn-blue btn-icon btn-small send"><span class="icon"></span><span class="text">Resend Activation Mail</span></a>
                                <a tabindex="-1" ng-click="userActionChange('remove', user.id)" href="#" class="btn btn-blue btn-icon btn-small remove"><span class="icon"></span><span class="text">Remove</span></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr id="add-user-row" class="add_new">
                        <td colspan="4">
                            <h3>Add new user</h3>
                            <div class="form-group">
                                <label for="first-name-input" class="col-xs-1 control-label">Name:</label>
                                <div class="col-xs-3">
                                    <input id="first-name-input" type="text" ng-class="{'has-error': !!addUserErrors.errors.firstName}" class="form-control" placeholder="Name" ng-model="addUserData.firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last-name-input" class="col-xs-1 control-label">Lastname:</label>
                                <div class="col-xs-3">
                                    <input id="last-name-input" type="text" ng-class="{'has-error': !!addUserErrors.errors.lastName}" class="form-control last" placeholder="Last name" ng-model="addUserData.lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email-input" class="col-xs-1 control-label">Email:</label>
                                <div class="col-xs-3">
                                    <input id="email-input" type="text" ng-class="{'has-error': !!addUserErrors.errors.email}" class="form-control" placeholder="Email" ng-model="addUserData.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label"></label>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-blue btn-icon add" ng-click="addUser()"><span class="icon"></span><span class="text">Add new user</span></button>
                                    <div class="loader" ng-show="addUserRequestInProgress"></div>
                                    <div ng-show="addUserErrors">
                                        <label class="error">{{addUserErrors.message}}</label>
                                        <label ng-show="addUserErrors.conflict" class="error"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="page page-account-account" ng-if="!!account.archived && !hasPermission('zemauth.can_see_new_settings')">
    <p>
        <strong>This account is archived.</strong>
    </p>

    <div class="settings-restore-container" ng-if="hasPermission('zemauth.archive_restore_entity')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
        <button ng-if="hasPermission('zemauth.archive_restore_entity')" type="button" class="btn btn-default" ng-click="restoreAccount()">Restore account</button>
    </div>
</div>
