<div class="page page-ad-group-ads-plus">
    <div class="section table-ad-group-ads-plus">
        <div class="button-bar">
            <div class="button-bar-item">
                <button
                    type="button"
                    class="btn btn-add"
                    ng-click="addContentAds()">
                    + Content Ads
                </button>
            </div>

            <zem-custom-table-cols class="pull-right" columns="columns"></zem-custom-table-cols>
        </div>

        <zem-table class="ads-plus-table" zem-table-columns="columns" zem-table-rows="rows" zem-table-total-row="totals" zem-table-show-loader="loadRequestInProgress" zem-table-order="order" zem-table-order-callback="orderTableData(order)" zem-table-notifications="notifications"></zem-table>

        <div class="pagination" ng-show="rows">
            <span>Go to page</span>
            <form ng-submit="loadPage()">
                <input class="page-num form-control" type="number" min="1" max="{{ pagination.numPages }}" ng-model="pagination.currentPage">
            </form>

            <span>Show rows</span>
            <select ui-select2="{minimumResultsForSearch: -1, dropdownCssClass: 'show-rows'}" class="show-rows" ng-model="size" ng-change="changePaginationSize()" data-placeholder="{{ size }}">
                <option value=""></option>
                <option ng-repeat="number in sizeRange" value="{{ number }}">{{ number }}</option>
            </select>

            <div ng-disabled="pagination.currentPage == 1" class="btn btn-default" ng-click="loadPage(1)"><img ng-src="{{ config.static_url }}/one/img/arrow-first.svg"></div>
            <div ng-disabled="pagination.currentPage == 1" class="btn btn-default" ng-click="loadPage(pagination.currentPage - 1)"><img ng-src="{{ config.static_url }}/one/img/arrow-prev.svg"></div>
            <span class="current-rows">{{ pagination.startIndex}} - {{ pagination.endIndex }} of {{ pagination.count }}</span>
            <div ng-disabled="pagination.currentPage == pagination.numPages" class="btn btn-default" ng-click="loadPage(pagination.currentPage + 1)"><img ng-src="{{ config.static_url }}/one/img/arrow-next.svg"></div>
            <div ng-disabled="pagination.currentPage == pagination.numPages" class="btn btn-default" ng-click="loadPage(pagination.numPages)"><img ng-src="{{ config.static_url }}/one/img/arrow-last.svg"></div>
        </div>
    </div>
</div>
