<div class="page page-ad-group-publishers">
    <div class="section">
        <div class="graph-infobox-parent">
            <div class="graph-infobox-row">
                <div class="graph-container">
                    <zem-chart zem-data="chartData" zem-metric1="chartMetric1" zem-metric2="chartMetric2" zem-metric-options="chartMetricOptions" zem-min-date="dateRange.startDate" zem-max-date="dateRange.endDate" zem-on-remove="selectedSourceRemoved(id)" local-storage-prefix="localStoragePrefix" zem-is-loading="chartIsLoading"></zem-chart>
                </div>
                <div class="spacing"></div>
                <div class="infobox-container">
                    <zem-infobox ng-if="hasPermission('zemauth.can_see_new_infobox')" class="zem-infobox"></zem-infobox>
                    <zem-legacy-infobox ng-if="!hasPermission('zemauth.can_see_new_infobox')" class="infobox-wrapper" header="infoboxHeader" basic-settings="infoboxBasicSettings" performance-settings="infoboxPerformanceSettings" link-to="infoboxLinkTo" state-id="$state.params.id"></zem-legacy-infobox>
                </div>
            </div>
        </div>
    </div>
    <div class="section zem-internal-feature-container white-background" ng-if="hasPermission('zemauth.can_access_table_breakdowns_feature_on_ad_group_level_publishers')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_access_table_breakdowns_feature_on_ad_group_level_publishers')"></zem-internal-feature>

        <zem-alerts level="grid.level" entity-id="grid.entityId"></zem-alerts>

        <div class="button-bar" ng-if="grid.api">
            <zem-grid-bulk-publishers-actions api="grid.api"></zem-grid-bulk-publishers-actions>
            <zem-report-dropdown tab="tab" api="grid.api" class="pull-right"></zem-report-dropdown>
            <zem-grid-column-selector api="grid.api" class="pull-right"></zem-grid-column-selector>
            <zem-grid-breakdown-selector api="grid.api" class="pull-right"></zem-grid-breakdown-selector>
        </div>

        <zem-grid-integration
                api="grid.api"
                options="grid.options"

                level="grid.level"
                breakdown="grid.breakdown"
                entity-id="grid.entityId"

                selection="selection"
                selection-callback="updateSelectedRowsData"

                zem-has-permission="hasPermission"
                zem-is-permission-internal="isPermissionInternal">
        </zem-grid-integration>
    </div>
</div>
