<div class="page page-ad-group-sources">
    <div class="section">
        <div class="graph-infobox-parent">
            <div class="graph-infobox-row">
                <div class="graph-container">
                    <zem-chart zem-data="chartData" zem-metric1="chartMetric1" zem-metric2="chartMetric2" zem-metric-options="chartMetricOptions" zem-min-date="dateRange.startDate" zem-max-date="dateRange.endDate" zem-on-remove="selectedSourceRemoved(id)" local-storage-prefix="localStoragePrefix" zem-is-loading="chartIsLoading"></zem-chart>
                </div>
                <div class="spacing"></div>
                <div class="infobox-container">
                    <zem-infobox ng-if="hasPermission('zemauth.can_see_new_infobox')" class="zem-infobox"></zem-infobox>
                    <zem-legacy-infobox ng-if="!hasPermission('zemauth.can_see_new_infobox')" class="infobox-wrapper" header="infoboxHeader" basic-settings="infoboxBasicSettings" performance-settings="infoboxPerformanceSettings" link-to="infoboxLinkTo" state-id="$state.params.id"></zem-legacy-infobox>
                </div>
            </div>
        </div>
    </div>

    <div class="section zem-internal-feature-container white-background" ng-if="hasPermission('zemauth.can_access_table_breakdowns_feature_on_ad_group_level')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_access_table_breakdowns_feature_on_ad_group_level')"></zem-internal-feature>

        <zem-alerts level="grid.level" entity-id="grid.entityId"></zem-alerts>

        <div class="button-bar" ng-if="grid.api">
            <div ng-if="hasPermission('zemauth.ad_group_sources_add_source')" class="button-bar-item add-source-container">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.ad_group_sources_add_source')" popover-placement="bottom"></zem-internal-feature>
                <zem-dropdown
                        zem-placeholder="Media Sources"
                        zem-no-matches-placeholder="All sources added"
                        zem-dropdown-options="sources"
                        zem-css-class="add-source button button--highlight button--with-icon add-icon button--dropdown-toggle-icon"
                        zem-on-select="addSource(selected)"
                        zem-dropdown-css-class="add-source-dropdown">
                </zem-dropdown>
            </div>
            <div ng-if="hasPermission('zemauth.bulk_actions_on_all_levels')" class="button-bar-item">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.bulk_actions_on_all_levels')" popover-placement="bottom"></zem-internal-feature>
                <zem-grid-bulk-actions api="grid.api"></zem-grid-bulk-actions>
            </div>
            <zem-grid-export api="grid.api" class="pull-right"></zem-grid-export>
            <zem-grid-column-selector api="grid.api" class="pull-right"></zem-grid-column-selector>
            <zem-grid-breakdown-selector api="grid.api" class="pull-right"></zem-grid-breakdown-selector>
        </div>
        <zem-grid-integration
                api="grid.api"
                level="grid.level"
                breakdown="grid.breakdown"
                entity-id="grid.entityId"
                options="grid.options"

                selection="selection"
                selection-callback="updateSelectedRowsData"
        >
        </zem-grid-integration>
    </div>
</div>
