<div class="page" ng-if="loadRequestInProgress">
    <div class=loader-main-area>
        <div class="loader-image"></div>
    </div>
</div>

<div class="page page-ad-group-settings" ng-if="hasPermission('dash.settings_view') && !(adGroup && adGroup.archived) && !loadRequestInProgress">
    <h1>Ad Group settings</h1>
    <div uib-alert ng-repeat="alert in alerts" class="alert-{{ alert.type }}" close="closeAlert($index)" ng-bind-html="alert.message"></div>
    <div uib-alert class="alert-warning" ng-show="actionIsWaiting">
        Settings changes are being propagated to external sources. The sync might take a few hours. If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
    </div>

    <form id="form-ad-group-settings">
        <div class="form-horizontal white-background">
            <h2>General settings</h2>
            <div class="form-group" ng-class="{'has-error': !!errors.state}" ng-if="!hasPermission('zemauth.can_control_ad_group_state_in_table')">
                <label for="campaign-state-switch" class="col-xs-2 control-label">
                    Ad Group Status
                    <zem-help-popover content="This is the current state of the Ad Group. If you enable the Ad Group you must then go enable preferred Media Sources too.
                                                                                          If you pause it, all Media Sources get paused." placement="bottom"></zem-help-popover>
                </label>
                <div id="campaign-state-switch" class="col-xs-4">
                    <div class="btn-group campaign-state-switch">
                        <label class="btn btn-success" ng-model="settings.state" ng-repeat="state in options.adGroupSettingsStates" btn-radio="state.value">{{ state.name }}</label>
                    </div>
                </div>

                <label ng-repeat="error in errors.state" class="control-label error" for="name-input">{{ error }}</label>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.name}">
                <label for="name-input" class="col-xs-2 control-label">
                    Name
                    <zem-help-popover content="The name of the ad group." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-3">
                    <input id="name-input" type="text" class="form-control" ng-model="settings.name">
                </div>

                <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.startDate}">
                <label for="start-date-input" class="col-xs-2 control-label">
                    Start date
                    <zem-help-popover content="The date when content promotion commenced." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-2">
                    <input id="start-date-input" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="settings.startDate" is-open="startDatePicker.isOpen" ng-click="openDatePicker('startDate')">
                </div>

                <label ng-repeat="error in errors.startDate" class="control-label error" for="start-date-input">{{ error }}</label>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.endDate}">
                <label for="end-date-input" class="col-xs-2 control-label">
                    End date
                    <zem-help-popover content="The date when content promotion paused." placement="top"></zem-help-popover>
                </label>

                <div class="col-xs-2">
                    <input ng-disabled="warnings.endDate !== undefined" id="end-date-input" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" datepicker-options="endDatePickerOptions" ng-model="settings.endDate" is-open="endDatePicker.isOpen" ng-click="openDatePicker('endDate')">
                </div>

                <div class="checkbox col-xs-2">
                    <label>
                        <input ng-disabled="warnings.endDate !== undefined" type="checkbox" id="manual-stop-cb" ng-model="settings.manualStop"> I'll stop it myself
                    </label>
                </div>

                <label ng-if="warnings.endDate === undefined" ng-repeat="error in errors.endDate" class="control-label error" for="end-date-input">{{ error }}</label>

                <div class="col-xs-6 alert alert-warning form-alert-box" ng-if="warnings.endDate !== undefined" >
                    <div class="form-alert-exclamation">
                        <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                    </div>
                    <div class="form-alert-body">{{ warnings.endDate.text }}<a ng-click="tabClick($event)" zem-in-link="main.campaigns.budget({id: {{ warnings.endDate.campaignId }} })">Add budget</a></div>
                </div>

            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.cpc}" ng-if="hasPermission('zemauth.can_set_ad_group_max_cpc')">
                <label for="cpc-input" class="col-xs-2 control-label">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_ad_group_max_cpc')" popover-placement="right"></zem-internal-feature>
                    Maximum CPC
                    <zem-help-popover content="Maximum allowed CPC in this ad group." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-2">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="cpc-input" type="text" class="form-control" ng-model="settings.cpc" zem-currency-input fraction-size="3" empty-text="No limit">
                    </div>
                </div>
                <label ng-repeat="error in errors.cpc" class="control-label error" for="cpc-input">{{ error }}</label>
            </div>
        </div>

        <div class="form-horizontal white-background">
            <h2>Device targeting<div class="sidenote different-than-default" ng-if="!isDefaultTargetDevices()">Different than campaign default</div></h2>
            <div class="description">The devices on which your content ads will be shown.</div>
            <div class="form-vertical">
                <div class="form-group m-b-none" ng-class="{'has-error': !!errors.targetDevices}">
                    <div class="col-xs-2 device-icon checkbox" ng-repeat='device in settings.targetDevices'>
                        <label class="icon-holder" for="{{ device.name }}">
                            <ng-switch on="device.name">
                                <img ng-switch-when="Desktop" class="desktop" ng-src="{{ config.static_url }}/one/images/device-desktop-gray.svg"/>
                                <img ng-switch-when="Tablet" class="tablet" ng-src="{{ config.static_url }}/one/images/device-tablet-gray.svg"/>
                                <img ng-switch-when="Mobile" class="mobile" ng-src="{{ config.static_url }}/one/images/device-mobile-gray.svg"/>
                            </ng-switch>
                        </label>
                        <label>
                            <input type="checkbox" id="{{ device.name }}" ng-model="device.checked"> {{ device.name }}
                        </label>
                    </div>

                    <div class="col-xs-12 sidenote">* Outbrain, Facebook and Instagram don't support Tablet option.</div>

                    <label ng-repeat="error in errors.targetDevices" class="control-label error">{{ error }}</label>
                </div>
            </div>
        </div>

        <div class="form-horizontal white-background">
            <h2>Locations<div class="sidenote different-than-default" ng-if="!isDefaultTargetRegions()">Different than campaign default</div></h2>
            <div class="description">The countries, states and DMA regions where your content ads will be shown.</div>
            <div class="form-group" ng-class="{'has-error': !!errors.targetRegions}">
                <div class="col-xs-6">
                    <zem-locations zem-selected-location-codes="settings.targetRegions" zem-has-permission="hasPermission"></zem-locations>
                </div>

                <label ng-repeat="error in errors.targetRegions" class="control-label error">{{ error }}</label>
            </div>
        </div>

        <div class="form-horizontal white-background">
            <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_target_custom_audiences')" popover-placement="right"></zem-internal-feature>
            <h2>Targeting</h2>
            <div class="form-group" ng-if="hasPermission('zemauth.can_view_retargeting_settings') && !hasPermission('zemauth.can_target_custom_audiences')" ng-class="{'has-error': !!errors.retargetingIds}">
                <label class="col-xs-12 control-label">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_view_retargeting_settings')" popover-placement="right"></zem-internal-feature>
                    Retargeting
                </label>
                <label class="col-xs-12 control-label m-b-s">
                    <span class="sidenote width-limit">Content ads will only be shown to people who have already seen an ad from selected ad groups.</span>
                </label>
                <div class="col-xs-12 m-b-s">
                    <input type="checkbox" id="enable-retargeting" ng-model="retargetingEnabled"> Enable retargeting
                </div>
                <div ng-if="retargetingEnabled && warnings.retargeting !== undefined" class="col-xs-6 alert alert-icon alert-warning m-b">
                    <div class="icon"></div>
                    {{ warnings.retargeting.text }} {{ warnings.retargeting.sourcesText }}.
                </div>

                <div ng-if="retargetingEnabled && warnings.retargeting === undefined" class="col-xs-12">
                    <zem-retargeting zem-selected-adgroup-ids="settings.retargetingAdGroups" zem-retargetable-adgroups="retargetableAdGroups" zem-account="account" class="ui-select-bigdrop"></zem-retargeting>
                </div>
            </div>
            <div class="form-group" ng-if="hasPermission('zemauth.can_target_custom_audiences')" ng-class="{'has-error': !!errors.audienceTargeting || !!errors.exclusionAudienceTargeting || !!errors.retargetingAdGroups || !!errors.exclusionRetargetingAdGroups}">
                <label class="col-xs-12 control-label">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_target_custom_audiences')" popover-placement="right"></zem-internal-feature>
                    Audience targeting
                </label>
                <label class="col-xs-12 control-label">
                    <span class="sidenote width-limit">Target people you have seen previously. Audience targeting can be based on pixels you placed or on clicks to other ad groups.</span>
                </label>
                <div class="col-xs-12 checkbox m-t-none">
                    <label>
                        <input type="checkbox" id="enable-audience-targeting" ng-model="retargetingEnabled"> Enable audience targeting
                    </label>
                </div>
                <div ng-if="retargetingEnabled && warnings.retargeting !== undefined" class="col-xs-6 alert alert-warning form-alert-box m-t">
                    <div class="form-alert-exclamation">
                        <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                    </div>
                    <div class="form-alert-body">
                        {{ warnings.retargeting.text }} {{ warnings.retargeting.sourcesText }}.
                    </div>
                </div>

                <div ng-if="retargetingEnabled && warnings.retargeting === undefined" class="col-xs-12 after-form-alert-box m-t">
                    <zem-custom-audiences-targeting available-ad-groups="retargetableAdGroups" available-audiences="audiences" current-ad-group-id="adGroupId" ad-group-targeting="settings.retargetingAdGroups" exclusion-ad-group-targeting="settings.exclusionRetargetingAdGroups" audience-targeting="settings.audienceTargeting" exclusion-audience-targeting="settings.exclusionAudienceTargeting" add-targeting="addTargeting(type, id)" remove-targeting="removeTargeting(type, id)"></zem-custom-audiences-targeting>
                </div>

                <label ng-repeat="error in errors.retargetingAdGroups" class="control-label error">{{ error }}</label>
                <label ng-repeat="error in errors.exclusionRetargetingAdGroups" class="control-label error">{{ error }}</label>
                <label ng-repeat="error in errors.audienceTargeting" class="control-label error">{{ error }}</label>
                <label ng-repeat="error in errors.exclusionAudienceTargeting" class="control-label error">{{ error }}</label>
            </div>

            <!-- additional targeting -->
            <div ng-if="hasPermission('zemauth.can_view_additional_targeting')">
                <div class="form-group">
                    <label class="col-xs-12 control-label">
                        Interest targeting
                    </label>
                    <label class="col-xs-2 control-label">
                        <span class="sidenote width-limit">Define your audience by including or excluding interests and demographics. This is a read-only section. Please contact your Zemanta Account Manager if you want to set up or change interest targeting.</span>
                    </label>
                    <div class="clear"></div>
                    <div class="m-t-s" ng-if="settings.interestTargeting.length || settings.exclusionInterestTargeting.length">
                        <div class="col-xs-3 m-t-xs" ng-if="settings.interestTargeting.length">
                            <div class="text-green">Included</div>
                            <ul class="with-icons ul-checkmarks m-b-none">
                                <li ng-repeat="category in settings.interestTargeting">{{constants.interestCategoryText[category]}}</li>
                            </ul>
                        </div>
                        <div class="col-xs-3 m-t-xs" ng-if="settings.exclusionInterestTargeting.length">
                            <div class="text-red">Excluded</div>
                            <ul class="with-icons ul-remove m-b-none">
                                <li ng-repeat="category in settings.exclusionInterestTargeting">{{constants.interestCategoryText[category]}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 control-label">
                        BlueKai & LiveRamp audience targeting
                    </label>
                    <label class="col-xs-2 control-label">
                        <span class="sidenote width-limit">This is a read-only section. Please contact your Zemanta Account Manager if you want to set up or change BlueKai and LiveRamp audience targeting.</span>
                    </label>
                    <div class="clear"></div>
                    <div class="col-xs-5 m-t-s" ng-if="settings.bluekaiTargeting.length">
                        <ul class="with-icons ul-checkmarks m-b-none p-l-none">
                           <li>Targeting set up.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 control-label">
                        Special notes
                    </label>
                    <label class="col-xs-2 control-label">
                        <span class="sidenote width-limit">Any additional targeting set on the backend will be described here. This is a read-only section. Please contact your Zemanta Account Manager if you want to set up or change it.</span>
                    </label>
                    <div class="clear"></div>
                    <div class="col-xs-5 m-t-s" ng-if="settings.notes">
                        <div class="textarea-with-border pre" readonly>{{settings.notes}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal white-background">
            <h2>Tracking</h2>
            <div class="form-group m-b-xs">
                <label class="col-xs-12 control-label">
                    3rd party pixel tracking
                </label>
                <label class="col-xs-2 control-label">
                    <span class="sidenote width-limit">3rd party pixels help you retarget people who clicked on Zemanta ads. This is a read-only section. Please contact your Zemanta Account Manager if you want to set up or change 3rd party pixel tracking.</span>
                </label>
            </div>
            <div class="form-group m-l-s" ng-if="settings.redirectPixelUrls.length || settings.redirectJavascript">
                <div ng-if="settings.redirectPixelUrls.length">
                    <label class="col-xs-12">Tags</label>
                    <div class="col-xs-12">
                        <ul>
                              <li ng-repeat="pixelUrl in settings.redirectPixelUrls">{{pixelUrl}}</li>
                        </ul>
                    </div>
                </div>
                <div ng-if="settings.redirectJavascript">
                    <label class="col-xs-12 m-b-xs">Javascript</label>
                    <div class="col-xs-5">
                        <div class="textarea-with-border pre scroll">{{settings.redirectJavascript}}</div>
                    </div>
                </div>
            </div>
            <!-- end additional targeting -->

            <div class="form-group m-b-none m-t" ng-class="{'has-error': !!errors.trackingCode}">
                <label for="tracking-input" class="col-xs-12 control-label">
                    Tracking codes
                </label>
                <label class="col-xs-12 control-label">
                    <div class="sidenote width-limit">The tracking code / UTM to be appended to all URLs being promoted.</div>
                </label>
            </div>
            <div class="form-group">
                <div class="col-xs-4">
                    <textarea id="tracking-input" type="text" class="form-control" rows="4" ng-model="settings.trackingCode"></textarea>
                </div>

                <label ng-repeat="error in errors.trackingCode" class="control-label error" for="tracking-input">{{ error }}</label>
            </div>
        </div>


        <div class="form-horizontal white-background" ng-if="hasPermission('zemauth.can_set_adgroup_to_auto_pilot')">
            <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_adgroup_to_auto_pilot')" popover-placement="right"></zem-internal-feature>
            <h2>Autopilot</h2>
            <div class="description">Bids and Daily Spend Caps Automation Settings.</div>
            <div class="col-xs-12 alert alert-warning form-alert-box m-b" ng-if="isInLanding()" >
                <div class="form-alert-exclamation">
                    <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                </div>
                <div class="form-alert-body">Autopilot is automatically enabled because the campaign is in landing mode. </div>
            </div>
            <div class="clear"></div>
            <div class="form-group" ng-class="{'has-error': !!errors.autopilotState}">
                <div class="radio" ng-repeat='autopilotState in options.adGroupSettingsAutopilotStates'>
                    <label>
                        <input type="radio" ng-model="settings.autopilotState" ng-value="autopilotState.value" ng-disabled="isInLanding()"> {{ autopilotState.name }} <zem-help-popover content="{{autopilotState.help}}" placement="right"></zem-help-popover>
                    </label>
                </div>

                <label ng-repeat="error in errors.autopilotState" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group daily-spend-caps clearfix" ng-if="showAutoPilotDailyBudgetInput()" ng-class="{'has-error': !!errors.autopilotBudget}">
                <label for="autopilot-budget" class="col-xs-2 control-label">
                    Ad Group's Daily Spend Cap
                    <zem-help-popover content="Amount of budget Autopilot can operate with on this Ad Group every day." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-2">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="autopilot-budget" type="text" class="form-control" ng-model="settings.autopilotBudget" fraction-size="0" zem-currency-input ng-disabled="isInLanding()">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label ng-repeat="error in errors.autopilotBudget" class="control-label error" for="autopilot-budget">{{ error }}</label>
                </div>
            </div>

            <div class="form-group daily-spend-caps" ng-if="showAutoPilotDailyBudgetInput()">
                <div class="col-xs-12">
                    Autopilot will optimize media sources' daily spend caps for <b>{{budgetAutopilotOptimizationGoalText()}}</b> and try to hit the ad group's daily spend cap.<br>To change optimization objective please change Primary Campaign Goal in Campaign Settings.<br/>
                    <i>{{budgetAutopilotOptimizationCPAGoalText()}}</i>
                </div>
            </div>
        </div>

        <div class="action-buttons">
            <button type="button" class="btn btn-add btn-icon check" ng-click="saveSettings()"><span class="icon"></span><span class="text">Save</span></button>
            <button type="button" class="btn btn-blue btn-outline" ng-click="discardSettings()"><span class="text">Discard</span></button>
            <span class="settings-restore-container" ng-if="hasPermission('zemauth.archive_restore_entity')">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
                <button type="button" class="btn btn-blue btn-outline" ng-class="{'disabled': !canArchive}" ng-click="archiveAdGroup()" title="{{ !canArchive ? 'An ad group has to be paused for 3 days in order to archive it.' : '' }}"><span class="text">Archive ad group</span></button>
            </span>
            <div class="loader" ng-show="saveRequestInProgress"></div>
            <span ng-show="saved" class="success">Your updates have been saved.</span>
            <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
            <span ng-show="discarded" class="success">Your updates have been discarded.</span>
        </div>
    </form>
</div>
<div class="page page-ad-group-settings" ng-if="adGroup && adGroup.archived">
    <p>
        <strong>This ad group is archived.</strong>
    </p>
    <p ng-if="!hasPermission('zemauth.archive_restore_entity')">
        Contact <a class="contact" href="mailto:help@zemanta.com?Subject=Archived%20Ad%20Group%20Issue">Zemanta client services</a> if you need assistance.
    </p>

    <div class="settings-restore-container" ng-if="hasPermission('zemauth.archive_restore_entity')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
        <button type="button" class="btn btn-default" ng-class="{'disabled': !canRestore}" ng-click="restoreAdGroup()" title="{{ (!canRestore && 'In order to restore this ad group it\'s campaign must be restored first.') || '' }}">Restore ad group</button>
    </div>

    <div class="loader" ng-show="saveRequestInProgress"></div>
</div>
