<div class="page" ng-if="loadRequestInProgress">
    <div class=loader-main-area>
    	<div class="loader-image"></div>
    </div>
</div>

<div class="page page-ad-group-settings" ng-if="hasPermission('dash.settings_view') && !(hasPermission('zemauth.view_archived_entities') && adGroup && adGroup.archived) && !loadRequestInProgress">
    <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)" ng-bind-html="alert.message"></alert>
    <alert type="info" ng-show="actionIsWaiting">
        Settings changes are being propagated to external sources. The sync might take a few hours. If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
    </alert>

    <form id="form-ad-group-settings" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.state}" ng-if="!hasPermission('zemauth.can_control_ad_group_state_in_table')">
            <label for="campaign-state-switch" class="col-xs-2 control-label">
                Ad Group Status
                <zem-help-popover content="This is the current state of the Ad Group. If you enable the Ad Group you must then go enable preferred Media Sources too.
                                                                                      If you pause it, all Media Sources get paused." placement="bottom"></zem-help-popover>
            </label>
            <div id="campaign-state-switch" class="col-xs-4">
                <div class="btn-group campaign-state-switch">
                    <label class="btn btn-success" ng-model="settings.state" ng-repeat="state in options.adGroupSettingsStates" btn-radio="state.value">{{ state.name }}</label>
                </div>
            </div>

            <label ng-repeat="error in errors.state" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.name}">
            <label for="name-input" class="col-xs-2 control-label">
                Name
                <zem-help-popover content="The name of the ad group." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <input id="name-input" type="text" class="form-control" ng-model="settings.name">
            </div>

            <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.startDate}">
            <label for="start-date-input" class="col-xs-2 control-label">
                Start date
                <zem-help-popover content="The date when content promotion commenced." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <input id="start-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" ng-model="settings.startDate" is-open="startDatePicker.isOpen" ng-click="openDatePicker('startDate')">
            </div>

            <label ng-repeat="error in errors.startDate" class="control-label error" for="start-date-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.endDate}">
            <label for="end-date-input" class="col-xs-2 control-label">
                End date
                <zem-help-popover content="The date when content promotion paused." placement="top"></zem-help-popover>
            </label>

            <div class="col-xs-2">
                <input ng-disabled="warnings.endDate !== undefined" id="end-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" min-date="minEndDate" ng-model="settings.endDate" is-open="endDatePicker.isOpen" ng-click="openDatePicker('endDate')">
            </div>

            <div class="checkbox col-xs-2">
                <label>
                    <input ng-disabled="warnings.endDate !== undefined" type="checkbox" id="manual-stop-cb" ng-model="settings.manualStop"> I'll stop it myself
                </label>
            </div>

            <label ng-if="warnings.endDate === undefined" ng-repeat="error in errors.endDate" class="control-label error" for="end-date-input">{{ error }}</label>

            <div class="col-xs-6 alert alert-info form-alert-box" ng-if="warnings.endDate !== undefined" >
                <div class="form-alert-exclamation">
                    <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                </div>
                <div class="form-alert-body">{{ warnings.endDate.text }}<a ng-click="tabClick($event)" zem-in-link="main.campaigns.budget({id: {{ warnings.endDate.campaignId }} })">Add budget</a></div>
            </div>

        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.cpc}" ng-if="hasPermission('zemauth.can_set_ad_group_max_cpc')">
            <label for="cpc-input" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_ad_group_max_cpc')" popover-placement="right"></zem-internal-feature>
                Maximum CPC
                <zem-help-popover content="Maximum allowed CPC in this ad group." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="cpc-input" type="text" class="form-control" ng-model="settings.cpc" zem-currency-input fraction-size="3" empty-text="No limit">
                </div>
            </div>
            <label ng-repeat="error in errors.cpc" class="control-label error" for="cpc-input">{{ error }}</label>
        </div>

        <div class="form-vertical">
            <div class="form-group" ng-class="{'has-error': !!errors.targetDevices}">
                <label class="col-xs-2 control-label">
                    Device targeting
                    <zem-help-popover content="The devices on which your content ads should be shown." placement="top"></zem-help-popover>
                    <span class="sidenote" ng-if="!isDefaultTargetDevices() && hasPermission('zemauth.settings_defaults_on_campaign_level')">* different than campaign default</span>
                </label>
                <div class="col"
                    zem-tutorial-popover-condition-promise="adGroupHasFreshSettings()"
                    zem-tutorial-popover="Set targeting and save"
                    zem-tutorial-popover-placement="right">
                    <div class="checkbox" ng-repeat='device in settings.targetDevices'>
                        <label>
                            <input type="checkbox" ng-model="device.checked"> {{ device.name }}
                        </label>
                    </div>
                </div>

                <label ng-repeat="error in errors.targetDevices" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.targetRegions}">
                <label class="col-xs-2 control-label">
                    Locations
                    <zem-help-popover content="The countries, states and DMA regions where your content ads should be shown." placement="top"></zem-help-popover>
                    <span class="sidenote" ng-if="!isDefaultTargetRegions() && hasPermission('zemauth.settings_defaults_on_campaign_level')">* different than campaign default</span>
                </label>

                <div class="col-xs-6 col-md-4">
                    <zem-locations zem-selected-location-codes="settings.targetRegions" zem-has-permission="hasPermission"></zem-locations>
                </div>

                <label ng-repeat="error in errors.targetRegions" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group" ng-if="hasPermission('zemauth.can_view_retargeting_settings')" ng-class="{'has-error': !!errors.retargetingIds}">
                <label class="col-xs-2 control-label">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_view_retargeting_settings')" popover-placement="right"></zem-internal-feature>
                    Retargeting
                    <zem-help-popover content="Content ads will only be shown to people who have already seen an ad from selected ad groups." placement="top"></zem-help-popover>
                </label>
                <div ng-if="warnings.retargeting !== undefined" class="col-xs-6 alert alert-info form-alert-box">
                    <div class="form-alert-exclamation">
                        <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                    </div>
                    <div class="form-alert-body">
                        {{ warnings.retargeting.text }}
                        <ul>
                            <li ng-repeat="source in warnings.retargeting.sources">{{ source }}</label>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4 after-form-alert-box">
                    <zem-retargeting ng-if="warnings.retargeting === undefined" zem-selected-adgroup-ids="settings.retargetingAdGroups" zem-retargetable-adgroups="retargetableAdGroups" zem-account="account" class="ui-select-bigdrop"></zem-retargeting>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.trackingCode}">
                <label for="tracking-input" class="col-xs-2 control-label">
                    Tracking codes
                    <zem-help-popover ng-if="!hasPermission('zemauth.can_toggle_ga_performance_tracking')" content="The tracking code / UTM to be appended to all URLs being promoted. Please contact your account manager for setting this field." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-4">
                    <textarea id="tracking-input" type="text" ng-readonly="!hasPermission('zemauth.can_toggle_ga_performance_tracking')" class="form-control" rows="4" ng-model="settings.trackingCode"></textarea>
                </div>

                <label ng-repeat="error in errors.trackingCode" class="control-label error" for="tracking-input">{{ error }}</label>

                <div class="checkbox col-xs-10" ng-if="hasPermission('zemauth.can_toggle_ga_performance_tracking')">
                    <label>
                        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_toggle_ga_performance_tracking')" popover-placement="right"></zem-internal-feature>
                        <input type="checkbox" id="enable-ga-tracking" ng-model="settings.enableGaTracking"> Enable Google Analytics performance tracking
                        <zem-help-popover content="This adds performance tracking codes (_z1_msid, _z1_adgid, _z1_caid) to all URLs." placement="top"></zem-help-popover>
                        <br />
                        <a href="{{ config.static_url }}/one/assets/SettingUpAutomatedGoogleAnalyticsReports.pdf" target="_self">Download a guide to setting up Automated Google Analytics Report</a>
                    </label>
                </div>

                <div class="checkbox col-xs-10" ng-if="hasPermission('zemauth.can_toggle_adobe_performance_tracking')">
                    <label>
                        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_toggle_adobe_performance_tracking')" popover-placement="right"></zem-internal-feature>
                        <input type="checkbox" id="enable-adobe-tracking" ng-model="settings.enableAdobeTracking"> Enable Adobe Analytics performance tracking
                        <zem-help-popover content="This adds performance tracking codes to all URLs." placement="top"></zem-help-popover>
                        <br />
                        <a href="{{ config.static_url }}/one/assets/Adobe_Analytics_Tutorial_Zemanta_v.2.pdf" target="_self">Download a guide to setting up Automated Adobe Analytics Report</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group indented" ng-class="{'has-error': !!errors.adobeTrackingParam}" ng-if="hasPermission('zemauth.can_toggle_adobe_performance_tracking') && settings.enableAdobeTracking">
            <label for="adobe-tracking-param-input" class="col-xs-3 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_toggle_adobe_performance_tracking')" popover-placement="right"></zem-internal-feature>
                Adobe tracking parameter
                <zem-help-popover content="Name of the tracking parameter used for Adobe Analytics." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <input id="adobe-tracking-param-input" type="text" class="form-control" ng-model="settings.adobeTrackingParam">
            </div>

            <label ng-repeat="error in errors.adobeTrackingParam" class="control-label error" for="adobe-tracking-param-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-if="hasPermission('zemauth.can_set_adgroup_to_auto_pilot')">
            <label class="col-xs-12 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_adgroup_to_auto_pilot')" popover-placement="right"></zem-internal-feature>
                Auto-Pilot
                <zem-help-popover content="Bid CPC and Daily Budget Allocation Automation Settings." placement="top"></zem-help-popover>
            </label>

            <div class="form-group indented" ng-class="{'has-error': !!errors.autopilotState}">
                <label class="col-xs-2 control-label">
                    Auto-Pilot's Status
                    <zem-help-popover content="State of the Auto-Pilot on this Ad Group" placement="top"></zem-help-popover>
                </label>
                <div class="col">
                    <div class="radio" ng-repeat='autopilotState in options.adGroupSettingsAutopilotStates'>
                        <label>
                            <input type="radio" ng-model="settings.autopilotState" ng-value="autopilotState.value"> {{ autopilotState.name }} <zem-help-popover content="{{autopilotState.help}}" placement="right"></zem-help-popover>
                        </label>
                    </div>
                </div>

                <label ng-repeat="error in errors.autopilotState" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group indented" ng-if="showAutoPilotDailyBudgetInput()" ng-class="{'has-error': !!errors.autopilotBudget}">
                <label for="autopilot-budget" class="col-xs-2 control-label">
                    Daily Budget
                    <zem-help-popover content="Amount of budget Auto-Pilot can operate with on this Ad Group every day." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-2">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="autopilot-budget" type="text" class="form-control" ng-model="settings.autopilotBudget" fraction-size="0" zem-currency-input>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label ng-repeat="error in errors.autopilotBudget" class="control-label error" for="autopilot-budget">{{ error }}</label>
                </div>
            </div>

            <div class="form-group indented" ng-if="showAutoPilotDailyBudgetInput()">
                <div class="col-xs-10">
                    Auto-Pilot will optimize media sources' daily budgets for <b>{{budgetAutopilotOptimizationGoalText()}}</b>.<br/>
                    To change optimization objective please change Primary Campaign Goal in Campaign Settings.<br/>
                    Minimum Total Daily Budget to run Daily Budget Automation Auto-Pilot on this Ad Group is <b>${{settings.autopilotMinBudget}}</b>.<br/>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" ng-click="saveSettings()">Save</button>
        <button type="button" class="btn btn-default" ng-click="discardSettings()">Discard</button>
        <div class="loader" ng-show="saveRequestInProgress"></div>
        <span ng-show="saved" class="success">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success">Your updates have been discarded.</span>
	</form>
</div>
<div class="page page-ad-group-settings" ng-if="hasPermission('zemauth.view_archived_entities') && adGroup && adGroup.archived">
    <p>
        <strong>This ad group is archived.</strong>

    </p>
    <p>
        Contact <a class="contact" href="mailto:help@zemanta.com?Subject=Archived%20Ad%20Group%20Issue">Zemanta client services</a> if you need assistance.
    </p>
</div>
