<div class="page" ng-if="loadRequestInProgress">
    <div class=loader-main-area>
        <div class="loader-image"></div>
    </div>
</div>

<div class="page page-ad-group-settings" ng-if="hasPermission('dash.settings_view') && !(adGroup && adGroup.archived) && !loadRequestInProgress">
    <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)" ng-bind-html="alert.message"></alert>
    <alert type="info" ng-show="actionIsWaiting">
        Settings changes are being propagated to external sources. The sync might take a few hours. If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
    </alert>

    <form id="form-ad-group-settings" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.state}" ng-if="!hasPermission('zemauth.can_control_ad_group_state_in_table')">
            <label for="campaign-state-switch" class="col-xs-2 control-label">
                Ad Group Status
                <zem-help-popover content="This is the current state of the Ad Group. If you enable the Ad Group you must then go enable preferred Media Sources too.
                                                                                      If you pause it, all Media Sources get paused." placement="bottom"></zem-help-popover>
            </label>
            <div id="campaign-state-switch" class="col-xs-4">
                <div class="btn-group campaign-state-switch">
                    <label class="btn btn-success" ng-model="settings.state" ng-repeat="state in options.adGroupSettingsStates" btn-radio="state.value">{{ state.name }}</label>
                </div>
            </div>

            <label ng-repeat="error in errors.state" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.name}">
            <label for="name-input" class="col-xs-2 control-label">
                Name
                <zem-help-popover content="The name of the ad group." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <input id="name-input" type="text" class="form-control" ng-model="settings.name">
            </div>

            <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.startDate}">
            <label for="start-date-input" class="col-xs-2 control-label">
                Start date
                <zem-help-popover content="The date when content promotion commenced." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <input id="start-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" ng-model="settings.startDate" is-open="startDatePicker.isOpen" ng-click="openDatePicker('startDate')">
            </div>

            <label ng-repeat="error in errors.startDate" class="control-label error" for="start-date-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.endDate}">
            <label for="end-date-input" class="col-xs-2 control-label">
                End date
                <zem-help-popover content="The date when content promotion paused." placement="top"></zem-help-popover>
            </label>

            <div class="col-xs-2">
                <input ng-disabled="warnings.endDate !== undefined" id="end-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" min-date="minEndDate" ng-model="settings.endDate" is-open="endDatePicker.isOpen" ng-click="openDatePicker('endDate')">
            </div>

            <div class="checkbox col-xs-2">
                <label>
                    <input ng-disabled="warnings.endDate !== undefined" type="checkbox" id="manual-stop-cb" ng-model="settings.manualStop"> I'll stop it myself
                </label>
            </div>

            <label ng-if="warnings.endDate === undefined" ng-repeat="error in errors.endDate" class="control-label error" for="end-date-input">{{ error }}</label>

            <div class="col-xs-6 alert alert-info form-alert-box" ng-if="warnings.endDate !== undefined" >
                <div class="form-alert-exclamation">
                    <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                </div>
                <div class="form-alert-body">{{ warnings.endDate.text }}<a ng-click="tabClick($event)" zem-in-link="main.campaigns.budget({id: {{ warnings.endDate.campaignId }} })">Add budget</a></div>
            </div>

        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.cpc}" ng-if="hasPermission('zemauth.can_set_ad_group_max_cpc')">
            <label for="cpc-input" class="col-xs-2 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_ad_group_max_cpc')" popover-placement="right"></zem-internal-feature>
                Maximum CPC
                <zem-help-popover content="Maximum allowed CPC in this ad group." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="cpc-input" type="text" class="form-control" ng-model="settings.cpc" zem-currency-input fraction-size="3" empty-text="No limit">
                </div>
            </div>
            <label ng-repeat="error in errors.cpc" class="control-label error" for="cpc-input">{{ error }}</label>
        </div>

        <div class="form-vertical">
            <div class="form-group" ng-class="{'has-error': !!errors.targetDevices}">
                <label class="col-xs-2 control-label">
                    Device targeting
                    <zem-help-popover content="The devices on which your content ads should be shown." placement="top"></zem-help-popover>
                    <span class="sidenote" ng-if="!isDefaultTargetDevices()">* different than campaign default</span>
                </label>
                <div class="col">
                    <div class="checkbox" ng-repeat='device in settings.targetDevices'>
                        <label>
                            <input type="checkbox" ng-model="device.checked"> {{ device.name }}
                        </label>
                    </div>
                </div>
                <label class="col-xs-2 control-label">
                    <span class="sidenote">* Outbrain, Facebook and Instagram don't support Tablet option.</span>
                </label>
                <label ng-repeat="error in errors.targetDevices" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.targetRegions}">
                <label class="col-xs-2 control-label">
                    Locations
                    <zem-help-popover content="The countries, states and DMA regions where your content ads should be shown." placement="top"></zem-help-popover>
                    <span class="sidenote" ng-if="!isDefaultTargetRegions()">* different than campaign default</span>
                </label>

                <div class="col-xs-6 col-md-4">
                    <zem-locations zem-selected-location-codes="settings.targetRegions" zem-has-permission="hasPermission"></zem-locations>
                </div>

                <label ng-repeat="error in errors.targetRegions" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group" ng-if="hasPermission('zemauth.can_view_retargeting_settings')" ng-class="{'has-error': !!errors.retargetingIds}">
                <label class="col-xs-2 control-label">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_view_retargeting_settings')" popover-placement="right"></zem-internal-feature>
                    Retargeting
                    <zem-help-popover content="Content ads will only be shown to people who have already seen an ad from selected ad groups." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-6 col-md-4">
                    <input type="checkbox" id="enable-retargeting" ng-model="retargetingEnabled"> Enable retargeting
                </div>
                <div ng-if="retargetingEnabled && warnings.retargeting !== undefined" class="col-xs-6 alert alert-info form-alert-box">
                    <div class="form-alert-exclamation">
                        <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                    </div>
                    <div class="form-alert-body">
                        {{ warnings.retargeting.text }} {{ warnings.retargeting.sourcesText }}.
                    </div>
                </div>

                <div ng-if="retargetingEnabled && warnings.retargeting === undefined" class="col-xs-6 col-md-4 after-form-alert-box">
                    <zem-retargeting zem-selected-adgroup-ids="settings.retargetingAdGroups" zem-retargetable-adgroups="retargetableAdGroups" zem-account="account" class="ui-select-bigdrop"></zem-retargeting>
                </div>
            </div>

            <!-- additional targeting -->
            <div ng-if="hasPermission('zemauth.can_view_additional_targeting')">
                <div class="form-group m-b-s" ng-if="settings.interestTargeting.length || settings.exclusionInterestTargeting.length || settings.notes">
                    <label class="col-xs-12 control-label">Additional targeting</label>
                </div>
                <div class="form-group m-l-s" ng-if="settings.interestTargeting.length || settings.exclusionInterestTargeting.length">
                    <label class="col-xs-12">Interest targeting</label>
                    <div class="col-xs-2" ng-if="settings.interestTargeting.length">
                        <div class="text-success">Included</div>
                        <ul class="with-icons ul-checkmarks">
                            <li ng-repeat="category in settings.interestTargeting" class="capitalized">{{category}}</li>
                        </ul>
                        </div>
                    <div class="col-xs-2" ng-if="settings.exclusionInterestTargeting.length">
                        <div class="text-danger">Excluded</div>
                        <ul class="with-icons ul-remove">
                            <li ng-repeat="category in settings.exclusionInterestTargeting" class="capitalized">{{category}}</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group m-l-s" ng-if="settings.notes">
                    <label class="col-xs-12">Notes</label>
                    <div class="col-xs-5">
                        <div class="textarea-with-border pre" readonly>{{settings.notes}}</div>
                    </div>
                </div>
                <div class="form-group m-b-xs" ng-if="settings.redirectPixelUrls.length || settings.redirectJavascript">
                    <label class="col-xs-12 control-label">Pixel retargeting</label>
                </div>
                <div class="form-group m-l-s" ng-if="settings.redirectPixelUrls.length || settings.redirectJavascript">
                    <div ng-if="settings.redirectPixelUrls.length">
                        <label class="col-xs-12">Tags</label>
                        <div class="col-xs-12">
                            <ul>
                                  <li ng-repeat="pixelUrl in settings.redirectPixelUrls">{{pixelUrl}}</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="settings.redirectJavascript">
                        <label class="col-xs-12 m-b-xs">Javascript</label>
                        <div class="col-xs-5">
                            <div class="textarea-with-border pre">{{settings.redirectJavascript}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end additional targeting -->

            <div class="form-group" ng-class="{'has-error': !!errors.trackingCode}">
                <label for="tracking-input" class="col-xs-2 control-label">
                    Tracking codes
                    <zem-help-popover content="The tracking code / UTM to be appended to all URLs being promoted." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-4">
                    <textarea id="tracking-input" type="text" class="form-control" rows="4" ng-model="settings.trackingCode"></textarea>
                </div>

                <label ng-repeat="error in errors.trackingCode" class="control-label error" for="tracking-input">{{ error }}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox col-xs-10">
                <label>
                    <input type="checkbox" id="enable-ga-tracking" ng-model="settings.enableGaTracking"> Enable Google Analytics performance tracking
                    <zem-help-popover content="This adds performance tracking codes (_z1_msid, _z1_adgid, _z1_caid) to all URLs." placement="top"></zem-help-popover>
                </label>
            </div>
        </div>

        <div class="form-group indented" ng-if="hasPermission('zemauth.can_set_ga_api_tracking') && settings.enableGaTracking">
            <label for="ga-tracking-type-select" class="col-xs-3 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_ga_api_tracking')" popover-placement="right"></zem-internal-feature>
                Reporting type
                <zem-help-popover content="Google Analytics reporting type." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <ui-select
                        id="ga-tracking-type-select"
                        theme="select2"
                        search-enabled="false"
                        ng-model="settings.gaTrackingType">
                    <ui-select-match>
                        <div ng-bind="getGaTrackingTypeByValue(settings.gaTrackingType).name"></div>
                    </ui-select-match>
                    <ui-select-choices repeat="type.value as type in options.gaTrackingType">
                        <div>{{type.name}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="checkbox col-xs-12">
                <a ng-if="settings.gaTrackingType === constants.gaTrackingType.EMAIL"
                   href="http://help.zemanta.com/article/show/12522-setting-up-automated-google-analytics-reports"
                   target="_blank">
                   Download a guide to setting up Automated Google Analytics Report via email
                </a>
                <a ng-if="settings.gaTrackingType === constants.gaTrackingType.API"
                   href="http://help.zemanta.com/article/show/10814-realtime-google-analytics-reports_1"
                   target="_blank">
                   Download a guide to setting up Automated Google Analytics Report via API
                </a>
            </div>
        </div>

        <div class="form-group indented" ng-class="{'has-error': !!errors.gaPropertyId}" ng-if="hasPermission('zemauth.can_set_ga_api_tracking') && settings.gaTrackingType === constants.gaTrackingType.API && settings.enableGaTracking">
            <label for="ga-property-id-input" class="col-xs-3 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_ga_api_tracking')" popover-placement="right"></zem-internal-feature>
                Web property ID
                <zem-help-popover content="Google Analytics web property ID." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <input id="ga-property-id-input" type="text" class="form-control" ng-model="settings.gaPropertyId" placeholder="UA-xxxxxxx-yy">
            </div>

            <label ng-repeat="error in errors.gaPropertyId" class="control-label error" for="ga-property-id-input">{{ error }}</label>
        </div>

        <div class="form-group">
            <div class="checkbox col-xs-10">
                <label>
                    <input type="checkbox" id="enable-adobe-tracking" ng-model="settings.enableAdobeTracking"> Enable Adobe Analytics performance tracking
                    <zem-help-popover content="This adds performance tracking codes to all URLs." placement="top"></zem-help-popover>
                    <br />
                    <a href="http://help.zemanta.com/article/show/12524-setting-up-automated-adobe-analytics-reports" target="_blank">Download a guide to setting up Automated Adobe Analytics Report</a>
                </label>
            </div>
        </div>

        <div class="form-group indented" ng-class="{'has-error': !!errors.adobeTrackingParam}" ng-if="settings.enableAdobeTracking">
            <label for="adobe-tracking-param-input" class="col-xs-3 control-label">
                Adobe tracking parameter
                <zem-help-popover content="Name of the tracking parameter used for Adobe Analytics." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <input id="adobe-tracking-param-input" type="text" class="form-control" ng-model="settings.adobeTrackingParam">
            </div>

            <label ng-repeat="error in errors.adobeTrackingParam" class="control-label error" for="adobe-tracking-param-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-if="hasPermission('zemauth.can_set_adgroup_to_auto_pilot')">
            <label class="col-xs-12 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_adgroup_to_auto_pilot')" popover-placement="right"></zem-internal-feature>
                Autopilot
                <zem-help-popover content="Bids and Daily Budget Allocation Automation Settings." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-12 alert alert-info form-alert-box" ng-if="isInLanding()" >
                <div class="form-alert-exclamation">
                    <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
                </div>
                <div class="form-alert-body">Autopilot is automatically enabled because the campaign is in landing mode. </div>
            </div>
            <div class="col-xs-12 form-group indented" ng-class="{'has-error': !!errors.autopilotState}">
                <div class="col">
                    <div class="radio" ng-repeat='autopilotState in options.adGroupSettingsAutopilotStates'>
                        <label>
                            <input type="radio" ng-model="settings.autopilotState" ng-value="autopilotState.value" ng-disabled="isInLanding()"> {{ autopilotState.name }} <zem-help-popover content="{{autopilotState.help}}" placement="right"></zem-help-popover>
                        </label>
                    </div>
                </div>

                <label ng-repeat="error in errors.autopilotState" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group indented" ng-if="showAutoPilotDailyBudgetInput()" ng-class="{'has-error': !!errors.autopilotBudget}">
                <label for="autopilot-budget" class="col-xs-2 control-label">
                    Daily Budget
                    <zem-help-popover content="Amount of budget Autopilot can operate with on this Ad Group every day." placement="top"></zem-help-popover>
                </label>
                <div class="col-xs-2">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="autopilot-budget" type="text" class="form-control" ng-model="settings.autopilotBudget" fraction-size="0" zem-currency-input ng-disabled="isInLanding()">
                    </div>
                </div>
                <div class="col-xs-4">
                    <label ng-repeat="error in errors.autopilotBudget" class="control-label error" for="autopilot-budget">{{ error }}</label>
                </div>
            </div>

            <div class="form-group indented" ng-if="showAutoPilotDailyBudgetInput()">
                <div class="col-xs-10">
                    Autopilot will optimize media sources' daily budgets for <b>{{budgetAutopilotOptimizationGoalText()}}</b>
                    <zem-help-popover content="To change optimization objective please change Primary Campaign Goal in Campaign Settings." placement="top"></zem-help-popover><br/>
                    <i>{{budgetAutopilotOptimizationCPAGoalText()}}</i>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" ng-click="saveSettings()">Save</button>
        <button type="button" class="btn btn-default" ng-click="discardSettings()">Discard</button>
        <div class="settings-restore-container pull-right" ng-if="hasPermission('zemauth.archive_restore_entity')">
            <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
            <button type="button" class="btn btn-default" ng-class="{'disabled': !canArchive}" ng-click="archiveAdGroup()" title="{{ (!canArchive && 'An ad group has to be paused in order to archive it.') || ''}}">Archive ad group</button>
        </div>
        <div class="loader" ng-show="saveRequestInProgress"></div>
        <span ng-show="saved" class="success">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success">Your updates have been discarded.</span>

    </form>
</div>
<div class="page page-ad-group-settings" ng-if="adGroup && adGroup.archived">
    <p>
        <strong>This ad group is archived.</strong>
    </p>
    <p ng-if="!hasPermission('zemauth.archive_restore_entity')">
        Contact <a class="contact" href="mailto:help@zemanta.com?Subject=Archived%20Ad%20Group%20Issue">Zemanta client services</a> if you need assistance.
    </p>

    <div class="settings-restore-container" ng-if="hasPermission('zemauth.archive_restore_entity')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
        <button type="button" class="btn btn-default" ng-class="{'disabled': !canRestore}" ng-click="restoreAdGroup()" title="{{ (!canRestore && 'In order to restore this ad group it\'s campaign must be restored first.') || '' }}">Restore ad group</button>
    </div>

    <div class="loader" ng-show="saveRequestInProgress"></div>
</div>
