<div class="page page-ad-group-ads-plus">
    <div class="section">
        <div class="graph-infobox-parent">
            <div class="graph-infobox-row">
                <div class="graph-container">
                    <zem-chart-legacy ng-if="!hasPermission('zemauth.can_see_new_chart')" zem-data="chartData" zem-metrics="_chartMetrics" zem-metric-options="chartMetricOptions" zem-min-date="dateRange.startDate" zem-max-date="dateRange.endDate" zem-on-remove="selectedSourceRemoved(id)" local-storage-prefix="localStoragePrefix" zem-is-loading="chartIsLoading"></zem-chart-legacy>
                    <zem-chart ng-if="hasPermission('zemauth.can_see_new_chart')"
                            level="config.level"
                            breakdown="config.breakdown"
                            entity-id="config.entityId"
                    ></zem-chart>
                </div>
                <div class="spacing"></div>
                <div class="infobox-container">
                    <zem-infobox ng-if="hasPermission('zemauth.can_see_new_infobox')" class="zem-infobox"></zem-infobox>
                    <zem-legacy-infobox ng-if="!hasPermission('zemauth.can_see_new_infobox')" class="infobox-wrapper" header="infoboxHeader" basic-settings="infoboxBasicSettings" performance-settings="infoboxPerformanceSettings" link-to="infoboxLinkTo" state-id="$state.params.id"></zem-legacy-infobox>
                </div>
            </div>
        </div>
    </div>
    <div class="section zem-internal-feature-container white-background" ng-if="hasPermission('zemauth.can_access_table_breakdowns_feature_on_ad_group_level')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_access_table_breakdowns_feature_on_ad_group_level')"></zem-internal-feature>

        <zem-alerts level="config.level" entity-id="config.entityId"></zem-alerts>

        <div class="button-bar" ng-if="grid.api">
            <div class="button-bar-item">
                <button
                        type="button"
                        class="button button--highlight button--with-icon add-icon"
                        zem-upload-trigger
                        zem-upload-ad-group="adGroup"
                        zem-upload-on-save="refreshGridAndTable"
                >Content Ads</button>
            </div>
            <zem-grid-bulk-actions api="grid.api"></zem-grid-bulk-actions>
            <zem-grid-export api="grid.api" class="pull-right"></zem-grid-export>
            <zem-grid-column-selector api="grid.api" class="pull-right"></zem-grid-column-selector>
            <zem-grid-breakdown-selector api="grid.api" class="pull-right"></zem-grid-breakdown-selector>
        </div>
        <zem-grid-integration
                api="grid.api"
                options="grid.options"

                level="config.level"
                breakdown="config.breakdown"
                entity-id="config.entityId"
        >
        </zem-grid-integration>

    </div>
</div>
