<div class="modal-body">
    <form id="add-scheduled-report-form" ng-submit="addScheduledReport()" class="modal-form add-scheduled-report-form form-horizontal">
        <div class="title">Schedule Report</div>

        <div class="form-group" ng-class="{'has-error': !!validationErrors.report_name}">
            <label for="report-name-input" class="col-xs-4 control-label">
                Report name
            </label>
            <div class="col-xs-5">
                <input type="text"
                       zem-focus-select
                       id="report-name-input"
                       class="form-control"
                       ng-model="export.reportName"
                       placeholder="Name of the report" />
            </div>
            <div class="col-xs-3">
                <label ng-repeat="error in validationErrors.report_name" class="control-label small error" for="report-name-input">{{ error }}</label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !!validationErrors.granularity}">
            <label for="granularity-select" class="col-xs-4 control-label">
                Report Granularity
                <zem-help-popover content="Granularity of the report." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
              <ui-select config
                  id="granularity-select"
                  theme="select2"
                  search-enabled="false"
                  ng-model="export.type"
                  class="form-control">
                  <ui-select-match placeholder="Choose granularity">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="option in options | filter:{hidden: '!true'}">
                      {{option.name}}
                  </ui-select-choices>
              </ui-select>
            </div>

            <div class="col-xs-3">
                <label ng-repeat="error in validationErrors.granularity" class="control-label small error" for="granularity-select">{{ error }}</label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !!validationErrors.frequency}">
            <label for="frequency-select" class="col-xs-4 control-label">
                Frequency
                <zem-help-popover content="Report will be delivered to your inbox every day, week or month at 2AM EST." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
              <ui-select
                      theme="select2"
                      search-enabled="false"
                      id="frequency-select"
                      class="form-control"
                      ng-model="export.frequency"
                      ng-change="checkBreakdownAvailable()">
                  <ui-select-match placeholder="Choose frequency">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="freq in exportSchedulingFrequencies">
                      <div>{{freq.name}}</div>
                  </ui-select-choices>
              </ui-select>
            </div>

            <div class="col-xs-3">
                <label ng-repeat="error in validationErrors.frequency" class="control-label small error" for="frequency-select">{{ error }}</label>
            </div>
        </div>

        <div class="form-group">
          <div class="col-xs-4">
            <label for="by-day-checkbox" class="control-label">Breakdown by day</label>
          </div>
          <div class="col-xs-4">
            <input id="by-day-checkbox"
                type="checkbox"
                ng-model="export.byDay"
                class="checkbox"
                ng-disabled="breakdownByDayDisabled">
          </div>
        </div>

        <div class="form-group" ng-if="hasPermission('zemauth.can_include_model_ids_in_reports')">
            <div class="col-xs-4">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_include_model_ids_in_reports')" popover-placement="right"></zem-internal-feature>
                <label for="add-ids-checkbox" class="control-label">Add IDs to report</label>
            </div>
            <div class="col-xs-4">
                <input id="add-ids-checkbox"
                       type="checkbox"
                       ng-model="export.includeIds"
                       class="checkbox">
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !!validationErrors.recipient_emails}">
            <label for="recipient-emails-textarea" class="col-xs-4 control-label" id="recipient-emails-label">
                Recipient emails
                <zem-help-popover content="Comma-separated list of recipient email addresses." placement="top"></zem-help-popover>
            </label>

            <div class="col-xs-8">
                <label ng-repeat="error in validationErrors.recipient_emails" class="control-label small error" for="recipient-emails-label">{{ error }}</label>
            </div>

            <textarea
                ng-model="export.recipientEmails"
                id="recipient-emails-textarea"
                class="form-control recipient-emails"
                type="text"
                placeholder="Comma-separated list of recipient email addresses">
            </textarea>
        </div>

        <div class="form-group">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">Schedule</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            </div>
            <div class="loader" ng-show="showInProgress"></div>
            <div class="col-xs-5 small error">
              <span ng-if="hasError">
                An error has occured. Please contact support at <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error persists.
              </span>
            </div>
        </div>
    </form>
</div>
