<div class="modal-body">
    <form class="upload-form form-horizontal">
        <div class="form-group">
            <label for="unique-identifier-input" class="col-xs-4 control-label">
                Unique identifier
                <zem-help-popover content="" placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5" style="vertical-align: middle; line-height: 34px; text-align: right;">
                http://one.zemanta.com/something/
            </div>
            <div class="col-xs-2">
                <input type="text" id="unique-identifier-input" class="form-control" ng-model="formData.uniqueIdentifier" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4">
                <button type="button" class="btn btn-add" ng-click="addConversionPixel()">Add Conversion Pixel</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            </div>
        </div>
    </form>
</div>
