<div class="modal-body">
    <div class="title">Add a New Conversion Pixel</div>
    <form id="add-conversion-pixel-form" ng-submit="addConversionPixel()" class="modal-form conversion-pixel-form form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!error}">
            <label for="unique-identifier-input" class="col-xs-4 control-label">
                Unique identifier
                <zem-help-popover content="Conversion pixel's unique identifier" placement="bottom"></zem-help-popover>
            </label>
            <span class="col-xs-6 text-vertical-align-middle text-align-right no-padding-right">
                {{ getConversionPixelTagPrefix() }}
            </span>
            <div class="col-xs-2">
                <input type="text" zem-focus-select id="unique-identifier-input" class="form-control" ng-model="slug" ng-focus="clearError()" ng-change="clearError()" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-add">Add Conversion Pixel</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            </div>
            <div class="loader" ng-show="addConversionPixelInProgress"></div>
            <span class="col-xs-4 small error" ng-if="!!error">
                {{ error }}
            </span>
        </div>
    </form>
</div>
