<div class="page page-all-accounts-accounts">
    <div class="section">
        <div class="graph-infobox-parent" ng-class="{'graph-collapsed': !graphVisible}">
            <div class="graph-infobox-row">
                <div class="graph-container">
                    <zem-chart zem-data="chartData" zem-metric1="chartMetric1" zem-metric2="chartMetric2" zem-metric-options="chartMetricOptions" zem-min-date="dateRange.startDate" zem-max-date="dateRange.endDate" zem-on-remove="selectedSourceRemoved(id)" local-storage-prefix="localStoragePrefix" zem-is-loading="chartIsLoading"></zem-chart>
                </div>
                <div class="spacing"></div>
                <div class="infobox-container">
                    <zem-infobox class="infobox-wrapper" header="infoboxHeader" basic-settings="infoboxBasicSettings" performance-settings="infoboxPerformanceSettings" link-to="infoboxLinkTo" state-id="$state.params.id"></zem-infobox>
                </div>
            </div>
        </div>
    </div>

    <div class="section zem-internal-feature-container white-background" ng-if="hasPermission('zemauth.can_access_table_breakdowns_feature')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_access_table_breakdowns_feature')"></zem-internal-feature>
        
        <zem-alerts level="grid.level" entity-id="grid.entityId"></zem-alerts>

        <div class="button-bar" ng-if="grid.api">
            <div  ng-if="hasPermission('zemauth.all_accounts_accounts_add_account')" class="button-bar-item add-source-container">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.all_accounts_accounts_add_account')" popover-placement="bottom"></zem-internal-feature>
                <button type="button" class="btn btn-add btn-icon add" ng-click="addAccount()"><span class="icon"></span><span class="text">Account</span></button>
                <div class="loader" ng-show="requestInProgress"></div>
            </div>
            <div ng-if="hasPermission('zemauth.bulk_actions_on_all_levels')" class="button-bar-item">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.bulk_actions_on_all_levels')" popover-placement="bottom"></zem-internal-feature>
                <zem-grid-bulk-actions api="grid.api"></zem-grid-bulk-actions>
            </div>
            <zem-grid-export api="grid.api" class="pull-right"></zem-grid-export>
            <zem-grid-column-selector api="grid.api" class="pull-right"></zem-grid-column-selector>
            <zem-grid-breakdown-selector api="grid.api" class="pull-right"></zem-grid-breakdown-selector>
        </div>

        <zem-grid-integration
                api="grid.api"
                level="grid.level"
                breakdown="grid.breakdown"
                options="grid.options"

                zem-has-permission="hasPermission"
                zem-is-permission-internal="isPermissionInternal">
        </zem-grid-integration>
    </div>
</div>
