<div class="page page-all-accounts-accounts">
    <div class="section" ng-class="{'chart-hidden': chartHidden}">
        <zem-chart zem-data="chartData" zem-metric1="chartMetric1" zem-metric2="chartMetric2" zem-metric-options="chartMetricOptions" zem-min-date="dateRange.startDate" zem-max-date="dateRange.endDate" zem-hide-legend="true" local-storage-prefix="localStoragePrefix"></zem-chart>
    </div>

    <div class="section table-ad-group-sources">
        <div class="button-bar">

            <div  ng-if="hasPermission('zemauth.all_accounts_accounts_add_account')" class="button-bar-item add-source-container">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.all_accounts_accounts_add_account')" popover-placement="bottom"></zem-internal-feature>
                <button type="button" class="btn btn-add" ng-click="addAccount()">+ Account</button>
            </div>

            <div class="loader" ng-show="requestInProgress"></div>

            <div ng-if="!hasPermission('zemauth.exports_plus')" class="button-bar-item export-container">
                <zem-export
                    start-date="dateRange.startDate"
                    end-date="dateRange.endDate"
                    base-url="'api/accounts/'"
                    options="exportOptions">
                </zem-export>
            </div>

            <div ng-if="hasPermission('zemauth.exports_plus')" class="button-bar-item pull-right">
              <zem-internal-feature ng-if="isPermissionInternal('zemauth.exports_plus')" popover-placement="bottom"></zem-internal-feature>
                <zem-export-plus
                    start-date="dateRange.startDate"
                    end-date="dateRange.endDate"
                    base-url="'api/accounts/'"
                    options="exportPlusOptions"
                    columns="columns"
                    order="order"
                    level="level"
                    export-sources="false">
                </zem-export-plus>
            </div>

            <zem-custom-table-cols class="pull-right" columns="columns" categories="columnCategories" local-storage-prefix="localStoragePrefix"></zem-custom-table-cols>

            <a id="chart-btn" ng-attr-title="{{ chartBtnTitle }}" class="btn btn-default pull-right" ng-click="toggleChart()"><img ng-src="{{ config.static_url }}/one/img/chart.svg"></a>
        </div>

        <alert type="info" class="alert-sync" ng-show="!isSyncRecent">
            We are experiencing a delay synchronizing reporting metrics. <span ng-if="!!lastSyncDate">The last successful sync took place {{ lastSyncDate.fromNow() }}.</span> If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
        </alert>

        <zem-table zem-table-columns="columns" zem-table-rows="rows" zem-table-total-row="totals" zem-table-show-loader="loadRequestInProgress" zem-table-order="order" zem-table-order-callback="orderRows(order)" zem-table-data-status="dataStatus"></zem-table>

        <div class="table-footnotes">
            <div ng-switch="lastSyncDate">
                <span ng-switch-when="null">
                    * Reporting metrics haven't been synced yet.
                </span>
                <span ng-switch-default>
                    * Reporting metrics synced {{ lastSyncDate.fromNow() }}. The reporting data is an estimate, and the final amount will be reflected on your invoice.
                </span>
            </div>
            <div ng-show="isIncompletePostclickMetrics">
                * Postclick metrics are incomplete for the selected date range.
            </div>
            <div>* All times are in Eastern Standard Time (EST).</div>
        </div>

        <div class="pagination" ng-show="rows.length">
            <span>Go to page</span>
            <form ng-submit="loadPage()">
                <input class="page-num form-control" type="number" min="1" max="{{ pagination.numPages }}" ng-model="pagination.currentPage">
            </form>

            <span>Show rows</span>
            <zem-paging-dropdown class="show-rows" counts="sizeRange" selection="size"></zem-paging-dropdown>
            <div ng-disabled="pagination.currentPage == 1" class="btn btn-default" ng-click="loadPage(1)"><img ng-src="{{ config.static_url }}/one/img/arrow-first.svg"></div>
            <div ng-disabled="pagination.currentPage == 1" class="btn btn-default" ng-click="loadPage(pagination.currentPage - 1)"><img ng-src="{{ config.static_url }}/one/img/arrow-prev.svg"></div>
            <span class="current-rows">{{ pagination.startIndex}} - {{ pagination.endIndex }} of {{ pagination.count }}</span>
            <div ng-disabled="pagination.currentPage == pagination.numPages" class="btn btn-default" ng-click="loadPage(pagination.currentPage + 1)"><img ng-src="{{ config.static_url }}/one/img/arrow-next.svg"></div>
            <div ng-disabled="pagination.currentPage == pagination.numPages" class="btn btn-default" ng-click="loadPage(pagination.numPages)"><img ng-src="{{ config.static_url }}/one/img/arrow-last.svg"></div>
        </pagination>
    </div>
    </div>
</div>
