<!--
FIXME: This is temporary partial for handling Entity archived state and
will be replaced when migrating to new routing and page layout.
Atm, this is simplest solution
-->

<div class="page">
    <h1>{{getEntityTypeName()}} archived</h1>
    <div class="white-background">
        <p>
            <strong>{{entity.name}}</strong> is archived.
        </p>
        <a class="btn btn-default" ng-click="restore()">
            Restore
        </a>
        <div class="loader" ng-show="requestInProgress"></div>
    </div>
</div>
