<div class="page page-campaign-budget page-section" ng-if="!account.archived">
    <h1>Budget</h1>
    <div class="section white-background budgets-overview">
        <h2>Overview</h2>
        <div class="section named-data">
            <div class="name">Campaign Spend</div>
            <div class="value">{{ budgetTotals.lifetimeCampaignSpend | decimalCurrency:"$":2 }}</div>
            <div class="clear"></div>
            <div class="name">Media Spend</div>
            <div class="value">{{ budgetTotals.lifetimeMediaSpend | decimalCurrency:"$":2 }}</div>
            <div class="clear"></div>
            <div class="name">Data Spend</div>
            <div class="value">{{ budgetTotals.lifetimeDataSpend | decimalCurrency:"$":2 }}</div>
            <div class="clear"></div>
            <div class="name">License Fee</div>
            <div class="value">{{ budgetTotals.lifetimeLicenseFee | decimalCurrency:"$":2 }}</div>
            <div class="clear"></div>
            <div ng-if="hasPermission('zemauth.can_manage_agency_margin')">
                <div class="name">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_manage_agency_margin')"></zem-internal-feature>
                    Margin
                </div>
                <div class="value">{{ budgetTotals.lifetimeMargin | decimalCurrency:"$":2 }}</div>
                <div class="clear"></div>
            </div>
            <div class="name exposed topborder">Available Budget</div>
            <div class="value exposed topborder">{{ budgetTotals.currentAvailable | decimalCurrency:"$":2 }}</div>
            <div class="clear"></div>
            <div class="name exposed">Unallocated Credit</div>
            <div class="value exposed">
                {{ budgetTotals.currentUnallocated | decimalCurrency:"$":2 }}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="section white-background budgets-active-pending">
        <h2>Active Budget items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Budget</th>
                    <th>License Fee</th>
                    <th ng-if="hasPermission('zemauth.can_manage_agency_margin')">
                        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_manage_agency_margin')"></zem-internal-feature>
                        Margin
                    </th>
                    <th>Total Spend</th>
                    <th>Available Budget</th>
                    <th class="notes">Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in activeBudget" ng-class="{ 'row-updated': item.id == updatedId }">
                    <td>{{ item.id }}</td>
                    <td>{{ item.startDate }}</td>
                    <td>{{ item.endDate }}</td>
                    <td>{{ item.total | decimalCurrency:"$":2  }}</td>
                    <td>{{ item.licenseFee  }}</td>
                    <td ng-if="hasPermission('zemauth.can_manage_agency_margin')">
                        {{ item.margin  }}
                    </td>
                    <td>{{ item.spend | decimalCurrency:"$":2  }}</td>
                    <td>{{ item.available | decimalCurrency:"$":2  }}</td>
                    <td class="notes">{{ item.comment }}</td>
                    <td class="action-buttons">
                        <a class="button button--small button--with-icon button--edit-icon" ng-click="editBudgetItem(item.id)" ng-if="item.isEditable || item.isUpdatable">Edit</a>
                        <a class="button button--small button--with-icon button--remove-icon" ng-click="deleteBudgetItem(item.id)" ng-if="item.isEditable || item.isUpdatable" ng-disabled="deleteRequestInProgress">Delete</a>
                    </td>
                </tr>
                <tr ng-show="!activeBudget.length" class="message">
                    <td colspan="9">No active budget items.</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="button button--with-icon button--add-icon" ng-click="addBudgetItem()" ng-disabled="!getAvailableCredit().length">Add Budget Item</button>
    </div>

    <div class="section white-background budgets-past-pending">
        <h2>Depleted Budget Items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Budget</th>
                    <th>License Fee</th>
                    <th ng-if="hasPermission('zemauth.can_manage_agency_margin')">
                        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_manage_agency_margin')"></zem-internal-feature>
                        Margin
                    </th>
                    <th>Total Spend</th>
                    <th>Available Budget</th>
                    <th class="notes">Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pastBudget" ng-class="{ 'row-updated': item.id == updatedId }">
                    <td>{{ item.startDate }}</td>
                    <td>{{ item.endDate }}</td>

                    <td>{{ item.total | decimalCurrency:"$":2  }}</td>
                    <td>{{ item.licenseFee  }}</td>
                    <td ng-if="hasPermission('zemauth.can_manage_agency_margin')">
                        {{ item.margin  }}
                    </td>
                    <td>{{ item.spend | decimalCurrency:"$":2  }}</td>
                    <td>{{ item.available | decimalCurrency:"$":2  }}</td>

                    <td class="notes">{{ item.comment }}</td>
                    <td class="text-right">
                        <a class="button button--small button--with-icon button--edit-icon" ng-click="editBudgetItem(item.id)" ng-if="item.isEditable">Edit</a>
                    </td>
                </tr>
                <tr ng-show="!pastBudget.length" class="message">
                    <td colspan="9">No depleted budget items.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
