<div class="page page-campaign-budget page-section" ng-if="!account.archived">
	<div class="section budgets-overview">
		<div class="title">Overview</div>
		<!-- table>(thead>tr>td*5)+(tbody>tr>td*5) -->

		<div class="section named-data">
			<div class="name">Currently Available Active Total Budget</div>
			<div class="value">{{ budgetTotals.currentAvailable | decimalCurrency:"$":2 }}</div>
			<div class="name bottomborder">Unallocated Account Credit</div>
			<div class="value bottomborder">
				{{ budgetTotals.currentUnallocated | decimalCurrency:"$":2 }}
			</div>
			<div class="name">Lifetime Campaign Spend</div>
			<div class="value">{{ budgetTotals.lifetimeCampaignSpend | decimalCurrency:"$":2 }}</div>
			<div class="name">Lifetime Media Spend</div>
			<div class="value">{{ budgetTotals.lifetimeMediaSpend | decimalCurrency:"$":2 }}</div>
			<div class="name">Lifetime Data Spend</div>
			<div class="value">{{ budgetTotals.lifetimeDataSpend | decimalCurrency:"$":2 }}</div>
			<div class="name">Lifetime License Fee</div>
			<div class="value">{{ budgetTotals.lifetimeLicenseFee | decimalCurrency:"$":2 }}</div>
		</div>
	</div>
	<div class="section budgets-active-pending">
		<div class="title">Active Budget items</div>
        <table>
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Budget</th>
                    <th>License Fee</th>
					<th>Total Spend</th>
                    <th>Available Budget</th>
                    <th>Notes</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
				<tr ng-repeat="item in activeBudget">
					<td>{{ item.startDate }}</td>
					<td>{{ item.endDate }}</td>

					<td>{{ item.total | decimalCurrency:"$":2  }}</td>
					<td>{{ item.licenseFee  }}</td>
					<td>{{ item.spend | decimalCurrency:"$":2  }}</td>
					<td>{{ item.available | decimalCurrency:"$":2  }}</td>

					<td>{{ item.comment }}</td>
					
					<td>
						<ul class="row-actions">
							<li ng-click="editBudgetItem(item.id)">edit</li>
						</ul>
					</td>
				</tr>
				<tr ng-show="!activeBudget.length" class="message">
					<td colspan="9">No active budget items.</td>
				</tr>
            </tbody>
        </table>
	</div>

	<button type="button" class="btn btn-default" ng-click="addBudgetItem()" ng-disabled="!availableCredit.length">Add Budget Item</button>
	
	<div class="section budgets-past-pending">
		<div class="title">Depleted Budget Items</div>

		<table>
            <thead>
				<tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Budget</th>
                    <th>License Fee</th>
					<th>Total Spend</th>
                    <th>Available Budget</th>
                    <th>Notes</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
				<tr ng-repeat="item in pastBudget">
					<td>{{ item.startDate }}</td>
					<td>{{ item.endDate }}</td>

					<td>{{ item.total | decimalCurrency:"$":2  }}</td>
					<td>{{ item.licenseFee  }}</td>
					<td>{{ item.spend | decimalCurrency:"$":2  }}</td>
					<td>{{ item.available | decimalCurrency:"$":2  }}</td>

					<td>{{ item.comment }}</td>
					
					<td>
						<ul class="row-actions">
							<li ng-click="editBudgetItem(item.id)" ng-if="item.isEditable">edit</li>
						</ul>
					</td>
				</tr>
				<tr ng-show="!pastBudget.length" class="message">
					<td colspan="9">No active budget items.</td>
				</tr>
            </tbody>
        </table>
	</div>
</div>
