<div class="page page-campaign-ad-groups">
    <div class="section" ng-include src="'/partials/graph_infobox.html'"></div>
    <div class="section table-ad-group-ads">
        <div class="button-bar">
            <div ng-if="hasPermission('zemauth.campaign_ad_groups_add_ad_group')" class="button-bar-item add-source-container">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.campaign_ad_groups_add_ad_group')" popover-placement="bottom"></zem-internal-feature>
                <button type="button" class="btn btn-add" ng-click="addAdGroup()">+ Ad group</button>
                <div class="loader" ng-show="addGroupRequestInProgress"></div>
            </div>
            <div ng-if="!hasPermission('zemauth.exports_plus')" class="button-bar-item export-container">
                <zem-export
                    start-date="dateRange.startDate"
                    end-date="dateRange.endDate"
                    base-url="'api/campaigns/' + $state.params.id + '/ad_groups/'"
                    options="exportOptions">
                </zem-export>
            </div>

            <div ng-if="hasPermission('zemauth.exports_plus')" class="button-bar-item pull-right">
              <zem-internal-feature ng-if="isPermissionInternal('zemauth.exports_plus')" popover-placement="bottom"></zem-internal-feature>
                <zem-export-plus
                    start-date="dateRange.startDate"
                    end-date="dateRange.endDate"
                    base-url="'api/campaigns/' + $state.params.id + '/'"
                    options="exportPlusOptions"
                    columns="columns"
                    order="order"
                    level="level"
                    export-sources="false">
                </zem-export-plus>
            </div>

            <zem-custom-table-cols class="pull-right" columns="columns" categories="columnCategories" local-storage-prefix="localStoragePrefix"></zem-custom-table-cols>
        </div>

        <alert type="info" class="alert-sync" ng-show="!isSyncRecent">
        We are experiencing a delay synchronizing reporting metrics. <span ng-if="!!lastSyncDate">The last successful sync took place {{ lastSyncDate.fromNow() }}.</span> If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
        </alert>

        <zem-table zem-table-columns="columns" zem-table-rows="rows" zem-table-total-row="totalRow" zem-table-show-loader="getTableDataRequestInProgress" zem-table-order="order" zem-table-order-callback="orderTableData(order)" zem-table-data-status="dataStatus"></zem-table>

        <div class="table-footnotes">
            <div ng-switch="lastSyncDate">
                <span ng-switch-when="null">
                    * Reporting metrics haven't been synced yet.
                </span>
                <span ng-switch-default>
                    * Reporting metrics synced {{ lastSyncDate.fromNow() }}. The reporting data is an estimate, and the final amount will be reflected on your invoice.
                </span>
            </div>
            <div ng-show="isIncompletePostclickMetrics">
                * Postclick metrics are incomplete for the selected date range.
            </div>
            <div>* All times are in Eastern Standard Time (EST).</div>
        </div>
    </div>
</div>
