<div class="modal__header">
    <div class="modal__title" ng-if="isNew">Add Budget</div>
    <div class="modal__title" ng-if="!isNew">Edit Budget Item #{{ budgetItem.id }}</div>
</div>
<div class="modal__body">
    <p ng-if="!isNew">Created by <strong>{{ budgetItem.createdBy }}</strong> on <strong>{{ budgetItem.createdOn }}</strong></p>
    <p ng-if="isNew">Created by <strong>{{ user.name }}</strong> on <strong>{{ today }}</strong></p>
    <hr>
    <div class="form" id="form-campaign-budget-budgetItem" ng-class="{ 'new': isNew, 'edit': !isNew }">
        <label class="form__label" ng-if="isNew">Select Credit Line</label>
        <label class="form__label" ng-if="!isNew">Selected Credit Line</label>
        <table class="table">
            <thead>
                <tr>
                    <th ng-if="isNew"></th>
                    <th>Available credit</th>
                    <th>Total Credit</th>
                    <th>License Fee</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: If possible add class row-error to row that was selected and has insufficient credit amount for selected budget -->
                <tr ng-repeat="credit in availableCredit" ng-class="{'row--error': !!errors.credit}">
                    <td ng-if="isNew" title="{{ credit.comment }}">
                        <label>
                            <input class="input-radio" type="radio" ng-model="budgetItem.credit"
                               ng-click="checkCreditValues()" ng-value="credit" id="{{credit.id}}" />
                            <span class="radio-text"></span>
                        </label>
                    </td>
                    <td>{{ credit.available | decimalCurrency:"$":2  }}</td>
                    <td>{{ credit.total | decimalCurrency:"$":2  }}</td>
                    <td>{{ credit.licenseFee }}%</td>
                    <td>{{ credit.startDate }}</td>
                    <td>{{ credit.endDate }}</td>
                    <td>
                        <zem-note-popover content="{{ credit.isAgency ? 'Agency credit; ' : '' }}{{ credit.comment }}"
                                          ng-if="credit.comment.length > 0" placement="top" class="note-popover"></zem-note-popover>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form__group" ng-class="{'form--error': !!errors.startDate}">
            <label class="form__label" for="start-date-input">Start Date</label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input id="start-date-input" type="text" class="input-text" uib-datepicker-popup="MM/dd/yyyy"
                       ng-disabled="!budgetItem.credit || !budgetItem.isEditable"
                       datepicker-options="{initDate: initStartDate, minDate: minDate, maxDate: maxDate}"
                       ng-model="budgetItem.startDate" is-open="startDatePicker.isOpen" ng-click="openStartDatePicker()" />
            </div>
            <div class="message message--error" ng-repeat="error in errors.startDate" for="start-date-input">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.endDate}">
            <label class="form__label" for="end-date-input">End Date</label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input class="input-text" id="end-date-input" type="text" uib-datepicker-popup="MM/dd/yyyy" ng-disabled="!budgetItem.credit || !(budgetItem.isUpdatable || budgetItem.isEditable)" datepicker-options="{initDate: initEndDate, minDate: minDate, maxDate: maxDate}" ng-model="budgetItem.endDate" is-open="endDatePicker.isOpen" ng-click="openEndDatePicker()">
            </div>
            <div class="message message--error" ng-repeat="error in errors.endDate" for="end-date-input">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.amount}">
            <label class="form__label" for="amount-input">Total Budget</label>
            <div class="prefixed-field postfixed-field prefixed-field--narrow postfixed-field--narrow">
                <span class="prefixed-field__prefix">$</span>
                <input id="amount-input" ng-disabled="!budgetItem.credit || !(budgetItem.isEditable || budgetItem.isUpdatable)" type="text" class="input-text" ng-model="budgetItem.amount" zem-currency-input fraction-size="0" />
                <span class="postfixed-field__postfix">.00</span>
            </div>
            <div class="message message--error" ng-repeat="error in errors.amount" for="amount">{{ error }}</div>
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.margin}" ng-if="hasPermission('zemauth.can_manage_agency_margin')">
            <label class="form__label" for="margin-input" is-internal="zemauth.can_manage_agency_margin">Margin (%)</label>
            <ui-select theme="select2" id="margin-select" class="button button--plain button--narrow button--dropdown-toggle-icon"
                       ng-model="budgetItem.margin" ng-disabled="!isNew" search-enabled="false">
                <ui-select-match>{{$select.selected | number:2}}%</ui-select-match>
                <ui-select-choices repeat="fee in getLicenseFees($select.search, budgetItem.margin) | filter: $select.search">
                    <span ng-bind-html="fee"></span>%
                </ui-select-choices>
            </ui-select>
            <div class="message message--error" ng-repeat="error in errors.margin" for="margin-input">{{ error }}</div>
        </div>
        <div class="message message--info message--with-icon" ng-if="isInLanding()">
            Add at least ${{ minAmount | number:2 }} to adjust media sources by your needs.
        </div>
        <div class="form__group" ng-class="{'form--error': !!errors.comment}">
            <label class="form__label" for="comment-input">Notes</label>
            <textarea class="textarea" id="comment-input" type="text" ng-model="budgetItem.comment" maxlength="256"></textarea>
            <div class="message message--error" ng-repeat="error in errors.comment" for="comment">{{ error }}</div>
        </div>
    </div>
</div>
<div class="modal__footer buttons-panel">
    <button type="button" class="button button--highlight button--with-icon check-icon" ng-click="upsertBudgetItem()" ng-disabled="saveRequestInProgress">Save</button>
    <button type="button" class="button button--outline" ng-click="discardBudgetItem()" ng-disabled="saveRequestInProgress"><span class="text">Discard</span></button>
    <button type="button" class="button button--outline button--with-icon remove-icon pull-right" ng-click="deleteBudgetItem()" ng-disabled="isNew || saveRequestInProgress">Delete</button>

    <div class="loader" ng-show="saveRequestInProgress"></div>
    <span ng-show="saved" class="message message--success">Your updates have been saved.</span>
    <span ng-show="saved === false" class="message message--error">An error occurred while saving. Please correct the marked fields and save again.</span>
    <span ng-show="discarded" class="message">Your updates have been discarded.</span>
</div>
