<div class="page page-campaign-agency" ng-if="!campaign.archived">
    <form id="form-campaign-agency" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.accountManager}">
            <label for="account-manager-select" class="col-xs-3 control-label">
                Account Manager
                <zem-help-popover content="Account manager responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="account-manager-select" class="form-control" ng-model="settings.accountManager">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="manager.id as manager in accountManagers | orderBy:getName | filter:$select.search">
                        <div ng-bind-html="manager.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.accountManager" class="control-label error" for="account-manager-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.salesRepresentative}">
            <label for="sales-representative-select" class="col-xs-3 control-label">
                Sales Representative
                <zem-help-popover content="Sales representative responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="sales-representative-select" class="form-control" ng-model="settings.salesRepresentative">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="rep.id as rep in salesReps | orderBy:getName | filter:$select.search">
                        <div ng-bind-html="rep.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.salesRepresentative" class="control-label error" for="sales-representative-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.IABCategory}">
            <label for="iab-category-select" class="col-xs-3 control-label">
                IAB Category
                <zem-help-popover content="IAB category under which content of this campaign belongs." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 2}" id="iab-category-select" class="form-control" ng-model="settings.IABCategory">
                    <option ng-repeat="category in iabCategories" value="{{category.value}}">{{category.name}}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.IABCategory" class="control-label error" for="iab-category-select">{{ error }}</label>
        </div>

		<button type="button" class="btn btn-primary" ng-click="saveSettings()">Save</button>
		<button type="button" class="btn btn-default" ng-click="getSettings(true)">Discard</button>
                <button type="button" class="btn btn-default pull-right" ng-class="{'disabled': !canArchive}" title="{{ (!canArchive && 'All of the campaign\'s ad groups have to be paused in order to archive the campaign.') || ''}}" ng-click="archiveCampaign()">Archive campaign</button>
        <div class="loader" ng-show="requestInProgress"></div>
        <span ng-show="saved" class="success">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success">Your updates have been discarded.</span>
	</form>

    <div class="section conversion-goals col-xs-6" ng-if="hasPermission('zemauth.manage_conversion_goals')">
        <div class="title">
            Conversions & Goals
            <zem-help-popover content="Set up conversion or goal tracking" placement="top"></zem-help-popover>
            <div class="loader" ng-show="goalsRequestInProgress || removeConversionGoalInProgress"></div>
        </div>
        <div class="conversion-goal-entry col-xs-12" ng-repeat="goal in conversionGoals">
            <div class="row" ng-repeat="row in goal.rows">
                <div class="col-xs-3">
                    <strong>{{row.title}}</strong>
                </div>
                <div class="col-xs-9">
                    {{row.value}} <a href="#" class="row-link" ng-if="row.link" ng-click="row.link.click()">{{row.link.text}}</a>
                </div>
            </div>
            <button type="button" class="btn btn-default remove-btn" ng-class="{'disabled': !!removeConversionGoalInProgress || !!goalsError}" ng-click="removeConversionGoal(goal.id)">Remove</button>
        </div>
        <button type="button" class="btn btn-default" ng-click="addConversionGoal()" ng-disabled="!!goalsError || !!goalsRequestInProgress || !!removeConversionGoalInProgress || conversionGoals.length > 1" title="{{ (conversionGoals.length > 1 && 'At most two conversions or goals can be set up per campaign.') || '' }}"">Set up conversion or goal tracking</button>
        <div ng-if="!!goalsError" class="error">
            An error has occured. Please contact support at <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error persists.
        </div>
    </div>

    <div class="section table-campaign-agency">
        <div class="title">History<zem-help-popover content="History of settings changes." placement="top"></zem-help-popover>
</div>
        <div class="loader-container">
            <div class="loader" ng-show="history.length && requestInProgress"></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="arrow" ng-class="{ordered: orderField === 'datetime' && !orderReverse, 'ordered-reverse': orderField === 'datetime' && orderReverse}"><a href class="order" ng-click="orderField = 'datetime'; orderReverse = !orderReverse">Date (EST)</a></th>
                        <th class="arrow" ng-class="{ordered: orderField === 'manager' && !orderReverse, 'ordered-reverse': orderField === 'manager' && orderReverse}"><a href class="order" ng-click="orderField = 'manager'; orderReverse = !orderReverse">User</a></th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="requestInProgress && !history.length">
                        <td colspan="3" class="loader-row">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    <tr ng-show="(!history || !history.length) && !requestInProgress">
                        <td class="no-data" colspan="3">No data</td>
                    </tr>

                    <tr ng-repeat="item in history | orderBy:orderField:orderReverse">
                        <td class="no-wrap">{{ (item.datetime | date:'M/d/yyyy h:mm a') || 'N/A' }}</td>
                        <td>{{ item.changedBy }}</td>
                        <td zem-lazy-popover-template="'popoverContent.html'" zem-lazy-popover-append-to-body="true" zem-lazy-popover-animation-class="fade">{{ item.changesText }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="page page-campaign-agency" ng-if="!!campaign.archived">
    <p>
        <strong>This campaign is archived.</strong>
    </p>
    <button type="button" class="btn btn-default" ng-class="{'disabled': !canRestore}" ng-click="restoreCampaign()" title="{{ (!canRestore && 'In order to restore a campaign, it\'s account must be restored first.') || '' }}">Restore campaign</button>
</div>

<script id="popoverContent.html" type="text/ng-template">
    <div class="history-popover-table">
        <div class="history-popover-row">
            <div ng-if="item.showOldSettings" class="history-popover-cell header-cell left-cell"><strong>Old Settings</strong></div>
            <div class="history-popover-cell header-cell"><strong>New Settings</strong></div>
        </div>
        <div class="history-popover-row" ng-repeat="setting in item.settings">
            <div ng-if="item.showOldSettings" class="history-popover-cell left-cell">
                <div><strong>{{setting.name}}</strong></div>
                <div class="setting-value" ng-bind-html="setting.oldValue"></div>
            </div>
            <div class="history-popover-cell">
                <div><strong>{{setting.name}}</strong></div>
                <div class="setting-value" ng-bind-html="setting.value"></div>
            </div>
        </div>
    </div>
</script>

