<div class="page page-campaign-agency" ng-if="!campaign.archived">
    <form id="form-campaign-agency" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.name}">
            <label for="name-input" class="col-xs-3 control-label">
                Name
                <zem-help-popover content="Name of the campaign." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-4">
                <input id="name-input" type="text" class="form-control" ng-model="settings.name">
            </div>

            <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.campaignGoal}" ng-if="!hasPermission('zemauth.can_see_campaign_goals')">>
            <label for="goal-input-label" class="col-xs-3 control-label">
                Campaign goal
                <zem-help-popover content="The top level goal of this campaign." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-4 form-inline">
                <label id="goal-input-label" class="col-xs-6" for="goal-input">Meet or beat the goal of</label>
                <input id="goal-input" type="text" class="form-control" ng-model="settings.goalQuantity">
            </div>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 10}" class="form-control" ng-model="settings.campaignGoal">
                    <option ng-repeat="goal in options.campaignGoals" value="{{goal.value}}">{{goal.name}}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.campaignGoal" class="control-label error" for="goal-select">{{ error }}</label>
        </div>

        <div ng-if="hasPermission('zemauth.can_see_campaign_goals')">
            <div class="form-group section table-campaign-goals" ng-class="{'has-error': !!errors.goals}">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_see_campaign_goals')" popover-placement="right"></zem-internal-feature>Campaign goals:
                    </label>
                    <span class="col-xs-4">
                        <span ng-show="campaignGoals.length > 1" class="pull-right primary-goal-label">Primary goal</span>
                    </span>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <zem-campaign-goals account="account" campaign="campaign" goals="campaignGoals" model="campaignGoalsDiff"></zem-campaign-goals>
                    </div>
                    <div class="col-xs-6" ng-show="!!errors.goals">
                        <label ng-repeat="error in errors.goals" class="control-label error">{{ error }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="hasPermission('zemauth.settings_defaults_on_campaign_level')" class="form-vertical">
            <div class="form-group" ng-class="{'has-error': !!errors.targetDevices}">
                <label class="col-xs-3 control-label">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.settings_defaults_on_campaign_level')" popover-placement="right"></zem-internal-feature>
                    Default device targeting
                    <zem-help-popover content="The devices on which your content ads should be shown. Used for all newly created ad groups." placement="top"></zem-help-popover>
                </label>
                <div class="col">
                    <div class="checkbox" ng-repeat='device in settings.targetDevices'>
                        <label>
                            <input type="checkbox" ng-model="device.checked"> {{ device.name }}
                        </label>
                    </div>
                </div>

                <label ng-repeat="error in errors.targetDevices" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.targetRegions}">
                <label class="col-xs-2 control-label">
                    <zem-internal-feature ng-if="isPermissionInternal('zemauth.settings_defaults_on_campaign_level')" popover-placement="right"></zem-internal-feature>
                    Default locations
                    <zem-help-popover content="The countries, states and DMA regions where your content ads should be shown. Used for all newly created ad groups." placement="top"></zem-help-popover>
                </label>

                <div class="col-xs-6 col-md-4">
                    <zem-locations zem-selected-location-codes="settings.targetRegions" zem-has-permission="hasPermission"></zem-locations>
                </div>

                <label ng-repeat="error in errors.targetRegions" class="control-label error">{{ error }}</label>
            </div>
        </div>

        <button
             type="button" class="btn btn-primary" ng-click="saveSettings()"
             zem-tutorial-popover-condition-promise="campaignHasFreshSettings()"
             zem-tutorial-popover="Click here to save campaign settings"
             zem-tutorial-popover-placement="top">
            Save
        </button>
        <button type="button" class="btn btn-default" ng-click="getSettings(true)">Discard</button>

        <div class="loader" ng-show="requestInProgress"></div>
        <span ng-show="saved" class="success">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success">Your updates have been discarded.</span>
    </form>
	
    <zem-conversion-goals
        zem-has-permission="hasPermission"
        zem-is-permission-internal="isPermissionInternal"
        zem-campaign="campaign"
        zem-account="account"
		ng-if="!hasPermission('zemauth.can_see_campaign_goals')">
    </zem-conversion-goals>
</div>
