<div class="modal-body modal-page">
	<h3 ng-if="isNew">Add Budget</h3>
	<h3 ng-if="!isNew">Edit Budget Item</h3>
	<form id="form-campaign-budget-item" class="form-horizontal" ng-class="{ 'new': isNew, 'edit': !isNew }">
		<div class="form-group" ng-if="!isNew">
			<label class="col-xs-8">Created by {{ budgetItem.createdBy }} on {{ budgetItem.createdOn }} </label>
		</div>
		<div class="form-group" ng-if="isNew">
			<label class="col-xs-8">Created by {{ user.name }} on {{ today }}</label>
		</div>
		<div class="form-group" ng-class="{'has-error': !!errors.credit}">
			<div class="col-xs-12">
				<label for="credit-input" class="control-label">
					Select Account Credit for Allocation
				</label><br />
				<select id="credit-input" ng-model="budgetItem.credit" size="5" class="no-dropdown" ng-options="credit.name for credit in availableCredit track by credit.id" ng-change="checkCreditDates()" ng-disabled="!isNew">
				</select>
				<label ng-repeat="error in errors.credit" class="control-label error" for="credit-input">{{ error }}</label>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error': !!errors.startDate}">
            <label for="start-date-input" class="col-xs-3 control-label">
                Valid from
            </label>
            <div class="col-xs-4">
                <input id="start-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" ng-disabled="!budgetItem.credit" init-date="initStartDate" min-date="minDate" max-date="maxDate" ng-model="budgetItem.startDate" is-open="startDatePicker.isOpen" ng-click="openDatePicker('startDate')">
            </div>
            <label ng-repeat="error in errors.startDate" class="col-xs-5 control-label error" for="start-date-input">{{ error }}</label>
        </div>
		<div class="form-group" ng-class="{'has-error': !!errors.endDate}">
            <label for="end-date-input" class="col-xs-3 control-label">
                Valid To
            </label>
            <div class="col-xs-4">
                <input id="end-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" ng-disabled="!budgetItem.credit" init-date="initEndDate" min-date="minDate" max-date="maxDate" ng-model="budgetItem.endDate" is-open="endDatePicker.isOpen" ng-click="openDatePicker('endDate')">
            </div>
            <label ng-repeat="error in errors.endDate" class="col-xs-5 control-label error" for="end-date-input">{{ error }}</label>
        </div>
		<div class="form-group" ng-class="{'has-error': !!errors.amount}">
			<label for="amount-input" class="col-xs-3 control-label">
                Media Budget
            </label>
            <div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input id="amount-input" ng-disabled="!budgetItem.credit" type="text" class="form-control" ng-model="budgetItem.amount">
				</div>
            </div>
            <label ng-repeat="error in errors.amount" class="col-xs-5 control-label error" for="amount">{{ error }}</label>
		</div>
		<div class="form-group" ng-class="{'has-error': !!errors.comment}">
			<label for="comment-input" class="col-xs-3 control-label">
                Notes
            </label>
            <div class="col-xs-4">
                <textarea id="comment-input" type="text" class="form-control" ng-model="budgetItem.comment"></textarea>
            </div>
            <label ng-repeat="error in errors.comment" class="col-xs-5 control-label error" for="comment">{{ error }}</label>
		</div>
		<div class="form-group">
			<div class="col-xs-3">
				<button type="button" class="btn btn-primary" ng-click="saveBudgetItem()">Save</button>
			</div>
			<div class="col-xs-3">
				<button type="button" class="btn btn-default" ng-click="discardBudgetItem()">Discard</button>
			</div>
		</div>
		
		<div class="loader" ng-show="saveRequestInProgress"></div>
		<span ng-show="saved" class="success">Your updates have been saved.</span>
		<span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
	</form>
</div>
