<div class="modal-body modal-page">
    <h3 ng-if="isNew">Add Budget</h3>
    <h3 ng-if="!isNew">Edit Budget Item</h3>
    <form id="form-campaign-budget-budgetItem" class="form-horizontal" ng-class="{ 'new': isNew, 'edit': !isNew }">
        <div class="form-group" ng-if="!isNew">
            <label class="col-xs-8">Created by {{ budgetItem.createdBy }} on {{ budgetItem.createdOn }} </label>
        </div>
        <div class="form-group" ng-if="isNew">
            <label class="col-xs-8">Created by {{ user.name }} on {{ today }}</label>
        </div>
        <div class="form-group">
            <label for="credit-input" class="col-xs-12 control-label" ng-if="isNew">
                Select Credit Line
            </label>
            <label for="credit-input" class="col-xs-12 control-label" ng-if="!isNew">
                Selected Credit Line
            </label>
        </div>
        <div class="form-group" ng-class="{'has-error': !!errors.credit}">
            <div class="col-xs-12">
                <table>
                    <thead>
                        <tr>
                            <th ng-if="isNew"></th>
                            <th>Available credit</th>
                            <th>Total Credit</th>
                            <th>License Fee</th>
                            <th>Valid From</th>
                            <th>Valid To</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="credit in availableCredit">
                            <td ng-if="isNew" title="{{ credit.comment }}">
                                <input type="radio" ng-model="budgetItem.credit" ng-click="checkCreditValues()" ng-value="credit" />
                            </td>
                            <td>{{ credit.available | decimalCurrency:"$":2  }}</td>
                            <td>{{ credit.total | decimalCurrency:"$":2  }}</td>
                            <td>{{ credit.licenseFee }}%</td>
                            <td>{{ credit.startDate }}</td>
                            <td>{{ credit.endDate }}</td>
                            <td>
                                <zem-note-popover content="{{ credit.comment }}" placement="top"></zem-note-popover>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !!errors.startDate}">
            <label for="start-date-input" class="col-xs-3 control-label">
                Start Date
            </label>
            <div class="col-xs-4">
                <div class="input-group">
                    <input id="start-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" ng-disabled="!budgetItem.credit || !budgetItem.isEditable" init-date="initStartDate" min-date="minDate" max-date="maxDate" ng-model="budgetItem.startDate" is-open="startDatePicker.isOpen" ng-click="openStartDatePicker()" />
                    <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                </div>
            </div>
            <label ng-repeat="error in errors.startDate" class="col-xs-5 control-label error" for="start-date-input">{{ error }}</label>
        </div>
        <div class="form-group" ng-class="{'has-error': !!errors.endDate}">
            <label for="end-date-input" class="col-xs-3 control-label">
                End Date
            </label>
            <div class="col-xs-4">
                <div class="input-group">
                    <input id="end-date-input" type="text" class="form-control" datepicker-popup="M/d/yyyy" ng-disabled="!budgetItem.credit || !(budgetItem.isUpdatable || budgetItem.isEditable)" init-date="initEndDate" min-date="minDate" max-date="maxDate" ng-model="budgetItem.endDate" is-open="endDatePicker.isOpen" ng-click="openEndDatePicker()">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                </div>
            </div>
            <label ng-repeat="error in errors.endDate" class="col-xs-5 control-label error" for="end-date-input">{{ error }}</label>
        </div>
        <div class="form-group" ng-class="{'has-error': !!errors.amount}">
            <label for="amount-input" class="col-xs-3 control-label">
                Total Budget
            </label>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="amount-input" ng-disabled="!budgetItem.credit || !budgetItem.isEditable" type="text" class="form-control" ng-model="budgetItem.amount" zem-currency-input fraction-size="0" />
                    <div class="input-group-addon">.00</div>
                </div>
            </div>
            <label ng-repeat="error in errors.amount" class="col-xs-5 control-label error" for="amount">{{ error }}</label>
        </div>
        <div class="form-group" ng-class="{'has-error': !!errors.comment}">
            <label for="comment-input" class="col-xs-3 control-label">
                Notes
            </label>
            <div class="col-xs-4">
                <textarea id="comment-input" type="text" class="form-control" ng-model="budgetItem.comment" maxlength="256"></textarea>
            </div>
            <label ng-repeat="error in errors.comment" class="col-xs-5 control-label error" for="comment">{{ error }}</label>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <button type="button" class="btn btn-primary" ng-click="upsertBudgetItem()" ng-disabled="saveRequestInProgress">Save</button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" ng-click="discardBudgetItem()" ng-disabled="saveRequestInProgress">Discard</button>
            </div>
            <div class="col-xs-3"  ng-if="canDelete">
                <button type="button" class="btn btn-danger" ng-click="deleteBudgetItem()" ng-disabled="saveRequestInProgress">Delete</button>
            </div>
        </div>
        <div class="loader" ng-show="saveRequestInProgress"></div>
        <span ng-show="saved" class="success">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success">Your updates have been discarded.</span>
    </form>
</div>
