<div class="page page-campaign-agency" ng-if="!campaign.archived">
    <form id="form-campaign-agency" class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.name}">
            <label for="name-input" class="col-xs-3 control-label">
                Name
                <zem-help-popover content="Name of the campaign." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-4">
                <input id="name-input" type="text" class="form-control" ng-model="settings.name">
            </div>

            <label ng-repeat="error in errors.name" class="control-label error" for="name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.campaignManager}" ng-if="hasPermission('zemauth.can_modify_campaign_manager')">
            <label for="account-manager-select" class="col-xs-3 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_campaign_manager')" popover-placement="right"></zem-internal-feature>Campaign Manager
                <zem-help-popover content="Account manager responsible for the campaign and the communication with the client." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <ui-select theme="select2" id="account-manager-select" class="form-control" ng-model="settings.campaignManager">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="manager.id as manager in campaignManagers | orderBy:getName | filter:$select.search">
                        <div ng-bind-html="manager.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label ng-repeat="error in errors.campaignManager" class="control-label error" for="account-manager-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.iabCategory}" ng-if="hasPermission('zemauth.can_modify_campaign_iab_category')">
            <label for="iab-category-select" class="col-xs-3 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_modify_campaign_iab_category')" popover-placement="right"></zem-internal-feature>IAB Category
                <zem-help-popover content="IAB category under which content of this campaign belongs." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 2}" id="iab-category-select" class="form-control" ng-model="settings.iabCategory">
                    <option ng-repeat="category in iabCategories" value="{{category.value}}">{{category.name}}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.iabCategory" class="control-label error" for="iab-category-select">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.campaignGoal}" ng-if="!hasPermission('zemauth.can_see_campaign_goals')">>
            <label for="goal-input-label" class="col-xs-3 control-label">
                Campaign goal
                <zem-help-popover content="The top level goal of this campaign." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-4 form-inline">
                <label id="goal-input-label" class="col-xs-6" for="goal-input">Meet or beat the goal of</label>
                <input id="goal-input" type="text" class="form-control" ng-model="settings.goalQuantity">
            </div>
            <div class="col-xs-3">
                <select ui-select2="{minimumResultsForSearch: 10}" class="form-control" ng-model="settings.campaignGoal">
                    <option ng-repeat="goal in options.campaignGoals" value="{{goal.value}}">{{goal.name}}</option>
                </select>
            </div>
            <label ng-repeat="error in errors.campaignGoal" class="control-label error" for="goal-select">{{ error }}</label>
        </div>

        <div ng-if="hasPermission('zemauth.can_see_campaign_goals')">
            <div class="form-group section table-campaign-goals" ng-class="{'has-error': !!errors.goals || errors.noGoals}">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_see_campaign_goals')" popover-placement="right"></zem-internal-feature>Campaign goals:
                    </label>
                    <span class="col-xs-4" ng-show="!!errors.noGoals">
                        <label class="control-label error">{{ errors.noGoals }}</label>
                    </span>
                    <span class="col-xs-4" ng-show="campaignGoals.length > 1">
                        <span class="pull-right primary-goal-label">Primary goal</span>
                    </span>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <zem-campaign-goals account="account" campaign="campaign" goals="campaignGoals" model="campaignGoalsDiff"></zem-campaign-goals>
                    </div>
                    <div class="col-xs-6" ng-show="!!errors.goals">
                        <label ng-repeat="error in errors.goals" class="control-label error">{{ error }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-vertical">
            <div class="form-group" ng-class="{'has-error': !!errors.targetDevices}">
                <label class="col-xs-3 control-label">
                    Default device targeting
                    <zem-help-popover content="The devices on which your content ads should be shown. Used for all newly created ad groups." placement="top"></zem-help-popover>
                </label>
                <div class="col">
                    <div class="checkbox" ng-repeat='device in settings.targetDevices'>
                        <label>
                            <input type="checkbox" ng-model="device.checked"> {{ device.name }}
                        </label>
                    </div>
                </div>

                <label class="col-xs-2 control-label">
                    <span class="sidenote">* Outbrain, Facebook and Instagram don't support Tablet option.</span>
                </label>

                <label ng-repeat="error in errors.targetDevices" class="control-label error">{{ error }}</label>
            </div>

            <div class="form-group" ng-class="{'has-error': !!errors.targetRegions}">
                <label class="col-xs-2 control-label">
                    Default locations
                    <zem-help-popover content="The countries, states and DMA regions where your content ads should be shown. Used for all newly created ad groups." placement="top"></zem-help-popover>
                </label>

                <div class="col-xs-6 col-md-4">
                    <zem-locations zem-selected-location-codes="settings.targetRegions" zem-has-permission="hasPermission"></zem-locations>
                </div>

                <label ng-repeat="error in errors.targetRegions" class="control-label error">{{ error }}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox col-xs-10">
                <label>
                    <input type="checkbox" id="enable-ga-tracking" ng-model="settings.enableGaTracking"> Enable Google Analytics performance tracking
                    <zem-help-popover content="This adds performance tracking codes (_z1_msid, _z1_adgid, _z1_caid) to all URLs." placement="top"></zem-help-popover>
                </label>
            </div>
        </div>

        <div class="form-group indented" ng-if="hasPermission('zemauth.can_set_ga_api_tracking') && settings.enableGaTracking">
            <label for="ga-tracking-type-select" class="col-xs-3 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_ga_api_tracking')" popover-placement="right"></zem-internal-feature>
                Reporting type
                <zem-help-popover content="Google Analytics reporting type." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <ui-select
                        id="ga-tracking-type-select"
                        class="ga-tracking-type-select"
                        theme="select2"
                        search-enabled="false"
                        ng-model="settings.gaTrackingType">
                    <ui-select-match>
                        <div ng-bind="getGaTrackingTypeByValue(settings.gaTrackingType).name"></div>
                    </ui-select-match>
                    <ui-select-choices repeat="type.value as type in options.gaTrackingType">
                        <div>{{type.name}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="checkbox col-xs-12">
                <a ng-if="settings.gaTrackingType === constants.gaTrackingType.EMAIL"
                   href="http://help.zemanta.com/article/show/12522-setting-up-automated-google-analytics-reports"
                   target="_blank">
                   Download a guide to setting up Automated Google Analytics Report via email
                </a>
                <a ng-if="settings.gaTrackingType === constants.gaTrackingType.API"
                   href="http://help.zemanta.com/article/show/10814-realtime-google-analytics-reports_1"
                   target="_blank">
                   Download a guide to setting up Automated Google Analytics Report via API
                </a>
            </div>
        </div>

        <div class="form-group indented" ng-class="{'has-error': !!errors.gaPropertyId}" ng-if="hasPermission('zemauth.can_set_ga_api_tracking') && settings.gaTrackingType === constants.gaTrackingType.API && settings.enableGaTracking">
            <label for="ga-property-id-input" class="col-xs-3 control-label">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_set_ga_api_tracking')" popover-placement="right"></zem-internal-feature>
                Web property ID
                <zem-help-popover content="Google Analytics web property ID." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <input id="ga-property-id-input" type="text" class="form-control" ng-model="settings.gaPropertyId" placeholder="UA-xxxxxxx-yy">
                <div ng-if="!errors.gaPropertyId.length && settings.gaPropertyReadable !== undefined" ng-class="settings.gaPropertyReadable ? 'ga-connected' : 'ga-pending'">
                    {{ settings.gaPropertyReadable ? 'Connected' : 'Pending' }}
                </div>
            </div>

            <label ng-repeat="error in errors.gaPropertyId" class="control-label error" for="ga-property-id-input">{{ error }}</label>
        </div>

        <div class="form-group">
            <div class="checkbox col-xs-10">
                <label>
                    <input type="checkbox" id="enable-adobe-tracking" ng-model="settings.enableAdobeTracking"> Enable Adobe Analytics performance tracking
                    <zem-help-popover content="This adds performance tracking codes to all URLs." placement="top"></zem-help-popover>
                    <br />
                    <a href="http://help.zemanta.com/article/show/12524-setting-up-automated-adobe-analytics-reports" target="_blank">Download a guide to setting up Automated Adobe Analytics Report</a>
                </label>
            </div>
        </div>

        <div class="form-group indented" ng-class="{'has-error': !!errors.adobeTrackingParam}" ng-if="settings.enableAdobeTracking">
            <label for="adobe-tracking-param-input" class="col-xs-3 control-label">
                Adobe tracking parameter
                <zem-help-popover content="Name of the tracking parameter used for Adobe Analytics." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-2">
                <input id="adobe-tracking-param-input" type="text" class="form-control" ng-model="settings.adobeTrackingParam">
            </div>

            <label ng-repeat="error in errors.adobeTrackingParam" class="control-label error" for="adobe-tracking-param-input">{{ error }}</label>
        </div>

        <button type="button" class="btn btn-primary" ng-click="saveSettings()">Save</button>
        <button type="button" class="btn btn-default" ng-click="getSettings(true)">Discard</button>

        <div class="archive-container pull-right" ng-if="hasPermission('zemauth.archive_restore_entity')">
            <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
            <button type="button" class="btn btn-default" ng-class="{'disabled': !canArchive}" title="{{ (!canArchive && 'All of the campaign\'s ad groups have to be paused in order to archive the campaign.') || ''}}" ng-click="archiveCampaign()">Archive campaign</button>
        </div>

        <div class="loader" ng-show="requestInProgress"></div>
        <span ng-show="saved" class="success">Your updates have been saved.</span>
        <span ng-show="saved === false" class="error">An error occurred while saving. Please correct the marked fields and save again.</span>
        <span ng-show="discarded" class="success">Your updates have been discarded.</span>
    </form>
</div>

<div class="page page-campaign-settings" ng-if="!!campaign.archived">
    <p>
        <strong>This campaign is archived.</strong>
    </p>

    <p ng-if="!hasPermission('zemauth.archive_restore_entity')">
        Contact <a class="contact" href="mailto:help@zemanta.com?Subject=Archived%20Campaign%20Issue">Zemanta client services</a> if you need assistance.
    </p>

    <div class="settings-restore-container" ng-if="hasPermission('zemauth.archive_restore_entity')">
        <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
        <button type="button" class="btn btn-default" ng-class="{'disabled': !canRestore}" ng-click="restoreCampaign()" title="{{ (!canRestore && 'In order to restore a campaign, it\'s account must be restored first.') || '' }}">Restore campaign</button>
    </div>
</div>
