<div class="page page-content-insights">
    <div class="section">
        <div class="graph-infobox-parent" ng-class="{'graph-collapsed': !graphVisible}">
            <div class="graph-infobox-row">
                <div class="graph-container">
                </div>
                <div ng-if="hasInfoboxPermission" class="infobox-container">
                    <zem-infobox class="infobox-wrapper" header="infoboxHeader" basic-settings="infoboxBasicSettings" performance-settings="infoboxPerformanceSettings" link-to="infoboxLinkTo" state-id="$state.params.id"></zem-infobox>
                </div>
            </div>
        </div>
    </div>
</div>
