<div class="modal-body">
    <div class="conversion-pixel-form modal-form form-horizontal">
        <div class="title">Copy Tag</div>
        <div class="form-group">
            <div class="col-xs-12">
                <textarea rows="3" id="copy-tag-input" class="form-control" readonly ng-model="conversionPixelTag" zem-focus-select></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12 notice">
                <h5>Where do I place my conversion pixel on my site?</h5>
                <p> Conversion pixels need to be properly placed in order to measure goals effectively. We recommend placing your conversion pixel on the confirmation page which is shown to a person after the desired action is performed.
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
            </div>
        </div>
    </div>
</div>
