<div class="modal-body">
    <div class="conversion-pixel-form modal-form form-horizontal">
        <div class="title">Copy Tag</div>
        <div class="form-group">
            <div class="col-xs-12">
                <textarea rows="3" id="copy-tag-input" class="form-control" readonly ng-model="conversionPixelTag" zem-focus-select></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12 notice">
                The conversion pixel should be included in the web page at the point of conversion.
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
            </div>
        </div>
    </div>
</div>
