<div class="modal-header">
    <h4 class="modal-title">Export Report</h4>
</div>
<div class="modal-body">
    <form id="download-export-report-form" ng-submit="downloadReport()" class="modal-form add-scheduled-report-form form-horizontal">
        <div class="form-group" ng-if="hasPermission('zemauth.can_access_table_breakdowns_feature') && hasPermission('zemauth.hide_old_table_on_all_accounts_account_campaign_level')">
            <span class="col-xs-12">
                Note: Exports currently don't support some of the breakdowns available in the table view.
            </span>
        </div>

        <div class="form-group">
            <label for="granularity-select" class="col-xs-4 control-label">
                Report Granularity
                <zem-help-popover content="Granularity of the report." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
              <ui-select config
                  id="granularity-select"
                  theme="select2"
                  search-enabled="false"
                  ng-model="export.type"
                  class="form-control"
                  ng-change="checkDownloadAllowed()">
                  <ui-select-match placeholder="Choose granularity">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="option in options | filter:{hidden: '!true'}">
                      {{option.name}}
                  </ui-select-choices>
              </ui-select>
            </div>
        </div>

        <div class="form-group">
          <div class="col-xs-4">
            <label for="by-day-checkbox" class="control-label">Breakdown by day</label>
          </div>
          <div class="col-xs-4">
            <input id="by-day-checkbox"
                type="checkbox"
                ng-model="export.byDay"
                class="checkbox"
                ng-change="checkDownloadAllowed()">
          </div>
        </div>

        <div class="form-group" ng-if="hasPermission('zemauth.can_include_totals_in_reports')">
            <div class="col-xs-4">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_include_totals_in_reports')" popover-placement="right"></zem-internal-feature>
                <label for="include-totals-checkbox" class="control-label">Include totals</label>
            </div>
            <div class="col-xs-4">
                <input id="include-totals-checkbox"
                       type="checkbox"
                       ng-model="export.includeTotals"
                       class="checkbox">
            </div>
        </div>

        <div class="form-group" ng-if="hasPermission('zemauth.can_include_model_ids_in_reports')">
            <div class="col-xs-4">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_include_model_ids_in_reports')" popover-placement="right"></zem-internal-feature>
                <label for="add-ids-checkbox" class="control-label">Add IDs to report</label>
            </div>
            <div class="col-xs-4">
                <input id="add-ids-checkbox"
                       type="checkbox"
                       ng-model="export.includeIds"
                       class="checkbox">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <label for="add-missing-checkbox" class="control-label">Include items with no spend</label>
            </div>
            <div class="col-xs-4">
                <input id="add-missing-checkbox"
                       type="checkbox"
                       ng-model="export.includeMissing"
                       class="checkbox">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-add btn-icon download" ng-disabled="!downloadAllowed"><span class="icon"></span><span class="text">Download Now</span></button>
            <button type="button" class="btn btn-blue btn-outline" ng-click="$dismiss()"><span class="text">Cancel</span></button>
            
            <div class="loader" ng-show="addConversionGoalInProgress"></div>
            <span class="small error" ng-if="error" ng-if="!downloadAllowed">{{downloadNotAllowedMessage}}</span>
        </div>
    </form>
</div>
