<div class="logo-container">
    <a ui-sref="{{'main'}}"><img class="logo" ng-src="{{ config.static_url }}/one/img/logo_one_white.png"></a>
</div>

<div class="breadcrumb-container">
    <ol class="breadcrumb" ng-show="breadcrumb.length">
        <li ng-repeat="item in breadcrumb track by $index">
            <span ng-if="item.disabled" ng-class="{'active': $last}">{{ item.name }}</span>
            <a ng-if="!item.disabled" zem-in-link="{{item.state}}({{ item.params }})" ng-class="{'active': $last}">{{ item.name }}</a>
        </li>
    </ol>
</div>

<div class="profile-container">
    <div class="content">
        <div class="navbar-collapse-container">
            <div class="btn btn-link navigation-button" ng-show="true" ng-click="toggleNavigationPane()">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </div>
        </div>
        <div class="profile dropdown" dropdown>
            <a href="#" class="dropdown-toggle" dropdown-toggle>
                <i class="glyphicon glyphicon-user"></i>
            </a>
            <ul class="dropdown-menu" dropdown-menu>
                <li class="dropdown-header">{{ user.email }}</li>
                <li ng-if="hasPermission('zemauth.switch_to_demo_mode')"><zem-internal-feature ng-if="isPermissionInternal('zemauth.switch_to_demo_mode')" popover-placement="bottom"></zem-internal-feature><a ng-href="/demo_mode">Demo mode</a></li>
                <li><a ng-href="/signout">Sign out</a></li>
            </ul>
        </div>

        <div class="separator">&nbsp;</div>

        <div class="contact-content">
            <a href="http://help.zemanta.com/support/home" class="contact"
                zem-tutorial-popover-condition-promise="canshowbudgetnotification()"
                zem-tutorial-popover="Contact support and ask for budget"
                zem-tutorial-popover-placement="bottom">
                Help
            </a>
        </div>
    </div>
</div>
