<div class="container-fluid">
    <zem-header class="zem-header row"></zem-header>
    <zem-settings class="zem-settings"></zem-settings>
    <zem-filter-selector class="zem-filter-selector row"></zem-filter-selector>

    <div class="row body">
        <div class="content content-full" ng-show="accountsAccess.hasAccounts">
            <div ui-view></div>
        </div>

        <div ng-show="!accountsAccess.hasAccounts" ng-include src="'/partials/403.html'"></div>
    </div>

    <div class="row footer" ng-include src="'/partials/footer.html'"></div>
</div>
