<div class="page page-media-sources">
    <div class="section">
        <div class="graph-infobox-parent" ng-class="{'graph-collapsed': !graphVisible">
            <div class="graph-infobox-row">
                <div class="graph-container">
                    <zem-chart zem-data="chartData" zem-metric1="chartMetric1" zem-metric2="chartMetric2" zem-metric-options="chartMetricOptions" zem-min-date="dateRange.startDate" zem-max-date="dateRange.endDate" zem-on-remove="selectedSourceRemoved(id)" local-storage-prefix="localStoragePrefix"></zem-chart>
                </div>
                <div ng-if="hasInfoboxPermission" class="infobox-container">
                    <zem-infobox class="infobox-wrapper" header="infoboxHeader" basic-settings="infoboxBasicSettings" performance-settings="infoboxPerformanceSettings" link-to="infoboxLinkTo" state-id="$state.params.id"></zem-infobox>
                </div>
            </div>
        </div>
    </div>
    <div class="section table-sources">
        <div class="button-bar">
            <div class="button-bar-item pull-right">
                <zem-export
                    start-date="dateRange.startDate"
                    end-date="dateRange.endDate"
                    base-url="exportBaseUrl"
                    options="exportOptions"
                    columns="columns"
                    order="order"
                    level="level"
                    export-sources="true"
                    zem-has-permission="hasPermission"
                    zem-is-permission-internal="isPermissionInternal">
                </zem-export>
            </div>

            <zem-custom-table-cols class="pull-right" columns="columns" categories="columnCategories" local-storage-prefix="localStoragePrefix"></zem-custom-table-cols>

            <div class="clearfix"></div>
        </div>

        <alert type="info" class="alert-sync" ng-show="sourcesWaiting.length">
            We are adding the following media source(s): {{sourcesWaiting.join(', ')}}. This may take some time.
        </alert>
        <alert type="info" class="alert-sync" ng-show="!isSyncRecent">
            We are experiencing a delay synchronizing reporting metrics. <span ng-if="!!lastSyncDate">The last successful sync took place {{ lastSyncDate.fromNow() }}.</span>
            If you have any questions please contact us at <a href="mailto:help@zemanta.com">help@zemanta.com</a>.
        </alert>

        <zem-table zem-table-columns="columns" zem-table-rows="rows" zem-table-total-row="totals" zem-table-show-loader="loadRequestInProgress" zem-table-order="order" zem-table-order-callback="orderTableData(order)" zem-table-data-status="dataStatus"></zem-table>

        <div class="table-footnotes">
            <div ng-switch="lastSyncDate">
                <span ng-switch-when="null">
                    * Reporting metrics haven't been synced yet.
                </span>
                <span ng-switch-default>
                    * Reporting metrics synced {{ lastSyncDate.fromNow() }}. The reporting data is an estimate, and the final amount will be reflected on your invoice.
                </span>
            </div>
            <div ng-show="isIncompletePostclickMetrics">
                * Postclick metrics are incomplete for the selected date range. Please check the graph for more details.
            </div>
            <div>* All times are in Eastern Standard Time (EST).</div>
        </div>
    </div>
</div>
