<div class="page">
    <div class="section">
        <div class="title">Scheduled Reports<zem-help-popover content="Overview of Your reports scheduled for this account." placement="top"></zem-help-popover></div>
        <div class="loader-container">
            <div class="loader" ng-show="history.length && requestInProgress"></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Report Name</th>
                        <th>Report Level</th>
                        <th>Granularity</th>
                        <th>Frequency</th>
                        <th>Recipients</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="requestInProgress && !reports.length">
                        <td colspan="3" class="loader-row">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    <tr ng-show="(!reports || !reports.length) && !requestInProgress && !errorMessage">
                        <td class="no-data" colspan="6">No data</td>
                    </tr>
                    <tr ng-show="errorMessage">
                        <td class="no-data" colspan="6">{{ errorMessage }}</td>
                    </tr>

                    <tr ng-repeat="item in reports">
                        <td>{{ item.name }}</td>
                        <td>{{ item.level }}</td>
                        <td>{{ item.granularity }}</td>
                        <td>{{ item.frequency }}</td>
                        <td>{{ item.recipients }}</td>
                        <td><button type="button" class="btn btn-default" ng-click="removeReport(item.scheduled_report_id)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
