<div class="page">
    <h1>Scheduled Reports</h1>
    <div class="section white-background">
        <div class="description">Overview of your reports scheduled for this account.</div>
        <div class="loader-container">
            <div class="loader" ng-show="history.length && requestInProgress"></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Report Name</th>
                        <th>Report Level</th>
                        <th>Granularity</th>
                        <th>Frequency</th>
                        <th ng-if="hasPermission('zemauth.can_set_day_of_week_in_scheduled_reports')">Day of week</th>
                        <th ng-if="hasPermission('zemauth.can_set_time_period_in_scheduled_reports')">Time period</th>
                        <th>Recipients</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="requestInProgress && !reports.length">
                        <td colspan="8" class="loader-row">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    <tr ng-show="(!reports || !reports.length) && !requestInProgress && !errorMessage">
                        <td class="no-data" colspan="8">No data</td>
                    </tr>
                    <tr ng-show="errorMessage">
                        <td class="no-data" colspan="8">{{ errorMessage }}</td>
                    </tr>

                    <tr ng-repeat="item in reports">
                        <td>{{ item.name }}</td>
                        <td>{{ item.level }}</td>
                        <td>{{ item.granularity }}</td>
                        <td>{{ item.frequency }}</td>
                        <td ng-if="hasPermission('zemauth.can_set_day_of_week_in_scheduled_reports')">{{ item.day_of_week }}</td>
                        <td ng-if="hasPermission('zemauth.can_set_time_period_in_scheduled_reports')">{{ item.time_period }}</td>
                        <td>{{ item.recipients }}</td>
                        <td><button type="button" class="button button--small button--with-icon button--remove-icon" ng-click="removeReport(item.scheduled_report_id)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
