<div class="modal-body">
    <div class="uploading_completed">
        <img ng-src="{{ config.static_url }}/one/img/check_mark-circle.svg"/>
        <h1>Uploading completed</h1>
        <p><strong>{{ numSuccessful }} <ng-pluralize count="numSuccessful" when="{'one': 'ad', 'other': 'ads'}"></ng-pluralize></strong> <ng-pluralize count="numSuccessful" when="{'one': 'was', 'other': 'were'}"></ng-pluralize> successfully added to the ad group <strong>{{ adGroup.name }}</strong>.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-gray" ng-click="close()">Close</button>
    <button type="button" class="btn btn-add pull-right" ng-click="switchToFileUpload()">Upload more ads</button>
</div>
