<div class="modal-body">
    <form class="upload-form form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!errors.file}">
            <div class="col-xs-3">
                <label ng-repeat="error in errors.file" class="control-label small error" for="file-input" ng-bind-html="error"></label>
                <label ng-class="{'error-shown': errors.file}" class="control-label small sample-link">
                    <a href="{{ config.static_url }}/one/assets/Zemanta_Content_Ads_Template.csv">Download sample CSV</a>
                </label>
            </div>
            <div class="col-xs-5">
                <button type="button" class="btn btn-default" zem-file-input="formData.file">Choose file</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"></div>
            <div class="col-xs-5">
                <input type="text" id="file-input" readonly class="form-control" placeholder="No file chosen" ng-model="formData.file.name">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !!errors.batchName}">
            <label for="batch-name-input" class="col-xs-3 control-label">
                Batch name
                <zem-help-popover content="The name of the upload batch." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
                <input type="text" id="batch-name-input" class="form-control" ng-model="formData.batchName" ng-focus="clearErrors('batchName')">
            </div>
            <div class="col-xs-4">
                <label ng-repeat="error in errors.batchName" class="control-label small error" for="batch-name-input">{{ error }}</label>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-xs-6">
                <span class="form-title">Default content ad information</span>
                <zem-help-popover content="These settings will be used as defaults to generate content ads unless otherwise specified in upload CSV. Not all media sources / ad formats require all of them." placement="top"></zem-help-popover>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !!errors.displayUrl}">
            <label for="display-url-input" class="col-xs-3 control-label">
                Display URL
                <zem-help-popover content="Advertiser's display URL." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
                <input id="display-url-input" type="text" class="form-control" ng-model="formData.displayUrl" ng-focus="clearErrors('displayUrl')">
            </div>

            <label ng-if="!errors.displayUrl" class="control-label small">{{formData.displayUrl.length}}/25</label>
            <label ng-repeat="error in errors.displayUrl" class="control-label small error" for="display-url-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.brandName}">
            <label for="brand-name-input" class="col-xs-3 control-label">
                Brand name
                <zem-help-popover content="Advertiser's brand name." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
                <input id="brand-name-input" type="text" class="form-control" ng-model="formData.brandName" ng-focus="clearErrors('brandName')">
            </div>

            <label ng-if="!errors.brandName" class="control-label small">{{formData.brandName.length}}/25</label>
            <label ng-repeat="error in errors.brandName" class="control-label small error" for="brand-name-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.callToAction}">
            <label for="call-to-action-input" class="col-xs-3 control-label">
                Call to action
                <zem-help-popover content="Call to action text." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
                <div ui-select2="callToActionSelect2Config" id="call-to-action-input" class="form-control" ng-model="formData.callToAction" zem-select2-model-transform="text"></div>
            </div>

            <label ng-if="!errors.callToAction" class="control-label small">{{formData.callToAction.length}}/25</label>
            <label ng-repeat="error in errors.callToAction" class="control-label small error" for="call-to-action-input">{{ error }}</label>
        </div>

        <div class="form-group" ng-class="{'has-error': !!errors.description}">
            <label for="description-input" class="col-xs-3 control-label">
                Description
                <zem-help-popover content="Description of a content ad." placement="top"></zem-help-popover>
            </label>
            <div class="col-xs-5">
                <textarea id="description-input" type="text" class="form-control" ng-model="formData.description" ng-focus="clearErrors('description')">
                </textarea>
            </div>

            <label ng-if="!errors.description" class="control-label small">{{formData.description.length}}/140</label>
            <label ng-repeat="error in errors.description" class="control-label small error" for="description-input">{{ error }}</label>
        </div>

        <div ng-show="!!uploadStatus">
            <hr />
            <div ng-if="uploadStatus === uploadBatchStatusConstants.IN_PROGRESS && !uploadCanceled">
                <div class="progress-steps">
                    <div class="progress-step-box" ng-repeat="s in steps" ng-if="$index < step">{{$index + 1}}</div>

                    <span class="progress-step-description">{{ steps[step - 1] }}</span>

                    <span class="progress-steps-untouched">
                        <div class="progress-step-box" ng-repeat="s in steps" ng-if="$index >= step">{{$index + 1}}</div>
                    </span>
               </div>
                <div class="progress" style="width: 100%">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ getProgressPercentage() }}%;"></div>
                    <div class="progress-text">{{ count }} / {{ batchSize }}</div>
                    <div class="progress-text inverted" style="width:{{ getProgressPercentage() }}%;">{{ count }} / {{ batchSize }}</div>
                </div>
                <p>Please keep the window open while the upload is in progress.</p>
                <p ng-if="cancelErrors.cancel" class="error small">{{ cancelErrors.cancel }}</p>
            </div>

            <div class="progress-result" ng-if="uploadStatus === uploadBatchStatusConstants.DONE">
                <h4 class="title success">Uploading successfuly completed</h4>
                <p>All content ads were added to the list.</p>
            </div>

            <div class="progress-result" ng-if="uploadStatus === uploadBatchStatusConstants.FAILED && !uploadCanceled">
                <h4 class="title failed">Ooops, upload failed</h4>
                <p>Content upload was unsuccessful. {{ getErrorDescription() }}</p>
                <div class="form-group" ng-if="errors.details.reportUrl">
                    <div class="col-xs-6">
                        <a class="btn btn-default btn-sm" href="{{ errors.details.reportUrl }}">Download CSV file with errors</a>
                    </div>
                </div>
            </div>

            <div class="progress-result" ng-if="uploadCanceled && uploadStatus !== uploadBatchStatusConstants.DONE">
                <h4 class="title failed">Upload canceled</h4>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4" ng-if="!uploadStatus">
                <button type="button" class="btn btn-add" ng-click="upload()">Upload</button>
            </div>
            <div class="col-xs-4" ng-if="uploadStatus === uploadBatchStatusConstants.DONE">
                <button type="button" class="btn btn-add" ng-click="viewUploadedAds()">View uploaded ads</button>
            </div>
            <div class="col-xs-4" ng-if="uploadStatus === uploadBatchStatusConstants.FAILED || (uploadStatus === uploadBatchStatusConstants.IN_PROGRESS && uploadCanceled && !cancelActionInProgress)">
                <button type="button" class="btn btn-add" ng-click="upload()">Try again</button>
            </div>
            <div class="col-xs-4" ng-if="uploadStatus !== uploadBatchStatusConstants.DONE">
                <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="isCancelDisabled()">{{ cancelActionInProgress ? "Canceling upload ..." : "Cancel upload" }}</button>
            </div>
        </div>
    </form>
</div>
