<div class="zem-table-container">
    <div class="loader-container">
        <div class="loader" ng-show="rows.length && showLoader"></div>

        <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th ng-if="col.shown" ng-class="{'text-right': isNumberColumnType(col.type), 'arrow': col.order, ordered: order === '-' + (col.orderField || col.field), 'ordered-reverse': order === (col.orderField || col.field)}" class="{{ col.extraThCss }}" ng-repeat="col in columns | filter: {checked: true}">
                            <span ng-if="col.hasPermission && col.selectionMenuConfig">
                                <zem-selection-menu config="col.selectionMenuConfig" />
                            </span>
                            <span ng-if="!col.selectionMenuConfig">
                                <zem-internal-feature ng-if="col.internal"></zem-internal-feature>
                                <span ng-switch="col.order">
                                    <a ng-switch-when='true' href class="col-title order" ng-class="col.nameCssClass" ng-click="callOrderCallback((col.orderField || col.field))">{{ col.name }}</a>
                                    <span ng-switch-default class="col-title" ng-class="col.nameCssClass">{{ col.name }}</span>
                                </span>
                                <zem-help-popover ng-if="col.help" content="{{ col.help }}" placement="{{ $last ? 'left' : 'top' }}"></zem-help-popover>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="showLoader && !rows.length">
                        <td colspan="100" class="loader-row">
                            <div class="loader"></div>
                        </td>
                    </tr>
                    <tr ng-show="(!rows || !rows.length) && !showLoader">
                        <td class="no-data" colspan="100">No data</td>
                    </tr>
                    <tr ng-repeat="row in rows" ng-class="{'archived': row.archived}" class="zem-table-row {{ performance(row.performance) }}">
                        <td ng-if="col.shown" ng-class="{'number': isNumberColumnType(col.type), 'text-right': isNumberColumnType(col.type), 'input-one-char': col.type === 'checkbox', 'text-center': col.type === 'link', 'image': col.type === 'image', 'table-icon': col.type === 'icon' }" class="{{ col.extraTdCss }} {{ additionalColumnClass(row, col) }}" ng-repeat="col in columns | filter: {checked: true}">
                            <span ng-switch="col.type" class="zem-table-column-value">
                                <span ng-switch-when="image">
                                    <img ng-show="row[col.field].square" ng-src="{{row[col.field].square}}" zem-lazy-popover-template="'thumbnailPopover.html'" zem-lazy-popover-placement="left" zem-lazy-popover-animation-class="fade" zem-lazy-popover-append-to-body="true"/>
                                    <img ng-show="!row[col.field].square"/>
                                </span>
                                <span ng-switch-when="submissionStatus">
                                    <zem-submission-status status-items="row[col.field]" archived="row[col.archivedField]" />
                                </span>
                                <span ng-switch-when="icon">
                                    <div ng-if="row[col.field] === constants.emoticon.HAPPY">
                                        <zem-icon img-class="zem-icon-happy" file="happy_face.svg"></zem-icon>

                                    </div>

                                    <div ng-if="row[col.field] === constants.emoticon.SAD">
                                        <zem-icon img-class="zem-icon-sad" file="sad_face.svg"></zem-icon>
                                    </div>

                                    <div ng-if="row[col.field] === constants.emoticon.NEUTRAL">
                                        <zem-icon img-class="zem-icon-neutral" file="neutral_face.svg"></zem-icon>
                                    </div>

                                </span>
                                <span ng-switch-when="currency">
                                    <span class="non-editable-currency-field" ng-if="!isFieldEditable(row, col.field)" ng-class="{'currency-3': col.fractionSize === 3}">
                                        <span ng-if="col.settingsField" zem-lazy-popover-append-to-body="true" zem-lazy-popover-html-unsafe="{{ getSettingsFieldMessage(row, col.field) }}" zem-lazy-popover-placement="right" zem-lazy-popover-animation-class="fade">
                                            <div ng-if="col.adGroupAutopilotOn() && row.status_setting == col.statusSettingEnabledValue" class="auto-pilot-icon-row"></div>
                                            {{ (row[col.field] | decimalCurrency:"$":col.fractionSize:"") || 'N/A' }}
                                        </span>
                                        <span ng-if="!col.settingsField">
                                            {{ (row[col.field] | decimalCurrency:"$":col.fractionSize:"") || 'N/A' }}
                                        </span>
                                    </span>
                                    <zem-editable-currency-field ng-if="isFieldEditable(row, col.field)" value="row[col.field]" on-save="col.onSave" row-id="row.id" fraction-size="col.fractionSize" replace-trailing-zeros="''" />
                                </span>
                                <span ng-switch-when="percent">
                                    <span ng-switch="row[col.field]">
                                        <span ng-switch-when="null">
                                            {{ col.defaultValue || 'N/A' }}
                                        </span>
                                        <span ng-switch-when="undefined">
                                            {{ col.defaultValue || 'N/A' }}
                                        </span>
                                        <span ng-switch-default>
                                            {{ (row[col.field] | number:2) }}%
                                        </span>
                                    </span>
                                </span>
                                <span ng-switch-when="number">
                                    <span ng-switch="!!col.fractionSize">
                                        <span ng-switch-when="true">
                                            {{ (row[col.field] | number:col.fractionSize) || 'N/A' }}
                                        </span>
                                        <span ng-switch-default>
                                            {{ (row[col.field] | number:0) || 'N/A' }}
                                        </span>
                                    </span>
                                </span>
                                <span ng-switch-when="seconds">
                                    <span ng-switch="row[col.field]">
                                        <span ng-switch-when="null">
                                            N/A
                                        </span>
                                        <span ng-switch-when="undefined">
                                            N/A
                                        </span>
                                        <span ng-switch-default>
                                            {{ (row[col.field] | number:1) }} s
                                        </span>
                                    </span>
                                </span>
                                <span ng-switch-when="datetime">
                                    <span class="datetime">
                                        {{ (row[col.field] | date:'M/d/yyyy h:mm a') || 'N/A' }}
                                    </span>
                                </span>
                                <span ng-switch-when="link">
                                    <a ng-if="row[col.field] !== null" ng-href="{{ row[col.field] }}" target="_blank"><img ng-src="{{ config.static_url }}/one/img/link.svg" class="link-img"></a>
                                    <img ng-if="row[col.field] === null" ng-src="{{ config.static_url }}/one/img/link.svg" class="link-img link-img-disabled" zem-lazy-popover-text="{{row.supply_dash_disabled_message}}" zem-lazy-popover-placement="right" zem-lazy-popover-append-to-body="true" zem-lazy-popover-animation-class="fade">
                                </span>
                                <span ng-switch-when="visibleLink">
                                    <a ng-show="row[col.field] !== null && row[col.field] !== ''" ng-href="{{ row[col.field] }}" target="_blank"><img ng-src="{{ config.static_url }}/one/img/link.svg" class="link-img"></a>
                                </span>
                                <span ng-switch-when="linkText">
                                    <a ng-href="{{ row[col.field].url }}" ng-click="openUrl(row[col.field], $event)" ng-attr-title="{{ row[col.titleField] }}" ng-if="!!row[col.field].url">{{ row[col.field].text }}</a>
                                    <span ng-if="!row[col.field].url">{{ row[col.field].text }}</span>
                                </span>
                                <span ng-switch-when="linkNav" class="pointer">
                                    <a zem-in-link="{{row[col.field].state}}({id: {{row[col.field].id}}})">{{ row[col.field].text }} </a>
                                </span>
                                <span ng-switch-when="clickPermissionOrText">
                                    <a ng-if="col.hasPermission" ng-click="col.clickCallback(row.id)" href>{{ row[col.field] }}</a>
                                    <span ng-if="!col.hasPermission">{{ row[col.field] }}</span>
                                </span>
                                <span ng-switch-when="text">
                                    {{ row[col.field] }}
                                </span>
                                <span ng-switch-when="textWithPopup">
                                    <div zem-lazy-popover-text="{{ row[col.popupField] }}"
                                        zem-lazy-popover-placement="left"
                                        zem-lazy-popover-animation-class="fade"
                                        zem-lazy-popover-append-to-body="true">
                                    {{ row[col.field] }}
                                    </div>
                                </span>
                                <span
                                    ng-switch-when="notification"
                                    zem-lazy-popover-html-unsafe="{{ notifications[row.id].message }}"
                                    zem-lazy-popover-placement="bottom"
                                    zem-lazy-popover-animation-class="fade">
                                    <span ng-if="row[col.field]" class="text" ng-class="{'important': notifications[row.id].important}">{{ row[col.field] }}</span>
                                    <span ng-if="notifications[row.id].inProgress" class="loader"></span>
                                </span>
                                <span ng-switch-when="dataStatus">
                                    <span
                                        ng-style="{'margin-left': col.internal ? '20px' : '3px'}"
                                        ng-class="{'okay-icon': dataStatus[row.id].ok, 'alert-icon': !dataStatus[row.id].ok}"
                                        zem-lazy-popover-html-unsafe="{{ dataStatus[row.id].message }}"
                                        zem-lazy-popover-placement="left"
                                        zem-lazy-popover-animation-class="fade"
                                        zem-lazy-popover-append-to-body="true">
                                    </span>
                                </span>
                                <span ng-switch-when="checkbox" class="checkbox"
                                    zem-lazy-popover-visible="{{ row[col.popupField] }}"
                                    zem-lazy-popover-text="{{ row[col.popupField] }}"
                                    zem-lazy-popover-placement="right"
                                    zem-lazy-popover-animation-class="fade"
                                    zem-lazy-popover-append-to-body="true"
                                    >
                                    <input
                                        type="checkbox"
                                        data-ng-model="row[col.field]"
                                        ng-disabled="!row[col.field] && col.disabled || row.disabledSelection"
                                        data-ng-change="col.selectCallback(row, row[col.field])"
                                        />
                                </span>
                                <span ng-switch-when="state">
                                    <zem-state-selector
                                        id="row.id"
                                        on-change="col.onChange",
                                        on-autopilot-change="col.onAutopilotChange",
                                        is-editable="isFieldEditable(row, col.field)"
                                        value="row[col.field]"
                                        enabled-value="col.enabledValue"
                                        paused-value="col.pausedValue"
                                        autopilot-enabled-value="col.autopilotEnabledValue"
                                        autopilot-paused-value="col.autopilotPausedValue"
                                        autopilot-value="row.autopilot_state"
                                        autopilot-internal="col.autopilotInternal"
                                        autopilot-shown="col.autopilotShown"
                                        enabling-autopilot-sources-not-allowed="col.enablingAutopilotSourcesNotAllowed()"
                                        disabled-message="col.getDisabledMessage(row)"
                                        archived="row[col.archivedField]">
                                    </zem-state-selector>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td ng-if="col.shown" ng-class="{'number': isNumberColumnType(col.type), 'text-right': isNumberColumnType(col.type)}" ng-repeat="col in columns | filter: {checked: true}">
                            <span ng-if="col.hasTotalsLabel">TOTALS</span>

                            <span ng-if="col.totalRow" ng-switch="col.type">
                                <span ng-if="col.field != 'last_sync'">
                                    <span ng-switch-when="currency">
                                        <span ng-class="{'currency-3': col.fractionSize === 3}">
                                            {{ (totalRow[col.field] | decimalCurrency:"$":col.fractionSize:"") || 'N/A' }}
                                        </span>
                                    </span>
                                    <span ng-switch-when="percent">
                                        <span ng-switch="totalRow[col.field]">
                                            <span ng-switch-when="null">
                                                {{ col.defaultValue || 'N/A' }}
                                            </span>
                                            <span ng-switch-when="undefined">
                                                {{ col.defaultValue || 'N/A' }}
                                            </span>
                                            <span ng-switch-default>
                                                {{ (totalRow[col.field] | number:2) }}%
                                            </span>
                                        </span>
                                    </span>
                                    <span ng-switch-when="number">
                                        <span ng-switch="!!col.fractionSize">
                                            <span ng-switch-when="true">
                                                {{ (totalRow[col.field] | number:col.fractionSize) || 'N/A' }}
                                            </span>
                                            <span ng-switch-default>
                                                {{ (totalRow[col.field] | number:0) || 'N/A' }}
                                            </span>
                                        </span>
                                    </span>
                                    <span ng-switch-when="seconds">
                                        <span ng-switch="totalRow[col.field]">
                                            <span ng-switch-when="null">
                                                N/A
                                            </span>
                                            <span ng-switch-when="undefined">
                                                N/A
                                            </span>
                                            <span ng-switch-default>
                                                {{ (totalRow[col.field] | number:1) }} s
                                            </span>
                                        </span>
                                    </span>
                                    <span ng-switch-when="datetime">
                                        {{ (totalRow[col.field] | date:'M/d/yyyy h:mm a') || 'N/A' }}
                                    </span>
                                    <span ng-switch-when='checkbox' class="checkbox">
                                        <input type="checkbox" data-ng-model="totalRow.checked" data-ng-change="callSelectCallback(col.selectCallback, totalRow, totalRow[col.field], false)"/>
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- yes, we have width and height in html, so popup gets correctly sized immediately on html load, otherwise flickering due to resize ensues -->
<script id="thumbnailPopover.html" type="text/ng-template">
    <div class="thumbnail-popover">
        <img width="128" height="80" ng-src="{{ row[col.field].landscape }}"/>
        <img width="80" height="80" ng-src="{{ row[col.field].square }}"/>
    </div>
</script>
