<div class="dropdown" is-open="isOpen">
	<div class="btn btn-default dropdown-toggle"> <!--  ng-click="dropdownToggle()"> -->
		<!-- TODO - figure out how Google does this properly -->
		<input class="disabled" type="checkbox"> <!-- ng-model="selectAll" data-ng-change="selectAllCallback()"/> -->
    	<button class="btn btn-default dropdown-toggle">Abc</button>
	</div>
	<ul class="dropdown-menu" role="menu">
	<table class="table table-hover">
		<thead />
		<tbody>
			<tr ng-repeat="option in selection-options">
				<button class="btn btn-default"><!-- ng-model="option.selected" data-ng-change="changeSelectionCallback()"> -->
					{{ option.name }}
				</button>
			</tr>
		</tbody>
	</table>
	</ul>
	<!--
    <button class="btn btn-default dropdown-toggle">
        <div ng-if="active" class="active-circle-icon"></div>
        <div ng-if="!active" class="pause-icon"></div>
        <div class="drop-arrow"></div>
    </button>
    <ul ng-if="isEditable" class="dropdown-menu enabled" role="menu">
        <li>
            <a ng-click="setState(enabledValue)">
                <div class="active-circle-icon"></div><span>Enabled</span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a ng-click="setState(pausedValue)">
                <div class="pause-icon"></div><span>Paused</span>
            </a>
        </li>
    </ul>
    <ul ng-if="!isEditable" class="dropdown-menu" role="menu">
        <li ng-if="active"><a ng-click="setState(value)"><div class="active-circle-icon"></div><span>Enabled</span></a></li>
        <li ng-if="!active"><a ng-click="setState(value)"><div class="pause-icon"></div><span>Paused</span></a></li>
        <li class="dropdown-header">{{ disabledMessage }}</li>
    </ul>
	-->
</div>
