<span zem-lazy-popover-text="{{ disabledTitleOrUndefined }}"
      zem-lazy-popover-placement="top"
      zem-lazy-popover-append-to-body="true"
      zem-lazy-popover-trigger="mouseenter">
<select
    ui-select2="dropdownConfig"
    data-placeholder="{{ placeholder }}"
    ng-model="selectedItem"
    ng-change="callOnSelect()"
    class="{{ cssClass }}"
    ng-disabled="checkDisabled()">
        <option value=""></option>
        <option ng-repeat="option in dropdownOptions | filter: {hasPermission: true}" ng-disabled="option.checkDisabled && option.checkDisabled() || option.disabled" value="{{ option.value }}">{{ option.name }}</option>
</select>
</span>
