<div ng-show="selectedLocationCodes" class="selected-locations">
    <div class="location-tag" ng-if="!selectedLocationCodes.length"><span class="location-name">Worldwide</span></div>
    <div class="location-tag" ng-repeat="location in selectedLocations()" ng-click="removeSelectedLocation(location)">
        <span ng-if="regions.isDMA(location) || regions.isUSState(location)" class="location-dma">US</span>
        <span class="location-name">
            {{location.name}}
            <img class="remove" ng-src="{{ config.static_url }}/one/img/x_gray.svg">
        </span>
    </div>
</div>

<div ng-if="showUndo()">
    <b>{{someReplacedNames.join(", ")}}</b> 
    <ng-pluralize count="someReplacedNames.length" when="{'1': 'was', 'other': 'were'}"></ng-pluralize> 
    replaced by 
    <b>{{name}}</b> 
    since it is a {{reason}} location targeting.
    <a href="" ng-click="undo()">Undo?</a>
</div>
<select ui-select2="selectorConfig" ng-model="selectedLocationCode" ng-change="addLocation()" data-placeholder="Add Location">
    <option value=""></option>
    <optgroup label="Countries">
        <option ng-repeat="location in regions.regions | orderBy:'name' | filter: regions.isCountry" value="{{location.code}}">{{location.name}}</option>
    </optgroup>
    <optgroup label="DMAs (United States)">
        <option ng-repeat="location in regions.regions | orderBy:'name' | filter: regions.isDMA" value="{{location.code}}">US: {{location.name}}</option>
    </optgroup>
    <optgroup label="U.S. States" ng-if="hasPermission('zemauth.can_set_subdivision_targeting')">
        <option ng-repeat="location in regions.regions | orderBy:'name' | filter: regions.isUSState" value="{{location.code}}">{{location.name}}</option>
    </optgroup>
</select>
