<div class="zem-selection-menu dropdown">
    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <input 
            id="zem-all-checkbox"
            type="checkbox"
            ng-model="selectedAll"
            ng-click="selectAll($event)">
        </input>
        <div class="drop-arrow" ng-show="len(option.items) > 0"></div>
    </div>
    <ul class="dropdown-menu" role="menu" ng-show="len(option.items) > 0">
        <li role="presentation" ng-repeat="option in config.selectionOptions" ng-class="{ 'divider': {{option.type=='separator'}} }">
        <div ng-if="option.type == 'link'" class="link">
            <div role="menuitem" tabindex="-1" ng-click="handleOptionClick(option)">{{ option.name }}</div>
        </div>

        <div ng-if="option.type == 'link-list'" class="link-list">
            <div class="link-list-name">{{ option.name }}:</div>
            <div class="link-list-items">
                <div class="link-list-item" ng-repeat="item in option.items">
                    <div role="menuitem" tabindex="-1" ng-click="handleOptionItemClick(option, item)">{{ item.name }}</div>
                </div>
            </div>
        </div>
        </li>
    </ul>
</div>
