<div>
    <div>
        Title<br />
        Subtitle
    </div>

    <div>
        <zem-infobox-setting label="'a bit longer than usual key'"  value="'value'" />
        <zem-infobox-setting label="'key'"  value="'value'" />
        <zem-infobox-setting label="'key'"  value="'value'" />
    </div>

    <hr>

    <div>
        <zem-infobox-setting label="'key'"  value="'value'" /><br />
        <zem-infobox-setting label="'key'"  value="'value'" /><br />
        <zem-infobox-setting label="'key'"  value="'value'" /><br />
    </div>
</div>
