<span class="dropdown custom-cols" dropdown>
  <a href class="btn btn-default dropdown-toggle" dropdown-toggle title="Show/hide columns">
    ...
  </a>
  <ul class="dropdown-menu dropdown-menu-right" dropdown-menu>
    <div ng-switch="hasCategories">
      <div ng-switch-when="true">
        <div ng-repeat="cat in categoryColumns">
          <div class="category-name">{{ cat.name }}</div>
          <li ng-repeat="col in cat.columns | filter:filterColumns">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="col.checked" ng-change="columnUpdated(col)">
                <zem-internal-feature ng-if="col.internal">
                </zem-internal-feature>
                {{ col.name }}
              </label>
            </div>
          </li>
       </div>
      </div>
      <div ng-switch-default>
        <li ng-repeat="col in columns | filter:filterColumns">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="col.checked" ng-change="columnUpdated(col)">
              <zem-internal-feature ng-if="col.internal">
              </zem-internal-feature>
              {{ col.name }}
            </label>
          </div>
        </li>
      </div>
    </div>
  </ul>
</span>
