<div class="zem-conversion-pixels white-background">
    <h2>Pixels</h2>
    <div class="description">Zemanta's pixels allow you to report conversions, build audiences and get insights about how people use your website.</div>
    <div class="loader" ng-show="listInProgress"></div>
    <div class="loader-container" ng-if="conversionPixels.length">
        <div class="loader" ng-show="conversionPixels.length && listInProgress"></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="arrow" ng-class="{ordered: orderField === 'name' && !orderReverse, 'ordered-reverse': orderField === 'name' && orderReverse}">
                        <a href class="order" ng-click="orderField = 'name'; orderReverse = !orderReverse">Name</a>
                        <zem-help-popover content="Pixel's name" placement="top"></zem-help-popover>
                    </th>
                    <th ng-if="hasPermission('zemauth.can_see_pixel_traffic')" is-internal="zemauth.can_see_pixel_traffic">
                        Last Triggered
                        <zem-help-popover content="Synchronized every 24 hours." placement="top"></zem-help-popover>
                    </th>
                    <th ng-if="hasPermission('zemauth.can_see_pixel_traffic')" is-internal="zemauth.can_see_pixel_traffic">
                        Traffic Yesterday
                        <zem-help-popover content="Number of times pixel triggered yesterday. Synchronized every 24 hours." placement="top"></zem-help-popover>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'archived': item.archived}" ng-repeat="item in conversionPixels | orderBy:orderField:orderReverse | filter: filterConversionPixels">
                    <td class="pixel-name">
                        {{ item.name }}

                    </td>
                    <td ng-if="hasPermission('zemauth.can_see_pixel_traffic')">
                        {{ (item.lastTriggered | date:'M/d/yyyy h:mm a') || 'Never' }}
                    </td>
                    <td ng-if="hasPermission('zemauth.can_see_pixel_traffic')">
                        {{ item.impressions }}
                    </td>
                    <td>
                        <span class="loader" ng-if="item.requestInProgress"></span>
                        <span ng-if="!!item.error" class="error">
                            An error has occured. Please contact support at <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error persists.
                        </span>
                    </td>
                    <td class="action-buttons">
                        <span ng-if="hasPermission('zemauth.archive_restore_entity') && !item.archived">
                            <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="left"></zem-internal-feature>
                            <a tabindex="-1" ng-click="archiveConversionPixel(item)" href="#" class="button button--small button--with-icon archive-icon">Archive</a>
                        </span>
                        <span ng-if="hasPermission('zemauth.archive_restore_entity') && !!item.archived">
                            <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="left"></zem-internal-feature>
                            <a tabindex="-1" ng-click="restoreConversionPixel(item)" href="#" class="button button--small button--with-icon archive-icon">Restore</a>
                        </span>
                        <span ng-if="!item.archived">
                            <a tabindex="-1" ng-click="copyConversionPixelTag(item)" href="#" class="button button--small button--with-icon copy-icon">Copy tag</a>
                        </span>
                        <span ng-if="!item.archived">
                            <a tabindex="-1" ng-click="editConversionPixel(item)" href="#" class="button button--small button--with-icon edit-icon">Edit pixel</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="button button--with-icon add-icon" ng-class="{'disabled': !!listInProgress || !!listError}" ng-click="addConversionPixel()">Add Pixel</button>
    <span ng-if="!!listError" class="error">
        An error has occurred while loading pixels. Please contact support at <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error persists.
    </span>
</div>
