<div id="nav-search">
    <select ui-select2="navSelectorOptions" ng-model="navSelector" ng-change="navSelectorChanged()" class="filter">
        <option></option>
        <optgroup label="Accounts" ng-if="canAccessAccounts">
            <option ng-repeat="account in accounts track by account.id" value="{{ account.id }}" ng-class="{'archived': account.archived}" data-agency="{{account.agency}}">{{ account.name }}</option>
        </optgroup>
        <optgroup label="Campaigns" ng-if="canAccessCampaigns">
            <option ng-repeat="campaign in campaigns track by campaign.id" value="{{ campaign.id }}" ng-class="{'archived': campaign.archived}" data-agency="{{campaign.agency}}">{{ campaign.name }}</option>
        </optgroup>
        <optgroup label="Ad Groups">
            <option ng-repeat="adGroup in adGroups track by adGroup.id" value="{{ adGroup.id }}" data-agency="{{adGroup.agency}}" ng-class="{'archived': adGroup.archived }">{{ adGroup.name }}</option>
        </optgroup>
    </select>
</div>
