<tabset class="zem-side-tabset" vertical="true">
    <tab ng-repeat="tab in tabs | filter:{hidden: '!true'}" active="tab.heading === selected.heading">
        <tab-heading class="test">
           <div class="tab-table">
               <div class="tab-row">
                    <div class="tab-body-cell {{tab.cls}}">
                        <a class="tab-title" ng-click="tabClick(tab)">
                        <zem-internal-feature ng-if="tab.internal" popover-placement="bottom"></zem-internal-feature>
                        </a>
                    </div>
                    <div class="tab-selection-cell">
                        <div ng-class="{'right-arrow': selected.heading === tab.heading}"></div>
                    </div>
                </div>
            </div>
        </tab-heading>
    </tab>
</tabset>
