<div ng-show="selectedLocationCodes" class="input-tags custom-scroller">
    <div class="input-tags__item" ng-if="!selectedLocationCodes.length"><span class="input-tags__name">Worldwide</span></div>
    <div class="input-tags__item input-tags__item--with-remove" ng-repeat="location in selectedLocations()" ng-click="removeSelectedLocation(location)">
        <span ng-if="regions.isDMA(location) || regions.isUSState(location)" class="input-tags__prefix">US</span>
        <span class="input-tags__name input-tags__name--with-remove">
            {{location.name}}
        </span>
    </div>
</div>

<div class="message message--warning message--with-icon zem-settings-locations__undo" ng-if="showUndo()">
    <strong>{{someReplacedNames.join(", ")}}</strong>
    <ng-pluralize count="someReplacedNames.length" when="{'1': 'was', 'other': 'were'}"></ng-pluralize>
    replaced by
    <strong>{{name}}</strong>
    since it is a {{reason}} location targeting.
    <a href="" ng-click="undo()">Undo?</a>
</div>
<div>
    <select ui-select2="selectorConfig" ng-model="selectedLocationCode" ng-change="addLocation()" data-placeholder="Add Location" class="button button--with-icon add-icon button--dropdown-toggle-icon">
        <option value=""></option>
        <optgroup label="Countries">
            <option ng-repeat="location in regions.regions | orderBy:'name' | filter: regions.isCountry" value="{{location.code}}">{{location.name}}</option>
        </optgroup>
        <optgroup label="DMAs (United States)">
            <option ng-repeat="location in regions.regions | orderBy:'name' | filter: regions.isDMA" value="{{location.code}}">US: {{location.name}}</option>
        </optgroup>
        <optgroup label="U.S. States" ng-if="hasPermission('zemauth.can_set_subdivision_targeting')">
            <option ng-repeat="location in regions.regions | orderBy:'name' | filter: regions.isUSState" value="{{location.code}}">{{location.name}}</option>
        </optgroup>
    </select>
</div>
