<div class="zem-grid-container">
    <!-- DEBUG PANEL [START] -->
    <!-- TODO: move to development partial and bind with controller  -->
    <div class="debug-panel">
        <span>[DEBUG] Breakdowns : </span>
        <label ng-repeat="(breakdown, enabled) in DEBUG_BREAKDOWNS">
            <input type="checkbox" ng-model="DEBUG_BREAKDOWNS[breakdown]">
            {{breakdown}}
        </label>
        <button type="submit" class="btn btn-default" ng-click="DEBUG_APPLY_BREAKDOWN()">Submit</button>
    </div>
    <div class="debug-panel">
        <span> [DEBUG] Collapse : </span>
        <button type="submit" class="btn btn-default" ng-click="toggleCollapseLevel(1)">Toggle Level 1</button>
        <button type="submit" class="btn btn-default" ng-click="toggleCollapseLevel(2)">Toggle Level 2</button>
        <button type="submit" class="btn btn-default" ng-click="toggleCollapseLevel(3)">Toggle Level 3</button>
    </div>
    <!-- DEBUG PANEL [END] -->

    <table zem-grid-fixed-header class="zem-grid table table-hover">
        <thead>
        <tr>
            <th ng-repeat="col in header.columns">
                <span class="col-title">{{ col }}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows track by $index" ng-if="row.visible" ng-class="getRowClass(row)">
            <td ng-if="row.type==GridRowType.STATS" ng-repeat="col in row.data.stats track by $index">
                            <span ng-if="$index===0 && row.data.breakdown && row.level>0">
                                <a ng-click="toggleCollapse(row)" class="action">
                                    {{row.collapsed ? '[ + ]' : '[ - ]'}}
                                </a>
                            </span>
                <span>{{col}}</span>
            </td>

            <td ng-if="row.type==GridRowType.BREAKDOWN">
                <a ng-click="loadMore(row)">
                    - {{row.data.pagination.size}} of {{row.data.pagination.count}} -
                </a>
            </td>
            <td ng-if="row.type==GridRowType.BREAKDOWN" colspan="8">
                <div ng-if="row.data.pagination.to < row.data.pagination.count">
                    <a ng-click="loadMore(row, 5)"> (show 5 more) </a>
                    <a ng-click="loadMore(row, -1)"> (show all) </a>
                </div>
                <div ng-if="row.data.pagination.to === row.data.pagination.count">
                    <a ng-click=""> (show less) </a>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th ng-repeat="col in footer.data.stats">
                <span class="col-title">{{ col }}</span>
            </th>
        </tr>
        </tfoot>
    </table></div>
</div>
