<div class="infobox infobox-background">
    <div class="infobox-header">
        <div ng-class="[{'active-circle-icon': header.active, 'infobox-active-circle-icon-gray': !header.active}, 'infobox-title', 'infobox-status']"></div>
        <div style="display:inline-block;">
            <div class="infobox-title">{{header.title}}</div>
            <div class="infobox-subtitle">{{header.subtitle}}</div>
        </div>

        <a class="btn btn-default infobox-header-settings-button" ng-click="tabClick($event)" zem-in-link="{{ linkTo }}({ id: {{ stateId }} })">
            <zem-internal-feature ng-if="tab.internal" popover-placement="bottom"></zem-internal-feature>
            Edit
        </a>
    </div>

    <hr>
    <div ng-repeat="setting in settings">
        <hr ng-if="setting.type === 'hr'"/>
        <zem-infobox-setting 
            ng-if="setting.type == 'setting'"
            label="(setting.name || '&nbsp;')"  
            value="setting.value" 
            value-description="setting.description"
            details-label="setting.detailsLabel"
            details-content="setting.detailsContent"
            icon="(setting.icon || '')"
            tooltip-text="(setting.tooltip || undefined)">
        </zem-infobox-setting>
    </div>
</div>
