<div class="zem-conversion-pixels">
    <div class="title">
        Set Up Pixels
        <zem-help-popover content="A conversion is an action that a person makes while consuming your content such as downloading an eBook, subscribing to a newsletter, adding an item to the shopping, or viewing a particular page." placement="right"></zem-help-popover>
        <div class="loader" ng-show="listInProgress"></div>
    </div>
    <div class="loader-container" ng-if="conversionPixels.length">
        <div class="loader" ng-show="conversionPixels.length && listInProgress"></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="arrow" ng-class="{ordered: orderField === 'name' && !orderReverse, 'ordered-reverse': orderField === 'name' && orderReverse}">
                        <a href class="order" ng-click="orderField = 'name'; orderReverse = !orderReverse">Name</a>
                        <zem-help-popover content="Pixel's name" placement="top"></zem-help-popover>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'archived': item.archived}" ng-repeat="item in conversionPixels | orderBy:orderField:orderReverse | filter: filterConversionPixels">
                    <td class="pixel-name">
                        {{ item.name }}
                        <span class="loader" ng-if="item.requestInProgress"></span>
                    </td>
                    <td>
                        <div ng-if="hasPermission('zemauth.archive_restore_entity') && !item.archived" class="btn btn-default">
                            <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="left"></zem-internal-feature>
                            <a tabindex="-1" ng-click="archiveConversionPixel(item)" href="#">Archive</a>
                        </div>
                        <div ng-if="hasPermission('zemauth.archive_restore_entity') && !!item.archived" class="btn btn-default">
                            <zem-internal-feature ng-if="isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="left"></zem-internal-feature>
                            <a tabindex="-1" ng-click="restoreConversionPixel(item)" href="#">Restore</a>
                        </div>
                        <div ng-if="!item.archived" class="btn btn-default"><a tabindex="-1" ng-click="copyConversionPixelTag(item)" href="#">Copy tag</a></div>
                        <div ng-if="!item.archived" class="btn btn-default"><a tabindex="-1" ng-click="renameConversionPixel(item)" href="#">Rename pixel</a></div>
                    </td>
                    <td>
                        <span ng-if="!!item.error" class="error">
                            An error has occured. Please contact support at <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error persists.
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-default" ng-class="{'disabled': !!listInProgress || !!listError}" ng-click="addConversionPixel()">Add Pixel</button>
    <span ng-if="!!listError" class="error">
        An error has occured while loading pixels. Please contact support at <a href="mailto:help@zemanta.com">help@zemanta.com</a> if the error persists.
    </span>
</div>
