<div class="infobox-setting">
    <div class="infobox-setting-label"><zem-internal-feature ng-if="internal" popover-placement="left"></zem-internal-feature>{{label}}</div>
    <div class="infobox-setting-value-container {{valueClass}}">
        <div ng-if="isSet(icon) && icon === constants.emoticon.HAPPY" class="infobox-setting-icon">
            <img class="infobox-icon" ng-src="{{ config.static_url }}/one/img/happy_face.svg"></img>
        </div>

        <div ng-if="isSet(icon) && icon === constants.emoticon.SAD" class="infobox-setting-icon">
            <img class="infobox-icon" ng-src="{{ config.static_url }}/one/img/sad_face.svg"></img>
        </div>

        <div ng-if="isSet(icon) && icon === constants.emoticon.NEUTRAL" class="infobox-setting-icon">
            <img class="infobox-icon" ng-src="{{ config.static_url }}/one/img/neutral_face.svg"></img>
        </div>

        <div class="infobox-setting-value" zem-lazy-popover-html-unsafe="{{detailsContent}}" zem-lazy-popover-placement="bottom" zem-lazy-popover-append-to-body="true" zem-lazy-popover-animation-class="fade" zem-lazy-popover-stay-open-on-hover="true">
            {{value}}
            <div class="infobox-details-label" ng-if="isSet(detailsLabel)">({{detailsLabel}})</div>
        </div>

        <zem-help-popover
            class="exclamation-popover"
            ng-if="isSet(warning)"
            content="{{ warning }}"
            placement="top">
        </zem-help-popover>

        <div class="infobox-setting-value-comment" ng-if="isSet(valueDescription)">({{valueDescription}})</div>

        <zem-help-popover
            ng-if="isSet(tooltipText)"
            content="{{ tooltipText }}"
            placement="top">
        </zem-help-popover>
    </div>
</div>
