<div class="dropdown dropdown-small zem-state-selector" dropdown is-open="isOpen">
    <span ng-if="archived">Archived</span>
    <button ng-if="!archived" class="btn btn-default dropdown-toggle" dropdown-toggle>
        <div ng-if="active && !autopilotActive" class="active-circle-icon"></div>
        <div ng-if="!active && !autopilotActive" class="pause-icon"></div>
        <div ng-if="autopilotActive" class="auto-pilot-icon"></div>
        <div class="drop-arrow"></div>
    </button>
    <ul ng-if="isEditable" class="dropdown-menu enabled" dropdown-menu role="menu">
        <li ng-class="{disabled: enablingAutopilotSourcesNotAllowed && !active}"
                zem-lazy-popover-text="{{ active || !enablingAutopilotSourcesNotAllowed ? '' : 'To enable this Media Source please add more funds to Auto-Pilot\'s total Daily Budget.' }}"
                zem-lazy-popover-placement="right"
                zem-lazy-popover-animation-class="fade"
                zem-lazy-popover-append-to-body="true">
            <a ng-click="setState(enabledValue, autopilotPausedValue)">
                <div class="active-circle-icon"></div><span>Enabled</span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a ng-click="setState(pausedValue, autopilotPausedValue)">
                <div class="pause-icon"></div><span>Paused</span>
            </a>
        </li>
    </ul>
    <ul ng-if="!isEditable" class="dropdown-menu" dropdown-menu role="menu">
        <li ng-if="active"><a><div class="active-circle-icon"></div><span>Enabled</span></a></li>
        <li ng-if="!active"><a><div class="pause-icon"></div><span>Paused</span></a></li>
        <li class="dropdown-header">{{ disabledMessage }}</li>
    </ul>
</div>
