<div class="submission-status" popover-append-to-body="true" popover-trigger="mouseenter" zem-html-popover="'submissionStatusPopover.html'" popover-updater="statusItems" popover-placement="top">
    <span ng-if="approved" class="cell approved">{{approved.length}}</span>
    <span ng-if="nonApproved" class="cell">{{nonApproved.length}}</span>
</div>

<script id="submissionStatusPopover.html" type="text/ng-template">
    <div class="submission-status-popover">
        <div class="submission-status-popover-table">
            <div class="submission-status-popover-row" ng-repeat="item in nonApproved">
                <span class="submission-status-popover-cell">{{item.name}}:&nbsp</span>
                <span class="submission-status-popover-cell bold">{{item.text}}</span>
            </div>
            <div ng-if="approved.length && nonApproved.length" class="submission-status-popover-row">
                <span class="submission-status-popover-cell divider"><hr></span>
                <span class="submission-status-popover-cell divider"><hr></span>
            </div>
            <div class="submission-status-popover-row" ng-repeat="item in approved">
                <span class="submission-status-popover-cell">{{item.name}}:&nbsp</span>
                <span class="submission-status-popover-cell">{{item.text}}</span>
            </div>
        </div>
    </div>
</script>
