<span ng-attr-popover="{{ disabledTitleOrUndefined }}"
      ng-attr-popover-placement="top"
      ng-attr-popover-append-to-body="true"
      ng-attr-popover-trigger="mouseenter">
<select
    ui-select2="dropdownConfig"
    data-placeholder="{{ placeholder }}"
    ng-model="selectedItem"
    ng-change="callOnSelect()"
    class="{{ cssClass }}"
    ng-disabled="checkDisabled()">
        <option value=""></option>
        <option ng-repeat="option in dropdownOptions | filter: {hasPermission: true}" ng-disabled="option.disabled" value="{{ option.value }}">{{ option.name }}</option>
</select>
</span>
