<span popover="{{ disabledTitle }}" popover-placement="top" popover-append-to-body="true" popover-trigger="mouseenter" ng-show="checkDisabled()">
    <select
        ui-select2="dropdownConfig"
        data-placeholder="{{ placeholder }}"
        ng-model="selectedItem"
        ng-disabled="true">
            <option value=""></option>
    </select>
</span>
<select
    ui-select2="dropdownConfig"
    ng-show="!checkDisabled()"
    data-placeholder="{{ placeholder }}"
    ng-model="selectedItem"
    ng-change="callOnSelect()"
    ng-disabled="false">
        <option value=""></option>
        <option ng-repeat="option in dropdownOptions | filter: {hasPermission: true}" ng-disabled="option.disabled" value="{{ option.value }}">{{ option.name }}</option>
</select>
