<div class="zem-table-container">
    <div class="loader-container">
        <!--<div class="loader" ng-show="rows.length && showLoader"></div>-->

        <div class="table-container">
            <table class="grid table table-hover">
                <thead>
                    <tr>
                        <th ng-repeat="col in dataSource.columns">
                            <span class="col-title">{{ col }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rows track by $index" ng-if="row.visible" ng-class="getRowClass(row)">
                        <td ng-if="row.type==0" ng-repeat="col in row.data track by $index">

                            <span ng-if="$index===0 && row.dataRow.breakdown && row.level>0">
                                <a ng-click="toggleCollapse(row)">
                                    {{row.collapsed ? '[ + ]' : '[ - ]'}}
                                </a>
                            </span>
                            <span>{{col}}</span>
                        </td>

                        <td ng-if="row.type==1">
                            <a ng-click="loadMore(row)">
                                {{row.dataRow.pagination.size}} of {{row.dataRow.pagination.count}} (show more)
                            </a>
                        </td>
                        <td ng-if="row.type==1" colspan="11">
                            <a ng-click="loadMore(row)">
                                 ...
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
