<div class="chart-container">
    <div class="chart-selector">
        <ui-select theme="select2" search-enabled="false" class="metric1" ng-model="metrics.metric1" ng-change="chartMetric1Update()">
            <ui-select-match>{{getSelectedName($select.selected)}}</ui-select-match>
            <ui-select-choices repeat="metric.value as metric in metricOptions | filter:{shown: '!false'}">
                <span>
                    <zem-internal-feature ng-if="metric.internal"></zem-internal-feature>
                    {{metric.name}}
                </span>
            </ui-select-choices>
        </ui-select>

        <span class="middle-text">VS.</span>

        <ui-select theme="select2" search-enabled="false" class="metric2" ng-model="metrics.metric2" ng-change="chartMetric2Update()">
            <ui-select-match>{{getSelectedName($select.selected)}}</ui-select-match>
            <ui-select-choices repeat="metric.value as metric in metric2Options | filter:{shown: '!false'}">
                <span>
                    <zem-internal-feature ng-if="metric.internal"></zem-internal-feature>
                    {{metric.name}}
                </span>
            </ui-select-choices>
        </ui-select>
    </div>
    <ul class="chart-legend">
        <li ng-repeat="item in legendItems">
            <div class="legend-item" style="background-color: {{ item.color1 }}; border: 1px solid {{ item.color1 }}">
                <div class="btn-remove" ng-class="{disabled: (item.id === null && legendItems.length === 1) || !item.removable }" ng-click="item.removable && onRemove({id: item.id})">
                    <img ng-src="{{ appConfig.static_url }}/one/img/x.svg">
                </div>
                <div class="text" style="background-color: {{ item.color2 }}">{{ item.name }}</div>
            </div>
        </li>
    </ul>
    <div class="no-data" ng-show="!hasData"><span>No data</span></div>
    <div highchart config="config" class="chart"></div>
</div>
