<div class="dropdown" dropdown aria-haspopup="true" style="display:inline-block">
<a href class="btn btn-default dropdown-toggle" dropdown-toggle ng-model="selection">{{ selectionText }}&nbsp;<span class="caret"></a>
<ul class="dropdown-menu dropdown-menu-blue" role="menu">
	<li ng-repeat="count in counts"><a tabindex="-1" ng-click="select(count, count)" href="#">{{ count }}</a></li>
	<!-- max int is derived from stack exch. as 2^32-1 -->
	<li><a tabindex="-1" ng-click="select(4294967295, 'Select All')" href="#">Select All</a></li>
</ul>
</div>
