<div id="filter" class="pull-right">
    <div id="filter-dropdown" class="dropdown" dropdown on-toggle="onToggle(open)" is-open="isFilterOpen">
        <div class="btn btn-default" ng-class="{'filter-enabled': isFilterOn()}">
            <div ng-if="isFilterOn()">
                <div class="btn-remove" ng-click="removeFiltering()">
                    <img ng-src="{{ config.static_url }}/one/img/x.svg">
                </div>
                <div class="dropdown-toggle" dropdown-toggle>
                    <span>Filter ON</span>
                    <img class="filter-icon" ng-src="{{ config.static_url }}/one/img/filter_icon_white.svg"></img>
                </div>
            </div>
            <div ng-if="!isFilterOn()">
                <div class="dropdown-toggle" dropdown-toggle>
                    <img class="filter-icon" ng-src="{{ config.static_url }}/one/img/filter_icon_black.svg"></img>
                </div>
            </div>
        </div>

        <ul class="filter-menu dropdown-menu" dropdown-menu>
            <li>
                <div class="title">Filter by Media Source</div>
                <select ui-select2="{minimumResultsForSearch: -1, formatNoMatches: 'No sources', dropdownCssClass: 'select2-filter'}" ng-model="sourceIdToFilter" ng-change="addFilteredSource(sourceIdToFilter)" class="add-source-filter" data-placeholder="+ Media Source">
                    <option value=""></option>
                    <option ng-repeat="source in availableSources | orderBy:'name' | filter:isSourceValidFilterChoice" value="{{source.id}}">{{source.name}}</option>
                </select>
                <div class="filtered-source" ng-repeat="source in availableSources | orderBy:'name' | filter:isSourceFiltered" ng-click="removeFilteredSource(source.id)">
                    {{source.name}}
                    <img class="remove" ng-src="{{ config.static_url }}/one/img/x_gray.svg">
                </div>
            </li>

            <li>
                <div class="title">Filter by Status</div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="showArchivedSelected">Show archived items</label>
                </div>
            </li>
            <li ng-show="enablePublisherFilter && hasPermission('zemauth.can_see_publisher_blacklist_status')">
                <zem-internal-feature ng-if="isPermissionInternal('zemauth.can_see_publisher_blacklist_status')" popover-placement="left"></zem-internal-feature>
                <div class="title">Filter by Publisher Status</div>
                <div class="radio">
                    <label><input name="showPublishers" type="radio" value="all" ng-model="showPublisherSelected">Show all publishers</label>
                    <label><input name="showPublishers" type="radio" value="active" ng-model="showPublisherSelected">Show only active publishers</label>
                    <label><input name="showPublishers" type="radio" value="blacklisted" ng-model="showPublisherSelected">Show only blacklisted publishers</label>
                </div>
            </li>

        </ul>
    </div>
</div>
