<div class="dropdown select2-container" dropdown is-open="isOpen">

    <button class="btn btn-default" dropdown-toggle>
        <div ng-if="active" class="active-circle-icon"></div>
        <div ng-if="!active" class="pause-icon"></div>
        <div class="drop-arrow"></div>
    </button>

	<table class="table table-hover dropdown-menu"  dropdown-menu role="menu">
		<thead />
		<tbody>
			<tr ng-repeat="option in selectionOptions track by $index">
				<td ng-if="option.type == 'link'" ng-click="option.callback($event)">
					{{ option.name }}
				</td>

				<td ng-if="option.type == 'link-list-item-first'" ng-click="option.callback($event, option.name)">
					Upload batch: {{ option.name }}
				</td>

				<td ng-if="option.type == 'link-list-item'" ng-click="option.callback($event, option.name)">
					{{ option.name }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
