<div>
    <p class="insights-title">Best Performers</p>

    <table class="table table-insights">
        <thead>
            <th> </th>
            <th>{{summary}}</th>
            <th>{{metric}}</th>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows track by $index" ng-class="{'archived': row.archived}" class="zem-table-row {{ performance(row.performance) }}">
                <td>{{$index + 1}}</td>
                <td>{{row.summary}}</td>
                <td>{{row.metric}}</td>
            </tr>
        </tbody>
    </table>
</div>
