<div style="display: table; width: 100%">
    <div style="display:table-row">
        <div class="best-performers" style="display:table-cell; padding-right: 20px">
            <p ng-if="expanded" class="insights-best-title">Best Titles</p>

            <div class="performer-switch-table" ng-if="!expanded" style="display: table">
                <div style="display: table-row">
                    <a style="display: table-cell" href ng-click="showBestPerformers()" class="insights-best-title">Best Performers</a>
                    <a style="display: table-cell" href ng-click="showWorstPerformers()" class="insights-worst-title">Worst Performers</a>
                </div>
                <div style="display: table-row">
                    <div class="top-selection-cell">
                        <div ng-if="shortenedShown === 'best-performers'" class="top-arrow"></div>
                    </div>
                    <div class="top-selection-cell">
                       <div ng-if="shortenedShown === 'worst-performers'" class="top-arrow"></div>
                    </div>
                </div>
            </div>
            <table class="table table-insights">
                <thead>
                    <th> </th>
                    <th>{{summary}}</th>
                    <th>{{metric}}</th>
                </thead>
                <tbody>
                    <tr ng-repeat="row in (expanded ? bestPerformerRows : shortenedRows) track by $index" ng-class="{'archived': row.archived}" class="zem-table-row {{ performance(row.performance) }}">
                        <td>{{$index + 1}}</td>
                        <td>{{ row.summary }}</td>
                        <td>{{ row.metric }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="expanded" class="worst-performers" style="display: table-cell">
            <p class="insights-worst-title">Worst Titles</p>

            <table class="table table-insights">
                <thead>
                    <th> </th>
                    <th>{{summary}}</th>
                    <th>{{metric}}</th>
                </thead>
                <tbody>
                    <tr ng-repeat="row in worstPerformerRows track by $index" ng-class="{'archived': row.archived}" class="zem-table-row {{ performance(row.performance) }}">
                        <td>{{$index + 1}}</td>
                        <td>{{ row.summary }}</td>
                        <td>{{ row.metric }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
