<div class="zem-operating-system__platform-icon {{ platformIcon }}"></div>
<div class="zem-operating-system__name">
    <div class="zem-operating-system__icon {{ formattedOs.icon }}"></div>
    {{ formattedOs.displayName }}
</div>
<zem-select-form-group
    *ngIf="formattedOs.versions"
    label="Min OS version:"
    class="zem-select-form-group zem-operating-system__form-group"
    [items]="formattedOs.versions"
    [placeholder]="'-'"
    bindLabel="displayName"
    bindValue="name"
    [isDisabled]="isDisabled"
    [value]="minVersion?.name"
    (valueChange)="onVersionChanged($event, 'min')"
>
</zem-select-form-group>
<zem-select-form-group
    *ngIf="formattedOs.versions"
    label="Max OS version:"
    class="zem-select-form-group zem-operating-system__form-group"
    [items]="formattedOs.versions"
    [placeholder]="'-'"
    bindLabel="displayName"
    bindValue="name"
    [isDisabled]="isDisabled"
    [value]="maxVersion?.name"
    (valueChange)="onVersionChanged($event, 'max')"
>
</zem-select-form-group>
<button
    class="zem-button-legacy zem-button-legacy--small zem-button-legacy--with-icon zem-button-legacy--icon-only zem-button-legacy--remove-icon zem-operating-system__remove-button"
    [disabled]="isDisabled"
    (click)="onOsDeleted()"
></button>
