.zem-select--zem-clone-content {
    .zem-select-dropdown-item__name {
        font-size: 13px;
        color: @text-color;
        line-height: 30px;
        padding-left: 20px;
    }

    .zem-select-dropdown-item__name--h1 {
        color: #e35325;
        font-weight: 500;
        line-height: 29px;
        border-bottom: 1px solid #e35325;
        padding-left: 1px;
    }

    .zem-select-dropdown-item__name--h2 {
        font-weight: 500;
        padding-left: 10px;
    }
}
