<div class="search"><input type="text" ng-model="$ctrl.query" ng-change="$ctrl.filter($ctrl.query)" placeholder="Search">
    <small>Type to start searching</small>
</div>

<div class="scroll-container">
    <ul vs-repeat vs-scroll-parent=".scroll-container">
        <li ng-repeat="item in $ctrl.filteredList" class="item"
             ng-class="$ctrl.getItemClasses(item)"
             ng-click="$ctrl.navigateTo(item)">
            <span class="circle" ng-class="$ctrl.getItemIconClass(item)"></span>
            <span>{{ item.data.name }}</span>
        </li>
    </ul>
</div>
