// TODO: move to appropriate file (vars)
@orange: #e35325;
@blue: #3f547f;
@very-light-gray: #ebebeb;

@default-spacing: 20px;
@default-font-size: 13px;
@border-radius: 3px;
//////////////////////////////////////////

zem-navigation {
    display: block;
    position: relative;
    color: @black;

    .search {
        color: @text-color;
        padding: @default-spacing;
        border-bottom: 1px solid @border-color;
        background-color: fade(@black, 5%);

        input {
            width: 100%;
            padding: 0 5px;
            height: 40px;
            .box-shadow (none);

            &:focus {
                outline: none;
            }
        }
    }

    .scroll-container {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        position: absolute;
        top: 90px;
        bottom: 0;
        margin-bottom: 10px;
    }

    .empty {
        text-align: center;
    }

    .loader {
        margin-top: 20px;
        width: 100%;
        background: rgba(255, 255, 255, 0.4) url('img/loader.gif') no-repeat center center;
        background-size: 20px auto;
    }

    .scroll-container ul {
        margin: 0 4px 0 @default-spacing;
        padding: 0;
        list-style: none;

        .item {
            cursor: pointer;
            position: relative;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            height: 30px; // NOTE: Change in JavaScript too!
            padding: 5px 0;

            &.active {
                border-right: 3px solid @default-color;
            }

            &.selected {
                background-color: #50b9d3;
                color: white;
            }

            &.archived {
                color: #d9d9d9;
            }

            &:not(.selected):hover {
                background: #f5f5f5;
            }

            &.account {
                height: 31px; // NOTE: Change in JavaScript too!
                font-weight: 500;
                font-size: 14px;
                color: @default-color;
                border-bottom: 1px solid @default-color;

                &.selected {
                    color: @white;
                }

                .agency {
                    color: @light-gray;
                    font-size: 12px;
                    font-weight: 200;
                }
            }

            &.campaign {
                padding-left: 10px;
                font-weight: 500;
                height: 30px; // NOTE: Change in JavaScript too!
            }

            &.group {
                font-weight: 300;
                height: 24px; // NOTE: Change in JavaScript too!
                padding: 2px 0 2px 35px;
            }
        }

        // TODO: states --> reloading
        .circle {
            display: block;
            position: absolute;
            left: 16px;
            .border-radius (50%);
            background-color: @very-light-gray;
            width: 10px;
            height: 10px;
            top: 50%;
            margin-top: -6px;

            &.none {
                display: none;
            }
            &.active {
                background-color: @green;
            }
            &.inactive {
                background-color: @red;
            }
            &.landing {
                background-color: transparent;
                background: url("images/landing.svg") no-repeat;
                width: 18px;
                height: 18px;
                left: 6px;
            }
            &.autopilot {
                background-color: transparent;
                background: url("images/autopilot.svg") no-repeat;
                width: 14px;
                height: 14px;
                left: 14px;
            }
        }
    }
}

