<div class="search"><input type="text" ng-model="$ctrl.query"
                           ng-change="$ctrl.filter($ctrl.query)"
                           ng-click="$event.stopPropagation()"
                           placeholder="Search">
</div>

<div class="scroll-container custom-scroller">
    <div class="loader" ng-if="!$ctrl.list"></div>
    <div class="empty" ng-if="$ctrl.filteredList.length === 0">no matches found</div>
    <ul vs-repeat vs-scroll-parent=".scroll-container" vs-size="$ctrl.getItemHeight(item)">
        <li ng-repeat="item in $ctrl.filteredList" class="item"
             ng-class="$ctrl.getItemClasses(item)"
             ng-click="$ctrl.navigateTo(item)">
            <span class="circle" ng-class="$ctrl.getItemIconClass(item)"></span>
            <span class="name" title="{{ item.data.name }}">{{ item.data.name }}</span>
            <span class="agency" ng-if="$ctrl.showAgency" ng-show="item.data.agency">({{item.data.agency}})</span>
        </li>
    </ul>
</div>
