.zem-inclusion-targeting-list {
    .remove {
         border-left: 1px solid @line-color;
         padding-left: 5px;
         margin-left: 5px;
         color: @gray;
    }

    .targeting-select {
        width: 500px;
    }

    .targeting-select-buttons {
        float: right;
        font-size: 13px;
        line-height: 22px;

        a {
            padding: 0 5px;

            &:first-child {
                border-right: 1px solid @line-color;
            }

            &.text-success:hover {
                color: @green !important;
            }

            &.text-danger:hover {
                color: @red !important;
            }
        }
    }

    .select2-highlighted {
        background-color: transparent !important;
        color: inherit !important;

        &:hover {
            background-color: #f5f5f5 !important;
        }
    }

    .select2-results {
        max-height: 400px;
    }
}