.zem-inclusion-targeting-list {
    .remove {
         border-left: 1px solid @line-color;
         padding-left: 5px;
         margin-left: 5px;
         color: @gray;
    }

    .targeting-select {
        width: 500px;
    }

    .targeting-select-buttons {
        float: right;
        font-size: 13px;
        line-height: 30px;
        margin: -7px -10px;

        a {
            padding: 0 10px;
            box-sizing: border-box;
            display: block;
            float: left;

            &.text-success {
                border-right: 1px solid @line-color;
            }

            &.text-success:hover {
                color: @green !important;
            }

            &.text-danger:hover {
                color: @red !important;
            }
        }
    }

    .select2-highlighted {
        background-color: transparent !important;
        color: inherit !important;

        &:hover {
            background-color: @secondary-color !important;
            color: white !important;
        }
    }

    .ui-select-choices-row:hover {
        .text-success {
            background-color: @green !important;
            border-right: 1px solid @green;
            color: white;
        }

        .text-danger {
            background-color: @red !important;
            color: white;
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }

        a:hover {
            text-decoration: underline !important;
            color: white !important;
        }
    }

    .select2-results {
        max-height: 400px;
    }
}
