@import 'variables';

.zem-account-list-item {
    display: block;
}

.zem-account-list-item__item {
    min-height: 50px;
    border: 1px solid @border-color--default;
    border-radius: @border-radius--default;
    background-color: @color--lighter-neutral;
    margin-bottom: @spacing--small;
    white-space: nowrap;
    overflow: hidden;
    padding: @spacing--small;
    text-overflow: ellipsis;
}

.zem-account-list-item__item:hover {
    background-color: darken(@color--light-neutral, 8%);
    box-shadow: 0px 0px 6px 0px fade(@color--light-neutral, 60%);
}

.zem-account-list-item__item--selected {
    color: @color--lightest-neutral;
    background-color: @color--primary;
}

.zem-account-list-item__item--selected:hover {
    color: darken(@color--lightest-neutral, 8%);
    background-color: darken(@color--primary, 8%);
    box-shadow: 0px 0px 6px 0px fade(@color--primary, 60%);
}

.zem-account-list-item__id {
    display: inline-block;
}

.zem-account-list-item__link {
    color: @color--secondary;
    font-weight: 500;
}

.zem-account-list-item__link:hover,
.zem-account-list-item__link:active {
    color: @color--secondary;
}

.zem-account-list-item__remove-button {
    float: right;
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 10px;
}

.zem-account-list-item__remove-button:hover {
    background-color: @color--danger;
    box-shadow: 0px 0px 6px 0px fade(@color--danger, 40%);
    color: white;
}
