<div
    class="zem-account-list-item__item"
    [ngClass]="{
        'zem-account-list-item__item--selected': selected
    }"
>
    <div class="zem-account-list-item__id" [zemArchivedTag]="account.archived">
        {{ account.id }}
    </div>
    <span
        class="zem-account-list-item__remove-button"
        *ngIf="canRemove"
        (click)="remove.emit()"
        >×</span
    >
    <br />
    <a
        class="zem-account-list-item__link"
        *ngIf="accountUrl"
        [href]="accountUrl"
        title="{{ account.name }}"
        target="_blank"
        >{{ account.name }}</a
    >
</div>
