<div class="zem-deal__overview">
    <div class="zem-deal__summary">
        <div class="zem-deal__summary-item">
            Name: <label>{{ deal.name || 'N/A' }}</label>
        </div>
        <div class="zem-deal__summary-item">
            Source: <label>{{ deal.source }}</label>
        </div>
        <div class="zem-deal__summary-item" *ngIf="deal.dealId">
            Deal id: <label>{{ deal.dealId }}</label>
        </div>
        <div class="zem-deal__summary-item">
            Floor price: <label>{{ deal.floorPrice || 'N/A' }}</label>
        </div>
        <div class="zem-deal__summary-item">
            Valid from: <label>{{ formatDate(deal.validFromDate) }}</label>
        </div>
        <div class="zem-deal__summary-item">
            Valid to: <label>{{ formatDate(deal.validToDate) }}</label>
        </div>
    </div>
    <div class="zem-deal__actions">
        <button
            class="zem-button-legacy zem-button-legacy--small zem-button-legacy--icon-only zem-button-legacy--expand-icon zem-deal__action"
            [class.zem-button-legacy--collapse-icon]="isEditFormVisible"
            (click)="toggleDealEditForm()"
        ></button>
        <button
            class="zem-button-legacy zem-button-legacy--small zem-button-legacy--danger zem-button-legacy--icon-only zem-button-legacy--remove-icon zem-deal__action"
            [disabled]="isDisabled"
            (click)="removeDeal()"
        ></button>
    </div>
</div>
<div class="zem-deal__edit-form" *ngIf="isEditFormVisible">
    <ng-content></ng-content>
</div>
