@import 'variables';

.zem-zip-targeting {
    display: block;
}

.zem-zip-targeting__item {
    display: block;
    margin-top: @zem-form-group__items-spacing--default;
}

.zem-zip-targeting__item:first-child {
    margin-top: 0;
}

.zem-zip-targeting__select-include-exclude {
    display: block;
}

.zem-zip-targeting__select-location {
    display: block;
    margin: @zem-form-group__items-spacing--default 0 0 0;
}
