<zem-settings-container
    api="$ctrl.api"
    settings-title="'Campaign settings'"
    entity-type="$ctrl.constants.entityType.CAMPAIGN"
>
    <settings>
        <zem-campaign-general-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
        ></zem-campaign-general-settings>
        <zem-legacy-campaign-goals-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
        ></zem-legacy-campaign-goals-settings>
        <div
            class="custom-panel zem-settings-component__container"
            ng-if="$ctrl.hasPermission('zemauth.settings_defaults_on_campaign_level')"
        >
            <h2 class="custom-panel__title">Default device targeting</h2>
            <div class="custom-panel__description">
                The devices on which your content ads will be shown. Used for
                all newly created ad groups.
            </div>
            <zem-device-targeting-settings
                class="zem-settings-component zem-device-targeting-settings"
                target-devices="$container.entity.settings.targetDevices"
                target-placements="$container.entity.settings.targetPlacements"
                target-os="$container.entity.settings.targetOs"
                errors="$container.errors.targetDevices"
                on-update="
                    $ctrl.updateDeviceTargeting($container.entity, $event)
                "
            ></zem-device-targeting-settings>
        </div>
        <div
            class="custom-panel zem-settings-component__container"
            ng-if="$ctrl.hasPermission('zemauth.settings_defaults_on_campaign_level')"
        >
            <h2 class="custom-panel__title">Location targeting</h2>
            <div class="custom-panel__description">
                The countries, states and DMA regions where your content ads
                will be shown.
            </div>
            <zem-geo-targeting
                class="zem-settings-component"
                included-locations="$container.entity.settings.targetRegions"
                excluded-locations="$container.entity.settings.exclusionTargetRegions"
                errors="$container.errors"
                on-update="$ctrl.updateGeoTargeting($container.entity, $event)"
            ></zem-geo-targeting>
            <hr />
            <zem-zip-targeting
                class="zem-zip-targeting"
                included-locations="$container.entity.settings.targetRegions"
                excluded-locations="$container.entity.settings.exclusionTargetRegions"
                is-legacy="true"
                on-update="$ctrl.updateGeoTargeting($container.entity, $event)"
            ></zem-zip-targeting>
        </div>
        <div
            class="custom-panel zem-settings-component__container zem-account-targeting-settings"
            ng-if="$ctrl.hasPermission('zemauth.can_set_white_blacklist_publisher_groups') && $ctrl.hasPermission('zemauth.can_see_publisher_groups_ui')"
        >
            <h2 class="custom-panel__title">Targeting</h2>
            <div class="form">
                <div
                    class="form__title"
                    is-internal="zemauth.can_see_publisher_groups_ui"
                >
                    Publishers
                </div>
                <div class="form__text">
                    Define your publisher targeting by whitelisting or
                    blacklisting publisher groups.
                </div>
                <zem-publisher-group-targeting
                    class="zem-publisher-group-targeting"
                    account-id="$container.entity.parent.id"
                    whitelisted-publisher-groups="$container.entity.settings.whitelistPublisherGroups"
                    blacklisted-publisher-groups="$container.entity.settings.blacklistPublisherGroups"
                    whitelisted-publisher-groups-errors="$container.errors.whitelistPublisherGroups"
                    blacklisted-publisher-groups-errors="$container.errors.blacklistPublisherGroups"
                    on-update="
                        $ctrl.updatePublisherGroupsTargeting(
                            $container.entity,
                            $event
                        )
                    "
                ></zem-publisher-group-targeting>
            </div>
        </div>
        <zem-performance-tracking-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
            ng-if="!$ctrl.hasPermission('zemauth.disable_public_rcs')"
        ></zem-performance-tracking-settings>
        <zem-campaign-budgets-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
            ng-if="$ctrl.hasPermission('zemauth.can_see_new_budgets')"
        ></zem-campaign-budgets-settings>
        <zem-campaign-budget-optimization-settings
            class="zem-settings-component"
            entity="$container.entity"
            errors="$container.errors"
            api="$container.childApi"
            ng-if="$ctrl.hasPermission('zemauth.can_see_budget_optimization')"
        ></zem-campaign-budget-optimization-settings>
        <zem-backend-hacks
            class="zem-settings-component"
            entity="$container.entity"
            api="$container.childApi"
        ></zem-backend-hacks>
        <zem-deals
            class="zem-settings-component"
            entity="$container.entity"
            api="$container.childApi"
        ></zem-deals>
    </settings>

    <custom> </custom>
</zem-settings-container>
