@import 'variables';

.zem-editable-cell {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.zem-editable-cell--metric {
    justify-content: flex-end;
}

.zem-editable-cell__value {
    display: inline-block;
    position: relative;
    padding: 3px;
    border: 1px dashed transparent;
    border-radius: 2px;
    transition: all @duration-and-timing-fn--default;
}

.zem-editable-cell__value--editable {
    padding: 3px 24px 3px 3px;
}

.zem-editable-cell__autopilot-icon {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 2px;
    background-image: url('images/autopilot.svg');
    background-size: auto;
    background-position: 0;
}

.zem-editable-cell__value--editable::before {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    width: 12px;
    height: 12px;
    background-size: 12px;
    background: url('@{images-folder}/edit-sec.svg') no-repeat center;
    opacity: 0.4;
}

.zem-editable-cell__value--editable:hover {
    cursor: pointer;
    border-color: tint(@color--secondary, 60%);
    background-color: tint(@color--secondary, 90%);
}

.zem-editable-cell__value--editable:hover.zem-editable-cell__value--editable::before {
    opacity: 1;
}

.zem-editable-cell__edit-mode-wrapper {
    position: absolute;
}

.zem-editable-cell__edit-mode-wrapper-content {
    background-color: tint(@color--secondary, 90%);
    border: 1px dashed tint(@color--secondary, 60%);
    font-size: @font-size--default;
    box-sizing: border-box;
    z-index: @z-index--modal;
}

.zem-editable-cell__edit-mode-wrapper--fullsize {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.2);
}

.zem-editable-cell__edit-mode-wrapper--fullsize
    .zem-editable-cell__edit-mode-wrapper-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
}
