.zem-submission-status-item {
    display: flex;
    padding: 1px 0 1px 0;
}

.zem-submission-status-item__full-name {
    flex: 1 1 auto;
    margin-right: 5px;
}

.zem-submission-status-item__status {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    flex-direction: row-reverse;
}

.zem-submission-status-item__full-name:hover,
.zem-submission-status-item__status:hover {
    min-width: fit-content;
}

.zem-submission-status-item__full-name,
.zem-submission-status-item__status-text {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zem-submission-status-item__status-text--strong {
    font-weight: bold;
}

.zem-submission-status-item__status-item:not(:last-child) {
    margin-left: 2px;
}

.zem-submission-status-item__icon {
    display: block;
    height: 14px;
}
