<span class="zem-submission-status-item__full-name" title="{{ fullName }}">{{
    fullName
}}</span>
<div class="zem-submission-status-item__status">
    <a
        *ngIf="isSourceLinkVisible && sourceLink"
        class="zem-submission-status-item__status-link zem-submission-status-item__status-item"
        [zemInternalFeature]="isSourceLinkAnInternalFeature"
        href="{{ sourceLink }}"
        target="_blank"
    >
        <img class="zem-submission-status-item__icon" src="{{ iconUrl }}" />
    </a>
    <span
        class="zem-submission-status-item__status-text zem-submission-status-item__status-item"
        [class.zem-submission-status-item__status-text--strong]="isTextStrong"
        title="{{ text }}"
        >{{ text }}</span
    >
</div>
