.zem-submission-status-item {
    display: flex;
    padding: 1px 0 1px 0;
}

.zem-submission-status-item__full-name {
    flex: 1 1 auto;
    font-size: 11px;
}

.zem-submission-status-item__status {
    display: flex;
}

.zem-submission-status-item__status-text {
    font-size: 11px;
}

.zem-submission-status-item__status-text--strong {
    font-weight: bold;
}

.zem-submission-status-item__status-item:not(:last-child) {
    margin-right: 5px;
}

.zem-submission-status-item__icon {
    display: block;
    height: 14px;
}
