.zem-chart-metrics-selector {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    .button { width: 100%; }

    .dropdown-menu {
        margin: 8px 0 20px 0;
        padding: 0;
        border: none;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
        width: 460px;
        max-height: 400px;
        overflow: hidden;
        box-sizing: border-box;
    }
}
