<div is-internal="zemauth.can_see_new_chart" class="chart-container loader-container">
    <div class="loader" ng-show="$ctrl.chart.isLoading"></div>
    <div class="chart-selector">
        <ui-select theme="select2" search-enabled="false" class="button button--dropdown-toggle-icon metric1" ng-model="$ctrl.metrics.metric1" ng-change="$ctrl.chartMetricUpdate()">
            <ui-select-match>{{$ctrl.getSelectedName($select.selected)}}</ui-select-match>
            <ui-select-choices repeat="metric.value as metric in $ctrl.chart.metrics.options | filter:{shown: '!false'}">
                <span>
                    <zem-internal-feature ng-if="metric.internal"></zem-internal-feature>
                    {{metric.name}}
                </span>
            </ui-select-choices>
        </ui-select>

        <span class="middle-text">VS.</span>

        <ui-select theme="select2" search-enabled="false" class="button button--dropdown-toggle-icon metric2" ng-model="$ctrl.metrics.metric2" ng-change="$ctrl.chartMetricUpdate()">
            <ui-select-match>{{$ctrl.getSelectedName($select.selected)}}</ui-select-match>
            <ui-select-choices repeat="metric.value as metric in $ctrl.metric2Options | filter:{shown: '!false'}">
                <span>
                    <zem-internal-feature ng-if="metric.internal"></zem-internal-feature>
                    {{metric.name}}
                </span>
            </ui-select-choices>
        </ui-select>
    </div>
    <ul class="chart-legend">
        <li ng-repeat="item in $ctrl.chart.legend.items">
            <div class="legend-item" style="background-color: {{ item.color1 }};">
                <div class="button-remove" ng-class="{disabled: (item.id === null && $ctrl.chart.legend.items.length === 1) || !item.removable }" ng-click="$ctrl.removeLegendItem(item)">
                    <img ng-src="{{ $ctrl.config.static_url }}/one/images/remove-white.svg">
                </div>
                <div class="text" style="background-color: {{ item.color2 }}; color: {{ item.color1 }}">{{ item.name }}</div>
            </div>
        </li>
    </ul>
    <div class="no-data" ng-show="!$ctrl.chart.hasData"><span>No data</span></div>
    <div highchart config="$ctrl.chart.config" class="chart"></div>
</div>
