<div
    class="zem-campaign-goal__summary"
    [ngClass]="{
        'zem-campaign-goal__summary--primary': campaignGoal.primary,
        'zem-campaign-goal__summary--expanded': isEditFormVisible
    }"
    (click)="setPrimary()"
>
    <div class="zem-campaign-goal__number">{{ (index || 0) + 1 }}</div>
    <div class="zem-campaign-goal__description">
        <div>
            Meet or beat the goal of
            <strong>{{ campaignGoalDescription }}</strong
            >.
        </div>
        <div
            *ngIf="
                campaignGoal.type === CampaignGoalKPI.CPA &&
                !!campaignGoal.conversionGoal.name
            "
        >
            Connected with conversion {{ campaignGoal.conversionGoal.name }}.
            <a
                *ngIf="campaignGoal.conversionGoal.pixelUrl"
                (click)="openPixelTagModal($event)"
                >Copy tag</a
            >
        </div>
    </div>
    <div class="zem-campaign-goal__action">
        <button
            class="zem-button zem-button--icon-only zem-button--edit-icon"
            (click)="toggleEditCampaignGoal($event)"
        ></button>
    </div>
    <div class="zem-campaign-goal__action">
        <button
            class="zem-button zem-button--danger zem-button--icon-only zem-button--remove-icon"
            (click)="deleteCampaignGoal($event)"
        ></button>
    </div>
</div>
<div class="zem-campaign-goal__edit-form" *ngIf="isEditFormVisible">
    <ng-content></ng-content>
</div>

<zem-modal
    #pixelTagModal
    [canCloseOnBackdropClick]="true"
    [canCloseOnEscapeKey]="true"
    class="zem-modal"
>
    <div class="zem-modal__header">
        <div class="zem-modal__title">Copy Tag</div>
    </div>
    <div class="zem-modal__body">
        <textarea
            class="zem-input-textarea zem-input-textarea--dashed"
            type="text"
            rows="5"
            [ngModel]="pixelTag"
        ></textarea>
    </div>
    <div class="zem-modal__footer buttons-panel">
        <button
            class="zem-button zem-button--outlined"
            (click)="closePixelTagModal()"
        >
            Close
        </button>
    </div>
</zem-modal>
