<div
    class="zem-campaign-goal__summary"
    [ngClass]="{
        'zem-campaign-goal__summary--primary': campaignGoal.primary,
        'zem-campaign-goal__summary--expanded': isEditFormVisible
    }"
    (click)="setPrimary()"
>
    <div class="zem-campaign-goal__number">{{ (index || 0) + 1 }}</div>
    <div class="zem-campaign-goal__description">
        <div>
            Meet or beat the goal of
            <strong>{{ campaignGoalDescription }}</strong
            >.
        </div>
        <div
            *ngIf="
                campaignGoal.type === CampaignGoalKPI.CPA &&
                !!campaignGoal.conversionGoal.name
            "
        >
            Connected with conversion {{ campaignGoal.conversionGoal.name }}.
            <a
                *ngIf="campaignGoal.conversionGoal.pixelUrl"
                (click)="openPixelTagModal($event)"
                >Copy tag</a
            >
        </div>
    </div>
    <div class="zem-campaign-goal__action">
        <button
            class="zem-button-legacy zem-button-legacy--icon-only zem-button-legacy--expand-icon"
            [class.zem-button-legacy--collapse-icon]="isEditFormVisible"
            (click)="toggleCampaignGoalEditForm($event)"
        ></button>
    </div>
    <div class="zem-campaign-goal__action">
        <button
            class="zem-button-legacy zem-button-legacy--danger zem-button-legacy--icon-only zem-button-legacy--remove-icon"
            (click)="deleteCampaignGoal($event)"
            [disabled]="isDisabled"
        ></button>
    </div>
</div>
<div class="zem-campaign-goal__edit-form" *ngIf="isEditFormVisible">
    <ng-content></ng-content>
</div>

<zem-modal
    #pixelTagModal
    [canCloseOnBackdropClick]="true"
    [canCloseOnEscapeKey]="true"
    class="zem-modal"
>
    <div class="zem-modal__header">
        <div class="zem-modal__title">Copy Tag</div>
    </div>
    <div class="zem-modal__body">
        <zem-textarea
            class="zem-textarea zem-input-textarea--dashed"
            [value]="pixelTag"
            [rows]="5"
        ></zem-textarea>
    </div>
    <div class="zem-modal__footer buttons-panel">
        <button
            class="zem-button-legacy zem-button-legacy--outlined"
            (click)="closePixelTagModal()"
        >
            Close
        </button>
    </div>
</zem-modal>
