<div
    class="custom-panel zem-settings-component__container zem-adgroup-tracking-settings"
>
    <h2 class="custom-panel__title">Tracking</h2>
    <div class="form">
        <div class="form__title">3rd party pixel tracking</div>
        <div class="form__text m-b-none">
            3rd party pixels help you retarget people who clicked on Zemanta
            ads. This is a read-only section. Please contact your Zemanta
            Customer Success Manager if you want to set up or change 3rd party
            pixel tracking.
        </div>
        <div
            class="m-t"
            ng-if="$ctrl.entity.settings.redirectPixelUrls.length || $ctrl.entity.settings.redirectJavascript"
        >
            <div ng-if="$ctrl.entity.settings.redirectPixelUrls.length">
                <label class="form__label">Tags</label>
                <ul class="with-bullets">
                    <li
                        ng-repeat="pixelUrl in $ctrl.entity.settings.redirectPixelUrls"
                    >
                        {{ pixelUrl }}
                    </li>
                </ul>
            </div>
            <div ng-if="$ctrl.entity.settings.redirectJavascript">
                <label class="form__label">Javascript</label>
                <div class="textarea--dashed break-long-words">
                    {{ $ctrl.entity.settings.redirectJavascript }}
                </div>
            </div>
        </div>
        <div
            class="message m-t m-b-none"
            ng-if="!$ctrl.entity.settings.redirectPixelUrls.length && !$ctrl.entity.settings.redirectJavascript"
        >
            No 3rd party pixel tracking.
        </div>
    </div>
    <!-- end additional targeting -->

    <div
        class="form form--last"
        ng-class="{'form--error': !!$ctrl.errors.trackingCode}"
    >
        <div class="form__title">Tracking codes</div>
        <div class="form__text">
            The tracking code / UTM to be appended to all URLs being promoted.
        </div>
        <textarea
            class="textarea"
            id="tracking-input"
            type="text"
            rows="4"
            ng-model="$ctrl.entity.settings.trackingCode"
        ></textarea>

        <div
            class="message message--error"
            ng-repeat="error in $ctrl.errors.trackingCode"
            for="tracking-input"
        >
            {{ error }}
        </div>
    </div>
</div>
