<label
    class="zem-checkbox-input__wrapper-label zem-checkbox-input__wrapper-label--{{
        displayState
    }}"
    [ngClass]="{
        'zem-checkbox-input__wrapper-label--disabled': isDisabled
    }"
>
    <input
        class="zem-checkbox-input__input"
        type="checkbox"
        [disabled]="isDisabled"
        [checked]="displayState === 'checked'"
        [indeterminate]="displayState === 'indeterminate'"
        (change)="onChange()"
    />
    <span class="zem-checkbox-input__checkmark"></span>
    <span
        class="zem-checkbox-input__label-text"
        [class.zem-checkbox-input__label-text--error]="hasError"
        ><ng-content></ng-content
    ></span>
</label>
