@import 'variables';

.zem-input-textarea {
    background: white;
    border: 1px solid @border-color--default;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius--default;
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: 18px;
    padding: 5px 10px;
    display: block;
    resize: none;

    &:focus {
        border: 1px solid darken(@border-color--default, 20%);
        outline: none;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &::-webkit-input-placeholder {
        color: @text-color--lighter;
    }

    &::-moz-placeholder {
        color: @text-color--lighter;
    }

    &:-ms-input-placeholder {
        color: @text-color--lighter;
    }

    &:-moz-placeholder {
        color: @text-color--lighter;
    }

    &[readonly],
    &[disabled] {
        background-color: @color--lightest-neutral;
        cursor: not-allowed;
        color: @text-color--light;
    }
}

.zem-input-textarea--dashed > textarea {
    border-style: dashed;

    &:focus {
        border-style: dashed;
    }
}

.zem-input-textarea--error {
    border-color: @color--danger;
}
