@import 'variables';

.zem-input-text {
    background: white;
    border: 1px solid @border-color--default;
    height: @input__height--default;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius--default;
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
        border: 1px solid darken(@border-color--default, 20%);
        outline: none;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-input-placeholder {
        color: @text-color--lighter;
    }
    &::-moz-placeholder {
        color: @text-color--lighter;
    }
    &:-ms-input-placeholder {
        color: @text-color--lighter;
    }
    &:-moz-placeholder {
        color: @text-color--lighter;
    }

    &[readonly],
    &[disabled] {
        background-color: @color--lightest-neutral;
        cursor: not-allowed;
        color: @text-color--light;
    }
}

.zem-input-text--error {
    border-color: @color--danger;
}

.zem-input-text--narrow {
    max-width: @input__width--narrow;
}
