@import 'variables';

.zem-postfixed-input {
    display: flex;
}

.zem-postfixed-input__postfix {
    background: white;
    border: 1px solid @border-color--default;
    height: @input__height--default;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius--default;
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    color: @text-color--lighter;
    font-style: normal;
    cursor: default;
    padding: 6px 10px 4px 10px;
    vertical-align: top;
    background-color: @color--lightest-neutral;
    white-space: nowrap;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.05);

    &::-webkit-input-placeholder {
        color: @text-color--lighter;
    }
    &::-moz-placeholder {
        color: @text-color--lighter;
    }
    &:-ms-input-placeholder {
        color: @text-color--lighter;
    }
    &:-moz-placeholder {
        color: @text-color--lighter;
    }
}

.zem-postfixed-input--with-icon::after {
    border: 1px solid @border-color--default;
    height: @input__height--default;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius--default;
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    content: '';
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: @color--lightest-neutral;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: @input__height--default - 6;

    &::-webkit-input-placeholder {
        color: @text-color--lighter;
    }
    &::-moz-placeholder {
        color: @text-color--lighter;
    }
    &:-ms-input-placeholder {
        color: @text-color--lighter;
    }
    &:-moz-placeholder {
        color: @text-color--lighter;
    }
}

.zem-postfixed-input__input {
    float: none;
    width: 100%;
    display: table-cell;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        outline: none;
        border-right: 1px solid darken(@border-color--default, 20%);
    }
}

.zem-postfixed-input--narrow {
    max-width: @input__width--narrow;
}

.zem-postfixed-input__postfix--error,
.zem-postfixed-input__input--error,
.zem-postfixed-input--error.zem-postfixed-input--with-icon::after {
    border-color: @color--danger;
}
