@import 'variables';

.zem-prefixed-input {
    display: flex;
}

.zem-prefixed-input__prefix {
    background: white;
    border: 1px solid @border-color--default;
    height: @input__height--default;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius--default;
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: @text-color--lighter;
    font-style: normal;
    cursor: default;
    padding: 6px 10px 4px 10px;
    background-color: @color--lightest-neutral;
    white-space: nowrap;
    width: 35px;

    &::-webkit-input-placeholder {
        color: @text-color--lighter;
    }
    &::-moz-placeholder {
        color: @text-color--lighter;
    }
    &:-ms-input-placeholder {
        color: @text-color--lighter;
    }
    &:-moz-placeholder {
        color: @text-color--lighter;
    }
}

.zem-prefixed-input--with-icon::before {
    border: 1px solid @border-color--default;
    height: @input__height--default;
    line-height: 18px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: @border-radius--default;
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    content: '';
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: @color--lightest-neutral;
    background-repeat: no-repeat;
    background-position: center center;

    &::-webkit-input-placeholder {
        color: @text-color--lighter;
    }
    &::-moz-placeholder {
        color: @text-color--lighter;
    }
    &:-ms-input-placeholder {
        color: @text-color--lighter;
    }
    &:-moz-placeholder {
        color: @text-color--lighter;
    }
}

.zem-prefixed-input__input,
.zem-prefixed-input__input > input,
.zem-prefixed-input__input > * > input {
    width: 100%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset -1px 3px 3px 0px rgba(0, 0, 0, 0.05);

    &:focus {
        padding-left: 9px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        outline: none;
        border-left: 1px solid darken(@border-color--default, 20%);
    }
}

.zem-prefixed-input__prefix--error,
.zem-prefixed-input__input--error,
.zem-prefixed-input__input--error > input,
.zem-prefixed-input__input--error > * > input,
.zem-prefixed-input--error.zem-prefixed-input--with-icon::before {
    border-color: @color--danger;
}
