<div ng-if="$ctrl.isEnabled()">
    <div ng-if="$ctrl.state.info" class="zem-demographic-targeting__overview">
        <div
            class="zem-demographic-targeting-overview__box zem-demographic-targeting-overview__box--price"
        >
            CPM price:
            <span
                class="help-popover"
                zem-lazy-popover-html-unsafe="The CPM displays the cost charged for using BlueKai targeting. <br>The cost depends on the segments used. <br>The CPM data targeting cost is calculated into your bid CPC."
                zem-lazy-popover-placement="top"
                zem-lazy-popover-append-to-body="true"
                zem-lazy-popover-animation-class="fade"
            ></span>
            <strong class="zem-demographic-targeting-overview__value"
                >${{ $ctrl.state.info.price }}</strong
            >
        </div>
        <div
            class="zem-demographic-targeting-overview__box zem-demographic-targeting-overview__box--reach"
        >
            Reach:
            <strong
                class="zem-demographic-targeting-overview__value"
                ng-if="$ctrl.state.info.reach.value"
                >{{ $ctrl.state.info.reach.value }}</strong
            >
            <div
                class="message message--error"
                ng-if="$ctrl.state.info.reach.error"
            >
                Bluekai not accessible at the moment.
            </div>
            <zem-loader
                class="zem-loader zem-loader--small"
                ng-if="!$ctrl.state.info.reach"
            ></zem-loader>
            <div
                class="zem-reach-bar"
                ng-if="$ctrl.state.info.reach.relative >= 0"
            >
                <div class="zem-reach-bar__progress--background"></div>
                <div
                    class="zem-reach-bar__progress"
                    ng-style="{width: (100 - $ctrl.state.info.reach.relative) + '%'}"
                ></div>
                <div class="zem-reach-bar__legend zem-reach-bar__legend--left">
                    Specific
                </div>
                <div class="zem-reach-bar__legend zem-reach-bar__legend--right">
                    Broad
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.state.editable && !$ctrl.isDisabled">
        <div
            class="zem-demographic-targeting__group"
            ng-repeat="node in $ctrl.state.expressionTree.childNodes"
        >
            <zem-bluekai-group
                node="node"
                state-service="$ctrl.stateService"
            ></zem-bluekai-group>
        </div>

        <div class="zem-demographic-targeting__actions">
            <a
                class="alternative-link"
                ng-if="$ctrl.canAddInclusion()"
                ng-click="$ctrl.addInclusion()"
            >
                Narrow audience
            </a>
            <span
                class="v-line"
                ng-if="$ctrl.canAddInclusion() && $ctrl.canAddExclusion()"
            ></span>
            <a
                class="alternative-link"
                ng-if="$ctrl.canAddExclusion()"
                ng-click="$ctrl.addExclusion()"
            >
                Exclude audience
            </a>
        </div>
    </div>
    <div
        ng-if="!$ctrl.state.editable"
        class="zem-demographic-targeting__group zem-demographic-targeting__group--inactive"
    >
        <div class="message message--success message--with-icon m-t">
            Audience targeting was set up by your customer success manager.
            Please reach out if you would like to change targeting
            configuration.
        </div>
    </div>
</div>
