<div>
    <div class="modal-header">
        <h4 class="modal-title">Select CSV or Excel file</h4>
    </div>
    <div class="modal-body">
        <form class="file-upload-form form-horizontal">
            <div class="form-group" ng-class="{'has-error': !!ctrl.formErrors.batchName}">
                <label for="batch-name-input" class="col-xs-2 control-label">
                    Batch name:
                </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="batch-name-input" ng-model="ctrl.formData.batchName" ng-focus="ctrl.clearFormErrors('batchName')" />
                    <div class="help-block m-b-none">
                        Batch name is only visible to you as a reference to this uploaded batch. By default it will use current Date and Time.
                    </div>
                    <label ng-repeat="error in ctrl.formErrors.batchName" class="control-label small error" for="batch-name-input">{{ error }}</label>
                </div>
            </div>
            <hr />

            <div class="form-group" ng-class="{'has-error': !!ctrl.formErrors.file}">
                <label for="file-input" class="col-xs-2 control-label">
                    File:
                </label>
                <div class="col-xs-10 info">
                    <zem-file-input zem-file-input-change="ctrl.fileUploadCallback(file)" zem-file-input-accept=".csv,.xls,.xlsx">
                        <button type="button" class="btn btn-secondary" ng-click="ctrl.clearFormErrors('file')" zem-file-input-trigger>
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/button-folder.svg"/>
                            <span class="action-text">Choose file</span>
                        </button>
                    </zem-file-input>

                    <input type="text" id="file-input" readonly class="form-control file-choosen" placeholder="No file chosen" ng-value="ctrl.formData.file.name">
                    <label ng-repeat="error in ctrl.formErrors.file" class="control-label small error" for="file-input">{{ error }}</label>
                    <div class="help-block">
                        <img class="small-icon" ng-src="{{ ctrl.config.static_url }}/one/img/question_mark.svg"/>
                        If you have trouble with file structure, you can download our example file and start from here.
                        <a href="{{ ctrl.config.static_url }}/one/assets/Zemanta_Content_Ads_Template.csv">Download CSV example file</a>
                        <a href="{{ ctrl.config.static_url }}/one/assets/Zemanta_Content_Ads_Template.xlsx">Download Excel example file</a>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-gray" ng-click="ctrl.close()">Cancel</button>
        <button type="button" class="btn btn-add pull-right" ng-click="ctrl.upload()" ng-disabled="ctrl.requestInProgress">Upload file</button>
        <img class="loader-icon small-icon pull-right" ng-if="ctrl.requestInProgress" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
        <span class="error pull-right" ng-if="ctrl.requestFailed && !ctrl.formErrors && !ctrl.requestInProgress">Oops. Something went wrong. Please try again.</span>
    </div>
</div>
