@import 'variables';

.zem-rule-edit-form-action {
    display: block;
}

.zem-rule-edit-form-action__email-container {
    display: flex;
    padding: 10px;
    background: @color--lightest-neutral;
    border: 1px solid @color--lighter-neutral;
    border-radius: 4px;
}

.zem-rule-edit-form-action__email {
    flex: 1 1 auto;
    margin-right: 5px;
}

.zem-rule-edit-form-action__macro {
    width: 200px;
}

.zem-rule-edit-form-action__macro .zem-ng-select {
    max-width: 200px;
}

.zem-rule-edit-form-action__macro .zem-ng-select .ng-value {
    text-overflow: ellipsis;
}

.zem-rule-edit-form-action__email .zem-form-group__label {
    flex: 0 0 120px;
}
