<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Action"
    [value]="selectedTargetAndActionType"
    bindLabel="label"
    bindValue="value"
    [items]="availableTargetAndActionTypes"
    groupByValue="group"
    [isSearchable]="false"
    [isClearable]="false"
    [isDisabled]="isDisabled"
    [errors]="actionTypeErrors"
    (valueChange)="selectTargetAndActionType($event)"
    [appendTo]="'body'"
></zem-select-form-group>

<zem-content-form-group
    class="zem-rule-edit-form__section-item zem-content-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasValue"
    [label]="selectedActionConfig.valueLabel"
    [helpMessage]="selectedActionConfig.description"
>
    <zem-currency-input
        class="zem-form-group__content-item zem-form-group__input zem-currency-input"
        [value]="formattedChangeStep"
        [currencySymbol]="inputUnitSymbol"
        [fractionSize]="2"
        [hasError]="changeStepErrors && changeStepErrors.length > 0"
        [zemPopover]="inputHelpText"
        [isDisabled]="isDisabled"
        triggers="mouseenter:mouseleave"
        placement="right"
        (inputBlur)="updateChangeStep($event, actionType)"
    ></zem-currency-input>
</zem-content-form-group>

<zem-content-form-group
    class="zem-rule-edit-form__section-item zem-content-form-group zem-rule-edit-form__currency-setting"
    *ngIf="selectedActionConfig.hasLimit"
    [label]="selectedActionConfig.limitLabel"
    [helpMessage]="selectedActionConfig.limitDescription"
>
    <zem-currency-input
        class="zem-form-group__content-item zem-form-group__input zem-currency-input"
        [value]="formattedChangeLimit"
        [currencySymbol]="inputUnitSymbol"
        [fractionSize]="2"
        [hasError]="changeLimitErrors && changeLimitErrors.length > 0"
        [zemPopover]="inputHelpText"
        [isDisabled]="isDisabled"
        triggers="mouseenter:mouseleave"
        placement="right"
        (inputBlur)="updateChangeLimit($event, actionType)"
    ></zem-currency-input>
    <div
        class="zem-form-group__content-item zem-message zem-message--error"
        *ngFor="let error of changeLimitErrors"
    >
        {{ error }}
    </div>
</zem-content-form-group>

<zem-select-form-group
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    label="Publisher Group"
    [value]="publisherGroupId"
    helpMessage="The publisher group to be used."
    bindLabel="label"
    bindValue="value"
    *ngIf="selectedActionConfig.hasPublisherGroupSelector"
    [items]="availablePublisherGroupsItems"
    [isLoading]="isSearchLoading"
    [isSearchable]="true"
    [isClearable]="false"
    [errors]="publisherGroupIdErrors"
    [isDisabled]="isDisabled"
    (valueChange)="updatePublisherGroup($event)"
    (search)="publisherGroupsSearch.emit($event)"
    (open)="publisherGroupsOpen.emit()"
></zem-select-form-group>

<zem-select-form-group
    label="Action frequency"
    class="zem-rule-edit-form__section-item zem-select-form-group zem-rule-edit-form__select-setting"
    [value]="actionFrequency"
    helpMessage="The minimum amount of time that needs to pass since the last time the action was applied."
    bindLabel="label"
    bindValue="value"
    [isDisabled]="
        isDisabled ||
        !actionType ||
        !availableActionFrequencies ||
        !availableActionFrequencies.length
    "
    [items]="availableActionFrequencies"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="actionFrequencyErrors"
    (valueChange)="selectActionFrequency($event)"
    [appendTo]="'body'"
></zem-select-form-group>

<ng-container *ngIf="actionType === RuleActionType.SendEmail">
    <div
        class="zem-rule-edit-form__section-item zem-rule-edit-form-action__email-container"
    >
        <div class="zem-rule-edit-form-action__email">
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email subject"
                [value]="sendEmailSubject"
                rows="1"
                (inputFocus)="setShouldAppendMacroToSubject(true)"
                (valueChange)="updateSendEmailSubject($event)"
                [errors]="sendEmailSubjectErrors"
                [isDisabled]="isDisabled"
            ></zem-textarea-form-group>
            <zem-textarea-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email body"
                [value]="sendEmailBody"
                rows="5"
                (valueChange)="updateSendEmailBody($event)"
                (inputFocus)="setShouldAppendMacroToSubject(false)"
                [errors]="sendEmailBodyErrors"
                [isDisabled]="isDisabled"
            ></zem-textarea-form-group>
            <zem-text-form-group
                class="zem-rule-edit-form__section-item zem-textarea-form-group"
                label="Email recipients"
                [value]="sendEmailRecipients"
                (valueChange)="updateSendEmailRecipients($event)"
                [errors]="sendEmailRecipientsErrors"
                [isDisabled]="isDisabled"
            ></zem-text-form-group>
            <div
                class="zem-rule-edit-form__section-description zem-rule-edit-form__section-item"
            >
                Comma separated list of recipient's emails.
            </div>
        </div>
        <div class="zem-rule-edit-form-action__macro">
            <zem-select-form-group
                class="zem-rule-edit-form__section-item zem-select-form-group"
                placeholder="Add a macro"
                [value]="selectedMacro"
                bindLabel="label"
                bindValue="value"
                [items]="EMAIL_MACROS"
                [isSearchable]="false"
                [isClearable]="true"
                [isDisabled]="isDisabled"
                (valueChange)="selectMacro($event)"
                [appendTo]="'body'"
            ></zem-select-form-group>
            <button
                class="zem-rule-edit-form__section-item button button--highlight button--with-icon add-icon"
                [disabled]="!selectedMacro"
                (click)="appendSelectedMacro()"
            >
                Add
            </button>
            <div
                class="zem-rule-edit-form__section-description zem-rule-edit-form__section-item"
            >
                Macros enable you to add context specific values to the email.
            </div>
        </div>
    </div>
</ng-container>
