<ag-grid-angular
    class="zem-smart-grid__table"
    [class.zem-smart-grid__table--no-horizontal-scroll]="hideHorizontalScroll"
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [loadingOverlayComponent]="'loadingOverlayComponent'"
    [noRowsOverlayComponent]="'noRowsOverlayComponent'"
    [pagination]="paginationOptions?.type === 'client'"
    [paginationPageSize]="paginationPageSize"
    [suppressPaginationPanel]="true"
    [suppressScrollOnNewData]="true"
    [context]="context"
    (rowSelected)="onRowSelected($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    (gridSizeChanged)="onGridSizeChanged($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    (gridColumnsChanged)="onGridColumnsChanged($event)"
    (rowDataChanged)="onRowDataChanged($event)"
    (rowDataUpdated)="onRowDataUpdated($event)"
    (dragStarted)="onDragStarted($event)"
    (dragStopped)="onDragStopped($event)"
></ag-grid-angular>
<div class="zem-smart-grid__pagination-container" *ngIf="canRenderPagination()">
    <zem-select-input
        class="zem-select-input zem-smart-grid__pagination-page-size"
        [value]="paginationPageSize"
        [bindLabel]="'name'"
        [bindValue]="'value'"
        [appendTo]="'body'"
        [items]="paginationPageSizeOptions"
        [isSearchable]="false"
        [isClearable]="false"
        (valueChange)="onPaginationPageSizeChange($event)"
    ></zem-select-input>
    <zem-pagination
        class="zem-pagination zem-smart-grid__pagination"
        [count]="getPaginationCount()"
        [page]="paginationPage"
        [pageSize]="paginationPageSize"
        (pageChange)="onPageChange($event)"
    ></zem-pagination>
</div>
