@default-font-family: "proxima-nova", arial, sans-serif;


// Mixins

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
}



// HTML

body {
    font-family: @default-font-family
}

a,
a:hover,
a:active,
a:visited {
    color: #2fa8c7;
}



// TypeKit

.wf-loading {
    visibility: hidden;
}



// Bootstrap overrides

.btn-default,
.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #fff;
    border-color: #2fa8c7;
    color: #2fa8c7;
    .box-shadow(0 1px 2px rgba(50, 50, 50, 0.1));

    &:hover {
        border-color: #2488a1;
        color: #2488a1;
    }
}

.table {
    color: #454545;
    font-size: 13px;

    th {
        white-space: nowrap;
    }

    thead {
        background-color: #f6f6f6;
    }

    thead > tr > th {
        border-bottom: 0;
    }

    th:last-child, td:last-child {
        padding-right: 20px;
    }

    .loader-row {
        text-align: center;
    }
}


// App-specific

.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent url('img/loader.gif') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
}

.action-log-list {
    .action-log-item-states {
        min-width: 152px;
    }

    .btn-success {
        color: #5cb85c;
        border-color: #5cb85c;
    }
    .btn-failed {
        color: #d9534f;
        border-color: #d9534f;
    }
    .btn-aborted {
        color: #777;
        border-color: #777;
    }
    .btn-waiting {
        color: #428bca;
        border-color: #428bca;
    }

    .state-selected {
        &.btn-success {
            background-color: #5cb85c;
            border-color: #5cb85c;
            color: #fff;
        }
        &.btn-failed {
            background-color: #d9534f;
            border-color: #d9534f;
            color: #fff;
        }
        &.btn-aborted {
            background-color: #777;
            border-color: #777;
            color: #fff;
        }
        &.btn-waiting {
            background-color: #428bca;
            border-color: #428bca;
            color: #fff;
        }
    }

    .order-class-0 {
        background-color: #fcfcfc;
    }

    .actionlog-filter {
        margin-left: 1em;
        vertical-align: text-bottom;
    }
}

.header {
    line-height: 51px;

    .logo-container {
        width: 205px;
        padding-left: 15px;
        float: left;
        .logo {
            height: 20px;
        }
    }

    .profile-container {
        float: right;
        padding-left: 15px;
        padding-right: 15px;

        .content {
            float: right;

            a.contact,
            a.contact:hover,
            a.contact:active,
            a.contact:visited {
                font-size: 15px;
                font-weight: normal;
                color: #414141;
            }

            .profile {
                img {
                    height: 40px;
                    margin-top: -5px;
                }
            }
        }
    }
}

.footer {
    padding-bottom: 15px;
    color: #414141;
    text-align: center;

    a,
    a:hover,
    a:active,
    a:visited {
        color: #414141;
    }

    .terms,
    .copyright {
        display: inline-block;
        margin: 0px 15px;
    }
}
