<div class="zem-footer__logo">
    <img src="{{ $ctrl.config.staticUrl }}/one/images/zemanta-logo-gray.svg" class="zem-footer__logo-image"/>
</div>
<div class="zem-footer__copyright">
    <a ng-href="/tos/" target="_blank">Terms Of Service</a><br>
    All rights reserved &copy; <a href="http://www.zemanta.com">Zemanta.com</a>
</div>
<div class="zem-footer__notification">
    <ul class="list-with-bullets">
        <li>The reporting data is an estimate, and the final amount will be reflected on your invoice.</li>
        <li>All times are in Eastern Standard Time (EST).</li>
    </ul>
</div>
