@import 'variables';

.zem-footer {
    display: table;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 @spacing--default @spacing--default @spacing--default;
}

.zem-footer__logo,
.zem-footer__copyright,
.zem-footer__notification {
    display: table-cell;
    vertical-align: middle;

    a {
        color: @text-color--lighter;
    }
}

.zem-footer__logo {
    width: 132px;
    padding-right: 20px;
}

.zem-footer__logo-image {
    height: 36px;
}

.zem-footer__copyright,
.zem-footer__notification {
    padding: 0 20px;
    text-align: left;
    color: @text-color--lighter;
    font-size: @font-size--default;
    line-height: 16px;
    border-left: 1px solid @color--light-neutral;
}

.zem-footer__notification {
    .list-with-bullets {
        margin-bottom: 0;

        li::before {
            background-color: @color--light-neutral;
        }
    }
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-footer {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        padding-top: @spacing--default;
    }
}

@media only screen and (max-width: 650px) {
    .zem-footer {
        display: block;
    }

    .zem-footer__logo,
    .zem-footer__copyright,
    .zem-footer__notification {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        border-left: none;
    }

    .zem-footer__copyright {
        border-top: 1px solid @color--light-neutral;
        border-bottom: 1px solid @color--light-neutral;
    }

    .zem-footer__notification {
        .list-with-bullets {
            li::before {
                display: none;
            }
        }
    }
}
