@import '../default/variables.less';

@images-folder: 'images/whitelabel/das';
@logo__background: url('@{images-folder}/das-logo.svg') no-repeat center center;
@logo__background--footer: url('@{images-folder}/das-logo-gray.svg') no-repeat
    center center;

@color--primary: #e35519;
