{% extends "header_base.html" %}

{% load staticfiles %}

{% block head_extra %}
{{ block.super }}
<script type="text/javascript" src="{% static "libs/jquery/jquery-2.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "libs/jquery-placeholder/jquery.placeholder.js" %}"></script>
<title>Zemanta One</title>
{% endblock %}

{% block header_logo_link %}http://www.zemanta.com{% endblock %}
{% block support_mail_extra %}?Subject=Sign%20In%20Page%20Issue{% endblock %}

{% block content %}
<div id="signin" class="center-container" data-gauth-url="{{ gauth_url }}">
    <form id="signin_form" method="post" action="{% url 'zemauth.views.password_reset' %}">
        {% csrf_token %}

        <h1>Password reset</h1>

        {% if success %}
        <p>Instructions sent successfully. Check your inbox!</p>
        <a href="{% url 'signin' %}">Sign in</a>
        {% else %}
        <p>To reset your password, enter the email address you use to sign in to one.zemanta.com.</p>
        {{ form.username }}

        <input id="id_signin_btn" type="submit" value="Reset my password" />

        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <p class="failure-text">{{error}}</p>
            {% endfor %}
        {% endif %}

        <a href="{% url 'signin' %}">Back to Sign in</a>

        <div class="support-text">
            Contact <a class="contact" href="mailto:help@zemanta.com?Subject=Sign%20In%20Page%20Issue">Zemanta client services</a> if you have trouble signing in or using the dashboard.
        </div>
        {% endif %}

    </form>
</div>
{% endblock %}
