{% extends "header_base.html" %}

{% load staticfiles %}
{% load whitelabel %}

{% block head_extra %}
{{ block.super }}
    {% get_whitelabel_info as wl %}
    {% if wl.base == "newscorp" %}
        <title>Newscorp Dashboard - Reset password</title>
    {% elif wl.base == "das" %}
        <title>Native Ocean - Reset password</title>
    {% else %}
        <title>Zemanta - Reset password</title>
    {% endif %}
    <script type="text/javascript" src="{% static "libs/jquery/jquery-2.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/jquery-placeholder/jquery.placeholder.js" %}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function recaptchaCallback() {
            var $signInBtn = $('#id_signin_btn');
            $signInBtn.show();
        }
    </script>
{% endblock %}

{% block content %}
    {% get_whitelabel_info as wl %}
    <div class="page {{ wl.base }}">
        <div class="container">
            <div class="container__left" id="signin" data-gauth-url="{{ gauth_url }}">
                {% if wl.base == "newscorp" %}
                    <img class="logo" src="{% static "img/newscorp-logo.svg" %}" alt="Newscorp Logo"/>
                {% elif wl.base == "das" %}
                    <img class="logo" src="{% static "img/das-logo-white.svg" %}" alt="Native Ocean Logo"/>
                {% else %}
                    <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
                {% endif %}

                <form id="signin_form" method="post">
                    {% csrf_token %}

                    <h2>Password reset</h2>

                    {% if success %}
                        <p>Instructions sent successfully. Check your inbox!</p>
                        <a class="button" href="{% url 'signin' %}?next={{ request.GET.next | urlencode }}">Sign in</a>
                    {% else %}
                        {% if wl.base == "newscorp" %}
                            <p>To reset your password, enter the email address you use to sign in to newscorp.zemanta.com.</p>
                        {% elif wl.base == "das" %}
                            <p>To reset your password, enter the email address you use to sign in to nativeocean.zdsp.io.</p>
                        {% else %}
                            <p>To reset your password, enter the email address you use to sign in to one.zemanta.com.</p>
                        {% endif %}
                        {{ form.username }}

                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <div class="message--error">{{error}}</div>
                            {% endfor %}
                        {% endif %}

                        <div class="g-recaptcha" data-sitekey="6LdYHIUUAAAAAPw7w4nvlYxzQkg61nbwSsKygTad" data-callback="recaptchaCallback"></div>

                        <input class="button" id="id_signin_btn" type="submit" value="Reset my password" style="display: none; margin-top: 5px;"/>

                        <a class="link" href="{% url 'signin' %}">Back to Sign in</a>
                    {% endif %}
                </form>
            </div>
            <div class="container__right" id="request_demo">
                {% if wl.base == "das" %}
                    <h2>Request Native Ocean demo</h2>
                    <p>Content promotion can be overwhelming without the right technology and expertise. <strong>Native Ocean makes it easier.</strong> Native Ocean provides direct access to 25+ networks and exchanges designed for content promotion to drive traffic and audience. Key features include:</p>
                {% else %}
                    <h2>Request Zemanta One demo</h2>
                    <p>Content promotion can be overwhelming without the right technology and expertise. <strong>Zemanta makes it easier.</strong> Zemanta One provides direct access to 25+ networks and exchanges designed for content promotion (ie. Outbrain, Sharethrough) to drive traffic and audience. Key features include:</p>
                {% endif %}
                <ul class="bullet--checkmark-icons">
                    <li>Complete Transparency – Network media spend, data costs, CPCs</li>
                    <li>One insertion order (IO) to manage budgets across 25+ networks and exchanges</li>
                    <li>Web analytics integrations to measure post-click performance</li>
                    <li>Real-time reporting and optimizations</li>
                    <li>Massive scale over 250M US unique users</li>
                </ul>
                {% if wl.base == "das" %}
                    <a class="button" href="mailto:info_nativeocean@accelerators.jp?Subject=Request%20demo">Request demo</a><br/>Instructions sent successfully. Check your inbox!
                {% else %}
                    <a class="button" href="http://www.zemanta.com/request-demo" target="_blank">Request demo</a><br/>
                    <a class="link" href="mailto:help@zemanta.com?Subject=Sign%20In%20Page%20Issue">Contact Support</a>
                {% endif %}
            </div>
        </div>
        <div class="color-overlay"></div>
    </div>
{% endblock %}
