{% extends "header_base.html" %}

{% load staticfiles %}
{% load whitelabel %}

{% block head_extra %}
    {{ block.super }}
    {% if wl.base == "newscorp" %}
        <title>Welcome to Newscorp Dashboard</title>
    {% elif wl.base == "das" %}
        <title>Welcome to Native Ocean Dashboard</title>
    {% else %}
        <title>Welcome to Zemanta One</title>
    {% endif %}
{% endblock %}

{% block header_logo_link %}http://www.zemanta.com{% endblock %}
{% block support_mail_extra %}?Subject=Sign%20In%20Page%20Issue{% endblock %}

{% block content %}
    {% get_whitelabel_info as wl %}
    <div class="page {{ wl.base }}">
        {% if valid_link %}
            <div class="container container--small">

                <form id="signin_form" method="post" action="">
                    <div class="container__left container__left--full-width set-new-user__background" id="set-new-user">

                        {% csrf_token %}

                        {% if wl.base == "newscorp" %}
                            <h2 class="set-new-user__page_title">Welcome to Newscorp Dashboard</h2>
                        {% elif wl.base == "das" %}
                            <h2 class="set-new-user__page_title">Welcome to Native Ocean Dashboard</h2>
                        {% else %}
                            <h2 class="set-new-user__page_title">Welcome to Zemanta One</h2>
                        {% endif %}

                        {% if wl.base == "das" %}
                            <p class="set-new-user__description">You are about to start using Native Ocean Dashboard. Before you begin, please tell us a bit about yourself, so that we’ll be able to better assist you.</p>
                        {% else %}
                            <p class="set-new-user__description">You are about to start using Zemanta One. Before you begin, please tell us a bit about yourself, so that we’ll be able to better assist you.</p>
                        {% endif %}


                        <div class="two-columns set-new-user__item">
                            <div class="two-columns__item two-columns__item--set-new-user">
                                <div class="set-new_user__horizontal_input_group">
                                    {{ form.first_name }}
                                    {{ form.last_name }}
                                </div>
                                {{ form.new_password }}
                                {{ form.email }}
                                {{ form.country }}
                                {{ form.company_type }}
                                <div class="set-new_user__horizontal_input_group">
                                    {{ form.job_title }}
                                    {{ form.years_of_experience }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="set-new-user__white_background">
                        <div class="set-new-user__programmatic-platforms">
                            <h3>What programmatic platform partners do you work with?</h3>
                            {{ form.programmatic_platforms }}
                        </div>

                        {% for errors in form.errors.values %}
                            {% for error in errors %}
                                <div class="message--error">{{ error|escape }}</div>
                            {% endfor %}
                        {% endfor %}

                        <div class="set-new-user__actions">
                            {% if wl.base == "newscorp" %}
                                <input class="button set-new-user__start_button" id="id_set_new_user_btn" type="submit" value="Start using Newscorp Dashboard">
                            {% elif wl.base == "das" %}
                                <input class="button set-new-user__start_button" id="id_set_new_user_btn" type="submit" value="Start using Native Ocean Dashboard" />
                            {% else %}
                                <input class="button set-new-user__start_button" id="id_set_new_user_btn" type="submit" value="Start using Zemanta One" />
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="container">
                <div class="container__left container__left--smaller">
                    {% if wl.base == "das" %}
                        <img class="logo" src="{% static "img/das-logo-white.svg" %}" alt="Native Ocean Logo"/>
                    {% else %}
                        <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
                    {% endif %}
                </div>
                <div class="container__right container__right--error">
                    <h2>Oops.</h2>
                    {% if wl.base == "newscorp" %}
                        <p class="bigger">Your link to Newscorp Dashboard expired.</p>
                        <p><strong>Need help?</strong> <a class="link" href="mailto:help@zemanta.com?Subject=Help%20Needed" target="_blank">Contact us</a></p>
                    {% elif wl.base == "das" %}
                        <p class="bigger">Your link to Native Ocean Dashboard expired.</p>
                        <p><strong>Need help?</strong> <a class="link" href="mailto:info_nativeocean@accelerators.jp?Subject=Help%20Needed" target="_blank">Contact us</a></p>
                    {% else %}
                        <p class="bigger">Your link to Zemanta One expired.</p>
                        <p><strong>Need help?</strong> <a class="link" href="mailto:help@zemanta.com?Subject=Help%20Needed" target="_blank">Contact us</a></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="color-overlay"></div>
    </div>
    {% if not debug %}
        <script type="text/javascript">
            var email = document.forms[0].elements['email'].value;
            FS.identify(email, {
                displayName: email,
                email: email
            });
        </script>
    {% endif %}
{% endblock %}
