{% extends "header_base.html" %}

{% load staticfiles %}

{% block head_extra %}
{{ block.super }}
<title>Zemanta One</title>
{% endblock %}

{% block header_logo_link %}http://www.zemanta.com{% endblock %}
{% block support_mail_extra %}?Subject=Sign%20In%20Page%20Issue{% endblock %}

{% block content %}
{% if validlink %}
<div id="set-password" class="center-container">
    <form id="signin_form" method="post" action="">
        {% csrf_token %}

        {% if new_user %}
        <h1>Welcome.</h1>
        <h2>Please choose a password.</h2>
        {% else %}
        <h1>Set new password</h1>
        <p>Enter your new password for your Zemanta account as <b>{{user_email}}</b>.</p>
        {% endif %}

        {{ form.new_password }}
        {{ form.email }}

        <input id="id_set_password_btn" type="submit" value="Set Password" />
        {% if form.new_password.errors %}
        <p class="failure-text">Your password is too short. Make sure it has at least 6 characters.</p>
        {% endif %}
    </form>
</div>
{% else %}
<div id="error-box" class="center-container">
    <div class="title">Oops.</div>
    <div class="message">
        <div>Your password reset link expired.</div>
    </div>
    <div>
        <div><strong>Need help? Contact us.</strong></div>
        <div><a class="contact" href="mailto:help@zemanta.com?Subject=Help%20Needed">help@zemanta.com</a></div>
    </div>
</div>
{% endif %}

{% if not debug %}
<script type="text/javascript">
var email = document.forms[0].elements['email'].value;
FS.identify(email, {
    displayName: email,
    email: email
});
</script>
{% endif %}
{% endblock %}
