{% extends "header_base.html" %}

{% load staticfiles %}
{% load whitelabel %}

{% block head_extra %}
{{ block.super }}
    {% get_whitelabel_info as wl %}
    {% if wl.base == "newscorp" %}
        <title>Newscorp Dashboard - Set password</title>
    {% elif wl.base == "das" %}
        <title>Native Ocean - Set password</title>
    {% else %}
        <title>Zemanta - Set password</title>
    {% endif %}
{% endblock %}

{% block header_logo_link %}http://www.zemanta.com{% endblock %}
{% block support_mail_extra %}?Subject=Sign%20In%20Page%20Issue{% endblock %}

{% block content %}
    {% get_whitelabel_info as wl %}
    <div class="page {{ wl.base }}">
        <div class="container">
            {% if valid_link %}
                <div class="container__left" id="set-password">
                    {% if wl.base == "newscorp" %}
                        <img class="logo" src="{% static "img/newscorp-logo.svg" %}" alt="Newscorp Logo"/>
                    {% elif wl.base == "das" %}
                        <img class="logo" src="{% static "img/das-logo-white.svg" %}" alt="Native Ocean Logo"/>
                    {% else %}
                        <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
                    {% endif %}

                    <form id="signin_form" method="post" action="">
                        {% csrf_token %}

                        <h2>Set new password</h2>
                        {% if wl.base == "das" %}
                            <p>Enter your new password for your Native Ocean account as <b>{{user_email}}</b>.</p>
                        {% else %}
                            <p>Enter your new password for your Zemanta account as <b>{{user_email}}</b>.</p>
                        {% endif %}

                        {{ form.new_password }}
                        {{ form.email }}

                        {% for errors in form.errors.values %}
                            {% for error in errors %}
                                <div class="message--error">{{ error|escape }}</div>
                            {% endfor %}
                        {% endfor %}

                        <input class="button" id="id_set_password_btn" type="submit" value="Set Password" />
                    </form>
                </div>
                <div class="container__right" id="request_demo">
                    {% if wl.base == "das" %}
                        <h2>Request Native Ocean demo</h2>
                        <p>Content promotion can be overwhelming without the right technology and expertise. <strong>Native Ocean makes it easier.</strong> Native Ocean provides direct access to 25+ networks and exchanges designed for content promotion to drive traffic and audience. Key features include:</p>
                    {% else %}
                        <h2>Request Zemanta One demo</h2>
                        <p>Content promotion can be overwhelming without the right technology and expertise. <strong>Zemanta makes it easier.</strong> Zemanta One provides direct access to 25+ networks and exchanges designed for content promotion (ie. Outbrain, Sharethrough) to drive traffic and audience. Key features include:</p>
                    {% endif %}
                    <ul class="bullet--checkmark-icons">
                        <li>Complete Transparency – Network media spend, data costs, CPCs</li>
                        <li>One insertion order (IO) to manage budgets across 25+ networks and exchanges</li>
                        <li>Web analytics integrations to measure post-click performance</li>
                        <li>Real-time reporting and optimizations</li>
                        <li>Massive scale over 250M US unique users</li>
                    </ul>
                    {% if wl.base == "das" %}
                        <a class="button" href="mailto:info_nativeocean@accelerators.jp?Subject=Request%20demo">Request demo</a><br/>
                    {% else %}
                        <a class="button" href="http://www.zemanta.com/request-demo" target="_blank">Request demo</a><br/>
                        <a class="link" href="mailto:help@zemanta.com?Subject=Sign%20In%20Page%20Issue">Contact Support</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="container__left container__left--smaller">
                    {% if wl.base == "das" %}
                        <img class="logo" src="{% static "img/das-logo-white.svg" %}" alt="Native Ocean Logo"/>
                    {% else %}
                        <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
                    {% endif %}
                </div>
                <div class="container__right container__right--error">
                    <h2>Oops.</h2>
                    {% if wl.base == "newscorp" %}
                        <p class="bigger">Your link to Newscorp Dashboard expired.</p>
                        <p><strong>Need help?</strong> <a class="link" href="mailto:help@zemanta.com?Subject=Help%20Needed" target="_blank">Contact us</a></p>
                    {% elif wl.base == "das" %}
                        <p class="bigger">Your link to Native Ocean Dashboard expired.</p>
                        <p><strong>Need help?</strong> <a class="link" href="mailto:info_nativeocean@accelerators.jp?Subject=Help%20Needed" target="_blank">Contact us</a></p>
                    {% else %}
                        <p class="bigger">Your link to Zemanta One expired.</p>
                        <p><strong>Need help?</strong> <a class="link" href="mailto:help@zemanta.com?Subject=Help%20Needed" target="_blank">Contact us</a></p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="color-overlay"></div>
    </div>
    {% if not debug %}
        <script type="text/javascript">
            var email = document.forms[0].elements['email'].value;
            FS.identify(email, {
                displayName: email,
                email: email
            });
        </script>
    {% endif %}
{% endblock %}
