{% extends "header_base.html" %}

{% load staticfiles %}
{% load whitelabel %}

{% block head_extra %}
    {{ block.super }}
    {% get_whitelabel_info as wl %}
    {% if wl.base == "newscorp" %}
        <title>Welcome to Newscorp Dashboard</title>
    {% else %}
        <title>Welcome to Zemanta One</title>
    {% endif %}
{% endblock %}

{% block header_logo_link %}http://www.zemanta.com{% endblock %}
{% block support_mail_extra %}?Subject=Sign%20In%20Page%20Issue{% endblock %}

{% block content %}
    {% get_whitelabel_info as wl %}
    <div class="page {{ wl.base }}">
        {% if valid_link %}
            <div class="container container--small">
                <div class="container__left container__left--full-width" id="set-new-user">
                    {% if wl.base == "newscorp" %}
                        <img class="logo" src="{% static "img/newscorp-logo.svg" %}" alt="Newscorp Logo"/>
                    {% else %}
                        <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
                    {% endif %}

                    <form id="signin_form" method="post" action="">
                        {% csrf_token %}

                        {% if wl.base == "newscorp" %}
                            <h2>Welcome to Newscorp Dashboard</h2>
                        {% else %}
                            <h2>Welcome to Zemanta One</h2>
                        {% endif %}

                        <p class="set-new-user__description">You are about to start using Zemanta One. Before you begin, please tell us a bit about yourself, so that we’ll be able to better assist you.</p>

                        <div class="two-columns set-new-user__item">
                            <div class="two-columns__item two-columns__item--set-new-user">
                                {{ form.first_name }}
                                {{ form.last_name }}
                                {{ form.new_password }}
                                {{ form.email }}
                                {{ form.country }}
                                {{ form.company_type }}
                                {{ form.job_title }}
                                {{ form.years_of_experience }}
                            </div>
                            <div class="two-columns__item two-columns__item--set-new-user two-columns__item--hide-on-small-screen">
                                <img class="set-new-user__image set-new-user__image--guitar" src="{% static "img/guitar.svg" %}"/>
                            </div>
                        </div>

                        <div class="set-new-user__programmatic-platforms set-new-user__item">
                            <span>What programmatic platform partners do you work with?</span>
                            {{ form.programmatic_platforms }}
                        </div>

                        {% for errors in form.errors.values %}
                            {% for error in errors %}
                                <div class="message--error">{{ error|escape }}</div>
                            {% endfor %}
                        {% endfor %}

                        <div class="set-new-user__actions">
                            {% if wl.base == "newscorp" %}
                                <input class="button button--set-new-user" id="id_set_new_user_btn" type="submit" value="Start using Newscorp Dashboard" />
                            {% else %}
                                <input class="button button--set-new-user" id="id_set_new_user_btn" type="submit" value="Start using Zemanta One" />
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="container__left container__left--smaller">
                    <img class="logo" src="{% static "img/zemanta-logo-white.svg" %}" alt="Zemanta Logo"/>
                </div>
                <div class="container__right container__right--error">
                    <h2>Oops.</h2>
                    {% if wl.base == "newscorp" %}
                        <p class="bigger">Your link to Newscorp Dashboard expired.</p>
                    {% else %}
                        <p class="bigger">Your link to Zemanta One expired.</p>
                    {% endif %}
                    <p><strong>Need help?</strong> <a class="link" href="mailto:help@zemanta.com?Subject=Help%20Needed" target="_blank">Contact us</a></p>
                </div>
            </div>
        {% endif %}
        <div class="color-overlay"></div>
    </div>
    {% if not debug %}
        <script type="text/javascript">
            var email = document.forms[0].elements['email'].value;
            FS.identify(email, {
                displayName: email,
                email: email
            });
        </script>
    {% endif %}
{% endblock %}
