{% extends "base.html" %}

{% load staticfiles %}

{% block head_extra %}
<script type="text/javascript" src="{% static "libs/jquery/jquery-2.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/signin.js" %}"></script>
{% endblock %}

{% block header_logo_link %}http://www.zemanta.com{% endblock %}
{% block support_mail_extra %}?Subject=Sign%20In%20Page%20Issue{% endblock %}

{% block content %}
<div id="signin" class="center-container" data-gauth-url="{{ gauth_url }}">
    <form id="signin_form" method="post" action="{% url 'zemauth.views.login' %}">
        {% csrf_token %}

        <div class="label signin">Sign in</div>
        {{ form.username }}
        {{ form.password }}

        <input id="id_signin_btn" type="submit" value="Sign In" />
        <input type="hidden" name="next" value="{{ next }}" />

        {% if form.errors %}
        <p class="failure-text">Your email and password didn't match. Please try again.</p>
        {% endif %}

        {% if gauth_error %}
        <p class="failure-text">{{ gauth_error }}</p>
        {% endif %}

        <div class="support-text">
            Contact <a class="contact" href="mailto:help@zemanta.com?Subject=Sign%20In%20Page%20Issue">Zemanta client services</a> if you have trouble signing in.
        </div>

    </form>
</div>
{% endblock %}
