{% extends "base.html" %}

{% block content %}
<div id="signin" class="center-container">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    <div class="label signin">Sign in</div>
    {{ form.username }}
    {{ form.password }}

    <input id="id_signin_btn" type="submit" value="SIGN IN" />
    <input type="hidden" name="next" value="{{ next }}" />

    {% if form.errors %}
    <p class="failure-text">Your email and password didn't match. Please try again.</p>
    {% endif %}

    <div class="support-text">
        Contact <a class="contact" href="mailto:help@zemanta.com?Subject=Sign%20In%20Page%20Issue">Zemanta client services</a> if you have trouble signing in.
    </div>

    </form>
</div>
{% endblock %}
