<span *ngFor="let os of oses">
    <ng-container
        *ngTemplateOutlet="osItemTemplate; context: {os: os}"
    ></ng-container>
</span>
<div
    zemDropdown
    [suppressDropdownMobileStyle]="true"
    [isDropdownDisabled]="isDisabled"
    #addOsDropdown="zemDropdown"
    class="zem-operating-system-list__dropdown"
>
    <button
        class="zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--add-icon"
        [disabled]="isDisabled"
        zemDropdownToggle
    >
        Add Operating System
    </button>
    <div zemDropdownContent>
        <ul class="zem-operating-system-list__dropdown-list">
            <li
                *ngFor="let os of filteredOses"
                class="zem-operating-system-list__dropdown-item"
                (click)="addOs(os)"
            >
                {{ os.displayName }}
            </li>
        </ul>
    </div>
</div>
