<div class="zem-settings-component__container">
    <h2>General settings</h2>
    <div class="form-group" ng-class="{'has-error': !!$ctrl.errors.state}" ng-if="!$ctrl.hasPermission('zemauth.can_control_ad_group_state_in_table')">
        <label for="campaign-state-switch" class="col-xs-3 control-label">
            Ad Group Status
            <zem-help-popover content="This is the current state of the Ad Group. If you enable the Ad Group you must then go enable preferred Media Sources too.
                                                                                          If you pause it, all Media Sources get paused." placement="bottom"></zem-help-popover>
        </label>
        <div id="campaign-state-switch" class="col-xs-6">
            <div class="btn-group campaign-state-switch">
                <label class="btn btn-success" ng-model="$ctrl.entity.settings.state" ng-repeat="state in $ctrl.options.adGroupSettingsStates" btn-radio="state.value">{{ state.name }}</label>
            </div>
        </div>

        <label ng-repeat="error in $ctrl.errors.state" class="control-label error" for="name-input">{{ error }}</label>
    </div>

    <div class="form-group" ng-class="{'has-error': !!$ctrl.errors.name}">
        <label for="name-input" class="col-xs-3 control-label">
            Name
            <zem-help-popover content="The name of the ad group." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-6">
            <input id="name-input" type="text" class="form__input-text" ng-model="$ctrl.entity.settings.name">
        </div>

        <label ng-repeat="error in $ctrl.errors.name" class="control-label error" for="name-input">{{ error }}</label>
    </div>

    <div class="form-group" ng-class="{'has-error': !!$ctrl.errors.startDate}">
        <label for="start-date-input" class="col-xs-3 control-label">
            Start date
            <zem-help-popover content="The date when content promotion commenced." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-6">
            <div class="form__prefixed-field form__prefixed-field--with-icon form__prefixed-field--calendar-icon">
                <input id="start-date-input" type="text" class="form__input-text" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.entity.settings.startDate" is-open="$ctrl.startDatePicker.isOpen" ng-click="$ctrl.openDatePicker('startDate')">
            </div>
        </div>

        <label ng-repeat="error in $ctrl.errors.startDate" class="control-label error" for="start-date-input">{{ error }}</label>
    </div>

    <div class="form-group" ng-class="{'has-error': !!$ctrl.errors.endDate}">
        <label for="end-date-input" class="col-xs-3 control-label">
            End date
            <zem-help-popover content="The date when content promotion paused." placement="top"></zem-help-popover>
        </label>

        <div class="col-xs-4">
            <div class="form__prefixed-field form__prefixed-field--with-icon form__prefixed-field--calendar-icon">
                <input ng-disabled="$ctrl.entity.warnings.endDate !== undefined" id="end-date-input" type="text" class="form__input-text" uib-datepicker-popup="MM/dd/yyyy" datepicker-options="$ctrl.endDatePickerOptions" ng-model="$ctrl.entity.settings.endDate" is-open="$ctrl.endDatePicker.isOpen" ng-click="$ctrl.openDatePicker('endDate')">
            </div>
        </div>

        <div class="checkbox col-xs-4">
            <label>
                <input ng-disabled="$ctrl.entity.warnings.endDate !== undefined" type="checkbox" id="manual-stop-cb" ng-model="$ctrl.entity.settings.manualStop"> I'll stop it myself
            </label>
        </div>

        <label ng-if="$ctrl.entity.warnings.endDate === undefined" ng-repeat="error in $ctrl.errors.endDate" class="control-label error" for="end-date-input">{{ error }}</label>

        <div class="col-xs-6 alert alert-warning form-alert-box" ng-if="$ctrl.entity.warnings.endDate !== undefined" >
            <div class="form-alert-exclamation">
                <img class="warning-icon" ng-src="{{ config.static_url }}/one/img/notification-warning.svg"></img>
            </div>
            <div class="form-alert-body">{{ $ctrl.MESSAGES.WARNING_END_DATE }}<a zem-in-link="main.campaigns.budget({id: {{ $ctrl.entity.warnings.endDate.campaignId }} })">Add budget</a></div>
        </div>

    </div>

    <div class="form-group" ng-class="{'has-error': !!$ctrl.errors.cpc}" ng-if="$ctrl.hasPermission('zemauth.can_set_ad_group_max_cpc')">
        <label for="cpc-input" class="col-xs-3 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_set_ad_group_max_cpc')" popover-placement="right"></zem-internal-feature>
            Maximum CPC
            <zem-help-popover content="Maximum allowed CPC in this ad group." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-4">
            <div class="form__prefixed-field">
                <span class="form__field-prefix">$</span>
                <input id="cpc-input" type="text" class="form__input-text" ng-model="$ctrl.entity.settings.cpc" zem-currency-input fraction-size="3" empty-text="No limit">
            </div>
        </div>
        <label ng-repeat="error in $ctrl.errors.cpc" class="control-label error" for="cpc-input">{{ error }}</label>
    </div>

    <div class="form-group" ng-class="{'has-error': !!$ctrl.errors.max_cpm}" ng-if="$ctrl.hasPermission('zemauth.can_set_ad_group_max_cpm')">
        <label for="cpm-input" class="col-xs-3 control-label">
            <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.can_set_ad_group_max_cpm')" popover-placement="right"></zem-internal-feature>
            Maximum CPM
            <zem-help-popover content="Maximum allowed CPM in this ad group." placement="top"></zem-help-popover>
        </label>
        <div class="col-xs-4">
            <div class="form__prefixed-field">
                <span class="form__field-prefix">$</span>
                <input id="cpm-input" ng-disabled="$ctrl.entity.warnings.maxCpm !== undefined" type="text" class="form__input-text" ng-model="$ctrl.entity.settings.maxCpm" zem-currency-input fraction-size="3" empty-text="No limit">
            </div>
        </div>
        <div ng-if="$ctrl.entity.warnings.maxCpm !== undefined" class="message message--warning message--with-icon">
            {{ $ctrl.MESSAGES.WARNING_MAX_CPM }}
        </div>
        <label ng-if="$ctrl.entity.warnings.maxCpm === undefined" ng-repeat="error in $ctrl.errors.maxCpm" class="control-label error" for="cpm-input">{{ error }}</label>
    </div>
</div>
