<div class="zem-settings-component__container zem-settings-component__container--ad-group-general-settings">
    <div class="zem-settings-component__header">General settings</div>
    <div class="form">
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.name}">
            <label class="form__label" for="name-input">Name:</label>
            <input class="input-text" id="name-input" type="text" ng-model="$ctrl.entity.settings.name">
            <div class="message message--error" ng-repeat="error in $ctrl.errors.name"
                 for="name-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.startDate}">
            <label class="form__label" for="start-date-input">
                Start date:
                <zem-help-popover content="The date when content promotion commenced." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon">
                <input class="input-text" id="start-date-input" type="text" uib-datepicker-popup="MM/dd/yyyy"
                       ng-model="$ctrl.entity.settings.startDate" is-open="$ctrl.startDatePicker.isOpen"
                       ng-click="$ctrl.openDatePicker('startDate')">
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.startDate"
                 for="start-date-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.endDate}">
            <label class="form__label" for="end-date-input">
                End date:
                <zem-help-popover content="The date when content promotion paused." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow prefixed-field--with-icon calendar-icon m-r">
                <input class="input-text" id="end-date-input" ng-disabled="$ctrl.entity.warnings.endDate !== undefined"
                       type="text" uib-datepicker-popup="MM/dd/yyyy" datepicker-options="$ctrl.endDatePickerOptions"
                       ng-model="$ctrl.entity.settings.endDate" is-open="$ctrl.endDatePicker.isOpen"
                       ng-click="$ctrl.openDatePicker('endDate')">
            </div>
            <div class="form__checkbox">
                <label>
                    <input class="input-checkbox" ng-disabled="$ctrl.entity.warnings.endDate !== undefined" type="checkbox"
                           id="manual-stop-cb" ng-model="$ctrl.entity.settings.manualStop">
                    <span class="checkbox-text" for="manual-stop-cb">I'll stop it myself</span>
                </label>
            </div>
            <div class="message message--error" ng-if="$ctrl.entity.warnings.endDate === undefined"
                 ng-repeat="error in $ctrl.errors.endDate" for="end-date-input">{{ error }}</div>
            <div class="message message--warning message--with-icon" ng-if="$ctrl.entity.warnings.endDate !== undefined">
                {{ $ctrl.MESSAGES.WARNING_END_DATE }} <a zem-in-link="main.campaigns.budget({id: {{ $ctrl.entity.warnings.endDate.campaignId }} })">Add budget</a>
            </div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_set_ad_group_max_cpc')"
             ng-class="{'form--error': !!$ctrl.errors.cpc}">
            <label class="form__label" for="cpc-input" is-internal="zemauth.can_set_ad_group_max_cpc">
                Maximum Bid CPC:
                <zem-help-popover content="Maximum allowed CPC in this ad group." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow">
                <span class="prefixed-field__prefix">$</span>
                <input class="input-text" id="cpc-input" type="text" ng-model="$ctrl.entity.settings.cpc"
                       zem-currency-input fraction-size="3" empty-text="No limit">
            </div>
            <div class="message message--error" ng-repeat="error in $ctrl.errors.cpc"
                 for="cpc-input">{{ error }}</div>
        </div>

        <div class="form__group" ng-if="$ctrl.hasPermission('zemauth.can_set_ad_group_max_cpm')"
             ng-class="{'form--error': !!$ctrl.errors.maxCpm}">
            <label class="form__label" for="cpm-input" is-internal="zemauth.can_set_ad_group_max_cpm">
                Maximum Bid CPM:
                <zem-help-popover content="Maximum allowed CPM in this ad group." placement="top"></zem-help-popover>
            </label>
            <div class="prefixed-field prefixed-field--narrow">
                <span class="prefixed-field__prefix">$</span>
                <input id="cpm-input"
                       class="input-text"
                       ng-model="$ctrl.entity.settings.maxCpm"
                       ng-disabled="$ctrl.entity.warnings.maxCpm !== undefined"
                       type="text"
                       empty-text="No limit"
                       zem-currency-input fraction-size="3">
            </div>
            <div class="message message--warning message--with-icon" ng-if="$ctrl.entity.warnings.maxCpm !== undefined">
                {{ $ctrl.MESSAGES.WARNING_MAX_CPM }}
            </div>
            <div class="message message--error" ng-if="$ctrl.entity.warnings.maxCpm === undefined"
                 ng-repeat="error in $ctrl.errors.maxCpm" for="cpm-input">{{ error }}</div>
        </div>
    </div>
</div>
