@import 'variables';

.zem-chart {
    display: block;
    position: relative;
    min-height: 360px;
}

.zem-chart-metrics-selector {
    display: inline-block;
    width: 300px;
    margin-right: 10px;

    .button {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dropdown-menu {
        margin: -3px 0 20px 0;
        padding: 0;
        border: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        width: 460px;
        max-height: 400px;
        overflow: hidden;
        box-sizing: border-box;
    }
}

.zem-chart-metrics-selector--second {
    margin-right: 20px;
}

.zem-chart__legend {
    display: inline-block;
    padding: 4px 0 0 0;
    margin: 0;
    vertical-align: top;
}

.zem-chart__legend-item {
    display: inline-block;
    position: relative;
    max-width: 25%;
    min-width: 80px;
    height: 22px;
    margin: 0 @spacing--default 5px 0;
    padding: 0 5px 0 27px;
    cursor: default;
    font-weight: 500;
    font-size: @font-size--default;
    line-height: 22px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .button-remove {
        display: block;
        position: absolute;
        left: 0;
        cursor: pointer;
        width: 22px;
        height: 22px;
        text-align: center;

        img {
            width: 10px;
            position: absolute;
            left: 6px;
            top: 6px;
        }

        &.disabled {
            cursor: default;

            img {
                display: none;
            }
        }
    }
}

.zem-chart__container {
    height: 308px;
    margin: @spacing--default 0 0 -10px;

    .highcharts-container {
        width: 100% !important;
    }

    .highcharts-background {
        fill: none;
    }
}

.zem-chart__no-data {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -50px;
    z-index: 2;
    text-align: center;
    color: @color--primary;
    font-size: 24px;
    font-weight: 300;
    padding: 5px 20px;
    border: 1px solid @color--primary;
    background-color: white;
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @desktop-common-breakpoint) {
    .zem-chart-metrics-selector {
        display: block;
        float: left;
        width: 49%;
        margin-right: 1%;
        box-sizing: border-box;
    }

    .zem-chart-metrics-selector--second {
        margin-right: 0;
    }
}
