<zem-loader
    class="zem-loader zem-loader__overlay"
    ng-show="!$ctrl.initialized || $ctrl.chart.isLoading"
>
</zem-loader>
<zem-chart-metric-selector
    class="zem-chart-metrics-selector"
    ng-if="$ctrl.initialized"
    metric="$ctrl.metrics.metric1"
    metric-options="$ctrl.chart.metrics.options"
    on-metric-changed="$ctrl.onMetricsChanged(value, $ctrl.metrics.metric2)"
></zem-chart-metric-selector>
<zem-chart-metric-selector
    class="zem-chart-metrics-selector zem-chart-metrics-selector--second"
    ng-if="$ctrl.initialized"
    metric="$ctrl.metrics.metric2"
    metric-options="$ctrl.chart.metrics.options"
    on-metric-changed="$ctrl.onMetricsChanged($ctrl.metrics.metric1, value)"
    nullable="true"
></zem-chart-metric-selector>
<ul class="zem-chart__legend" ng-if="$ctrl.initialized">
    <li
        class="zem-chart__legend-item"
        ng-repeat="item in $ctrl.chart.legend.items"
        ng-style="{'background-color': item.color2, color: item.color1}"
        title="{{ item.name }}"
    >
        <div
            class="button-remove"
            ng-class="{disabled: (item.id === null && $ctrl.chart.legend.items.length === 1) || !item.removable }"
            ng-click="$ctrl.removeLegendItem(item)"
            ng-style="{'background-color': item.color1}"
        >
            <img
                ng-src="{{
                    $ctrl.config.staticUrl
                }}/one/images/remove-white.svg"
            />
        </div>
        {{ item.name }}
    </li>
</ul>
<div
    class="zem-chart__no-data"
    ng-if="$ctrl.initialized && !$ctrl.chart.hasData && !$ctrl.chart.isLoading"
>
    <span>No data</span>
</div>
<highchart
    ng-if="$ctrl.initialized"
    config="$ctrl.chart.config"
    class="zem-chart__container"
></highchart>
