@import 'variables';

.zem-campaign-creator-modal {
    display: block;
    padding: @spacing--default;
}

.zem-campaign-creator-modal .zem-campaign-type-selector__type-container {
    @media only screen and (min-width: @tablet-breakpoint+1) {
        flex: 0 0 50%;
    }
}
