<div>
    <div class="zem-grid-debug-container" ng-if="ctrl.grid">
        <zem-grid-debug grid="ctrl.grid"></zem-grid-debug>
    </div>
    <div class="zem-grid-container loader-container">
        <div class="loader" ng-show="ctrl.grid.ui.loading"></div>
        <div class="zem-grid" ng-if="ctrl.grid">
            <zem-grid-header grid="ctrl.grid"></zem-grid-header>
            <zem-grid-body grid="ctrl.grid"></zem-grid-body>
            <zem-grid-footer grid="ctrl.grid"></zem-grid-footer>
        </div>
    </div>
</div>
