<div class="zem-grid-cell">
   <span ng-show="ctrl.position === 0 && ctrl.row.level === 1">
       <a ng-click="ctrl.toggleSelection()" class="action">
           {{ctrl.row.selected ? "[*]" : "[_]"}}
       </a>
    </span>
   <span ng-show="ctrl.position === 0 && ctrl.row.level < ctrl.grid.meta.service.getBreakdownLevel()">
        <a ng-click="ctrl.toggleCollapse()" class="action">
            {{ctrl.row.collapsed ? "[ + ]" : "[ - ]"}}
        </a>
    </span>

    <!-- TODO: fully support current Table styles -->
    <span ng-switch="::ctrl.col.type">
        <span ng-switch-when="linkNav" class="pointer">
            <a zem-in-link="{{ctrl.value.state}}({id: {{ctrl.value.id}}})">{{ ctrl.value.text }} </a>
        </span>

        <!--
            All basic data types (number, currency, percent, seconds, datetime) are pre-parsed
            in zem_grid_parser, so here we can only bind to the value
        -->
        <span ng-switch-default>
            {{ctrl.value}}
        </span>
    </span>
</div>

