<div class="zem-grid-cell">
    <!-- TODO: fully support current Table styles -->
    <span ng-switch="ctrl.col.type|groupColumnTypes">
        <zem-grid-cell-breakdown-field ng-switch-when="breakdown" data="ctrl.data" row="ctrl.row" column="ctrl.col" grid="ctrl.grid"></zem-grid-cell-breakdown-field>

        <zem-grid-cell-state-selector ng-switch-when="stateSelector" data="ctrl.data" row="ctrl.row" column="ctrl.col" grid="ctrl.grid"></zem-grid-cell-state-selector>

        <zem-grid-cell-status-field ng-switch-when="status" data="ctrl.data" row="ctrl.row" grid="ctrl.grid"></zem-grid-cell-status-field>

        <zem-grid-cell-performance-indicator ng-switch-when="performanceIndicator" data="ctrl.data" row="ctrl.row"></zem-grid-cell-performance-indicator>

        <zem-grid-cell-base-field ng-switch-when="baseField" data="ctrl.data" row="ctrl.row" column="ctrl.col" grid="ctrl.grid"></zem-grid-cell-base-field>

        <zem-grid-cell-checkbox ng-switch-when="checkbox" row="ctrl.row" col="ctrl.col" grid="ctrl.grid"></zem-grid-cell-checkbox>

        <zem-grid-cell-collapse ng-switch-when="collapse" row="ctrl.row" col="ctrl.col" grid="ctrl.grid"></zem-grid-cell-collapse>
    </span>
</div>

