<div>
    <div class="zem-grid-debug-container">
        <zem-grid-debug></zem-grid-debug>
    </div>
    <div class="zem-grid-container">
        <div class="zem-grid">
            <zem-grid-header options="ctrl.options" header="ctrl.grid.header" columns-widths="ctrl.columnsWidths"></zem-grid-header>
            <zem-grid-body options="ctrl.options" rows="ctrl.grid.body.rows" columns-widths="ctrl.columnsWidths"></zem-grid-body>
            <zem-grid-footer options="ctrl.options" footer="ctrl.grid.footer" columns-widths="ctrl.columnsWidths"></zem-grid-footer>
        </div>
    </div>
</div>