<div class="zem-grid-row" ng-class="ctrl.getRowClass()">
    <zem-grid-cell ng-repeat="col in ctrl.grid.header.visibleColumns track by $index"
                   ng-show="ctrl.row.type!=constants.gridRowType.BREAKDOWN"
                   position="$index"
                   col = "col"
                   value = "ctrl.row.data.stats[col.field]"
                   row="ctrl.row"
                   grid="ctrl.grid"
    ></zem-grid-cell>

    <!--
    TODO [Refactor]: Move breakdown row to separate directive or find clener solution for this mess
    -->
    <div class="zem-grid-cell pagination-cell" ng-show="ctrl.row.type==constants.gridRowType.BREAKDOWN">
        <span ng-show="ctrl.row.data.pagination.count>0">
            - {{ctrl.row.data.pagination.limit}} of {{ctrl.row.data.pagination.count}} -
        </span>
        <span ng-show="!ctrl.row.data.pagination.count || ctrl.row.data.pagination.count<1">
            - {{ctrl.row.data.pagination.limit}} -
        </span>
    </div>
    <div class="zem-grid-cell infobox-reloading-icon load-more-cell" ng-show="ctrl.row.type==constants.gridRowType.BREAKDOWN && ctrl.row.data.meta.loading">
    </div>
    <div class="zem-grid-cell load-more-cell" ng-show="ctrl.row.type==constants.gridRowType.BREAKDOWN && !ctrl.row.data.meta.loading">
        <span ng-show="ctrl.row.data.pagination.limit == ctrl.row.data.pagination.count">All data loaded</span>
        <a ng-show="ctrl.row.data.pagination.limit != ctrl.row.data.pagination.count" ng-click="ctrl.loadMore(20)"> (load 20 more) </a>
        <a ng-show="ctrl.row.data.pagination.limit != ctrl.row.data.pagination.count && ctrl.row.data.pagination.count>0" ng-click="ctrl.loadMore()"> (load all) </a>
    </div>
</div>
