<div class="zem-grid-row" ng-class="ctrl.getRowClass()">
    <zem-grid-cell ng-repeat="col in ctrl.grid.header.visibleColumns track by $index"
                   ng-show="ctrl.row.type!=constants.gridRowType.BREAKDOWN"
                   position="$index"
                   col = "col"
                   value = "ctrl.row.stats[col.field]"
                   row="ctrl.row"
                   grid="ctrl.grid"
    ></zem-grid-cell>

    <zem-grid-row-breakdown ng-show="ctrl.row.type==constants.gridRowType.BREAKDOWN"
                            row="ctrl.row"
                            grid="ctrl.grid"
    ></zem-grid-row-breakdown>
</div>
