@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-ad-group-autopilot-state-setting__cpa-optimization-note {
    display: block;
    margin-top: @zem-settings__items-spacing--default;
    font-style: italic;
}
