<div class="zem-form-group">
    <div class="zem-form-group__content">
        <zem-radio-input
            class="zem-radio-input zem-form-group__content-item"
            [groupModel]="autopilotState"
            [value]="AdGroupAutopilotState.ACTIVE_CPC_BUDGET"
            [isDisabled]="isDisabled"
            (select)="autopilotStateChange.emit($event)"
        >
            <strong>Autopilot goal optimization</strong> - let autopilot
            automatically optimize towards your campaign goal
            <zem-help-popover
                class="zem-help-popover"
                content="Autopilot will automatically move budgets between media sources and adjust bids in order to hit daily spend caps and your campaign goals."
                placement="bottom"
            ></zem-help-popover>
        </zem-radio-input>
        <div
            class="zem-form-group__subgroup"
            *ngIf="autopilotState === AdGroupAutopilotState.ACTIVE_CPC_BUDGET"
        >
            <div class="message message--info message--with-icon">
                Zemanta One will optimize for
                <strong>{{ optimizationObjectiveText }}</strong> and try to hit
                the ad group's daily spend cap. To change optimization objective
                please change primary campaign goal in campaign settings.
                <span
                    class="zem-ad-group-autopilot-state-setting__cpa-optimization-note"
                    *ngIf="cpaOptimizationNote"
                >
                    {{ cpaOptimizationNote }}
                </span>
            </div>
        </div>
        <zem-radio-input
            class="zem-radio-input zem-form-group__content-item zem-form-group__content-item--no-spacing"
            [groupModel]="autopilotState"
            [value]="AdGroupAutopilotState.ACTIVE_CPC"
            [isDisabled]="isDisabled"
            (select)="autopilotStateChange.emit($event)"
        >
            <strong>Autopilot price discovery</strong> - let autopilot
            automatically discover the bids
            <zem-help-popover
                class="zem-help-popover"
                content="You will control the media source daily caps and autopilot will find the best bid for each media source so that the daily cap is reached."
                placement="bottom"
            ></zem-help-popover>
        </zem-radio-input>
        <zem-radio-input
            class="zem-radio-input zem-form-group__content-item zem-form-group__content-item--no-spacing"
            [groupModel]="autopilotState"
            [value]="AdGroupAutopilotState.INACTIVE"
            [isDisabled]="isDisabled"
            (select)="autopilotStateChange.emit($event)"
        >
            <strong>Autopilot off</strong> (full manual control)
        </zem-radio-input>
    </div>
</div>
