<div class="page" ng-if="$ctrl.entity !== undefined">
    <div class="section">
        <div class="graph-infobox-parent">
            <div class="graph-infobox-row">
                <div class="graph-container">
                    <zem-chart level="$ctrl.level" breakdown="$ctrl.breakdown" entity-id="$ctrl.id"></zem-chart>
                </div>
                <div class="spacing"></div>
                <div class="infobox-container">
                    <zem-infobox class="zem-infobox" entity="$ctrl.entity"></zem-infobox>
                </div>
            </div>
        </div>
    </div>
</div>
