<zem-settings-container title="'Ad Group settings'" entity-type="$ctrl.constants.entityType.AD_GROUP" entity-id="$ctrl.entityId">
    <settings>
        <zem-ad-group-general-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-ad-group-general-settings>
        <zem-device-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-device-targeting-settings>
        <zem-region-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-region-targeting-settings>
        <zem-ad-group-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-ad-group-targeting-settings>
        <zem-ad-group-tracking-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-ad-group-tracking-settings>
        <zem-ad-group-autopilot-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-ad-group-autopilot-settings>
    </settings>

    <custom>
    </custom>
</zem-settings-container>
