<zem-settings-container api="$ctrl.api" settings-title="'Ad Group settings'" entity-type="$ctrl.constants.entityType.AD_GROUP">
    <settings>
        <zem-ad-group-general-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-ad-group-general-settings>
        <zem-device-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-device-targeting-settings>
        <zem-region-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-region-targeting-settings>
        <zem-ad-group-targeting-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-ad-group-targeting-settings>
        <zem-ad-group-tracking-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-ad-group-tracking-settings>
        <zem-ad-group-autopilot-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-ad-group-autopilot-settings>
        <zem-ad-group-mode-settings
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-ad-group-mode-settings>
        <zem-backend-hacks
                class="zem-settings-component"
                entity="$container.entity"
                errors="$container.errors"
                api="$container.childApi"
        ></zem-backend-hacks>
    </settings>

    <custom>
    </custom>
</zem-settings-container>
