<div class="custom-panel">
    <h2 class="custom-panel__title">
        {{ $ctrl.state.steps.generalSettings.title }}
        <button
            class="button button--small button--with-icon edit-icon pull-right"
            ng-click="$ctrl.goToStep($ctrl.state.steps.generalSettings)"
        >
            Edit
        </button>
    </h2>
    <div ng-if="$ctrl.state.steps.generalSettings">
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.campaignName}"
        >
            <label class="form__label">Name:</label>
            <div class="form__information">
                {{ $ctrl.state.fields.campaignName }}
            </div>
        </div>
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.iabCategory}"
        >
            <label class="form__label">Campaign category:</label>
            <div class="form__information">{{ $ctrl.iabCategoryName }}</div>
        </div>
        <div
            ng-if="$ctrl.hasPermission('zemauth.can_see_campaign_language_choices')"
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.language}"
        >
            <label class="form__label"
                >Language in which ads are created:</label
            >
            <div class="form__information">{{ $ctrl.language }}</div>
        </div>
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.budgetAmount}"
        >
            <label class="form__label">Total budget:</label>
            <div class="form__information">
                {{
                    $ctrl.state.fields.budgetAmount
                        | decimalCurrency: $ctrl.currencySymbol:2
                }}
            </div>
        </div>
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.maxCpc}"
        >
            <label class="form__label">Maximum bid CPC:</label>
            <div class="form__information" ng-if="$ctrl.state.fields.maxCpc">
                {{
                    $ctrl.state.fields.maxCpc
                        | decimalCurrency: $ctrl.currencySymbol:2
                }}
            </div>
            <div class="form__information" ng-if="!$ctrl.state.fields.maxCpc">
                No limit
            </div>
        </div>
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.dailyBudget}"
        >
            <label class="form__label">Daily spend cap:</label>
            <div class="form__information">
                {{
                    $ctrl.state.fields.dailyBudget
                        | decimalCurrency: $ctrl.currencySymbol:2
                }}
            </div>
        </div>
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.campaignGoal}"
        >
            <label class="form__label">Campaign goal:</label>
            <div class="form__information">
                Meet or beat the goal of
                <strong>{{ $ctrl.campaignGoalText }}</strong>
            </div>
        </div>
    </div>
</div>

<div class="custom-panel">
    <h2 class="custom-panel__title">
        {{ $ctrl.state.steps.targeting.title }}
        <button
            class="button button--small button--with-icon edit-icon pull-right"
            ng-click="$ctrl.goToStep($ctrl.state.steps.targeting)"
        >
            Edit
        </button>
    </h2>
    <div ng-if="$ctrl.state.steps.targeting">
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.targetRegions || !!$ctrl.state.fieldsErrors.exclusionTargetRegions}"
        >
            <label class="form__label">Location targeting:</label>
            <div
                class="form__information"
                ng-if="$ctrl.isGeoTargetingEnabled()"
            >
                Enabled
            </div>
            <div
                class="form__information"
                ng-if="!$ctrl.isGeoTargetingEnabled()"
            >
                Disabled
            </div>
        </div>
        <div
            class="form__group form__group--informative"
            ng-class="{'form--error': !!$ctrl.state.fieldsErrors.targetDevices || !!$ctrl.state.fieldsErrors.targetOs || !!$ctrl.state.fieldsErrors.targetPlacements}"
        >
            <label class="form__label">Device targeting:</label>
            <div
                class="form__information"
                ng-if="!$ctrl.isDeviceTargetingEnabled()"
            >
                All devices
            </div>
            <div
                class="form__information"
                ng-if="$ctrl.isDeviceTargetingEnabled()"
            >
                <span ng-if="$ctrl.targetedDevices"
                    >Subset of device types ({{ $ctrl.targetedDevices }})</span
                >
                <span ng-if="!$ctrl.targetedDevices"
                    >Subset of operating systems and placements</span
                >
            </div>
        </div>
    </div>
</div>

<div class="custom-panel">
    <h2 class="custom-panel__title">
        {{ $ctrl.state.steps.creatives.title }}
        <button
            class="button button--small button--with-icon edit-icon pull-right"
            ng-click="$ctrl.goToStep($ctrl.state.steps.creatives)"
        >
            Edit
        </button>
    </h2>
    <div ng-if="$ctrl.state.steps.creatives">
        <div ng-if="!$ctrl.state.creatives.candidates.length">
            No creatives uploaded.
        </div>
        <div
            class="zem-campaign-launcher-review__creatives-list"
            ng-if="!$ctrl.isDisplayCampaign"
        >
            <div
                class="zem-campaign-launcher-review__creatives-list-item"
                ng-repeat="creative in $ctrl.state.creatives.candidates"
            >
                <img
                    src="{{ creative.hostedImageUrl }}"
                    class="creative__image"
                />
                <div class="creative__title">{{ creative.title }}</div>
                <div class="creative__brand-name">{{ creative.brandName }}</div>
                <div class="creative__description">
                    {{ creative.description }}
                </div>
                <div class="creative__display-url">
                    <a href="{{ creative.url }}" target="_blank">{{
                        creative.displayUrl
                    }}</a>
                </div>
                <a
                    href="{{ creative.url }}"
                    class="button creative__button"
                    target="_blank"
                    >{{ creative.callToAction }}</a
                >
            </div>
            <div
                ng-repeat="dummyCreative in $ctrl.dummyCreatives track by $index"
                class="zem-campaign-launcher-review__dummy-creatives-item"
            ></div>
        </div>
        <div
            class="zem-campaign-launcher-review__creatives-list"
            ng-if="$ctrl.isDisplayCampaign"
        >
            <div
                class="zem-campaign-launcher-review__creatives-list-item"
                ng-repeat="creative in $ctrl.state.creatives.candidates"
            >
                <img
                    src="{{ creative.hostedImageUrl }}"
                    class="creative__image"
                    ng-if="creative.adType === $ctrl.adType.IMAGE"
                />
                <iframe
                    ng-if="creative.adType === $ctrl.adType.AD_TAG"
                    id="creative__iframe"
                    class="creative__iframe"
                    ng-init="$ctrl.renderAdTagInIframe(creative.adTag)"
                >
                </iframe>
            </div>
            <div
                ng-repeat="dummyCreative in $ctrl.dummyCreatives track by $index"
                class="zem-campaign-launcher-review__dummy-creatives-item"
            ></div>
        </div>
    </div>
</div>
