@import 'variables';

@creative-image-width: 180px;

.zem-campaign-launcher-review__section:not(:last-child) {
    margin-bottom: @spacing--default;
    padding-bottom: @spacing--default;
    border-bottom: 1px solid @color--lighter-neutral;
}

.zem-campaign-launcher-review__creatives-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zem-campaign-launcher-review__creatives-list-item,
.zem-campaign-launcher-review__dummy-creatives-item {
    width: 22%;
    padding: @spacing--default;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    min-height: 275px;
    margin: 2% 0;
}

.zem-campaign-launcher-review__creatives-list-item {
    z-index: 2;
    background-color: white;
}

.zem-campaign-launcher-review__dummy-creatives-item {
    background: url('images/dummy-content.svg') no-repeat @spacing--default
        @spacing--default;
    background-size: 86%;
}

.creative__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}

.creative__brand-name {
    color: @text-color--lighter;
    font-size: 12px;
    margin-bottom: 4px;
}

.creative__description {
    color: @text-color--lighter;
    font-size: 12px;
    margin-bottom: 4px;
}

.creative__display-url {
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: @spacing--default;

    a {
        color: @color--info;
    }
}

.creative__button {
}

.creative__content-container {
    width: 730px;
    float: right;
}

.creative__image {
    width: 100%;
    margin-bottom: 10px;
}

.creative__iframe {
    width: 100%;
    margin-bottom: 10px;
    background-color: tint(@color--secondary, 90%);
    border: 1px solid tint(@color--secondary, 80%);
}
