<div
    class="zem-prefixed-input zem-prefixed-input--with-icon zem-magnifier-bg-icon zem-deals-library-actions__search"
>
    <zem-text-input
        class="zem-text-input zem-prefixed-input__input"
        [isDisabled]="isDisabled"
        [placeholder]="'Search by name, media source or deal id'"
        (valueChange)="onSearchChange($event)"
    ></zem-text-input>
</div>
<div class="zem-deals-library-actions__buttons">
    <button
        class="zem-button zem-button--with-icon zem-button--highlighted zem-button--add-icon zem-deals-library-actions__button"
        [disabled]="isDisabled"
        (click)="dealCreate.emit()"
    >
        Add new deal
    </button>
</div>
