@import 'variables';

.zem-deals-library-actions {
    display: flex;
    justify-content: space-between;
}

.zem-deals-library-actions__buttons {
    display: flex;
    flex-direction: row-reverse;
}

.zem-deals-library-actions__button:not(:last-child) {
    margin-left: @spacing--small;
}
