@import 'variables';

.zem-analytics-view {
    display: block;
}

@media only screen and (min-width: @tablet-breakpoint) {
    .zem-grid-container-tabs__tab {
        width: auto !important;
        margin: 4px 5px 0 0 !important;
    }

    .zem-grid-container-tabs__tab--active {
        margin-top: 0 !important;
    }
}
