<ng-container *ngIf="isInitialized">
    <div class="chart-infobox__container">
        <div class="custom-panel chart-infobox__chart">
            <zem-chart
                class="zem-chart"
                [level]="level"
                [breakdown]="chartBreakdown"
                [entity]="entity"
            ></zem-chart>
        </div>
        <div class="chart-infobox__spacing"></div>
        <div class="custom-panel chart-infobox__infobox">
            <zem-infobox class="zem-infobox" [entity]="entity"></zem-infobox>
        </div>
    </div>
    <zem-grid-container
        class="zem-grid-container"
        [level]="level"
        [breakdown]="breakdown"
        [entity]="entity"
    ></zem-grid-container>
    <ng-container *ngIf="alertsStore.state$ | async as state">
        <zem-portal hostElementId="#zem-grid-alerts">
            <zem-alerts
                class="zem-alerts"
                [alerts]="state.alerts"
                (closeAlert)="alertsStore.removeAlert($event)"
            ></zem-alerts>
        </zem-portal>
    </ng-container>
</ng-container>
