<span class="zem-grid-cell-state-selector" ng-show="ctrl.isFieldVisible">
    <span ng-show="ctrl.showLoader" class="loader"></span>
    <span ng-show="ctrl.isRowArchived && !ctrl.showLoader" class="archived-text"
        >Archived</span
    >
    <button
        ng-show="!ctrl.isRowArchived && !ctrl.showLoader"
        zem-grid-modal="zemGridStateSelectorModal.html"
        top="19"
        class="button button--small button--outline button--dropdown-toggle-icon"
    >
        <span ng-show="ctrl.active" class="state-icon active"></span>
        <span ng-show="!ctrl.active" class="state-icon paused"></span>
    </button>
</span>
