.zem-grid-cell-actions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.zem-grid-cell-actions .switch-button {
    display: block;
    margin-right: 10px;
    line-height: 20px;
}

.zem-grid-cell-actions .switch-button--small {
    margin-left: 14px;
}

.zem-grid-cell-actions .button {
    display: block;
}

.zem-grid-cell-actions .button:not(:last-child) {
    margin-right: 5px;
}
