<div class="zem-grid-cell-actions clearfix" ng-show="ctrl.isFieldVisible">
    <zem-loader
        ng-show="ctrl.showLoader || ctrl.isToggleStateInProgress"
        class="zem-loader zem-loader--small zem-loader--inline"
    ></zem-loader>
    <span
        class="switch-button"
        ng-show="ctrl.showStateSwitch && !ctrl.showLoader"
        ng-class="{
            'switch-button--checked': ctrl.active,
            'switch-button--transition-disabled': !ctrl.switchButtonTransitionEnabled,
            'switch-button--caution': ctrl.stateCautionMessage,
            'switch-button--small': ctrl.row.inGroup,
            'switch-button--disabled': ctrl.isStateSwitchDisabled,
        }"
        zem-lazy-popover-html-unsafe="{{ ctrl.disabledMessage }}"
        zem-lazy-popover-append-to-body="true"
        zem-lazy-popover-placement="right"
        ng-click="ctrl.toggleState()"
    ></span>

    <span
        class="caution-popover"
        ng-show="ctrl.stateCautionMessage"
        zem-lazy-popover-html-unsafe="{{ ctrl.stateCautionMessage }}"
        zem-lazy-popover-append-to-body="true"
        zem-lazy-popover-placement="right"
    ></span>

    <button
        class="button button--outline button--small button--with-icon button--only-icon"
        ng-if="ctrl.mainButton"
        ng-disabled="ctrl.mainButton.isDisabled"
        ng-class="{
            'edit-icon': ctrl.mainButton.type === 'edit',
            'archive-icon': ctrl.mainButton.type === 'archive',
            'restore-icon': ctrl.mainButton.type === 'restore',
            'copy-icon': ctrl.mainButton.type === 'clone',
            'settings-icon': ctrl.mainButton.type === 'settings',
        }"
        ng-show="!ctrl.showLoader && !ctrl.isToggleStateInProgress"
        title="{{ ctrl.mainButton.name }}"
        ng-click="ctrl.execute(ctrl.mainButton)"
    ></button>

    <button
        class="button button--outline button--small button--with-icon button--only-icon dots-icon"
        top="19"
        title="More actions"
        ng-if="ctrl.buttons.length > 0"
        ng-show="!ctrl.showLoader && !ctrl.isToggleStateInProgress"
        zem-grid-modal="zemGridCellActionsDropdown.html"
    ></button>
</div>
