<div class="zem-grid-cell">
    <zem-grid-cell-breakdown-field
        ng-if="ctrl.type === ctrl.gridColumnTypes.BREAKDOWN"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-breakdown-field>

    <zem-grid-cell-actions
        ng-if="ctrl.type === ctrl.gridColumnTypes.ACTIONS"
        row="ctrl.row"
        grid="ctrl.grid"
    ></zem-grid-cell-actions>

    <zem-grid-cell-state-selector
        ng-if="ctrl.type === ctrl.gridColumnTypes.STATE_SELECTOR"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-state-selector>

    <zem-grid-cell-status-field
        ng-if="ctrl.type === ctrl.gridColumnTypes.STATUS"
        data="ctrl.data"
        row="ctrl.row"
        grid="ctrl.grid"
    ></zem-grid-cell-status-field>

    <zem-grid-cell-edit-button
        ng-if="ctrl.type === ctrl.gridColumnTypes.EDIT_BUTTON"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-edit-button>

    <zem-grid-cell-clone-button
        ng-if="ctrl.type === ctrl.gridColumnTypes.CLONE_BUTTON"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-clone-button>

    <zem-grid-cell-submission-status
        ng-if="ctrl.type === ctrl.gridColumnTypes.SUBMISSION_STATUS"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-submission-status>

    <zem-grid-cell-performance-indicator
        ng-if="ctrl.type === ctrl.gridColumnTypes.PERFORMANCE_INDICATOR"
        data="ctrl.data"
        row="ctrl.row"
    ></zem-grid-cell-performance-indicator>

    <zem-grid-cell-external-link
        ng-if="ctrl.type === ctrl.gridColumnTypes.EXTERNAL_LINK"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-external-link>

    <zem-grid-cell-editable-base-field
        ng-if="ctrl.type === ctrl.gridColumnTypes.EDITABLE_BASE_FIELD"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
        show-autopilot-icon="ctrl.showAutopilotIcon"
    ></zem-grid-cell-editable-base-field>

    <zem-grid-cell-base-field
        ng-if="ctrl.type === ctrl.gridColumnTypes.BASE_FIELD"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-base-field>

    <zem-grid-cell-thumbnail
        ng-if="ctrl.type === ctrl.gridColumnTypes.THUMBNAIL"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-thumbnail>

    <zem-grid-cell-checkbox
        ng-if="ctrl.type === ctrl.gridColumnTypes.CHECKBOX && (ctrl.row.level === ctrl.gridRowLevel.BASE || ctrl.row.level === ctrl.gridRowLevel.FOOTER)"
        row="ctrl.row"
        col="ctrl.col"
        grid="ctrl.grid"
    ></zem-grid-cell-checkbox>

    <zem-bid-modifier-cell
        class="zem-bid-modifier-cell"
        ng-if="ctrl.canSeeBidModifierCell()"
        [show-autopilot-icon]="ctrl.showAutopilotIcon"
        [ad-group-autopilot-state]="ctrl.grid.meta.data.ext.autopilotState"
        [bid-modifier]="ctrl.data.value"
        [entity-id]="ctrl.grid.meta.data.id"
        [currency]="ctrl.grid.meta.data.ext.currency"
        [is-editable]="ctrl.isBidModifierCellEditable()"
        [edit-message]="ctrl.data.editMessage"
        [container-element]="ctrl.gridBodyElement"
        [bidding-type]="ctrl.grid.meta.data.ext.biddingType"
        [bid]="ctrl.grid.meta.data.ext.bid"
        [bid-modifier-type-summaries]="ctrl.grid.meta.data.ext.typeSummaries"
        (value-change)="ctrl.updateBidModifier($event)"
    ></zem-bid-modifier-cell>
</div>
