<span
    class="zem-grid-cell-breakdown-field"
    ng-style="ctrl.getBreakdownColumnStyle()"
>
    <a
        ng-show="ctrl.collapsable"
        class="zem-grid-cell-breakdown-collapse"
        ng-click="ctrl.toggleCollapse()"
    >
        <img
            class="collapse-icon"
            ng-class="{'expanded': !ctrl.collapsed}"
            ng-src="{{ ctrl.config.staticUrl }}/one/images/arrow.svg"
        />
    </a>
    <span
        ng-show="ctrl.fieldType === ctrl.types.TOTALS_LABEL"
        class="zem-grid-cell-totals-label"
    >
        TOTALS
    </span>
    <zem-help-popover
        ng-show="ctrl.fieldType === ctrl.types.TOTALS_LABEL"
        content="{{ ctrl.TOTALS_LABEL_HELP_TEXT }}"
        placement="'top'"
    >
    </zem-help-popover>
    <span
        class="zem-grid-cell-base-breakdown-field"
        ng-show="ctrl.fieldType === ctrl.types.BASE_FIELD"
        ng-bind="ctrl.data.value"
        title="{{ ctrl.data.value }}"
    ></span>
    <zem-help-popover
        ng-show="ctrl.fieldType === ctrl.types.BASE_FIELD && ctrl.data.popoverMessage"
        content="{{ ctrl.data.popoverMessage }}"
        placement="right"
    ></zem-help-popover>
    <zem-grid-cell-internal-link
        ng-show="ctrl.fieldType === ctrl.types.INTERNAL_LINK"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.column"
        grid="ctrl.grid"
    >
    </zem-grid-cell-internal-link>
    <zem-grid-cell-external-link
        ng-show="ctrl.fieldType === ctrl.types.EXTERNAL_LINK"
        data="ctrl.data"
        row="ctrl.row"
        column="ctrl.column"
        grid="ctrl.grid"
    >
    </zem-grid-cell-external-link>
</span>
