<span class="zem-grid-cell-editable-base-field"
      ng-class="ctrl.class">
    <span ng-show="!ctrl.isEditable"
          zem-lazy-popover-append-to-body="true"
          zem-lazy-popover-html-unsafe="{{ctrl.editMessage}}"
          zem-lazy-popover-placement="right"
          zem-lazy-popover-animation-class="fade">
        <span ng-show="ctrl.isAutopilotIconShown()" class="auto-pilot-icon"></span>
        <span ng-show="ctrl.isLandingModeIconShown()" class="landing-mode-icon"></span>
        {{ctrl.formattedValue}}
    </span>
    <span ng-show="ctrl.isEditable"
          zem-grid-modal="zemGridEditableCurrencyFieldModal.html"
          top="-15"
          left="2"
          class="edit-modal-trigger"
          ng-bind="ctrl.formattedValue">
    </span>
</span>

