<div class="zem-campaign-goal-edit__item">
    <div class="zem-settings-form-group">
        <label
            class="zem-settings-form-group__label zem-settings-form-group__label--match-input-height zem-campaign-goal-edit__label"
        >
            Meet or beat the goal of
        </label>
        <div
            class="zem-settings-form-group__content zem-campaign-goal-edit__content"
        >
            <div
                class="zem-campaign-goal-edit__content-item zem-campaign-goal-edit__goal-value"
            >
                <ng-container *ngIf="editedGoalConfig.unit">
                    <zem-currency-input
                        *ngIf="editedGoalConfig.dataType === DataType.Currency"
                        class="zem-campaign-goal-edit__goal-value-item zem-currency-input"
                        [value]="campaignGoal.value"
                        [placeholder]="'0.00'"
                        [currencySymbol]="getGoalUnitText()"
                        [fractionSize]="2"
                        [isFocused]="true"
                        [hasError]="!!campaignGoalError?.value"
                        (inputBlur)="onGoalValueChange($event)"
                    ></zem-currency-input>
                    <zem-prefixed-input
                        *ngIf="editedGoalConfig.dataType === DataType.Decimal"
                        class="zem-prefixed-input"
                        [prefix]="getGoalUnitText()"
                        [hasError]="!!campaignGoalError?.value"
                    >
                        <zem-decimal-input
                            class="zem-campaign-goal-edit__goal-value-item zem-decimal-input"
                            [value]="campaignGoal.value"
                            [placeholder]="'0.00'"
                            [fractionSize]="2"
                            [isFocused]="true"
                            [hasError]="!!campaignGoalError?.value"
                            (inputBlur)="onGoalValueChange($event)"
                        ></zem-decimal-input>
                    </zem-prefixed-input>
                </ng-container>
                <ng-container *ngIf="!editedGoalConfig.unit">
                    <zem-decimal-input
                        class="zem-campaign-goal-edit__goal-value-item zem-decimal-input"
                        *ngIf="editedGoalConfig.dataType === DataType.Decimal"
                        [value]="campaignGoal.value"
                        [placeholder]="'0.00'"
                        [fractionSize]="2"
                        [isFocused]="true"
                        [hasError]="!!campaignGoalError?.value"
                        (inputBlur)="onGoalValueChange($event)"
                    ></zem-decimal-input>
                </ng-container>
                <div
                    class="zem-campaign-goal-edit__goal-value-item zem-message zem-message--error"
                    *ngFor="let error of campaignGoalError?.value"
                >
                    {{ error }}
                </div>
            </div>
            <div
                class="zem-campaign-goal-edit__content-item zem-campaign-goal-edit__goal-type"
            >
                <zem-select-input
                    class="zem-campaign-goal-edit__goal-type-item zem-select-input"
                    [value]="campaignGoal.type"
                    [bindLabel]="'name'"
                    [bindValue]="'value'"
                    [items]="availableGoals"
                    [placeholder]="'Choose type'"
                    [isDisabled]="!!campaignGoal.id"
                    [isSearchable]="false"
                    [isClearable]="false"
                    [hasError]="!!campaignGoalError?.type"
                    (valueChange)="onGoalTypeChange($event)"
                ></zem-select-input>
                <div
                    class="zem-campaign-goal-edit__goal-type-item zem-message zem-message--error"
                    *ngFor="let error of campaignGoalError?.type"
                >
                    {{ error }}
                </div>
            </div>
        </div>
    </div>
</div>
<zem-select-setting
    class="zem-campaign-goal-edit__item zem-select-setting zem-campaign-goal-edit__select-setting"
    *ngIf="campaignGoal.conversionGoal"
    [label]="'Type'"
    [helpMessage]="'The technology used for tracking conversions or goals.'"
    [value]="campaignGoal.conversionGoal.type"
    [bindLabel]="'name'"
    [bindValue]="'value'"
    [items]="CAMPAIGN_CONVERSION_GOAL_TYPES"
    [placeholder]="'Choose type'"
    [isDisabled]="!!campaignGoal.id"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="campaignGoalError?.conversionGoal?.type"
    (valueChange)="onConversionGoalTypeChange($event)"
></zem-select-setting>
<zem-select-setting
    class="zem-campaign-goal-edit__item zem-select-setting zem-campaign-goal-edit__select-setting"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.PIXEL
    "
    [label]="'Pixel'"
    [helpMessage]="
        'One of pre-set conversions pixels. You can add additional ones on Account tab of the account.'
    "
    [value]="campaignGoal.conversionGoal.goalId"
    [bindLabel]="'name'"
    [bindValue]="'id'"
    [items]="availablePixels"
    [placeholder]="'Choose pixel'"
    [isDisabled]="!!campaignGoal.id"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="campaignGoalError?.conversionGoal?.goalId"
    (valueChange)="onConversionGoalIdChange($event)"
></zem-select-setting>
<zem-select-setting
    class="zem-campaign-goal-edit__item zem-select-setting zem-campaign-goal-edit__select-setting"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.PIXEL &&
        campaignGoal.conversionGoal.goalId
    "
    [label]="'Conversion window'"
    [helpMessage]="
        'Conversion will be counted if less than the specified amount of time has passed before the first visit and the actual conversion.'
    "
    [value]="campaignGoal.conversionGoal.conversionWindow"
    [bindLabel]="'name'"
    [bindValue]="'value'"
    [items]="availableWindows"
    [placeholder]="'Choose conversion window'"
    [isDisabled]="!!campaignGoal.id"
    [isSearchable]="false"
    [isClearable]="false"
    [errors]="campaignGoalError?.conversionGoal?.conversionWindow"
    (valueChange)="onConversionGoalWindowChange($event)"
></zem-select-setting>
<zem-text-setting
    class="zem-campaign-goal-edit__item zem-text-setting zem-campaign-goal-edit__text-setting"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.GA
    "
    [label]="'Choose Goal'"
    [helpMessage]="
        'The name or id of Google Analytics goal that is tracking the conversions. Can be left empty in case of unnumbered or unnamed goal.'
    "
    [value]="campaignGoal.conversionGoal.goalId"
    [placeholder]="'Goal name'"
    [isDisabled]="!!campaignGoal.id"
    [errors]="campaignGoalError?.conversionGoal?.goalId"
    (valueChange)="onConversionGoalIdChange($event)"
></zem-text-setting>
<zem-text-setting
    class="zem-campaign-goal-edit__item zem-text-setting zem-campaign-goal-edit__text-setting"
    *ngIf="
        campaignGoal.conversionGoal &&
        campaignGoal.conversionGoal.type === CampaignConversionGoalType.OMNITURE
    "
    [label]="'Choose Event'"
    [helpMessage]="
        'The Adobe Analytics event that is tracking the conversions.'
    "
    [value]="campaignGoal.conversionGoal.goalId"
    [placeholder]="'Event name'"
    [isDisabled]="!!campaignGoal.id"
    [errors]="campaignGoalError?.conversionGoal?.goalId"
    (valueChange)="onConversionGoalIdChange($event)"
></zem-text-setting>
