@import 'variables';

.zem-campaign-goal-edit {
    display: block;
}

.zem-campaign-goal-edit__item {
    display: block;
    margin-bottom: 5px;
    max-width: 600px;
}

.zem-campaign-goal-edit__item:last-child {
    margin-bottom: 0px;
}

.zem-campaign-goal-edit__label {
    flex: 0 0 180px;
}

.zem-campaign-goal-edit__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
}

.zem-campaign-goal-edit__content-item {
    margin-right: 5px;
}

.zem-campaign-goal-edit__content-item:last-child {
    margin-right: 0;
}

.zem-campaign-goal-edit__goal-value {
    flex: 0 0 120px;
    margin-top: 5px;
}

.zem-campaign-goal-edit__goal-value-item {
    display: block;
    margin-bottom: 5px;
}

.zem-campaign-goal-edit__goal-value-item:last-child {
    margin-bottom: 0;
}

.zem-campaign-goal-edit__goal-type {
    flex: 1 1 auto;
    margin-top: 5px;
}

.zem-campaign-goal-edit__goal-type-item {
    display: block;
    margin-bottom: 5px;
}

.zem-campaign-goal-edit__goal-type-item:last-child {
    margin-bottom: 0;
}

.zem-campaign-goal-edit__select-setting
    .zem-settings-form-group
    .zem-settings-form-group__label {
    flex: 0 0 180px;
}

.zem-campaign-goal-edit__text-setting
    .zem-settings-form-group
    .zem-settings-form-group__label {
    flex: 0 0 180px;
}
