<div class="modal__header"><div class="modal__title">Clone campaign</div></div>
<div class="modal__body">
    <zem-campaign-cloning-form
        class="zem-campaign-cloning-form"
        [campaign-id]="$ctrl.resolve.campaign.id"
        [campaign-name]="$ctrl.resolve.campaign.name"
        (component-ready)="$ctrl.childComponentReady($event)"
    ></zem-campaign-cloning-form>
</div>
<div class="modal__footer buttons-panel">
    <button
        class="zem-button-legacy zem-button-legacy--highlighted zem-button-legacy--with-icon zem-button-legacy--copy-icon"
        ng-disabled="!!$ctrl.requestInProgress"
        ng-click="$ctrl.submit()"
    >
        Clone
    </button>
    <button
        class="zem-button-legacy zem-button-legacy--outlined"
        ng-disabled="!!$ctrl.requestInProgress"
        ng-click="$ctrl.modalInstance.dismiss()"
    >
        Cancel
    </button>
    <zem-loader
        class="zem-loader zem-loader--small zem-loader--inline"
        ng-show="$ctrl.requestInProgress"
    ></zem-loader>
    <span ng-show="$ctrl.error" class="message message--error">{{
        $ctrl.error
    }}</span>
</div>
