<div class="modal__header">
    <div ng-if="!!$ctrl.resolve.campaign" class="modal__title">
        Cloning successful
    </div>
    <div ng-if="!$ctrl.resolve.campaign" class="modal__title">
        Clone campaign
    </div>
</div>

<div ng-if="!!$ctrl.resolve.campaign" class="modal__body">
    <div>
        Campaign <strong>{{ $ctrl.resolve.campaign.name }}</strong> was
        successfully cloned.
    </div>

    <div class="m-t">
        <button
            class="zem-button-legacy zem-button-legacy--highlighted"
            ng-click="$ctrl.navigateTo($event)"
        >
            Visit newly created campaign
        </button>
    </div>
</div>
<div ng-if="!$ctrl.resolve.campaign" class="modal__body">
    <div>
        Campaign clone is under way and will take a bit more time to process
        than usual. We’ll send you an email once it’s done. You can safely close
        this dialog.
    </div>
</div>
<div class="modal__footer buttons-panel">
    <button
        class="zem-button-legacy zem-button-legacy--outlined"
        ng-click="$ctrl.modalInstance.dismiss()"
    >
        Close
    </button>
</div>
