@import 'variables';

.zem-refunds-grid {
    display: block;
}

.zem-refunds-grid__item {
    display: block;
    margin-bottom: @zem-form-group__items-spacing--default;
}

.zem-refunds-grid__total {
    border-top: 1px solid @color--lighter-neutral;
    padding-top: @zem-form-group__items-spacing--default;
}
