<div uib-dropdown>
    <a
        href
        class="zem-header__dropdown-button zem-header__dropdown-button--left-border"
        uib-dropdown-toggle
    >
        <img
            class="zem-header__dropdown-button-icon zem-header__dropdown-button-icon--bigger"
            ng-src="{{ $ctrl.config.staticUrl }}/one/images/menu.svg"
        />
    </a>
    <div
        class="zem-header__dropdown-menu zem-header__dropdown-menu--header-menu"
        uib-dropdown-menu
    >
        <div class="zem-header-menu__logged-in-user">
            <div class="zem-header-menu__logged-in-user-title">
                Logged in as:
            </div>
            <div class="zem-header-menu__logged-in-user-name">
                {{ $ctrl.userName }}
            </div>
            <div class="zem-header-menu__logged-in-user-email">
                {{ $ctrl.userEmail }}
            </div>
        </div>
        <ul
            class="zem-header-menu__group"
            ng-repeat="menuGroup in $ctrl.menuStructure"
            ng-if="menuGroup.actions && menuGroup.actions.length>0"
        >
            <li class="zem-header-menu__group-title">{{ menuGroup.name }}:</li>
            <li ng-repeat="action in menuGroup.actions">
                <a
                    class="zem-header-menu__link"
                    ng-attr-href="{{ action.url }}"
                    ng-click="$ctrl.executeAction(action, $event)"
                    is-internal="{{ action.isInternalFeature }}"
                    zem-new-feature="{{ action.isNewFeature }}"
                >
                    {{ action.name }}
                </a>
            </li>
        </ul>
    </div>
</div>
