@import 'variables';

.zem-tag {
    float: right;
}

.zem-tag__text {
    border-style: solid;
    height: 12px;
    border-radius: 7px;
    font-weight: bold;
    z-index: @z-index--new-feature;
    font-size: 8px;
    line-height: 8px;
    color: white;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    bottom: 2px;
}
