<div class="custom-panel zem-settings-component__container zem-region-targeting-settings">
    <h2 class="custom-panel__title" ng-if="$ctrl.isDefault()">Default locations</h2>
    <h2 class="custom-panel__title" ng-if="!$ctrl.isDefault()">
        Locations
        <div class="zem-settings__different-than-default" ng-if="!$ctrl.isEqualToDefault()">Different than campaign default</div>
    </h2>
    <div class="custom-panel__description">The countries, states and DMA regions where your content ads will be shown. <span ng-if="$ctrl.isDefault()">Used for all newly created ad groups.</span></div>
    <div class="form" ng-class="{'has-error': !!$ctrl.errors.targetRegions}">
        <zem-locations zem-selected-location-codes="$ctrl.entity.settings.targetRegions" zem-has-permission="$ctrl.hasPermission"></zem-locations>
    </div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.targetRegions">{{ error }}</div>
</div>

