@import '../default/variables.less';

@images-folder: 'images/whitelabel/adtechnacity';
@logo__background: url('@{images-folder}/adtechnacity-logo.svg') no-repeat
    center center;

@color--primary: #ff7f00;
@color--secondary: #555f7b;

@header__background-color--left: @color--primary;
@header__background-color--right: @color--primary;
