@import '../default/variables.less';

// GENERAL SETTINGS

@images-folder: 'images/whitelabel/adtechnacity';
@logo: url('@{images-folder}/adtechnacity-logo.svg') no-repeat center center;

// GREENPARK COLORS

@primary-color: #FF7F00;
@secondary-color: #555f7b;

// HEADER COLOR

@header-left-color: #FF7F00;
@header-right-color: #FF7F00;
