@import 'variables';

.zem-geo-targeting-location__list-item-name {
    flex: 1 1 auto;
}

.zem-geo-targeting-location__list-item-not-supported-icon {
    flex: 0 0 auto;
    width: 10px;
    height: 10px;
    display: block;
    margin-right: @spacing--small;
    opacity: 0.2;
}

.zem-geo-targeting-location__list-item-not-supported-icon--outbrain {
    background: url('images/not-supported-outbrain.svg') no-repeat center center;
}

.zem-geo-targeting-location__list-item-not-supported-icon--yahoo {
    background: url('images/not-supported-yahoo.svg') no-repeat center center;
}
