@import 'variables';

.zem-settings__settings-container {
    padding: @spacing--default;
}

.zem-settings__panel-header {
    display: flex;
    flex-wrap: wrap;
}

.zem-settings__panel-header-title {
    flex: 1 1 auto;
    margin: 0;
}

.zem-settings__panel-header-message {
    flex: 0 1 auto;
    text-align: right;
    color: @text-color--lighter;
}

.zem-settings__panel:not(:first-child) {
    margin-top: @spacing--default;
}

.zem-settings__settings-footer {
    z-index: 1; // To make box shadow appear above settings container
}
