@import 'variables';
@import './_settings.variables.less';

.zem-settings-form-group {
    display: flex;
    flex-wrap: wrap;
}

.zem-settings-form-group__label {
    flex: 0 0 @zem-settings__label-width;
    line-height: 20px;
}

.zem-settings-form-group__label--match-input-height {
    display: flex;
    max-height: @input__height--default;
    align-items: center;
}

.zem-settings-form-group__content {
    flex: 1 1 @zem-settings__min-content-width;
}

.zem-settings-form-group__content-item {
    line-height: 20px;
    margin-top: @zem-settings__items-spacing--default;
}

.zem-settings-form-group__content-item--no-spacing,
.zem-settings-form-group__content-item:first-child {
    margin-top: 0;
}

.zem-settings-form-group__subgroup {
    margin: @zem-settings__items-spacing--default 0
        @zem-settings__items-spacing--default 22px;
    padding: @zem-settings__items-spacing--default 0
        @zem-settings__items-spacing--default 20px;
    border-left: 3px solid @color--lighter-neutral;
}

.zem-settings-form-group__subgroup-item {
    line-height: 20px;
    margin-top: @zem-settings__items-spacing--default;
}

.zem-settings-form-group__subgroup-item--no-spacing,
.zem-settings-form-group__subgroup-item:first-child {
    margin-top: 0;
}
