@import 'variables';
@import './_settings.variables.less';

.zem-settings__settings-header {
    padding: @spacing--default;
}

.zem-settings__settings-container {
    padding: @spacing--default;
}

.zem-settings__panel:not(:first-child) {
    margin-top: @spacing--default;
}

.zem-settings__settings-footer {
    padding: @spacing--default;
}
