<zem-settings-container title="'Account settings'" entity-type="$ctrl.constants.entityType.ACCOUNT" entity-id="$ctrl.entityId">
    <settings>
        <zem-account-general-settings
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-account-general-settings>
    </settings>

    <custom>
        <zem-access-permissions-settings
                entity="$container.entity"
        ></zem-access-permissions-settings>

        <zem-conversion-pixels
                zem-account="$container.entity.settings"
                zem-has-permission="$ctrl.hasPermission"
                zem-is-permission-internal="$ctrl.isPermissionInternal" />
    </custom>
</zem-settings-container>
