<zem-settings-container title="'Account settings'" entity-type="$ctrl.constants.entityType.ACCOUNT" entity-id="$ctrl.entityId">
    <settings>
        <zem-account-general-settings
                entity="$container.entity"
                errors="$container.errors"
                api="$container.api"
        ></zem-account-general-settings>
    </settings>

    <custom>
        <zem-access-permissions-settings
                entity="$container.entity"
        ></zem-access-permissions-settings>
    </custom>
</zem-settings-container>
