.zem-content-insights {
    display: block;
    width: 100%;

    .loader {
        display: block;
        margin: 0 auto;
    }
}

.content-insights__container {
    width: 49%;
    margin-right: 2%;
    float: left;
}

.content-insights__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.content-insights__number-column {
    width: 30px;
}

.content-insights__number-performance-column {
    width: 60px;
    font-weight: 500;
}
