@import 'variables';

.zem-grid-container {
    display: block;
    margin-top: 20px;
}

.zem-grid-container-actions {
    display: block;
}

.zem-grid-container__body {
    padding: 15px;
    margin-top: 0;
    position: static;
}

.zem-dummy-grid-container__actions {
    height: 45px;
}

.zem-dummy-grid-container__header,
.zem-dummy-grid-container__footer {
    height: 44px;
    background-color: tint(@color--secondary, 90%);
}

.zem-dummy-grid-container__body {
    height: 45px;
}

.zem-dummy-grid-container__header {
    border-bottom: 1px solid fade(@color--secondary, 20%);
}

.zem-dummy-grid-container__footer {
    border-top: 1px solid fade(@color--secondary, 20%);
}
