<zem-grid-container-tabs
    tabs="$ctrl.tabs"
    entity="$ctrl.entity"
    breakdown="$ctrl.breakdown"
    class="zem-grid-container-tabs"
></zem-grid-container-tabs>

<div class="custom-panel zem-grid-container__body">
    <!--DOM Portal Host-->
    <div id="#zem-grid-alerts"></div>
    <div ng-repeat="tab in $ctrl.tabs">
        <div ng-show="tab.selected">
            <div
                ng-if="tab.activated && tab.breakdown === $ctrl.constants.breakdown.INSIGHTS"
            >
                <zem-content-insights
                    ng-if="tab.activated"
                    entity="$ctrl.entity"
                ></zem-content-insights>
            </div>

            <div ng-if="tab.breakdown !== $ctrl.constants.breakdown.INSIGHTS">
                <div ng-if="!tab.activated" class="zem-dummy-grid-container">
                    <div class="zem-dummy-grid-container__actions"></div>
                    <div class="zem-dummy-grid-container__header"></div>
                    <div
                        ng-if="tab.grid.renderingEngine === 'CUSTOM'"
                        class="zem-dummy-grid-container__body"
                    ></div>
                    <div
                        ng-if="tab.grid.renderingEngine === 'CUSTOM'"
                        class="zem-dummy-grid-container__footer"
                    ></div>
                </div>
                <div ng-if="tab.activated">
                    <zem-grid-container-actions
                        ng-if="tab.grid.api.isInitialized()"
                        entity="$ctrl.entity"
                        breakdown="tab.breakdown"
                        level="$ctrl.level"
                        grid-api="tab.grid.api"
                        class="zem-grid-container-actions"
                    ></zem-grid-container-actions>

                    <zem-grid
                        data-data-source="tab.grid.dataSource"
                        options="tab.grid.options"
                        rendering-engine="tab.grid.renderingEngine"
                        page="tab.page"
                        page-size="tab.pageSize"
                        breakdown="tab.breakdown"
                        level="$ctrl.level"
                        on-initialized="$ctrl.onGridInitialized(tab, api)"
                        on-pagination-change="
                            $ctrl.onPaginationChange(tab, page, pageSize)
                        "
                    ></zem-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FIXME: Move inline templates to files in templates directory -->
<!-- Popover templates -->
<script id="zemGridPerformanceIndicatorPopover.html" type="text/ng-template">
    <ul class="icon-list">
        <li ng-repeat="status in ctrl.statusList">
            <img class="zem-icon {{status.class}}" ng-src="{{ctrl.config.staticUrl}}/one/images/{{status.file}}" /> {{status.text}}
        </li>
    </ul>
</script>
<script id="zemGridThumbnailPreviewPopover.html" type="text/ng-template">
    <!-- NATIVE CREATIVES -->
    <zem-native-ad-preview
        ng-if="ctrl.isNative()"
        class="zem-native-ad-preview"
        [url]="ctrl.row.data.stats.display_url.value"
        [landscape-hosted-image-url]="ctrl.data.landscape"
        [hosted-image-url]="ctrl.data.square"
        [hosted-icon-url]="ctrl.data.icon"
        [title]="ctrl.row.data.stats.breakdown_name.text"
        [brand-name]="ctrl.row.data.stats.brand_name.value"
        [description]="ctrl.row.data.stats.description.value"
        [display-url]="ctrl.row.data.stats.display_url.value"
        [call-to-action]="ctrl.row.data.stats.call_to_action.value"
    ></zem-native-ad-preview>
    <!-- DISPLAY CREATIVES -->
    <zem-display-ad-preview
        ng-if="ctrl.isImage() || ctrl.isAdTag()"
        class="zem-display-ad-preview"
        [url]="ctrl.row.data.stats.display_url.value"
        [ad-type]="ctrl.getAdType()"
        [display-hosted-image-url]="ctrl.data.image"
        [ad-tag]="ctrl.data.ad_tag"
        [image-width]="ctrl.getCreativeWidth()"
        [image-height]="ctrl.getCreativeHeight()"
    ></zem-display-ad-preview>
</script>
<script id="zemGridSubmissionStatusPopover.html" type="text/ng-template">
    <div class="submission-status-popover-table">
        <div class="submission-status-popover-row" ng-class="{'submission-status-emphasis': submission.source_state !== ''}" ng-repeat="submission in ctrl.nonApproved">
            <span class="submission-status-popover-cell left-cell">{{submission.name}}<span ng-if="submission.source_state === ''">:&nbsp;</span><span ng-if="submission.source_state != ''">&nbsp;{{submission.source_state}}:&nbsp;</span></span>
            <span class="submission-status-popover-cell bold">
                {{submission.text}}
                <span ng-if="ctrl.hasPermission('zemauth.can_see_amplify_review_link') && submission.source_link">
                    <a ng-href="{{submission.source_link}}" target="_blank" is-internal="zemauth.can_see_amplify_review_link" class="submission-status-popover-link">
                        <img ng-src="{{ctrl.config.staticUrl}}/one/images/link.svg" class="submission-status-popover-link-img" />
                    </a>
                </span>
            </span>
        </div>
        <div ng-if="ctrl.approved.length && ctrl.nonApproved.length" class="submission-status-popover-row">
            <span class="submission-status-popover-cell divider"><hr></span>
            <span class="submission-status-popover-cell divider"><hr></span>
        </div>
        <div class="submission-status-popover-row" ng-class="{'submission-status-emphasis': submission.source_state !== ''}" ng-repeat="submission in ctrl.approved">
            <span class="submission-status-popover-cell left-cell submission-status-label">{{submission.name}}<span ng-if="submission.source_state === ''">:&nbsp;</span>&nbsp;{{submission.source_state}}<span ng-if="submission.source_state != ''">:&nbsp;</span></span>
            <span class="submission-status-popover-cell" >
                {{submission.text}}
                <span ng-if="ctrl.hasPermission('zemauth.can_see_amplify_review_link') && submission.source_link">
                    <a ng-href="{{submission.source_link}}" target="_blank" is-internal="zemauth.can_see_amplify_review_link" class="submission-status-popover-link">
                        <img ng-src="{{ctrl.config.staticUrl}}/one/images/link.svg" class="submission-status-popover-link-img" />
                    </a>
                </span>
            </span>
        </div>
        <div ng-if="ctrl.noSubmissions" class="submission-status-popover-row no-submission-message">
            No Media Sources added yet.
        </div>
    </div>
</script>
<!-- Modal templates -->
<script id="zemGridCellActionsDropdown.html" type="text/ng-template">
    <div class='zem-grid-modal-wrapper'>
        <div class="dropdown-menu dropdown-menu--only-buttons zem-grid-modal">
            <button class="button button--with-icon"
                    ng-click="ctrl.execute(button)"
                    ng-repeat="button in ctrl.buttons"
                    ng-disabled="button.isDisabled"
                    ng-class="{
                        'edit-icon': button.type === 'edit',
                        'archive-icon': button.type === 'archive',
                        'restore-icon': button.type === 'restore',
                        'copy-icon': button.type === 'clone',
                        'download-icon': button.type === 'download',
                        'blacklist-add-icon': button.type === 'blacklist',
                        'blacklist-remove-icon': button.type === 'unlist'
                    }">{{ button.name }}</button>
        </div>
    </div>
</script>
<script id="zemGridStateSelectorModal.html" type="text/ng-template">
    <div class='state-selector-modal zem-grid-modal'>
        <div ng-if="ctrl.isEditable && ctrl.isSaveRequestInProgress()" class="wait-message">
            Save in progress. Please wait ...
        </div>
        <ul ng-if="ctrl.isEditable && !ctrl.isSaveRequestInProgress()" class="state-list editable">
            <li zem-lazy-popover-text="{{ ctrl.active || ctrl.enablingAutopilotSourcesAllowed ? '' : 'To enable this Media Source please increase Autopilot\'s Daily Spend Cap.' }}"
                zem-lazy-popover-placement="right"
                zem-lazy-popover-animation-class="fade"
                zem-lazy-popover-append-to-body="true">
                <span ng-if="!ctrl.active && !ctrl.enablingAutopilotSourcesAllowed" class="state-item">
                    <span class="state-icon active"></span><span class="state-text">Enabled</span>
                </span>
                <a ng-if="ctrl.active || ctrl.enablingAutopilotSourcesAllowed" class="state-item" ng-click="ctrl.setState(ctrl.stateValues.enabled)">
                    <span class="state-icon active"></span><span class="state-text">Enabled</span>
                </a>
            </li>
            <li>
                <a class="state-item" ng-click="ctrl.setState(ctrl.stateValues.paused)">
                    <span class="state-icon paused"></span><span class="state-text">Paused</span>
                </a>
            </li>
        </ul>
        <ul ng-if="!ctrl.isEditable" class="state-list uneditable">
            <li ng-if="ctrl.active">
                <span class="state-item">
                    <span class="state-icon active"></span>
                    <span class="state-text">Enabled</span>
                </span>
            </li>
            <li ng-if="!ctrl.active">
                <span class="state-item">
                    <span class="state-icon paused"></span>
                    <span class="state-text">Paused</span>
                </span>
            </li>
            <li>
                <span class="state-item disabled-message">
                    {{ctrl.disabledMessage}}
                </span>
            </li>
        </ul>
    </div>
</script>
<script id="zemGridEditableCurrencyFieldModal.html" type="text/ng-template">
    <div class='zem-grid-modal-wrapper'>
        <div class='editable-currency-field-modal zem-grid-modal'>
            <div ng-if="ctrl.isSaveRequestInProgress() && !ctrl.showLoader" class="message">
                Save in progress. Please wait ...
            </div>
            <div ng-if="!ctrl.isSaveRequestInProgress() || ctrl.showLoader" class="edit-form">
                <div class="field-wrapper">
                    <div class="prefixed-field">
                        <span class="prefixed-field__prefix">{{ctrl.currencySymbol}}</span>
                        <input class="input-text" type="text" ng-model="ctrl.editFormInputValue" ng-trim="false" ng-change="ctrl.filterInput()" focus ng-keydown="ctrl.onKeyDown($event)">
                    </div>
                </div>
                <div class="button-wrapper">
                    <button ng-show="!ctrl.showLoader" class="button button--highlight button--with-icon check-icon" ng-click="ctrl.save()">Save</button>
                    <button class="button button--outline" ng-click="ctrl.closeModal()">Cancel</button>
                    <button ng-show="ctrl.showLoader" class="button button--highlight button--disabled"><span class="loader loader--white"></span></button>
                </div>
                <span class="message message--error" ng-repeat="error in ctrl.errors">{{error}}</span>
            </div>
        </div>
    </div>
</script>
