@import 'variables';

zem-grid-container {
    display: block;
}
zem-grid-container-actions {
    display: block;
}
zem-grid-container-tabs {
    display: block;
}

.zem-grid-container {
    margin-top: 20px;
}

.zem-grid-container__header {
    margin-bottom: -1px;
}

.zem-grid-container__body {
    padding: 15px;
    margin-top: 0;
    position: static;
}

.zem-grid-container-tabs {
    // TODO: Style - only for debugging purposes
}

.zem-grid__tab {
    color: @text-color;
    text-decoration: none;
    background-color: darken(@light-gray, 4%);
    font-size: 14px;
    padding: 6px @default-spacing;
    margin: 4px 5px 0 0;
    cursor: pointer;
    transition: background-color @default-animation;

    &:hover {
        color: @text-color;
        text-decoration: none;
        background-color: white;
    }
}

.zem-grid__tab--active {
    color: @secondary-color;
    font-weight: 500;
    background: white;
    border-top: 2px solid @secondary-color;
    padding: 8px @default-spacing;
    margin-top: 0;

    &:hover {
        color: @secondary-color;
    }
}

.zem-dummy-grid-container__actions {
    height: 45px;
}

.zem-dummy-grid-container__header,
.zem-dummy-grid-container__footer {
    height: 44px;
    background-color: tint(@secondary-color, 90%);
}

.zem-dummy-grid-container__body {
    height: 45px;
}

.zem-dummy-grid-container__header {
    border-bottom: 1px solid fade(@secondary-color, 20%);
}
.zem-dummy-grid-container__footer {
    border-top: 1px solid fade(@secondary-color, 20%);
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @mobile-breakpoint) {
    .zem-grid-container-tabs {
        display: table;
    }

    .zem-grid__tab {
        display: table-cell;
        font-size: 13px;
        line-height: 15px;
        max-width: 31%;
        margin: 0;
        vertical-align: middle;
        float: none !important;
        border: 2px solid @background-light-gray;
        border-right: none;
    }

    .zem-grid__tab--active {
        font-weight: 400;
        border: none;
        border-bottom: 2px solid white;
        border-top: 2px solid @secondary-color;
    }
}

@media only screen and (max-width: 360px) {
    .zem-grid__tab {
        padding: 6px 10px;
    }
}
