<div class="zem-settings__header">
    <h1 class="zem-settings__header-title">{{$ctrl.title}}</h1>
    <div class="zem-settings__header-close">
        <button ng-click="$ctrl.close()" class="button">></button>
    </div>
</div>

<div class="zem-settings__body" ng-if="!$ctrl.entity.archived">
    <div zem-settings-transclude="settings" class="form-horizontal"></div>
    <div zem-settings-transclude="custom" ng-if="$ctrl.entity" class="form-horizontal"></div>
</div>

<div class="zem-settings__body" ng-if="$ctrl.entity.archived">
    <div class="zem-settings-component__container">
        <p>Entity is archived.</p>
    </div>
</div>

<!-- TODO: refactor - move to separate component -->
<div class="zem-settings__footer">
    <button type="button" class="btn btn-add btn-icon check" ng-if="!$ctrl.entity.archived" ng-click="$ctrl.save()"><span class="icon"></span><span class="text">Save</span></button>
    <button type="button" class="btn btn-blue btn-outline" ng-click="$ctrl.close()"><span class="text">Close</span></button>
    <div class="settings-archive-container inline-block" ng-if="$ctrl.hasPermission('zemauth.archive_restore_entity')">
        <zem-internal-feature ng-if="$ctrl.isPermissionInternal('zemauth.archive_restore_entity')" popover-placement="bottom"></zem-internal-feature>
        <button ng-if="!$ctrl.entity.archived" type="button" class="btn btn-blue btn-outline" ng-class="{'disabled': !$ctrl.entity.canArchive}" title="{{ $ctrl.getArchiveTooltip() }}" ng-click="$ctrl.archive()">
            <span class="text">Archive {{ $ctrl.getEntityTypeName() }}</span>
        </button>
        <button ng-if="$ctrl.entity.archived" type="button" class="btn btn-blue btn-outline" ng-class="{'disabled': !$ctrl.entity.canRestore}" title="{{ $ctrl.getRestoreTooltip() }}" ng-click="$ctrl.restore()">
            <span class="text">Restore {{ $ctrl.getEntityTypeName() }}</span>
        </button>
    </div>
    <div class="loader" ng-show="$ctrl.status.code === 1"></div>
    <span ng-show="$ctrl.status.code === 2" class="success feedback-text">{{ $ctrl.status.text }}</span>
    <span ng-show="$ctrl.status.code === 3" class="error feedback-text">{{ $ctrl.status.text }}</span>
</div>
