<zem-drawer
    class="zem-drawer zem-account-settings-drawer"
    [isOpen]="isOpen"
    [isClosable]="!isNewEntity"
    [isLoading]="
        store.state.requests.defaults.inProgress ||
        store.state.requests.get.inProgress
    "
    (closeRequest)="cancel()"
>
    <ng-container *ngIf="store.state$ | async as state">
        <zem-settings-drawer-header
            class="zem-settings-drawer-header zem-drawer__header"
            [entityId]="entityId"
            [entityType]="EntityType.ACCOUNT"
            [entityName]="state.entity.name"
            [isDisabled]="isReadOnly"
            [showAdminLink]="
                authStore.hasPermission('zemauth.can_see_open_in_admin')
            "
            [isAdminLinkAnInternalFeature]="
                authStore.isPermissionInternal('zemauth.can_see_open_in_admin')
            "
            [entityNameErrors]="state.fieldsErrors.name"
            (entityNameChange)="store.setName($event)"
        ></zem-settings-drawer-header>
        <div
            class="zem-drawer__subheader zem-drawer__subheader--info zem-drawer__subheader--with-icon"
            *ngIf="isReadOnly"
        >
            <span>You don't have permission to edit this account.</span>
        </div>
        <div
            class="zem-drawer__content custom-scroller zem-settings__settings-container"
        >
            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        General settings
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.can_modify_account_manager'
                            ) && !state.extras.isExternallyManaged
                        "
                        [label]="'Account Manager'"
                        [helpMessage]="
                            'Account manager responsible for the campaign and the communication with the client.'
                        "
                        [value]="state.entity.defaultAccountManager"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="state.extras.accountManagers"
                        [placeholder]="'Choose account manager'"
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.defaultAccountManager"
                        (valueChange)="store.setAccountManager($event)"
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.can_set_account_sales_representative'
                            ) && !state.extras.isExternallyManaged
                        "
                        [label]="'Sales Representative'"
                        [helpMessage]="
                            'Sales representative responsible for the campaign and the communication with the client.'
                        "
                        [value]="state.entity.defaultSalesRepresentative"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="state.extras.salesRepresentatives"
                        [placeholder]="'Choose sales representative'"
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.defaultSalesRepresentative"
                        (valueChange)="store.setSalesRepresentative($event)"
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.can_set_account_cs_representative'
                            ) && !state.extras.isExternallyManaged
                        "
                        [zemInternalFeature]="
                            authStore.isPermissionInternal(
                                'zemauth.can_set_account_cs_representative'
                            )
                        "
                        [label]="'CS Representative'"
                        [helpMessage]="
                            'Customer success manager responsible for the campaign and the communication with the client.'
                        "
                        [value]="state.entity.defaultCsRepresentative"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="state.extras.csRepresentatives"
                        [placeholder]="'Choose CS representative'"
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.defaultCsRepresentative"
                        (valueChange)="
                            store.setCustomerSuccessRepresentative($event)
                        "
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.can_set_account_ob_representative'
                            ) && !state.extras.isExternallyManaged
                        "
                        [zemInternalFeature]="
                            authStore.isPermissionInternal(
                                'zemauth.can_set_account_ob_representative'
                            )
                        "
                        [label]="'OB Sales Representative'"
                        [helpMessage]="
                            'Outbrain Representative responsible for the account and the communication with the client.'
                        "
                        [value]="state.entity.obSalesRepresentative"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="state.extras.obRepresentatives"
                        [placeholder]="
                            'Choose OB representative, if left empty it will inherit agency\'s default'
                        "
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.obSalesRepresentative"
                        (valueChange)="
                            store.setOutbrainSalesRepresentative($event)
                        "
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.can_set_account_ob_representative'
                            ) && !state.extras.isExternallyManaged
                        "
                        [zemInternalFeature]="
                            authStore.isPermissionInternal(
                                'zemauth.can_set_account_ob_representative'
                            )
                        "
                        [label]="'OB Account Manager'"
                        [helpMessage]="
                            'Outbrain Account Manager responsible for the account and the communication with the client.'
                        "
                        [value]="state.entity.obAccountManager"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="state.extras.obRepresentatives"
                        [placeholder]="
                            'Choose OB Account Manager, if left empty it will inherit agency\'s default'
                        "
                        [isSearchable]="true"
                        [isClearable]="true"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.obAccountManager"
                        (valueChange)="store.setOutbrainAccountManager($event)"
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.can_modify_account_type'
                            )
                        "
                        [zemInternalFeature]="
                            authStore.isPermissionInternal(
                                'zemauth.can_modify_account_type'
                            )
                        "
                        [label]="'Account Type'"
                        [value]="state.entity.accountType"
                        [bindLabel]="'name'"
                        [bindValue]="'value'"
                        [items]="ACCOUNT_TYPES"
                        [placeholder]="'Choose account type'"
                        [isSearchable]="true"
                        [isClearable]="false"
                        [isDisabled]="isReadOnly"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.accountType"
                        (valueChange)="store.setAccountType($event)"
                    ></zem-select-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        [label]="'Agency'"
                        [helpMessage]="'Agency that this account is part of.'"
                        [value]="state.entity.agencyId"
                        [bindLabel]="'name'"
                        [bindValue]="'id'"
                        [items]="state.extras.agencies"
                        [placeholder]="'Choose agency'"
                        [isDisabled]="!isNewEntity || isReadOnly"
                        [isSearchable]="true"
                        [isClearable]="true"
                        [orderByValue]="'name'"
                        [errors]="state.fieldsErrors.agencyId"
                        (valueChange)="store.setAgency($event)"
                    ></zem-select-form-group>
                    <zem-text-form-group
                        class="zem-text-form-group zem-settings-section__item"
                        *ngIf="
                            authStore.hasPermission(
                                'zemauth.can_see_salesforce_url'
                            ) && !state.extras.isExternallyManaged
                        "
                        [zemInternalFeature]="
                            authStore.isPermissionInternal(
                                'zemauth.can_see_salesforce_url'
                            )
                        "
                        [label]="'SalesForce'"
                        [helpMessage]="'URL of this account in SalesForce.'"
                        [value]="state.entity.salesforceUrl"
                        [errors]="state.fieldsErrors.salesforceUrl"
                        [isDisabled]="isReadOnly"
                        (valueChange)="store.setSalesforceUrl($event)"
                    ></zem-text-form-group>
                    <zem-select-form-group
                        class="zem-select-form-group zem-settings-section__item"
                        *ngIf="!state.extras.isExternallyManaged"
                        [label]="'Currency'"
                        [helpMessage]="
                            'Currency can be updated only if Account has no Campaigns yet.'
                        "
                        [value]="state.entity.currency"
                        [bindLabel]="'name'"
                        [bindValue]="'value'"
                        [items]="CURRENCIES"
                        [placeholder]="'Choose currency'"
                        [isSearchable]="true"
                        [isClearable]="false"
                        [orderByValue]="'name'"
                        [isDisabled]="!isNewEntity || isReadOnly"
                        [errors]="state.fieldsErrors.currency"
                        (valueChange)="store.setCurrency($event)"
                    ></zem-select-form-group>
                    <zem-integer-form-group
                        class="zem-integer-form-group zem-settings-section__item"
                        [label]="'Daily impression frequency cap'"
                        helpMessage="This setting defines the maximum number of times your ads from this campaign will be shown to a unique user in one day."
                        [value]="state.entity.frequencyCapping"
                        [errors]="state.fieldsErrors.frequencyCapping"
                        [isDisabled]="isReadOnly"
                        [placeholder]="'No limit'"
                        (valueChange)="store.setFrequencyCapping($event)"
                    ></zem-integer-form-group>
                    <zem-content-form-group
                        class="zem-content-form-group zem-settings-section__item"
                        helpMessage="Brand logo will be placed in all creatives and served with ads where this is required by the publisher. In case you wish to change the brand logo for a specific creative you can do that on the ad creative level."
                        [label]="'Brand logo'"
                    >
                        <div
                            *ngIf="
                                !state.requests.defaults.inProgress &&
                                !state.requests.get.inProgress
                            "
                        >
                            <img
                                class="zem-account-settings-drawer__icon-preview"
                                [ngClass]="{
                                    'zem-account-settings-drawer__icon-preview--error':
                                        state.fieldsErrors?.defaultIconUrl
                                            ?.length > 0
                                }"
                                [hidden]="!isDefaultIconPreviewVisible"
                                src="{{ state.entity.defaultIconUrl }}"
                            />
                            <zem-file-selector
                                class="zem-file-selector zem-account-settings-drawer__icon-file-selector"
                                [ngClass]="{
                                    'zem-account-settings-drawer__icon-preview--error':
                                        state.fieldsErrors?.defaultIconUrl
                                            ?.length > 0
                                }"
                                [hidden]="isDefaultIconPreviewVisible"
                                [isDisabled]="isReadOnly"
                                [dropZoneLabel]="'Drop your file here or'"
                                [accept]="'image/*'"
                                [isMultiple]="false"
                                [showBrowseButton]="true"
                                [browseButtonLabel]="'Choose file'"
                                (filesChange)="store.setDefaultIcon($event)"
                            ></zem-file-selector>
                            <div
                                class="zem-form-group__content-item zem-message zem-message--error"
                                *ngFor="
                                    let error of state.fieldsErrors
                                        .defaultIconUrl
                                "
                            >
                                {{ error }}
                            </div>
                        </div>
                    </zem-content-form-group>
                    <div
                        class="zem-settings-section__item zem-settings-section__item--indented"
                        *ngIf="
                            !state.requests.defaults.inProgress &&
                            !state.requests.get.inProgress
                        "
                    >
                        <div
                            class="zem-account-settings-drawer__required-icon-size-message"
                        >
                            The minimum required size for the brand logo is
                            128x128 pixels and the required format is square
                            (1:1).
                        </div>
                    </div>
                    <div
                        class="zem-settings-section__item--indented"
                        *ngIf="
                            !state.requests.defaults.inProgress &&
                            !state.requests.get.inProgress &&
                            isDefaultIconPreviewVisible &&
                            !isReadOnly
                        "
                    >
                        <button
                            class="zem-button-as-text zem-account-settings-drawer__icon-preview-toggle"
                            (click)="toggleDefaultIconPreview()"
                        >
                            If you want to upload a new brand logo click here to
                            switch to the upload form.
                        </button>
                    </div>
                    <div
                        class="zem-settings-section__item--indented"
                        *ngIf="
                            !isDefaultIconPreviewVisible &&
                            !state.requests.defaults.inProgress &&
                            !state.requests.get.inProgress &&
                            state.entity.defaultIconUrl &&
                            !isReadOnly
                        "
                    >
                        <button
                            class="zem-button-as-text zem-account-settings-drawer__icon-preview-toggle"
                            (click)="toggleDefaultIconPreview()"
                            ng-if="state.entity.defaultIconUrl"
                        >
                            If you want to preview the brand logo click here to
                            switch to the preview form.
                        </button>
                    </div>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Media sources
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__description">
                            Media sources made available on this account.
                        </div>
                    </div>
                    <zem-media-sources
                        class="zem-media-sources zem-settings-section__item"
                        [isDisabled]="isReadOnly"
                        [allowedMediaSources]="state.entity.allowedMediaSources"
                        [availableMediaSources]="
                            state.extras.availableMediaSources
                        "
                        [allowedMediaSourcesErrors]="
                            state.fieldsErrors.allowedMediaSources
                        "
                        (mediaSourcesAddToAllowed)="
                            store.addToAllowedMediaSources($event)
                        "
                        (mediaSourcesRemoveFromAllowed)="
                            store.removeFromAllowedMediaSources($event)
                        "
                    ></zem-media-sources>
                    <zem-checkbox-input
                        class="zem-checkbox-input zem-settings-section__item"
                        [isChecked]="state.entity.autoAddNewSources"
                        [isDisabled]="isReadOnly"
                        [hasError]="
                            state.fieldsErrors.autoAddNewSources.length > 0
                        "
                        (toggle)="store.setAutoAddNewSources($event)"
                    >
                        Automatically add new media sources as soon as they
                        become available
                    </zem-checkbox-input>
                    <div
                        class="zem-settings-section__description zem-settings-section__item"
                    >
                        As we are always working to add new supply partners to
                        our platform, remembering to add these new partners to
                        each of your existing accounts and ad groups can be
                        cumbersome. This setting will allow Zemanta to
                        automatically allow and enable new media sources on your
                        accounts and ad groups as they become available.
                    </div>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Audience targeting
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <div class="zem-settings-section__header">
                        <div class="zem-settings-section__title">
                            Publishers & placements
                        </div>
                        <div class="zem-settings-section__description">
                            Define your publisher and placement targeting by
                            whitelisting or blacklisting publisher and placement
                            lists.
                        </div>
                    </div>
                    <zem-publisher-group-targeting
                        class="zem-publisher-group-targeting zem-settings-section__item"
                        [accountId]="state.entity.id"
                        [whitelistedPublisherGroups]="
                            state.entity.targeting.publisherGroups.included
                        "
                        [blacklistedPublisherGroups]="
                            state.entity.targeting.publisherGroups.excluded
                        "
                        [isDisabled]="isReadOnly"
                        (onUpdate)="
                            store.setPublisherGroupsTargeting($event.$event)
                        "
                    ></zem-publisher-group-targeting>
                    <div class="zem-settings-section__description">
                        If you are using different level whitelists, it means
                        you are targeting only whitelisted placements from
                        whitelisted publishers and additionally all placements
                        on whitelisted publishers that are not included in
                        placement list.
                    </div>
                </div>
            </div>

            <div class="zem-panel zem-settings__panel">
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Deals</h2>
                </div>
                <div class="zem-settings-section" *ngIf="!canSeeDeals">
                    <div class="zem-settings-section__description">
                        Deals might apply, please reach out to your agency for
                        details.
                    </div>
                </div>
                <div class="zem-settings-section" *ngIf="canSeeDeals">
                    <div class="zem-settings-section__description">
                        Connect deals from the deal library to this account or
                        create a new deal.
                    </div>
                    <zem-deals-list
                        class="zem-deals-list zem-settings-section__item"
                        [deals]="store.state.entity.deals"
                        [availableDeals]="store.state.availableDeals"
                        [isLoading]="store.state.dealsRequests.list.inProgress"
                        [isDisabled]="isReadOnly"
                        (dealSelect)="store.addDeal($event)"
                        (search)="store.loadAvailableDeals($event)"
                        (open)="store.loadAvailableDeals()"
                    >
                        <ng-template
                            #dealItemTemplate
                            let-deal="deal"
                            let-index="index"
                        >
                            <zem-deal
                                class="zem-deal"
                                [ngClass]="{
                                    'zem-deal--error': store.hasDealError(index)
                                }"
                                [deal]="deal"
                                [isDisabled]="isReadOnly"
                                (dealRemove)="store.removeDeal($event)"
                                (dealEditFormClose)="store.validateEntity()"
                            >
                                <zem-deal-edit-form
                                    class="zem-deal-edit-form"
                                    [deal]="deal"
                                    [sources]="store.state.sources"
                                    [dealErrors]="
                                        store.state.fieldsErrors.deals[index]
                                    "
                                    [isDisabled]="!!deal.id || isReadOnly"
                                    (dealChange)="store.changeDeal($event)"
                                ></zem-deal-edit-form>
                            </zem-deal>
                        </ng-template>
                    </zem-deals-list>
                    <div class="zem-settings-section__item">
                        <button
                            type="button"
                            class="zem-button zem-button--with-icon zem-button--add-icon"
                            [disabled]="isReadOnly"
                            (click)="store.addDeal()"
                        >
                            Add new deal
                        </button>
                    </div>
                </div>
            </div>

            <div
                class="zem-panel zem-settings__panel"
                *ngIf="authStore.hasPermission('zemauth.can_see_backend_hacks')"
                [zemInternalFeature]="
                    authStore.isPermissionInternal(
                        'zemauth.can_see_backend_hacks'
                    )
                "
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">
                        Backend hacks
                    </h2>
                </div>
                <div class="zem-settings-section">
                    <zem-hacks
                        class="zem-hacks zem-settings-section__item"
                        [hacks]="state.extras.hacks"
                    ></zem-hacks>
                </div>
            </div>
            <div
                class="zem-panel zem-settings__panel"
                *ngIf="authStore.hasPermission('zemauth.can_see_deals_in_ui')"
                [zemInternalFeature]="
                    authStore.isPermissionInternal(
                        'zemauth.can_see_deals_in_ui'
                    )
                "
            >
                <div class="zem-panel__header">
                    <h2 class="zem-settings__panel-header-title">Deals</h2>
                </div>
                <div class="zem-settings-section">
                    <zem-deals
                        class="zem-deals zem-settings-section__item"
                        [deals]="state.extras.deals"
                    ></zem-deals>
                </div>
            </div>
        </div>
        <zem-settings-drawer-footer
            class="zem-settings-drawer-footer zem-drawer__footer zem-settings__settings-footer"
            [isNewEntity]="isNewEntity"
            [entityType]="EntityType.ACCOUNT"
            [isSaveDisabled]="isReadOnly"
            [isArchiveDisabled]="isReadOnly"
            [isLoading]="
                state.requests.create.inProgress ||
                state.requests.edit.inProgress
            "
            [hasError]="
                state.requests.create.error || state.requests.edit.error
            "
            (save)="saveSettings()"
            (cancel)="cancel()"
            (archive)="archive()"
        ></zem-settings-drawer-footer>
    </ng-container>
</zem-drawer>
