@import 'variables';

.zem-account-settings-drawer {
    ////////////////////////////////
    // Media sources - Responsive //
    ////////////////////////////////
    @media only screen and (min-width: 550px) {
        .zem-media-sources {
            .zem-media-sources__list {
                flex-wrap: nowrap;
            }

            .zem-media-sources__list .zem-media-sources__list-item {
                margin-right: 15px;
                margin-bottom: 0px;

                .zem-button-legacy .zem-media-sources__inline-arrow-icon {
                    transform: rotate(0deg);
                }

                .zem-button-legacy .zem-media-sources__inline-arrow-icon--left {
                    transform: rotate(180deg);
                }
            }

            .zem-media-sources__list .zem-media-sources__list-item:last-child {
                margin-right: 0px;
            }
        }
    }
}

.zem-account-settings-drawer__icon-preview {
    border: 2px dashed white;
    border-radius: @border-radius--default;
    width: 90px;
    height: 90px;
}

.zem-account-settings-drawer__icon-preview--error {
    border-color: @color--danger;
}

.zem-account-settings-drawer__icon-file-selector {
    display: block;
    margin-bottom: 0;
    height: 90px;
}

.zem-account-settings-drawer__required-icon-size-message {
    color: @text-color--lighter;
    font-size: 11px;
}

.zem-account-settings-drawer__icon-preview-toggle {
    font-size: 11px;
}
