@import 'variables';
@import '../../styles/mixins.less';

@zem-grid-bg-color: #ffffff;

zem-grid {
    display: block;
}

.button-bar {
    margin-bottom: @spacing--default;

    .button-bar-item {
        display: block;
        float: left;
        margin-right: 10px;
    }

    .loader {
        vertical-align: top;
        margin-top: 5px;
        margin-left: 10px;
    }

    .pull-right {
        margin-left: 10px;

        .show-rows {
            margin-right: 0;
        }
    }

    .show-rows {
        margin-right: 10px;
    }

    &:after {
        clear: both;
        content: '';
        display: block;
    }

    .report-dropdown .button {
        width: 95px;
    }
}

.zem-grid {
    width: 100%;
    font-size: @font-size--default;
    color: @text-color--default;
    overflow: hidden;
    background-color: @zem-grid-bg-color;
    position: relative;

    a {
        color: @color--secondary;
        font-weight: 500;
    }

    .zem-grid-row {
        height: 45px;

        // Rendering optimizations (speed up virtual scroll)
        transform: translateZ(0);
        will-change: transform;

        font-size: 0; // Hide whitespaces between inline elements
        white-space: nowrap; // Show all cells in the same row

        .zem-grid-cell {
            background-color: inherit;
            display: inline-block;
            vertical-align: middle;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid tint(@color--secondary, 90%);
            text-align: left;
            padding: 0 8px;
            overflow: hidden;

            font-size: @font-size--default;
            white-space: nowrap;
            // TODO: Change to more sophisticated way of trimming long text in cells
            text-overflow: ellipsis;
        }

        .zem-grid-cell-checkbox {
            display: block;
            width: auto;
            max-width: none;
            height: 100%;
            margin: 0 -8px;
            cursor: pointer;

            .input-checkbox {
                + .checkbox-text {
                    padding: 15px 10px;
                    width: 14px;
                    height: 14px;
                    box-sizing: content-box;

                    &::before {
                        left: 10px;
                        top: 15px;
                    }

                    &::after {
                        left: 17px;
                        top: 23px;
                    }
                }

                &:checked {
                    + .checkbox-text::after {
                        left: 12px;
                        top: 17px;
                    }
                }
            }
        }

        .zem-grid-cell-edit-button {
            .button {
                margin-top: 10px;
            }
        }

        .zem-grid-cell-actions {
            .switch-button {
                display: block;
                float: left;
                margin-top: 12px;
                margin-right: 10px;
                line-height: 20px;
            }

            .switch-button--small {
                margin-top: 15px;
                margin-left: 14px;
            }

            .button {
                display: block;
                float: left;
                margin-top: 10px;
                margin-right: 5px;
            }
        }

        &.level-1 {
            background-color: tint(@color--secondary, 95%);
            &:hover {
                background-color: tint(@color--secondary, 90%);
            }
        }

        &.level-2 {
            background-color: tint(@color--secondary, 95%);
            &:hover {
                background-color: tint(@color--secondary, 90%);
            }
        }

        &.level-3 {
            background-color: tint(@color--secondary, 95%);
            &:hover {
                background-color: tint(@color--secondary, 90%);
            }
        }

        &.level-4 {
            background-color: tint(@color--secondary, 95%);
            &:hover {
                background-color: tint(@color--secondary, 90%);
            }
        }

        &.level-last {
            background-color: @zem-grid-bg-color;

            &:hover {
                background-color: tint(@color--secondary, 95%);
            }
        }
    }

    .loading-cell {
        height: 100%;
        color: #00cc18;
        background-image: url('@{images-folder}/loader.gif');
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: 20px 10px;
    }

    .zem-grid-sticky__container {
        height: 45px;
    }

    .zem-grid-sticky__header,
    .zem-grid-sticky__footer {
        z-index: 900;
        overflow: hidden;
    }

    .zem-grid-sticky__scroller-container {
        display: none;
        height: 15px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .zem-grid-sticky__scroller-content {
        height: 15px;
    }

    .zem-grid-header,
    .zem-grid-footer {
        height: 45px;
        background-color: tint(@color--secondary, 90%);
        color: @color--secondary;

        .zem-grid-cell {
            background-color: tint(@color--secondary, 90%);
            border-color: fade(@color--secondary, 20%);
        }
    }

    .zem-grid-header {
        font-weight: 500;
        position: relative;
        z-index: 100;

        .zem-grid-header-cell {
            display: inline-block;
            white-space: normal;
            vertical-align: middle;

            .zem-grid-header-cell-data {
                line-height: 45px;
                white-space: normal;

                .zem-grid-header-cell__title {
                    height: 40px;
                    overflow: hidden;
                    display: inline-block;
                    padding-right: 22px;

                    &:after {
                        content: '';
                        height: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    div {
                        display: inline-block;
                        max-height: 100%;
                        line-height: 16px;
                        padding-top: 7px;
                    }
                }

                .zem-grid-header-cell__order {
                    float: right;
                    margin-top: 17px;
                }

                .zem-grid-header-cell__help .help-popover {
                    position: absolute;
                    right: 8px;
                    top: 15px;
                }
            }
        }

        .zem-grid-header-cell-checkbox {
            .dropdown {
                margin: 0 0 0 -8px;
                height: 100%;
                transition: background @duration-and-timing-fn--default;

                &:hover {
                    background: tint(@color--secondary, 80%);
                }

                .zem-grid-cell-checkbox {
                    margin: 0;
                    display: block;
                    float: left;

                    .checkbox-text {
                        padding-right: 2px;
                    }
                }

                .button--table-header {
                    border-left: none;
                    border-top: none;
                    border-bottom: none;
                    height: 100%;
                    border-radius: 0;
                    padding: 0;
                    width: 26px;
                    display: block;
                    float: right;

                    &:hover {
                        box-shadow: none;
                        background: none;
                    }
                }
            }
        }

        .zem-grid-header-cell-data {
            position: relative;

            // NOTE: [type]-field classes are generated in templates by concatenating field's type and '-type' postfix
            &.number-field,
            &.percent-field,
            &.seconds-field,
            &.currency-field,
            &.bid_modifier-field {
                text-align: right;
                max-width: 100px;
            }

            &.impressions {
                max-width: 120px;
            }

            &.submissionStatus-field {
                max-width: 100px;
            }

            &.performanceIndicator-field {
                max-width: 60px;
                min-width: 60px;
            }

            &.thumbnail-field {
                max-width: 100px;
            }

            &.agency_id,
            &.account_id,
            &.ad_group_id,
            &.source_id {
                max-width: 110px;
            }

            &.content_ad_id,
            &.campaign_id {
                max-width: 120px;
            }

            &.upload_time {
                max-width: 150px;
            }

            &.stateSelector-field {
                max-width: 80px;
                min-width: 80px;
            }

            &.status-field {
                max-width: 80px;
            }

            .ordered {
                .arrow-down();
            }
            .ordered-reverse {
                .arrow-up();
            }
        }

        .performance-icon {
            width: 14px;
            height: 14px;
            display: inline-block;
            background-size: 14px;
            background-image: url('@{images-folder}/emoticon-happy-sec.svg');
            vertical-align: text-bottom;
        }
    }

    .zem-grid-footer {
        .zem-grid-cell-totals-label {
            font-weight: 500;
        }

        .zem-grid-cell {
            border: none;
            border-top: 1px solid fade(@color--secondary, 20%);
        }
    }

    .zem-grid-body {
        min-height: 45px;
        overflow: auto;

        background-color: white;

        .zem-grid-table {
            position: relative;
            width: 100%;
        }

        .zem-grid-row {
            position: absolute;

            &.archived {
                background-color: @color--lightest-neutral;
                border-color: @color--lightest-neutral;
                color: @text-color--lighter;

                a {
                    color: @text-color--lighter;
                }
            }

            &:last-child {
                .zem-grid-cell {
                    border-bottom: none;
                }
            }
        }

        .zem-grid-row-breakdown {
            color: #8b8b8b;
            a {
                color: #8b8b8b;
            }

            .load-more-icon {
                width: 14px;
                height: 14px;
                margin-top: -3px;
                margin-right: 3px;
                opacity: 0.2;
            }
        }

        .icon-link {
            .link-img {
                width: 15px;
                height: 15px;

                &.link-img-disabled {
                    opacity: 0.4;
                }
            }
        }
    }

    // Workaround for links without href attribute
    a {
        cursor: pointer;
    }

    // NOTE: [type]-field classes are generated in templates by concatenating field's type and '-type' postfix
    .zem-grid-cell-base-field:not(.text-field):not(.dateTime-field),
    .zem-grid-cell-editable-base-field:not(.text-field):not(.dateTime-field) {
        display: block;
        text-align: right;

        .zem-grid-cell-base-field {
            &.superperforming-goal {
                color: @color--success;
            }

            &.underperforming-goal {
                color: @color--danger;
            }
        }

        .zem-grid-cell-base-field__container {
            display: inline-block;
            vertical-align: middle;

            line-height: 16px;
            height: 100%;
        }

        .zem-grid-cell-base-field__value:after {
            content: '\A';
            white-space: pre;
        }

        .zem-grid-cell-base-field__refund {
            color: @text-color--lighter;
        }
    }

    .zem-grid-cell-editable-base-field {
        .auto-pilot-icon {
            display: inline-block;
            width: 9px;
            height: 9px;
            margin-right: 2px;
            background-image: url('images/autopilot.svg');
            background-size: auto;
            background-position: 0;
        }

        .landing-mode-icon {
            display: inline-block;
            width: 13px;
            height: 8px;
            margin-right: 2px;
            background-image: url('images/landing.svg');
            background-size: auto;
            background-position: 0;
        }

        .edit-modal-trigger {
            position: relative;
            margin-right: -4px;
            padding: 3px 24px 3px 3px;
            border: 1px dashed transparent;
            border-radius: 2px;
            transition: all @duration-and-timing-fn--default;

            &:before {
                content: '';
                position: absolute;
                top: 4px;
                right: 4px;
                width: 12px;
                height: 12px;
                background-size: 12px;
                background: url('@{images-folder}/edit-sec.svg') no-repeat
                    center;
                opacity: 0.4;
            }

            &:hover:not(.modal-open) {
                cursor: pointer;
                border-color: tint(@color--secondary, 60%);
                background-color: tint(@color--secondary, 90%);

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    .zem-grid-cell-breakdown-field {
        font-size: 0; // Hide whitespaces between inline elements

        > * {
            font-size: @font-size--default;
        }

        .zem-grid-cell-breakdown-collapse {
            display: inline-block;
            width: 15px;
            height: 20px;
            line-height: 20px;
            margin-right: 5px;
            text-decoration: none;
        }

        .collapse-icon {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-top: -2px;
            opacity: 0.2;

            &.expanded {
                transform: rotate(90deg);
            }
        }
    }

    .zem-grid-cell-thumbnail {
        img {
            vertical-align: top;
            width: 35px;
            height: 35px;
            margin-top: 5px;
        }
    }

    .zem-grid-cell-thumbnail__ad-tag {
        vertical-align: top;
        width: 35px;
        height: 35px;
        margin-top: 5px;
        border: 1px solid tint(@color--secondary, 80%);
        background: #ffffff url('images/image-gray.svg') center center no-repeat;
        background-size: 20px;
    }

    .zem-grid-cell-status-field {
        &.important {
            color: @color--danger;
        }
    }

    .zem-grid-cell-performance-indicator {
        position: relative;

        .zem-icon {
            width: 15px;
            height: 15px;
        }

        .performance-popover-trigger {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .zem-grid-cell-state-selector {
        .loader {
            width: 20px;
            height: 10px;
            margin: 0 15px;
        }

        .button {
            .state-icon {
                margin-top: -3px;
            }

            &.modal-open {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .zem-grid-cell-edit-button {
        a {
            display: inline-block;
            vertical-align: top;

            &:before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                background-size: 12px;
                background-image: url('@{images-folder}/edit-sec.svg');
            }
        }
    }

    .zem-grid-cell-submission-status {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 18px;
        font-size: 0;
        cursor: default;

        .popover {
            max-width: 600px;
        }

        .field {
            display: inline-block;
            vertical-align: top;
            width: 30px;
            height: 18px;
            line-height: 10px;
            text-align: center;
            color: @color--success;
            font-size: 10px;
            padding: 4px 1px;
            border: 1px solid @color--success;

            &.one-field,
            &.no-submission {
                width: 60px;
                border-top-left-radius: @border-radius--default;
                border-bottom-left-radius: @border-radius--default;
                border-top-right-radius: @border-radius--default;
                border-bottom-right-radius: @border-radius--default;
            }

            &.approved,
            &.non-approved.only-field {
                border-top-left-radius: @border-radius--default;
                border-bottom-left-radius: @border-radius--default;
            }

            &.non-approved,
            &.approved.only-field {
                border-top-right-radius: @border-radius--default;
                border-bottom-right-radius: @border-radius--default;
            }

            &.archived {
                background-color: @color--lightest-neutral;
                border-color: @color--lightest-neutral;
                color: @text-color--lighter;
            }

            &.approved {
                background-color: @color--success;
                color: @zem-grid-bg-color;

                &.archived {
                    background-color: @color--lightest-neutral;
                    border-color: @color--lightest-neutral;
                    color: @text-color--lighter;
                }
            }
        }
    }
}

// Dropdowns
.zem-grid-header-cell-checkbox-custom-filters-dropdown-menu {
    padding: 8px 10px;
    margin-top: 1px;
    font-size: @font-size--default;

    .link {
        font-weight: 300;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Popovers
.zem-grid-submission-status-popover {
    max-width: 600px;

    .submission-status-emphasis {
        font-style: italic;
    }

    .submission-status-popover-table {
        display: table;
        font-size: 11px;

        .submission-status-popover-row {
            display: table-row;
            line-height: 18px;

            &.no-submission-message {
                font-size: @font-size--default;
            }

            &.submission-status-emphasis {
                font-style: normal;
            }

            .submission-status-popover-cell {
                display: table-cell;
                white-space: nowrap;

                &.bold {
                    font-weight: 600;
                }

                hr {
                    margin: 3px 0;
                }

                .submission-status-popover-link {
                    .internal-feature {
                        left: 2px;
                    }
                }

                .submission-status-popover-link-img {
                    padding-left: 3px;
                    height: 14px;
                }
            }

            .left-cell {
                padding-right: 10px;
            }

            .submission-status-label {
                color: @text-color--default;
                font-weight: normal;
                padding-right: 50px;
            }
        }
    }
}

.zem-grid-thumbnail-popover {
    max-width: none;

    .popover-content {
        max-height: initial;
    }
}

.zem-grid-ad-preview {
    .ad-preview__container {
        padding: 0;
    }

    .ad-preview__item--mobile {
        min-height: 100px;

        .ad-preview__image {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 0;
            top: 0;
        }

        .ad-preview__title,
        .ad-preview__brand-name,
        .ad-preview__url {
            padding-left: 110px;
        }
    }

    .ad-preview__image {
        display: block;
        margin-bottom: 5px;
    }

    .ad-preview__iframe {
        display: block;
        margin-bottom: 5px;
        background-color: tint(@color--secondary, 90%);
        border: 1px solid tint(@color--secondary, 80%);
    }

    .ad-preview__title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .ad-preview__brand-name,
    .ad-preview__description,
    .ad-preview__url {
        font-size: 12px;
        line-height: 16px;
    }

    .ad-preview__brand-name {
        margin-bottom: 2px;
    }

    .ad-preview__description {
        margin-bottom: 2px;
    }
}

// Modal
.zem-grid-modal-wrapper {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;

    &.zem-grid-modal-wrapper--fullsize {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.2);

        .zem-grid-modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.bid-modifier-field-modal {
                margin-top: 0px;
                height: auto;
                width: 250px;
                border: 0;
                background: rgb(255, 255, 255);
                padding: 15px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;

                .message {
                    flex: 0 0 100%;
                    margin-top: 0px;
                    margin-left: 0px;
                    text-align: center;
                }

                .field-wrapper {
                    flex: 0 0 48%;

                    .prefixed-field {
                        width: auto;
                    }
                }

                .field-button-wrapper {
                    flex: 0 0 48%;
                    justify-content: space-between;

                    .button {
                        flex: 0 0 46%;
                        margin: 0;
                    }
                }

                .button-wrapper {
                    flex: 0 0 100%;
                    justify-content: space-between;

                    .button {
                        flex: 0 0 48%;
                        margin: 0;
                    }
                }
            }

            &.editable-currency-field-modal {
                margin-top: 0px;
                height: auto;
                width: 250px;
                border: 0;
                background: rgb(255, 255, 255);
                padding: 15px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;

                .field-wrapper {
                    flex: 0 0 100%;

                    .prefixed-field {
                        width: auto;
                    }
                }

                .button-wrapper {
                    margin-top: 10px;
                    flex: 0 0 100%;
                    justify-content: space-between;

                    .button {
                        flex: 0 0 48%;
                        margin: 0;
                    }
                }
            }

            .edit-form {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }

    .zem-grid-modal {
        display: block;

        .edit-form {
            display: flex;
            flex-wrap: nowrap;
        }

        &.state-selector-modal {
            width: auto;
            background-color: @zem-grid-bg-color;
            border: 1px solid tint(@color--secondary, 80%);
            border-top-right-radius: @border-radius--default;
            border-bottom-left-radius: @border-radius--default;
            border-bottom-right-radius: @border-radius--default;
            margin-top: 4px;

            .wait-message {
                padding: 5px;
            }

            .state-list {
                list-style: none;
                margin: 0;
                padding: 0;

                .state-item {
                    display: block;
                    padding: 5px 10px;
                    color: @text-color--default;
                    transition: background-color
                        @duration-and-timing-fn--default;
                }

                .state-item:hover {
                    background-color: tint(@color--secondary, 80%);
                    cursor: pointer;
                }

                .state-icon {
                    margin-right: 10px;
                }

                .state-text {
                    display: inline-block;
                    vertical-align: middle;
                }

                .disabled-message {
                    font-size: 12px;
                    text-decoration: underline;
                }
            }
        }

        &.editable-currency-field-modal {
            width: auto;
            padding: 8px;
            background-color: tint(@color--secondary, 90%);
            border: 1px dashed tint(@color--secondary, 60%);
            font-size: @font-size--default;
            box-sizing: border-box;
            height: 46px;
            margin-top: 3px;
            z-index: 999;

            .button .loader {
                width: 20px;
                height: 10px;
                margin: 0 16px 0 17px;
            }

            .message,
            .button,
            .prefixed-field {
                float: left;
                margin-left: 10px;
            }

            .prefixed-field {
                margin-left: 0;
                width: 100px;
            }

            .button-wrapper {
                display: flex;
                flex-wrap: nowrap;
            }

            .message {
                line-height: 46px;
            }

            .message--middle {
                margin-top: -8px;
            }
        }

        &.bid-modifier-field-modal {
            width: auto;
            padding: 8px;
            background-color: tint(@color--secondary, 90%);
            border: 1px dashed tint(@color--secondary, 60%);
            font-size: @font-size--default;
            box-sizing: border-box;
            height: 46px;
            margin-top: 3px;
            z-index: 999;

            .button .loader {
                width: 20px;
                height: 10px;
                margin: 0 16px 0 17px;
            }

            .message,
            .button,
            .prefixed-field {
                margin-left: 10px;
            }

            .prefixed-field {
                margin-left: 0;
                width: 100px;
            }

            .field-button-wrapper {
                display: flex;
                flex-wrap: nowrap;
            }

            .button-wrapper {
                display: flex;
                flex-wrap: nowrap;
            }

            .message {
                white-space: pre;
                line-height: 46px;
            }

            .message--middle {
                margin-top: -8px;
            }
        }
    }
}

.state-icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;

    &.active {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: @color--success;
    }

    &.paused {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: @color--lighter-neutral;
    }

    &.autopilot {
        background-image: url('images/autopilot-green.svg');
    }
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .button-bar {
        margin-bottom: @spacing--default - 5;

        .button-bar-item {
            display: block;
            float: left;
            margin-right: 0;

            .button {
                margin: 0 5px 5px 0;
            }
        }

        .pull-right {
            float: left !important;
            margin: 0 5px 5px 0;

            .show-rows {
                margin-right: 0;
            }
        }

        .show-rows {
            margin-right: 0;
        }
    }

    .zem-grid-header-cell,
    .zem-grid-cell {
        transform: none !important;
        margin-left: 0px !important;
        position: relative !important;
        border-right: none !important;
    }
}
