@import 'variables';
@import '../../styles/mixins.less';

@zem-grid-bg-color: #ffffff;

zem-grid {
    display: block;
}

.button-bar {
    margin-bottom: @default-spacing;

    .button-bar-item {
        display: block;
        float: left;
        margin-right: 10px;
    }

    .loader {
        vertical-align: top;
        margin-top: 5px;
        margin-left: 10px;
    }

    .pull-right {
        margin-left: 10px;

        .show-rows {
            margin-right: 0;
        }
    }

    .show-rows {
        margin-right: 10px;
    }

    &:after {
        clear:both;
        content: "";
        display: block;
    }

    .report-dropdown .button {
        width: 95px;
    }
}

.zem-grid {
    width: 100%;
    font-size: @default-font-size;
    color: @text-color;
    overflow: hidden;
    background-color: @zem-grid-bg-color;
    position: relative;

    a {
        color: @secondary-color;
        font-weight: 500;
    }

    .zem-grid-row {
        height: 45px;

        // Rendering optimizations (speed up virtual scroll)
        transform: translateZ(0);
        will-change: transform;

        font-size: 0; // Hide whitespaces between inline elements
        white-space: nowrap; // Show all cells in the same row

        .zem-grid-cell {
            background-color: inherit;
            display: inline-block;
            vertical-align: middle;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid tint(@secondary-color, 90%);
            text-align: left;
            padding: 0 8px;
            overflow: hidden;

            font-size: @default-font-size;
            white-space: nowrap;
            // TODO: Change to more sophisticated way of trimming long text in cells
            text-overflow: ellipsis;
        }

        .zem-grid-cell-checkbox {
            display: block;
            width: auto;
            max-width: none;
            height: 100%;
            margin: 0 -8px;
            cursor: pointer;

            .input-checkbox {
                + .checkbox-text {
                    padding: 15px 10px;
                    width: 14px;
                    height: 14px;
                    box-sizing: content-box;

                    &::before {
                        left: 10px;
                        top: 15px;
                    }

                    &::after {
                        left: 17px;
                        top: 23px;
                    }
                }

                &:checked {
                    + .checkbox-text::after {
                        left: 12px;
                        top: 17px;
                    }
                }
            }
        }

        .zem-grid-cell-edit-button {
            .button {
                margin-top: 10px;
            }
        }

        .zem-grid-cell-actions {
            .switch-button {
                display: block;
                float: left;
                margin-top: 12px;
                margin-right: 10px;
                line-height: 20px;
            }

            .button {
                display: block;
                float: left;
                margin-top: 10px;
                margin-right: 5px;
            }
        }

        &.level-1 {
            background-color: tint(@secondary-color, 95%);
            &:hover {
                background-color: tint(@secondary-color, 90%);
            }
        }

        &.level-2 {
            background-color: tint(@secondary-color, 95%);
            &:hover {
                background-color: tint(@secondary-color, 90%);
            }
        }

        &.level-3 {
            background-color: tint(@secondary-color, 95%);
            &:hover {
                background-color: tint(@secondary-color, 90%);
            }
        }

        &.level-4 {
            background-color: tint(@secondary-color, 95%);
            &:hover {
                background-color: tint(@secondary-color, 90%);
            }
        }

        &.level-last {
            background-color: @zem-grid-bg-color;

            &:hover {
                background-color: tint(@secondary-color, 95%);
            }
        }
    }

    .loading-cell {
        height: 100%;
        color: #00cc18;
        background-image: url('@{images-folder}/loader.gif');
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: 20px 10px;
    }

    .zem-grid-sticky__container {
        height: 45px;
    }

    .zem-grid-sticky__header, .zem-grid-sticky__footer {
        z-index: 900;
        overflow: hidden;
    }

    .zem-grid-sticky__scroller-container {
        display: none;
        height: 15px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .zem-grid-sticky__scroller-content {
        height: 15px;
    }

    .zem-grid-header, .zem-grid-footer {
        height: 45px;
        background-color: tint(@secondary-color, 90%);
        color: @secondary-color;

        .zem-grid-cell {
            background-color: tint(@secondary-color, 90%);
            border-color: fade(@secondary-color, 20%);
        }
    }

    .zem-grid-header {
        font-weight: 500;
        position: relative;
        z-index: 100;

        .zem-grid-header-cell {
            display: inline-block;
            white-space: normal;
            vertical-align: middle;

            .zem-grid-header-cell-data {
                line-height: 45px;
                white-space: normal;

                .zem-grid-header-cell__title {
                    height: 40px;
                    overflow: hidden;
                    display: inline-block;

                    &:after {
                        content: "";
                        height: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    div {
                        display: inline-block;
                        display: -webkit-inline-box;
                        max-height: 100%;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        line-height: 16px;
                        padding-top: 7px;
                    }
                }

                .zem-grid-header-cell__order {
                    float: right;
                    margin-top: 17px;
                }

                .zem-grid-header-cell__help .help-popover {
                    float: right;
                    margin-top: 15px;
                }
            }
        }

        .zem-grid-header-cell-checkbox {
            .dropdown {
                margin: 0 0 0 -8px;
                height: 100%;
                transition: background @default-animation;

                &:hover {
                    background: tint(@secondary-color, 80%);
                }

                .zem-grid-cell-checkbox {
                    margin: 0;
                    display: block;
                    float: left;

                    .checkbox-text {
                        padding-right: 2px;
                    }
                }

                .button--table-header {
                    border-left: none;
                    border-top: none;
                    border-bottom: none;
                    height: 100%;
                    border-radius: 0;
                    padding: 0;
                    width: 26px;
                    display: block;
                    float: right;

                    &:hover {
                        box-shadow: none;
                        background: none;
                    }
                }
            }
        }

        .zem-grid-header-cell-data {
            position: relative;

            // NOTE: [type]-field classes are generated in templates by concatenating field's type and '-type' postfix
            &.number-field, &.percent-field, &.seconds-field, &.currency-field {
                text-align: right;
                max-width: 100px;
            }

            &.submissionStatus-field {
                max-width: 100px;
            }

            &.performanceIndicator-field {
                max-width: 60px;
                min-width: 60px;
            }

            &.thumbnail-field {
                max-width: 100px;
            }

            &.agency_id,
            &.account_id,
            &.ad_group_id,
            &.source_id {
                max-width: 110px;
            }

            &.content_ad_id,
            &.campaign_id {
                max-width: 120px;
            }

            &.upload_time {
                max-width: 150px;
            }

            &.stateSelector-field {
                max-width: 80px;
                min-width: 80px;
            }

            &.status-field {
                max-width: 80px;
            }

            .ordered {
                .arrow-down();
            }
            .ordered-reverse {
                .arrow-up();
            }
        }

        .performance-icon {
            width: 14px;
            height: 14px;
            display: inline-block;
            background-size: 14px;
            background-image: url('@{images-folder}/emoticon-happy-sec.svg');
            vertical-align: text-bottom;
        }
    }

    .zem-grid-footer {
        .zem-grid-cell-totals-label {
            font-weight: 500;
        }

        .zem-grid-cell {
            border: none;
            border-top: 1px solid fade(@secondary-color, 20%);
        }
    }

    .zem-grid-body {
        min-height: 45px;
        overflow: auto;

        background-color: white;

        .zem-grid-table {
            position: relative;
            width: 100%;
        }

        .zem-grid-row {
            position: absolute;

            &.archived {
                background-color: @very-light-gray;
                border-color: @very-light-gray;
                color: @gray;

                a {
                    color: @gray;
                }
            }

            &:last-child {
                .zem-grid-cell {
                    border-bottom: none;
                }
            }
        }

        .zem-grid-row-breakdown {
            color: #8b8b8b;
            a {
                color: #8b8b8b;
            }

            .load-more-icon {
                width: 14px;
                height: 14px;
                margin-top: -3px;
                margin-right: 3px;
                opacity: 0.2;
            }
        }

        .icon-link {
            .link-img {
                width: 15px;
                height: 15px;

                &.link-img-disabled {
                    opacity: 0.4;
                }
            }
        }
    }

    // Workaround for links without href attribute
    a {
        cursor: pointer;
    }

    // NOTE: [type]-field classes are generated in templates by concatenating field's type and '-type' postfix
    .zem-grid-cell-base-field:not(.text-field):not(.dateTime-field),
    .zem-grid-cell-editable-base-field:not(.text-field):not(.dateTime-field) {
        display: block;
        text-align: right;
    }

    .zem-grid-cell-base-field {
        &.superperforming-goal {
            color: @green;
        }

        &.underperforming-goal {
            color: @red;
        }
    }

    .zem-grid-cell-editable-base-field {
        .auto-pilot-icon {
            display: inline-block;
            width: 9px;
            height: 9px;
            margin-right: 2px;
            background-image: url('images/autopilot.svg');
            background-size: auto;
            background-position: 0;
        }

        .landing-mode-icon {
            display: inline-block;
            width: 13px;
            height: 8px;
            margin-right: 2px;
            background-image: url('images/landing.svg');
            background-size: auto;
            background-position: 0;
        }

        .edit-modal-trigger {
            position: relative;
            margin-right: -4px;
            padding: 3px 24px 3px 3px;
            border: 1px dashed transparent;
            border-radius: 2px;
            transition: all @default-animation;

            &:before {
                content: '';
                position: absolute;
                top: 4px;
                right: 4px;
                width: 12px;
                height: 12px;
                background-size: 12px;
                background: url('@{images-folder}/edit-sec.svg') no-repeat center;
                opacity: 0.4;
            }

            &:hover:not(.modal-open) {
                cursor: pointer;
                border-color: tint(@secondary-color, 60%);
                background-color: tint(@secondary-color, 90%);

                &:before {
                    opacity: 1.0;
                }
            }
        }
    }

    .zem-grid-cell-breakdown-field {
        font-size: 0; // Hide whitespaces between inline elements

        > * {
            font-size: @default-font-size;
        }

        .zem-grid-cell-breakdown-collapse {
            display: inline-block;
            width: 15px;
            height: 20px;
            line-height: 20px;
            margin-right: 5px;
            text-decoration: none;
        }

        .collapse-icon {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-top: -2px;
            opacity: 0.2;

            &.expanded {
                transform: rotate(90deg);
            }
        }
    }

    .zem-grid-cell-thumbnail {
        img {
            vertical-align: top;
            width: 35px;
            height: 35px;
            margin-top: 5px;
        }
    }

    .zem-grid-cell-status-field {
        &.important {
            color: #c70000;
        }
    }

    .zem-grid-cell-performance-indicator {
        position: relative;

        .zem-icon {
            width: 15px;
            height: 15px;
        }

        .performance-popover-trigger {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .zem-grid-cell-state-selector {
        .loader {
            width: 20px;
            height: 10px;
            margin: 0 15px;
        }

        .button {
            .state-icon {
                margin-top: -3px;
            }

            &.modal-open {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }


    }

    .zem-grid-cell-edit-button {
        a {
            display: inline-block;
            vertical-align: top;

            &:before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                background-size: 12px;
                background-image: url('@{images-folder}/edit-sec.svg');
            }
        }
    }

    .zem-grid-cell-submission-status {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 18px;
        font-size: 0;
        cursor: default;

        .popover {
            max-width: 600px;
        }

        .field {
            display: inline-block;
            vertical-align: top;
            width: 30px;
            height: 18px;
            line-height: 10px;
            text-align: center;
            color: @green;
            font-size: 10px;
            padding: 4px 1px;
            border: 1px solid @green;

            &.one-field,
            &.no-submission {
                width: 60px;
                border-top-left-radius: @border-radius;
                border-bottom-left-radius: @border-radius;
                border-top-right-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
            }

            &.approved,
            &.non-approved.only-field {
                border-top-left-radius: @border-radius;
                border-bottom-left-radius: @border-radius;
            }

            &.non-approved,
            &.approved.only-field {
                border-top-right-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
            }

            &.archived {
                background-color: @very-light-gray;
                border-color: @very-light-gray;
                color: @gray;
            }

            &.approved {
                background-color: @green;
                color: @zem-grid-bg-color;

                &.archived {
                    background-color: @very-light-gray;
                    border-color: @very-light-gray;
                    color: @gray;
                }
            }
        }
    }
}

// Dropdowns
.zem-grid-header-cell-checkbox-custom-filters-dropdown-menu {
    padding: 8px 10px;
    margin-top: 1px;
    font-size: @default-font-size;

    .link {
        font-weight: 300;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Popovers
.zem-grid-submission-status-popover {
    max-width: 600px;

    .submission-status-emphasis {
        font-style: italic;
    }

    .submission-status-popover-table {
        display: table;
        font-size: 11px;

        .submission-status-popover-row {
            display: table-row;
            line-height: 18px;

            &.no-submission-message {
                font-size: @default-font-size;
            }

            &.submission-status-emphasis {
                font-style: normal;
            }

            .submission-status-popover-cell {
                display: table-cell;
                white-space: nowrap;

                &.bold {
                    font-weight: 600;
                }

                hr {
                    margin: 3px 0;
                }
            }

            .left-cell {
                padding-right: 10px;
            }

            .submission-status-label {
                color: @text-color;
                font-weight: normal;
                padding-right: 50px;
            }
        }
    }
}

.zem-grid-thumbnail-preview-popover {
    img {
        height: 80px;
    }
}

// Modals
.zem-grid-modal {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;

    &.state-selector-modal {
        width: auto;
        background-color: @zem-grid-bg-color;
        border: 1px solid tint(@secondary-color, 80%);
        border-top-right-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        margin-top: 4px;

        .wait-message {
            padding: 5px;
        }

        .state-list {
            list-style: none;
            margin: 0;
            padding: 0;

            .state-item {
                display: block;
                padding: 5px 10px;
                color: @text-color;
                transition: background-color @default-animation;
            }

            .state-item:hover {
                background-color: tint(@secondary-color, 80%);
                cursor: pointer;
            }

            .state-icon {
                margin-right: 10px;
            }

            .state-text {
                display: inline-block;
                vertical-align: middle;
            }

            .disabled-message {
                font-size: 12px;
                text-decoration: underline;
            }
        }
    }

    &.editable-currency-field-modal {
        width: auto;
        padding: 8px;
        background-color: tint(@secondary-color, 90%);
        border: 1px dashed tint(@secondary-color, 60%);
        font-size: @default-font-size;
        box-sizing: border-box;
        height: 46px;
        margin-top: 3px;
        z-index: 999;

        .button .loader {
            width: 20px;
            height: 10px;
            margin: 0 16px 0 17px;
        }

        .message, .button, .prefixed-field {
            float: left;
            margin-left: 10px;
        }

        .prefixed-field {
            margin-left: 0;
            width: 100px;
        }

        .message {
            line-height: 46px;
        }
    }
}

.state-icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;

    &.active {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: @green;
    }

    &.paused {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: @light-gray;
    }

    &.autopilot {
        background-image: url('images/autopilot-green.svg');
    }
}
