<div
    ng-if="$ctrl.renderingEngine === $ctrl.gridRenderingEngineType.CUSTOM_GRID"
    class="zem-grid"
    zem-grid-copy
>
    <zem-loader
        class="zem-loader zem-loader--small zem-loader__overlay zem-loader__overlay--transparent"
        ng-show="$ctrl.grid.meta.loading"
    ></zem-loader>
    <div ng-if="$ctrl.grid.meta.initialized">
        <zem-grid-header grid="$ctrl.grid"></zem-grid-header>
        <zem-grid-body grid="$ctrl.grid"></zem-grid-body>
        <zem-grid-footer grid="$ctrl.grid"></zem-grid-footer>
    </div>
</div>
<zem-grid-bridge
    ng-if="$ctrl.renderingEngine === $ctrl.gridRenderingEngineType.SMART_GRID"
    class="zem-grid-bridge"
    [grid]="$ctrl.grid"
    [is-meta-data-ready]="$ctrl.grid.meta.initialized"
    [is-data-loading]="$ctrl.grid.meta.loading"
    [level]="$ctrl.level"
    [breakdown]="$ctrl.breakdown"
    (pagination-change)="
        $ctrl.onPaginationChange({page: $event.page, pageSize: $event.pageSize})
    "
></zem-grid-bridge>
