@import 'variables';

zem-demo-request {
    display: block;

    .demo-running-message {
        margin: 0 0 @spacing--default 0;
    }

    .demo-details {
        .detail {
            display: block;
            margin-top: @spacing--default * 0.5;

            &:first-child {
                margin-top: 0;
            }

            &.demo-email-note {
                margin-top: @spacing--default;
            }
        }
    }
}
