@import 'variables';

.zem-bid-modifier-cell {
    display: block;
}

.zem-bid-modifier-cell__form {
    display: flex;
    height: 50px;
    margin: -3px;
    padding-left: 5px;
    padding-right: 5px;
}

.zem-bid-modifier-cell__form-item {
    margin: 3px;
    display: flex;
    flex: 1 1 auto;
}

.zem-bid-modifier-cell__form-input {
    flex: 1 1 auto;
}

.zem-bid-modifier-cell__form-buttons {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    margin: -3px;
    align-items: center;
}

.zem-bid-modifier-cell__form-buttons-item {
    margin: 3px;
    flex: 1 1 45%;
}

.zem-bid-modifier-cell__form-message {
    white-space: pre;
    text-align: center;
    line-height: 46px;
    flex: 1 1 auto;
}

.zem-editable-cell__edit-mode-wrapper--fullsize .zem-bid-modifier-cell__form {
    width: 250px;
    height: auto;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
