<ng-container *ngIf="(store.state$ | async) as state">
    <ng-template #bidRangeInfoTemplate>
        <zem-bid-range-info
            class="zem-bid-range-info"
            [bidModifier]="state.value"
            [biddingType]="biddingType"
            [bid]="bid"
            [bidModifierTypeSummaries]="bidModifierTypeSummaries"
            [currency]="state.currency"
            [fractionSize]="state.calculatorFractionSize"
            [adGroupAutopilotState]="adGroupAutopilotState"
        ></zem-bid-range-info>
    </ng-template>
    <zem-editable-cell
        class="zem-editable-cell"
        [isEditable]="isEditable"
        [mode]="mode"
        [showAutopilotIcon]="showAutopilotIcon"
        [containerElement]="containerElement"
        (modeChange)="onModeChange($event)"
        (placementChange)="onPlacementChange($event)"
        (componentReady)="onEditableCellReady($event)"
    >
        <ng-container readMode>
            <span
                [zemPopover]="bidRangeInfoTemplate"
                [popoverOpenDelay]="500"
                [stayOpenOnHover]="true"
                [disablePopover]="false"
                triggers="mouseenter:mouseleave"
                container="body"
                placement="top"
            >
                {{ state.previousModifierPercent }}%
            </span>
        </ng-container>
        <ng-container editMode>
            <div
                class="zem-bid-modifier-cell__form"
                *ngIf="mode === EditableCellMode.EDIT"
            >
                <div class="zem-bid-modifier-cell__form-item">
                    <zem-bid-modifier-input
                        class="zem-bid-modifier-input zem-bid-modifier-cell__form-input"
                        [value]="state.modifierPercent"
                        [minValue]="-99"
                        [maxValue]="1000"
                        [isFocused]="true"
                        (valueChange)="onValueChange($event)"
                        (inputKeydown)="onInputKeydown($event)"
                    ></zem-bid-modifier-input>
                </div>
                <div class="zem-bid-modifier-cell__form-item">
                    <div class="zem-bid-modifier-cell__form-message">
                        <ng-template #bidModifierMessageTemplate>
                            <div
                                class="zem-bid-modifier-cell__expanded-min-max-message"
                            >
                                <zem-bid-range-info
                                    class="zem-bid-range-info"
                                    [bidModifier]="state.value"
                                    [biddingType]="biddingType"
                                    [bid]="bid"
                                    [bidModifierTypeSummaries]="
                                        bidModifierTypeSummaries
                                    "
                                    [currency]="state.currency"
                                    [fractionSize]="
                                        state.calculatorFractionSize
                                    "
                                    [adGroupAutopilotState]="
                                        adGroupAutopilotState
                                    "
                                    [modifierPercent]="state.modifierPercent"
                                >
                                </zem-bid-range-info>
                            </div>
                        </ng-template>
                        <span
                            *ngIf="placement === EditableCellPlacement.IN_LINE"
                        >
                            <a (click)="showDetails()">details</a>
                        </span>
                        <ng-container
                            *ngIf="placement === EditableCellPlacement.MODAL"
                        >
                            <ng-content
                                *ngTemplateOutlet="bidModifierMessageTemplate"
                            ></ng-content>
                        </ng-container>
                    </div>
                </div>
                <div class="zem-bid-modifier-cell__form-item">
                    <div class="zem-bid-modifier-cell__form-buttons">
                        <button
                            *ngIf="state.requests.save.inProgress"
                            class="button button--highlight button--disabled zem-bid-modifier-cell__form-buttons-item"
                            disabled
                        >
                            <span class="loader loader--white"></span>
                        </button>
                        <button
                            *ngIf="!state.requests.save.inProgress"
                            class="button button--highlight button--with-icon check-icon zem-bid-modifier-cell__form-buttons-item"
                            (click)="save()"
                        >
                            Save
                        </button>
                        <button
                            class="button button--outline zem-bid-modifier-cell__form-buttons-item"
                            [disabled]="state.requests.save.inProgress"
                            (click)="cancel()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </zem-editable-cell>
</ng-container>
