<div>
    <div class="message block" ng-hide="$ctrl.operatingSystems.length">
        You are currently targeting all operating systems. To target only
        specific operating system add it by clicking button below.
    </div>
    <div
        ng-repeat="operatingSystem in $ctrl.operatingSystems"
        class="zem-os-device-targeting__container clearfix"
        ng-class="{
            'zem-os-device-targeting--desktop': operatingSystem.devices.indexOf('DESKTOP') > -1,
            'zem-os-device-targeting--tablet-mobile': operatingSystem.devices.indexOf('DESKTOP') === -1,
            'zem-os-device-targeting__no-versions': !operatingSystem.versions,
        }"
    >
        <div class="zem-os-device-targeting__platform-icon"></div>
        <div
            class="zem-os-device-targeting__platform-name zem-os-device-targeting__platform-name--{{
                operatingSystem.value
            }}"
        >
            {{ operatingSystem.name }}
        </div>
        <div
            ng-if="operatingSystem.versions"
            class="form__vertical-group zem-os-device-targeting__min-os-version"
        >
            <label class="form__label"> Min OS version: </label>
            <ui-select
                theme="select2"
                class="button button--plain button--full-width button--dropdown-toggle-icon"
                ng-model="operatingSystem.version.min"
                ng-change="$ctrl.updateOperatingSystems()"
                search-enabled="false"
            >
                <ui-select-match>{{
                    operatingSystem.version.min.name
                }}</ui-select-match>
                <ui-select-choices
                    repeat="version in operatingSystem.versions"
                    class="ui-select-choices"
                >
                    <div ng-bind-html="version.name"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div
            ng-if="operatingSystem.versions"
            class="form__vertical-group zem-os-device-targeting__max-os-version"
        >
            <label class="form__label"> Max OS version: </label>
            <ui-select
                theme="select2"
                class="button button--plain button--full-width button--dropdown-toggle-icon"
                ng-model="operatingSystem.version.max"
                ng-change="$ctrl.updateOperatingSystems()"
                search-enabled="false"
            >
                <ui-select-match>{{
                    operatingSystem.version.max.name
                }}</ui-select-match>
                <ui-select-choices
                    repeat="version in operatingSystem.versions"
                    class="ui-select-choices"
                >
                    <div ng-bind-html="version.name"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <button
            class="button button--small button--with-icon button--only-icon remove-icon zem-os-device-targeting__remove"
            ng-click="$ctrl.removeOperatingSystem(operatingSystem)"
        ></button>
    </div>

    <ui-select
        theme="select2"
        ng-model="_model_"
        search-enabled="false"
        on-select="$ctrl.addOperatingSystem($item)"
        class="button button--with-icon add-icon button--dropdown-toggle-icon m-t-s"
    >
        <ui-select-match
            class="ui-select-match"
            placeholder="Add Operating System"
            >Add Operating System</ui-select-match
        >
        <ui-select-choices
            repeat="operatingSystem in $ctrl.availableOptions"
            class="ui-select-choices"
        >
            <span>{{ operatingSystem.name }}</span>
        </ui-select-choices>
        <ui-select-no-choice>All options added</ui-select-no-choice>
    </ui-select>
</div>
