@import 'variables';
@import '../../styles/utilities.less';

@modal-content-width: 95%;
@content-upload-ad-editing-width: 78%;
@content-upload-ad-editing-width-above-breakpoint: 73%;
@content-upload-ad-editing-width-common-breakpoint: 68%;
@content-upload-ad-editing-width-desktop-breakpoint: 100%;
@form-input-width-content-upload: 62%;
@form-additional-info-width-content-upload: 20%;
@preview-width: 50%;
@form-textarea-height-content-upload: 300px;

.content-upload .modal-dialog {
    width: @modal-content-width;
    margin: 30px auto 90px auto;
    box-sizing: border-box;
    max-height: 70vh;

    .button--big {
        width: 49%;
        float: left;
        margin-right: 2%;
        line-height: 28px;
        padding-top: @spacing--default;

        strong {
            display: block;
            margin: 15px 0 5px 0;
        }
    }

    .content-upload__file-upload-button {
        margin-right: 0;
    }

    .file-upload-form {
        .form__label {
            width: 10%;
        }

        .input-text {
            width: 88%;
        }

        .message,
        .form__text--small {
            margin-left: 12%;
        }

        .form__text--small {
            width: 88%;
        }

        .form__group--choose-file {
            .button {
                width: 15%;
                margin-right: 1%;
            }

            .input-text {
                width: 72%;
            }
        }
    }

    .modal__body {
        overflow: hidden;
        position: relative;
        margin-bottom: 60px;
    }

    .modal__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.content-upload__content-ad-picker-container {
    padding: 0 !important;
    width: 100%;
    overflow: hidden;
    height: 70vh;
}

.content-upload__content-ad-picker-container--editing {
    .content-upload__ads-container,
    .content-upload__batch-name-container {
        width: 100% - @content-upload-ad-editing-width;
        transition: all @duration-and-timing-fn--default;
    }

    .content-upload__batch-name-container {
        .input-text {
            width: 75%;
        }

        .button {
            font-size: 0;
            padding-left: 22px;
            transition: none;
        }
    }

    .content-upload__ad-link {
        display: none;
    }

    .content-upload__ad-error-container {
        width: 30px;
    }

    .content-upload__ad-error {
        font-size: 0;
        padding-left: 0;
        height: 18px;
        width: 14px;
    }

    .content-upload__ad-action-buttons {
        white-space: nowrap;
        width: 100px;

        .button {
            font-size: 0;
            padding-left: 22px;
            margin-right: 0;
        }
    }

    .content-upload__edit-form {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.content-upload__ads-container {
    width: 100%;
    transition: none;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    margin-top: 50px;

    .buttons-panel {
        background-color: transparent;
        box-shadow: none;
        padding: @spacing--default;
    }
}

.content-upload__batch-name-container {
    border-bottom: 4px solid @color--primary;
    width: 100%;
    padding: 8px 60px 8px 15px;
    margin: 0;
    color: @color--primary;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    font-size: 18px;
    transition: all @duration-and-timing-fn--default;

    .button {
        position: absolute;
        top: 11px;
        right: 10px;
    }

    .input-text {
        width: 88.2%;
        color: @color--secondary;
        font-size: 18px;
        font-weight: 500;
    }
}

.content-upload__batch-name {
    color: @text-color--default;
    font-weight: 300;
}

.content-upload__batch-title {
    color: @color--secondary;
    font-weight: 500;
}

.content-upload__ads-table {
    margin-bottom: 0;

    tr {
        cursor: pointer;
        height: 56px;

        td {
            vertical-align: middle;
            height: 56px;
        }
    }

    tr:first-child td {
        border-top: none;
    }

    tr:last-child td {
        border-bottom: 1px solid tint(@color--secondary, 80%);
    }

    tr:hover td {
        background: tint(@color--secondary, 96%);
    }
}

.content-upload__selected-ad {
    background: tint(@color--secondary, 96%);
}

.content-upload__ad-status {
    width: 40px;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: center center no-repeat;
    }
}

.content-upload__ad-status--loading {
    &::before {
        height: 8px;
        background-image: url('@{images-folder}/loader.gif');
    }
}

.content-upload__ad-status--ok {
    &::before {
        background-image: url('images/check-green.svg');
    }
}

.content-upload__ad-status--error {
    &::before {
        background-image: url('images/error-red.svg');
    }
}

.content-upload__ad-size {
    position: relative;
    width: 70px;
}

.content-upload__ad-image-container {
    width: 56px;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        background: #ffffff url('images/image-gray.svg') center center no-repeat;
        background-size: 20px;
        border: 1px solid @color--lighter-neutral;
    }
}

.content-upload__ad-image {
    width: 40px;
    height: auto;
    position: relative;
}

.content-upload__ad-title--two-lines {
    height: 36px;
    overflow: hidden;

    &:after {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    div {
        display: inline-block;
        display: -webkit-inline-box;
        max-height: 100%;
        vertical-align: middle;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

.content-upload__ad-link {
    max-width: 400px;
    word-wrap: break-word;
}

.content-upload__ad-error {
    color: @color--danger;
    position: relative;
    padding-left: 18px;

    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0px;
        top: 2px;
        background: center center no-repeat;
    }
}

.content-upload__ad-error--content {
    &:before {
        background-image: url('images/content-red.svg');
    }
}

.content-upload__ad-error--image {
    &:before {
        background-image: url('images/image-red.svg');
    }
}

.content-upload__ad-error-container {
    width: 140px;
}

.content-upload__ad-action-buttons {
    text-align: right;
    white-space: nowrap;
    width: 200px;

    .message--error {
        padding-top: 6px;
        white-space: normal;
    }

    .loader {
        width: 25px;
        height: 10px;
    }

    .button {
        transition: none;
    }
}

.content-upload__buttons-panel {
    display: flex;
    align-items: center;
}

.content-upload__buttons-panel > button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-upload__edit-form {
    width: @content-upload-ad-editing-width;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: -@content-upload-ad-editing-width - 1;
    transition: all @duration-and-timing-fn--default;
    padding: 0 15px 15px 15px;
    background: tint(@color--secondary, 96%);
    box-shadow: 0 0 10px 0 fade(@color--secondary, 25%);
    border-top-right-radius: @border-radius--default;

    .form,
    .ad-preview__container {
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        top: 49px;
        bottom: 0;
        left: @spacing--default;
        right: 0;
        padding-bottom: @spacing--default;
    }

    .ad-preview__container {
        overflow-x: auto;
        padding: @spacing--default;
        left: 0;
    }

    .form__indented-group {
        width: @form-input-width-content-upload;
        margin-left: 100 - @form-input-width-content-upload -
            @form-additional-info-width-content-upload;
    }

    .form__group {
        .message,
        .form__text,
        .form__text--small {
            width: @form-input-width-content-upload;
            margin-left: 100 - @form-input-width-content-upload -
                @form-additional-info-width-content-upload;
        }

        .button--full-width {
            width: @form-input-width-content-upload;
        }

        .form__label {
            width: 100 - 2 - @form-input-width-content-upload -
                @form-additional-info-width-content-upload;
        }

        .textarea,
        .form__checkbox,
        .form__radio,
        .input-text,
        .multiselect,
        .prefixed-field,
        .postfixed-field,
        .form__information {
            width: @form-input-width-content-upload;
            float: left;
        }

        .textarea {
            min-width: @form-input-width-content-upload;
            max-width: @form-input-width-content-upload;
            height: @form-textarea-height-content-upload;
            min-height: @form-textarea-height-content-upload;
        }
    }
}

.content-upload__edit-form-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100 - @preview-width;
    height: 100%;
    border-left: 1px solid #d2d2d2;
}

.content-upload__edit-form-container--ad-preview {
    width: @preview-width;
    left: auto;
    right: 0;
    transition: all @duration-and-timing-fn--default;
    border-left: 1px solid #d2d2d2;
}

.content-upload__tabs {
    margin: 0;
    padding: 0 120px 0 0;
    list-style: none;
    border-bottom: 1px solid #d2d2d2;

    .clearfix();
}

.content-upload__tabs-item {
    display: block;
    float: left;
    position: relative;

    &::after,
    &::before {
        content: ' ';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        transition: all @duration-and-timing-fn--default;
    }

    &::before {
        border-style: solid;
        border-width: 0 9px 10px 9px;
        border-color: transparent transparent #d2d2d2 transparent;
    }

    &::after {
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent tint(@color--secondary, 96%)
            transparent;
    }

    &:last-child {
        .content-upload__tab-link {
            border-right: none;
        }
    }
}

.content-upload__tabs-item--active {
    &::after,
    &::before {
        bottom: -1px;
    }
}

.content-upload__tab-link {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: @text-color--default;
    border-right: 1px solid #d2d2d2;
    padding: 15px @spacing--default 11px @spacing--default;
    cursor: pointer;
    position: relative;
    transition: all @duration-and-timing-fn--default;

    &:hover {
        color: @text-color--default;
    }
}

.content-upload__edit-form-hide {
    position: absolute;
    top: 0;
    right: 15px;
    background: none;
    border: none;
    height: 49px;
    line-height: 49px;
    padding-right: 46px;
    outline: none;
    z-index: 2;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        background: tint(@color--secondary, 90%)
            url('@{images-folder}/arrow-sec.svg') 14px center no-repeat;
        background-size: 10px;
        border-radius: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover {
        &::after {
            background-color: tint(@color--secondary, 80%);
        }
    }
}

.content-upload__edit-form-title-container {
    display: flex;
    border-bottom: 1px solid #d2d2d2;
    padding: 8px 8px 8px @spacing--default;
    font-size: 18px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-upload__edit-form-title-container--tabs {
    display: none;
    padding: 0 0 0 @spacing--default;
    position: relative;
    z-index: 1;
    border-bottom: none;

    .content-upload__edit-form-title-container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.content-upload__edit-form-name {
    color: @text-color--default;
    font-weight: 300;
    margin-right: 5px;
}

.content-upload__edit-form-buttons,
.ad-preview__container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 122px;
}

.ad-preview__container-buttons {
    margin-bottom: @spacing--default;
}

.content-upload__edit-form-buttons > button,
.ad-preview__container-buttons > button {
    border-radius: 0;
    flex: 0 0 85px;
    max-width: 85px;
}

.content-upload__edit-form-buttons > button:first-child,
.ad-preview__container-buttons > button:first-child {
    border-top-left-radius: @border-radius--default;
    border-bottom-left-radius: @border-radius--default;
}

.content-upload__edit-form-buttons > button:last-child,
.ad-preview__container-buttons > button:last-child {
    border-top-right-radius: @border-radius--default;
    border-bottom-right-radius: @border-radius--default;
}

.content-upload__edit-form-title {
    color: @color--secondary;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-upload__field-additional-info {
    float: left;
    width: @form-additional-info-width-content-upload;
    line-height: 30px;
    height: 30px;
    color: @text-color--lighter;
    font-size: 11px;
    padding-left: 10px;

    .zem-alternative-link {
        display: block;
    }
}

.content-upload__field-additional-info--with-link {
    line-height: 14px;
}

.content-upload__change-status--visible {
    padding-right: 40px;
}

.content-upload__change-status {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        background: no-repeat center center;
        pointer-events: none;
    }
}

.content-upload__change-status--dropdown-on-the-left::before {
    left: -50px;
}

.content-upload__loader {
    position: absolute;
    left: -36px;
    top: 6px;
}

.content-upload__loader--dropdown-offset {
    left: -56px;
}

.content-upload__change-status--successful::before {
    background-image: url('images/check-green.svg');
}

.content-upload__title-textarea {
    min-height: 50px !important;
    height: 50px !important;
}

.content-upload__image-input {
    width: @form-input-width-content-upload;
    height: 30px;
    float: left;
}

.content-upload__uploading-completed {
    padding: 20px 0 10px 80px;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('images/check-green.svg') center center no-repeat;
    }
}

.content-upload__uploading-completed-title {
    color: @color--success;
    font-size: 24px;
}

.content-upload__video-uploader {
    width: @form-input-width-content-upload;
    height: 30px;
    float: left;
}

.content-upload__video-uploader-progress {
    height: 100%;
}

.content-upload__video-uploader-processing,
.content-upload__video-uploader-preview {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: @text-color--lighter;
}

.content-upload__video-uploader-processing {
    .loader {
        width: 20px;
        height: 10px;
        margin: 2px @spacing--default 0 0;
    }
}

.content-upload__video-uploader-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @desktop-above-breakpoint) {
    .content-upload__content-ad-picker-container--editing {
        .content-upload__ads-container,
        .content-upload__batch-name-container {
            width: 100% - @content-upload-ad-editing-width-above-breakpoint;
        }
    }

    .content-upload__edit-form {
        width: @content-upload-ad-editing-width-above-breakpoint;
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        right: -@content-upload-ad-editing-width-above-breakpoint - 1;
    }
}

@media only screen and (max-width: 1400px) {
    .content-upload__edit-form-buttons {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .ad-preview__container-buttons {
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .content-upload__edit-form-container {
        left: 0;
        right: 0;
        width: auto;

        .content-upload__edit-form-title-container {
            display: none;
        }
    }

    .content-upload__edit-form-container--ad-preview {
        width: auto;
        left: auto;
        right: -@content-upload-ad-editing-width-above-breakpoint;
        background: tint(@color--secondary, 96%);
    }

    .content-upload__edit-form-title-container--tabs {
        display: block;
        padding-left: 0;
    }

    .content-upload__edit-form--preview-open {
        .content-upload__edit-form-container--ad-preview {
            right: 0;
            left: 0;
        }
    }
}

@media only screen and (max-width: @desktop-common-breakpoint) {
    .content-upload__content-ad-picker-container--editing {
        .content-upload__ads-container,
        .content-upload__batch-name-container {
            width: 100% - @content-upload-ad-editing-width-common-breakpoint;
        }
    }

    .content-upload__edit-form {
        width: @content-upload-ad-editing-width-common-breakpoint;
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        right: -@content-upload-ad-editing-width-common-breakpoint - 1;
    }
}

@media only screen and (max-width: @desktop-breakpoint) {
    .content-upload .modal-dialog {
        width: auto;
        max-width: none;
        height: auto;
        max-height: none;
        margin: 0;
        position: fixed;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;

        .button--big {
            .small-text {
                margin-top: @spacing--default;
            }

            strong {
                display: inline;
            }
        }

        .modal-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .modal__body {
            position: absolute;
            top: 57px;
            margin-bottom: 0;
            overflow: auto;
        }

        .content-upload__content-ad-picker-container {
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 60px;
            left: 0;
            margin-bottom: 0;
            overflow: hidden;
        }
    }

    .content-upload__ads-container {
        overflow: hidden;
    }

    .content-upload__content-ad-picker-container--editing {
        .content-upload__ads-container,
        .content-upload__batch-name-container {
            width: 100%;
            overflow: hidden;
        }
    }

    .content-upload__edit-form {
        width: @content-upload-ad-editing-width-desktop-breakpoint;
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        right: -@content-upload-ad-editing-width-desktop-breakpoint - 1;
        border-top-left-radius: @border-radius--default;
    }

    .content-upload__selected-ad,
    .content-upload__ads-table tbody tr:hover td {
        background-color: transparent;
    }
}

@media only screen and (max-width: @tablet-breakpoint) {
    .content-upload .modal-dialog {
        .modal__body {
            top: 44px;
        }

        .content-upload__content-ad-picker-container {
            top: 0;
        }
    }

    .content-upload__edit-form {
        .form__indented-group {
            width: 100%;
            margin-left: 0;
        }

        .form__group {
            margin: 10px 0;

            .form__text,
            .form__text--small {
                width: 100%;
                margin-left: 0;
            }

            .message {
                width: auto;
                clear: none;
                float: left;
                margin-left: 0;
            }

            .button--full-width {
                width: 100%;
            }

            .form__label {
                width: 100%;
            }

            .textarea,
            .form__checkbox,
            .form__radio,
            .input-text,
            .multiselect,
            .prefixed-field,
            .postfixed-field,
            .form__information {
                width: 100%;
                float: none;
            }

            .textarea {
                max-width: 100%;
            }
        }
    }

    .content-upload__field-additional-info {
        float: right;
        padding-left: 0;
        text-align: right;
        line-height: 24px;
        height: auto;
        width: auto;
        white-space: nowrap;
        position: relative;

        .content-upload__count-characters {
            float: right;
        }

        &.content-upload__field-additional-info--with-link {
            .content-upload__count-characters {
                margin-left: 10px;
                padding-left: 10px;
                border-left: 1px solid @color--lighter-neutral;
            }
        }

        .zem-alternative-link {
            float: right;
        }

        .clearfix();
    }

    .content-upload__ad-error-container {
        width: 30px;
    }

    .content-upload__ad-error {
        font-size: 0;
        padding-left: 0;
        height: 18px;
        width: 14px;
    }

    .content-upload__ad-action-buttons {
        width: 100px;

        .button {
            font-size: 0;
            padding-left: 22px;
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: @mobile-breakpoint) {
    .content-upload .modal-dialog {
        .button--big {
            width: 100%;
            float: none;
            margin: 0 0 @spacing--default 0;
        }
    }

    .content-upload__batch-name-container {
        .button {
            font-size: 0;
            padding-left: 22px;
        }
    }

    .content-upload__content-ad-picker-container--editing
        .content-upload__ads-table,
    .content-upload__ads-table {
        display: block;

        tbody {
            width: auto;
            display: block;

            tr {
                position: relative;
                display: block;
                padding: @spacing--default;
                width: auto;
                height: auto;
                border-bottom: 1px solid tint(@color--secondary, 90%);

                &:last-child {
                    border-bottom: none;
                }

                td {
                    display: block;
                    padding: 0;
                    width: auto;
                    height: auto;
                    border-bottom: none;

                    &.content-upload__ad-status {
                        position: absolute;
                        top: @spacing--default;
                        right: @spacing--default;
                    }

                    &.content-upload__ad-image-container {
                        position: absolute;
                        top: @spacing--default;
                        left: @spacing--default;
                        width: 40px;
                        height: 40px;
                    }

                    &.content-upload__ad-size {
                        position: absolute;
                        width: 70px;
                    }

                    &.content-upload__ad-size,
                    &.content-upload__ad-title {
                        margin-bottom: 10px;
                    }

                    &.content-upload__ad-action-buttons {
                        margin-top: 10px;
                    }

                    &.content-upload__ad-size,
                    &.content-upload__ad-title,
                    &.content-upload__ad-error-container,
                    &.content-upload__ad-action-buttons {
                        padding: 0 0 0 50px;
                    }

                    .content-upload__ad-error {
                        font-size: @font-size--default;
                        padding-left: 18px;
                        height: 18px;
                        width: auto;
                    }

                    &.content-upload__ad-action-buttons {
                        text-align: left;

                        .button {
                            font-size: 12px;
                            padding-left: 28px;
                            margin-right: 10px;
                        }
                    }

                    .content-upload__ad-title--two-lines {
                        height: auto;
                    }
                }
            }
        }
    }

    .content-upload__ads-container {
        .buttons-panel {
            .button {
                margin: 0 10px 10px 0;
            }
        }
    }
}

.content-upload {
    .zem-upload-edit-form__tracker-list {
        width: @form-input-width-content-upload;
        margin-left: 18%;

        .zem-tracker-form__description {
            font-size: 11px;
        }
    }

    .zem-upload-edit-form__tracker-list-limit {
        font-size: 11px;
        color: @text-color--lighter;
    }
}

@media only screen and (max-width: @tablet-breakpoint) {
    .content-upload .zem-upload-edit-form__tracker-list {
        width: 100%;
        margin-left: 0;
    }
}
