<div>
    <div class="modal__header">
        <div class="modal__title">How do you want to upload your ads?</div>
    </div>
    <div class="modal__body clearfix">
        <div class="description">Start adding your ads by choosing one of options below.</div>
        <a href ng-click="ctrl.switchToSingleContentAdUpload()" class="button button--big">
            Single Content Ad
            <span class="small-text">Choose this if you want to add ads one by one.<br />You can add multiple ads.</span>
        </a>
        <a href ng-click="ctrl.switchToCsvUpload()" class="button button--big m-r-none">
            File upload
            <span class="small-text">Choose this if you have CSV or Excel file with a lot of ads.<br />You can download example file structure in the next step.
        </a>
    </div>
    <div class="modal__footer buttons-panel">
        <button type="button" class="button button--outline" ng-click="ctrl.close()">Cancel</button>
    </div>
</div>
