@import 'variables';

.zem-rule-edit-form-condition {
    display: flex;
    align-items: center;
    border: 1px solid @color--lighter-neutral;
    border-radius: 4px;
}

.zem-rule-edit-form-condition__operand-container {
    display: flex;
    align-items: center;
    margin: @zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition__operand-container--left {
    flex: 0 1 330px;
}

.zem-rule-edit-form-condition__operand-container--right {
    flex: 0 0 175px;
}

.zem-rule-edit-form-condition__operand-select {
    flex: 0 1 290px;
    margin-right: 2px;
}

.zem-rule-edit-form-condition__modifiers-toggle {
    flex: 0;
}

.zem-rule-edit-form-condition__absolute-value-input {
    flex: 0 0 135px;
    margin-right: 2px;
}

.zem-rule-edit-form-condition__operator {
    flex: 0 0 120px;
    margin: @zem-form-group__items-spacing--default / 2;
}

.zem-rule-edit-form-condition__remove-button {
    flex: 0;
    margin: @zem-form-group__items-spacing--default / 2 !important;
}
