<div class="zem-rule-edit-form-condition__operand-container">
    <zem-select-input
        class="zem-rule-edit-form-condition__operand-select zem-select-input"
        [value]="ruleCondition.metric.type"
        bindLabel="label"
        bindValue="type"
        [items]="availableMetrics"
        [isSearchable]="false"
        [hasError]="conditionErrors?.metric?.type"
        groupByValue="group"
        [isClearable]="false"
        [isDisabled]="isDisabled"
        (valueChange)="selectMetricType($event)"
        [appendTo]="'body'"
    ></zem-select-input>
    <ng-template #metricModifierPopoverTemplate>
        <zem-rule-edit-form-condition-modifier
            class="zem-rule-edit-form-condition-modifier"
            [value]="ruleCondition.metric.modifier"
            [valueLabel]="selectedMetricConfig.label"
            [timeRange]="ruleCondition.metric.window"
            [hasTimeRangeModifier]="selectedMetricConfig.hasTimeRangeModifier"
            [valueModifier]="selectedMetricConfig.valueModifier"
            [modifierErrors]="conditionErrors?.metric?.type"
            [isDisabled]="isDisabled"
            (valueChange)="updateMetricModifier($event)"
            (timeRangeChange)="updateMetricWindow($event)"
        >
        </zem-rule-edit-form-condition-modifier>
    </ng-template>
    <button
        class="zem-rule-edit-form-condition__modifiers-toggle button button--plain button--with-icon button--only-icon dots-icon"
        [zemPopover]="metricModifierPopoverTemplate"
        [disabled]="!areModifiersAvailable(selectedMetricConfig)"
        [autoClose]="'outside'"
        placement="bottom"
    ></button>
</div>
<zem-select-input
    class="zem-rule-edit-form-condition__operator zem-select-input"
    [value]="ruleCondition.operator"
    bindLabel="label"
    bindValue="operator"
    [items]="availableOperators"
    [isDisabled]="availableOperators.length === 0 || isDisabled"
    [isSearchable]="false"
    [isClearable]="false"
    [hasError]="conditionErrors?.operator"
    (valueChange)="selectOperator($event)"
    [appendTo]="'body'"
></zem-select-input>
<div class="zem-rule-edit-form-condition__operand-container">
    <zem-integer-input
        class="zem-decimal-input zem-rule-edit-form-condition__absolute-value-input"
        *ngIf="
            selectedValueConfig &&
            selectedValueConfig.hasValue &&
            !selectedValueConfig.unit &&
            selectedValueConfig.dataType === DataType.Integer
        "
        [value]="ruleCondition.value.value"
        [hasError]="conditionErrors?.value?.value"
        [isDisabled]="isDisabled"
        (inputBlur)="updateValueValue($event)"
    ></zem-integer-input>
    <zem-prefixed-input
        class="zem-prefixed-input zem-rule-edit-form-condition__absolute-value-input"
        *ngIf="
            selectedValueConfig &&
            selectedValueConfig.hasValue &&
            selectedValueConfig.unit &&
            selectedValueConfig.dataType === DataType.Integer
        "
        [prefix]="inputUnitSymbol"
        [hasError]="conditionErrors?.value?.value"
    >
        <zem-integer-input
            class="zem-decimal-input"
            [value]="ruleCondition.value.value"
            [isDisabled]="isDisabled"
            (inputBlur)="updateValueValue($event)"
        ></zem-integer-input>
    </zem-prefixed-input>
    <zem-decimal-input
        class="zem-decimal-input zem-rule-edit-form-condition__absolute-value-input"
        *ngIf="
            selectedValueConfig &&
            selectedValueConfig.hasValue &&
            !selectedValueConfig.unit &&
            selectedValueConfig.dataType === DataType.Decimal
        "
        [value]="ruleCondition.value.value"
        [hasError]="conditionErrors?.value?.value"
        [fractionSize]="selectedValueConfig.fractionSize"
        [isDisabled]="isDisabled"
        (inputBlur)="updateValueValue($event)"
    ></zem-decimal-input>
    <!-- TODO (automation-rules): Use zem-text-input component -->
    <input
        #valueStringValue
        class="zem-input-text zem-rule-edit-form-condition__absolute-value-input"
        type="text"
        *ngIf="
            selectedValueConfig &&
            selectedValueConfig.hasValue &&
            selectedValueConfig.dataType === DataType.String
        "
        [ngModel]="ruleCondition.value.value"
        [disabled]="isDisabled"
        (blur)="updateValueValue(valueStringValue.value)"
    />
    <zem-prefixed-input
        class="zem-prefixed-input zem-rule-edit-form-condition__absolute-value-input"
        *ngIf="
            selectedValueConfig &&
            selectedValueConfig.hasValue &&
            selectedValueConfig.unit &&
            selectedValueConfig.dataType === DataType.Decimal
        "
        [prefix]="inputUnitSymbol"
        [hasError]="conditionErrors?.value?.value"
    >
        <zem-decimal-input
            class="zem-decimal-input"
            [value]="ruleCondition.value.value"
            [fractionSize]="selectedValueConfig.fractionSize"
            [isDisabled]="isDisabled"
            (inputBlur)="updateValueValue($event)"
        ></zem-decimal-input>
    </zem-prefixed-input>
    <zem-currency-input
        class="zem-currency-input zem-rule-edit-form-condition__absolute-value-input"
        *ngIf="
            selectedValueConfig &&
            selectedValueConfig.hasValue &&
            selectedValueConfig.dataType === DataType.Currency
        "
        [value]="ruleCondition.value.value"
        [fractionSize]="selectedValueConfig.fractionSize"
        [currencySymbol]="inputUnitSymbol"
        [hasError]="conditionErrors?.value?.value"
        [zemPopover]="RULE_CURRENCY_HELP_TEXT"
        [isDisabled]="isDisabled"
        triggers="mouseenter:mouseleave"
        placement="top"
        (inputBlur)="updateValueValue($event)"
    ></zem-currency-input>
    <zem-date-input
        class="zem-date-input zem-rule-edit-form-condition__absolute-value-input"
        *ngIf="
            selectedValueConfig &&
            selectedValueConfig.hasValue &&
            selectedValueConfig.dataType === DataType.Date
        "
        [value]="ruleCondition.value.value"
        [hasError]="conditionErrors?.value?.value"
        [isDisabled]="isDisabled"
        (valueChange)="updateValueValue($event)"
    ></zem-date-input>
    <zem-select-input
        class="zem-rule-edit-form-condition__operand-select zem-select-input"
        *ngIf="!isOnlyAbsoluteValue"
        [value]="ruleCondition.value.type"
        bindLabel="label"
        bindValue="type"
        [items]="availableValueTypes"
        [isDisabled]="availableValueTypes.length === 0"
        [isSearchable]="false"
        groupByValue="group"
        [isClearable]="false"
        [isDisabled]="isDisabled"
        [hasError]="conditionErrors?.value?.type"
        (valueChange)="selectValueType($event)"
    ></zem-select-input>
    <ng-template #valuePopoverTemplate>
        <zem-rule-edit-form-condition-modifier
            class="zem-rule-edit-form-condition-modifier"
            [value]="ruleCondition.value.value"
            [valueLabel]="selectedValueConfig.label"
            [timeRange]="ruleCondition.value.window"
            [hasTimeRangeModifier]="selectedValueConfig.hasTimeRangeModifier"
            [valueModifier]="selectedValueConfig.valueModifier"
            [modifierErrors]="conditionErrors?.value?.value"
            [isDisabled]="isDisabled"
            (valueChange)="updateValueValue($event)"
            (timeRangeChange)="updateValueWindow($event)"
        >
        </zem-rule-edit-form-condition-modifier>
    </ng-template>
    <button
        class="zem-rule-edit-form-condition__modifiers-toggle button button--plain button--with-icon button--only-icon dots-icon"
        [zemPopover]="valuePopoverTemplate"
        [disabled]="!areModifiersAvailable(selectedValueConfig) || isDisabled"
        [autoClose]="'outside'"
        placement="bottom"
    ></button>
</div>
<button
    class="zem-rule-edit-form-condition__remove-button button button--with-icon button--only-icon remove-icon"
    (click)="removeCondition()"
></button>
