@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-bidding-type-setting__max-bid-form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -@zem-settings__items-spacing--default / 2;
}

.zem-bidding-type-setting__max-bid-label,
.zem-bidding-type-setting__max-bid-input {
    margin: @zem-settings__items-spacing--default / 2;
}
