<div class="custom-panel">
    <div class="loader loader--full-width" ng-if="ctrl.listRequestInProgress && ctrl.audiences.length"></div>
    <table class="custom-table">
        <thead>
            <tr>
                <th class="arrow">
                    Audience
                    <zem-help-popover content="Audience's name" placement="top"></zem-help-popover>
                </th>
                <th class="arrow">
                    Audience ID
                    <zem-help-popover content="Audience's ID" placement="top"></zem-help-popover>
                </th>
                <th>
                    Size
                    <zem-help-popover content="Approximate count of all unique users in the audience" placement="top"></zem-help-popover>
                </th>
                <th>
                    Added Yesterday
                    <zem-help-popover content="Approximate count of unique users added to the audience yesterday" placement="top"></zem-help-popover>
                </th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="ctrl.listRequestInProgress && !ctrl.audiences.length">
                <td colspan="6">
                    <div class="loader loader--full-width"></div>
                </td>
            </tr>
            <tr ng-if="!ctrl.listRequestInProgress && !ctrl.audiences.length" class="custom-table__no-data">
                <td colspan="6">
                    No Audiences
                </td>
            </tr>
            <tr ng-class="{'archived': audience.archived}" ng-repeat="audience in ctrl.audiences">
                <td>
                    {{ audience.name }}
                </td>
                <td>
                    {{ audience.id }}
                </td>
                <td>
                    {{ audience.count }}
                </td>
                <td>
                    {{ audience.countYesterday }}
                </td>
                <td>
                    {{ audience.createdDt | date:'MMM d, y h:mm:ss a' }}
                </td>
                <td class="custom-table__action-buttons">
                    <a tabindex="-1" ng-click="ctrl.openAudienceModal(audience.id)" href="#" class="button button--small button--with-icon edit-icon">Edit</a>
                    <a tabindex="-1" ng-click="ctrl.archiveAudience(audience.id)" ng-if="!audience.archived" href="#" class="button button--small button--with-icon archive-icon" ng-class="{'disabled': ctrl.archiveRequestInProgress[audience.id]}">Archive</a>
                    <a tabindex="-1" ng-click="ctrl.restoreAudience(audience.id)" ng-if="audience.archived" href="#" class="button button--small button--with-icon archive-icon" ng-class="{'disabled': ctrl.restoreRequestInProgress[audience.id]}">Restore</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
