<div class="two-columns-list clearfix" ng-show="$ctrl.included.length || $ctrl.excluded.length">
    <div class="two-columns-list__container" ng-if="$ctrl.included.length"
         ng-class="{'two-columns-list__container--half' : $ctrl.included.length && $ctrl.excluded.length }">
        <div class="two-columns-list__title text-green">{{ $ctrl.texts.selectedIncludedTitle }}</div>
        <ul class="two-columns-list__list list-with-bullets" style="margin: 10px">
            <li ng-repeat="targeting in $ctrl.included | orderBy:'type'">
                {{targeting.title}}
                <span class="text-gray" ng-if="targeting.archived">
                    (Archived)
                </span>
                <a href="" class="button button--extra-small button--with-icon button--only-icon remove-icon"
                           ng-click="$ctrl.remove(targeting)"></a>
            </li>
        </ul>
    </div>
    <div class="two-columns-list__spacing" ng-if="$ctrl.included.length && $ctrl.excluded.length"></div>
    <div class="two-columns-list__container" ng-if="$ctrl.excluded.length"
         ng-class="{'two-columns-list__container--half' : $ctrl.included.length && $ctrl.excluded.length }">
        <div class="two-columns-list__title text-red">{{ $ctrl.texts.selectedExcludedTitle }}</div>
        <ul class="two-columns-list__list list-with-bullets" style="margin: 0 10px;">
            <li ng-repeat="targeting in $ctrl.excluded | orderBy:'type'">
                {{targeting.title}}
                <span class="text-gray" ng-if="targeting.archived">
                    (Archived)
                </span>
                <a href="" class="button button--extra-small button--with-icon button--only-icon remove-icon"
                           ng-click="$ctrl.remove(targeting)"></a>
             </li>
         </ul>
     </div>
</div>

<div class="m-b-l">
    <ui-select theme="select2" ng-model="$ctrl.currentlySelected" on-select="$ctrl.addIncluded($select.selected)"
               class="button button--with-icon add-icon button--dropdown-toggle-icon">
        <ui-select-match placeholder="{{ $ctrl.texts.selectTargetingButton }}">{{ $ctrl.texts.selectTargetingButton }}</ui-select-match>
        <ui-select-choices group-by="$ctrl.groupBySection" repeat="targeting in $ctrl.notSelected | filter: {name: $select.search} track by targeting.id" position="down">
            <div class="audience-select-option">
                <span ng-bind-html="targeting.name | highlight: $select.search"></span>
                <span class="targeting-select-buttons">
                    <a ng-click="$ctrl.addIncluded(targeting)" class="targeting-select-buttons__include">{{ $ctrl.texts.include }}</a>
                    <a ng-click="$ctrl.addExcluded(targeting)" class="targeting-select-buttons__exclude">{{ $ctrl.texts.exclude }}</a>
                </span>
            </div>
        </ui-select-choices>
        <ui-select-no-choice> {{ $ctrl.texts.noChoice }} </ui-select-no-choice>
    </ui-select>
</div>
