<div class="zem-settings-component__container zem-settings-component__container--device-targeting">
    <div class="zem-settings-component__header" ng-if="$ctrl.isDefault()">Default device targeting</div>
    <div class="zem-settings-component__header" ng-if="!$ctrl.isDefault()">
        Device targeting
        <div class="zem-settings__different-than-default" ng-if="!$ctrl.isEqualToDefault()">Different than campaign default</div>
    </div>
    <div class="zem-settings-component__description">The devices on which your content ads will be shown. <span ng-if="$ctrl.isDefault()">Used for all newly created ad groups.</span></div>
    <!-- TODO: Device classes should be calculated in controler -->
    <div class="form">
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.targetDevices,
                                           'zem-settings-device-targeting__mobile': device.name == 'Mobile',
                                           'zem-settings-device-targeting__tablet': device.name == 'Tablet',
                                           'zem-settings-device-targeting__desktop': device.name == 'Desktop',
                                           'zem-settings-device-targeting__active': device.checked,
                                           }" ng-repeat='device in $ctrl.entity.settings.targetDevices'>
            <label class="form__label" for="{{ device.name }}"></label>
            <input class="form__input-checkbox" type="checkbox" id="{{ device.name }}" ng-model="device.checked">
            <label class="form__checkbox-text" for="{{ device.name }}">{{ device.name }}</label>
        </div>
    </div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.targetDevices">{{ error }}</div>
    <!-- TODO: Message should only be display if selected device is Tablet -->
    <div class="message message--info message--with-icon">Yahoo, Outbrain, Facebook and Instagram don't support Tablet option.</div>
</div>

