<div class="custom-panel zem-settings-component__container zem-device-targeting-settings">
    <h2 class="custom-panel__title" ng-if="$ctrl.isDefault()">Default device targeting</h2>
    <h2 class="custom-panel__title" ng-if="!$ctrl.isDefault()">
        Device targeting
        <div class="zem-settings__different-than-default" ng-if="!$ctrl.isEqualToDefault()">Different than campaign default</div>
    </h2>
    <div class="custom-panel__description">The devices on which your content ads will be shown. <span ng-if="$ctrl.isDefault()">Used for all newly created ad groups.</span></div>
    <!-- TODO: Device classes should be calculated in controler -->
    <div class="form">
        <div class="form__group" ng-class="{'form--error': !!$ctrl.errors.targetDevices,
                                           'zem-device-targeting__mobile': device.name == 'Mobile',
                                           'zem-device-targeting__tablet': device.name == 'Tablet',
                                           'zem-device-targeting__desktop': device.name == 'Desktop',
                                           'zem-device-targeting__active': device.checked,
                                           }" ng-repeat='device in $ctrl.entity.settings.targetDevices'>
            <label class="form__label" for="{{ device.name }}"></label>
            <div class="form__checkbox">
                <label>
                    <input class="input-checkbox" type="checkbox" id="{{ device.name }}" ng-model="device.checked">
                    <span class="checkbox-text">{{ device.name }}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="message message--error" ng-repeat="error in $ctrl.errors.targetDevices">{{ error }}</div>
    <!-- TODO: Message should only be display if selected device is Tablet -->
    <div class="message message--info message--with-icon">Yahoo, Facebook and Instagram don't support Tablet option.</div>
</div>

