@import 'variables';

.dropdown-menu__column-selector {
    margin-top: 85px;
    max-height: 315px;
    padding: 0;
    overflow: hidden;
}

.dropdown-menu__switch-button-container {
    position: absolute;
    top: 49px;
    left: @default-spacing;
    z-index: 1;

    .switch-button {
        width: 26px;
        height: 14px;
        padding: 2px;
        border-radius: 14px;

        &::before {
            width: 10px;
            height: 10px;
        }
    }

    .switch-button--checked {
        &::before {
            left: 14px;
        }
    }

    .switch-button__text {
        font-size: @default-font-size;
    }

    .internal-feature {
        top: 3px;
        left: -2px;
    }
}
