@import '../default/variables.less';

// GENERAL SETTINGS

@images-folder: 'images/whitelabel/mediamond';
@logo: url('@{images-folder}/mediamond-logo.svg') no-repeat center center;

// GREENPARK COLORS

@primary-color: #0071B9;
@secondary-color: #0071B9;
@text-color: #000000;

// HEADER COLOR

@header-left-color: #0071B9;
@header-right-color: #0071B9;

// BACKGROUND COLORS

@background-light-gray: #ebebeb;

// OTHER COLORS

@red: #ED4646;
@green: #99cc00;
@orange: #FECB63;
@blue: #007acf;
