@import '../default/variables.less';

@images-folder: 'images/whitelabel/mediamond';
@logo__background: url('@{images-folder}/mediamond-logo.svg') no-repeat center
    center;

@color--primary: #0071b9;
@color--secondary: @color--primary;
@color--danger: #ed4646;
@color--warning: #fecb63;

@text-color--default: #000000;

@header__background-color--left: @color--primary;
@header__background-color--right: @color--primary;
