<div
    class="zem-campaign-budget-edit-form__item zem-campaign-budget-edit-form__owner-details"
    *ngIf="budget.id"
>
    Created by <strong>{{ budget.createdBy }}</strong> on
    <strong>{{ createdDate }}</strong>
</div>
<div class="zem-campaign-budget-edit-form__item">
    <div class="zem-form-group">
        <label
            class="zem-form-group__label zem-form-group__label--match-input-height zem-campaign-budget-edit-form__label"
        >
            Credit line
            <zem-help-popover
                class="zem-help-popover"
                content="{{
                    budget.id
                        ? 'Selected credit line'
                        : 'Select credit line from table below'
                }}"
                placement="bottom"
            ></zem-help-popover>
        </label>
        <div
            class="zem-form-group__content zem-campaign-budget-edit-form__credits-list-container custom-scroller"
        >
            <table class="zem-table">
                <thead>
                    <tr>
                        <th *ngIf="!budget.id"></th>
                        <th>Available credit</th>
                        <th>Total credit</th>
                        <th *ngIf="showLicenseFee">License Fee</th>
                        <th>Valid From</th>
                        <th>Valid To</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container
                        *ngFor="
                            let credit of formattedAccountCredits;
                            let index = index;
                            trackBy: trackByIndex
                        "
                    >
                        <tr
                            [class.zem-campaign-budget-edit-form__row--error]="
                                !!budgetErrors?.creditId &&
                                credit.id === budget.creditId
                            "
                        >
                            <td *ngIf="!budget.id">
                                <zem-radio-input
                                    class="zem-radio-input"
                                    [groupModel]="budget.creditId"
                                    [value]="credit.id"
                                    (select)="onCreditIdSelected($event)"
                                ></zem-radio-input>
                            </td>
                            <td>{{ credit.available }}</td>
                            <td>{{ credit.total }}</td>
                            <td *ngIf="showLicenseFee">
                                {{ credit.licenseFee }}
                            </td>
                            <td>{{ credit.startDate }}</td>
                            <td>{{ credit.endDate }}</td>
                            <td>
                                <zem-comment-popover
                                    class="zem-comment-popover"
                                    *ngIf="credit.comment"
                                    [content]="creditCommentTemplate"
                                    [placement]="'left'"
                                    [stayOpenOnHover]="true"
                                ></zem-comment-popover>
                                <ng-template #creditCommentTemplate>
                                    <!--TODO: ask about formatting comment link-->
                                    {{
                                        credit.isAgency ? 'Agency credit: ' : ''
                                    }}
                                    <a
                                        target="_blank"
                                        href="{{ credit.comment }}"
                                        ><i class="glyphicon glyphicon-link"></i
                                        >{{ credit.comment }}</a
                                    >
                                </ng-template>
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="formattedAccountCredits.length === 0">
                        <td colspan="7" class="zem-table__no-data">
                            No credit items.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div
                class="zem-form-group__content-item zem-message zem-message--error"
                *ngFor="let error of budgetErrors?.creditId"
            >
                {{ error }}
            </div>
        </div>
    </div>
</div>
<zem-date-form-group
    class="zem-campaign-budget-edit-form__item zem-date-form-group zem-campaign-budget-edit-form__date-setting"
    label="Start date"
    [value]="budget.startDate"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [appendTo]="'body'"
    [isDisabled]="!budget.creditId || !budget.canEditStartDate"
    [errors]="budgetErrors?.startDate"
    (valueChange)="onStartDateChange($event)"
></zem-date-form-group>
<zem-date-form-group
    class="zem-campaign-budget-edit-form__item zem-date-form-group zem-campaign-budget-edit-form__date-setting"
    label="End date"
    [value]="budget.endDate"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [appendTo]="'body'"
    [isDisabled]="!budget.creditId || !budget.canEditEndDate"
    [errors]="budgetErrors?.endDate"
    (valueChange)="onEndDateChange($event)"
></zem-date-form-group>
<zem-currency-form-group
    class="zem-campaign-budget-edit-form__item zem-currency-form-group zem-campaign-budget-edit-form__currency-setting"
    label="Total budget"
    [value]="budget.amount"
    [currencySymbol]="currencySymbol"
    fractionSize="2"
    [isDisabled]="!budget.creditId || !budget.canEditAmount"
    [errors]="budgetErrors?.amount"
    (valueChange)="onAmountChange($event)"
></zem-currency-form-group>
<div class="zem-campaign-budget-edit-form__item" *ngIf="showMargin">
    <div class="zem-form-group">
        <label
            class="zem-form-group__label zem-form-group__label--match-input-height zem-campaign-budget-edit-form__label"
        >
            Margin
            <zem-help-popover
                class="zem-help-popover"
                *ngIf="budget.id"
                content="To change the margin, first update this budget’s end date to today and then create a new budget with a start date from tomorrow on. You’ll be able to change the margin in this newly setup budget."
                placement="bottom"
            ></zem-help-popover>
        </label>
        <div class="zem-form-group__content">
            <zem-prefixed-input
                class="zem-form-group__content-item zem-prefixed-input zem-campaign-budget-edit-form__budget-margin"
                [prefix]="'%'"
                [hasError]="!!budgetErrors?.margin"
            >
                <zem-decimal-input
                    class="zem-decimal-input"
                    [value]="margin"
                    [minValue]="0"
                    [maxValue]="99"
                    fractionSize="2"
                    [isDisabled]="!!budget.id"
                    [hasError]="!!budgetErrors?.margin"
                    (inputBlur)="onMarginChange($event)"
                ></zem-decimal-input>
            </zem-prefixed-input>
            <div
                class="zem-form-group__content-item zem-message zem-message--error"
                *ngFor="let error of budgetErrors?.margin"
            >
                {{ error }}
            </div>
        </div>
    </div>
</div>
<zem-textarea-form-group
    class="zem-campaign-budget-edit-form__item zem-textarea-form-group zem-campaign-budget-edit-form__textarea-setting"
    label="Notes"
    [value]="budget.comment"
    [rows]="'10'"
    [maxLength]="256"
    [errors]="budgetErrors?.comment"
    (valueChange)="onCommentChange($event)"
></zem-textarea-form-group>
