@import 'variables';
@import '../../styles/_settings.variables.less';

.zem-campaign-budget-edit-form {
    display: block;
}

.zem-campaign-budget-edit-form__item {
    display: block;
    margin-bottom: @zem-settings__items-spacing--default;
}

.zem-campaign-budget-edit-form__item:last-child {
    margin-bottom: 0px;
}

.zem-campaign-budget-edit-form__owner-details {
    border-bottom: 1px solid @color--lighter-neutral;
    padding-bottom: 10px;
}

.zem-campaign-budget-edit-form__label {
    flex: 0 0 130px;
}

.zem-campaign-budget-edit-form__text-setting .zem-settings-form-group__label {
    flex: 0 0 130px;
}

.zem-campaign-budget-edit-form__text-setting .zem-settings-form-group__content {
    max-width: 150px;
}

.zem-campaign-budget-edit-form__date-setting .zem-settings-form-group__label {
    flex: 0 0 130px;
}

.zem-campaign-budget-edit-form__currency-setting
    .zem-settings-form-group__label {
    flex: 0 0 130px;
}

.zem-campaign-budget-edit-form__textarea-setting
    .zem-settings-form-group__label {
    flex: 0 0 130px;
}

.zem-campaign-budget-edit-form__budget-margin {
    max-width: 150px;
}

.zem-campaign-budget-edit-form__credits-list-container {
    overflow-x: auto;
}

.zem-campaign-budget-edit-form__row--error > td {
    background-color: tint(@color--danger, 95%) !important;
    border-bottom: 1px solid @color--danger !important;
}
