<ng-container *ngIf="(store.state$ | async) as state">
    <div class="zem-bid-modifier-import-form__item">
        <ng-container
            *ngTemplateOutlet="bidModifierUploadMessage"
        ></ng-container>
    </div>
    <label class="zem-bid-modifier-import-form__item">
        CSV file with bid modifiers:
    </label>
    <zem-file-selector
        class="zem-file-selector zem-bid-modifier-import-form__item"
        [dropZoneLabel]="'Drop your file here or'"
        [accept]="'text/csv'"
        [isMultiple]="false"
        [showBrowseButton]="true"
        [browseButtonLabel]="'Choose file'"
        (filesChange)="onFilesChange($event)"
    ></zem-file-selector>
    <div
        class="zem-message zem-message--bubble zem-message--error zem-message--with-icon zem-bid-modifier-import-form__item"
        *ngIf="state.fieldsErrors.errorFileUrl || state.fieldsErrors.file"
    >
        <ng-container *ngIf="state.fieldsErrors.errorFileUrl">
            <p>There were some errors in the attached file.</p>
            <a (click)="downloadErrors()">Download the report</a>
        </ng-container>
        <ng-container *ngIf="!state.fieldsErrors.errorFileUrl">
            {{ state.fieldsErrors.file }}
        </ng-container>
    </div>
    <div
        class="zem-message zem-message--bubble zem-message--help zem-message--with-icon zem-bid-modifier-import-form__item"
    >
        <p>You can download our example file here.</p>
        <a (click)="downloadExample()">Download CSV example file</a>
    </div>
</ng-container>

<ng-template #bidModifierUploadMessage>
    <p>
        Upload the file with bid modifiers. You can download a sample file
        below. Please note:
    </p>
    <ng-container [ngSwitch]="breakdown">
        <ng-container *ngSwitchCase="Breakdown.PUBLISHER">
            <ul>
                <li>
                    First column in the CSV file contains the publisher name and
                    the second column contains the media source name as reported
                    in the dashboard. For the media source name please refer to
                    source slug column. The third column contains the bid
                    modifier. The first row in the CSV file is ignored.
                </li>
                <li>
                    Bid modifier values should range from 0 up. The resulting
                    publisher bid is obtained by multiplying existing publisher
                    bid with the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and bid modifiers
                    greater than one increase the bid proportionally. To reset
                    the bid use 1.
                </li>
                <li>
                    The import only updates the publisher's bid modifiers that
                    are sent in the uploaded file. Other preexisting bid
                    modifiers remain the same.
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="Breakdown.CONTENT_AD">
            <ul>
                <li>
                    First column in the CSV file contains the content ad id and
                    the second column the bid modifier. The first row in the CSV
                    file is ignored.
                </li>
                <li>
                    Bid modifier values should range from 0 up. The resulting ad
                    bid is obtained by multiplying existing ad group bid with
                    the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and publisher
                    modifiers greater than one increase the bid proportionally.
                </li>
            </ul>
            <strong>Warning</strong>
            <ul>
                <li>
                    The upload will remove all preexisting bid modifiers on this
                    dimension.
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="Breakdown.COUNTRY">
            <ul>
                <li>
                    First column in the CSV file contains the country code and
                    the second column the bid modifier. The first row in the CSV
                    file is ignored.
                </li>
                <li>
                    For a list of valid country codes please refer to
                    <a
                        href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"
                        target="_blank"
                        >this page</a
                    >
                    (Alpha 2-code).
                </li>
                <li>
                    Bid modifier values should range from 0 up. The resulting
                    country bid is obtained by multiplying existing ad group bid
                    with the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and publisher
                    modifiers greater than one increase the bid proportionally.
                </li>
            </ul>
            <strong>Warning</strong>
            <ul>
                <li>
                    The upload will remove all preexisting bid modifiers on this
                    dimension.
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="Breakdown.STATE">
            <ul>
                <li>
                    First column in the CSV file contains the state code and the
                    second column the bid modifier. The first row in the CSV
                    file is ignored.
                </li>
                <li>
                    Bid modifier values should range from 0 up. The resulting
                    state bid is obtained by multiplying existing ad group bid
                    with the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and publisher
                    modifiers greater than one increase the bid proportionally.
                </li>
            </ul>
            <strong>Warning</strong>
            <ul>
                <li>
                    The upload will remove all preexisting bid modifiers on this
                    dimension.
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="Breakdown.DMA">
            <ul>
                <li>
                    First column in the CSV file contains the DMA code and the
                    second column the bid modifier. The first row in the CSV
                    file is ignored.
                </li>
                <li>
                    Bid modifier values should range from 0 up. The resulting
                    DMA bid is obtained by multiplying existing ad group bid
                    with the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and publisher
                    modifiers greater than one increase the bid proportionally.
                </li>
            </ul>
            <strong>Warning</strong>
            <ul>
                <li>
                    The upload will remove all preexisting bid modifiers on this
                    dimension.
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="Breakdown.DEVICE">
            <ul>
                <li>
                    First column in the CSV file contains the device specifier
                    and the second column the bid modifier. The first row in the
                    CSV file is ignored.
                </li>
                <li>Valid device specifiers are: MOBILE, DESKTOP, TABLET.</li>
                <li>
                    Bid modifier values should range from 0 up. The resulting
                    device bid is obtained by multiplying existing ad group bid
                    with the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and bid modifiers
                    greater than one increase the bid proportionally.
                </li>
            </ul>
            <strong>Warning</strong>
            <ul>
                <li>
                    The upload will remove all preexisting bid modifiers on this
                    dimension.
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="Breakdown.ENVIRONMENT">
            <ul>
                <li>
                    First column in the CSV file contains the environment
                    specifier and the second column the bid modifier. The first
                    row in the CSV file is ignored.
                </li>
                <li>Valid environment specifiers are: APP, SITE.</li>
                <li>
                    Bid modifier values should range from 0 up. The resulting
                    environment bid is obtained by multiplying existing ad group
                    bid with the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and bid modifiers
                    greater than one increase the bid proportionally.
                </li>
            </ul>
            <strong>Warning</strong>
            <ul>
                <li>
                    The upload will remove all preexisting bid modifiers on this
                    dimension.
                </li>
            </ul>
        </ng-container>
        <ng-container *ngSwitchCase="Breakdown.OPERATING_SYSTEM">
            <ul>
                <li>
                    First column in the CSV file contains the operating system
                    specifier and the second column the bid modifier. The first
                    row in the CSV file is ignored.
                </li>
                <li>
                    Please consult this page for valid operating system
                    specifiers.
                </li>
                <li>
                    Bid modifier values should range from 0 up. The resulting
                    bid is obtained by multiplying existing ad group bid with
                    the number from the imported CSV file.
                </li>
                <li>
                    Bid modifiers less than one reduce the bid and bid modifiers
                    greater than one increase the bid proportionally.
                </li>
            </ul>
            <strong>Warning</strong>
            <ul>
                <li>
                    The upload will remove all preexisting bid modifiers on this
                    dimension.
                </li>
            </ul>
        </ng-container>
    </ng-container>
</ng-template>
