<div class="edit-form custom-scroller">
    <div ng-if="!!ctrl.selectedCandidate">
        <h4>Edit content ad: {{ ctrl.selectedCandidate.title }}</h4>
        <form class="file-upload-form form-horizontal">

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('url')}">
                <label for="url-input" class="col-xs-2 control-label">
                    URL:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="url-input" ng-model="ctrl.selectedCandidate.url" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('url')" />
                    <label for="url-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['url']">Something went wrong. <a href ng-click="ctrl.updateField('url')">Try again</a></label>
                    <label for="url-input" ng-repeat="error in ctrl.selectedCandidate.errors.url" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    {{ ctrl.selectedCandidate.url.length }}/{{ ctrl.MAX_URL_LENGTH }}
                    <img ng-if="ctrl.fieldsLoading.url" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.url && !ctrl.fieldsHaveErrors('url')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('title')}">
                <label for="title-input" class="col-xs-2 control-label">
                    Ad Title:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="title-input" ng-model="ctrl.selectedCandidate.title" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('title')" />
                    <label for="title-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['title']">Something went wrong. <a href ng-click="ctrl.updateField('title')" tabindex="-1">Try again</a></label>
                    <label for="title-input" ng-repeat="error in ctrl.selectedCandidate.errors.title" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    {{ ctrl.selectedCandidate.title.length }}/{{ ctrl.MAX_TITLE_LENGTH }}
                    <img ng-if="ctrl.fieldsLoading.title" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.title && !ctrl.fieldsHaveErrors('title')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors(['image', 'imageUrl'])}" ng-if="!ctrl.showImageUpload">
                <label for="image-url-input" class="col-xs-2 control-label">
                    Image URL:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="image-url-input" ng-model="ctrl.selectedCandidate.imageUrl" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('imageUrl')" />
                    <label for="image-url-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['imageUrl']">Something went wrong. <a href ng-click="ctrl.updateField('imageUrl')" tabindex="-1">Try again</a></label>
                    <label for="image-url-input" ng-repeat="error in ctrl.selectedCandidate.errors.imageUrl" ng-if="!ctrl.showImageUpload" class="control-label small error">{{ error }}</label>
                    <div class="help-block m-b-none">
                        Recommended image size is above 1200x1200px. Some media sources will not work with smaller images.
                    </div>
                    <a href class="action-link" ng-click="ctrl.toggleImageUpload()" tabindex="-1">
                        If you have image on your computer, switch to image uploading form.
                    </a>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    <img ng-if="ctrl.fieldsLoading.imageUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.imageUrl && !ctrl.fieldsHaveErrors('imageUrl')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors(['image', 'imageUrl'])}" ng-if="ctrl.showImageUpload">
                <label for="image-url-input" class="col-xs-2 control-label">
                    Image:
                </label>
                <div class="col-xs-8">
                    <div>
                        <zem-file-input zem-file-input-change="ctrl.imageUploadCallback(file)" zem-file-input-accept="image/*">
                            <button type="button" class="btn btn-blue btn-icon folder" zem-file-input-trigger>
                                <span class="icon"></span><span class="text">Choose file</span>
                            </button>
                        </zem-file-input>
                    </div>
                    <label for="image-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['image']">Something went wrong. <a href ng-click="ctrl.updateField('image')" tabindex="-1">Try again</a></label>
                    <label for="image-url-input" ng-repeat="error in ctrl.selectedCandidate.errors.image" ng-if="ctrl.showImageUpload" class="control-label small error">{{ error }}</label>
                    <div class="help-block m-b-none">
                        Recommended image size is above 1200x1200px. Some media sources will not work with smaller images.
                    </div>
                    <a href class="action-link" ng-click="ctrl.toggleImageUpload()" tabindex="-1">
                        If you already have image hosted, switch to URL adding form.
                    </a>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    <img ng-if="ctrl.fieldsLoading.image" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.image && !ctrl.fieldsHaveErrors('image')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('imageCrop')}">
                <label for="image-crop-input" class="col-xs-2 control-label">
                    Image crop:
                </label>

                <div class="col-xs-8">
                    <ui-select theme="select2" search-enabled="false" id="image-crop-input" class="form-control" ng-model="ctrl.selectedCandidate.imageCrop" ng-change="ctrl.updateField('imageCrop')">
                        <ui-select-match placeholder="Choose image crop">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="crop.value as crop in ctrl.imageCrops">
                            {{crop.name}}
                        </ui-select-choices>
                    </ui-select>
                    <label for="image-crop-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['imageCrop']">Something went wrong. <a href ng-click="ctrl.updateField('imageCrop')" tabindex="-1">Try again</a></label>
                    <label for="image-crop-input" ng-repeat="error in ctrl.selectedCandidate.errors.imageCrop" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label p-l-none">
                    <a href class="action-link" ng-click="ctrl.updateField('imageCrop', true)" tabindex="-1">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.imageCrop" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.imageCrop && !ctrl.fieldsHaveErrors('imageCrop')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('description')}">
                <label for="description-input" class="col-xs-2 control-label">
                    Description:
                </label>
                <div class="col-xs-8">
                    <textarea type="text" class="form-control" rows="3" id="description-input" ng-model="ctrl.selectedCandidate.description" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('description')"></textarea>
                    <label for="description-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['description']">Something went wrong. <a href ng-click="ctrl.updateField('description')" tabindex="-1">Try again</a></label>
                    <label for="description-input" ng-repeat="error in ctrl.selectedCandidate.errors.description" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.description.length }}/{{ ctrl.MAX_DESCRIPTION_LENGTH }}
                    <a href class="action-link" ng-click="ctrl.updateField('description', true)" tabindex="-1">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.description" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.description && !ctrl.fieldsHaveErrors('description')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('displayUrl')}">
                <label for="display-url-input" class="col-xs-2 control-label">
                    Display URL:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="display-url-input" ng-model="ctrl.selectedCandidate.displayUrl" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('displayUrl')" />
                    <label for="display-url-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['displayUrl']">Something went wrong. <a href ng-click="ctrl.updateField('displayUrl')" tabindex="-1">Try again</a></label>
                    <label for="display-url-input" ng-repeat="error in ctrl.selectedCandidate.errors.displayUrl" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.displayUrl.length }}/{{ ctrl.MAX_DISPLAY_URL_LENGTH }}
                    <a href class="action-link" ng-click="ctrl.updateField('displayUrl', true)" tabindex="-1">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.displayUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.displayUrl && !ctrl.fieldsHaveErrors('displayUrl')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('brandName')}">
                <label for="brand-name-input" class="col-xs-2 control-label">
                    Brand name:
                </label>

                <div class="col-xs-8">
                    <input type="text" class="form-control" id="brand-name-input" ng-model="ctrl.selectedCandidate.brandName" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('brandName')" />
                    <label for="brand-name-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['brandName']">Something went wrong. <a href ng-click="ctrl.updateField('brandName')" tabindex="-1">Try again</a></label>
                    <label for="brand-name-input" ng-repeat="error in ctrl.selectedCandidate.errors.brandName" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.brandName.length }}/{{ ctrl.MAX_BRAND_NAME_LENGTH }}
                    <a href class="action-link" ng-click="ctrl.updateField('brandName', true)" tabindex="-1">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.brandName" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.brandName && !ctrl.fieldsHaveErrors('brandName')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('callToAction')}">
                <label for="call-to-action-input" class="col-xs-2 control-label">
                    Call To Action:
                </label>
                <div class="col-xs-8">
                    <div ui-select2="ctrl.callToActionSelect2Config" id="call-to-action-input" class="form-control" ng-model="ctrl.selectedCandidate.callToAction" zem-select2-model-transform="text" ng-change="ctrl.updateField('callToAction')"></div>
                    <label for="call-to-action-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['callToAction']">Something went wrong. <a href ng-click="ctrl.updateField('callToAction')" tabindex="-1">Try again</a></label>
                    <label for="call-to-action-input" ng-repeat="error in ctrl.selectedCandidate.errors.callToAction" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.callToAction.length }}/{{ ctrl.MAX_CALL_TO_ACTION_LENGTH }}
                    <a href class="action-link" ng-click="ctrl.updateField('callToAction', true)" tabindex="-1">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.callToAction" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.callToAction && !ctrl.fieldsHaveErrors('callToAction')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('label')}">
                <label for="url-input" class="col-xs-2 control-label">
                    Label:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="label-input" ng-model="ctrl.selectedCandidate.label" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('label')" />
                    <label for="label-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['label']">Something went wrong. <a href ng-click="ctrl.updateField('label')" tabindex="-1">Try again</a></label>
                    <label for="label-input" ng-repeat="error in ctrl.selectedCandidate.errors.label" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    {{ ctrl.selectedCandidate.label.length }}/{{ ctrl.MAX_LABEL_LENGTH }}
                    <img ng-if="ctrl.fieldsLoading.label" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.label && !ctrl.fieldsHaveErrors('label')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-2 control-label"></div>
                <div class="col-xs-8">
                    <label class="checkbox-label">
                        <input type="checkbox" ng-model="ctrl.selectedCandidate.useTrackers" ng-change="ctrl.toggleUseTrackers()" />
                        Use impression trackers
                    </label>
                </div>
                <div class="col-xs-2"></div>
            </div>

            <div class="addon_fields" ng-if="ctrl.selectedCandidate.useTrackers">
                <div class="form-group" ng-class="{'has-error': ctrl.fieldsHaveErrors('primaryTrackerUrl')}">
                    <label for="impression-trackers-input" class="col-xs-2 control-label p-t-none">
                        Primary impression tracker:
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="primary-tracker-input" ng-model="ctrl.selectedCandidate.primaryTrackerUrl" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('primaryTrackerUrl')" />
                        <label for="primary-tracker-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['primaryTrackerUrl']">Something went wrong. <a href ng-click="ctrl.updateField('primaryTrackerUrl')" tabindex="-1">Try again</a></label>
                        <label for="primary-tracker-input" ng-repeat="error in ctrl.selectedCandidate.errors.primaryTrackerUrl" class="control-label small error">{{ error }}</label>
                        <div class="help-block">
                            Paste your impression tracker link to track impressions.
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <img ng-if="ctrl.fieldsLoading.primaryTrackerUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                        <img ng-if="ctrl.fieldsSaved.primaryTrackerUrl && !ctrl.fieldsHaveErrors('primaryTrackerUrl')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                    </div>
                </div>

                <div class="form-group" ng-if="!!ctrl.selectedCandidate.useSecondaryTracker" ng-class="{'has-error': ctrl.fieldsHaveErrors('secondaryTrackerUrl')}">
                    <label class="col-xs-2 control-label p-t-none">Secondary impression tracker:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="secondary-tracker-input" ng-model="ctrl.selectedCandidate.secondaryTrackerUrl" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('secondaryTrackerUrl')" />
                        <label for="secondary-tracker-input" class="control-label small error" ng-if="ctrl.fieldsApiErrors['secondaryTrackerUrl']">Something went wrong. <a href ng-click="ctrl.updateField('secondaryTrackerUrl')" tabindex="-1">Try again</a></label>
                        <label for="secondary-tracker-input" ng-repeat="error in ctrl.selectedCandidate.errors.secondaryTrackerUrl" class="control-label small error">{{ error }}</label>
                        <div class="help-block">
                            Paste your impression tracker link to track impressions.
                        </div>
                    </div>
                    <div class="col-xs-2 control-label p-l-none">
                        <a href class="inline-link" ng-click="ctrl.removeSecondaryTracker(ctrl.selectedCandidate)" tabindex="-1">
                            Remove
                        </a>
                        <img ng-if="ctrl.fieldsLoading.secondaryTrackerUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                        <img ng-if="ctrl.fieldsSaved.secondaryTrackerUrl && !ctrl.fieldsHaveErrors('secondaryTrackerUrl')" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                    </div>
                </div>

                <div class="form-group" ng-if="!ctrl.selectedCandidate.useSecondaryTracker">
                    <label class="col-xs-2 control-label"></label>
                    <div class="col-xs-10">
                        <a href class="inline-link" ng-click="ctrl.addSecondaryTracker(ctrl.selectedCandidate)" tabindex="-1">
                            Add secondary tracker
                        </a>
                    </div>
                </div>
            </div>
        </form>

        <button type="button" class="btn-close" ng-click="ctrl.api.close()">Close <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>
