<div class="edit-form custom_scroller">
    <div ng-if="!!ctrl.selectedCandidate">
        <h4>Edit content ad: {{ ctrl.selectedCandidate.title }}</h4>
        <form class="file-upload-form form-horizontal">

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.url}">
                <label for="url-input" class="col-xs-2 control-label">
                    URL:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="url-input" ng-model="ctrl.selectedCandidate.url" ng-focus="ctrl.clearSelectedCandidateErrors('url')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('url')" />
                    <label for="url-input" ng-repeat="error in ctrl.selectedCandidate.errors.url" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    {{ ctrl.selectedCandidate.url.length }}/{{ ctrl.MAX_URL_LENGTH }}
                    <img ng-if="ctrl.fieldsLoading.url" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.url" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.title}">
                <label for="title-input" class="col-xs-2 control-label">
                    Ad Title:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="title-input" ng-model="ctrl.selectedCandidate.title" ng-focus="ctrl.clearSelectedCandidateErrors('title')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('title')" />
                    <label for="title-input" ng-repeat="error in ctrl.selectedCandidate.errors.title" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    {{ ctrl.selectedCandidate.title.length }}/{{ ctrl.MAX_TITLE_LENGTH }}
                    <img ng-if="ctrl.fieldsLoading.title" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.title" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.imageUrl}">
                <label for="image-url-input" class="col-xs-2 control-label">
                    Image URL:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="image-url-input" ng-model="ctrl.selectedCandidate.imageUrl" ng-focus="ctrl.clearSelectedCandidateErrors('imageUrl')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('imageUrl')" />
                    <label for="image-url-input" ng-repeat="error in ctrl.selectedCandidate.errors.imageUrl" class="control-label small error">{{ error }}</label>
                    <div class="help-block">
                        Recommended image size is above 1200x1200px. Some media sources will not work with smaller images.
                    </div>
                    <button type="button" class="btn btn-secondary" ng-if="ctrl.hasPermission('zemauth.can_use_own_images_in_upload') && ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')">
                        <zem-internal-feature ng-if="ctrl.isPermissionInternal('zemauth.can_use_own_images_in_upload') || ctrl.isPermissionInternal('zemauth.can_use_partial_updates_in_upload')"></zem-internal-feature>
                        <img ng-src="{{ ctrl.config.static_url }}/one/img/button-folder.svg"/>
                        <span class="action-text">Choose file</span>
                    </button>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    <img ng-if="ctrl.fieldsLoading.imageUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.imageUrl" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.imageCrop}">
                <label for="image-crop-input" class="col-xs-2 control-label">
                    Image crop:
                </label>

                <div class="col-xs-8">
                    <ui-select theme="select2" search-enabled="false" id="image-crop-input" class="form-control" ng-model="ctrl.selectedCandidate.imageCrop" ng-focus="ctrl.clearSelectedCandidateErrors('imageCrop')" ng-change="ctrl.updateField('imageCrop')">
                        <ui-select-match placeholder="Choose image crop">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="crop.value as crop in ctrl.imageCrops">
                            {{crop.name}}
                        </ui-select-choices>
                    </ui-select>
                    <label for="image-crop-input" ng-repeat="error in ctrl.selectedCandidate.errors.imageCrop" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label p-l-none">
                    <label class="checkbox-label checkbox-label-default" ng-if="!ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')">
                        <input type="checkbox" ng-model="ctrl.selectedCandidate.defaults.imageCrop" />Use as default
                    </label>
                    <a href class="action-link" ng-if="ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')" ng-click="ctrl.updateField('imageCrop', true)">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.imageCrop" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.imageCrop" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.description}">
                <label for="description-input" class="col-xs-2 control-label">
                    Description:
                </label>
                <div class="col-xs-8">
                    <textarea type="text" class="form-control" rows="3" id="description-input" ng-model="ctrl.selectedCandidate.description" ng-focus="ctrl.clearSelectedCandidateErrors('description')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('description')" ></textarea>
                    <label for="description-input" ng-repeat="error in ctrl.selectedCandidate.errors.description" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.description.length }}/{{ ctrl.MAX_DESCRIPTION_LENGTH }}
                    <label class="checkbox-label checkbox-label-default" ng-if="!ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')">
                        <input type="checkbox" ng-model="ctrl.selectedCandidate.defaults.description"/>Use as default
                    </label>
                    <a href class="action-link" ng-if="ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')" ng-click="ctrl.updateField('description', true)">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.description" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.description" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.displayUrl}">
                <label for="display-url-input" class="col-xs-2 control-label">
                    Display URL:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="display-url-input" ng-model="ctrl.selectedCandidate.displayUrl" ng-focus="ctrl.clearSelectedCandidateErrors('displayUrl')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('displayUrl')" />
                    <label for="display-url-input" ng-repeat="error in ctrl.selectedCandidate.errors.displayUrl" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.displayUrl.length }}/{{ ctrl.MAX_DISPLAY_URL_LENGTH }}
                    <label class="checkbox-label checkbox-label-default" ng-if="!ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')">
                        <input type="checkbox" ng-model="ctrl.selectedCandidate.defaults.displayUrl"/>Use as default
                    </label>
                    <a href class="action-link" ng-if="ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')" ng-click="ctrl.updateField('displayUrl', true)">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.displayUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.displayUrl" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.brandName}">
                <label for="brand-name-input" class="col-xs-2 control-label">
                    Brand name:
                </label>

                <div class="col-xs-8">
                    <input type="text" class="form-control" id="brand-name-input" ng-model="ctrl.selectedCandidate.brandName" ng-focus="ctrl.clearSelectedCandidateErrors('brandName')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('brandName')" />
                    <label for="brand-name-input" ng-repeat="error in ctrl.selectedCandidate.errors.brandName" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.brandName.length }}/{{ ctrl.MAX_BRAND_NAME_LENGTH }}
                    <label class="checkbox-label checkbox-label-default" ng-if="!ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')">
                        <input type="checkbox" ng-model="ctrl.selectedCandidate.defaults.brandName"/>Use as default
                    </label>
                    <a href class="action-link" ng-if="ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')" ng-click="ctrl.updateField('brandName', true)">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.brandName" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.brandName" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.callToAction}">
                <label for="call-to-action-input" class="col-xs-2 control-label">
                    Call To Action:
                </label>
                <div class="col-xs-8">
                    <div ui-select2="ctrl.callToActionSelect2Config" id="call-to-action-input" class="form-control" ng-model="ctrl.selectedCandidate.callToAction" zem-select2-model-transform="text" ng-change="ctrl.updateField('callToAction')"></div>
                    <label for="call-to-action-input" ng-repeat="error in ctrl.selectedCandidate.errors.callToAction" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-t-none p-l-none">
                    {{ ctrl.selectedCandidate.callToAction.length }}/{{ ctrl.MAX_CALL_TO_ACTION_LENGTH }}
                    <label class="checkbox-label checkbox-label-default" ng-if="!ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')">
                        <input type="checkbox" ng-model="ctrl.selectedCandidate.defaults.callToAction" />Use as default
                    </label>
                    <a href class="action-link" ng-if="ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')" ng-click="ctrl.updateField('callToAction', true)">
                        Use as default
                    </a>
                    <img ng-if="ctrl.fieldsLoading.callToAction" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.callToAction" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.label}">
                <label for="url-input" class="col-xs-2 control-label">
                    Label:
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="label-input" ng-model="ctrl.selectedCandidate.label" ng-focus="ctrl.clearSelectedCandidateErrors('label')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('label')" />
                    <label for="label-input" ng-repeat="error in ctrl.selectedCandidate.errors.label" class="control-label small error">{{ error }}</label>
                </div>
                <div class="col-xs-2 control-label small p-l-none">
                    {{ ctrl.selectedCandidate.label.length }}/{{ ctrl.MAX_LABEL_LENGTH }}
                    <img ng-if="ctrl.fieldsLoading.label" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                    <img ng-if="ctrl.fieldsSaved.label" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-2 control-label"></div>
                <div class="col-xs-8">
                    <label class="checkbox-label">
                        <input type="checkbox" ng-model="ctrl.selectedCandidate.useTrackers" ng-change="ctrl.toggleUseTrackers()" />
                        Use impression trackers
                    </label>
                </div>
                <div class="col-xs-2"></div>
            </div>

            <div class="addon_fields" ng-if="ctrl.selectedCandidate.useTrackers">
                <div class="form-group" ng-class="{'has-error': ctrl.selectedCandidate.errors.primaryTrackerUrl}">
                    <label for="impression-trackers-input" class="col-xs-2 control-label p-t-none">
                        Primary impression tracker:
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="impression-trackers-input" ng-model="ctrl.selectedCandidate.primaryTrackerUrl" ng-focus="ctrl.clearSelectedCandidateErrors('primaryTrackerUrl')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('primaryTrackerUrl')" />
                        <label for="call-to-action-input" ng-repeat="error in ctrl.selectedCandidate.errors.primaryTrackerUrl" class="control-label small error">{{ error }}</label>
                        <div class="help-block">
                            Paste your impression tracker link to track impressions.
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <img ng-if="ctrl.fieldsLoading.primaryTrackerUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                        <img ng-if="ctrl.fieldsSaved.primaryTrackerUrl" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                    </div>
                </div>

                <div class="form-group" ng-if="!!ctrl.selectedCandidate.useSecondaryTracker" ng-class="{'has-error': ctrl.selectedCandidate.errors.secondaryTrackerUrl}">
                    <label class="col-xs-2 control-label p-t-none">Secondary impression tracker:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="impression-trackers-input" ng-model="ctrl.selectedCandidate.secondaryTrackerUrl" ng-focus="ctrl.clearSelectedCandidateErrors('secondaryTrackerUrl')" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }" ng-change="ctrl.updateField('secondaryTrackerUrl')" />
                        <label for="call-to-action-input" ng-repeat="error in ctrl.selectedCandidate.errors.secondaryTrackerUrl" class="control-label small error">{{ error }}</label>
                        <div class="help-block">
                            Paste your impression tracker link to track impressions.
                        </div>
                    </div>
                    <div class="col-xs-2 control-label p-l-none">
                        <a href class="inline-link" ng-click="ctrl.removeSecondaryTracker(ctrl.selectedCandidate)">
                            <img class="smaller_icon" ng-src="{{ ctrl.config.static_url }}/one/img/button-remove.svg" />Remove
                        </a>
                        <img ng-if="ctrl.fieldsLoading.secondaryTrackerUrl" class="small-icon input-indicator" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg" />
                        <img ng-if="ctrl.fieldsSaved.secondaryTrackerUrl" class="small-icon input-indicator input-success" ng-src="{{ ctrl.config.static_url }}/one/img/checkmark.svg" />
                    </div>
                </div>

                <div class="form-group" ng-if="!ctrl.selectedCandidate.useSecondaryTracker">
                    <label class="col-xs-2 control-label"></label>
                    <div class="col-xs-10">
                        <a href class="inline-link" ng-click="ctrl.addSecondaryTracker(ctrl.selectedCandidate)">
                            <img ng-src="{{ ctrl.config.static_url }}/one/img/button-plus-blue.svg"/>Add secondary tracker
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="!ctrl.hasPermission('zemauth.can_use_partial_updates_in_upload')">
                <div class="col-xs-2 control-label"></div>
                <div class="col-xs-8">
                    <button type="button" class="btn btn-add" ng-click="ctrl.update()" ng-disabled="ctrl.api.requestInProgress">Update ad</button>
                    <img class="loader-icon small-icon" ng-if="ctrl.api.requestInProgress" ng-src="{{ ctrl.config.static_url }}/one/img/loader.svg"/>
                    <span class="error" ng-if="ctrl.requestFailed">Oops. Something went wrong. Please try again.</span>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </form>

        <button type="button" class="btn-close" ng-click="ctrl.api.close()">Close <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>
