@import 'variables';

.zem-grid-column-selector {
    .dropdown-menu {
        margin: 8px 0 20px 0;
        padding: 0;
        border: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        width: 465px;
        max-height: 400px;
        overflow: hidden;
        box-sizing: border-box;
    }

    label.disabled {
        color: #afafaf;
        cursor: default;
    }

    .row {
        margin: 0px;
    }

    .category-name {
        margin-top: 10px;
        margin-left: 10px;
    }

    .dropdown-menu__column-selector {
        margin-top: 85px;
        max-height: 315px;
        padding: 0;
        overflow: hidden;
    }

    .dropdown-menu__switch-button-container {
        position: absolute;
        top: 49px;
        left: @default-spacing;
        z-index: 1;

        .switch-button__text {
            font-size: @default-font-size;
        }

        .internal-feature {
            top: 3px;
            left: -2px;
        }
    }
}
