@import 'variables';

.zem-inventory-planning-view {
    display: block;

    .zem-inventory-planning-summary {
        height: 350px;
        margin-top: @spacing--default*1.5;
    }

    .zem-inventory-planning__action-container {
        margin: @spacing--default*1.5 0;
    }

    .zem-inventory-planning-breakdown {
        float: left;
        width: 23.5%;
        padding-left: 2%;
        border-left: 1px solid @color--lighter-neutral;
        margin-left: 2%;

        &:first-child {
            padding-left: 0;
            margin-left: 0;
            border-left: none;
        }
    }

    .zem-inventory-planning-breakdown__container {
        height: 400px;
    }
}

.zem-inventory-planning__breakdowns {
    margin-bottom: @spacing--default*1.5;
}

.zem-inventory-planning__action-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: @spacing--default;
    background-color: darken(@color--lighter-neutral, 4%);
}

.zem-inventory-planning__filter {
    flex: 1 1 auto;
}

.zem-inventory-planning__export-container {
    flex: 0 0 50px;
    padding: 0 @spacing--default;
    margin-left: @spacing--default;
    border-left: 1px solid darken(@color--lighter-neutral, 10%);
    background-color: darken(@color--lighter-neutral, 4%);
}

///////////////////////////
// RESPONSIVE //
///////////////////////////

@media only screen and (max-width: @tablet-breakpoint) {
    .zem-inventory-planning-view {
        .zem-inventory-planning-breakdown {
            float: none;
            width: 100%;
            border-left: none;
            padding: 0 0 @spacing--default 0;
            margin: 0 0 @spacing--default 0;
            border-bottom: 1px solid @color--lighter-neutral;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        .zem-inventory-planning-breakdown__container {
            height: 250px;
        }
    }
}
