<h1 class="zem-main-container__view-title">Inventory Planning</h1>

<zem-inventory-planning-summary
    class="zem-inventory-planning-summary"
    [auctionCount]="(store.state$ | async).inventory.auctionCount"
    [avgCpm]="(store.state$ | async).inventory.avgCpm"
    [avgCpc]="(store.state$ | async).inventory.avgCpc"
    [winRatio]="(store.state$ | async).inventory.winRatio"
    [isLoading]="(store.state$ | async).requests.summary.inProgress"
>
</zem-inventory-planning-summary>

<div class="zem-inventory-planning__action-container">
    <zem-inventory-planning-filter
        class="zem-inventory-planning-filter zem-inventory-planning__filter"
        [availableFilters]="(store.state$ | async).availableFilters"
        [selectedFilters]="(store.state$ | async).selectedFilters"
        (onRemove)="store.toggleOption($event)"
        (onApply)="store.applyFilters($event)"
    >
    </zem-inventory-planning-filter>
    <div
        class="zem-inventory-planning__export-container"
        *ngIf="
            zemPermissions.hasPermission(
                'zemauth.can_use_advanced_inventory_planning_features'
            )
        "
    >
        <button
            class="button button--highlight"
            (click)="exportInventoryData()"
        >
            Export
        </button>
    </div>
</div>
<div class="custom-panel zem-inventory-planning__breakdowns clearfix">
    <zem-inventory-planning-breakdown
        class="zem-inventory-planning-breakdown"
        breakdownName="Country"
        [options]="(store.state$ | async).availableFilters.countries"
        [selected]="(store.state$ | async).selectedFilters.countries"
        [isLoading]="(store.state$ | async).requests.countries.inProgress"
        (onToggle)="store.toggleOption({key: 'countries', value: $event})"
    >
    </zem-inventory-planning-breakdown>
    <zem-inventory-planning-breakdown
        class="zem-inventory-planning-breakdown"
        breakdownName="Publisher"
        [options]="(store.state$ | async).availableFilters.publishers"
        [selected]="(store.state$ | async).selectedFilters.publishers"
        [isLoading]="(store.state$ | async).requests.publishers.inProgress"
        (onToggle)="store.toggleOption({key: 'publishers', value: $event})"
    >
    </zem-inventory-planning-breakdown>
    <zem-inventory-planning-breakdown
        class="zem-inventory-planning-breakdown"
        breakdownName="Device Type"
        [options]="(store.state$ | async).availableFilters.devices"
        [selected]="(store.state$ | async).selectedFilters.devices"
        [isLoading]="(store.state$ | async).requests.devices.inProgress"
        (onToggle)="store.toggleOption({key: 'devices', value: $event})"
    >
    </zem-inventory-planning-breakdown>
    <zem-inventory-planning-breakdown
        class="zem-inventory-planning-breakdown"
        breakdownName="Media Source"
        [options]="(store.state$ | async).availableFilters.sources"
        [selected]="(store.state$ | async).selectedFilters.sources"
        [isLoading]="(store.state$ | async).requests.sources.inProgress"
        (onToggle)="store.toggleOption({key: 'sources', value: $event})"
    >
    </zem-inventory-planning-breakdown>
    <zem-inventory-planning-breakdown
        class="zem-inventory-planning-breakdown"
        breakdownName="Channel"
        [options]="(store.state$ | async).availableFilters.channels"
        [selected]="(store.state$ | async).selectedFilters.channels"
        [isLoading]="(store.state$ | async).requests.channels.inProgress"
        (onToggle)="store.toggleOption({key: 'channels', value: $event})"
    >
    </zem-inventory-planning-breakdown>
</div>

<div class="message message--info message--with-icon block m-b">
    This report is an aggregate over 30 consecutive days and is updated every
    month.
</div>
