<div class="zem-settings-form-group">
    <label
        class="zem-settings-form-group__label zem-settings-form-group__label--match-input-height"
    >
        Ad group's daily spend cap
        <zem-help-popover
            class="zem-help-popover"
            content="Amount of budget autopilot can operate with on this ad group every day."
            placement="bottom"
        ></zem-help-popover>
    </label>
    <div class="zem-settings-form-group__content">
        <div class="zem-settings-form-group__content-item">
            <zem-currency-input
                class="zem-currency-input"
                [value]="dailyBudget"
                [hasError]="errors && errors.length > 0"
                [isDisabled]="!isAdGroupAutopilotEnabled"
                [currencySymbol]="currencySymbol"
                fractionSize="0"
                (inputBlur)="valueChange.emit($event)"
            ></zem-currency-input>
        </div>
        <div
            class="zem-settings-form-group__content-item zem-message zem-message--error"
            *ngFor="let error of errors"
        >
            {{ error }}
        </div>
        <div
            class="zem-settings-form-group__content-item zem-message zem-message--bubble zem-message--warning zem-message--with-icon zem-warning-bg-icon"
            *ngIf="!isAdGroupAutopilotEnabled"
        >
            <ng-container *ngIf="isCampaignAutopilotEnabled">
                Ad group's daily spend cap setting is disabled because autopilot
                is managed on campaign level.
            </ng-container>
            <ng-container *ngIf="!isCampaignAutopilotEnabled">
                Ad group's daily spend cap setting is disabled because autopilot
                is not enabled on this ad group.
            </ng-container>
        </div>
    </div>
</div>
