@import 'variables';

.zem-users-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.zem-users-actions__search {
    flex: 0 1 300px;
    margin-right: @spacing--small;
}

.zem-users-actions__buttons {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}

.zem-users-actions__button:not(:last-child) {
    margin-right: @spacing--small;
}
