<div
    class="zem-prefixed-input zem-prefixed-input--with-icon zem-magnifier-bg-icon zem-users-actions__search zem-users-actions__action"
>
    <zem-text-input
        class="zem-text-input zem-prefixed-input__input"
        [value]="value"
        [isDisabled]="isDisabled"
        [placeholder]="'Search by name or email'"
        (valueChange)="onSearchChange($event)"
    ></zem-text-input>
</div>
<zem-checkbox-input
    *ngIf="isShowInternalVisible"
    class="zem-checkbox-input zem-users-actions__action"
    [isChecked]="showInternal"
    [zemInternalFeature]="true"
    (toggle)="showInternalChange.emit($event)"
>
    Show internal users
</zem-checkbox-input>
<div class="zem-users-actions__buttons zem-users-actions__action">
    <button
        class="zem-button-legacy zem-button-legacy--with-icon zem-button-legacy--highlighted zem-button-legacy--add-icon zem-users-actions__button"
        [disabled]="isDisabled"
        (click)="userCreate.emit()"
    >
        Add new user
    </button>
</div>
