<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Google Analytics Setup Instructions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
        body {
            font-family: 'Roboto', sans-serif
        }

        img {
            margin-bottom: 2em;
        }
        </style>
    </head>
    <body>
        <div>
            <p>
                Dear manager,
            </p>
            <p>
                the instructions below will walk you through
                the simple setup process in your Google
                Analytics account to allow Zemanta access to your post-click metrics.
            </p>
            <p>
                1. Login to your Google Analytics account and select "Admin" at
                the top navigation bar
            </p>
            <p>
                <img src="https://s3.amazonaws.com/z1-static/email-images/ga1.png">
            </p>
            <p>
                2. Navigate to the Account column and select "User Management"
            </p>
            <p><img src="https://s3.amazonaws.com/z1-static/email-images/ga2.png" style="height: 295px;"></p>
            <p>
                <span style="color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);"><a href="mailto:account-1@zemanta-api.iam.gserviceaccount.com">
                <span style="font-family: 'Courier New';">account-1@zemanta-api.iam.gserviceaccount.com</span></a></span>
            </p>
            <p>
            and select "Read &amp; Analyze."
            </p>
            <p><img src="https://s3.amazonaws.com/z1-static/email-images/ga3.png"></p>
            <p>
                4. You're all done! Zemanta One can now automatically ingest your post-click
                metrics in real-time for all enabled campaigns. Should you ever
                need to delete this user simply login to your account permissions
                and select "Delete" user.
            </p>
            <p>
            Yours truly,
            </p>
            <p>
            Zemanta
            </p>
        </div>
    </body>
</html>
