@import 'variables';

.zem-publisher-groups-library-view {
    display: block;
}

.zem-publisher-groups-library-view__panel {
    margin-top: 22.5px;
}

.zem-publisher-groups-library-view__top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: @zem-form-group__items-spacing--default;
}

.zem-publisher-groups-library-view__description {
    margin-bottom: @spacing--default;
    color: @text-color--lighter;
}

.zem-publisher-groups-library-view__item:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-publisher-groups-library-view__modal .zem-buttons-panel {
    margin: 0;
}

.zem-publisher-groups-library-view__expandable-section {
    padding: @spacing--default;
}

.zem-publisher-groups-library-view__section-title {
    font-size: 17px;
    color: @color--secondary;
}
