@import 'variables';

.zem-publisher-groups-library-view {
    display: block;
}

.zem-publisher-groups-library-view__panel {
    margin-top: 22.5px;
}

.zem-publisher-groups-library-view__top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: @zem-form-group__items-spacing--default;
}

@media only screen and (min-width: 400px) {
    .zem-publisher-groups-library-view__top-bar {
        flex-direction: row;
    }
}

.zem-publisher-groups-library-view__description {
    margin-bottom: @spacing--default;
    color: @text-color--lighter;
}

.zem-publisher-groups-library-view__item:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-publisher-groups-library-view__modal .zem-buttons-panel {
    margin: 0;
}

.zem-publisher-groups-library-view__expandable-section {
    padding: @spacing--default;
}

.zem-publisher-groups-library-view__expandable-section .ag-root {
    background-color: white;
}

.zem-publisher-groups-library-view__section-title {
    font-size: 17px;
    color: @color--secondary;
}

.zem-publisher-groups-library-view__action_button {
    flex-shrink: 0;
}
