<div class="zem-grid-container__header">
    <zem-grid-container-tabs
            tabs="$ctrl.tabs"
            entity="$ctrl.entity"
            breakdown="$ctrl.breakdown"
            class="zem-grid-container-tabs"
    ></zem-grid-container-tabs>
</div>

<div class="zem-grid-container__body">
    <div ng-repeat="tab in $ctrl.tabs">
        <div ng-show="tab.selected">
            <div ng-if="tab.activated && tab.breakdown === $ctrl.constants.breakdown.INSIGHTS">
                <zem-content-insights ng-if="tab.activated" entity="$ctrl.entity"></zem-content-insights>
            </div>

            <div ng-if="tab.breakdown !== $ctrl.constants.breakdown.INSIGHTS" >
                <div ng-if="!tab.activated" class="zem-dummy-grid-container">
                    <div class="zem-dummy-grid-container__actions"></div>
                    <div class="zem-dummy-grid-container__header"></div>
                    <div class="zem-dummy-grid-container__body"></div>
                    <div class="zem-dummy-grid-container__footer"></div>
                </div>
                <div ng-if="tab.activated">
                    <zem-alerts entity="$ctrl.entity"></zem-alerts>

                    <zem-grid-container-actions ng-if="tab.grid.api.getMetaData()"
                                                entity="$ctrl.entity"
                                                breakdown="tab.breakdown"
                                                grid-api="tab.grid.api"
                                                class="zem-grid-container-actions"
                    ></zem-grid-container-actions>

                    <zem-grid data-data-source="tab.grid.dataSource"
                              options="tab.grid.options"
                              on-initialized="$ctrl.onGridInitialized(tab, api)"
                    ></zem-grid>
                </div>
            </div>
        </div>
    </div>
</div>
