zem-grid-container { display: block; }
zem-grid-container-actions { display: block; }
zem-grid-container-tabs { display: block; }

.zem-grid-container-tabs {
    // TODO: Style - only for debugging purposes
    margin-bottom: 20px;
    .tab {
        padding: 10px;
        margin-right: 10px;
        border: 1px solid gray;
        cursor: pointer;

        &--active {
            border: 1px solid orange;
        }
    }
}

.zem-grid-container-actions {

}