zem-grid-container { display: block; }
zem-grid-container-actions { display: block; }
zem-grid-container-tabs { display: block; }

.zem-grid-container {
    margin-top: 20px;
    &__header {
        margin-bottom: -1px;
    }
    &__body {
        padding: 15px;
        background: white;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    }
}

.zem-grid-container-tabs {
    // TODO: Style - only for debugging purposes
    .tab {
        background: #d7d7d7;
        font-size: 14px;
        padding: 15px;
        margin-right: 15px;
        cursor: pointer;

        &--active {
            color: @secondary-color;
            font-weight: 500;
            background: white;
            border-top: 2px solid @secondary-color;
        }
    }
}

.zem-grid-container-actions {

}