<div class="zem-grid-container__header">
    <zem-grid-container-tabs
            entity="$ctrl.entity"
            breakdown="$ctrl.breakdown"
            class="zem-grid-container-tabs"
    ></zem-grid-container-tabs>
</div>

<div class="zem-grid-container__body"
     ng-if="$ctrl.entity.type === $ctrl.constants.entityType.CAMPAIGN"
     ng-show="$ctrl.breakdown === $ctrl.constants.breakdown.INSIGHTS">
    <zem-content-insights entity="$ctrl.entity"></zem-content-insights>
</div>

<div class="zem-grid-container__body" ng-show="$ctrl.breakdown !== $ctrl.constants.breakdown.INSIGHTS">
    <zem-alerts level="$ctrl.level"
                entity-id="$ctrl.entity.id"
    ></zem-alerts>

    <zem-grid-container-actions
            entity="$ctrl.entity"
            breakdown="$ctrl.breakdown"
            grid-api="$ctrl.grid.api"
            class="zem-grid-container-actions"
    ></zem-grid-container-actions>

    <zem-grid data-data-source="$ctrl.grid.dataSource"
              options="$ctrl.grid.options"
              on-initialized="$ctrl.onGridInitialized(api)"
    ></zem-grid>
</div>
