<zem-prefixed-input
    class="zem-prefixed-input zem-prefixed-input--narrow"
    [prefix]="currencySymbol"
    [hasError]="hasError"
>
    <input
        class="zem-input-text"
        type="text"
        placeholder="{{ placeholder }}"
        [(ngModel)]="model"
        [disabled]="isDisabled"
        (paste)="onPaste($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        zemFilterKeydownEvent
        [keyFilter]="keyFilter"
        (filteredKeydown)="onKeydown($event)"
    />
</zem-prefixed-input>
