@import 'variables';

.zem-geo-targeting {
    display: block;
}

.zem-geo-targeting__title {
    font-size: 15px;
}

.zem-geo-targeting__title--included {
    color: @color--success;
}

.zem-geo-targeting__title--excluded {
    color: @color--danger;
}

.zem-geo-targeting__item {
    display: block;
    margin-top: @zem-form-group__items-spacing--default;
}

.zem-geo-targeting__add-excluded {
    margin-top: @spacing--default;
}

.zem-geo-targeting__list:last-child {
    margin-top: @zem-form-group__items-spacing--default;
}

.zem-geo-targeting__list-item {
    display: flex;
    align-items: center;
}

.zem-geo-targeting__list-item--search {
    margin: 0;
}

.zem-geo-targeting__link {
    display: block;
    margin: 3px 3px 3px @spacing--small;
    color: @color--secondary;

    &:hover {
        color: @color--secondary;
    }
}
