<div *ngIf="hasNoTargeting">Location targeting is set to Worldwide.</div>
<div class="zem-geo-targeting__item zem-geo-targeting__list-container">
    <zem-select-list
        class="zem-select-list zem-geo-targeting__list"
        [selectedItems]="includedLocations"
        [availableItems]="searchedLocations"
        [selectBindValue]="'key'"
        [selectBindLabel]="'name'"
        [selectPlaceholder]="'Add location'"
        [selectIsDisabled]="isDisabled"
        [selectGroupByValue]="'type'"
        [selectIsLoading]="isIncludedLocationSearchLoading"
        [groupByValue]="'type'"
        [itemListLimitByGroup]="includedItemListLimit"
        (itemSelect)="onAddIncludedGeotargeting($event)"
        (search)="onLocationSearch($event, includeExcludeType.INCLUDE)"
        (open)="locationOpen.emit()"
    >
        <ng-template #headerTemplate>
            <div
                class="zem-geo-targeting__title zem-geo-targeting__title--included"
            >
                Included Locations
            </div>
        </ng-template>
        <ng-template #selectItemTemplate let-item="item" let-search="search">
            <zem-geo-targeting-location
                class="zem-geo-targeting-location zem-geo-targeting__list-item zem-geo-targeting__list-item--search"
                [location]="item"
                [highlightText]="search"
                [canRemoveLocation]="false"
            ></zem-geo-targeting-location>
        </ng-template>
        <ng-template #selectGroupTitleTemplate let-group="group">
            {{ geolocationTypeNames[group] }}
        </ng-template>
        <ng-template #itemGroupTitleTemplate let-group="group">
            {{ geolocationTypeNames[group] }}
        </ng-template>
        <ng-template #itemTemplate let-item="item">
            <zem-geo-targeting-location
                class="zem-geo-targeting-location zem-geo-targeting__list-item"
                [location]="item"
                [canRemoveLocation]="!isDisabled"
                (removeLocation)="onRemoveIncludedGeotargeting($event)"
            ></zem-geo-targeting-location>
        </ng-template>
        <ng-template
            #itemGroupFooterTemplate
            let-group="group"
            let-items="items"
        >
            <div
                *ngIf="
                    includedItemListLimit[group] &&
                    items.length > includedItemListLimit[group]
                "
                class="zem-geo-targeting__list-item"
            >
                <a
                    class="zem-geo-targeting__link"
                    (click)="onShowAll(includeExcludeType.INCLUDE, group)"
                >
                    Show all ({{ items.length }})
                </a>
            </div>
        </ng-template>
    </zem-select-list>
    <zem-select-list
        *ngIf="isExcludedVisible"
        class="zem-select-list zem-geo-targeting__list"
        [selectedItems]="excludedLocations"
        [availableItems]="searchedLocations"
        [selectBindValue]="'key'"
        [selectBindLabel]="'name'"
        [selectPlaceholder]="'Add location'"
        [selectIsDisabled]="isDisabled"
        [selectGroupByValue]="'type'"
        [selectIsLoading]="isExcludedLocationSearchLoading"
        [groupByValue]="'type'"
        [itemListLimitByGroup]="excludedItemListLimit"
        (itemSelect)="onAddExcludedGeotargeting($event)"
        (search)="onLocationSearch($event, includeExcludeType.EXCLUDE)"
        (open)="locationOpen.emit()"
    >
        <ng-template #headerTemplate>
            <div
                class="zem-geo-targeting__title zem-geo-targeting__title--excluded"
            >
                Excluded Locations
            </div>
        </ng-template>
        <ng-template #selectItemTemplate let-item="item" let-search="search">
            <zem-geo-targeting-location
                class="zem-geo-targeting-location zem-geo-targeting__list-item zem-geo-targeting__list-item--search"
                [location]="item"
                [highlightText]="search"
                [canRemoveLocation]="false"
            ></zem-geo-targeting-location>
        </ng-template>
        <ng-template #selectGroupTitleTemplate let-group="group">
            {{ geolocationTypeNames[group] }}
        </ng-template>
        <ng-template #itemGroupTitleTemplate let-group="group">
            {{ geolocationTypeNames[group] }}
        </ng-template>
        <ng-template #itemTemplate let-item="item">
            <zem-geo-targeting-location
                class="zem-geo-targeting-location zem-geo-targeting__list-item"
                [location]="item"
                [canRemoveLocation]="!isDisabled"
                (removeLocation)="onRemoveExcludedGeotargeting($event)"
            ></zem-geo-targeting-location>
        </ng-template>
        <ng-template
            #itemGroupFooterTemplate
            let-group="group"
            let-items="items"
        >
            <div
                *ngIf="
                    excludedItemListLimit[group] &&
                    items.length > excludedItemListLimit[group]
                "
                class="zem-geo-targeting__list-item"
            >
                <a
                    class="zem-geo-targeting__link"
                    (click)="onShowAll(includeExcludeType.EXCLUDE, group)"
                >
                    Show all ({{ items.length }})
                </a>
            </div>
        </ng-template>
    </zem-select-list>
</div>
<div class="zem-geo-targeting__item zem-geo-targeting__add-excluded">
    <a
        class="zem-geo-targeting__link"
        *ngIf="!isExcludedVisible && !isDisabled"
        (click)="isExcludedVisible = true"
        >Add excluded list</a
    >
</div>
<div
    *ngIf="hasDifferentLocationTypes"
    class="zem-geo-targeting__item zem-message zem-message--bubble zem-message--warning zem-message--with-icon"
>
    You are using different geographical features (city, country, ...). Note
    that if for example both the country United States and the city of New York
    are included, the whole US will be targeted.
</div>
