@import 'variables';

.zem-creative-tags-cell {
    display: flex;
    align-items: center;
    height: 100%;
}

.zem-creative-tags-cell__tag {
    display: inline-block;
    border-radius: @border-radius--default;
    padding: 2px 6px;
    margin: 2px;
    text-transform: uppercase;
    font-size: @font-size--small;
}
