<div class="zem-custom-audiences-modal">
    <div class="modal-header">
        <h4 class="modal-title">Create Custom Audience</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group" ng-class="{'has-error': !!ctrl.errors.name}">
            <label for="zem-custom-audiences-modal-name" class="col-xs-4 control-label">
                Audience Name
            </label>
            <div class="col-xs-8">
                <input type="text" id="zem-custom-audiences-modal-name" class="form-control" ng-model="ctrl.selectedName" ng-change="ctrl.removeError('name')" placeholder="Audience Name" />
                <label ng-repeat="error in ctrl.errors.name" class="control-label error">{{ error }}</label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !!ctrl.errors.pixelId}">
             <label for="zem-custom-audience-modal-pixie-select" class="col-xs-4 control-label">
                Pixel
                <zem-help-popover content="The pixel that is the source of this traffic." placement="bottom"><span class="help-popover" zem-lazy-popover-html-unsafe="Pixel's name" zem-lazy-popover-placement="bottom" zem-lazy-popover-append-to-body="true" zem-lazy-popover-animation-class="fade"></span></zem-help-popover>
            </label>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="ctrl.pixel.name" ng-readonly="true" />
                <label ng-repeat="error in ctrl.errors.pixelId" class="control-label error">{{ error }}</label>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': !!ctrl.errors.rules}">
            <label for="zem-custom-audience-modal-rule-select" class="col-xs-4 control-label">
                Website traffic
                <zem-help-popover content="Choose how you want to add people to your audience. Include all of your website visitors, or create rules that only add people who visit specific parts of your website." placement="bottom"><span class="help-popover" zem-lazy-popover-html-unsafe="Pixel's name" zem-lazy-popover-placement="bottom" zem-lazy-popover-append-to-body="true" zem-lazy-popover-animation-class="fade"></span></zem-help-popover>
            </label>
            <div class="col-xs-8">
                <ui-select theme="select2" search-enabled="false" id="zem-custom-audience-modal-rule-select" class="form-control" ng-model="ctrl.selectedTopRuleId" ng-disabled="ctrl.readonly" ng-change="ctrl.removeError('rules')">
                    <ui-select-match placeholder="Select Criteria">{{ $select.selected.name }}</ui-select-match>
                    <ui-select-choices repeat="rule.id as rule in ctrl.rules">
                        {{ rule.name }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div ng-if="ctrl.showRefererRules()">
                <label class="col-xs-4 control-label"></label>
                <div class="col-xs-8">
                    <div class="row m-b-s">
                        <label class="control-label m-t-s m-b-xs">Include people who visit any web page that meets the following rules:</label>
                        <div class="col-xs-4 p-l-none p-r-none">
                            <ui-select theme="select2" search-enabled="false" id="zem-custom-audience-modal-referer-rule-select" class="form-control" ng-model="ctrl.selectedRefererRuleId" ng-disabled="ctrl.readonly" ng-change="ctrl.removeError('rules')">
                                <ui-select-match placeholder="Select Criteria">{{ $select.selected.name }}</ui-select-match>
                                <ui-select-choices repeat="rule.id as rule in ctrl.refererRules">
                                    {{ rule.name }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row m-b-xs">
                        <div class="col-xs-12 p-r-none p-l-none">
                            <tags-input ng-show="ctrl.selectedRefererRuleId=='startsWith'" placeholder="Add URLs" ng-model="ctrl.selectedRefererRuleStartsWithValue" ng-readonly="ctrl.readonly" on-tag-added="ctrl.removeError('rules')" on-tag-removed="ctrl.removeError('rules')" ng-disabled="ctrl.readonly" min-length="1"></tags-input>
                            <tags-input ng-show="ctrl.selectedRefererRuleId=='contains'" placeholder="Add tags" ng-model="ctrl.selectedRefererRuleContainsValue" ng-readonly="ctrl.readonly" on-tag-added="ctrl.removeError('rules')" on-tag-removed="ctrl.removeError('rules')" ng-disabled="ctrl.readonly" min-length="1"></tags-input>
                            <div class="description small m-t-xs m-b-none" ng-show="ctrl.selectedRefererRuleId=='startsWith'">Confirm URL with ENTER or delete previously added URL with double BACKSPACE or by clicking X.</div>
                            <div class="description small m-t-xs m-b-none" ng-show="ctrl.selectedRefererRuleId=='contains'">Confirm tag with ENTER or delete previously added tag with double BACKSPACE or by clicking X.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-4 col-xs-8 p-r-none">
                    <label ng-repeat="error in ctrl.errors.rules" class="control-label error">{{ error }}</label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !!ctrl.errors.ttl}">
            <label for="zem-custom-audience-modal-rule-select" class="col-xs-4 control-label">
                In the last
                <zem-help-popover content="<p class='m-b-s'>The number of days people will remain in your audience after they've visited your website. People will be removed from your audience after the set time period, unless they visit your website again.</p><p><strong>Maximum time:</strong> 365 days.</p>" placement="bottom"><span class="help-popover" zem-lazy-popover-html-unsafe="Pixel's name" zem-lazy-popover-placement="bottom" zem-lazy-popover-append-to-body="true" zem-lazy-popover-animation-class="fade"></span></zem-help-popover>
            </label>
            <div class="col-xs-3">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="ctrl.selectedTtl" placeholder="Enter Days" ng-change="ctrl.removeError('ttl')"/>
                    <span class="input-group-addon" id="basic-addon2">days</span>
                </div>
                
                <label ng-repeat="error in ctrl.errors.ttl" class="control-label error">{{ error }}</label>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-gray" ng-if="ctrl.readonly" ng-click="ctrl.modalInstance.dismiss()">Close</button>
        <a class="create-button btn btn-add" ng-if="ctrl.readonly" ng-click="ctrl.updateAudience()">
            <span class="loader-image" ng-show="ctrl.putRequestInProgress"></span><span ng-show="!ctrl.putRequestInProgress">Update Audience</span>
        </a>
        <button type="button" class="btn btn-gray" ng-if="!ctrl.readonly" ng-click="ctrl.modalInstance.dismiss()">Cancel</button>
        <a class="create-button btn btn-add" ng-if="!ctrl.readonly" ng-click="ctrl.createAudience()">
            <span class="loader-image" ng-show="ctrl.postRequestInProgress"></span><span ng-show="!ctrl.postRequestInProgress">Create Audience</span>
        </a>
    </div>
</div>
