@import 'variables';

.zem-rules-view {
    display: block;
}

.zem-rules-view__panel {
    margin-top: 22.5px;
}

.zem-rules-view__item:not(:last-child) {
    margin-bottom: @spacing--small;
}

.zem-rules-view__modal .zem-modal__content-container {
    max-width: 720px;
}

.zem-rules-view__modal .zem-buttons-panel {
    margin: 0;
}
