<h1 class="zem-main-container__view-title">Automation rules</h1>

<ng-container *ngIf="store.state$ | async as state">
    <div class="zem-panel zem-panel--with-padding zem-rules-view__panel">
        <zem-rules-actions
            class="zem-rules-actions zem-rules-view__item"
            [value]="keyword"
            [isReadOnly]="isReadOnly"
            [isDisabled]="!state.agencyId"
            (search)="searchRules($event)"
            (ruleCreate)="openEditRuleModal({})"
        >
        </zem-rules-actions>
        <zem-rules-grid
            class="zem-rules-grid"
            [rules]="state.entities"
            [context]="context"
            [isLoading]="state.requests.list.inProgress"
            [paginationOptions]="paginationOptions"
            [paginationCount]="state.requests.list.count"
            (paginationChange)="onPaginationChange($event)"
        ></zem-rules-grid>
    </div>

    <zem-modal
        #editRuleModal
        class="zem-modal zem-rules-view__modal"
        [canCloseOnBackdropClick]="false"
        [canCloseOnEscapeKey]="true"
        (onClose)="closeEditRuleModal()"
    >
        <ng-container *ngIf="editRuleModal.isOpen">
            <div class="zem-modal__header">
                <div class="zem-modal__title">
                    {{
                        !state.activeEntity.entity.id
                            ? 'Add new rule'
                            : 'Edit rule'
                    }}
                </div>
            </div>
            <div class="zem-modal__body">
                <zem-rule-edit-form
                    class="zem-rule-edit-form"
                    [agencyId]="state.agencyId"
                    [accountId]="state.accountId"
                    [rule]="state.activeEntity.entity"
                    (componentReady)="onRuleEditFormReady($event)"
                >
                </zem-rule-edit-form>
            </div>
            <div class="zem-modal__footer zem-buttons-panel">
                <zem-button
                    class="zem-button"
                    [isHighlighted]="true"
                    [isLoading]="isRuleSaveInProgress"
                    [isDisabled]="
                        isRuleSaveInProgress || state.activeEntity.isReadOnly
                    "
                    [icon]="'check'"
                    (click)="saveRule()"
                >
                    Save
                </zem-button>
                <zem-button
                    class="zem-button"
                    [isOutlined]="true"
                    [isDisabled]="isRuleSaveInProgress"
                    (click)="editRuleModal.close()"
                >
                    Cancel
                </zem-button>
            </div>
        </ng-container>
    </zem-modal>
</ng-container>
