<div class="modal__header">
    <div class="modal__title" ng-if="$ctrl.isCreationMode">
        Create Publisher Group
    </div>
    <div class="modal__title" ng-if="!$ctrl.isCreationMode">
        Update Publisher Group
    </div>
</div>
<div class="modal__body">
    <div class="form">
        <div class="form__group" ng-class="{'form--error': $ctrl.errors.name}">
            <label class="form__label" for="zem-publisher-group-modal-name"
                >Publisher group name:</label
            >
            <input
                class="input-text"
                type="text"
                id="zem-publisher-group-modal-name"
                ng-model="$ctrl.formData.name"
                ng-change="$ctrl.clearValidationError('name')"
            />
            <div
                class="message message--error"
                ng-repeat="error in $ctrl.errors.name"
            >
                {{ error }}
            </div>
        </div>

        <div class="form__indented-group">
            <div class="form__checkbox">
                <label>
                    <input
                        class="input-checkbox"
                        type="checkbox"
                        ng-model="$ctrl.formData.include_subdomains"
                        ng-change="$ctrl.clearValidationError('include_subdomains')"
                    />
                    <span class="checkbox-text">Include subdomains</span>
                </label>
            </div>

            <div
                class="message message--help message--with-icon"
                ng-show="$ctrl.formData.include_subdomains"
            >
                The domains should be listed without prefixes http://, https://
                or www.
            </div>
        </div>

        <div
            class="form__group form__group--choose-file"
            ng-class="{'form--error': !!$ctrl.errors.file}"
        >
            <label class="form__label" for="file-input"
                >CSV file with publishers:</label
            >
            <zem-file-input
                zem-file-input-change="$ctrl.fileUploadCallback(file)"
                zem-file-input-accept=".csv"
            >
                <button
                    type="button"
                    class="button button--with-icon folder-icon"
                    ng-click="$ctrl.clearValidationError('entries')"
                    zem-file-input-trigger
                >
                    Choose file
                </button>
                <input
                    class="input-text file-choosen"
                    type="text"
                    id="file-input"
                    readonly
                    ng-model="$ctrl.formData.file.name"
                    placeholder="No file chosen"
                />
            </zem-file-input>

            <div
                class="message message--error"
                ng-repeat="error in $ctrl.errors.entries"
            >
                {{ error }}
            </div>
            <div
                class="message message--error"
                ng-if="$ctrl.errors.errors_csv_key"
                for="file-input"
            >
                <p>There were some errors in the attached file.</p>
                <a ng-click="$ctrl.downloadErrors()">Download the report</a>
            </div>

            <div class="message message--help message--with-icon">
                <p>
                    If you have trouble with the file structure, you can
                    download our example file and start from there.
                </p>
                <a ng-click="$ctrl.downloadExample()"
                    >Download CSV example file</a
                ><br />
            </div>
        </div>
    </div>
</div>
<div class="modal__footer buttons-panel">
    <button
        class="button button--highlight button--with-icon check-icon"
        ng-disabled="!!$ctrl.putRequestInProgress"
        ng-if="!$ctrl.isCreationMode"
        ng-click="$ctrl.upsert()"
    >
        Update
    </button>
    <button
        class="button button--highlight button--with-icon check-icon"
        ng-disabled="!!$ctrl.putRequestInProgress"
        ng-if="$ctrl.isCreationMode"
        ng-click="$ctrl.upsert()"
    >
        Create
    </button>
    <button
        type="button"
        class="button button--outline"
        ng-disabled="!!$ctrl.putRequestInProgress"
        ng-if="!$ctrl.isCreationMode"
        ng-click="$ctrl.modalInstance.dismiss()"
    >
        Close
    </button>
    <button
        type="button"
        class="button button--outline"
        ng-disabled="!!$ctrl.putRequestInProgress"
        ng-if="$ctrl.isCreationMode"
        ng-click="$ctrl.modalInstance.dismiss()"
    >
        Cancel
    </button>
    <div class="loader" ng-show="$ctrl.putRequestInProgress"></div>
</div>
