<div class="content-upload__ads-container custom-scroller">
    <table class="custom-table content-upload__ads-table">
        <tr
            ng-repeat="candidate in $ctrl.candidates track by $index"
            ng-class="{'content-upload__selected-ad': candidate.id === $ctrl.editFormApi.selectedId}"
            ng-click="$ctrl.toggleEditForm(candidate, $event)"
        >
            <td
                class="content-upload__ad-status"
                ng-class="{
                'content-upload__ad-status--ok': $ctrl.isCandidateStatusOk(candidate),
                'content-upload__ad-status--error': $ctrl.isCandidateStatusError(candidate)
            }"
            >
                <zem-loader
                    class="zem-loader zem-loader--smaller"
                    ng-if="$ctrl.isCandidateStatusLoading(candidate)"
                ></zem-loader>
            </td>
            <td class="content-upload__ad-image-container">
                <img
                    class="content-upload__ad-image"
                    ng-show="candidate.hostedImageUrl"
                    ng-src="{{ candidate.hostedImageUrl }}"
                />
            </td>
            <td class="content-upload__ad-size" ng-if="$ctrl.showDisplayUpload">
                {{ $ctrl.getAdSize(candidate) }}
            </td>
            <td class="content-upload__ad-title">
                <div class="content-upload__ad-title--two-lines">
                    <div>
                        {{ candidate.title }}
                        <span ng-if="!candidate.title"
                            >{{ $ctrl.titlePlaceholder }} #{{
                                $index + 1
                            }}</span
                        >
                    </div>
                </div>
            </td>
            <td class="content-upload__ad-link">{{ candidate.url }}</td>
            <td class="content-upload__ad-error-container">
                <div
                    ng-if="$ctrl.getContentErrorsMsg(candidate)"
                    class="content-upload__ad-error content-upload__ad-error--content"
                >
                    {{ $ctrl.getContentErrorsMsg(candidate) }}
                </div>
                <div
                    ng-if="$ctrl.getImageErrorsMsg(candidate)"
                    class="content-upload__ad-error content-upload__ad-error--image"
                >
                    {{ $ctrl.getImageErrorsMsg(candidate) }}
                </div>
            </td>
            <td class="buttons-panel content-upload__ad-action-buttons">
                <div
                    class="message message--error"
                    ng-if="candidate.removeRequestFailed"
                >
                    Something went wrong. Please try again.
                </div>
                <zem-loader
                    class="zem-loader zem-loader--small zem-loader--inline"
                    ng-if="candidate.removeRequestInProgress"
                ></zem-loader>
                <a
                    href
                    ng-click="$ctrl.toggleEditForm(candidate, $event)"
                    class="button button--small button--with-icon edit-icon"
                    ng-disabled="candidate.removeRequestInProgress"
                    >Edit</a
                >
                <a
                    href
                    ng-click="$ctrl.removeCandidate(candidate, $event)"
                    class="button button--small button--with-icon remove-icon"
                    ng-disabled="candidate.removeRequestInProgress"
                    ng-if="!$ctrl.isEdit"
                    >Remove</a
                >
            </td>
        </tr>
    </table>

    <div class="buttons-panel content-upload__buttons-panel">
        <button
            type="button"
            class="button button--highlight button--with-icon add-icon"
            ng-click="$ctrl.addCandidate()"
            ng-disabled="$ctrl.addCandidateRequestInProgress"
            ng-if="!$ctrl.isEdit"
        >
            Add new creative
        </button>
        <button
            type="button"
            class="button button--with-icon download-icon"
            ng-click="$ctrl.download()"
        >
            Download Ads Snapshot
        </button>
        <zem-loader
            class="zem-loader zem-loader--small"
            ng-if="$ctrl.addCandidateRequestInProgress"
        ></zem-loader>
        <div
            class="message message--error"
            ng-if="$ctrl.addCandidateRequestFailed"
        >
            Something went wrong. Please try again.
        </div>
    </div>
</div>

<zem-upload-edit-form
    endpoint="$ctrl.endpoint"
    api="$ctrl.editFormApi"
    update-callback="$ctrl.updateCandidateCallback"
    refresh-callback="$ctrl.refreshCandidatesCallback"
    start-polling-video-asset-status="$ctrl.startPollingVideoAssetStatus"
    batch-id="$ctrl.batchId"
    is-edit="$ctrl.isEdit"
    is-edit-loading="$ctrl.adPickerApi.getWaitingCandidateIds().length"
    show-video-upload="$ctrl.showVideoUpload"
    show-display-upload="$ctrl.showDisplayUpload"
>
</zem-upload-edit-form>
