@import 'variables';

.zem-campaign-launcher-objectives {
    .zem-campaign-launcher-objectives__objective {
        display: block;
        width: 24%;
        float: left;
        margin-right: 1.33333%;
        position: relative;
        height: 180px;
        padding: 80px 10px 20px 10px;
        text-align: center;

        &::before {
            content: " ";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            left: 50%;
            top: 20px;
            margin-left: -20px;
            background: center center no-repeat;
        }

        strong {
            display: block;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
        }

        span {
            display: block;
            font-size: @default-font-size;
            line-height: @default-font-size+4;
            font-weight: normal;
            margin-top: 5px;
        }
    }

    .zem-campaign-launcher-objectives__objective--content::before {
        background-image: url('@{images-folder}/campaign-launcher-content-sec.svg');
    }

    .zem-campaign-launcher-objectives__objective--video::before {
        background-image: url('@{images-folder}/campaign-launcher-video-sec.svg');
    }

    .zem-campaign-launcher-objectives__objective--conversion-marketing::before {
        background-image: url('@{images-folder}/campaign-launcher-conversion-sec.svg');
    }

    .zem-campaign-launcher-objectives__objective--mobile-app {
        margin-right: 0;
    }

    .zem-campaign-launcher-objectives__objective--mobile-app::before {
        background-image: url('@{images-folder}/campaign-launcher-mobile-app-sec.svg');
    }
}

