<div class="clearfix">
    <button class="zem-campaign-launcher-objectives__objective zem-campaign-launcher-objectives__objective--content button button--outline"
            ng-click="$ctrl.selectObjective({objective: $ctrl.campaignObjective.CONTENT_DISTRIBUTION})">
        <strong>Native Content Distribution</strong>
        <span>Drive visits to your site, blog posts or media reports and optimize for on-site engagement metrics.</span>
    </button>
    <button class="zem-campaign-launcher-objectives__objective zem-campaign-launcher-objectives__objective--video button button--outline"
            ng-click="$ctrl.selectObjective({objective: $ctrl.campaignObjective.VIDEO_ADVERTISING})">
        <strong>Native Video Advertising</strong>
        <span>Get people to watch your videos. Optimize for CPV, CPCV or other, video related objectives.</span>
    </button>
    <button class="zem-campaign-launcher-objectives__objective zem-campaign-launcher-objectives__objective--ecommerce button button--outline"
            ng-click="$ctrl.selectObjective({objective: $ctrl.campaignObjective.ECOMMERCE_ADVERTISING})">
        <strong>Native E-Commerce Advertising</strong>
        <span>Promote your products and optimize for ROAS that is based on the value of your products and the cost of advertising.</span>
    </button>
    <button class="zem-campaign-launcher-objectives__objective zem-campaign-launcher-objectives__objective--performance-marketing button button--outline"
            ng-click="$ctrl.selectObjective({objective: $ctrl.campaignObjective.PERFORMANCE_MARKETING})">
        <strong>Native Perfomance Marketing</strong>
        <span>Get more people to signup for your product and optimize for CPA.</span>
    </button>
    <button class="zem-campaign-launcher-objectives__objective zem-campaign-launcher-objectives__objective--mobile-app button button--outline"
            ng-click="$ctrl.selectObjective({objective: $ctrl.campaignObjective.MOBILE_APP_ADVERTISING})">
        <strong>Native Mobile App Advertising</strong>
        <span>Drive app installs and optimize for CPI or arbitrary post-install event.</span>
    </button>
</div>
